:root:root {
  --background-primary: #262335;
  --background-secondary: #241b2f;
  --background-primary-alt: #241734;
  --background-secondary-alt: #241b2f;
  --text-accent: #ff1690;
  --text-accent-hover: #7a6ae6;
  --text-normal: #d4f5ff;
  --text-muted: #8be9fd;
  --text-faint: #bd93f9;
  --interactive-normal: #bd93f9;
  --interactive-hover: #ff00ff;
  --interactive-accent: #5900ff;
  --interactive-accent-hover: #ff00ff;
  --background-accent: #000;
  --background-modifier-border: #fd8bfd;
  --text-highlight-bg: #ffd319;

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
