:root {
  --default-font: Catamaran, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-editor: Catamaran SSm, Helvetica Neue, Helvetica, Arial, sans-serif;
  --discord-green: hsla(153, 46%, 49%, 1);
  --discord-yellow: hsla(38, 96%, 54%, 1);
  --discord-yellow-alt: hsla(37, 65%, 63%, 1);
  --discord-yellow-light: hsla(50, 42%, 48%, 1);
  --discord-yellow-bg: hsla(38, 96%, 54%, 0.1);
  --discord-orange: hsla(20, 84%, 52%, 1);
  --discord-orange-light: hsla(24, 90%, 61%, 1);
  --discord-red: hsla(0, 85%, 61%, 1);
  --discord-red-hover: hsla(0, 66%, 55%, 1);
  --discord-blue: hsla(227, 58%, 65%, 1);
  --discord-blue-hover: hsla(227, 44%, 59%, 1);
  --discord-grey: hsla(214, 10%, 50%, 1);
  --discord-grey-hover: hsla(214, 10%, 45%, 1);
  --discord-grey-toggle: hsla(218, 5%, 47%, 1);
  --discord-dark: hsla(216, 7%, 14%, 1);
  --discord-dark-hover: hsla(216, 7%, 14%, 0.7);
  --elevation-stroke: 0 1px 0 1px hsla(240, 11%, 2%, 0.1);
  --elevation-medium: 0 4px 4px hsla(0, 0%, 0%, 0.16);
  --elevation-high: 0 8px 16px hsla(0, 0%, 0%, 0.24);
  --readable-line-length: 45rem;
  --font-size-notes: 0.875rem;
  --font-size-file-explorer: 0.875rem;
  --letter-spacing-notes: -0.2px;
}

body {
}
