:root[saved-theme="dark"] {
  --accent-h: 0;
  --accent-s: 0%;
  --accent-l: 100%;
  --text-on-accent: black;
  --slider-track-background: white;
  --slider-thumb-border-color: black;
  --toggle-thumb-color: black;
  --background-primary: rgb(10, 10, 10);
  --background-secondary: rgb(10, 10, 10);
  --background-primary-alt: rgb(10, 10, 10);
  --background-secondary-alt: rgb(10, 10, 10);
  --background-modifier-hover: rgb(10, 10, 10);
  --background-modifier-border: rgb(10, 10, 10);
  --text-normal: rgb(212, 212, 212);
  --h1-color: rgb(255, 255, 255);
  --h2-color: rgb(255, 255, 255);
  --h3-color: rgb(255, 255, 255);
  --h4-color: rgb(255, 255, 255);
  --h5-color: rgb(255, 255, 255);
  --h6-color: rgb(255, 255, 255);
  --bold-color: rgb(255, 255, 255);
  --code-normal: rgb(255, 255, 255);
  --code-background: #101010;
  --hr-color: #353533;
  --text-muted: rgb(163, 163, 163);
  --font-text-theme: Geist;
  --font-interface-theme: Inter;
  --line-height-normal: 1.75;
  --p-spacing: 2.25rem;
  --list-marker-color: #d4d4d4;
  --h1-size: 1.875rem;
  --h1-line-height: 2.25rem;
  --h2-size: 1.5em;
  --h2-line-height: 1.3333333;
  --h3-size: 1.25em;
  --h3-line-height: 1.6;
  --font-monospace-theme: Geist Mono;
  --h1-weight: 500;
  --h2-weight: 500;
  --he-weight: 500;
  --text-selection: #007bcf;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
