:root[saved-theme="light"] {
  --accent-h: 240;
  --accent-s: 2%;
  --accent-l: 12%;
  --slider-track-background: black;
  --slider-thumb-border-color: black;
  --background-primary: rgb(245, 245, 245);
  --background-secondary: rgb(245, 245, 245);
  --background-primary-alt: rgb(245, 245, 245);
  --background-secondary-alt: rgb(245, 245, 245);
  --background-modifier-hover: rgb(245, 245, 245);
  --background-modifier-border: rgb(245, 245, 245);
  --text-normal: rgb(0, 0, 0);
  --code-normal: rgb(0, 0, 0);
  --code-background: #ffffff;
  --hr-color: #353533;
  --text-muted: rgb(163, 163, 163);
  --font-text-theme: Geist;
  --font-interface-theme: Inter;
  --line-height-normal: 1.75;
  --p-spacing: 2.25rem;
  --list-marker-color: #d4d4d4;
  --h1-size: 1.875rem;
  --h1-line-height: 2.25rem;
  --h2-size: 1.5em;
  --h2-line-height: 1.3333333;
  --h3-size: 1.25em;
  --h3-line-height: 1.6;
  --font-monospace-theme: Geist Mono;
  --h1-weight: 500;
  --h2-weight: 500;
  --he-weight: 500;
  --text-selection: #007bcf;
  --link-color: #000000;
  --link-external-color: #000000;

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
