:root {
}

body {
  --dark-castle-palette-black: #000000;
  --dark-castle-palette-black-02: #1a1a1a;
  --dark-castle-palette-dark-gray: #292929;
  --dark-castle-palette-dark-gray-02: #333333;
  --dark-castle-palette-gray: #575757;
  --dark-castle-palette-light-gray: #9c9c9c;
  --dark-castle-palette-white: #ffffff;
  --dark-castle-palette-light-red: #ef6b73;
  --dark-castle-palette-light-orange: #ff8040;
  --dark-castle-palette-light-yellow: #ffd580;
  --dark-castle-palette-light-green: #bae67e;
  --dark-castle-palette-light-blue: #4dbced;
  --dark-castle-palette-light-purple: #d8bfd8;
  --dark-castle-palette-red: #ff000f;
  --dark-castle-palette-orange: #ff5503;
  --dark-castle-palette-yellow: #dfc200;
  --dark-castle-palette-green: #08d220;
  --dark-castle-palette-blue: #4164ff;
  --dark-castle-palette-purple: #9354ff;
  --dark-castle-palette-pink: #ff3399;
  --dark-castle-palette-dark-red: #aa0000;
  --dark-castle-palette-dark-yellow: #ddab13;
  --dark-castle-palette-dark-green: #0d8501;
  --dark-castle-palette-dark-teal: #007b88;
  --dark-castle-palette-dark-blue: #2d449b;
  --dark-castle-palette-dark-purple: #aa1b86;
  --dark-castle-accent-h: 40;
  --dark-castle-accent-s: 100%;
  --dark-castle-accent-l: 70%;
  --dark-castle-accent: var(--dark-castle-palette-light-orange);
  --dark-castle-text-faint: var(--dark-castle-palette-light-orange);
  --dark-castle-text-muted: var(--dark-castle-palette-light-gray);
  --dark-castle-code-variable: var(--dark-castle-palette-green);
  --dark-castle-code-function: var(--dark-castle-palette-orange);
  --dark-castle-code-operator: var(--dark-castle-accent);
  --dark-castle-code-error: var(--dark-castle-accent);
  --dark-castle-code-keyword: var(--dark-castle-palette-dark-purple);
  --dark-castle-text-normal: var(--dark-castle-palette-light-gray);
  --color-base-00: var(--dark-castle-palette-black);
  --color-base-05: var(--dark-castle-palette-black-02-mix);
  --color-base-10: var(--dark-castle-palette-black);
  --color-base-20: var(--dark-castle-palette-black-03-mix);
  --color-base-25: var(--dark-castle-palette-dark-gray);
  --color-base-30: var(--dark-castle-palette-dark-gray-04-mix);
  --color-base-35: var(--dark-castle-palette-light-gray);
  --color-base-40: var(--dark-castle-palette-light-gray-05-mix);
  --color-base-50: var(--dark-castle-palette-light-gray);
  --color-base-60: var(--dark-castle-palette-light-gray);
  --color-base-70: var(--dark-castle-base-grey-mix);
  --color-base-100: var(--dark-castle-palette-light-gray);
  --accent-h: var(--dark-castle-accent-h);
  --accent-s: var(--dark-castle-accent-s);
  --accent-l: var(--dark-castle-accent-l);
  --color-red: var(--dark-castle-palette-red);
  --color-red-rgb: 239, 107, 115;
  --color-orange: var(--dark-castle-palette-orange);
  --color-orange-rgb: 255, 174, 87;
  --color-yellow: var(--dark-castle-palette-light-yellow);
  --color-yellow-rgb: 255, 204, 102;
  --color-green: var(--dark-castle-palette-green);
  --color-green-rgb: 186, 230, 126;
  --color-cyan: var(--dark-castle-palette-light-blue);
  --color-cyan-rgb: 92, 207, 230;
  --color-blue: var(--dark-castle-palette-light-blue);
  --color-blue-rgb: 112, 153, 219;
  --color-purple: var(--dark-castle-accent);
  --color-purple-rgb: 195, 166, 255;
  --color-pink: var(--dark-castle-palette-light-red);
  --color-pink-rgb: 249, 207, 242;
  --background-primary: var(--dark-castle-palette-black);
  --background-primary-alt: var(--dark-castle-palette-dark-gray);
  --background-secondary: var(--dark-castle-palette-black);
  --background-secondary-alt: var(--dark-castle-palette-black);
  --background-modifier-hover: var(--dark-castle-palette-dark-gray);
  --background-modifier-active-hover: var(--dark-castle-palette-dark-gray);
  --background-modifier-border: var(--dark-castle-palette-dark-gray);
  --background-modifier-border-hover: var(--dark-castle-accent);
  --background-modifier-border-focus: var(--dark-castle-palette-light-gray);
  --background-modifier-message: var(--dark-castle-palette-black-03-mix);
  --interactive-normal: color-mix(in hsl shorter hue, var(--background-primary) 75%, transparent);
  --interactive-hover: var(--background-primary);
  --interactive-accent: var(--dark-castle-accent);
  --interactive-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --text-normal: var(--dark-castle-palette-light-yellow);
  --text-muted: var(--dark-castle-palette-light-gray);
  --text-faint: var(--dark-castle-text-faint);
  --text-on-accent: var(--dark-castle-palette-dark-gray);
  --text-error: var(--dark-castle-palette-light-red);
  --text-warning: var(--dark-castle-palette-light-yellow);
  --text-success: var(--dark-castle-palette-light-green);
  --text-accent: var(--dark-castle-accent);
  --text-accent-hover: var(--dark-castle-accent-hover);
  --text-selection: var(--dark-castle-accent-hover);
  --text-highlight-bg: var(--dark-castle-palette-dark-gray);
  --icon-stroke: 2px;
  --icon-color-active: var(--dark-castle-palette-light-yellow);
  --icon-color-focused: var(--dark-castle-palette-light-yellow);
  --clickable-icon-radius: 0;
  --radius-s: 2px;
  --radius-m: 4px;
  --radius-l: 6px;
  --radius-xl: 8px;
  --bold-color: var(--dark-castle-palette-light-blue);
  --italic-color: var(--dark-castle-palette-light-blue);
  --strikethrough-color: var(--dark-castle-palette-light-blue);
  --checkbox-color: var(--dark-castle-palette-dark-purple);
  --checkbox-color-hover: var(--dark-castle-palette-purple);
  --checkbox-border-color: var(--dark-castle-palette-dark-purple);
  --checkbox-border-color-hover: var(--dark-castle-palette-purple);
  --drag-ghost-background: var(--dark-castle-palette-dark-gray);
  --drag-ghost-text-color: var(--interactive-accent);
  --modal-border-color: var(--dark-castle-palette-black);
  --nav-item-color: var(--text-muted);
  --nav-item-color-active: var(--dark-castle-palette-light-yellow);
  --nav-item-color-selected: var(--dark-castle-palette-light-blue);
  --nav-item-background-selected: var(--dark-castle-palette-dark-gray);
  --prompt-border-color: var(--dark-castle-palette-black-03-mix);
  --tab-text-color-active: var(--dark-casle-palette-light-yellow);
  --tab-text-color-focused-active: var(--dark-casle-palette-light-yellow);
  --tab-text-color-focused-active-current: var(--dark-casle-palette-light-yellow);
  --tab-divider-color: var(--titlebar-background);
  --tab-outline-width: 0px;
  --tab-curve: 0px;
  --tab-radius: 0px;
  --tab-radius-active: 0px;
  --toggle-thumb-color: var(--text-on-accent);
  --input-radius: 0px;
  --blockquote-color: var(--dark-castle-palette-dark-purple);
  --callout-padding: var(--size-4-3) var(--size-4-6);
  --code-background: var(--dark-castle-palette-black-02);
  --code-normal: var(--dark-castle-palette-green);
  --code-comment: var(--dark-castle-palette-dark-green);
  --code-function: var(--dark-castle-code-function);
  --code-important: var(--dark-castle-code-error);
  --code-keyword: var(--dark-castle-code-keyword);
  --code-property: var(--text-muted);
  --code-operator: var(--dark-castle-code-operator);
  --code-punctuation: var(--dark-castle-accent);
  --code-string: var(--dark-castle-palette-red);
  --code-tag: var(--dark-castle-palette-light-blue);
  --code-value: var(--dark-castle-palette-white);
  --file-line-width: 50rem;
  --h1-color: var(--dark-castle-palette-light-green);
  --h2-color: var(--dark-castle-palette-red);
  --h3-color: var(--dark-castle-palette-red);
  --h4-color: var(--dark-castle-palette-red);
  --h5-color: var(--dark-castle-palette-red);
  --h6-color: var(--dark-castle-palette-red);
  --h1-weight: 700;
  --h2-weight: 675;
  --h3-weight: 650;
  --h4-weight: 625;
  --h5-weight: 600;
  --h6-weight: 575;
  --link-color: var(--dark-castle-accent);
  --link-color-hover: var(--dark-castle-palette-blue);
  --link-unresolved-color: var(--dark-castle-accent);
  --link-unresolved-decoration-style: dashed;
  --link-unresolved-decoration-color: var(--dark-castle-palette-blue);
  --link-external-color: var(--dark-castle-accent);
  --link-external-color-hover: var(--dark-castle-palette-blue);
  --list-marker-color: var(--dark-castle-palette-dark-teal);
  --list-marker-color-hover: var(--dark-castle-accent-hover);
  --list-marker-color-collapsed: var(--dark-castle-palette-red);
  --metadata-label-text-color: var(--dark-castle-palette-light-blue);
  --metadata-label-text-color-hover: var(--dark-castle-palette-light-blue-hover);
  --table-background: var(--background-primary);
  --table-header-background-hover: var(--table-background);
  --table-header-size: larger;
  --tag-size: 12px;
  --tag-color: var(--dark-castle-palette-white);
  --tag-color-hover: var(--dark-castle-palette-dark-teal);
  --tag-decoration-hover: underline;
  --tag-background: var(--dark-castle-palette-dark-teal);
  --tag-background-hover: var(--dark-castle-palette-white);
  --vault-name-font-size: 1em;
  --vault-name-color: var(--interactive-accent);
  --graph-line: var(--dark-castle-palette-dark-gray);
  --graph-node-unresolved: var(--dark-castle-accent);
  --graph-node-tag: var(--dark-castle-accent);
  --search-clear-button-color: var(--dark-castle-accent);
  --search-icon-color: var(--dark-castle-accent);
  --ribbon-background-collapsed: var(--ribbon-background);
  --scrollbar-bg: transparent;
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary);
  --titlebar-border-color: var(--background-modifier-border);
  --titlebar-text-color: var(--text-faint);
  --titlebar-text-color-focused: var(--text-muted);
  --workspace-background-translucent: unset;
  --lowlight-background: var(--background-primary);
  --floating-background: var(--background-primary);
  --floating-size: 20%;
}
