.theme-dark.w95-scheme-plum,
.w95-scheme-plum {
  --background-primary: #a4958b;
  --background-secondary: #a4958b;
  --border-highlight: #d5cec4;
  --border-shadow: #d5cec4;
  --scrollbar-track: #cac0b9;
  --scrollbar-thumb: #bfb1a7;
  --nav-item-background-active: #a4958b;
  --interactive-accent: #a4958b;
  --background-editor-primary: #a4958b;
}
