:root[saved-theme="light"] {
  --font-text-theme: var(--font-text-override), "Lexend", "Inter";
  --font-interface-theme: "Inter", "Lexend";
  --color-red: var(--rose);
  --color-orange: var(--gold);
  --color-yellow: var(--gold);
  --color-green: var(--foam);
  --color-cyan: var(--foam);
  --color-blue: var(--pine);
  --color-purple: var(--iris);
  --color-pink: var(--love);
  --color-red-rgb: var(--rose-rgb);
  --color-orange-rgb: var(--gold-rgb);
  --color-yellow-rgb: var(--gold-rgb);
  --color-green-rgb: var(--foam-rgb);
  --color-cyan-rgb: var(--foam-rgb);
  --color-blue-rgb: var(--pine-rgb);
  --color-purple-rgb: var(--iris-rgb);
  --color-pink-rgb: var(--love-rgb);
  --background: var(--base);
  --text-muted: var(--muted);
  --text-on-accent: var(--surface);
  --text-on-accent-inverted: var(--surface);
  --text-success: var(--color-green);
  --text-warning: var(--color-orange);
  --text-error: var(--color-red);
  --text-accent: var(--rose);
  --text-selection: rgb(var(--highlight-med-rgb), 0.6);
  --interactive-normal: var(--highlight-med);
  --interactive-hover: var(--highlight-high);
  --interactive-accent: var(--rose);
  --interactive-accent-hover: var(--gold);
  --text-normal: var(--text);
  --text-highlight-bg: rgba(var(--gold-rgb), 0.2);
  --text-faint: var(--muted);
  --bold-color: var(--love);
  --italic-color: var(--foam);
  --titlebar-background: transparent;
  --titlebar-background-focused: transparent;
  --titlebar-border-width: 0px;
  --icon-color: var(--text);
  --clickable-icon-radius: 8px;
  --button-radius: 7px;
  --checkbox-radius: 5px;
  --checkbox-marker-color: white;
  --checkbox-color: var(--pine);
  --checkbox-border: 5px;
  --checkbox-color-hover: var(--foam);
  --checkbox-border-color: var(--rose);
  --checkbox-border-color-hover: var(--love);
  --checklist-done-decoration: line-through;
  --checklist-done-color: var(--text-faint);
  --nav-item-color: var(--text);
  --nav-item-color-hover: var(--subtle);
  --nav-item-background-active: var(--foam);
  --nav-item-color-active: var(--surface);
  --nav-collapse-icon-color: var(--pine);
  --search-result-background: var(--base);
  --search-result-background-hover: var(--color-red);
  --nav-heading-color: var(--pine);
  --nav-heading-color-collapsed: var(--nav-heading-color);
  --blockquote-border-color: var(--gold);
  --blockquote-border-thickness: 3px;
  --callout-border-width: 0px;
  --callout-border-opacity: 0.25;
  --callout-radius: 13px;
  --callout-title-size: 1rem;
  --callout-padding: var(--size-4-3) var(--size-4-6);
  --callout-title-weight: var(--font-weight);
  --code-normal: var(--subtle);
  --code-background: var(--base);
  --code-comment: var(--text-faint);
  --code-important: var(--color-red);
  --code-value: var(--color-purple);
  --code-tag: var(--color-green);
  --code-string: var(--color-yellow);
  --code-punctuation: var(--color-pink);
  --code-function: var(--color-cyan);
  --code-keyword: var(--color-red);
  --code-operator: var(--color-orange);
  --code-property: var(--color-blue);
  --h1-color: var(--love);
  --h2-color: var(--rose);
  --h3-color: var(--gold);
  --h4-color: var(--pine);
  --h5-color: var(--iris);
  --h6-color: var(--text-normal);
  --h1-size: 1.45em;
  --h2-size: 1.3em;
  --h3-size: 1.15em;
  --h4-size: 1.05em;
  --h5-size: 1em;
  --h6-size: 1em;
  --h6-variant: small-caps;
  --headings-font: var(--font-text-override), var(--font-text-theme);
  --h1-font: var(--headings-font);
  --h2-font: var(--headings-font);
  --h3-font: var(--headings-font);
  --h4-font: var(--headings-font);
  --h5-font: var(--headings-font);
  --h6-font: var(--headings-font);
  --inline-title-font: var(--font-text-override), var(--font-text-theme);
  --inline-title-size: 1.8em;
  --inline-title-color: var(--foam);
  --inline-title-margin-bottom: 2em;
  --link-external-color: var(--foam) !important;
  --link-external-color-hover: var(--pine);
  --link-external-decoration: none;
  --link-external-decoration-hover: underline;
  --link-color-hover: var(--link-color);
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-unresolved-color: var(--subtle);
  --list-marker-color: var(--bold-color);
  --list-bullet-size: 0.35em;
  --list-indent-editing: var(--list-indent-source);
  --table-header-background: var(--iris);
  --table-header-background-hover: var(--table-header-background);
  --table-header-color: var(--surface);
  --table-border-color: var(--highlight-med);
  --table-row-alt-background: var(--highlight-low);
  --table-row-alt-background-hover: var(--table-row-alt-background);
  --canvas-dot-pattern: var(--text-faint);
  --canvas-color-6: var(--gold-rgb);
  --canvas-color-5: var(--rose-rgb);
  --canvas-color-4: var(--love-rgb);
  --canvas-color-3: var(--iris-rgb);
  --canvas-color-2: var(--foam-rgb);
  --canvas-color-1: var(--pine-rgb);
  --graph-line: var(--subtle);
  --graph-node-attachment: var(--rose);
  --graph-node-tag: var(--foam);
  --graph-node: var(--text-normal);
  --graph-node-unresolved: var(--text-faint);
  --scrollbar-thumb-bg: var(--highlight-med);
  --scrollbar-active-thumb-bg: var(--highlight-high);
  --status-bar-background: var(--base);
  --status-bar-font-size: 11px;
  --status-bar-radius: 12px 0 0 12px;
  --hr-color: var(--highlight-med);
  --hr-thickness: 2px;
  --background-primary: var(--surface);
  --background-primary-alt: var(--overlay);
  --background-secondary: var(--background-primary);
  --background-secondary-alt: var(--background-primary-alt);
  --background-modifier-border: transparent;
  --background-modifier-error: var(--color-red);
  --background-modifier-form-field: var(--overlay);
  --divider-width: 0px;
  --border-width: 0px;
  --tab-background-active: var(--background-secondary);
  --tab-radius: 9px;
  --tab-radius-active: 9px;
  --tab-curve: 0px;
  --tab-container-background: transparent;
  --tab-divider-color: transparent;
  --tab-max-width: 200px;
  --tag-background: rgba(var(--rose-rgb), 0.15);
  --tag-background-hover: rgba(var(--rose-rgb), 0.25);
  --tag-color: var(--rose);
  --tag-color-hover: var(--love);
  --file-header-border: 1px dashed var(--highlight-med);
  --metadata-display-reading: none;
  --color-accent-1: var(--rose);
  --color-accent-2: var(--foam);
  --caret-color: var(--love);
  --cursor: pointer;
  --slider-track-background: var(--highlight-med);
  --love: rgb(var(--love-rgb));
  --gold: rgb(var(--gold-rgb));
  --rose: rgb(var(--rose-rgb));
  --pine: rgb(var(--pine-rgb));
  --foam: rgb(var(--foam-rgb));
  --iris: rgb(var(--iris-rgb));
  --highlight-med: rgb(var(--highlight-med-rgb));
  --surface: rgb(var(--surface-rgb));
  --love-rgb: 180, 99, 122;
  --gold-rgb: 234, 157, 52;
  --rose-rgb: 215, 130, 126;
  --pine-rgb: 40, 105, 131;
  --foam-rgb: 86, 148, 159;
  --iris-rgb: 144, 122, 169;
  --base: #faf4ed;
  --surface-rgb: 255, 250, 243;
  --overlay: #f2e9e1;
  --muted: #9893a5;
  --subtle: #797593;
  --text: #575279;
  --highlight-low: #f4ede8;
  --highlight-med-rgb: 223, 218, 217;
  --highlight-high: #cecacd;
  --accent-h: 187;
  --accent-s: 30%;
  --accent-l: 45%;
  --color-accent-hsl: 187, 30%, 45%;
  --love-rgb: 191, 97, 106;
  --gold-rgb: 143, 188, 187;
  --rose-rgb: 208, 135, 112;
  --pine-rgb: 94, 129, 172;
  --foam-rgb: 129, 161, 193;
  --iris-rgb: 180, 142, 173;
  --base: #e5e9f0;
  --surface-rgb: 236, 239, 244;
  --overlay: #d8dee9;
  --muted: #4c566a;
  --subtle: #4c566a;
  --text: #434c5e;
  --highlight-low: #e5e9f0;
  --highlight-med-rgb: 216, 222, 233;
  --highlight-high: #81a1c1;
  --accent-h: 196;
  --accent-s: 53%;
  --accent-l: 72%;
  --color-accent-hsl: 196, 53%, 72%;
  --accent-h: 11;
  --accent-s: 59%;
  --accent-l: 67%;
  --accent-h: 97;
  --accent-s: 38%;
  --accent-l: 53%;
  --accent-h: 122;
  --accent-s: 22%;
  --accent-l: 51%;
  --accent-h: 258;
  --accent-s: 88%;
  --accent-l: 66%;
  --love-rgb: 205, 106, 94;
  --gold-rgb: 230, 161, 73;
  --rose-rgb: 127, 111, 134;
  --pine-rgb: 86, 139, 187;
  --foam-rgb: 106, 168, 149;
  --iris-rgb: 204, 135, 90;
  --base: #f2edf4;
  --surface-rgb: 252, 251, 250;
  --overlay: #eee9f0;
  --muted: #798094;
  --subtle: #616980;
  --text: #475669;
  --highlight-low: #e3e9eb;
  --highlight-med-rgb: 206, 222, 227;
  --highlight-high: #b4c3c8;
  --accent-h: 6;
  --accent-s: 53%;
  --accent-l: 59%;
  --love-rgb: 145, 121, 123;
  --gold-rgb: 242, 154, 99;
  --rose-rgb: 145, 166, 204;
  --pine-rgb: 119, 166, 155;
  --foam-rgb: 138, 182, 189;
  --iris-rgb: 222, 152, 137;
  --base: #f3e9e2;
  --surface-rgb: 255, 244, 237;
  --overlay: #fbe1db;
  --muted: #a79a8c;
  --subtle: #928577;
  --text: #6c6156;
  --highlight-low: #ede2da;
  --highlight-med-rgb: 231, 214, 196;
  --highlight-high: #d9c6b9;
  --accent-h: 11;
  --accent-s: 56%;
  --accent-l: 70%;
  --love-rgb: 194, 105, 128;
  --gold-rgb: 183, 195, 121;
  --rose-rgb: 215, 131, 116;
  --pine-rgb: 123, 168, 149;
  --foam-rgb: 96, 161, 169;
  --iris-rgb: 128, 127, 152;
  --base: #f0efec;
  --surface-rgb: 255, 251, 245;
  --overlay: #e6eeec;
  --muted: #80766f;
  --subtle: #7c726b;
  --text: #4e4c49;
  --highlight-low: #e9eef0;
  --highlight-med-rgb: 220, 227, 230;
  --highlight-high: #cfdadf;
  --accent-h: 187;
  --accent-s: 40%;
  --accent-l: 60%;
  --latex-color: var(--pine);
  --pomodoro-timer-dot-color: var(--love);
  --pomodoro-timer-elapsed-color: var(--foam);
  --pomodoro-timer-color: var(--text-selection);
}
