.heading-counter-0 .el-h1 {
  counter-increment: h1-counter;
  counter-reset: h1-counter;
  counter-set: h1-counter;
}
.heading-counter-0 .el-h1 h1:before {
  content: var(--heading-counter) counter(h1-counter) '';
  padding-right: 0.5em;
}
.heading-counter-0 .el-h2 {
  counter-increment: h2-counter;
  counter-reset: h3-counter;
  counter-set: h1-counter;
}
.heading-counter-0 .el-h2 h2:before {
  content: var(--heading-counter) counter(h1-counter) '.' counter(h2-counter) '';
  padding-right: 0.5em;
}
.heading-counter-0 .el-h3 {
  counter-increment: h3-counter;
  counter-reset: h4-counter;
  counter-set: h1-counter;
}
.heading-counter-0 .el-h3 h3:before {
  content: var(--heading-counter) counter(h1-counter) '.' counter(h2-counter)
    '.' counter(h3-counter) '';
  padding-right: 0.5em;
}
.heading-counter-0 .el-h4 {
  counter-increment: h4-counter;
  counter-reset: h5-counter;
  counter-set: h1-counter;
}
.heading-counter-0 .el-h4 h4:before {
  content: var(--heading-counter) counter(h1-counter) '.' counter(h2-counter)
    '.' counter(h3-counter) '.' counter(h4-counter) '';
  padding-right: 0.5em;
}
.heading-counter-0 .el-h5 {
  counter-increment: h5-counter;
  counter-reset: h6-counter;
  counter-set: h1-counter;
}
.heading-counter-0 .el-h5 h5:before {
  content: var(--heading-counter) counter(h1-counter) '.' counter(h2-counter)
    '.' counter(h3-counter) '.' counter(h4-counter) '.' counter(h5-counter) '';
  padding-right: 0.5em;
}
.heading-counter-0 .el-h6 {
  counter-increment: h6-counter;
  counter-set: h1-counter;
}
.heading-counter-0 .el-h6 h6:before {
  content: var(--heading-counter) counter(h1-counter) '.' counter(h2-counter)
    '.' counter(h3-counter) '.' counter(h4-counter) '.' counter(h5-counter) '.'
    counter(h6-counter) '';
  padding-right: 0.5em;
}
