:root {
  --default-font: "Segoe UI", "Arial", "Tahoma", "Helvetica", sans-serif;
}

body {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsla(245, 75%, 63%, 0.5);
  --text-title-h1: hsl(246, 87%, 69%);
  --text-title-h2: hsl(245, 75%, 70%);
  --text-title-h3: hsl(240, 35%, 73%);
  --text-title-h4: hsl(13, 84%, 89%);
  --text-title-h5: hsl(17, 51%, 66%);
  --text-title-h6: hsl(11, 59%, 54%);
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsla(245, 100%, 78%, 0.521);
  --text-title-h1: hsl(246, 87%, 69%);
  --text-title-h2: hsl(245, 89%, 75%);
  --text-title-h3: hsl(240, 100%, 84%);
  --text-title-h4: hsl(14, 100%, 83%);
  --text-title-h5: hsl(17, 91%, 77%);
  --text-title-h6: hsl(11, 89%, 63%);
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsla(245, 75%, 63%, 0.5);
  --text-title-h1: hsl(246, 100%, 63%);
  --text-title-h2: hsl(245, 75%, 63%);
  --text-title-h3: hsl(240, 44%, 65%);
  --text-title-h4: hsl(14, 91%, 79%);
  --text-title-h5: hsl(17, 55%, 60%);
  --text-title-h6: hsl(11, 59%, 54%);
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #d64f38;
  --text-title-h1: #3077ce;
  --text-title-h2: #6aa7c9;
  --text-title-h3: #bfd9e5;
  --text-title-h4: #f8f2ec;
  --text-title-h5: #d48679;
  --text-title-h6: #d64f38;
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #f7684faf;
  --text-title-h1: #3985e2;
  --text-title-h2: #60c7ff;
  --text-title-h3: #a4e2ff;
  --text-title-h4: #ffd9b3;
  --text-title-h5: #ffa387;
  --text-title-h6: #f55d42;
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsla(245, 75%, 63%, 0.5);
  --text-title-h1: rgb(97, 108, 170);
  --text-title-h2: rgb(100, 125, 175);
  --text-title-h3: rgb(196, 216, 242);
  --text-title-h4: rgb(218, 205, 199);
  --text-title-h5: rgb(177, 97, 101);
  --text-title-h6: rgb(148, 99, 101);
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsla(245, 75%, 63%, 0.5);
  --text-title-h1: #596dbd;
  --text-title-h2: #6982b9;
  --text-title-h3: #bccae0;
  --text-title-h4: #d4d2cf;
  --text-title-h5: #ae6b81;
  --text-title-h6: #822d4a;
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #d1462e;
  --text-title-h1: #d1462e;
  --text-title-h2: #bb4c38;
  --text-title-h3: #ad5a4d;
  --text-title-h4: #d89f8a;
  --text-title-h5: #e0cdb4;
  --text-title-h6: #e2cac3;
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #4d68df;
  --text-title-h1: #7db4e4;
  --text-title-h2: #aad4f8;
  --text-title-h3: #f2f5fa;
  --text-title-h4: #f0a7b7;
  --text-title-h5: #f390ae;
  --text-title-h6: #d55276;
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #4d68df;
  --text-title-h1: #89c4f8;
  --text-title-h2: #aad4f8;
  --text-title-h3: #c5dbff;
  --text-title-h4: #f0a7b7;
  --text-title-h5: #f390ae;
  --text-title-h6: #f1698e;
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #4d68df;
  --text-title-h1: #4d68df;
  --text-title-h2: #92afe6;
  --text-title-h3: #ffffff;
  --text-title-h4: #deeecf;
  --text-title-h5: #7ba28c;
  --text-title-h6: #487d6c;
  --theme-color: hsl(245, 78%, 65%);
  --text-highlight-bg: #6a83f58c;
  --text-title-h1: #7c94ff;
  --text-title-h2: #9fc1ff;
  --text-title-h3: #d4f5b5;
  --text-title-h4: #cef0ae;
  --text-title-h5: #a7dfbf;
  --text-title-h6: #6dbda3;
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsl(214, 86%, 57%);
  --text-title-h1: hsl(214, 86%, 57%);
  --text-title-h2: hsl(220, 67%, 63%);
  --text-title-h3: hsl(250, 43%, 71%);
  --text-title-h4: hsl(309, 39%, 71%);
  --text-title-h5: hsl(24, 87%, 71%);
  --text-title-h6: hsl(46, 96%, 72%);
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #af6435;
  --text-title-h1: #3b9191;
  --text-title-h2: #46966f;
  --text-title-h3: #fcdda4;
  --text-title-h4: #e8b063;
  --text-title-h5: #c46d37;
  --text-title-h6: #af6435;
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #6a83f58c;
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsla(258, 100%, 51%, 0.781);
  --text-title-h1: hsl(0, 100%, 50%);
  --text-title-h2: hsl(40, 100%, 50%);
  --text-title-h3: hsl(80, 100%, 50%);
  --text-title-h4: hsl(120, 100%, 50%);
  --text-title-h5: hsl(170, 100%, 50%);
  --text-title-h6: hsl(200, 100%, 50%);
  --text-title-h7: hsl(240, 100%, 50%);
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #6c96c0d0;
  --text-title-h1: #bf616a;
  --text-title-h2: #d08770;
  --text-title-h3: #ebcb8b;
  --text-title-h4: #a3be8c;
  --text-title-h5: #b48ead;
  --text-title-h6: #b8bcc5;
  --text-title-h6: #989ba1;
  --text-accent: #51b385;
  --text-accent1: #61d29d;
  --text-accent2: #00ddff;
  --text-accent-hover: hsl(152, 69%, 61%);
  --tag-color: #58a6ff;
  --tag-color-hover: #449bff;
  --quote-color: rgb(61, 154, 216);
  --text-accent: #81a1c1;
  --text-accent1: #81a1c1;
  --text-accent2: #88c0d0;
  --text-accent-hover: #81a1c1;
  --tag-color: #88c0d0;
  --tag-color-hover: #88c0d0;
  --quote-color: #5e81ac;
  --code-normal: #080808;
}
