.ulu-gummy-canvas1.theme-dark
  .canvas-node.is-themed.mod-canvas-color-1
  .canvas-node-content {
  background-image: linear-gradient(
    45deg,
    hsl(15deg 82% 54%) 0%,
    hsl(14deg 83% 54%) 11%,
    hsl(14deg 83% 53%) 22%,
    hsl(13deg 84% 53%) 33%,
    hsl(13deg 84% 53%) 44%,
    hsl(12deg 85% 53%) 56%,
    hsl(11deg 85% 53%) 67%,
    hsl(11deg 86% 52%) 78%,
    hsl(10deg 86% 52%) 89%,
    hsl(9deg 87% 52%) 100%
  );
}
.ulu-gummy-canvas2.theme-dark
  .canvas-node.is-themed.mod-canvas-color-2
  .canvas-node-content {
  background-image: linear-gradient(
    45deg,
    hsl(29deg 82% 54%) 0%,
    hsl(28deg 83% 53%) 11%,
    hsl(28deg 83% 53%) 22%,
    hsl(27deg 84% 53%) 33%,
    hsl(26deg 84% 53%) 44%,
    hsl(25deg 85% 53%) 56%,
    hsl(25deg 85% 52%) 67%,
    hsl(24deg 86% 52%) 78%,
    hsl(23deg 86% 52%) 89%,
    hsl(22deg 87% 52%) 100%
  );
}
.ulu-gummy-canvas3.theme-dark
  .canvas-node.is-themed.mod-canvas-color-3
  .canvas-node-content {
  background-image: linear-gradient(
    45deg,
    hsl(44deg 82% 54%) 0%,
    hsl(44deg 83% 54%) 11%,
    hsl(45deg 83% 53%) 22%,
    hsl(45deg 84% 53%) 33%,
    hsl(46deg 84% 53%) 44%,
    hsl(46deg 85% 53%) 56%,
    hsl(47deg 85% 53%) 67%,
    hsl(47deg 86% 53%) 78%,
    hsl(48deg 86% 52%) 89%,
    hsl(48deg 87% 52%) 100%
  );
}
.ulu-gummy-canvas4.theme-dark
  .canvas-node.is-themed.mod-canvas-color-4
  .canvas-node-content {
  background-image: linear-gradient(
    45deg,
    hsl(98deg 32% 45%) 0%,
    hsl(101deg 31% 44%) 11%,
    hsl(104deg 30% 43%) 22%,
    hsl(108deg 29% 41%) 33%,
    hsl(112deg 28% 40%) 44%,
    hsl(116deg 27% 39%) 56%,
    hsl(120deg 26% 37%) 67%,
    hsl(124deg 27% 35%) 78%,
    hsl(128deg 28% 33%) 89%,
    hsl(132deg 29% 31%) 100%
  );
}
.ulu-gummy-canvas1.theme-dark
  .canvas-node.is-themed.mod-canvas-color-1
  .canvas-node-content
  p,
.ulu-gummy-canvas2.theme-dark
  .canvas-node.is-themed.mod-canvas-color-2
  .canvas-node-content
  p,
.ulu-gummy-canvas3.theme-dark
  .canvas-node.is-themed.mod-canvas-color-3
  .canvas-node-content
  p,
.ulu-gummy-canvas4.theme-dark
  .canvas-node.is-themed.mod-canvas-color-4
  .canvas-node-content
  p,
.ulu-gummy-canvas5.theme-dark
  .canvas-node.is-themed.mod-canvas-color-5
  .canvas-node-content
  p,
.ulu-gummy-canvas6.theme-dark
  .canvas-node.is-themed.mod-canvas-color-6
  .canvas-node-content
  p {
  color: white;
}
.ulu-gummy-canvas5.theme-dark
  .canvas-node.is-themed.mod-canvas-color-5
  .canvas-node-content {
  background-image: linear-gradient(
    45deg,
    hsl(218deg 82% 54%) 0%,
    hsl(218deg 83% 53%) 11%,
    hsl(218deg 85% 52%) 22%,
    hsl(219deg 85% 51%) 33%,
    hsl(219deg 86% 51%) 44%,
    hsl(220deg 87% 50%) 56%,
    hsl(221deg 87% 50%) 67%,
    hsl(223deg 87% 51%) 78%,
    hsl(224deg 87% 51%) 89%,
    hsl(227deg 87% 52%) 100%
  );
}
.ulu-gummy-canvas6.theme-dark
  .canvas-node.is-themed.mod-canvas-color-6
  .canvas-node-content {
  background-image: linear-gradient(
    45deg,
    hsl(308deg 33% 41%) 0%,
    hsl(308deg 35% 41%) 11%,
    hsl(308deg 37% 40%) 22%,
    hsl(308deg 40% 39%) 33%,
    hsl(308deg 42% 39%) 44%,
    hsl(308deg 45% 38%) 56%,
    hsl(308deg 47% 37%) 67%,
    hsl(308deg 51% 36%) 78%,
    hsl(308deg 54% 35%) 89%,
    hsl(308deg 58% 35%) 100%
  );
}
