h5,
.HyperMD-header-5 {
  padding-bottom: 2px;
  border-bottom: 1.4px var(--line-style) var(--hr-color);
}
.colorful-headings.theme-notion h5,
.colorful-headings.theme-notion .HyperMD-header-5,
.colorful-headings.theme-anytype h5,
.colorful-headings.theme-anytype .HyperMD-header-5 {
  border-bottom: none;
}
