:root[saved-theme="light"] {
  --color-base-00: hsl(50, 13%, 96%);
  --color-base-05: hsl(50, 13%, 95%);
  --color-base-10: hsl(50, 13%, 94%);
  --color-base-20: hsl(50, 13%, 91%);
  --color-base-25: hsl(50, 13%, 89%);
  --color-base-30: hsl(50, 13%, 83%);
  --color-base-35: hsl(50, 13%, 73%);
  --color-base-40: hsl(50, 13%, 60%);
  --color-base-50: hsl(50, 13%, 50%);
  --color-base-60: hsl(50, 13%, 45%);
  --color-base-70: hsl(50, 13%, 35%);
  --color-base-100: hsl(50, 13%, 18%);
  --color-blue: hsl(199, 42%, 45%);
  --color-blue-rgb: 67, 132, 163;
  --color-purple: hsl(307, 39%, 34%);
  --color-purple-rgb: 121, 53, 113;
  --color-green: hsl(80, 45%, 45%);
  --color-green-rgb: 132, 166, 63;
  --color-red: hsl(346, 65%, 44%);
  --color-red-rgb: 186, 39, 74;
  --color-pink: hsl(346, 65%, 64%);
  --color-yellow: hsl(39, 97%, 62%);
  --color-yellow-lightest: hsla(41, 88%, 81%, 0.753);
  --color-orange: hsl(27, 82%, 57%);
  --color-orange-rgb: 235, 136, 55;
  --accent-h: 80;
  --accent-s: 45%;
  --accent-l: 45%;
  --text-normal: var(--color-base-100);
  --text-muted: var(--color-base-60);
  --text-faint: var(--color-base-35);
  --alpha-background: hsla(50, 14%, 67%, 0.2);
  --background-primary: var(--color-base-10);
  --background-secondary: var(--color-base-00);
  --code-block-background-color: var(--alpha-background);
  --code-normal: var(--color-orange);
  --code-background: var(--alpha-background);
  --blockquote-background-color: var(--alpha-background);
  --heading-color: var(--color-blue);
  --inline-title-color: var(--heading-color);
  --h1-color: var(--heading-color);
  --h2-color: var(--heading-color);
  --h3-color: var(--heading-color);
  --h4-color: var(--heading-color);
  --h5-color: var(--heading-color);
  --h6-color: var(--text-faint);
  --table-header-color: var(--heading-color);
  --table-header-background: var(--color-base-20);
  --table-header-background-hover: var(--color-base-20);
  --italic-color: var(--color-purple);
  --bold-color: var(--color-blue);
  --text-highlight-bg: var(--color-yellow-lightest);
  --titlebar-background-focused: var(--color-base-05);
  --titlebar-background: var(--color-base-05);
  --nav-item-color-active: var(--color-base-00);
  --nav-item-background-active: var(--color-accent);
  --nav-item-size: var(--font-ui-medium);
  --embed-background: var(--alpha-background);
  --code-property: var(--color-blue);
  --code-function: var(--color-orange);
  --code-keyword: var(--color-red);
}
