.ctp-rosepine-light,
.ctp-rosepine-light .themed-color-wrapper > .theme-light {
  --ctp-rosewater: var(--ctp-ext-rosewater, 214, 129, 125);
  --ctp-flamingo: var(--ctp-ext-flamingo, 214, 129, 125);
  --ctp-pink: var(--ctp-ext-pink, 144, 122, 169);
  --ctp-mauve: var(--ctp-ext-mauve, 144, 122, 169);
  --ctp-red: var(--ctp-ext-red, 180, 99, 122);
  --ctp-maroon: var(--ctp-ext-maroon, 180, 99, 122);
  --ctp-peach: var(--ctp-ext-peach, 214, 129, 125);
  --ctp-yellow: var(--ctp-ext-yellow, 234, 157, 52);
  --ctp-green: var(--ctp-ext-green, 86, 148, 159);
  --ctp-teal: var(--ctp-ext-teal, 86, 148, 159);
  --ctp-sky: var(--ctp-ext-sky, 40, 105, 131);
  --ctp-sapphire: var(--ctp-ext-sapphire, 40, 105, 131);
  --ctp-blue: var(--ctp-ext-blue, 40, 105, 131);
  --ctp-lavender: var(--ctp-ext-lavender, 144, 122, 169);
  --ctp-text: var(--ctp-ext-text, 87, 82, 121);
  --ctp-subtext1: var(--ctp-ext-subtext1, 97, 92, 132);
  --ctp-subtext0: var(--ctp-ext-subtext0, 121, 117, 147);
  --ctp-overlay2: var(--ctp-ext-overlay2, 128, 124, 153);
  --ctp-overlay1: var(--ctp-ext-overlay1, 152, 147, 165);
  --ctp-overlay0: var(--ctp-ext-overlay0, 161, 156, 173);
  --ctp-surface2: var(--ctp-ext-surface2, 202, 193, 185);
  --ctp-surface1: var(--ctp-ext-surface1, 209, 201, 194);
  --ctp-surface0: var(--ctp-ext-surface0, 220, 211, 203);
  --ctp-base: var(--ctp-ext-base, 238, 230, 221);
  --ctp-mantle: var(--ctp-ext-mantle, 230, 219, 209);
  --ctp-crust: var(--ctp-ext-crust, 221, 208, 198);
}
