body.flexcyon-settings-comm-item-enabled div.community-modal-search-results div.community-item {
  opacity: var(--flexcyon-comm-item-opacity);
}

body.flexcyon-settings-comm-item-enabled
  div.community-modal-search-results
  div.community-item.is-selected {
  opacity: unset;
  border: unset;
  font-weight: bold;
}

body.flexcyon-settings-comm-item-enabled
  div.community-item
  div.community-item-name
  span.flair.mod-pop {
  position: absolute;
  right: 0.5rem;
  top: 0.7rem;
  background-color: var(--text-accent);
  color: var(--color-base-25);
}

body.flexcyon-settings-comm-item-enabled
  div.community-item.is-selected
  div.community-item-name
  span.flair.mod-pop {
  background-color: var(--color-base-25);
  color: var(--text-normal);
}

body.flexcyon-settings-comm-item-enabled .community-item-name {
  width: 75%;
  overflow-wrap: break-word;
}

body.flexcyon-settings-comm-item-enabled .community-item-downloads,
body.flexcyon-settings-comm-item-enabled .community-modal-info-downloads {
  color: rgba(var(--color-cyan-rgb), var(--flexcyon-comm-item-opacity));
}

body.flexcyon-settings-comm-item-enabled .community-item-updated {
  color: rgba(var(--color-blue-rgb), calc(var(--flexcyon-comm-item-opacity) - 0.1));
}

body.flexcyon-settings-comm-item-enabled .community-modal-info-version {
  color: rgba(var(--color-green-rgb), calc(var(--flexcyon-comm-item-opacity) - 0.1));
}
