body.obsidian-high-contrast.theme-dark {
  --background-primary: hsl(0, 0%, 0%);
  --background-primary-alt: black;
  --background-secondary: hsl(0, 0%, 0%);
  --text-faint: #ccc;
}

body.obsidian-high-contrast.theme-dark .checkbox-container {
  box-shadow: 0 0 2px white;
}

body.obsidian-high-contrast.theme-dark .tooltip {
  --tooltip-bg: white;
  background-color: var(--tooltip-bg);
  color: black;
}

body.obsidian-high-contrast.theme-dark .tooltip .tooltip-arrow {
  border-bottom-color: var(--tooltip-bg);
}

body.obsidian-high-contrast.theme-dark .tooltip.mod-right .tooltip-arrow {
  border-right-color: var(--tooltip-bg);
  border-bottom-color: transparent;
}

body.obsidian-high-contrast.theme-dark .tooltip.mod-left .tooltip-arrow {
  border-left-color: var(--tooltip-bg);
  border-bottom-color: transparent;
}

body.obsidian-high-contrast.theme-dark .tooltip.mod-top .tooltip-arrow {
  border-top-color: var(--tooltip-bg);
  border-bottom-color: transparent;
}

body.obsidian-high-contrast.theme-dark .suggestion-item.is-selected {
  color: black;
  background-color: white;
}

body.obsidian-high-contrast.theme-dark .suggestion-hotkey {
  color: white;
}
