body {
  --h3-line-height: calc(
    var(--setting-line-height, var(--line-height-normal)) * var(--h3-size) * 1.2
  );
}
body :is(h3, .HyperMD-header-3) {
  position: relative;
}
body :is(h3, .HyperMD-header-3)::after {
  content: '';
  position: absolute;
  height: var(--size-4-1);
  width: 100%;
  top: 50%;
  transform: translateY(
    max(var(--h3-size) * var(--line-height-normal) * 0.3, var(--size-4-3))
  );
  border-radius: var(--size-2-1);
  background-image: linear-gradient(
    to right,
    var(--h3-color) 30%,
    transparent 70%
  );
}
body h3::after {
  left: 0;
}
body .HyperMD-header-3::after {
  left: var(--size-4-1);
}
body .vertical-tab-content h3 {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
}
bod.heading-underline-thin :is(h3, .HyperMD-header-3)::after {
  height: var(--size-2-1);
}
