.composer--ComponentsFilledGallaryCover .components--DynamicDataView-PageCard {
  padding: 0px;
  overflow: hidden;
  border: 0px;
}

.composer--ComponentsFilledGallaryCover .components--DynamicDataView-PageCardCover {
  border-radius: initial;
}

.composer--ComponentsFilledGallaryCover
  .components--DynamicDataView-PageCard
  .components--DynamicDataView-PageTitle {
  padding-top: 4px;
}
