:root {
  --shadow: 4px 4px 8px rgba(0, 0, 0, 0.15), -4px -4px 8px rgba(255, 255, 255, 0.5);
  --shadow-hover: inset 3px 3px 3px rgba(0, 0, 0, 0.2), inset -3px -3px 3px rgba(255, 255, 255, 0.7);
  --shadow-selected: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
  --background: #f0f0f0;
}

body {
  --accent-s: 80%;
  --accent-l: 64%;
  --background-underlying-light: var(--background-tertiary);
  --background-underlying-dark: var(--background-tertiary);
  --background-underlying: var(--background-tertiary);
  --background-mod-left-split-light: var(--background-secondary);
  --background-mod-left-split: var(--background-secondary);
  --background-mod-right-split-light: var(--background-secondary);
  --background-mod-right-split-dark: (--background-secondary);
  --background-mod-right-split: var(--background-secondary);
  --background-mod-root-split-light: var(--background-primary);
  --background-mod-root-split-dark: var(--background-primary);
  --background-mod-root-split: var(--background-primary);
  --background-mod-root-CSS-light: rgba(255, 255, 255, 0.5);
  --background-mod-root-CSS-dark: rgba(0, 0, 0, 0.5);
  --background-mod-root-CSS-blend-mode-light: normal;
  --background-mod-root-CSS-blend-mode-dark: normal;
  --background-mod-root-CSS-backdrop-filter-light: blur(32px);
  --background-mod-root-CSS-backdrop-filter-dark: blur(32px);
  --background-mod-left-CSS-light: rgba(255, 255, 255, 0.5);
  --background-mod-left-CSS-dark: rgba(0, 0, 0, 0.5);
  --background-mod-left-CSS-blend-mode-light: normal;
  --background-mod-left-CSS-blend-mode-dark: normal;
  --background-mod-left-CSS-backdrop-filter-light: blur(32px);
  --background-mod-left-CSS-backdrop-filter-dark: blur(32px);
  --background-mod-right-CSS-light: rgba(255, 255, 255, 0.5);
  --background-mod-right-CSS-dark: rgba(0, 0, 0, 0.5);
  --background-mod-right-CSS-blend-mode-light: normal;
  --background-mod-right-CSS-blend-mode-dark: normal;
  --background-mod-right-CSS-backdrop-filter-light: blur(32px);
  --background-mod-right-CSS-backdrop-filter-dark: blur(32px);
  --background-underlying-CSS-blend-mode-light: overlay, color-burn;
  --background-underlying-CSS-blend-mode-dark: soft-light, luminosity, hue, luminosity, hard-light;
  --background-underlying: var(--background-underlying-light) !important;
  --background-underlying: var(--background-underlying-dark) !important;
  --card-shadow-dark: 0px 0px 0px 1px var(--background-modifier-border);
  --card-border-radius-light: 8px;
  --card-border-radius-dark: 8px;
  --card-shadow-border-radius-light: calc(var(--card-border-radius-light) - 1px);
  --card-shadow-border-radius-dark: calc(var(--card-border-radius-dark) - 1px);
  --on-border-light: var(--color-accent-3);
  --on-border-dark: var(--color-accent-3);
  --mix-blend-mode-on-border-light: normal;
  --mix-blend-mode-on-border-dark: screen;
  --background-mod-left-split: var(--background-primary) !important;
  --background-mod-left-split: var(--background-primary) !important;
  --card-shadow-dark: transparent;
  --background-mod-left-split: var(--background-mod-left-split-light) !important;
  --background-mod-root-split: var(--background-primary) !important;
  --background-mod-root-split: var(--background-secondary) !important;
  --background-mod-root-split: transparent !important;
  --scrollbar-active-thumb-bg: rgba(var(--mono-rgb-100), 0.15);
  --scrollbar-bg: rgba(var(--mono-rgb-100), 0);
  --scrollbar-thumb-bg: rgba(var(--mono-rgb-100), 0.15);
  --border-radius-activated-tab-header-light: 6px;
  --border-radius-activated-tab-header-dark: 6px;
  --color-activated-tab-header-light: var(--text-normal);
  --color-activated-tab-header-dark: var(--text-normal);
  --background-activated-tab-header-light: var(--background-primary);
  --background-activated-tab-header-dark: var(--background-modifier-active-hover);
  --shadow-activated-tab-header-dark: inset 0 0 0 1px var(--background-modifier-border);
  --icon-opacity: 1;
  --icon-opacity: 1;
  --icon-size: var(--icon-l);
  --icon-l: 20px;
  --anim-speed: 1;
  --anim-duration-superfast: calc(75ms / var(--anim-speed));
  --anim-duration-fast: calc(150ms / var(--anim-speed));
  --anim-duration-moderate: calc(300ms / var(--anim-speed));
  --anim-duration-slow: calc(600ms / var(--anim-speed));
  --anim-in: var(--anim-duration-fast) var(--anim-duration-superfast) var(--anim-motion-swing);
  --anim-out: var(--anim-duration-moderate) var(--anim-duration-slow) var(--anim-motion-swing);
}
