:root,
body {
  --ribbon-background-collapsed: var(--background-secondary);
  --ribbon-background: transparent;
  .workspace-ribbon.is-collapsed {
    padding-right: 0px !important;
    padding-left: 0.1px !important;
    z-index: 500;
  }
  :not(.floating-doc) .workspace,
  :not(.floating-doc) .workspace > .workspace-split,
  :not(.floating-doc) .workspace-ribbon,
  :not(.floating-doc) .workspace-ribbon::before,
  .vertical-tab-content,
  .vertical-tab-header,
  .floating-doc .view-content {
    box-shadow: 0 0 70px var(--shadow-color) inset;
  }
  .is-focused:not(.floating-doc) .workspace-leaf.mod-active .view-header,
  :not(.floating-doc) .view-header,
  :not(.floating-doc) .workspace-leaf-content,
  :not(.floating-doc) .workspace-tab-container,
  :not(.floating-doc) .workspace-leaf.mod-active,
  :not(.floating-doc) .view-content {
    background-color: transparent !important;
  }
}
.workspace-ribbon.mod-left.is-collapsed:before {
  background-color: var(--background-secondary) !important;
}
