:root:root {
  --sky-blue-crayola: #0ad1ed;
  --kobi: #dd99bb;
  --kobi-dark: #dc3b8c;
  --granny-smith-apple: #bfffbc;
  --slate-gray: #647d90;
  --english-violet: #544261;
  --orange-yellow: #f5b700;
  --todoist-red: #ff7066;
  --todoist-red-background: rgba(255, 112, 102, 0.1);
  --todoist-blue: #5297ff;
  --todoist-blue-background: rgba(82, 151, 255, 0.1);
  --todoist-orange: #ff9a14;
  --todoist-orange-background: rgba(255, 154, 20, 0.1);
  --todoist-green: #25b84c;
  --background-primary: #171b1f;
  --background-primary-alt: #20252a;
  --background-secondary: #171e24;
  --background-secondary-alt: #242f38;
  --background-modifier-border: #333;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: var(--granny-smith-apple);
  --background-modifier-error: var(--kobi);
  --background-modifier-error-rgb: 221, 153, 187;
  --background-modifier-error-hover: #f1a6cc;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: #0ad1ed;
  --text-accent-hover: #48e5fa;
  --text-normal: #dcddde;
  --text-muted: #999;
  --text-muted-rgb: 153, 153, 153;
  --text-faint: #666;
  --text-error: var(--kobi);
  --text-error-hover: #c55d91;
  --text-highlight-bg: rgba(245, 184, 0, 0.397);
  --text-highlight-bg-active: rgba(243, 195, 49, 0.459);
  --text-selection: rgba(100, 125, 144, 0.99);
  --text-on-accent: #dcddde;
  --interactive-normal: #2a2a2a;
  --interactive-hover: #303030;
  --interactive-accent: var(--sky-blue-crayola);
  --interactive-accent-rgb: 10, 209, 237;
  --interactive-accent-hover: #64d9e9;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --highlight-mix-blend-mode: lighten;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
