.simple-aside.theme-dark
  :is(
    .callout[data-callout='aside'][data-callout-metadata~='l'],
    .callout[data-callout='seite'][data-callout-metadata~='l']
  ),
.simple-aside.theme-dark
  .markdown-preview-view
  :is(
    .callout[data-callout='aside'][data-callout-metadata~='lh']:hover,
    .callout[data-callout='seite'][data-callout-metadata~='lv']:hover
  ) {
  border-right: 4px solid navajowhite;
  border-radius: 0;
  padding-left: 0;
}

.simple-aside.theme-dark
  :is(
    .callout[data-callout='aside'][data-callout-metadata~='r'],
    .callout[data-callout='seite'][data-callout-metadata~='r']
  ),
.simple-aside.theme-dark
  .markdown-preview-view
  :is(
    .callout[data-callout='aside'][data-callout-metadata~='rh']:hover,
    .callout[data-callout='seite'][data-callout-metadata~='rv']:hover
  ) {
  border-left: 4px solid navajowhite;
  border-radius: 0;
  padding-right: 0;
}
