:root {
}

body {
  --link-decoration: none;
  --link-decoration-hover: underline;
  --link-external-decoration: none;
  --link-external-decoration-hover: underline;
  --cursor: pointer;
  --color-dracula-background: #19212d;
  --color-dracula-foreground: #f8f8f2;
  --color-dracula-comment: #6272a4;
  --color-dracula-cyan: #8be9fd;
  --color-dracula-green: #50fa7b;
  --color-dracula-orange: #ffb86c;
  --color-dracula-pink: #ff79c6;
  --color-dracula-purple: #bd93f9;
  --color-dracula-red: #ff5555;
  --color-dracula-yellow: #f1fa8c;
  --color-dark-one-dark-background: #282c34;
  --color-dark-one-dark-gray-1: #5c6370;
  --color-dark-one-dark-gray-2: #abb2bf;
  --color-dark-one-dark-red: #e06c75;
  --color-dark-one-dark-orange: #d19a66;
  --color-dark-one-dark-green: #98c379;
  --color-dark-one-dark-aqua: #56b6c2;
  --color-dark-one-dark-purple: #c678dd;
  --color-dark-one-dark-blue: #61afef;
  --color-dark-one-dark-yellow: #e5c07b;
  --color-ctp-frappe-background: #303446;
  --color-ctp-frappe-foreground: #c6d0f5;
  --color-ctp-frappe-faint: #949cbb;
  --color-ctp-frappe-muted: #838ba7;
  --color-ctp-frappe-yellow: #e5c890;
  --color-ctp-frappe-orange: #ef9f76;
  --color-ctp-frappe-pink: #f4b8e4;
  --color-ctp-frappe-cyan: #81c8be;
  --color-ctp-frappe-green: #a6d189;
  --color-ctp-frappe-red: #e78284;
  --color-ctp-frappe-purple: #ca9ee6;
  --color-ctp-macchiato-background: #24273a;
  --color-ctp-macchiato-foreground: #cad3f5;
  --color-ctp-macchiato-faint: #8087a2;
  --color-ctp-macchiato-muted: #939ab7;
  --color-ctp-macchiato-yellow: #eed49f;
  --color-ctp-macchiato-orange: #f5a97f;
  --color-ctp-macchiato-pink: #f5bde6;
  --color-ctp-macchiato-cyan: #8bd5ca;
  --color-ctp-macchiato-green: #a6da95;
  --color-ctp-macchiato-red: #ed8796;
  --color-ctp-macchiato-purple: #c6a0f6;
  --color-ctp-mocha-background: #1e1e2e;
  --color-ctp-mocha-foreground: #cdd6f4;
  --color-ctp-mocha-faint: #7f849c;
  --color-ctp-mocha-muted: #9399b2;
  --color-ctp-mocha-yellow: #f9e2af;
  --color-ctp-mocha-orange: #fab387;
  --color-ctp-mocha-pink: #f5c2e7;
  --color-ctp-mocha-cyan: #94e2d5;
  --color-ctp-mocha-green: #a6e3a1;
  --color-ctp-mocha-red: #f38ba8;
  --color-ctp-mocha-purple: #cba6f7;
  --color-halcyon-background: #171c28;
  --color-halcyon-cyan: #5ccfe6;
  --color-halcyon-yellow: #ffd580;
  --color-halcyon-red: #ef6b73;
  --color-halcyon-purple: #c3a6ff;
  --color-halcyon-orange: #ffae57;
  --color-halcyon-green: #bae67e;
  --color-halcyon-grey-dark: #6679a4;
  --color-github-dark-background: #161b22;
  --color-github-dark-red: #f47067;
  --color-github-dark-green: #7ee787;
  --color-github-dark-orange: #ffa657;
  --color-github-dark-yellow: #d29922;
  --color-github-dark-cyan: #a5d6ff;
  --color-github-dark-blue: #6cb6ff;
  --color-github-dark-purple: #d2a8ff;
  --color-github-dark-pink: #f778ba;
  --color-tokyo-night-background: #1a1b26;
  --color-tokyo-night-foreground: #a9b1d6;
  --color-tokyo-night-faint: #51597d;
  --color-tokyo-night-yellow: #e0af68;
  --color-tokyo-night-orange: #ff9e64;
  --color-tokyo-night-red: #f7768e;
  --color-tokyo-night-cyan: #7dcfff;
  --color-tokyo-night-green: #9ece6a;
  --color-tokyo-night-purple: #9d7cd8;
  --color-material-background: #f5f7fa;
  --color-material-selection: #5c5f77;
  --color-material-foreground: #4c4f69;
  --color-material-comment: #6c6f85;
  --color-material-cyan: #179299;
  --color-material-green: #40a02b;
  --color-material-orange: #df8e1d;
  --color-material-pink: #ea76cb;
  --color-material-purple: #7287fd;
  --color-material-red: #e64553;
  --color-material-yellow: #dc8a78;
  --color-light-one-dark-background: #f0f1f3;
  --color-light-one-dark-gray-1: #383a42;
  --color-light-one-dark-gray-2: #383a42;
  --color-light-one-dark-red: #e75545;
  --color-light-one-dark-green: #4ea24c;
  --color-light-one-dark-blue: #3d74f6;
  --color-light-one-dark-purple: #a625a4;
  --color-light-one-dark-aqua: #0084bc;
  --color-light-one-dark-yellow: #e35649;
  --color-light-one-dark-orange: #986800;
  --color-ctp-latte-background: #eff1f5;
  --color-ctp-latte-foreground: #4c4f69;
  --color-ctp-latte-faint: #8c8fa1;
  --color-ctp-latte-muted: #7c7f93;
  --color-ctp-latte-yellow: #df8e1d;
  --color-ctp-latte-orange: #fe640b;
  --color-ctp-latte-pink: #ea76cb;
  --color-ctp-latte-cyan: #179299;
  --color-ctp-latte-green: #40a02b;
  --color-ctp-latte-red: #d20f39;
  --color-ctp-latte-purple: #8839ef;
  --color-github-light-background: #f6f8fa;
  --color-github-light-red: #cf222e;
  --color-github-light-green: #0cb54f;
  --color-github-light-orange: #d96c00;
  --color-github-light-yellow: #bd8e37;
  --color-github-light-cyan: #2db7b5;
  --color-github-light-blue: #086ddd;
  --color-github-light-purple: #876be0;
  --color-github-light-pink: #c32b74;
  --color-tokyo-night-light-background: #d5d6db;
  --color-tokyo-night-light-foreground: #343b59;
  --color-tokyo-night-light-faint: #9699a3;
  --color-tokyo-night-light-yellow: #8f5e15;
  --color-tokyo-night-light-orange: #965027;
  --color-tokyo-night-light-red: #8c4351;
  --color-tokyo-night-light-cyan: #166775;
  --color-tokyo-night-light-green: #33635c;
  --color-tokyo-night-light-purple: #41315f;
  --background-primary: var(--color-base-00);
  --background-primary-alt: var(--color-base-00);
  --background-secondary: var(--color-base-05);
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-hover: var(--color-base-10);
  --background-modifier-border-focus: var(--color-base-20);
  --text-on-accent: var(--color-base-00);
  --color-accent: var(--color-purple);
  --interactive-normal: var(--color-base-20);
  --interactive-accent: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.9) !important;
  --text-accent-hover: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.9);
  --h1-color: var(--color-purple);
  --h2-color: var(--color-blue);
  --h3-color: var(--color-green);
  --h4-color: var(--color-yellow);
  --h5-color: var(--color-orange);
  --h6-color: var(--color-pink);
  --text-selection: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.4);
  --text-accent: var(--color-purple) !important;
  --ribbon-background: var(--color-base-00);
  --tab-container-background: var(--color-base-00);
  --titlebar-background-focused: var(--color-base-00);
  --nav-item-color: var(--text-muted);
  --nav-item-background-hover: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);
  --nav-item-background-active: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);
  --nav-item-background-selected: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);
  --nav-indetation-guide-color: var(--color-base-20);
  --tab-divider-color: var(--background-secondary);
  --tab-container-background: var(--color-base-10);
  --tab-outline-color: var(--color-base-10);
  --link-color: var(--color-purple);
  --link-external-color: var(--color-purple);
  --link-color-hover: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.9);
  --link-external-color-hover: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.9);
  --link-external-decoration: none;
  --link-external-decoration-hover: underline;
  --checkbox-marker-color: var(--color-green);
  --checkbox-color: var(--color-base-25);
  --checkbox-color-hover: var(--color-base-25);
  --checklist-done-color: var(--text-faint);
  --indentation-guide-width: 2px;
  --indentation-guide-width-active: 2px;
  --blockquote-border-thickness: 2px;
  --blockquote-border-color: var(--color-orange);
  --blockquote-font-style: italic;
  --blockquote-color: var(--text-muted);
  --list-spacing: 2px;
  --list-marker-color: var(--color-base-70);
  --list-bullet-border: 1px solid var(--color-base-05);
  --list-marker-color-collapsed: var(--color-base-60);
  --list-marker-color-hover: var(--color-purple);
  --table-border-color: var(--text-muted);
  --table-header-weight: 600;
  --tag-radius: 18px;
  --tag-color: var(--text-faint);
  --metadata-label-background-hover: var(--color-base-20);
  --metadata-property-background-active: var(--color-base-10);
  --metadata-label-background-active: var(--color-base-10);
  --scrollbar-bg: var(--color-base-00);
  --scrollbar-active-thumb-bg: var(--color-base-00);
  --scrollbar-thumb-bg: var(--color-base-00);
  --color-base-00: #0d1117;
  --color-base-05: #131922;
  --color-base-10: #19212d;
  --color-base-20: #1f2938;
  --color-base-25: #263142;
  --color-base-30: #2c394d;
  --color-base-35: #324158;
  --color-base-40: #384963;
  --color-base-50: #3e516e;
  --color-base-60: #445979;
  --color-base-70: #4a6184;
  --color-base-100: #5d79a4;
  --color-red: #ff4140;
  --color-orange: #fac79e;
  --color-yellow: #faf69c;
  --color-green: #9cfac7;
  --color-blue: #9cfaf6;
  --color-purple: #9ca0fa;
  --color-pink: #fa9ccf;
  --accent-h: 237.45;
  --accent-s: 90%;
  --accent-l: 75%;
  --text-normal: #fafbfc;
  --text-muted: #c0c0c0;
  --text-faint: #aea8ba;
  --highlight-background-color--normal: rgba(255, 213, 0, 0.01);
  --highlight-background-color-underline: #f6c90e;
  --highlight-background-color--active: rgba(250, 246, 156, 0.1);
  --highlight-background-color--active-dark: rgb(238, 232, 169, 0.1);
  --highlight-bg-purple: rgba(156, 160, 250, 0.45);
  --highlight-bg-blue: rgba(156, 250, 246, 0.45);
  --highlight-bg-green: rgba(156, 250, 199, 0.45);
  --highlight-bg-yellow: rgba(250, 246, 156, 0.45);
  --highlight-bg-orange: rgba(250, 199, 158, 0.45);
  --highlight-bg-pink: rgba(250, 156, 207, 0.45);
  --tab-background-active: var(--color-base-10);
  --blockquote-background-color: var(--color-base-10);
  --tag-background: rgba(156, 160, 250, 0.2);
  --color-base-00: #f9fafc;
  --color-base-05: #eff1f5;
  --color-base-10: #e5e8ee;
  --color-base-20: #dadfe8;
  --color-base-25: #d0d6e1;
  --color-base-30: #c5ccdb;
  --color-base-40: #bbc3d4;
  --color-base-50: #b0bace;
  --color-base-60: #a6b1c7;
  --color-base-70: #9ba8c1;
  --color-red: #f6535a;
  --color-orange: #f37c1d;
  --color-yellow: #c0b90a;
  --color-green: #0bd065;
  --color-blue: #0bd0c8;
  --color-purple: #8c90f9;
  --color-pink: #fa9ccf;
  --text-normal: #0d1117;
  --text-muted: #747474;
  --text-faint: #8d8d8d;
  --highlight-background-color--normal: rgba(255, 213, 0, 0.15);
  --highlight-background-color-underline: #ffd500;
  --highlight-background-color--active: rgba(250, 246, 156, 0.2);
  --highlight-background-color--active-dark: rgb(238, 232, 169, 0.1);
  --highlight-bg-purple: rgba(140, 144, 249, 0.45);
  --highlight-bg-blue: rgba(11, 208, 200, 0.45);
  --highlight-bg-green: rgba(11, 208, 101, 0.45);
  --highlight-bg-yellow: rgba(192, 185, 10, 0.45);
  --highlight-bg-orange: rgba(243, 124, 29, 0.45);
  --highlight-bg-pink: rgba(250, 156, 207, 0.45);
  --tab-background-active: var(--color-base-05);
  --blockquote-background-color: var(--color-base-05);
  --tag-background: var(--color-base-10);
  --icon-color: var(--icon-color);
  --icon-color: var(--color-purple);
  --icon-color: var(--color-yellow);
  --icon-color: var(--color-pink);
  --icon-color: var(--color-green);
  --icon-color: var(--color-orange);
  --icon-color: var(--color-blue);
  --accent-h: 237.45;
  --accent-s: 90%;
  --accent-l: 80%;
  --interactive-accent: var(--color-purple) !important;
  --link-color: var(--color-purple);
  --link-external-color: var(--color-purple);
  --accent-h: 57.45;
  --accent-s: 90%;
  --accent-l: 80%;
  --interactive-accent: var(--color-yellow) !important;
  --link-color: var(--color-yellow);
  --link-external-color: var(--color-yellow);
  --accent-h: 327.45;
  --accent-s: 90%;
  --accent-l: 80%;
  --interactive-accent: var(--color-pink) !important;
  --link-color: var(--color-pink);
  --link-external-color: var(--color-pink);
  --accent-h: 147.45;
  --accent-s: 90%;
  --accent-l: 80%;
  --interactive-accent: var(--color-green) !important;
  --link-color: var(--color-green);
  --link-external-color: var(--color-green);
  --accent-h: 26.74;
  --accent-s: 90%;
  --accent-l: 80%;
  --interactive-accent: var(--color-orange) !important;
  --link-color: var(--color-orange);
  --link-external-color: var(--color-orange);
  --accent-h: 177.45;
  --accent-s: 90%;
  --accent-l: 80%;
  --interactive-accent: var(--color-blue) !important;
  --link-color: var(--color-blue);
  --link-external-color: var(--color-blue);
  --accent-h: 237.8;
  --accent-s: 90%;
  --accent-l: 76%;
  --interactive-accent: var(--color-purple) !important;
  --link-color: var(--color-purple);
  --link-external-color: var(--color-purple);
  --accent-h: 57.45;
  --accent-s: 90%;
  --accent-l: 40%;
  --interactive-accent: var(--color-yellow) !important;
  --link-color: var(--color-yellow);
  --link-external-color: var(--color-yellow);
  --accent-h: 327.45;
  --accent-s: 90%;
  --accent-l: 40%;
  --interactive-accent: var(--color-pink) !important;
  --link-color: var(--color-pink);
  --link-external-color: var(--color-pink);
  --accent-h: 147.45;
  --accent-s: 90%;
  --accent-l: 40%;
  --interactive-accent: var(--color-green) !important;
  --link-color: var(--color-green);
  --link-external-color: var(--color-green);
  --accent-h: 26.74;
  --accent-s: 90%;
  --accent-l: 50%;
  --interactive-accent: var(--color-orange) !important;
  --link-color: var(--color-orange);
  --link-external-color: var(--color-orange);
  --accent-h: 177.45;
  --accent-s: 90%;
  --accent-l: 40%;
  --interactive-accent: var(--color-blue) !important;
  --link-color: var(--color-blue);
  --link-external-color: var(--color-blue);
  --h1-color: var(--h1-color-custom);
  --h1-color: var(--color-purple);
  --h1-color: var(--color-blue);
  --h1-color: var(--color-green);
  --h1-color: var(--color-yellow);
  --h1-color: var(--color-orange);
  --h1-color: var(--color-pink);
  --h2-color: var(--h2-color-custom);
  --h2-color: var(--color-purple);
  --h2-color: var(--color-blue);
  --h2-color: var(--color-green);
  --h2-color: var(--color-yellow);
  --h2-color: var(--color-orange);
  --h2-color: var(--color-pink);
  --h3-color: var(--h3-color-custom);
  --h3-color: var(--color-purple);
  --h3-color: var(--color-blue);
  --h3-color: var(--color-green);
  --h3-color: var(--color-yellow);
  --h3-color: var(--color-orange);
  --h3-color: var(--color-pink);
  --h4-color: var(--h4-color-custom);
  --h4-color: var(--color-purple);
  --h4-color: var(--color-blue);
  --h4-color: var(--color-green);
  --h4-color: var(--color-yellow);
  --h4-color: var(--color-orange);
  --h4-color: var(--color-pink);
  --h5-color: var(--h5-color-custom);
  --h5-color: var(--color-purple);
  --h5-color: var(--color-blue);
  --h5-color: var(--color-green);
  --h5-color: var(--color-yellow);
  --h5-color: var(--color-orange);
  --h5-color: var(--color-pink);
  --h6-color: var(--h6-color-custom);
  --h6-color: var(--color-purple);
  --h6-color: var(--color-blue);
  --h6-color: var(--color-green);
  --h6-color: var(--color-yellow);
  --h6-color: var(--color-orange);
  --h6-color: var(--color-pink);
  --bold-color: var(--bold-color-custom);
  --bold-color: var(--color-purple);
  --bold-color: var(--color-blue);
  --bold-color: var(--color-green);
  --bold-color: var(--color-yellow);
  --bold-color: var(--color-orange);
  --bold-color: var(--color-pink);
  --italic-color: var(--italic-color-custom);
  --italic-color: var(--color-purple);
  --italic-color: var(--color-blue);
  --italic-color: var(--color-green);
  --italic-color: var(--color-yellow);
  --italic-color: var(--color-orange);
  --italic-color: var(--color-pink);
  --text-highlight-bg: var(--highlight-bg-purple);
  --text-highlight-bg: var(--highlight-bg-blue);
  --text-highlight-bg: var(--highlight-bg-green);
  --text-highlight-bg: var(--highlight-bg-yellow);
  --text-highlight-bg: var(--highlight-bg-orange);
  --text-highlight-bg: var(--highlight-bg-pink);
  --blockquote-style: italic;
  --code-background: var(--color-dracula-background);
  --code-normal: var(--color-dracula-foreground);
  --code-comment: var(--color-dracula-comment);
  --code-function: var(--color-dracula-green);
  --code-important: var(--color-dracula-red);
  --code-keyword: var(--color-dracula-pink);
  --code-operator: var(--color-dracula-foreground);
  --code-property: var(--color-dracula-orange);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-dracula-yellow);
  --code-tag: var(--color-dracula-red);
  --code-value: var(--color-dracula-purple);
  --code-background: var(--color-dark-one-dark-background);
  --code-comment: var(--color-dark-one-dark-gray-1);
  --code-function: var(--color-dark-one-dark-blue);
  --code-important: var(--color-dark-one-dark-red);
  --code-keyword: var(--color-dark-one-dark-purple);
  --code-operator: var(--color-dark-one-dark-aqua);
  --code-property: var(--color-dark-one-dark-orange);
  --code-punctuation: var(--color-dark-one-dark-gray-2);
  --code-string: var(--color-dark-one-dark-green);
  --code-tag: var(--color-dark-one-dark-yellow);
  --code-value: var(--color-dark-one-dark-blue);
  --code-background: var(--color-ctp-frappe-background);
  --code-normal: var(--color-ctp-frappe-foreground);
  --code-comment: var(--color-ctp-frappe-faint);
  --code-function: var(--color-ctp-frappe-yellow);
  --code-important: var(--color-ctp-frappe-orange);
  --code-keyword: var(--color-ctp-frappe-pink);
  --code-property: var(--color-ctp-frappe-cyan);
  --code-punctuation: var(--color-ctp-frappe-muted);
  --code-string: var(--color-ctp-frappe-green);
  --code-tag: var(--color-ctp-frappe-red);
  --code-value: var(--color-ctp-frappe-purple);
  --code-background: var(--color-ctp-macchiato-background);
  --code-normal: var(--color-ctp-macchiato-foreground);
  --code-comment: var(--color-ctp-macchiato-faint);
  --code-function: var(--color-ctp-macchiato-yellow);
  --code-important: var(--color-ctp-macchiato-orange);
  --code-keyword: var(--color-ctp-macchiato-pink);
  --code-property: var(--color-ctp-macchiato-cyan);
  --code-punctuation: var(--color-ctp-macchiato-muted);
  --code-string: var(--color-ctp-macchiato-green);
  --code-tag: var(--color-ctp-macchiato-red);
  --code-value: var(--color-ctp-macchiato-purple);
  --code-background: var(--color-ctp-mocha-background);
  --code-normal: var(--color-ctp-mocha-foreground);
  --code-comment: var(--color-ctp-mocha-faint);
  --code-function: var(--color-ctp-mocha-yellow);
  --code-important: var(--color-ctp-mocha-orange);
  --code-keyword: var(--color-ctp-mocha-pink);
  --code-property: var(--color-ctp-mocha-cyan);
  --code-punctuation: var(--color-ctp-mocha-muted);
  --code-string: var(--color-ctp-mocha-green);
  --code-tag: var(--color-ctp-mocha-red);
  --code-value: var(--color-ctp-mocha-purple);
  --code-background: var(--color-halcyon-background);
  --code-normal: var(--color-halcyon-cyan);
  --code-comment: var(--text-faint);
  --code-function: var(--color-halcyon-yellow);
  --code-important: var(--color-halcyon-red);
  --code-keyword: var(--color-halcyon-purple);
  --code-operator: var(--color-halcyon-orange);
  --code-property: var(--text-muted);
  --code-punctuation: var(--color-halcyon-purple);
  --code-string: var(--color-halcyon-green);
  --code-tag: var(--color-halcyon-grey-dark);
  --code-value: var(--color-halcyon-grey-dark);
  --code-background: var(--color-github-dark-background);
  --code-normal: var(--text-muted);
  --code-comment: var(--text-faint);
  --code-function: var(--color-github-dark-orange);
  --code-important: var(--color-github-dark-orange);
  --code-keyword: var(--color-github-dark-red);
  --code-property: var(--color-github-dark-blue);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-github-dark-cyan);
  --code-tag: var(--color-github-dark-red);
  --code-value: var(--color-github-dark-purple);
  --code-background: var(--color-tokyo-night-background);
  --code-normal: var(--color-tokyo-night-foreground);
  --code-comment: var(--color-tokyo-night-faint);
  --code-function: var(--color-tokyo-night-yellow);
  --code-important: var(--color-tokyo-night-orange);
  --code-keyword: var(--color-tokyo-night-purple);
  --code-operator: var(--color-tokyo-night-red);
  --code-property: var(--color-tokyo-night-cyan);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-tokyo-night-green);
  --code-tag: var(--color-tokyo-night-red);
  --code-value: var(--color-tokyo-night-purple);
  --code-background: var(--color-material-background);
  --code-normal: var(--color-material-foreground);
  --code-comment: var(--color-material-comment);
  --code-function: var(--color-material-green);
  --code-important: var(--color-material-red);
  --code-keyword: var(--color-material-pink);
  --code-operator: var(--color-material-foreground);
  --code-property: var(--color-material-orange);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-material-yellow);
  --code-tag: var(--color-material-red);
  --code-value: var(--color-material-purple);
  --code-background: var(--color-light-one-dark-background);
  --code-normal: var(--color-light-one-dark-gray-2);
  --code-comment: var(--text-muted);
  --code-function: var(--color-light-one-dark-blue);
  --code-important: var(--color-light-one-dark-red);
  --code-keyword: var(--color-light-one-dark-purple);
  --code-operator: var(--color-light-one-dark-aqua);
  --code-property: var(--color-light-one-dark-orange);
  --code-punctuation: var(--color-light-one-dark-gray-2);
  --code-string: var(--color-light-one-dark-green);
  --code-tag: var(--color-light-one-dark-yellow);
  --code-value: var(--color-light-one-dark-blue);
  --code-background: var(--color-ctp-latte-background);
  --code-normal: var(--color-ctp-latte-foreground);
  --code-comment: var(--color-ctp-latte-faint);
  --code-function: var(--color-ctp-latte-yellow);
  --code-important: var(--color-ctp-latte-orange);
  --code-keyword: var(--color-ctp-latte-pink);
  --code-property: var(--color-ctp-latte-cyan);
  --code-punctuation: var(--color-ctp-latte-muted);
  --code-string: var(--color-ctp-latte-green);
  --code-tag: var(--color-ctp-latte-red);
  --code-value: var(--color-ctp-latte-purple);
  --code-background: var(--color-github-light-background);
  --code-normal: var(--text-muted);
  --code-comment: var(--text-faint);
  --code-function: var(--color-github-light-orange);
  --code-important: var(--color-github-light-orange);
  --code-keyword: var(--color-github-light-red);
  --code-property: var(--color-github-light-blue);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-github-light-cyan);
  --code-tag: var(--color-github-light-red);
  --code-value: var(--color-github-light-purple);
  --code-background: var(--color-tokyo-night-light-background);
  --code-normal: var(--color-tokyo-night-light-foreground);
  --code-comment: var(--color-tokyo-night-light-faint);
  --code-function: var(--color-tokyo-night-light-yellow);
  --code-important: var(--color-tokyo-night-light-orange);
  --code-keyword: var(--color-tokyo-night-light-purple);
  --code-operator: var(--color-tokyo-night-light-red);
  --code-property: var(--color-tokyo-night-light-cyan);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-tokyo-night-light-green);
  --code-tag: var(--color-tokyo-night-light-red);
  --code-value: var(--color-tokyo-night-light-purple);
  --color-green: #a0fa9c;
}
