:root:root {
  --active-title-border: var(--interactive-accent);
  --background-accent: rgba(0, 0, 0, 0.08);
  --background-modifier-border: var(--text-faint);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --background-modifier-error: #3d0000;
  --background-modifier-error-hover: #470000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-form-field: var(--background-primary);
  --background-modifier-form-field-highlighted: var(--background-primary);
  --background-modifier-success: rgba(160, 232, 92, 0.08);
  --background-primary: #222527;
  --background-primary-alt: rgba(0, 0, 0, 0.08);
  --background-secondary: #1c1e21;
  --background-secondary-alt: var(--background-secondary);
  --blockquote-bg: var(--background-primary);
  --blockquote-border: var(--text-accent);
  --border-color: #1f1f20;
  --checkbox-color: var(--tag-bg);
  --checkbox-enabled: var(--file-name-color);
  --code-block: #868787;
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 5),
    calc(var(--accent-s) * 1.05),
    calc(var(--accent-l) * 1.29)
  );
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-100: #dadada;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-blue: #027aff;
  --color-blue-rgb: 2, 122, 255;
  --color-cyan: #53dfdd;
  --color-cyan-rgb: 83, 223, 221;
  --color-green: #44cf6e;
  --color-green-rgb: 68, 207, 110;
  --color-orange: #e9973f;
  --color-orange-rgb: 233, 151, 63;
  --color-pink: #fa99cd;
  --color-pink-rgb: 250, 153, 205;
  --color-purple: #a882ff;
  --color-purple-rgb: 168, 130, 255;
  --color-red: #fb464c;
  --color-red-rgb: 251, 70, 76;
  --color-yellow: #e0de71;
  --color-yellow-rgb: 224, 222, 113;
  --file-name-color: var(--text-accent);
  --font-size-footnote: 22px;
  --font-size-h1: 1.9em;
  --font-size-h2: 1.6em;
  --font-size-h3: 1.3em;
  --font-size-h4: 1.2em;
  --font-size-h5: 1.1em;
  --font-size-h6: 1em;
  --graph-line-color: rgb(48, 47, 48);
  --graph-line-on-hover: #4f565e;
  --graph-node-color: var(--text-faint);
  --graph-note-name: var(--text-normal);
  --hashtag-color: #4c535a;
  --header-before-color: #575757;
  --header-before-size-h1: 0.5em;
  --header-before-size-h2: 0.5em;
  --header-before-size-h3: 0.5em;
  --header-before-size-h4: 0.5em;
  --header-before-size-h5: 0.5em;
  --header-before-size-h6: 0.5em;
  --highlight-mix-blend-mode: darken;
  --hr-color: hsl(0, 0%, 39%);
  --inline-code: var(--text-muted);
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --interactive-accent: rgba(0, 0, 0, 0.1);
  --interactive-accent-hover: var(--text-selection);
  --interactive-accent-rgb: 72, 54, 153;
  --interactive-hover: rgba(0, 0, 0, 0.05);
  --interactive-normal: var(--background-primary);
  --interfa-color-icon: var(--interface-color-border);
  --interface-color-action: var(--text-normal);
  --interface-color-background: #415358;
  --interface-color-background-alt: var(--background-primary);
  --interface-color-border: rgba(250, 250, 250, 0.045);
  --interface-color-cross: #fc3b44;
  --interface-color-foreground: #3e3e3e;
  --interface-color-foreground-alt: var(--text-accent);
  --interface-color-pencil: #fec03e;
  --interface-color-pin: var(--text-normal);
  --interface-color-three-dots: #a0e85b;
  --line-height-footnote: 1.2em;
  --link-bg: transparent;
  --link-bg-hover: transparent;
  --link-text: var(--text-accent);
  --link-text-hover: var(--text-accent);
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --pre-code-bg: #22262a;
  --quick-switcher: var(--text-selection);
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.1);
  --scrollbar-bg: rgba(0, 0, 0, 0);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.08);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
  --tag-bg: #2f3337;
  --tag-bg-hover: #2f3337;
  --tag-text-color: #959595;
  --tag-text-hover: #959595;
  --text-accent: #9bb7c5;
  --text-accent-hover: var(--text-faint);
  --text-error: #800000;
  --text-error-hover: #990000;
  --text-faint: rgb(109, 109, 109);
  --text-highlight-bg: var(--text-selection);
  --text-muted: rgb(109, 109, 109);
  --text-normal: #959595;
  --text-on-accent: var(--text-normal);
  --text-selection: rgba(60, 68, 76, 0.5);
  --text-title-font-weight: 600;
  --text-title-h1: #9c9c9d;
  --text-title-h2: var(--text-title-h1);
  --text-title-h3: var(--text-title-h1);
  --text-title-h4: var(--text-title-h1);
  --text-title-h5: var(--text-title-h1);
  --text-title-h6: var(--text-title-h1);
  --ul-line-color: #777;
  --ul-line-specs: 0.9px solid;
  --vim-cursor: #474949;
  color-scheme: dark;
}
