:root:root {
  --background-primary: #222527;
  --background-primary-alt: rgba(0, 0, 0, 0.08);
  --background-secondary: #1c1e21;
  --background-secondary-alt: var(--background-secondary);
  --background-accent: rgba(0, 0, 0, 0.08);
  --background-modifier-border: var(--text-faint);
  --background-modifier-form-field: var(--background-primary);
  --background-modifier-form-field-highlighted: var(--background-primary);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: rgba(160, 232, 92, 0.08);
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #9bb7c5;
  --text-accent-hover: var(--text-faint);
  --text-normal: #959595;
  --text-muted: rgb(109, 109, 109);
  --text-faint: rgb(109, 109, 109);
  --text-error: #800000;
  --text-error-hover: #990000;
  --text-highlight-bg: var(--text-selection);
  --text-selection: rgba(60, 68, 76, 0.5);
  --text-on-accent: var(--text-normal);
  --interactive-normal: var(--background-primary);
  --interactive-hover: rgba(0, 0, 0, 0.05);
  --interactive-accent: rgba(0, 0, 0, 0.1);
  --interactive-accent-rgb: 72, 54, 153;
  --interactive-accent-hover: var(--text-selection);
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.1);
  --scrollbar-bg: rgba(0, 0, 0, 0);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.08);
  --graph-note-name: var(--text-normal);
  --graph-node-color: var(--text-faint);
  --graph-line-color: rgb(48, 47, 48);
  --graph-line-on-hover: #4f565e;
  --hashtag-color: #4c535a;
  --border-color: #1f1f20;
  --blockquote-border: var(--text-accent);
  --pre-code-bg: #22262a;
  --code-block: #868787;
  --file-name-color: var(--text-accent);
  --inline-code: var(--text-muted);
  --interfa-color-icon: var(--interface-color-border);
  --interface-color-action: var(--text-normal);
  --interface-color-background-alt: var(--background-primary);
  --interface-color-border: rgba(250, 250, 250, 0.045);
  --interface-color-foreground-alt: var(--text-accent);
  --interface-color-pin: var(--text-normal);
  --quick-switcher: var(--text-selection);
  --text-title-h1: #9c9c9d;
  --text-title-h2: var(--text-title-h1);
  --text-title-h3: var(--text-title-h1);
  --text-title-h4: var(--text-title-h1);
  --text-title-h5: var(--text-title-h1);
  --text-title-h6: var(--text-title-h1);
  --ul-line-color: #777;
  --link-text: var(--text-accent);
  --link-bg: transparent;
  --link-text-hover: var(--text-accent);
  --link-bg-hover: transparent;
  --hashtag-color: #4c535a;
  --tag-text-color: #959595;
  --tag-bg: #2f3337;
  --tag-text-hover: #959595;
  --tag-bg-hover: #2f3337;
  --interface-color-cross: #fc3b44;
  --interface-color-pencil: #fec03e;
  --interface-color-three-dots: #a0e85b;
  --interface-color-background: #415358;
  --interface-color-foreground: #3e3e3e;
  --font-size-footnote: 22px;
  --font-size-h1: 1.9em;
  --font-size-h2: 1.6em;
  --font-size-h3: 1.3em;
  --font-size-h4: 1.2em;
  --font-size-h5: 1.1em;
  --font-size-h6: 1em;
  --header-before-size-h1: 0.5em;
  --header-before-size-h2: 0.5em;
  --header-before-size-h3: 0.5em;
  --header-before-size-h4: 0.5em;
  --header-before-size-h5: 0.5em;
  --header-before-size-h6: 0.5em;
  --text-title-font-weight: 600;
  --line-height-footnote: 1.2em;
  --ul-line-specs: 0.9px solid;
  --vim-cursor: #474949;
  --header-before-color: #575757;
  --blockquote-bg: var(--background-primary);
  --checkbox-color: var(--tag-bg);
  --checkbox-enabled: var(--file-name-color);
  --active-title-border: var(--interactive-accent);
  --hr-color: hsl(0, 0%, 39%);

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
