.ivory-light {
  --subtext1: 97, 92, 132;
  --overlay2: 86, 100, 122;
  --overlay1: 152, 147, 165;
  --subtext0: 108, 111, 133;
  --text: 86, 100, 122;
}

.ivory-light {
  --overlay0: 231, 215, 198;
  --surface2: 231, 215, 198;
  --surface1: 209, 201, 194;
  --surface0: 233, 204, 176;
  --exterior: 242, 226, 209;
  --side: 235, 225, 206;
  --base: 242, 226, 209;
}

.ivory-light {
  --lily: 208, 109, 108;
  --red: 215, 67, 72;
  --rose: 219, 75, 146;
  --violet: 152, 88, 185;
  --blue: 50, 145, 207;
  --sea: 16, 103, 78;
  --cyan: 4, 165, 229;
  --turquoise: 56, 126, 127;
  --green: 63, 130, 48;
  --yellow: 228, 147, 32;
  --lemon: 195, 173, 87;
  --orange: 211, 126, 17;
}
