:root,
body {
  --h1-color: var(--text-normal) !important;
  --h2-color: var(--text-normal) !important;
  --h3-color: var(--text-normal) !important;
  --h4-color: var(--text-normal) !important;
  --h5-color: var(--text-normal) !important;
  --h6-color: var(--text-normal) !important;
}
