body {
  --nav-item-color: currentColor;
  --nav-item-color-hover: currentColor;
  --nav-item-color-active: currentColor;
  --nav-item-color-selected: currentColor;
  --nav-item-color-highlighted: currentColor;
}
