body:not() .nav-folder-title-content:not(:nth-child(1)) {
  font-weight: var(--font-semibold);
  color: var(--mu-folder-text-color);
}
body {
  --nav-item-color: currentColor;
  --nav-item-color-hover: currentColor;
  --nav-item-color-active: currentColor;
  --nav-item-color-selected: currentColor;
  --nav-item-color-highlighted: currentColor;
}
