.w95-scheme-marine,
.theme-light.w95-scheme-marine {
  --background-primary: #83beb5;
  --background-secondary: #83beb5;
  --border-highlight: #c5dfd5;
  --border-shadow: #7b8a84;
  --scrollbar-track: #aad6d0;
  --scrollbar-thumb: #9edcd2;
  --nav-item-background-active: #00147b;
  --interactive-accent: #00147b;
  --background-editor-primary: #c5dfd5;
}
