.anp-colorful-frame.anp-card-layout:not(
    .anp-card-layout-filebrowser
  ).anp-colorful-frame-icon-toggle-light.theme-light
  .workspace-leaf-content[data-type="file-explorer"],
.anp-colorful-frame.anp-card-layout:not(
    .anp-card-layout-filebrowser
  ).anp-colorful-frame-icon-toggle-dark.theme-dark
  .workspace-leaf-content[data-type="file-explorer"] {
  --tab-text-color: var(--text-normal);
  --tab-text-color-focused: var(--text-normal);
  --tab-text-color-focused-active: var(--text-normal);
  --tab-text-color-focused-highlighted: var(--text-normal);
  --tab-text-color-focused-active-current: var(--text-normal);
  --icon-color: var(--text-normal);
  --icon-color-hover: var(--text-normal);
  --icon-color-active: var(--text-normal);
  --icon-color-focused: var(--text-normal);
}
