body.anp-card-layout.anp-card-layout-filebrowser
  .workspace-leaf-content[data-type="file-explorer"] {
  border-radius: var(--anp-card-radius, var(--radius-xl));
  background-color: var(--card-foreground-color);
  border: 1px solid var(--tab-outline-color);
  margin-bottom: var(--anp-card-layout-padding, 10px);
}

body.anp-card-layout.anp-card-shadows.anp-card-layout-filebrowser
  .workspace-split
  .workspace-leaf-content[data-type="file-explorer"] {
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.05);
}
