body :is(.cm-header) + .cm-widgetBuffer + .cm-html-embed > sup {
  background-color: var(--text-accent-hover);
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  line-height: calc(var(--paragraph-spacing) + 0.7);
  margin-left: 0.5em;
  letter-spacing: 0.1em;
  font-family: var(--font-default);
}
body :is(.cm-header) + .cm-widgetBuffer + .cm-html-embed > sub {
  background-color: var(--simple-orange);
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  line-height: calc(var(--paragraph-spacing) + 0.7);
  margin-left: 0.5em;
  letter-spacing: 0.1em;
  font-family: var(--font-default);
}
body
  :is(.markdown-preview-view, .markdown-rendered)
  :is(h1, h2, h3, h4, h5, h6)
  sup {
  background-color: var(--text-accent-hover);
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  margin-left: 0.5em;
  letter-spacing: 0.1em;
  margin-top: -0.2em;
  line-height: calc(var(--line-height-main) - 0.7);
}
body
  :is(.markdown-preview-view, .markdown-rendered)
  :is(h1, h2, h3, h4, h5, h6)
  sub {
  background-color: var(--simple-orange);
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  margin-left: 0.5em;
  letter-spacing: 0.1em;
  margin-top: -0.2em;
  line-height: calc(var(--line-height-main) - 0.7);
}
body
  :is(.markdown-preview-view, .markdown-rendered)
  :is(h1, h2, h3, h4, h5, h6)
  :is(sub, sup)
  > .tag:not(.token) {
  padding: 0;
  background-color: transparent;
}
body .cm-s-obsidian .cm-header ~ span.cm-hashtag {
  font-size: calc(var(--font-size-tag) - 0.3em) !important;
  vertical-align: top;
}
body
  .cm-s-obsidian
  .cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-header,
body .cm-s-obsidian .cm-hashtag.cm-header {
  vertical-align: top;
}
body
  :is(.markdown-preview-view, .markdown-rendered)
  :is(h1, h2, h3, h4, h5, h6)
  > .tag:not(.token) {
  font-size: calc(var(--font-size-tag) - 0.3em);
  vertical-align: top;
}
body
  .cm-s-obsidian
  .cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-header,
body .cm-s-obsidian .cm-hashtag.cm-header {
  vertical-align: top;
}
