:root:root {
  --background-primary: #282a36;
  --background-primary-alt: #44475a;
  --background-secondary: #44475a;
  --background-secondary-alt: #282a36;
  --background-accent: #f8f8f2;
  --background-modifier-border: #f8f8f2;
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #50fa7b;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #ffb86c;
  --text-accent-hover: #8be9fd;
  --text-normal: #f8f8f2;
  --text-muted: #f8f8f2;
  --text-faint: #bd93f9;
  --text-highlight-bg: #ff5555;
  --text-error: #ff79c6;
  --text-error-hover: #ff79c6;
  --text-selection: #6272a4;
  --text-on-accent: #bd93f9;
  --interactive-normal: #ffb86c;
  --interactive-hover: #ff5555;
  --interactive-accent: #ffb86c;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #ff5555;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --text-title-h1: #ff79c6;
  --text-title-h2: #bd93f9;
  --text-title-h3: #ff5555;
  --text-title-h4: #ffb86c;
  --text-title-h5: #50fa7b;
  --text-title-h6: #8be9fd;
  --inline-code: #bd93f9;
  --code-block: #8be9fd;
  --pre-code: #44475a;
  --blockquote-border: #ffb86c;
  --vim-cursor: #ff5555;
  --border-color: #2b2727;
}
