body.default-theme {
  --background-primary: #e4ddd3;
  --background-secondary: #eae4dd;
  --interactive-normal: #f1ece5;
  --text-normal: #333;
  --background-modifier-border: var(--border-size) var(--border-style) #796e6e47;
  --hr-color: #796e6e47;
  --table-border-color: #796e6e47;
  --canvas-dot-pattern: #796e6e47;
}
