@use "../variables.scss" as *;

:root {
  color-scheme: light dark;
  font-size: 16px;
}

:root:root {
  --light: #d4d4d4 !important;
  --gray: #5a5a5a !important;
  --darkgray: #5a5a5a !important;
  --highlight: #a3a300 !important;
  --secondary: #1b6fe4 !important;
  --tertiary: #52a300 !important;
  --lightgray: #989898 !important;
  --dark: #222222 !important;
}
:root:root[saved-theme="dark"] {
  --light: #313539 !important;
  --gray: #d0d4d9 !important;
  --darkgray: #d0d4d9 !important;
  --highlight: #a3a300 !important;
  --secondary: #2b79e6 !important;
  --tertiary: #52a300 !important;
  --lightgray: #8e949d !important;
  --dark: #d8dce3 !important;
}

html {
  &[saved-theme="light"] {
    color-scheme: light;
    .callout[data-callout] {
      mix-blend-mode: darken;
    }
  }
  &[saved-theme="dark"] {
    color-scheme: dark;
    .callout[data-callout] {
      mix-blend-mode: lighten;
    }
  }
}

@font-face {
  font-family: "Linux Libertine";
  font-style: normal;
  font-weight: 400;
  src:
    local("Linux Libertine"),
    url("https://fonts.cdnfonts.com/s/282/LinLibertine_Re-4.1_.8_.woff")
      format("woff");
}
@font-face {
  font-family: "Linux Libertine";
  font-style: italic;
  font-weight: 400;
  src:
    local("Linux Libertine"),
    url("https://fonts.cdnfonts.com/s/282/LinLibertine_It-4.0_.3_.woff")
      format("woff");
}
@font-face {
  font-family: "Linux Libertine";
  font-style: normal;
  font-weight: 700;
  src:
    local("Linux Libertine"),
    url("https://fonts.cdnfonts.com/s/282/LinLibertine_Bd-4.0_.2_.woff")
      format("woff");
}
@font-face {
  font-family: "Linux Libertine";
  font-style: italic;
  font-weight: 700;
  src:
    local("Linux Libertine"),
    url("https://fonts.cdnfonts.com/s/282/LinLibertine_BI-4.0_.3_.woff")
      format("woff");
}
@font-face {
  font-family: "Linux Libertine C";
  font-style: normal;
  font-weight: 400;
  src:
    local("Linux Libertine C"),
    url("https://fonts.cdnfonts.com/s/282/LinLibertineC_Re-4.0_.1_.woff")
      format("woff");
}

body {
  &[data-slug] {
    background: light-dark(rgb(246, 246, 246), rgb(39, 40, 43));
    background-color: light-dark(rgb(255, 255, 255), rgb(30, 31, 33));
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout {
    --callout-color: 0, 105, 224;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout .callout-title {
    border-radius: 0px;
    color: rgb(0, 105, 224);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout .callout-title > .callout-title-inner > p {
    color: rgb(0, 105, 224);
    font-weight: 400;
  }

  .callout > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="abstract"] {
    --callout-color: 0, 194, 97;
    background-color: rgba(0, 194, 97, 0.1);
    border-color: rgba(0, 194, 97, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="abstract"] .callout-title {
    border-radius: 0px;
    color: rgb(0, 194, 97);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout[data-callout="abstract"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="abstract"] .callout-title > .callout-title-inner > p {
    color: rgb(0, 194, 97);
    font-weight: 400;
  }

  .callout[data-callout="abstract"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="bug"] {
    --callout-color: 232, 51, 51;
    background-color: rgba(232, 51, 51, 0.1);
    border-color: rgba(232, 51, 51, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="bug"] .callout-title {
    border-radius: 0px;
    color: rgb(232, 51, 51);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout[data-callout="bug"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="bug"] .callout-title > .callout-title-inner > p {
    color: rgb(232, 51, 51);
    font-weight: 400;
  }

  .callout[data-callout="bug"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="danger"] {
    --callout-color: 232, 51, 51;
    background-color: rgba(232, 51, 51, 0.1);
    border-color: rgba(232, 51, 51, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="danger"] .callout-title {
    border-radius: 0px;
    color: rgb(232, 51, 51);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout[data-callout="danger"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="danger"] .callout-title > .callout-title-inner > p {
    color: rgb(232, 51, 51);
    font-weight: 400;
  }

  .callout[data-callout="danger"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="example"] {
    --callout-color: 81, 0, 194;
    background-color: rgba(81, 0, 194, 0.1);
    border-color: rgba(81, 0, 194, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="example"] .callout-title {
    border-radius: 0px;
    color: rgb(81, 0, 194);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout[data-callout="example"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="example"] .callout-title > .callout-title-inner > p {
    color: rgb(81, 0, 194);
    font-weight: 400;
  }

  .callout[data-callout="example"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="failure"] {
    --callout-color: 232, 51, 51;
    background-color: rgba(232, 51, 51, 0.1);
    border-color: rgba(232, 51, 51, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="failure"] .callout-title {
    border-radius: 0px;
    color: rgb(232, 51, 51);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout[data-callout="failure"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="failure"] .callout-title > .callout-title-inner > p {
    color: rgb(232, 51, 51);
    font-weight: 400;
  }

  .callout[data-callout="failure"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="info"] {
    --callout-color: 0, 105, 224;
    background-color: light-dark(rgb(248, 249, 250), rgb(36, 38, 41));
    border-color: light-dark(rgb(162, 169, 177), rgba(218, 225, 234, 0.192));
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="info"] .callout-title {
    border-radius: 0px;
    color: rgb(0, 105, 224);
    gap: 4px;
    padding: 3.2px;
  }

  .callout[data-callout="info"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="info"] .callout-title > .callout-title-inner > p {
    color: rgb(0, 105, 224);
    font-weight: 400;
  }

  .callout[data-callout="info"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="note"] {
    --callout-color: 0, 105, 224;
    background-color: rgba(0, 105, 224, 0.1);
    border-color: rgba(0, 105, 224, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="note"] .callout-title {
    border-radius: 0px;
    color: rgb(0, 105, 224);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout[data-callout="note"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="note"] .callout-title > .callout-title-inner > p {
    color: rgb(0, 105, 224);
    font-weight: 400;
  }

  .callout[data-callout="note"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="question"] {
    --callout-color: 230, 111, 0;
    background-color: rgba(230, 111, 0, 0.1);
    border-color: rgba(230, 111, 0, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="question"] .callout-title {
    border-radius: 0px;
    color: rgb(230, 111, 0);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout[data-callout="question"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="question"] .callout-title > .callout-title-inner > p {
    color: rgb(230, 111, 0);
    font-weight: 400;
  }

  .callout[data-callout="question"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="quote"] {
    --callout-color: 110, 110, 110;
    background-color: rgba(110, 110, 110, 0.1);
    border-color: rgba(110, 110, 110, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="quote"] .callout-title {
    border-radius: 0px;
    color: rgb(110, 110, 110);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout[data-callout="quote"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="quote"] .callout-title > .callout-title-inner > p {
    color: rgb(110, 110, 110);
    font-weight: 400;
  }

  .callout[data-callout="quote"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="success"] {
    --callout-color: 97, 194, 0;
    background-color: rgba(97, 194, 0, 0.1);
    border-color: rgba(97, 194, 0, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="success"] .callout-title {
    border-radius: 0px;
    color: rgb(97, 194, 0);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout[data-callout="success"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="success"] .callout-title > .callout-title-inner > p {
    color: rgb(97, 194, 0);
    font-weight: 400;
  }

  .callout[data-callout="success"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="tip"] {
    --callout-color: 0, 194, 97;
    background-color: rgba(0, 194, 97, 0.1);
    border-color: rgba(0, 194, 97, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="tip"] .callout-title {
    border-radius: 0px;
    color: rgb(0, 194, 97);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout[data-callout="tip"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="tip"] .callout-title > .callout-title-inner > p {
    color: rgb(0, 194, 97);
    font-weight: 400;
  }

  .callout[data-callout="tip"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="todo"] {
    --callout-color: 0, 105, 224;
    background-color: rgba(0, 105, 224, 0.1);
    border-color: rgba(0, 105, 224, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="todo"] .callout-title {
    border-radius: 0px;
    color: rgb(0, 105, 224);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout[data-callout="todo"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="todo"] .callout-title > .callout-title-inner > p {
    color: rgb(0, 105, 224);
    font-weight: 400;
  }

  .callout[data-callout="todo"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="warning"] {
    --callout-color: 230, 111, 0;
    background-color: rgba(230, 111, 0, 0.1);
    border-color: rgba(230, 111, 0, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    mix-blend-mode: lighten;
    padding: 3.2px;
  }

  .callout[data-callout="warning"] .callout-title {
    border-radius: 0px;
    color: rgb(230, 111, 0);
    gap: 4px;
    padding: 3.2px 6.4px;
  }

  .callout[data-callout="warning"] .callout-title .callout-icon {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    background-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .callout[data-callout="warning"] .callout-title > .callout-title-inner > p {
    color: rgb(230, 111, 0);
    font-weight: 400;
  }

  .callout[data-callout="warning"] > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .data-footnote-backref {
    color: light-dark(rgb(152, 152, 152), rgb(142, 148, 157));
    text-decoration: none solid rgb(142, 148, 157);
  }

  .explorer .explorer-content {
    background-color: light-dark(rgb(246, 246, 246), rgb(39, 40, 43));
  }

  .explorer .explorer-content li:has(> .folder-outer.open) > .folder-container {
    color: light-dark(rgb(90, 90, 90), rgb(208, 212, 217));
    cursor: default;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    text-decoration: none solid rgb(208, 212, 217);
  }

  .explorer
    .explorer-content
    li:has(> .folder-outer:not(.open))
    > .folder-container {
    color: light-dark(rgb(90, 90, 90), rgb(208, 212, 217));
    cursor: default;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    text-decoration: none solid rgb(208, 212, 217);
  }

  .explorer .explorer-content ul.explorer-ul li a {
    color: light-dark(rgb(90, 90, 90), rgb(208, 212, 217));
    cursor: default;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    text-decoration: none solid rgb(208, 212, 217);
  }

  .explorer .explorer-content ul.explorer-ul li:has(> .active) {
    background-color: light-dark(
      rgba(0, 0, 0, 0.067),
      rgba(255, 255, 255, 0.067)
    );
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: default;
  }

  .graph .graph-outer {
    border-color: light-dark(rgb(162, 169, 177), rgba(218, 225, 234, 0.192));
  }

  .graph > .global-graph-outer {
    -webkit-backdrop-filter: blur(4px) brightness(0.4);
    backdrop-filter: blur(4px) brightness(0.4);
  }

  .graph > .global-graph-outer > .global-graph-container {
    background-color: transparent;
    border-color: light-dark(rgb(162, 169, 177), rgba(218, 225, 234, 0.192));
  }

  .katex > .katex-html {
    font-family: MJXZERO, MJXTEX;
  }

  .katex-display > .katex {
    display: block;
    font:
      16px / 0px Arial,
      Archivo,
      sans-serif;
    text-align: center;
    white-space: normal;
  }

  .katex-display > .katex > .katex-html {
    font-family: Arial, Archivo, sans-serif;
  }

  .page > #quartz-body {
    background-color: light-dark(rgb(255, 255, 255), rgb(30, 31, 33));
  }

  .page > #quartz-body .left.sidebar {
    background-color: light-dark(rgb(246, 246, 246), rgb(39, 40, 43));
    border-color: light-dark(rgb(162, 169, 177), rgba(218, 225, 234, 0.192));
    border-right-width: 1px;
  }

  .page > #quartz-body .right.sidebar {
    background-color: light-dark(rgb(246, 246, 246), rgb(39, 40, 43));
    border-color: light-dark(rgb(162, 169, 177), rgba(218, 225, 234, 0.192));
    border-left-width: 1px;
  }

  .page > #quartz-body .sidebar.left:has(.explorer) {
    background-color: light-dark(rgb(246, 246, 246), rgb(39, 40, 43));
  }

  .page > #quartz-body div.center {
    max-width: calc(100% - 40px);
    min-width: calc(100% - 40px);
    padding-left: 10px;
    padding-right: 10px;
  }

  .page article li:has(> input[type="checkbox"]:checked) {
    color: light-dark(rgb(90, 90, 90), rgb(208, 212, 217));
    text-decoration: line-through solid rgb(208, 212, 217);
    text-decoration-color: rgb(208, 212, 217);
  }

  .page article p > b,
  b {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: auto;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    outline: rgb(216, 220, 227) none 0px;
    text-decoration: none solid rgb(216, 220, 227);
    text-decoration-color: rgb(216, 220, 227);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .page article p > em,
  em {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: auto;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    outline: rgb(216, 220, 227) none 0px;
    text-decoration: none solid rgb(216, 220, 227);
    text-decoration-color: rgb(216, 220, 227);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .page article p > i,
  i {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: auto;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    outline: rgb(216, 220, 227) none 0px;
    text-decoration: none solid rgb(216, 220, 227);
    text-decoration-color: rgb(216, 220, 227);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .page article p > s,
  s {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: auto;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    outline: rgb(216, 220, 227) none 0px;
    text-decoration: none solid rgb(216, 220, 227);
    text-decoration-color: rgb(216, 220, 227);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .page article p > strong > em,
  strong > em {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: auto;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 600;
    outline: rgb(216, 220, 227) none 0px;
    text-decoration: none solid rgb(216, 220, 227);
    text-decoration-color: rgb(216, 220, 227);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .page article p > strong,
  strong {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: auto;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 600;
    outline: rgb(216, 220, 227) none 0px;
    text-decoration: none solid rgb(216, 220, 227);
    text-decoration-color: rgb(216, 220, 227);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .page article p > u,
  u {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: auto;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    outline: rgb(216, 220, 227) none 0px;
    text-decoration: none solid rgb(216, 220, 227);
    text-decoration-color: rgb(216, 220, 227);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .popover .popover-inner {
    background-color: light-dark(rgb(255, 255, 255), rgb(30, 31, 33));
    border-color: light-dark(rgb(162, 169, 177), rgba(218, 225, 234, 0.192));
  }

  .search > .search-button {
    background-color: light-dark(rgb(255, 255, 255), rgb(47, 49, 53));
    border: 1px solid rgba(218, 225, 234, 0.192);
    border-color: light-dark(rgb(162, 169, 177), rgba(218, 225, 234, 0.192));
    border-radius: 0px;
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    font-family: Arial, Archivo, sans-serif;
  }

  .search > .search-container > .search-space {
    background-color: light-dark(rgb(255, 255, 255), rgb(30, 31, 33));
    border: 1px solid rgb(50, 52, 60);
    border-radius: 0px;
    box-shadow:
      rgba(0, 0, 0, 0.07) 0px 1.8px 7.3px 0px,
      rgba(0, 0, 0, 0.114) 0px 6.3px 24.7px 0px,
      rgba(0, 0, 0, 0.2) 0px 30px 90px 0px;
  }

  .search > .search-container > .search-space > * {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: auto;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    outline: rgb(216, 220, 227) none 0px;
    text-decoration: none solid rgb(216, 220, 227);
    text-decoration-color: rgb(216, 220, 227);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card {
    border-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:hover
    .card-title,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:hover
    .card-description,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:focus
    .card-title,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:focus
    .card-description,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card.focus:not(:has(~ .result-card:hover, ~ .result-card:focus))
    .card-title,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card.focus:not(:has(~ .result-card:hover, ~ .result-card:focus))
    .card-description {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:hover,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:focus,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card.focus:not(:has(~ .result-card:hover, ~ .result-card:focus)) {
    background-color: light-dark(
      rgba(0, 0, 0, 0.067),
      rgba(255, 255, 255, 0.067)
    );
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    font-weight: 400;
  }

  .search > .search-container > .search-space > .search-layout,
  .search > .search-container > .search-space > .search-layout.display-results {
    border-color: light-dark(rgb(189, 189, 189), rgb(50, 52, 60));
  }

  .search > .search-container > .search-space > input {
    background-color: light-dark(rgb(255, 255, 255), rgb(30, 31, 33));
    border: unset;
    border-bottom: 1px solid rgb(39, 40, 43);
    border-radius: 0px;
    box-shadow: none;
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card:has(
      ~ .result-card.focus:not(
          :has(~ .result-card:hover, ~ .result-card:focus)
        ),
      ~ .result-card:focus,
      ~ .result-card:hover
    ) {
    background-color: light-dark(
      rgba(0, 0, 0, 0.067),
      rgba(255, 255, 255, 0.067)
    );
    border-radius: 0px;
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card:hover,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card:focus,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card.focus:not(:has(~ .result-card:hover, ~ .result-card:focus)) {
    background-color: light-dark(
      rgba(0, 0, 0, 0.067),
      rgba(255, 255, 255, 0.067)
    );
    border-radius: 0px;
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  .text-highlight {
    background-color: rgba(255, 208, 0, 0.4);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: auto;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    outline: rgb(216, 220, 227) none 0px;
    text-decoration: none solid rgb(216, 220, 227);
    text-decoration-color: rgb(216, 220, 227);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  ::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border: 0px none rgb(216, 220, 227);
    border-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    border-radius: 0px;
    border-width: 0px;
    box-shadow: none;
  }

  a.external {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: auto;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    outline: rgb(216, 220, 227) none 0px;
    text-decoration: none solid rgb(216, 220, 227);
    text-decoration-color: rgb(216, 220, 227);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  a.internal {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(25, 105, 217), rgb(95, 166, 236));
    cursor: pointer;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    outline: rgb(95, 166, 236) none 0px;
    text-decoration: none solid rgba(27, 111, 228, 0.3);
    text-decoration-color: rgba(27, 111, 228, 0.3);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: opacity 0.14s ease-in-out;
    user-select: text;
  }

  a.internal.tag-link,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card
    > ul
    > li
    > .match-tag {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(27, 111, 228, 0.15);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-left-color: rgba(27, 111, 228, 0.15);
    border-left-style: solid;
    border-right-color: rgba(27, 111, 228, 0.15);
    border-right-style: solid;
    border-top-color: rgba(27, 111, 228, 0.15);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    display: flex;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    margin-inline-start: 0px;
  }

  a.internal.tag-link::before {
    color: light-dark(rgb(24, 85, 205), rgb(95, 142, 236));
  }

  blockquote {
    background-color: rgba(0, 0, 0, 0);
    border-inline-start: 0px none rgb(216, 220, 227);
    font-family: Arial, Archivo, sans-serif;
    font-style: italic;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-bottom: 0px;
    padding-inline-start: 25.6px;
    padding-top: 0px;
  }

  code {
    background-color: light-dark(rgb(248, 249, 250), rgb(36, 38, 41));
    border: 1px solid rgba(255, 255, 255, 0.067);
    border-color: light-dark(rgba(0, 0, 0, 0.067), rgba(255, 255, 255, 0.067));
    border-radius: 2px;
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    font-family:
      ui-monospace, SFMono-Regular, "Cascadia Mono", "Roboto Mono",
      "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco, Consolas,
      "Source Code Pro", monospace;
    padding: 1px 4px;
  }

  code.mermaid > svg {
    fill: rgb(51, 51, 51);
    stroke: none;
  }

  del {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: auto;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    outline: rgb(216, 220, 227) none 0px;
    text-decoration: line-through solid rgb(216, 220, 227);
    text-decoration-color: rgb(216, 220, 227);
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  div#quartz-body {
    --quartz-icon-color: #d0d4d9;
  }

  div#quartz-root {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    font-family: Arial, Archivo, sans-serif;
    font-size: 16px;
  }

  div.graph {
  }

  h1 {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    font-family: "Linux Libertine", Georgia, Times, serif;
    text-shadow: none;
  }

  h2 {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    font-family: Arial, Archivo, sans-serif;
    text-shadow: none;
  }

  h3 {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    font-family: Arial, Archivo, sans-serif;
    text-shadow: none;
  }

  h4 {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    font-family: Arial, Archivo, sans-serif;
    text-shadow: none;
  }

  h5 {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    font-family: Arial, Archivo, sans-serif;
    text-shadow: none;
  }

  h6 {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    font-family: Arial, Archivo, sans-serif;
    text-shadow: none;
  }

  hr {
    border: unset;
    border-color: light-dark(rgb(162, 169, 177), rgba(218, 225, 234, 0.192));
    border-style: solid none none;
    border-top: 1px solid rgba(218, 225, 234, 0.192);
    box-shadow: none;
    margin: 0px;
  }

  input[type="checkbox"] {
    appearance: none;
    border: 1px solid rgb(142, 148, 157);
    border-color: light-dark(rgb(152, 152, 152), rgb(142, 148, 157));
    border-radius: 0px;
    margin: 0px 8px 0px -24px;
    margin-inline-end: 8px;
    margin-inline-start: -24px;
    padding: 0px;
    position: relative;
    top: 2.66667px;
    transition: box-shadow 0.15s ease-in-out;
    width: 16px;
  }

  input[type="checkbox"]:checked:after {
    -webkit-mask-image: none;
    -webkit-mask-position: 0% 0%;
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: auto;
    background-color: rgba(0, 0, 0, 0);
    content: normal;
    display: block;
    inset-inline-start: 0px;
    position: relative;
    top: 0px;
    width: 1165px;
  }

  li.depth-0 {
    font-weight: 400;
  }

  li.depth-0 + li.depth-1 {
    border-inline-start: 0px solid rgba(255, 255, 255, 0.12);
    margin-inline-start: 12px;
    padding-inline-start: 4px;
  }

  li.depth-1 {
    font-weight: 400;
  }

  li.depth-1 + li.depth-2 {
    border-inline-start: 0px solid rgba(255, 255, 255, 0.12);
    margin-inline-start: 12px;
    padding-inline-start: 4px;
  }

  li.depth-2 {
    font-weight: 400;
  }

  li.depth-2 + li.depth-3 {
    border-inline-start: 0px solid rgba(255, 255, 255, 0.12);
    margin-inline-start: 12px;
    padding-inline-start: 4px;
  }

  li.depth-3 {
    font-weight: 400;
  }

  li.depth-3 + li.depth-4 {
    border-inline-start: 0px solid rgba(255, 255, 255, 0.12);
    margin-inline-start: 12px;
    padding-inline-start: 4px;
  }

  li.depth-4 {
    font-weight: 400;
  }

  li.depth-4 + li.depth-5 {
    border-inline-start: 0px solid rgba(255, 255, 255, 0.12);
    margin-inline-start: 12px;
    padding-inline-start: 4px;
  }

  li.depth-5 {
    font-weight: 400;
  }

  li.depth-5 + li.depth-6 {
    border-inline-start: 0px solid rgba(255, 255, 255, 0.12);
    margin-inline-start: 12px;
    padding-inline-start: 4px;
  }

  ol > li {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    text-align: start;
  }

  ol > li::marker {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
  }

  p {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    cursor: auto;
    filter: none;
    font-family: Arial, Archivo, sans-serif;
    font-weight: 400;
    outline: rgb(216, 220, 227) none 0px;
    text-decoration: none solid rgb(216, 220, 227);
    text-decoration-color: rgb(216, 220, 227);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  pre > code {
    background-color: rgba(0, 0, 0, 0);
    border: 0px none rgb(216, 220, 227);
    border-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    border-radius: 2px;
    overflow-x: visible;
    padding: 0px;
    white-space: pre-wrap;
  }

  pre:has(> code) {
    background-color: light-dark(rgb(248, 249, 250), rgb(36, 38, 41));
    border: 0px solid rgba(218, 225, 234, 0.192);
    border-color: light-dark(rgb(162, 169, 177), rgba(218, 225, 234, 0.192));
    border-radius: 0px;
    overflow-x: auto;
    padding: 12px 16px;
    white-space: pre-wrap;
  }

  ul > li {
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    text-align: start;
  }

  ul > li.task-list-item {
    display: list-item;
    list-style: outside none none;
    text-align: start;
  }

  ul > li::marker {
    background-color: rgba(0, 0, 0, 0);
    border: 0px none rgb(216, 220, 227);
    border-color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    border-radius: 0px;
    color: light-dark(rgb(34, 34, 34), rgb(216, 220, 227));
    content: normal;
    pointer-events: auto;
    transform: none;
    transition: all;
  }

  .search {
    & > .search-button {
      font-size: 1rem;
      svg {
        color: var(--search-icon-color, var(--text-muted, var(--darkgray)));
        stroke: var(--search-icon-color, var(--text-muted, var(--darkgray)));
      }
    }
    & > .search-container {
      & > .search-space {
        margin: 12vh auto;
        & > input {
          margin-bottom: 0;
          border-bottom: none;
          border-top-left-radius: inherit;
          border-top-right-radius: inherit;
          font-size: 1.1rem;
          &:has(+ :not(.display-results)) {
            border-radius: inherit;
          }
        }
        & > * {
          background: transparent;
          margin-bottom: 0;
          box-shadow: none;
        }
        & > .search-layout {
          &.display-results {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
          & .highlight {
            background-color: var(--quartz-text-highlight);
          }
          & > .results-container {
            & .result-card {
              @media all and not ($mobile) {
                display: flex;
                &.no-match {
                  display: block;
                }
              }
              &:has(~ .result-card:hover),
              &:has(~ .result-card:focus),
              &:has(~ .result-card.focus) {
                background-color: unset;
              }
              & > ul > li > p {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }

  .explorer {
    @media all and ($mobile) {
      &:not(.collapsed) > .explorer-content {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
      }
    }
    .explorer-content {
      .folder-container {
        --folder-closed-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 5h-8.586L9.707 3.293A.997.997 0 0 0 9 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2zM4 19V7h16l.002 12H4z"></path></svg>');
        --folder-open-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.165 19.551c.186.28.499.449.835.449h15c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 11h-1V8c0-1.103-.897-2-2-2h-6.655L8.789 4H4c-1.103 0-2 .897-2 2v13h.007a1 1 0 0 0 .158.551zM18 8v3H6c-.4 0-.762.238-.919.606L4 14.129V8h14z"></path></svg>');

        text-overflow: ellipsis;
        position: relative;

        @media all and ($mobile) {
          padding-inline-start: 0.5rem;
          padding-inline-end: 0rem;
          border-radius: 0.25rem;
        }
        & > svg {
          opacity: 0.001;
          position: absolute;
        }
        &:before {
          width: 1rem;
          height: 1rem;
          min-width: 1rem;
          min-height: 1rem;
          display: flex;
          align-self: center;
          background: var(--quartz-icon-color);
          content: "";
        }
        & > div {
          width: 100%;
        }
        &:hover {
          font-size: 1rem;
          line-height: 1.5rem;
          background-color: var(--nav-item-background-hover);
          border-radius: 0.25rem;
        }
      }
      li:has(> .folder-outer:not(.open)) > .folder-container:before {
        background: var(
          --collapse-icon-color-collapsed,
          var(--quartz-icon-color)
        );
        mask-image: var(--folder-closed-icon);
        -webkit-mask-image: var(--folder-closed-icon);
      }
      li:has(> .folder-outer.open) > .folder-container:before {
        background: var(--collapse-icon-color, var(--quartz-icon-color));
        mask-image: var(--folder-open-icon);
        -webkit-mask-image: var(--folder-open-icon);
      }
      ul.explorer-ul li {
        text-overflow: ellipsis;
        position: relative;

        a {
          display: flex;
          color: inherit;
          font-size: 1rem;
          line-height: 1.5rem;
          padding: inherit;

          &.active,
          &:not(.folder-title):hover {
            font-size: 1rem;
            line-height: 1.5rem;
            background-color: var(--nav-item-background-hover);
            border-radius: 0.25rem;
          }
          &[data-for$="/index"] {
            padding-inline-start: 0.5rem;
            padding-inline-end: 0;
          }
          padding-inline-start: 0;

          @media all and ($mobile) {
            padding-inline-start: 0.5rem;
            padding-inline-end: 0.5rem;
            &[data-for$="/index"] {
              padding-inline-end: 0.5rem;
            }
          }
        }
        > a:before {
          --file-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=""><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>');
          width: 1rem;
          height: 1rem;
          min-width: 1rem;
          min-height: 1rem;
          content: "";
          display: flex;
          align-self: center;
          background: var(--quartz-icon-color);
          mask-image: var(--file-icon);
          -webkit-mask-image: var(--file-icon);
          margin-inline-end: 0.5rem;
        }
      }
    }
  }

  /* ICONS */
  button.readermode {
    & > svg {
      display: none;
    }
    /* lucide book-open icon */
    --readermode-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWJvb2stb3Blbi1pY29uIGx1Y2lkZS1ib29rLW9wZW4iPjxwYXRoIGQ9Ik0xMiA3djE0Ii8+PHBhdGggZD0iTTMgMThhMSAxIDAgMCAxLTEtMVY0YTEgMSAwIDAgMSAxLTFoNWE0IDQgMCAwIDEgNCA0IDQgNCAwIDAgMSA0LTRoNWExIDEgMCAwIDEgMSAxdjEzYTEgMSAwIDAgMS0xIDFoLTZhMyAzIDAgMCAwLTMgMyAzIDMgMCAwIDAtMy0zeiIvPjwvc3ZnPg==");
    background: var(--quartz-icon-color) !important;
    mask-image: var(--readermode-icon);
    -webkit-mask-image: var(--readermode-icon);
    width: 24px;
    height: 24px;
  }

  button.global-graph-icon {
    & > svg {
      display: none;
    }
    /* lucide git-fork icon */
    --graph-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWdpdC1mb3JrLWljb24gbHVjaWRlLWdpdC1mb3JrIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjE4IiByPSIzIi8+PGNpcmNsZSBjeD0iNiIgY3k9IjYiIHI9IjMiLz48Y2lyY2xlIGN4PSIxOCIgY3k9IjYiIHI9IjMiLz48cGF0aCBkPSJNMTggOXYyYzAgLjYtLjQgMS0xIDFIN2MtLjYgMC0xLS40LTEtMVY5Ii8+PHBhdGggZD0iTTEyIDEydjMiLz48L3N2Zz4=");
    background: var(--quartz-icon-color) !important;
    mask-image: var(--graph-icon);
    -webkit-mask-image: var(--graph-icon);
    width: 24px;
    height: 24px;
  }

  button.darkmode {
    & > svg {
      display: none !important;
    }
    /* lucide moon icon */
    --moon-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLW1vb24taWNvbiBsdWNpZGUtbW9vbiI+PHBhdGggZD0iTTEyIDNhNiA2IDAgMCAwIDkgOSA5IDkgMCAxIDEtOS05WiIvPjwvc3ZnPg==");
    /* lucide sun icon */
    --sun-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXN1bi1pY29uIGx1Y2lkZS1zdW4iPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjQiLz48cGF0aCBkPSJNMTIgMnYyIi8+PHBhdGggZD0iTTEyIDIwdjIiLz48cGF0aCBkPSJtNC45MyA0LjkzIDEuNDEgMS40MSIvPjxwYXRoIGQ9Im0xNy42NiAxNy42NiAxLjQxIDEuNDEiLz48cGF0aCBkPSJNMiAxMmgyIi8+PHBhdGggZD0iTTIwIDEyaDIiLz48cGF0aCBkPSJtNi4zNCAxNy42Ni0xLjQxIDEuNDEiLz48cGF0aCBkPSJtMTkuMDcgNC45My0xLjQxIDEuNDEiLz48L3N2Zz4=");
    background: var(--quartz-icon-color) !important;
    width: 24px;
    height: 24px;
  }

  .explorer svg,
  button.toc-header .fold,
  .global-graph-icon,
  .readermode,
  .darkmode {
    color: var(--quartz-icon-color);
    stroke: var(--quartz-icon-color);
  }

  @media all and not ($desktop) {
    .page > #quartz-body div.sidebar.right {
      background-color: transparent;
    }
  }

  @media all and ($desktop) {
    .page > #quartz-body {
      div.center {
        min-width: calc(100% - 3rem);
        max-width: calc(100% - 3rem);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      footer {
        padding: 0 1.5rem;
      }
    }
  }

  @media all and ($tablet) {
    .page > #quartz-body {
      padding-left: 0;
      padding-right: 0;

      div.center {
        min-width: calc(100% - 3rem);
        max-width: calc(100% - 3rem);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      div.sidebar.left {
        padding-left: 2rem;
      }

      div.sidebar.right,
      footer {
        padding: 0 1.5rem;
      }
    }
  }

  @media all and ($mobile) {
    .page > #quartz-body {
      padding: 0;

      div.center {
        min-width: calc(100% - 3rem);
        max-width: calc(100% - 3rem);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      div.sidebar.left,
      div.sidebar.left:has(.explorer) {
        padding-left: 1rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
      }
      div.sidebar.right,
      footer {
        padding: 0 1.5rem;
      }

      .explorer .explorer-content {
        width: 100vw;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  .callout.is-collapsed .callout-content > :first-child {
    margin-top: -4rem;
  }
}

:root[saved-theme="light"] {
  button.darkmode {
    mask-image: var(--sun-icon);
    -webkit-mask-image: var(--sun-icon);
  }
}

:root[saved-theme="dark"] {
  button.darkmode {
    mask-image: var(--moon-icon);
    -webkit-mask-image: var(--moon-icon);
  }
}
