.nord.theme-light p > code,
.nord.theme-dark p > code,
.nord.theme-light pre:not(pre.frontmatter),
.nord.theme-dark pre:not(pre.frontmatter),
.nord.theme-dark .HyperMD-codeblock,
.nord.theme-light .HyperMD-codeblock {
  --code-background: #2e3440;
  --code-normal: #e5e9f0;
  --text-muted: #81a1c1;
  --text-faint: #81a1c1;
}
.nord.theme-light p > code .cm-comment,
.nord.theme-light p > code .cm-meta,
.nord.theme-light p > code .token.comment,
.nord.theme-light p > code .token.prolog,
.nord.theme-light p > code .token.doctype,
.nord.theme-light p > code .token.cdata,
.nord.theme-dark p > code .cm-comment,
.nord.theme-dark p > code .cm-meta,
.nord.theme-dark p > code .token.comment,
.nord.theme-dark p > code .token.prolog,
.nord.theme-dark p > code .token.doctype,
.nord.theme-dark p > code .token.cdata,
.nord.theme-light pre:not(pre.frontmatter) .cm-comment,
.nord.theme-light pre:not(pre.frontmatter) .cm-meta,
.nord.theme-light pre:not(pre.frontmatter) .token.comment,
.nord.theme-light pre:not(pre.frontmatter) .token.prolog,
.nord.theme-light pre:not(pre.frontmatter) .token.doctype,
.nord.theme-light pre:not(pre.frontmatter) .token.cdata,
.nord.theme-dark pre:not(pre.frontmatter) .cm-comment,
.nord.theme-dark pre:not(pre.frontmatter) .cm-meta,
.nord.theme-dark pre:not(pre.frontmatter) .token.comment,
.nord.theme-dark pre:not(pre.frontmatter) .token.prolog,
.nord.theme-dark pre:not(pre.frontmatter) .token.doctype,
.nord.theme-dark pre:not(pre.frontmatter) .token.cdata,
.nord.theme-dark .HyperMD-codeblock .cm-comment,
.nord.theme-dark .HyperMD-codeblock .cm-meta,
.nord.theme-dark .HyperMD-codeblock .token.comment,
.nord.theme-dark .HyperMD-codeblock .token.prolog,
.nord.theme-dark .HyperMD-codeblock .token.doctype,
.nord.theme-dark .HyperMD-codeblock .token.cdata,
.nord.theme-light .HyperMD-codeblock .cm-comment,
.nord.theme-light .HyperMD-codeblock .cm-meta,
.nord.theme-light .HyperMD-codeblock .token.comment,
.nord.theme-light .HyperMD-codeblock .token.prolog,
.nord.theme-light .HyperMD-codeblock .token.doctype,
.nord.theme-light .HyperMD-codeblock .token.cdata {
  color: #636f88;
}
.nord.theme-light p > code .cm-punctuation,
.nord.theme-light p > code .token.punctuation,
.nord.theme-dark p > code .cm-punctuation,
.nord.theme-dark p > code .token.punctuation,
.nord.theme-light pre:not(pre.frontmatter) .cm-punctuation,
.nord.theme-light pre:not(pre.frontmatter) .token.punctuation,
.nord.theme-dark pre:not(pre.frontmatter) .cm-punctuation,
.nord.theme-dark pre:not(pre.frontmatter) .token.punctuation,
.nord.theme-dark .HyperMD-codeblock .cm-punctuation,
.nord.theme-dark .HyperMD-codeblock .token.punctuation,
.nord.theme-light .HyperMD-codeblock .cm-punctuation,
.nord.theme-light .HyperMD-codeblock .token.punctuation {
  color: #81a1c1;
}
.nord.theme-light p > code .namespace,
.nord.theme-dark p > code .namespace,
.nord.theme-light pre:not(pre.frontmatter) .namespace,
.nord.theme-dark pre:not(pre.frontmatter) .namespace,
.nord.theme-dark .HyperMD-codeblock .namespace,
.nord.theme-light .HyperMD-codeblock .namespace {
  opacity: var(--text-muted);
}
.nord.theme-light p > code .cm-bracket.cm-tag,
.nord.theme-light p > code .cm-hr,
.nord.theme-light p > code .cm-tag,
.nord.theme-light p > code .cm-property,
.nord.theme-light p > code .token.property,
.nord.theme-light p > code .token.tag,
.nord.theme-light p > code .token.constant,
.nord.theme-light p > code .token.symbol,
.nord.theme-light p > code .token.deleted,
.nord.theme-dark p > code .cm-bracket.cm-tag,
.nord.theme-dark p > code .cm-hr,
.nord.theme-dark p > code .cm-tag,
.nord.theme-dark p > code .cm-property,
.nord.theme-dark p > code .token.property,
.nord.theme-dark p > code .token.tag,
.nord.theme-dark p > code .token.constant,
.nord.theme-dark p > code .token.symbol,
.nord.theme-dark p > code .token.deleted,
.nord.theme-light pre:not(pre.frontmatter) .cm-bracket.cm-tag,
.nord.theme-light pre:not(pre.frontmatter) .cm-hr,
.nord.theme-light pre:not(pre.frontmatter) .cm-tag,
.nord.theme-light pre:not(pre.frontmatter) .cm-property,
.nord.theme-light pre:not(pre.frontmatter) .token.property,
.nord.theme-light pre:not(pre.frontmatter) .token.tag,
.nord.theme-light pre:not(pre.frontmatter) .token.constant,
.nord.theme-light pre:not(pre.frontmatter) .token.symbol,
.nord.theme-light pre:not(pre.frontmatter) .token.deleted,
.nord.theme-dark pre:not(pre.frontmatter) .cm-bracket.cm-tag,
.nord.theme-dark pre:not(pre.frontmatter) .cm-hr,
.nord.theme-dark pre:not(pre.frontmatter) .cm-tag,
.nord.theme-dark pre:not(pre.frontmatter) .cm-property,
.nord.theme-dark pre:not(pre.frontmatter) .token.property,
.nord.theme-dark pre:not(pre.frontmatter) .token.tag,
.nord.theme-dark pre:not(pre.frontmatter) .token.constant,
.nord.theme-dark pre:not(pre.frontmatter) .token.symbol,
.nord.theme-dark pre:not(pre.frontmatter) .token.deleted,
.nord.theme-dark .HyperMD-codeblock .cm-bracket.cm-tag,
.nord.theme-dark .HyperMD-codeblock .cm-hr,
.nord.theme-dark .HyperMD-codeblock .cm-tag,
.nord.theme-dark .HyperMD-codeblock .cm-property,
.nord.theme-dark .HyperMD-codeblock .token.property,
.nord.theme-dark .HyperMD-codeblock .token.tag,
.nord.theme-dark .HyperMD-codeblock .token.constant,
.nord.theme-dark .HyperMD-codeblock .token.symbol,
.nord.theme-dark .HyperMD-codeblock .token.deleted,
.nord.theme-light .HyperMD-codeblock .cm-bracket.cm-tag,
.nord.theme-light .HyperMD-codeblock .cm-hr,
.nord.theme-light .HyperMD-codeblock .cm-tag,
.nord.theme-light .HyperMD-codeblock .cm-property,
.nord.theme-light .HyperMD-codeblock .token.property,
.nord.theme-light .HyperMD-codeblock .token.tag,
.nord.theme-light .HyperMD-codeblock .token.constant,
.nord.theme-light .HyperMD-codeblock .token.symbol,
.nord.theme-light .HyperMD-codeblock .token.deleted {
  color: #81a1c1;
}
.nord.theme-light p > code .cm-number,
.nord.theme-light p > code .token.number,
.nord.theme-dark p > code .cm-number,
.nord.theme-dark p > code .token.number,
.nord.theme-light pre:not(pre.frontmatter) .cm-number,
.nord.theme-light pre:not(pre.frontmatter) .token.number,
.nord.theme-dark pre:not(pre.frontmatter) .cm-number,
.nord.theme-dark pre:not(pre.frontmatter) .token.number,
.nord.theme-dark .HyperMD-codeblock .cm-number,
.nord.theme-dark .HyperMD-codeblock .token.number,
.nord.theme-light .HyperMD-codeblock .cm-number,
.nord.theme-light .HyperMD-codeblock .token.number {
  color: #b48ead;
}
.nord.theme-light p > code .token.boolean,
.nord.theme-dark p > code .token.boolean,
.nord.theme-light pre:not(pre.frontmatter) .token.boolean,
.nord.theme-dark pre:not(pre.frontmatter) .token.boolean,
.nord.theme-dark .HyperMD-codeblock .token.boolean,
.nord.theme-light .HyperMD-codeblock .token.boolean {
  color: #81a1c1;
}
.nord.theme-light p > code .cm-builtin,
.nord.theme-light p > code .cm-string-2,
.nord.theme-light p > code .cm-qualifier,
.nord.theme-light p > code .token.selector,
.nord.theme-light p > code .token.attr-name,
.nord.theme-light p > code .token.string,
.nord.theme-light p > code .token.char,
.nord.theme-light p > code .token.builtin,
.nord.theme-light p > code .token.inserted,
.nord.theme-dark p > code .cm-builtin,
.nord.theme-dark p > code .cm-string-2,
.nord.theme-dark p > code .cm-qualifier,
.nord.theme-dark p > code .token.selector,
.nord.theme-dark p > code .token.attr-name,
.nord.theme-dark p > code .token.string,
.nord.theme-dark p > code .token.char,
.nord.theme-dark p > code .token.builtin,
.nord.theme-dark p > code .token.inserted,
.nord.theme-light pre:not(pre.frontmatter) .cm-builtin,
.nord.theme-light pre:not(pre.frontmatter) .cm-string-2,
.nord.theme-light pre:not(pre.frontmatter) .cm-qualifier,
.nord.theme-light pre:not(pre.frontmatter) .token.selector,
.nord.theme-light pre:not(pre.frontmatter) .token.attr-name,
.nord.theme-light pre:not(pre.frontmatter) .token.string,
.nord.theme-light pre:not(pre.frontmatter) .token.char,
.nord.theme-light pre:not(pre.frontmatter) .token.builtin,
.nord.theme-light pre:not(pre.frontmatter) .token.inserted,
.nord.theme-dark pre:not(pre.frontmatter) .cm-builtin,
.nord.theme-dark pre:not(pre.frontmatter) .cm-string-2,
.nord.theme-dark pre:not(pre.frontmatter) .cm-qualifier,
.nord.theme-dark pre:not(pre.frontmatter) .token.selector,
.nord.theme-dark pre:not(pre.frontmatter) .token.attr-name,
.nord.theme-dark pre:not(pre.frontmatter) .token.string,
.nord.theme-dark pre:not(pre.frontmatter) .token.char,
.nord.theme-dark pre:not(pre.frontmatter) .token.builtin,
.nord.theme-dark pre:not(pre.frontmatter) .token.inserted,
.nord.theme-dark .HyperMD-codeblock .cm-builtin,
.nord.theme-dark .HyperMD-codeblock .cm-string-2,
.nord.theme-dark .HyperMD-codeblock .cm-qualifier,
.nord.theme-dark .HyperMD-codeblock .token.selector,
.nord.theme-dark .HyperMD-codeblock .token.attr-name,
.nord.theme-dark .HyperMD-codeblock .token.string,
.nord.theme-dark .HyperMD-codeblock .token.char,
.nord.theme-dark .HyperMD-codeblock .token.builtin,
.nord.theme-dark .HyperMD-codeblock .token.inserted,
.nord.theme-light .HyperMD-codeblock .cm-builtin,
.nord.theme-light .HyperMD-codeblock .cm-string-2,
.nord.theme-light .HyperMD-codeblock .cm-qualifier,
.nord.theme-light .HyperMD-codeblock .token.selector,
.nord.theme-light .HyperMD-codeblock .token.attr-name,
.nord.theme-light .HyperMD-codeblock .token.string,
.nord.theme-light .HyperMD-codeblock .token.char,
.nord.theme-light .HyperMD-codeblock .token.builtin,
.nord.theme-light .HyperMD-codeblock .token.inserted {
  color: #a3be8c;
}
.nord.theme-light p > code .cm-variable,
.nord.theme-light p > code .cm-variable-2,
.nord.theme-light p > code .cm-variable-3,
.nord.theme-light p > code .cm-operator,
.nord.theme-light p > code .cm-link,
.nord.theme-light p > code .token.operator,
.nord.theme-light p > code .token.entity,
.nord.theme-light p > code .token.url,
.nord.theme-light p > code .language-css .token.string,
.nord.theme-light p > code .style .token.string,
.nord.theme-light p > code .token.variable,
.nord.theme-dark p > code .cm-variable,
.nord.theme-dark p > code .cm-variable-2,
.nord.theme-dark p > code .cm-variable-3,
.nord.theme-dark p > code .cm-operator,
.nord.theme-dark p > code .cm-link,
.nord.theme-dark p > code .token.operator,
.nord.theme-dark p > code .token.entity,
.nord.theme-dark p > code .token.url,
.nord.theme-dark p > code .language-css .token.string,
.nord.theme-dark p > code .style .token.string,
.nord.theme-dark p > code .token.variable,
.nord.theme-light pre:not(pre.frontmatter) .cm-variable,
.nord.theme-light pre:not(pre.frontmatter) .cm-variable-2,
.nord.theme-light pre:not(pre.frontmatter) .cm-variable-3,
.nord.theme-light pre:not(pre.frontmatter) .cm-operator,
.nord.theme-light pre:not(pre.frontmatter) .cm-link,
.nord.theme-light pre:not(pre.frontmatter) .token.operator,
.nord.theme-light pre:not(pre.frontmatter) .token.entity,
.nord.theme-light pre:not(pre.frontmatter) .token.url,
.nord.theme-light pre:not(pre.frontmatter) .language-css .token.string,
.nord.theme-light pre:not(pre.frontmatter) .style .token.string,
.nord.theme-light pre:not(pre.frontmatter) .token.variable,
.nord.theme-dark pre:not(pre.frontmatter) .cm-variable,
.nord.theme-dark pre:not(pre.frontmatter) .cm-variable-2,
.nord.theme-dark pre:not(pre.frontmatter) .cm-variable-3,
.nord.theme-dark pre:not(pre.frontmatter) .cm-operator,
.nord.theme-dark pre:not(pre.frontmatter) .cm-link,
.nord.theme-dark pre:not(pre.frontmatter) .token.operator,
.nord.theme-dark pre:not(pre.frontmatter) .token.entity,
.nord.theme-dark pre:not(pre.frontmatter) .token.url,
.nord.theme-dark pre:not(pre.frontmatter) .language-css .token.string,
.nord.theme-dark pre:not(pre.frontmatter) .style .token.string,
.nord.theme-dark pre:not(pre.frontmatter) .token.variable,
.nord.theme-dark .HyperMD-codeblock .cm-variable,
.nord.theme-dark .HyperMD-codeblock .cm-variable-2,
.nord.theme-dark .HyperMD-codeblock .cm-variable-3,
.nord.theme-dark .HyperMD-codeblock .cm-operator,
.nord.theme-dark .HyperMD-codeblock .cm-link,
.nord.theme-dark .HyperMD-codeblock .token.operator,
.nord.theme-dark .HyperMD-codeblock .token.entity,
.nord.theme-dark .HyperMD-codeblock .token.url,
.nord.theme-dark .HyperMD-codeblock .language-css .token.string,
.nord.theme-dark .HyperMD-codeblock .style .token.string,
.nord.theme-dark .HyperMD-codeblock .token.variable,
.nord.theme-light .HyperMD-codeblock .cm-variable,
.nord.theme-light .HyperMD-codeblock .cm-variable-2,
.nord.theme-light .HyperMD-codeblock .cm-variable-3,
.nord.theme-light .HyperMD-codeblock .cm-operator,
.nord.theme-light .HyperMD-codeblock .cm-link,
.nord.theme-light .HyperMD-codeblock .token.operator,
.nord.theme-light .HyperMD-codeblock .token.entity,
.nord.theme-light .HyperMD-codeblock .token.url,
.nord.theme-light .HyperMD-codeblock .language-css .token.string,
.nord.theme-light .HyperMD-codeblock .style .token.string,
.nord.theme-light .HyperMD-codeblock .token.variable {
  color: #81a1c1;
}
.nord.theme-light p > code .cm-string,
.nord.theme-light p > code .cm-attribute,
.nord.theme-light p > code .token.atrule,
.nord.theme-light p > code .token.attr-value,
.nord.theme-light p > code .token.function,
.nord.theme-light p > code .token.class-name,
.nord.theme-dark p > code .cm-string,
.nord.theme-dark p > code .cm-attribute,
.nord.theme-dark p > code .token.atrule,
.nord.theme-dark p > code .token.attr-value,
.nord.theme-dark p > code .token.function,
.nord.theme-dark p > code .token.class-name,
.nord.theme-light pre:not(pre.frontmatter) .cm-string,
.nord.theme-light pre:not(pre.frontmatter) .cm-attribute,
.nord.theme-light pre:not(pre.frontmatter) .token.atrule,
.nord.theme-light pre:not(pre.frontmatter) .token.attr-value,
.nord.theme-light pre:not(pre.frontmatter) .token.function,
.nord.theme-light pre:not(pre.frontmatter) .token.class-name,
.nord.theme-dark pre:not(pre.frontmatter) .cm-string,
.nord.theme-dark pre:not(pre.frontmatter) .cm-attribute,
.nord.theme-dark pre:not(pre.frontmatter) .token.atrule,
.nord.theme-dark pre:not(pre.frontmatter) .token.attr-value,
.nord.theme-dark pre:not(pre.frontmatter) .token.function,
.nord.theme-dark pre:not(pre.frontmatter) .token.class-name,
.nord.theme-dark .HyperMD-codeblock .cm-string,
.nord.theme-dark .HyperMD-codeblock .cm-attribute,
.nord.theme-dark .HyperMD-codeblock .token.atrule,
.nord.theme-dark .HyperMD-codeblock .token.attr-value,
.nord.theme-dark .HyperMD-codeblock .token.function,
.nord.theme-dark .HyperMD-codeblock .token.class-name,
.nord.theme-light .HyperMD-codeblock .cm-string,
.nord.theme-light .HyperMD-codeblock .cm-attribute,
.nord.theme-light .HyperMD-codeblock .token.atrule,
.nord.theme-light .HyperMD-codeblock .token.attr-value,
.nord.theme-light .HyperMD-codeblock .token.function,
.nord.theme-light .HyperMD-codeblock .token.class-name {
  color: #88c0d0;
}
.nord.theme-light p > code .cm-keyword,
.nord.theme-light p > code .token.keyword,
.nord.theme-dark p > code .cm-keyword,
.nord.theme-dark p > code .token.keyword,
.nord.theme-light pre:not(pre.frontmatter) .cm-keyword,
.nord.theme-light pre:not(pre.frontmatter) .token.keyword,
.nord.theme-dark pre:not(pre.frontmatter) .cm-keyword,
.nord.theme-dark pre:not(pre.frontmatter) .token.keyword,
.nord.theme-dark .HyperMD-codeblock .cm-keyword,
.nord.theme-dark .HyperMD-codeblock .token.keyword,
.nord.theme-light .HyperMD-codeblock .cm-keyword,
.nord.theme-light .HyperMD-codeblock .token.keyword {
  color: #81a1c1;
}
.nord.theme-light p > code .token.regex,
.nord.theme-light p > code .token.important,
.nord.theme-dark p > code .token.regex,
.nord.theme-dark p > code .token.important,
.nord.theme-light pre:not(pre.frontmatter) .token.regex,
.nord.theme-light pre:not(pre.frontmatter) .token.important,
.nord.theme-dark pre:not(pre.frontmatter) .token.regex,
.nord.theme-dark pre:not(pre.frontmatter) .token.important,
.nord.theme-dark .HyperMD-codeblock .token.regex,
.nord.theme-dark .HyperMD-codeblock .token.important,
.nord.theme-light .HyperMD-codeblock .token.regex,
.nord.theme-light .HyperMD-codeblock .token.important {
  color: #ebcb8b;
}
.nord.theme-light p > code .token.important,
.nord.theme-light p > code .token.bold,
.nord.theme-dark p > code .token.important,
.nord.theme-dark p > code .token.bold,
.nord.theme-light pre:not(pre.frontmatter) .token.important,
.nord.theme-light pre:not(pre.frontmatter) .token.bold,
.nord.theme-dark pre:not(pre.frontmatter) .token.important,
.nord.theme-dark pre:not(pre.frontmatter) .token.bold,
.nord.theme-dark .HyperMD-codeblock .token.important,
.nord.theme-dark .HyperMD-codeblock .token.bold,
.nord.theme-light .HyperMD-codeblock .token.important,
.nord.theme-light .HyperMD-codeblock .token.bold {
  font-weight: bold;
}
.nord.theme-light p > code .token.italic,
.nord.theme-dark p > code .token.italic,
.nord.theme-light pre:not(pre.frontmatter) .token.italic,
.nord.theme-dark pre:not(pre.frontmatter) .token.italic,
.nord.theme-dark .HyperMD-codeblock .token.italic,
.nord.theme-light .HyperMD-codeblock .token.italic {
  font-style: italic;
}
