:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --rgb-hover: 208, 215, 222;
  --color-red-rgb: 228, 55, 75;
  --color-red: #cf222e;
  --color-green-rgb: 12, 181, 79;
  --color-green: #0cb54f;
  --color-orange: #d96c00;
  --color-yellow: #bd8e37;
  --color-cyan: #2db7b5;
  --color-blue: #086ddd;
  --color-purple: #876be0;
  --color-pink: #c32b74;
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #f6f8fa;
  --color-base-20: #f6f8fa;
  --color-base-25: #f6f8fa;
  --color-base-30: #d0d7de;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #6e7781;
  --color-base-60: #707070;
  --color-base-70: #57606a;
  --color-base-100: #24292f;
  --accent-h-theme: 212;
  --accent-s-theme: 92%;
  --accent-l-theme: 45%;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 2.5%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 5%));
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --text-highlight-bg: rgba(255, 208, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --input-shadow: inset 0 0 0 1px #1b1f2426;
  --input-shadow-hover: inset 0 0 0 1px #1b1f2426;
  --shadow-s: none;
  --shadow-l: none;
  --inline-code-background: #aeb8c133;
  --h-color-theme: var(--text-normal);
  --h1-color-theme: var(--text-normal);
  --h2-color-theme: var(--text-normal);
  --h3-color-theme: var(--text-normal);
  --h4-color-theme: var(--text-normal);
  --h5-color-theme: var(--text-normal);
  --h6-color-theme: var(--text-normal);
  --background-modifier-hover-alpha: 0.32;
  --color-btn-primary-bg: #2da44f;
  --color-btn-primary-hover-bg: #2c964a;
  --kanban-background: var(--background-primary);
  --kanban-lane-background: var(--background-primary-alt);
  --kanban-item-background: var(--background-primary);
  --kanban-lane-border: #d8dee4;
  --kanban-lane-count: #aeb8c133;
  --kanban-options-btn: var(--background-primary-alt);

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
