:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 207, 30, 51;
  --color-red: #cf1e33;
  --color-orange-rgb: 193, 109, 24;
  --color-orange: #c16d18;
  --color-yellow-rgb: 151, 116, 0;
  --color-yellow: #977400;
  --color-green-rgb: 1, 144, 59;
  --color-green: #01903b;
  --color-cyan-rgb: 0, 158, 155;
  --color-cyan: #009e9b;
  --color-blue-rgb: 2, 95, 200;
  --color-blue: #025fc8;
  --color-purple-rgb: 95, 56, 214;
  --color-purple: #5f38d6;
  --color-pink-rgb: 191, 32, 109;
  --color-pink: #bf206d;
  --color-base-00: #e1c4a6;
  --color-base-05: #cbaa87;
  --color-base-10: #daba97;
  --color-base-20: #dabb9a;
  --color-base-25: #4c4743;
  --color-base-30: #c6a57f;
  --color-base-35: #a8865f;
  --color-base-40: #b4916a;
  --color-base-50: #7a6d68;
  --color-base-60: #707070;
  --color-base-70: #5b4f4a;
  --color-base-100: #5f4f49;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: #800000;
  --color-accent-1: var(--color-accent);
  --color-accent-2: #a00000;
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --titlebar-background-focused: var(--color-base-20);
  --code-background: var(--color-base-05);
  --background-modifier-message: #d7b38d;
  --activeline: #d4b4946a;
  --text-selection: #c7a78683;
  --color-bold: #bd5757;
  --color-italic: #ae612b;
  --text-highlight-bg: #eac357;
  --heading-formatting-color: #d34747;
  --in-between-background: #d4af88;
}
