.magicuser-bg-night-theme {
  --mu-table-color-1: #a3a3a328;
  --mu-table-color-2: #a3a3a348;
  --mu-table-th-background: #1f1f1f;
  --mu-cards-border: #0072d330;
  --status-bar-border-color: #0072d330;
}
