:root[saved-theme="dark"] {
  --color-primary: #a1f98f;
  --rgb-primary: 161, 249, 143;
  --hsl-primary: 110, 90%, 77%;
  --transparent-primary: rgba(161, 249, 143, 0.6);
  --color-secondary: #e78ff9;
  --rgb-secondary: 231, 143, 249;
  --hsl-secondary: 290, 90%, 77%;
  --transparent-secondary: rgba(231, 143, 249, 0.6);
  --color-accent: var(--color-primary);
  --color-accent-hsl: var(--hsl-primary);
  --accent-h: 110;
  --accent-s: 90%;
  --accent-l: 77%;
  --red: #f98fa1;
  --yellow: #f9e78f;
  --background-primary: #141414;
  --background-primary-alt: #191919;
  --background-secondary: #131313;
  --background-secondary-alt: #141414;
  --background-modifier-border: #141414;
  --background-modifier-form-field: #141414;
  --background-table: #212121;
  --background-table-hover: #282828;
  --background-titlebar: #1c1c1c;
  --text-accent: var(--color-primary);
  --text-accent-hover: var(--color-primary);
  --text-normal: #d1d1d1;
  --text-normal-light: #939393;
  --text-muted: #b8b8b8;
  --text-muted-rgb: rgb(184, 184, 184);
  --text-faint: var(--color-primary);
  --text-error: #cf6679;
  --text-error-hover: #ff2f00;
  --text-highlight-bg: rgba(var(--rgb-primary), 0.4);
  --text-highlight-bg-active: #ff2f00;
  --text-selection: rgba(var(--rgb-primary), 0.25);
  --text-on-accent: #141414;
  --text-on-accent-inverted: #d1d1d1;
  --interactive-normal: var(--color-primary);
  --interactive-hover: var(--color-primary);
  --interactive-accent: var(--color-primary);
  --interactive-accent-rgb: var(--color-primary);
  --interactive-accent-hover: var(--color-primary);
  --interactive-success: var(--color-primary);
  --scrollbar-bg: rgba(95, 94, 94, 0.1);
  --scrollbar-thumb-bg: rgba(95, 94, 94, 0.1);
  --scrollbar-active-thumb-bg: rgba(95, 94, 94, 0.3);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
