:root[saved-theme="light"] {
  --color-primary: #21b043;
  --rgb-primary: 34, 176, 67;
  --hsl-primary: 134, 68%, 41%;
  --transparent-primary: rgba(34, 176, 67, 0.6);
  --color-secondary: #b0218e;
  --rgb-secondary: 176, 33, 142;
  --hsl-secondary: 314, 68%, 41%;
  --transparent-secondary: rgba(176, 33, 142, 0.6);
  --color-accent: var(--color-primary);
  --color-accent-hsl: var(--hsl-primary);
  --accent-h: 134;
  --accent-s: 68%;
  --accent-l: 41%;
  --red: #b02146;
  --yellow: #8eb021;
  --background-primary: #f6f6f6;
  --background-primary-alt: #f0f0f0;
  --background-secondary: #f4f2f2;
  --background-secondary-alt: #f6f6f6;
  --background-modifier-border: #f6f6f6;
  --background-modifier-form-field: #f6f6f6;
  --background-table: #f8f8f8;
  --background-table-hover: #fafafa;
  --background-titlebar: #f0f0f0;
  --text-accent: var(--color-primary);
  --text-accent-hover: var(--color-primary);
  --text-normal: #141414;
  --text-normal-light: #444444;
  --text-muted: #444444;
  --text-muted-rgb: rgb(68, 68, 68);
  --text-faint: var(--color-primary);
  --text-error: #cf6679;
  --text-error-hover: #ff2f00;
  --text-highlight-bg: rgba(var(--rgb-primary), 0.4);
  --text-highlight-bg-active: #ff2f00;
  --text-selection: rgba(var(--rgb-primary), 0.25);
  --text-on-accent: #f6f6f6;
  --text-on-accent-inverted: #141414;
  --interactive-normal: var(--color-primary);
  --interactive-hover: var(--color-primary);
  --interactive-accent: var(--color-primary);
  --interactive-accent-rgb: var(--color-primary);
  --interactive-accent-hover: var(--color-primary);
  --interactive-success: var(--color-primary);
  --scrollbar-bg: rgba(95, 94, 94, 0.1);
  --scrollbar-thumb-bg: rgba(95, 94, 94, 0.1);
  --scrollbar-active-thumb-bg: rgba(95, 94, 94, 0.3);

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
