body:not(.show-titlebar) .titlebar {
  display: none;
}

.mod-macos:not(.show-titlebar)
  .mod-left-split
  .workspace-tabs:nth-child(3)
  .workspace-tab-header-container {
  height: calc(var(--mac-traffic-light-padding) + 37px);
  padding-top: calc(var(--mac-traffic-light-padding) + 5px);
}

body.mod-macos:not(.show-titlebar)
  .workspace-split.mod-left-split.is-collapsed
  ~ .mod-root
  .workspace-leaf:nth-child(2)
  .view-header {
  padding-left: 7vh;
}
