:root[saved-theme="dark"] {
  --accent-h: 202;
  --accent-l: 75%;
  --accent-s: 100%;
  --background-modifier-active-hover: var(--bg_highlight);
  --background-modifier-border: var(--bg_highlight);
  --background-modifier-border-focus: var(--bg_highlight);
  --background-modifier-border-hover: var(--bg_highlight);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(var(--bg_dark_x), 0.8);
  --background-modifier-error: var(--red1);
  --background-modifier-error-hover: var(--red);
  --background-modifier-form-field: var(--bg_dark);
  --background-modifier-form-field-highlighted: var(--bg_dark);
  --background-modifier-hover: var(--bg_highlight);
  --background-modifier-message: rgba(var(--bg_highlight_x), 0.9);
  --background-modifier-success: var(--green);
  --background-primary: var(--bg);
  --background-primary-alt: var(--bg);
  --background-secondary: var(--bg_dark);
  --background-secondary-alt: var(--bg_dark);
  --bg: rgb(var(--bg_x));
  --bg_dark: rgb(var(--bg_dark_x));
  --bg_dark_x: 22, 22, 30;
  --bg_dark2: rgb(var(--bg_dark2_x));
  --bg_dark2_x: 18, 18, 24;
  --bg_highlight: rgb(var(--bg_highlight_x));
  --bg_highlight_dark: rgb(var(--bg_highlight_dark_x));
  --bg_highlight_dark_x: 36, 40, 59;
  --bg_highlight_x: 41, 46, 66;
  --bg_x: 26, 27, 38;
  --blockquote-background-color: var(--bg_dark);
  --blue: rgb(var(--blue_x));
  --blue_x: 122, 162, 247;
  --blue0: rgb(var(--blue0_x));
  --blue0_x: 61, 89, 161;
  --bold-color: var(--cyan);
  --border-width: 2px;
  --callout-bug: var(--red_x);
  --callout-default: var(--blue_x);
  --callout-error: var(--red1_x);
  --callout-example: var(--magenta_x);
  --callout-fail: var(--red1_x);
  --callout-important: var(--green_x);
  --callout-info: var(--blue_x);
  --callout-question: var(--yellow_x);
  --callout-quote: var(--fg_dark_x);
  --callout-success: var(--teal_x);
  --callout-summary: var(--cyan_x);
  --callout-tip: var(--cyan_x);
  --callout-todo: var(--cyan_x);
  --callout-warning: var(--orange_x);
  --canvas-color: var(--bg_highlight_x);
  --checkbox-border-color: var(--comment);
  --checkbox-border-color-hover: var(--comment);
  --checkbox-color: var(--green);
  --checkbox-color-hover: var(--green);
  --checkbox-marker-color: var(--bg);
  --checkbox-radius: var(--radius-l);
  --code-background: var(--bg_highlight_dark);
  --code-normal: var(--fg);
  --color_blue_rgb: var(--blue_x);
  --color_cyan_rgb: var(--cyan_x);
  --color_green_rgb: var(--green_x);
  --color_orange_rgb: var(--orange_x);
  --color_pink_rgb: var(--magenta_x);
  --color_purple_rgb: var(--magenta_x);
  --color_red_rgb: var(--red_x);
  --color_yellow_rgb: var(--yellow_x);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 5),
    calc(var(--accent-s) * 1.05),
    calc(var(--accent-l) * 1.29)
  );
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-100: #dadada;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-blue: var(--blue);
  --color-blue-rgb: 2, 122, 255;
  --color-cyan: var(--cyan);
  --color-cyan-rgb: 83, 223, 221;
  --color-green: var(--green);
  --color-green-rgb: 68, 207, 110;
  --color-orange: var(--orange);
  --color-orange-rgb: 233, 151, 63;
  --color-pink: var(--magenta);
  --color-pink-rgb: 250, 153, 205;
  --color-purple: var(--magenta);
  --color-purple-rgb: 168, 130, 255;
  --color-red: var(--red);
  --color-red-rgb: 251, 70, 76;
  --color-yellow: var(--yellow);
  --color-yellow-rgb: 224, 222, 113;
  --comment: rgb(var(--comment_x));
  --comment_x: 86, 95, 137;
  --cyan: rgb(var(--cyan_x));
  --cyan_hsl: 202 100% 75%;
  --cyan_x: 125, 207, 255;
  --date-background-color: var(--bg_highlight);
  --date-color: var(--blue);
  --embed-background: var(--bg_dark);
  --embed-padding: 1.5rem 1.5rem 0.5rem;
  --fg: rgb(var(--fg_x));
  --fg_dark: rgb(var(--fg_dark_x));
  --fg_dark_x: 169, 177, 214;
  --fg_x: 192, 202, 245;
  --flashing-background: rgba(var(--blue0_x), 0.3);
  --graph-line: var(--comment);
  --graph-node: var(--fg);
  --graph-node-attachment: var(--blue);
  --graph-node-tag: var(--orange);
  --green: rgb(var(--green_x));
  --green_x: 158, 206, 106;
  --h1-color: var(--red);
  --h2-color: var(--yellow);
  --h3-color: var(--green);
  --h4-color: var(--cyan);
  --h5-color: var(--blue);
  --h6-color: var(--magenta);
  --highlight-mix-blend-mode: darken;
  --icon-color-active: var(--magenta);
  --icon-color-focused: var(--magenta);
  --icon-color-hover: var(--blue);
  --image-radius: 0px;
  --indentation-guide-color: var(--comment);
  --indentation-guide-color-active: var(--comment);
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --interactive-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --interactive-accent-hover: var(--blue);
  --interactive-hover: var(--bg);
  --interactive-normal: var(--bg_dark);
  --interactive-success: var(--green);
  --italic-color: var(--cyan);
  --link-color: var(--magenta);
  --link-color-hover: var(--cyan);
  --link-external-color: var(--magenta);
  --link-external-color-hover: var(--cyan);
  --link-external-filter: invert(35%) sepia(28%) saturate(681%) hue-rotate(192deg) brightness(94%)
    contrast(85%);
  --magent_hsl: 261 85% 79%;
  --magenta: rgb(var(--magenta_x));
  --magenta_x: 187, 154, 247;
  --mermaid-actor: var(--fg_dark);
  --mermaid-loopline: var(--blue);
  --mermaid-note: var(--blue0);
  --modal-border-color: var(--bg_highlight);
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --nav-file-tag: rgba(var(--yellow_x), 0.9);
  --nav-indentation-guide-color: var(--bg_highlight);
  --nav-item-background-active: var(--bg_highlight);
  --nav-item-background-hover: var(--bg_highlight);
  --nav-item-color-active: var(--red);
  --nav-item-color-hover: var(--fg);
  --orange: rgb(var(--orange_x));
  --orange_x: 255, 158, 100;
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --pink: rgb(var(--pink_x));
  --pink_hsl: 331 100% 43%;
  --pink_x: 217, 0, 105;
  --prompt-border-color: var(--bg_highlight);
  --red: rgb(var(--red_x));
  --red_x: 255, 117, 127;
  --red1: rgb(var(--red1_x));
  --red1_x: 219, 75, 75;
  --scrollbar-active-thumb-bg: var(--bg_dark);
  --scrollbar-bg: var(--bg_dark2);
  --scrollbar-thumb-bg: var(--comment);
  --scrollbar-width: 0px;
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
  --slider-track-background: var(--bg_highlight);
  --tab-text-color-focused-active: rgba(var(--red_x), 0.8);
  --tab-text-color-focused-active-current: var(--red);
  --table-header-background: var(--bg_dark2);
  --table-header-background-hover: var(--bg_dark2);
  --tag-background: rgba(var(--magenta_x), 0.15);
  --tag-background-hover: rgba(var(--cyan_x), 0.15);
  --tag-color: var(--magenta);
  --tag-color-hover: var(--cyan);
  --teal: rgb(var(--teal_x));
  --teal_x: 26, 188, 156;
  --terminal_black: rgb(var(--terminal_black_x));
  --terminal_black_x: 65, 72, 104;
  --text-accent: var(--magenta);
  --text-accent-hover: var(--cyan);
  --text-error: var(--red1);
  --text-error-hover: var(--red);
  --text-faint: var(--comment);
  --text-highlight-bg: rgba(var(--orange_x), 0.25);
  --text-muted: var(--fg_dark);
  --text-normal: var(--fg);
  --text-on-accent: var(--bg);
  --text-selection: rgba(var(--blue0_x), 0.6);
  --toggle-thumb-color: var(--bg);
  --unknown: #ffffff;
  --yellow: rgb(var(--yellow_x));
  --yellow_x: 224, 175, 104;
  background: var(--table-header-background);
  color-scheme: dark;
}
