:root[saved-theme="dark"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: #dadada;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: var(--dark-accent);
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--dark-background-secondary);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-accent: var(--color-accent-1);
  --interactive-accent: var(--dark-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.33);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --checklist-done-decoration: none;
  --checklist-done-color: var(--cool-gray);
  --file-line-width: var(--line-width);
  --background-primary: var(--dark-background-primary);
  --background-secondary: var(--dark-background-secondary);
  --background-primary-alt: var(--dark-background-secondary);
  --tab-divider-color: var(--dark-divider-color);
  --tab-outline-color: var(--dark-divider-color);
  --divider-color: var(--dark-divider-color);
  --bold-color: var(--dark-link);
  --link-color: var(--dark-link);
  --checkbox-color: var(--dark-link);
  --checkbox-color-hover: var(--dark-accent);
  --checkbox-border-color-hover: var(--dark-accent);
  --codeblock-background: var(--dark-code-background);
  --codeblock-color: var(--white);
  --inline-code-background: var(--dark-code-background);
  --code-variable-color: var(--white);
  --code-function-color: var(--mint);
  --code-builtin-color: var(--tropical-indigo-light);
  --code-string-color: var(--gold-light);
  --code-operator-color: var(--mint);
  --code-comment-color: var(--cool-gray);
  --code-text-size: 0.9em;
  --code-size: 0.9rem;
  --blockquote-background-color: var(--dark-code-background);
  --blockquote-border-color: var(--dark-accent);
  --blockquote-border-thickness: 5px;
  --links-color: var(--dark-link);
  --folder-title-color: var(--floral-white);
  --file-title-color: var(--floral-white);
  --file-content: "📄 ";
}
