.HyperMD-codeblock-begin {
  counter-reset: line-numbers;
}
.HyperMD-codeblock.cm-line:not(.HyperMD-codeblock-begin):not(
    .HyperMD-codeblock-end
  ) {
  padding-left: 3em;
  position: relative;
}
.HyperMD-codeblock.cm-line:not(.HyperMD-codeblock-begin):not(
    .HyperMD-codeblock-end
  )::after {
  align-items: flex-start;
  color: var(--text-faint);
  content: counter(line-numbers);
  counter-increment: line-numbers;
  display: flex;
  font-size: 0.8em;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  text-align: right;
  width: 2em;
  padding-right: 0.5em;
  bottom: -2px;
  border-right: 1px solid var(--scrollbar-thumb-bg);
}
.HyperMD-codeblock.cm-line.cm-active:not(.HyperMD-codeblock-begin):not(
    .HyperMD-codeblock-end
  )::after {
  color: var(--color-accent);
}
.HyperMD-codeblock .cm-foldPlaceholder::before {
  display: none;
}
