.maximize-tables-auto {
  --container-table-max-width: 100%;
  --container-table-width: 100%;
  --container-dataview-table-width: 100%;
  --container-table-margin: 0;
  --table-drag-padding: var(--table-drag-space) 0;
  --table-max-width: 100%;
  --table-margin: var(--content-margin-start) auto;
  --table-width: auto;
}
.maximize-tables-auto .cards {
  --container-table-max-width: var(--max-width);
}
.maximize-tables-auto .cards .block-language-dataview {
  --table-margin: auto;
}
