body.mod-right-split-background-transparent-dark:not(.card-layout-open-dark) {
  --background-mod-right-split: var(--background-primary) !important;
}

body.card-layout-open-dark {
  --background-mod-right-split: transparent !important;
}

body.theme-dark:not(
    .is-mobile
  ).card-layout-open-dark.mod-right-split-background-transparent-dark
  .mod-right-split
  .workspace-tab-container {
  --card-shadow-dark: transparent;
}

body.card-layout-open-dark.tab-autohide
  .mod-right-split
  .workspace-tabs:not(.mod-top)
  .workspace-tab-container
  > .workspace-leaf {
  box-shadow: inset 0px 1px 0px var(--divider-color);
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
