body:is(.theme-light, .theme-dark).pt-disable-blur {
  --background-secondary-blur: var(--background-secondary);
}

body.pt-color-scheme-style-border-dt.pt-disable-blur {
  --background-secondary-blur: var(--background-secondary-alt);
}

body.pt-color-scheme-style-minimal-dt.pt-disable-blur {
  --background-secondary-blur: var(--background-secondary-alt);
}
