.encore-mobile-translucency.is-mobile.encore-blur-less {
  --sidebar-filter: blur(8px);
}

body.encore-blur-less {
  --en-acrylic: blur(4px);
  --en-acrylic-opacity: 0.9;
  --en-modal-backdrop: blur(5px);
}
