body.bt-bubble-layout.bt-bubble-layout-hide-borders {
  --bt-bubble-border-color: transparent;
  --tab-outline-color: transparent;
}

body.bt-bubble-layout.bt-bubble-layout-hide-borders
  .workspace-split
  .workspace-leaf-content {
  border: none;
}

body.bt-bubble-layout.bt-bubble-layout-hide-borders .menu {
  border: 0 !important;
}
