-toggle.fog {
  --background-default: #5e6871;
  --background-primary: #4c555d;
  --card-bg: #4c555d;
  --color-panel: #5e6871;
  --text-color: #101010;
  --background-primary-alt: var(--background-primary);
  --background-secondary-alt: var(--background-secondary);
  --background-modifier-border: var(--card-border-color);
  --card-border-color: #10101084;
  --blockquote-border-color: #101010;
  --blockquote-bg: var(--background-default);
  --citation-bg: var(--color-accent);
  --graph-bg: var(--background-default);
  --graph-line-color: #1010102c;
  --tab-background-active: rgba(255, 255, 255, 0.1);
  --caret-color: var(--text-color);
  --table-header-background: var(--color-accent);
  --custom-color-accent-light: #3c444c;
  --icon-color: var(--card-border-color);
}
