.tables-no-alt-background.tables-no-alt-background {
  --table-column-alt-background: transparent;
  --table-row-alt-background: transparent;
  --table-row-background-hover: transparent;
  --table-column-background-hover: transparent;
}
