.theme-light,
.theme-dark {
	--hue: var(--accent-h, 278);
	--saturation: var(--accent-s, 34%);

	--primary-hue: var(--hue);
	--primary-saturation: calc(max(48%, var(--saturation)));
	--secondary-hue: var(--hue);
	--secondary-saturation: 16%;
	--tertiary-hue: calc(var(--hue) + 60);
	--tertiary-saturation: 24%;
	--neutral-hue: var(--hue);
	--neutral-saturation: 4%;
	--neutral-variant-hue: var(--hue);
	--neutral-variant-saturation: 8%;
	--error-hue: 0;
	--error-saturation: 84%;

	/** Primary Palette */
	--md-ref-palette-primary-0: hsl(
		var(--primary-hue) var(--primary-saturation) 0%
	);
	--md-ref-palette-primary-4: hsl(
		var(--primary-hue) var(--primary-saturation) 4%
	);
	--md-ref-palette-primary-5: hsl(
		var(--primary-hue) var(--primary-saturation) 5%
	);
	--md-ref-palette-primary-6: hsl(
		var(--primary-hue) var(--primary-saturation) 6%
	);
	--md-ref-palette-primary-10: hsl(
		var(--primary-hue) var(--primary-saturation) 10%
	);
	--md-ref-palette-primary-12: hsl(
		var(--primary-hue) var(--primary-saturation) 12%
	);
	--md-ref-palette-primary-17: hsl(
		var(--primary-hue) var(--primary-saturation) 17%
	);
	--md-ref-palette-primary-20: hsl(
		var(--primary-hue) var(--primary-saturation) 20%
	);
	--md-ref-palette-primary-22: hsl(
		var(--primary-hue) var(--primary-saturation) 22%
	);
	--md-ref-palette-primary-24: hsl(
		var(--primary-hue) var(--primary-saturation) 24%
	);
	--md-ref-palette-primary-25: hsl(
		var(--primary-hue) var(--primary-saturation) 25%
	);
	--md-ref-palette-primary-30: hsl(
		var(--primary-hue) var(--primary-saturation) 30%
	);
	--md-ref-palette-primary-35: hsl(
		var(--primary-hue) var(--primary-saturation) 35%
	);
	--md-ref-palette-primary-40: hsl(
		var(--primary-hue) var(--primary-saturation) 40%
	);
	--md-ref-palette-primary-50: hsl(
		var(--primary-hue) var(--primary-saturation) 50%
	);
	--md-ref-palette-primary-60: hsl(
		var(--primary-hue) var(--primary-saturation) 60%
	);
	--md-ref-palette-primary-70: hsl(
		var(--primary-hue) var(--primary-saturation) 70%
	);
	--md-ref-palette-primary-80: hsl(
		var(--primary-hue) var(--primary-saturation) 80%
	);
	--md-ref-palette-primary-87: hsl(
		var(--primary-hue) var(--primary-saturation) 87%
	);
	--md-ref-palette-primary-90: hsl(
		var(--primary-hue) var(--primary-saturation) 90%
	);
	--md-ref-palette-primary-92: hsl(
		var(--primary-hue) var(--primary-saturation) 92%
	);
	--md-ref-palette-primary-94: hsl(
		var(--primary-hue) var(--primary-saturation) 94%
	);
	--md-ref-palette-primary-95: hsl(
		var(--primary-hue) var(--primary-saturation) 95%
	);
	--md-ref-palette-primary-96: hsl(
		var(--primary-hue) var(--primary-saturation) 96%
	);
	--md-ref-palette-primary-98: hsl(
		var(--primary-hue) var(--primary-saturation) 98%
	);
	--md-ref-palette-primary-99: hsl(
		var(--primary-hue) var(--primary-saturation) 99%
	);
	--md-ref-palette-primary-100: hsl(
		var(--primary-hue) var(--primary-saturation) 100%
	);

	/** Secondary Palette */
	--md-ref-palette-secondary-0: hsl(
		var(--secondary-hue) var(--secondary-saturation) 0%
	);
	--md-ref-palette-secondary-4: hsl(
		var(--secondary-hue) var(--secondary-saturation) 4%
	);
	--md-ref-palette-secondary-5: hsl(
		var(--secondary-hue) var(--secondary-saturation) 5%
	);
	--md-ref-palette-secondary-6: hsl(
		var(--secondary-hue) var(--secondary-saturation) 6%
	);
	--md-ref-palette-secondary-10: hsl(
		var(--secondary-hue) var(--secondary-saturation) 10%
	);
	--md-ref-palette-secondary-12: hsl(
		var(--secondary-hue) var(--secondary-saturation) 12%
	);
	--md-ref-palette-secondary-17: hsl(
		var(--secondary-hue) var(--secondary-saturation) 17%
	);
	--md-ref-palette-secondary-20: hsl(
		var(--secondary-hue) var(--secondary-saturation) 20%
	);
	--md-ref-palette-secondary-22: hsl(
		var(--secondary-hue) var(--secondary-saturation) 22%
	);
	--md-ref-palette-secondary-24: hsl(
		var(--secondary-hue) var(--secondary-saturation) 24%
	);
	--md-ref-palette-secondary-25: hsl(
		var(--secondary-hue) var(--secondary-saturation) 25%
	);
	--md-ref-palette-secondary-30: hsl(
		var(--secondary-hue) var(--secondary-saturation) 30%
	);
	--md-ref-palette-secondary-35: hsl(
		var(--secondary-hue) var(--secondary-saturation) 35%
	);
	--md-ref-palette-secondary-40: hsl(
		var(--secondary-hue) var(--secondary-saturation) 40%
	);
	--md-ref-palette-secondary-50: hsl(
		var(--secondary-hue) var(--secondary-saturation) 50%
	);
	--md-ref-palette-secondary-60: hsl(
		var(--secondary-hue) var(--secondary-saturation) 60%
	);
	--md-ref-palette-secondary-70: hsl(
		var(--secondary-hue) var(--secondary-saturation) 70%
	);
	--md-ref-palette-secondary-80: hsl(
		var(--secondary-hue) var(--secondary-saturation) 80%
	);
	--md-ref-palette-secondary-87: hsl(
		var(--secondary-hue) var(--secondary-saturation) 87%
	);
	--md-ref-palette-secondary-90: hsl(
		var(--secondary-hue) var(--secondary-saturation) 90%
	);
	--md-ref-palette-secondary-92: hsl(
		var(--secondary-hue) var(--secondary-saturation) 92%
	);
	--md-ref-palette-secondary-94: hsl(
		var(--secondary-hue) var(--secondary-saturation) 94%
	);
	--md-ref-palette-secondary-95: hsl(
		var(--secondary-hue) var(--secondary-saturation) 95%
	);
	--md-ref-palette-secondary-96: hsl(
		var(--secondary-hue) var(--secondary-saturation) 96%
	);
	--md-ref-palette-secondary-98: hsl(
		var(--secondary-hue) var(--secondary-saturation) 98%
	);
	--md-ref-palette-secondary-99: hsl(
		var(--secondary-hue) var(--secondary-saturation) 99%
	);
	--md-ref-palette-secondary-100: hsl(
		var(--secondary-hue) var(--secondary-saturation) 100%
	);

	/* Tertiary Palette */
	--md-ref-palette-tertiary-0: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 0%
	);
	--md-ref-palette-tertiary-4: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 4%
	);
	--md-ref-palette-tertiary-5: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 5%
	);
	--md-ref-palette-tertiary-6: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 6%
	);
	--md-ref-palette-tertiary-10: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 10%
	);
	--md-ref-palette-tertiary-12: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 12%
	);
	--md-ref-palette-tertiary-17: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 17%
	);
	--md-ref-palette-tertiary-20: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 20%
	);
	--md-ref-palette-tertiary-22: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 22%
	);
	--md-ref-palette-tertiary-24: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 24%
	);
	--md-ref-palette-tertiary-25: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 25%
	);
	--md-ref-palette-tertiary-30: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 30%
	);
	--md-ref-palette-tertiary-35: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 35%
	);
	--md-ref-palette-tertiary-40: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 40%
	);
	--md-ref-palette-tertiary-50: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 50%
	);
	--md-ref-palette-tertiary-60: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 60%
	);
	--md-ref-palette-tertiary-70: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 70%
	);
	--md-ref-palette-tertiary-80: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 80%
	);
	--md-ref-palette-tertiary-87: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 87%
	);
	--md-ref-palette-tertiary-90: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 90%
	);
	--md-ref-palette-tertiary-92: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 92%
	);
	--md-ref-palette-tertiary-94: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 94%
	);
	--md-ref-palette-tertiary-95: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 95%
	);
	--md-ref-palette-tertiary-96: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 96%
	);
	--md-ref-palette-tertiary-98: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 98%
	);
	--md-ref-palette-tertiary-99: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 99%
	);
	--md-ref-palette-tertiary-100: hsl(
		var(--tertiary-hue) var(--tertiary-saturation) 100%
	);

	/** Neutral Palette */
	--md-ref-palette-neutral-0: hsl(
		var(--neutral-hue) var(--neutral-saturation) 0%
	);
	--md-ref-palette-neutral-4: hsl(
		var(--neutral-hue) var(--neutral-saturation) 4%
	);
	--md-ref-palette-neutral-5: hsl(
		var(--neutral-hue) var(--neutral-saturation) 5%
	);
	--md-ref-palette-neutral-6: hsl(
		var(--neutral-hue) var(--neutral-saturation) 6%
	);
	--md-ref-palette-neutral-10: hsl(
		var(--neutral-hue) var(--neutral-saturation) 10%
	);
	--md-ref-palette-neutral-12: hsl(
		var(--neutral-hue) var(--neutral-saturation) 12%
	);
	--md-ref-palette-neutral-17: hsl(
		var(--neutral-hue) var(--neutral-saturation) 17%
	);
	--md-ref-palette-neutral-20: hsl(
		var(--neutral-hue) var(--neutral-saturation) 20%
	);
	--md-ref-palette-neutral-22: hsl(
		var(--neutral-hue) var(--neutral-saturation) 22%
	);
	--md-ref-palette-neutral-24: hsl(
		var(--neutral-hue) var(--neutral-saturation) 24%
	);
	--md-ref-palette-neutral-25: hsl(
		var(--neutral-hue) var(--neutral-saturation) 25%
	);
	--md-ref-palette-neutral-30: hsl(
		var(--neutral-hue) var(--neutral-saturation) 30%
	);
	--md-ref-palette-neutral-35: hsl(
		var(--neutral-hue) var(--neutral-saturation) 35%
	);
	--md-ref-palette-neutral-40: hsl(
		var(--neutral-hue) var(--neutral-saturation) 40%
	);
	--md-ref-palette-neutral-50: hsl(
		var(--neutral-hue) var(--neutral-saturation) 50%
	);
	--md-ref-palette-neutral-60: hsl(
		var(--neutral-hue) var(--neutral-saturation) 60%
	);
	--md-ref-palette-neutral-70: hsl(
		var(--neutral-hue) var(--neutral-saturation) 70%
	);
	--md-ref-palette-neutral-80: hsl(
		var(--neutral-hue) var(--neutral-saturation) 80%
	);
	--md-ref-palette-neutral-87: hsl(
		var(--neutral-hue) var(--neutral-saturation) 87%
	);
	--md-ref-palette-neutral-90: hsl(
		var(--neutral-hue) var(--neutral-saturation) 90%
	);
	--md-ref-palette-neutral-92: hsl(
		var(--neutral-hue) var(--neutral-saturation) 92%
	);
	--md-ref-palette-neutral-94: hsl(
		var(--neutral-hue) var(--neutral-saturation) 94%
	);
	--md-ref-palette-neutral-95: hsl(
		var(--neutral-hue) var(--neutral-saturation) 95%
	);
	--md-ref-palette-neutral-96: hsl(
		var(--neutral-hue) var(--neutral-saturation) 96%
	);
	--md-ref-palette-neutral-98: hsl(
		var(--neutral-hue) var(--neutral-saturation) 98%
	);
	--md-ref-palette-neutral-99: hsl(
		var(--neutral-hue) var(--neutral-saturation) 99%
	);
	--md-ref-palette-neutral-100: hsl(
		var(--neutral-hue) var(--neutral-saturation) 100%
	);

	/** Neutral Variant Palette */
	--md-ref-palette-neutral-variant-0: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 0%
	);
	--md-ref-palette-neutral-variant-4: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 4%
	);
	--md-ref-palette-neutral-variant-5: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 5%
	);
	--md-ref-palette-neutral-variant-6: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 6%
	);
	--md-ref-palette-neutral-variant-10: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 10%
	);
	--md-ref-palette-neutral-variant-12: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 12%
	);
	--md-ref-palette-neutral-variant-17: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 17%
	);
	--md-ref-palette-neutral-variant-20: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 20%
	);
	--md-ref-palette-neutral-variant-22: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 22%
	);
	--md-ref-palette-neutral-variant-24: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 24%
	);
	--md-ref-palette-neutral-variant-25: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 25%
	);
	--md-ref-palette-neutral-variant-30: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 30%
	);
	--md-ref-palette-neutral-variant-35: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 35%
	);
	--md-ref-palette-neutral-variant-40: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 40%
	);
	--md-ref-palette-neutral-variant-50: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 50%
	);
	--md-ref-palette-neutral-variant-60: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 60%
	);
	--md-ref-palette-neutral-variant-70: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 70%
	);
	--md-ref-palette-neutral-variant-80: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 80%
	);
	--md-ref-palette-neutral-variant-87: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 87%
	);
	--md-ref-palette-neutral-variant-90: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 90%
	);
	--md-ref-palette-neutral-variant-92: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 92%
	);
	--md-ref-palette-neutral-variant-94: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 94%
	);
	--md-ref-palette-neutral-variant-95: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 95%
	);
	--md-ref-palette-neutral-variant-96: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 96%
	);
	--md-ref-palette-neutral-variant-98: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 98%
	);
	--md-ref-palette-neutral-variant-99: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 99%
	);
	--md-ref-palette-neutral-variant-100: hsl(
		var(--neutral-variant-hue) var(--neutral-variant-saturation) 100%
	);

	/** Error Palette */
	--md-ref-palette-error-0: hsl(var(--error-hue) var(--error-saturation) 0%);
	--md-ref-palette-error-4: hsl(var(--error-hue) var(--error-saturation) 4%);
	--md-ref-palette-error-5: hsl(var(--error-hue) var(--error-saturation) 5%);
	--md-ref-palette-error-6: hsl(var(--error-hue) var(--error-saturation) 6%);
	--md-ref-palette-error-10: hsl(
		var(--error-hue) var(--error-saturation) 10%
	);
	--md-ref-palette-error-12: hsl(
		var(--error-hue) var(--error-saturation) 12%
	);
	--md-ref-palette-error-17: hsl(
		var(--error-hue) var(--error-saturation) 17%
	);
	--md-ref-palette-error-20: hsl(
		var(--error-hue) var(--error-saturation) 20%
	);
	--md-ref-palette-error-22: hsl(
		var(--error-hue) var(--error-saturation) 22%
	);
	--md-ref-palette-error-24: hsl(
		var(--error-hue) var(--error-saturation) 24%
	);
	--md-ref-palette-error-25: hsl(
		var(--error-hue) var(--error-saturation) 25%
	);
	--md-ref-palette-error-30: hsl(
		var(--error-hue) var(--error-saturation) 30%
	);
	--md-ref-palette-error-35: hsl(
		var(--error-hue) var(--error-saturation) 35%
	);
	--md-ref-palette-error-40: hsl(
		var(--error-hue) var(--error-saturation) 40%
	);
	--md-ref-palette-error-50: hsl(
		var(--error-hue) var(--error-saturation) 50%
	);
	--md-ref-palette-error-60: hsl(
		var(--error-hue) var(--error-saturation) 60%
	);
	--md-ref-palette-error-70: hsl(
		var(--error-hue) var(--error-saturation) 70%
	);
	--md-ref-palette-error-80: hsl(
		var(--error-hue) var(--error-saturation) 80%
	);
	--md-ref-palette-error-87: hsl(
		var(--error-hue) var(--error-saturation) 87%
	);
	--md-ref-palette-error-90: hsl(
		var(--error-hue) var(--error-saturation) 90%
	);
	--md-ref-palette-error-92: hsl(
		var(--error-hue) var(--error-saturation) 92%
	);
	--md-ref-palette-error-94: hsl(
		var(--error-hue) var(--error-saturation) 94%
	);
	--md-ref-palette-error-95: hsl(
		var(--error-hue) var(--error-saturation) 95%
	);
	--md-ref-palette-error-96: hsl(
		var(--error-hue) var(--error-saturation) 96%
	);
	--md-ref-palette-error-98: hsl(
		var(--error-hue) var(--error-saturation) 98%
	);
	--md-ref-palette-error-99: hsl(
		var(--error-hue) var(--error-saturation) 99%
	);
	--md-ref-palette-error-100: hsl(
		var(--error-hue) var(--error-saturation) 100%
	);

	/** Fixed Tokens */
	--md-sys-color-primary-fixed: var(--md-ref-palette-primary-90);
	--md-sys-color-on-primary-fixed: var(--md-ref-palette-primary-10);
	--md-sys-color-primary-fixed-dim: var(--md-ref-palette-primary-80);
	--md-sys-color-on-primary-fixed-dim: var(--md-ref-palette-primary-30);
	--md-sys-color-secondary-fixed: var(--md-ref-palette-secondary-90);
	--md-sys-color-on-secondary-fixed: var(--md-ref-palette-secondary-10);
	--md-sys-color-secondary-fixed-dim: var(--md-ref-palette-secondary-80);
	--md-sys-color-on-secondary-fixed-dim: var(--md-ref-palette-secondary-30);
	--md-sys-color-tertiary-fixed: var(--md-ref-palette-tertiary-90);
	--md-sys-color-on-tertiary-fixed: var(--md-ref-palette-tertiary-10);
	--md-sys-color-tertiary-fixed-dim: var(--md-ref-palette-tertiary-80);
	--md-sys-color-on-tertiary-fixed-dim: var(--md-ref-palette-tertiary-30);

	&.theme-light {
		--md-sys-color-primary: var(--md-ref-palette-primary-40);
		--md-sys-color-on-primary: var(--md-ref-palette-primary-100);
		--md-sys-color-primary-container: var(--md-ref-palette-primary-90);
		--md-sys-color-on-primary-container: var(--md-ref-palette-primary-10);
		--md-sys-color-secondary: var(--md-ref-palette-secondary-40);
		--md-sys-color-on-secondary: var(--md-ref-palette-secondary-100);
		--md-sys-color-secondary-container: var(--md-ref-palette-secondary-90);
		--md-sys-color-on-secondary-container: var(
			--md-ref-palette-secondary-10
		);
		--md-sys-color-tertiary: var(--md-ref-palette-tertiary-40);
		--md-sys-color-on-tertiary: var(--md-ref-palette-tertiary-100);
		--md-sys-color-tertiary-container: var(--md-ref-palette-tertiary-90);
		--md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary-10);
		--md-sys-color-error: var(--md-ref-palette-error-40);
		--md-sys-color-on-error: var(--md-ref-palette-error-100);
		--md-sys-color-error-container: var(--md-ref-palette-error-90);
		--md-sys-color-on-error-container: var(--md-ref-palette-error-10);
		--md-sys-color-background: var(--md-ref-palette-neutral-99);
		--md-sys-color-on-background: var(--md-ref-palette-neutral-10);
		--md-sys-color-outline: var(--md-ref-palette-neutral-variant-50);
		--md-sys-color-outline-variant: var(
			--md-ref-palette-neutral-variant-80
		);
		--md-sys-color-shadow: var(--md-ref-palette-neutral-0);
		--md-sys-color-scrim: var(--md-ref-palette-neutral-0);
		--md-sys-color-inverse-surface: var(--md-ref-palette-neutral-20);
		--md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral-95);
		--md-sys-color-inverse-primary: var(--md-ref-palette-primary-80);
		--md-sys-color-surface: var(--md-ref-palette-neutral-98);
		--md-sys-color-on-surface: var(--md-ref-palette-neutral-10);
		--md-sys-color-surface-variant: var(
			--md-ref-palette-neutral-variant-90
		);
		--md-sys-color-on-surface-variant: var(
			--md-ref-palette-neutral-variant-30
		);
		--md-sys-color-surface-dim: var(--md-ref-palette-neutral-87);
		--md-sys-color-surface-bright: var(--md-ref-palette-neutral-98);
		--md-sys-color-surface-container-lowest: var(
			--md-ref-palette-neutral-100
		);
		--md-sys-color-surface-container-low: var(--md-ref-palette-neutral-96);
		--md-sys-color-surface-container: var(--md-ref-palette-neutral-94);
		--md-sys-color-surface-container-high: var(--md-ref-palette-neutral-92);
		--md-sys-color-surface-container-highest: var(
			--md-ref-palette-neutral-90
		);
	}
	&.theme-dark {
		--md-sys-color-primary: var(--md-ref-palette-primary-80);
		--md-sys-color-on-primary: var(--md-ref-palette-primary-20);
		--md-sys-color-primary-container: var(--md-ref-palette-primary-30);
		--md-sys-color-on-primary-container: var(--md-ref-palette-primary-90);
		--md-sys-color-secondary: var(--md-ref-palette-secondary-80);
		--md-sys-color-on-secondary: var(--md-ref-palette-secondary-20);
		--md-sys-color-secondary-container: var(--md-ref-palette-secondary-30);
		--md-sys-color-on-secondary-container: var(
			--md-ref-palette-secondary-90
		);
		--md-sys-color-tertiary: var(--md-ref-palette-tertiary-80);
		--md-sys-color-on-tertiary: var(--md-ref-palette-tertiary-20);
		--md-sys-color-tertiary-container: var(--md-ref-palette-tertiary-30);
		--md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary-90);
		--md-sys-color-error: var(--md-ref-palette-error-80);
		--md-sys-color-on-error: var(--md-ref-palette-error-20);
		--md-sys-color-error-container: var(--md-ref-palette-error-30);
		--md-sys-color-on-error-container: var(--md-ref-palette-error-90);
		--md-sys-color-background: var(--md-ref-palette-neutral-10);
		--md-sys-color-on-background: var(--md-ref-palette-neutral-90);
		--md-sys-color-surface-variant: var(
			--md-ref-palette-neutral-variant-30
		);
		--md-sys-color-on-surface-variant: var(
			--md-ref-palette-neutral-variant-80
		);
		--md-sys-color-outline: var(--md-ref-palette-neutral-variant-60);
		--md-sys-color-outline-variant: var(
			--md-ref-palette-neutral-variant-30
		);
		--md-sys-color-shadow: var(--md-ref-palette-neutral-0);
		--md-sys-color-scrim: var(--md-ref-palette-neutral-0);
		--md-sys-color-inverse-surface: var(--md-ref-palette-neutral-90);
		--md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral-20);
		--md-sys-color-inverse-primary: var(--md-ref-palette-primary-40);
		--md-sys-color-surface: var(--md-ref-palette-neutral-6);
		--md-sys-color-on-surface: var(--md-ref-palette-neutral-90);
		--md-sys-color-surface-dim: var(--md-ref-palette-neutral-6);
		--md-sys-color-surface-bright: var(--md-ref-palette-neutral-24);
		--md-sys-color-surface-container-lowest: var(
			--md-ref-palette-neutral-4
		);
		--md-sys-color-surface-container-low: var(--md-ref-palette-neutral-10);
		--md-sys-color-surface-container: var(--md-ref-palette-neutral-12);
		--md-sys-color-surface-container-high: var(--md-ref-palette-neutral-17);
		--md-sys-color-surface-container-highest: var(
			--md-ref-palette-neutral-22
		);
	}

	/* Theme to Tokens */
	/* --radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px; */

	/* ## Foundations */

	/* ### Colors */
	/* --color-base-00: var(--md-ref-palette-primary-0);
	--color-base-05: var(--md-ref-palette-primary-5);
	--color-base-10: var(--md-ref-palette-primary-10);
	--color-base-20: var(--md-ref-palette-primary-20);
	--color-base-25: var(--md-ref-palette-primary-25);
	--color-base-30: var(--md-ref-palette-primary-30);
	--color-base-35: var(--md-ref-palette-primary-35);
	--color-base-40: var(--md-ref-palette-primary-40);
	--color-base-50: var(--md-ref-palette-primary-50);
	--color-base-60: var(--md-ref-palette-primary-60);
	--color-base-70: var(--md-ref-palette-primary-70);
	--color-base-100: var(--md-ref-palette-primary-100); */

	/* ### Surface colors */
	--background-primary: var(--md-sys-color-surface-container-lowest);
	--background-primary-alt: var(--md-sys-color-surface-container-low);
	--background-secondary: var(--md-sys-color-surface-container-high);
	--background-secondary-alt: var(--md-sys-color-surface-container-highest);
	--background-modifier-hover: var(--md-sys-color-surface-container);
	--background-modifier-active-hover: var(--md-sys-color-primary-container);
	--background-modifier-border: var(--md-sys-color-outline-variant);
	--background-modifier-border-hover: var(--md-sys-color-outline);
	--background-modifier-border-focus: var(--md-sys-color-primary);
	--background-modifier-error: var(--md-sys-color-error-container);
	--background-modifier-success: var(--md-sys-color-error-primary-container);
	--background-modifier-message: var(
		--md-sys-color-error-secondary-container
	);
	--background-modifier-form-field: var(
		--md-sys-color-error-surface-container
	);

	/* ### Interactive colors */
	--interactive-normal: var(--md-sys-color-surface-container);
	--interactive-normal-hover: var(--md-sys-color-surface-dim);
	--interactive-normal-accent: var(--md-sys-color-surface-bright);
	--interactive-accent: var(--md-sys-color-primary);
	--interactive-hover: var(--md-sys-color-primary-container);

	/* ### Text colors */

	/* #### Text foreground colors */
	--text-normal: var(--md-sys-color-on-surface);
	--text-muted: var(--md-sys-color-outline);
	--text-faint: var(--md-sys-color-outline-variant);

	--text-accent: var(--md-sys-color-primary);
	--text-accent-hover: var(--md-sys-color-primary);
	--text-on-accent: var(--md-sys-color-on-primary);
	--text-on-accent-inverted: var(--md-sys-color-on-primary);

	/* #### Text background colors */
	--text-selection: var(--md-sys-color-secondary-container);
	--text-highlight-bg: var(--md-sys-color-tertiary-container);

	/* ### Icons */
	/* --icon-color: var(--md-sys-color-primary);
	--icon-color-hover: var(--md-sys-color-primary);
	--icon-color-active: var(--md-sys-color-primary);
	--icon-color-focused: var(--md-sys-color-primary); */

	/* ## Editor */

	/* ### Blockquote */
	--blockquote-background-color: var(--md-sys-color-surface-container-high);
	--blockquote-border-color: var(--md-sys-color-primary);
	--blockquote-color: var(--md-sys-color-on-surface);

	/* ### Code */
	--code-background: var(--md-sys-color-surface);
	--code-normal: var(--md-sys-color-on-surface);

	/* ### Embed */
	--embed-background: var(--md-sys-color-surface);

	/* ### Headings */
	--h1-color: var(--md-sys-color-on-surface);
	--h2-color: var(--md-sys-color-on-surface);
	--h3-color: var(--md-sys-color-on-surface);
	--h4-color: var(--md-sys-color-on-surface);
	--h5-color: var(--md-sys-color-on-surface);
	--h6-color: var(--md-sys-color-on-surface);

	/* ### Horizontal Rule */
	--hr-color: var(--md-sys-color-outline-variant);

	/* ### Inline title */
	--inline-title-color: var(--md-sys-color-on-surface);

	/* ### Tag */
	--tag-background: var(--md-sys-color-primary-container);
	--tag-color: var(--md-sys-color-on-primary-container);
	--tag-background-hover: var(--md-sys-color-primary);
	--tag-color-hover: var(--md-sys-color-on-primary);

	/* ## Components */
	
	/* ### Button */
	--button-radius: 20px;

	/* ### Slider */
	--slider-thumb-radius: 36px;

	/* ### Tabs */

	/* ## Window */

	/* ### Divider */
	--divider-color: var(--md-sys-color-outline-variant);
	--divider-color-hover: var(--md-sys-color-outline);

	/* ### Ribbon */
	--ribbon-background: var(--md-sys-color-surface-container);
	--ribbon-background-collapsed: var(--md-sys-color-surface-dim);

	/* ### Scrollbar */
	--scrollbar-bg: var(--md-sys-color-surface-dim);
	--scrollbar-thumb-bg: var(--md-sys-color-outline);
	--scrollbar-active-thumb-bg: var(--md-sys-color-on-surface);

	/* ### Status bar */
	--status-bar-background: var(--md-sys-color-primary-container);
	--status-bar-text-color: var(--md-sys-color-on-primary-container);
	--status-bar-border-color: var(--md-sys-color-outline-variant);

	/* ### Window frame */
	--titlebar-background: var(--md-sys-color-surface-dim);
	--titlebar-background-focused: var(--md-sys-color-surface-container);
	--titlebar-border-color: var(--md-sys-color-outline-variant);
	--titlebar-text-color: var(--md-sys-color-on-surface);
	--titlebar-text-color-focused: var(--md-sys-color-on-surface);

	/* ### Workspace */
	/* --workspace-background-translucent: var(--md-sys-color-background); */

	/* ## Plugins */

	/* ### Canvas */
	--canvas-background: var(--md-sys-color-background);
	--canvas-card-label-color: var(--md-sys-color-on-background);
	--canvas-dot-pattern: var(--md-sys-color-outline-variant);
	/* Cannot set, rgb only:
	--canvas-color-1: var(--md-sys-color-primary);
	--canvas-color-2: var(--md-sys-color-secondary);
	--canvas-color-3: var(--md-sys-color-tertiary);
	--canvas-color-4: var(--md-sys-color-primary);
	--canvas-color-5: var(--md-sys-color-secondary);
	--canvas-color-6: var(--md-sys-color-tertiary); */

	/* ### File explorer */
	--vault-name-color: var(--md-sys-color-on-background);

	/* ### Graph */
	--graph-text: var(--md-sys-color-on-background);
	--graph-line: var(--md-sys-color-outline);
	--graph-node: var(--md-sys-color-surface-container);
	--graph-node-unresolved: var(--md-sys-color-surface-container-low);
	--graph-node-focused: var(--md-sys-color-surface-bright);
	--graph-node-tag: var(--md-sys-color-primary-container);
	--graph-node-attachment: var(--md-sys-color-tertiary-container);

	/* ### Search */
	--search-clear-button-color: var(--md-sys-color-on-surface);
	--search-icon-color: var(--md-sys-color-on-surface);
	--search-result-background: var(--md-sys-color-surface-container);
}

.cm-scroller {
	scrollbar-color: var(--scrollbar-bg) var(--scrollbar-thumb-bg);
}

@supports selector(::-webkit-scrollbar) {
	.cm-scroller::-webkit-scrollbar-thumb {
		background: var(--scrollbar-thumb-bg);
	}
	.cm-scroller::-webkit-scrollbar-track {
		background: var(--scrollbar-bg);
	}
}
