.theme-light {
	--background-primary: #FCFBFA;
	--background-primary-alt: #FCFBFA;
	--background-secondary: #F7F3F0;
	--background-secondary-alt: #F7F3F0;
	--background-modifier-border: #33323118;
	--accent-h: 3;
	--accent-l: 54;
	--accent-s: 70;
	--interactive-normal: #F7F3F0;
	--interactive-hover: #ede9e1;
	--interactive-accent: #538a8a;
	--interactive-accent-hover: #5c9e9e;
	--text-normal: #333231;
	--text-muted: #807974;
	--text-faint: #80797499;
	--text-on-accent: #FCFBFA;
	--text-on-accent-inverted: #333231;
	--text-success: #538a8a;
	--text-warning: #AD514C;
	--text-error: #AD514C;
	--text-accent: #AD514C;
	--text-accent-hover: #cc645e;
	--text-selection: #dae5e2;
	--text-highlight-bg: #fab48588;
	--color-red: #AD514C;
	--color-orange: #D28450;
	--color-yellow: #D28450;
	--color-green: #538A8A;
	--color-cyan: #807974;
	--color-blue: #356B94;
	--color-purple: #804C6E;
	--color-pink: #BD71A4;
	--color-red-rgb: 173, 81, 76;
	--color-orange-rgb: 210, 132, 80;
	--color-yellow-rgb: 120, 113, 108;
	--color-green-rgb: 83, 138, 138;
	--color-cyan-rgb: 120, 113, 108;
	--color-blue-rgb: 53, 107, 148;
	--color-purple-rgb: 128, 76, 110;
	--color-pink-rgb: 189, 113, 164;

}
.theme-dark {
	--background-primary: #252629;
	--background-primary-alt: #252629;
	--background-secondary: #222325;
	--background-secondary-alt: #222325;
	--background-modifier-border: #0003;
	--accent-h: 0;
	--accent-l: 50;
	--accent-s: 77;
	--interactive-normal: #353A42;
	--interactive-hover: #3F444D;
	--interactive-accent: #314F52;
	--interactive-accent-hover: #39595C;
	--text-normal: #DBD3CA;
	--text-muted: #9E8B8E;
	--text-faint: #9E8B8E99;
	--text-on-accent: #DBD3CA;
	--text-on-accent-inverted: #252629;
	--text-success: #AAC2AE;
	--text-warning: #EB8042;
	--text-error: #EB8042;
	--text-accent: #C76363;
	--text-accent-hover: #E07575;
	--text-selection: #353A42;
	--text-highlight-bg: #C7636344;
	--color-red: #c66b67;
	--color-orange: #EB9350;
	--color-yellow: #EB9350;
	--color-green: #AD8301;
	--color-cyan: #78716C;
	--color-blue: #68a0a0;
	--color-purple: #A89080;
	--color-pink: #A89080;
	--color-red-rgb: 198, 107, 103;
	--color-orange-rgb: 235, 147, 80;
	--color-yellow-rgb: 235, 147, 80;
	--color-green-rgb: 173, 131, 1;
	--color-cyan-rgb: 120, 113, 108;
	--color-blue-rgb: 104, 160, 160;
	--color-purple-rgb: 168, 144, 128;
	--color-pink-rgb: 168, 144, 128;
}
