.lightPalette-pistachio {
  --OT-theme-reference-color: #89c89c;
  --color-base-00: #f0f8f2;
  --color-base-20: #dff0e4;
  --color-base-35: #428e59;
  --color-base-40: #428e59;
  --color-base-50: #6bb782;
  --color-base-70: #326b43;
  --color-base-05: #c8e5d0;
  --code-background: #e4f6ea;
  --OT-button-OFF-bg: #d3ebda;
  --color-base-100: #288045;
  --link-color: #712880;
  /*    --h1-color:            #2C6620    ; */
  /*    --h3-color:            #007759    ; */
  /*    --h5-color:            #4DB438    ; */
  --OT-color-on-base-20: #309a53;
  --OT-table-header-background: #d3ebda;
  --OT-table-background: #e7f4eb;
}
