.lightPalette-lightBeige {
  --OT-theme-reference-color: #c3a78d;
  --color-base-00: #f6f2ee;
  --color-base-20: #e8dcd2;
  --color-base-35: #d7c2b0;
  --color-base-40: #a87d58;
  --color-base-50: #bfa389;
  --color-base-70: #725b49;
  --color-base-05: #e3d4c6;
  --code-background: #e6dbd0;
  --OT-button-OFF-bg: #dac9ba;
  --color-base-100: #6a4f38;
  --link-color: #58a8a5;
  --OT-text-selection-background: hsl(var(--accent-h), var(--accent-s), 81%);
  --checklist-done-color: #c7ad96;
  /*    --h1-color:                #96704F; */
  /*    --h3-color:                #9F7653; */
  /*    --h5-color:                #BEA18D; */
  --OT-table-background: #f8f5f1;
  --OT-table-header-background: #e6ddd5;
  --OT-table-alt-background: #f2ece6;
  --metadata-background: #eee5dd;
  --OT-color-muted-on-accent-1: #dfcfc2;
  --OT-color-muted-on-base-20: #89786c;
  --OT-color-on-accent-2: var(--color-base-00);
  --OT-color-on-base-20: #a87d58;
  --OT-setting-item-description: #8b684a;
  --OT-stabilo-mark: #e9ddd1;
}
