:root[saved-theme="dark"] {
  --mu-background-color-1: #002248;
  --mu-background-color-2: #001122;
  --mu-titlebar-background: #003388;
  --mu-color-lig: #007fff;
  --mu-gray-1: #a3a3a3;
  --mu-purple-1: #d372ff;
  --mu-purple-2: #a273d8;
  --mu-magenta-1: #f100f1;
  --mu-hr-color: #0072d3;
  --mu-text-1: #f1f1f1;
  --mu-text-title: hsl(278, 80%, 60%);
  --mu-text-bold: inherit;
  --mu-text-italic: inherit;
  --mu-blockquote-background: #cfcfcf20;
  --mu-blockquote-border: #007fff;
  --mu-divider-color: #007fff10;
  --mu-h1: #00a3ff;
  --mu-h2: #00a3ff;
  --mu-h3: #00a3ff;
  --mu-h4: #00a3ff;
  --mu-h5: #00a3ff;
  --mu-h6: #00a3ff;
  --mu-green-1: #20f120;
  --mu-green-2: #20a320;
  --mu-icon: #5382d3;
  --mu-icon-hover: #007fff;
  --mu-icon-active: #007fff;
  --mu-icon-focused: #00a3ff;
  --mu-icon-statusbar-menu: #0072d3;
  --mu-titlebar-text: #f1f1f1;
  --mu-vault-title: var(--mu-purple-2);
  --mu-folder-text-color: #72a3ff;
  --mu-link: #d372ff;
  --mu-link-hover: #db8fff;
  --mu-external-link: #00a9dd;
  --mu-external-link-hover: #00c3ff;
  --tab-divider-color: #003364;
  --mu-folder-zoom: 82%;
  --mu-notes-icon-zoom: 72%;
  --interactive-normal: var(--mu-background-color-2);
  --interactive-hover: var(--background-modifier-hover);
  --mu-code-attribute: #ffa3a3;
  --mu-input-bg-color: #001836;
  --mu-label-h1: #a35fbf;
  --mu-label-h2: #a35fbf;
  --mu-label-h3: #a35fbf;
  --mu-label-h4: #a35fbf;
  --mu-label-h5: #a35fbf;
  --mu-label-h6: #a35fbf;
  --mu-text-selection: #0051f1a3;
  --mu-special-folder-color: #000;
  --mu-suggestion-color: #00d3ff;
  --mu-caret-color: #00cfff;
  --highlight-mix-blend-mode: normal;
  --background-primary-alt: #212121;
  --background-secondary-alt: #383838;
  --mu-bookmarked-note-icon-bg: #007fff40;
  --mu-property-color: #00a3ff;
  --mu-property-title-color: #00a3ff;
  --mu-modal-background: #000;
  --mu-column-stripped-background: #00000082;
  --mu-scrollbar-thumb-bg: #84848422;
  --mu-scrollbar-thumb-bg-hover: #84848448;
  --mu-scrollbar-track-bg-hover: #00000021;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
