:root[saved-theme="light"] {
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --background-primary-alt: #e1e1e1;
  --background-secondary-alt: #ffffff;
  --code-background: #f1f1ff;
  --code-comment: #a3a3a3;
  --code-function: #00a300;
  --code-important: #ff7f00;
  --code-keyword: #c300f1;
  --code-normal: var(--mu-text-1);
  --code-operator: #c300f1;
  --code-property: #0048a3;
  --code-punctuation: #c300f1;
  --code-size: var(--font-smaller);
  --code-string: #0000f1;
  --code-tag: #c300f1;
  --code-value: #f18f00;
  --code-white-space: pre-wrap;
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 1),
    calc(var(--accent-s) * 1.01),
    calc(var(--accent-l) * 1.075)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-100: #222222;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5c5c5c;
  --color-blue: #086ddd;
  --color-blue-rgb: 8, 109, 221;
  --color-cyan: #00bfbc;
  --color-cyan-rgb: 0, 191, 188;
  --color-green: #08b94e;
  --color-green-rgb: 8, 185, 78;
  --color-orange: #ec7500;
  --color-orange-rgb: 236, 117, 0;
  --color-pink: #d53984;
  --color-pink-rgb: 213, 57, 132;
  --color-purple: #7852ee;
  --color-purple-rgb: 120, 82, 238;
  --color-red: #e93147;
  --color-red-rgb: 233, 49, 71;
  --color-yellow: #e0ac00;
  --color-yellow-rgb: 224, 172, 0;
  --graph-node-focused: #0048a3;
  --highlight-mix-blend-mode: normal;
  --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.05),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --interactive-hover: var(--background-modifier-hover);
  --interactive-normal: var(--mu-background-color-2);
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --mu-background-color-1: #e8efff;
  --mu-background-color-2: #d1dfff;
  --mu-blockquote-background: #cfcfcf88;
  --mu-blockquote-border: #007fff;
  --mu-bookmarked-note-icon-bg: #007fff30;
  --mu-caret-color: #cf00ff;
  --mu-code-attribute: #e50000;
  --mu-color-lig: #007fff;
  --mu-column-stripped-background: #00000011;
  --mu-divider-color: #007fff10;
  --mu-external-link: #0033ff;
  --mu-external-link-hover: #00a3ff;
  --mu-folder-text-color: #0048a3;
  --mu-folder-zoom: 82%;
  --mu-gray-1: #a3a3a3;
  --mu-green-1: #20cf20;
  --mu-green-2: #20a320;
  --mu-h1: #0072d3;
  --mu-h2: #0072d3;
  --mu-h3: #0072d3;
  --mu-h4: #0072d3;
  --mu-h5: #0072d3;
  --mu-h6: #0072d3;
  --mu-hr-color: #0072d3;
  --mu-icon: #5382d3;
  --mu-icon-active: #007fff;
  --mu-icon-focused: #00a3ff;
  --mu-icon-hover: #007fff;
  --mu-icon-statusbar-menu: #0072d3;
  --mu-input-bg-color: #fff;
  --mu-label-h1: #bf72d8;
  --mu-label-h2: #bf72d8;
  --mu-label-h3: #bf72d8;
  --mu-label-h4: #bf72d8;
  --mu-label-h5: #bf72d8;
  --mu-label-h6: #bf72d8;
  --mu-link: #a200ff;
  --mu-link-hover: #c300ff;
  --mu-magenta-1: #f100f1;
  --mu-modal-background: #cfcfcf;
  --mu-notes-icon-zoom: 72%;
  --mu-property-color: #0072d3;
  --mu-property-title-color: #0072d3;
  --mu-purple-1: #d372ff;
  --mu-purple-2: #b10aff;
  --mu-scrollbar-thumb-bg: #48484822;
  --mu-scrollbar-thumb-bg-hover: #48484848;
  --mu-scrollbar-track-bg-hover: #82828221;
  --mu-special-folder-color: #000;
  --mu-suggestion-color: #0072d3;
  --mu-text-1: #000;
  --mu-text-bold: inherit;
  --mu-text-italic: inherit;
  --mu-text-selection: #0051f136;
  --mu-text-title: #a300cf;
  --mu-titlebar-background: #003388;
  --mu-titlebar-text: #f1f1f1;
  --mu-vault-title: #a300cf;
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042),
    0px 15px 30px rgba(0, 0, 0, 0.07);
  --tab-divider-color: #003364;
  --text-muted: #353535;
  --text-normal: #000;
  color-scheme: light;
}
