:root,
body {
  :root {
    padding-bottom: 24px;
    --default-font: 'Times New Roman', Times, serif;
    --default-font-size: 16px;
    --code-font: 'Fira Code', 'JetBrains Mono', monospace;
    --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    --card-max-width: 10000px;
    --card-width: 100%;
    --card-margin: 0px 8px 0px 8px;
    --card-padding: 16px;
    --divider-width: 1px;
    --divider-color: #4d4d4f;
    --button-padding: 4px 4px;
    --button-margin: 0px 3px 0px 0px;
    --card-radius: 16px;
    .markdown-source-view.mod-cm6,
    .markdown-source-view.mod-cm6 .cm-scroller,
    .cm-s-obsidian {
      font-family: var(
        --default-font,
        'Times New Roman',
        Times,
        serif
      ) !important;
      font-size: var(--default-font-size);
      .theme-dar.abyss {
        --background-default: #10081e;
        --text-color: #ffffff;
        --background-primary: #080212;
        --background-primary-alt: var(--background-primary);
        --background-secondary: var(--background-primary);
        --background-secondary-alt: var(--background-primary);
        --background-modifier-border: var(--card-border-color);
        --card-bg: #080212;
        --card-border-color: #805cbe84;
        --blockquote-border-color: #300c6e;
        --blockquote-bg: #10081e;
        --blockquote-radius: 8px;
        --blockquote-text: inherit;
        --citation-bg: var(--color-accent);
        --card-shadow: 0 3px 8px rgba(97, 97, 97, 0.15);
        --graph-bg: #100425;
        --graph-line-color: var(--card-border-color);
        --tab-background-active: rgba(255, 255, 255, 0.1);
        --caret-color: var(--text-color);
        --color-panel: #10081e;
        --table-header-background: var(--color-accent);
        --custom-color-accent-dark: #341961;
        --icon-color: var(--card-border-color);
      }
      .theme-dar.atlantic {
        --background-default: #101b2d;
        --text-color: #f0f0f0;
        --background-primary: #0b121e;
        --background-primary-alt: var(--background-primary);
        --background-secondary: var(--background-primary);
        --background-secondary-alt: var(--background-primary);
        --background-modifier-border: var(--card-border-color);
        --card-bg: #0b121e;
        --card-border-color: #2d5e7f84;
        --blockquote-border-color: #134667;
        --blockquote-bg: #101b2d;
        --blockquote-radius: 8px;
        --blockquote-text: inherit;
        --citation-bg: var(--color-accent);
        --card-shadow: 0 3px 8px rgba(97, 97, 97, 0.15);
        --graph-bg: #101b2d;
        --graph-line-color: var(--card-border-color);
        --tab-background-active: rgba(255, 255, 255, 0.1);
        --caret-color: var(--text-color);
        --color-panel: #101b2d;
        --table-header-background: var(--color-accent);
        --custom-color-accent-dark: #003566;
        --icon-color: var(--card-border-color);
      }
      .theme-dar.moss {
        --background-default: #0a150c;
        --text-color: #f0f0f0;
        --background-primary: #070d08;
        --background-primary-alt: var(--background-primary);
        --background-secondary: var(--background-primary);
        --background-secondary-alt: var(--background-primary);
        --background-modifier-border: var(--card-border-color);
        --card-bg: #070d08;
        --card-border-color: #48745084;
        --blockquote-border-color: #214528;
        --blockquote-bg: #0a150c;
        --blockquote-radius: 8px;
        --blockquote-text: inherit;
        --citation-bg: var(--color-accent);
        --card-shadow: 0 3px 8px rgba(97, 97, 97, 0.15);
        --graph-bg: #0a150c;
        --graph-line-color: var(--card-border-color);
        --tab-background-active: rgba(255, 255, 255, 0.1);
        --caret-color: var(--text-color);
        --color-panel: #0a150c;
        --table-header-background: var(--color-accent);
        --custom-color-accent-dark: #2e6038;
        --icon-color: var(--card-border-color);
      }
      .theme-dar.onyx {
        --background-default: #0f161a;
        --text-color: #f0f0f0;
        --background-primary: #050a0c;
        --background-primary-alt: var(--background-primary);
        --background-secondary: var(--background-primary);
        --background-secondary-alt: var(--background-primary);
        --background-modifier-border: var(--card-border-color);
        --blockquote-radius: 8px;
        --blockquote-bg: var(--background-default);
        --blockquote-border-color: #263740;
        --citation-bg: var(--color-accent);
        --graph-bg: var(--background-default);
        --graph-line-color: var(--card-border-color);
        --tab-background-active: rgba(255, 255, 255, 0.1);
        --caret-color: var(--text-color);
        --card-bg: #050a0c;
        --card-border-color: #4d687684;
        --color-panel: #0f161a;
        --table-header-background: var(--color-accent);
        --text-color: #f0f0f0;
        --custom-color-accent-dark: #2f424c;
        --icon-color: var(--card-border-color);
      }
    }
    .markdown-preview-view {
      font-family: var(
        --default-font,
        'Times New Roman',
        Times,
        serif
      ) !important;
      font-size: var(--default-font-size);
    }
    body.mod-mobile .graph-view.color-fill {
      background-color: var(--graph-bg) !important;
    }
    body.mod-mobile .graph-view.color-line {
      color: var(--graph-line-color) !important;
    }
    .graph-view.color-fill {
      background-color: var(--graph-bg) !important;
    }
    .graph-view.color-line {
      color: var(--graph-line-color) !important;
    }
    /* tables */
    .markdown-preview-view table {
      /* preview */
      border-collapse: separate;
      border-spacing: 0;
      border: 1px solid var(--background-modifier-border);
      border-radius: 10px;
      overflow: hidden;
    }
    .cm-s-obsidian .cm-table,
    .cm-s-obsidian table {
      /* live view */
      border-collapse: separate;
      border-spacing: 0;
      width: fit-content;
      border: 1px solid var(--background-modifier-border);
      border-radius: 10px;
      overflow: hidden;
    }
    .markdown-preview-view table thead {
      /* table header preview mode */
      background-color: var(--color-accent);
      color: var(--text-color);
      padding: 0.5em;
      border: 1px solid var(--card-border-color);
    }
    .markdown-source-view.mod-cm6 table thead {
      /* table header live mode */
      background-color: var(--color-accent);
      color: var(--text-color);
      border: 1px solid var(--card-border-color);
    }
    /* dataview tables */
    table .dataview .dataview-table {
      width: 100%;
    }
    .dataview .dataview-table {
      border-collapse: separate;
      border-spacing: 0;
      border: 1px solid var(--background-modifier-border);
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
    }
    /* Optional: vertical lines between columns */
    .table-view-table .table-view-td,
    .table-view-table .table-view-th {
      border-right: 2px solid var(--card-border-color);
      border-bottom: 2px solid var(--card-border-color);
      padding: 6px 10px;
    }
    /* Remove last column's right border for visual polish */
    .table-view-tr > :last-child {
      border-right: none;
    }
    svg .svg-icon {
      /* Ícones SVG */
      fill: var(--icon-color);
    }
    .clickable-icon {
      color: var(--icon-color);
    }
    .clickable-icon.side-dock-ribbon-action .svg-icon,
    .mod-left-split .workspace-tab-header-inner-icon .svg-icon,
    .mod-right-split .workspace-tab-header-inner-icon .svg-icon {
      color: var(--icon-color);
    }
    .nav-file-title,
    .nav-folder-title {
      color: var(--card-border-color);
    }
    .tree-item-icon.collapse-icon {
      color: var(--card-border-color);
    }
    /* ----------------------------------------------- quotes ------------------------------------------------ */
    --blockquote-radius: 8px;
    /* for editor */
    .cm-quote {
      color: var(--text-normal) !important;
    }
    /* for preview */
    .markdown-preview-view blockquote {
      border: 2px solid;
      border-color: var(--blockquote-border-color) !important;
      border-left-width: 2px !important;
      border-radius: var(--blockquote-radius);
      font-size: inherit;
      line-height: 1.5em;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: var(--blockquote-bg);
      width: 100%;
    }
    /* if paraphrasing, wrap your quote in <blockquote class=paraphrase>text</blockquote> */
    .markdown-preview-view blockquote.paraphrase:after {
      display: none;
    }
    /* for citations */
    cite {
      background-color: var(--color-accent);
      border-radius: 6px;
      color: var(--blockquote-text);
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: right;
      display: block;
      position: relative;
    }
    cite a:link {
      color: white;
    }
    cite {
      color: var(--text-color);
      text-align: end;
      display: block;
      padding-right: 1em;
    }
    /* ------------------------------------------------------------------------------------------------------- */
    /* ----------------------------------------------- fontes ------------------------------------------------ */
    .cm-s-obsidian span.cm-inline-code,
    .markdown-preview-view code {
      font-family: var(--code-font) !important;
    }
    .markdown-preview-view pre code,
    .cm-s-obsidian pre,
    .cm-s-obsidian code[class*='language-'] {
      font-family: var(--code-font) !important;
    }
    .cm-s-obsidian span.cm-inline-code,
    .markdown-preview-view code {
      font-family: var(--code-font, 'Fira Code', monospace) !important;
    }
    .markdown-preview-view pre code,
    .cm-s-obsidian pre,
    .cm-s-obsidian code[class*='language-'] {
      font-family: var(--code-font, 'Fira Code', monospace) !important;
      font-size: 0.95rem;
    }
    .cm-highlight {
      background-color: var(--color-accent) !important;
      /* cor do destaque */
      display: inline;
      border-radius: 8px;
      padding: 0.075em 0.2em;
      /* espaçamento interno */
    }
    .theme-light .markdown-preview-view mark,
    .theme-dark .markdown-preview-view mark {
      background-color: var(--color-accent) !important;
      border-radius: 8px;
      padding: 0.075em 0.2em;
      color: inherit;
    }
    .markdown-rendered mark {
      background-color: var(--color-accent) !important;
      border-radius: 8px;
      padding: 0.075em 0.2em;
      color: inherit;
    }
    mark {
      background-color: var(--color-accent) !important;
      border-radius: 8px;
      padding: 0.075em 0.2em;
      color: inherit;
    }
    /* ------------------------------------------------------------------------------------------------------- */
    /* ---------------------------------------- bordas transparentes ------------------------------------------*/
    .workspace-split.mod-horizontal > .workspace-leaf-resize-handle,
    .workspace-split.mod-vertical > .workspace-leaf-resize-handle {
      border: none !important;
    }
    .pane-view {
      border: none !important;
    }
    .mod-left {
      border: none !important;
      border-right: none !important;
      border-bottom: none !important;
      border-top: none !important;
    }
    .mod-left::before {
      border: none !important;
    }
    .mod-right {
      border-left: none !important;
    }
    .workspace-leaf {
      border: none !important;
    }
    .view-content {
      border: none !important;
    }
    .workspace-sidedock-vault-profile {
      border: none !important;
    }
    .workspace-tab-header-container-inner {
      border: none !important;
      align-items: center !important;
      align-content: center !important;
      justify-content: center;
      justify-self: center;
      max-width: 100%;
    }
    .workspace-leaf-resize-handle {
      border: none !important;
    }
    .workspace-tab-header-container {
      border-bottom: none !important;
    }
    /* --------------------------------------------------------------------------------------------------------*/
    .workspace-tab-container {
      /* paineis */
      position: initial;
      display: block;
      width: calc(100% - var(--card-margin-horizontal, 8px) * 2);
      max-width: var(--card-max-width, 2000px);
      /* limite de largura */
      margin-bottom: 16px;
      margin-left: var(--card-margin-horizontal, 8px);
      margin-right: var(--card-margin-horizontal, 8px);
      padding: 0px;
      align-self: center;
      box-sizing: border-box;
      border: 0.5px solid var(--card-border-color);
      /* Visual de card */
      background-color: var(--color-panel);
      border-radius: var(--card-radius);
      box-shadow: var(--card-shadow);
    }
    body.mod-mobile .workspace-tab-container {
      /* paineis */
      position: initial;
      display: block;
      width: calc(100% - var(--card-margin-horizontal, 8px) * 2);
      max-width: var(--card-max-width, 2000px);
      /* limite de largura */
      margin-bottom: 16px;
      margin-left: var(--card-margin-horizontal, 8px);
      margin-right: var(--card-margin-horizontal, 8px);
      padding: 0px;
      align-self: center;
      box-sizing: border-box;
      border: 0.5px solid var(--card-border-color);
      /* Visual de card */
      background-color: var(--color-panel);
      border-radius: var(--card-radius);
      box-shadow: var(--card-shadow);
    }
    .mod-top-left-space .workspace-tab-container {
      margin-bottom: 8px;
    }
    .workspace-fake-target-overlay:not(.is-in-sidebar)
      .workspace-tabs
      .workspace-leaf,
    .mod-root .workspace-tabs .workspace-leaf {
      background-color: var(--card-bg);
    }
    canvas {
      width: 100%;
      height: 100%;
    }
    body.mod-mobile canvas {
      width: 100%;
      height: 100%;
      background-color: var(--graph-bg);
    }
    .workspace-leaf {
      /* painel lateral esquerdo cor */
      background-color: var(--color-panel);
    }
    body.mod-mobile .workspace-leaf {
      background-color: var(--color-panel);
    }
    .workspace-tab-header-inner-title {
      color: var(--text-normal);
    }
    .view-header {
      /* header da parte do meio */
      background-color: var(--card-bg) !important;
      border-bottom: 1px dashed var(--card-border-color);
      border-radius: 16px 16px 0px 0px;
      align-self: auto;
      margin: 0px;
      box-shadow: none;
    }
    .view-header-title-container.mod-at-start.mod-fade {
      /* fade título do header */
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 8px;
      color: var(--text-color);
    }
    .mod-fade:not(.mod-at-end):after {
      display: none;
    }
    .view-header-title-container {
      /* título do header */
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 8px;
      color: var(--text-color);
      align-items: center;
      justify-content: center;
    }
    .view-header-breadcrumb-separator {
      /* separador do breadcrumb */
      color: var(--text-color);
    }
    .empty-state {
      /* nada aberto */
      background-color: var(--card-bg);
    }
    .workspace-tab-header-container {
      /* parte de cima da interface*/
      position: relative;
      padding-bottom: 5px;
      background-color: transparent;
      border-bottom: 1px solid var(--card-bg);
    }
    .workspace-tab-header-container-inner {
      margin-bottom: 0px;
      margin-top: 4px;
      gap: 8px;
      width: fit-content;
    }
    .workspace-tab-header[data-type='markdown'],
    .workspace-tab-header[data-type='empty'] {
      max-width: 100%;
      display: flex;
      flex-grow: 1;
      border-radius: 6px;
      padding: 0 !important;
      box-shadow: none !important;
      transition: background-color 200ms ease-in-out;
      background: var(--card-bg);
      transition:
        flex-grow 0.5s ease-in-out,
        background-color 0.5s ease !important;
      box-sizing: border-box;
    }
    .workspace-tab-header[data-type='markdown'].is-active.mod-active,
    .workspace-tab-header[data-type='empty'].is-active.mod-active {
      flex-grow: 2;
      max-width: 250px;
      background-color: var(--color-accent);
      flex-grow: 2 !important;
      box-sizing: border-box;
      border: none;
    }
    .workspace-tab-header .is-active {
      max-width: 200px;
      background-color: var(--color-accent);
      box-sizing: border-box;
      border: none;
    }
    .workspace-tab-header-inner::after {
      box-sizing: border-box;
      display: none;
    }
    .workspace-tab-header::after,
    .workspace-tab-header::before {
      box-sizing: border-box;
      display: none;
    }
    .workspace-tab-header:not(.is-active)
      .workspace-tab-header-inner-close-button {
      box-sizing: border-box;
      display: none;
    }
    .workspace-tab-header:hover .workspace-tab-header-inner-close-button {
      box-sizing: border-box;
      display: flex;
    }
    .workspace-tab-header-tab-list {
      box-sizing: border-box;
      display: none !important;
    }
    .mod-left-split .workspace-tab-header-container-inner,
    .mod-right-split .workspace-tab-header-container-inner {
      /* botões da direita e esquerda em cima */
      padding: 4px 4px;
      margin: 4px 4px;
      box-sizing: border-box;
    }
    .mod-left-split .workspace-tab-header-container .is-active,
    .mod-right-split .workspace-tab-header-container .is-active {
      /* botões da direita e esquerda em cima ativos */
      opacity: 0.8;
      background-color: var(--color-accent,);
      box-sizing: border-box;
      border: none;
    }
    .mod-left-split .workspace-tab-header-inner,
    .mod-right-split .workspace-tab-header-inner {
      padding: 2px;
      box-sizing: border-box;
    }
    .mod-left-split .workspace-tab-header-container-inner,
    .mod-right-split .workspace-tab-header-container-inner {
      justify-content: left;
      justify-self: left;
      box-sizing: border-box;
    }
    .status-bar {
      /* status bar */
      border: none !important;
      width: 100vw;
      /* Ocupa toda a largura da viewport */
      left: 0;
      right: 0;
      position: fixed;
      bottom: 2px;
      background-color: var(--background-primary);
    }
    .workspace-sidedock-vault-profile {
      /* vault profile */
      padding: 0px;
      margin: 0px;
      background-color: var(--color-panel);
      border: 1 px solid var(--card-border-color) !important;
      border-radius: 0px 4px 4px 0px;
    }
    body.mod-mobile .workspace-sidedock-vault-profile {
      /* vault profile mobile */
      padding: 0px;
      margin: 0px;
      background-color: var(--color-panel);
      border: 1 px solid var(--card-border-color) !important;
      border-radius: 0px 4px 4px 0px;
    }
    .markdown-reading-view {
      background-color: var(--card-bg);
    }
  }
}
