.theme-light p > code,
.theme-light pre:not(.frontmatter),
.theme-light .HyperMD-codeblock {
  --code-background: hsl(230deg, 1%, 98%);
  --code-normal: hsl(230deg, 8%, 24%);
  --text-muted: hsl(230deg, 8%, 24%);
  --text-faint: hsl(230deg, 4%, 64%);
}

.theme-light p > code .cm-comment,
.theme-light p > code .cm-meta,
.theme-light p > code .cm-hr,
.theme-light p > code .token.comment,
.theme-light p > code .token.prolog,
.theme-light p > code .token.cdata,
.theme-light pre:not(.frontmatter) .cm-comment,
.theme-light pre:not(.frontmatter) .cm-meta,
.theme-light pre:not(.frontmatter) .cm-hr,
.theme-light pre:not(.frontmatter) .token.comment,
.theme-light pre:not(.frontmatter) .token.prolog,
.theme-light pre:not(.frontmatter) .token.cdata,
.theme-light .HyperMD-codeblock .cm-comment,
.theme-light .HyperMD-codeblock .cm-meta,
.theme-light .HyperMD-codeblock .cm-hr,
.theme-light .HyperMD-codeblock .token.comment,
.theme-light .HyperMD-codeblock .token.prolog,
.theme-light .HyperMD-codeblock .token.cdata {
  color: #a0a1a7;
}

.theme-light p > code .cm-punctuation,
.theme-light p > code .cm-bracket.cm-tag,
.theme-light p > code .cm-type,
.theme-light p > code .token.doctype,
.theme-light p > code .token.punctuation,
.theme-light p > code .token.entity,
.theme-light pre:not(.frontmatter) .cm-punctuation,
.theme-light pre:not(.frontmatter) .cm-bracket.cm-tag,
.theme-light pre:not(.frontmatter) .cm-type,
.theme-light pre:not(.frontmatter) .token.doctype,
.theme-light pre:not(.frontmatter) .token.punctuation,
.theme-light pre:not(.frontmatter) .token.entity,
.theme-light .HyperMD-codeblock .cm-punctuation,
.theme-light .HyperMD-codeblock .cm-bracket.cm-tag,
.theme-light .HyperMD-codeblock .cm-type,
.theme-light .HyperMD-codeblock .token.doctype,
.theme-light .HyperMD-codeblock .token.punctuation,
.theme-light .HyperMD-codeblock .token.entity {
  color: #383a42;
}

.theme-light p > code .cm-number,
.theme-light p > code .cm-attribute,
.theme-light p > code .token.attr-name,
.theme-light p > code .token.class-name,
.theme-light p > code .token.boolean,
.theme-light p > code .token.constant,
.theme-light p > code .token.number,
.theme-light p > code .token.atrule,
.theme-light pre:not(.frontmatter) .cm-number,
.theme-light pre:not(.frontmatter) .cm-attribute,
.theme-light pre:not(.frontmatter) .token.attr-name,
.theme-light pre:not(.frontmatter) .token.class-name,
.theme-light pre:not(.frontmatter) .token.boolean,
.theme-light pre:not(.frontmatter) .token.constant,
.theme-light pre:not(.frontmatter) .token.number,
.theme-light pre:not(.frontmatter) .token.atrule,
.theme-light .HyperMD-codeblock .cm-number,
.theme-light .HyperMD-codeblock .cm-attribute,
.theme-light .HyperMD-codeblock .token.attr-name,
.theme-light .HyperMD-codeblock .token.class-name,
.theme-light .HyperMD-codeblock .token.boolean,
.theme-light .HyperMD-codeblock .token.constant,
.theme-light .HyperMD-codeblock .token.number,
.theme-light .HyperMD-codeblock .token.atrule {
  color: #b76b01;
}

.theme-light p > code .cm-qualifier,
.theme-light p > code .cm-keyword,
.theme-light p > code .token.keyword,
.theme-light pre:not(.frontmatter) .cm-qualifier,
.theme-light pre:not(.frontmatter) .cm-keyword,
.theme-light pre:not(.frontmatter) .token.keyword,
.theme-light .HyperMD-codeblock .cm-qualifier,
.theme-light .HyperMD-codeblock .cm-keyword,
.theme-light .HyperMD-codeblock .token.keyword {
  color: #a626a4;
}

.theme-light p > code .cm-tag,
.theme-light p > code .cm-property,
.theme-light p > code .token.property,
.theme-light p > code .token.tag,
.theme-light p > code .token.symbol,
.theme-light p > code .token.deleted,
.theme-light p > code .token.important,
.theme-light pre:not(.frontmatter) .cm-tag,
.theme-light pre:not(.frontmatter) .cm-property,
.theme-light pre:not(.frontmatter) .token.property,
.theme-light pre:not(.frontmatter) .token.tag,
.theme-light pre:not(.frontmatter) .token.symbol,
.theme-light pre:not(.frontmatter) .token.deleted,
.theme-light pre:not(.frontmatter) .token.important,
.theme-light .HyperMD-codeblock .cm-tag,
.theme-light .HyperMD-codeblock .cm-property,
.theme-light .HyperMD-codeblock .token.property,
.theme-light .HyperMD-codeblock .token.tag,
.theme-light .HyperMD-codeblock .token.symbol,
.theme-light .HyperMD-codeblock .token.deleted,
.theme-light .HyperMD-codeblock .token.important {
  color: #e45649;
}

.theme-light p > code .cm-builtin,
.theme-light p > code .cm-string,
.theme-light p > code .cm-string-2,
.theme-light p > code .token.selector,
.theme-light p > code .token.string,
.theme-light p > code .token.char,
.theme-light p > code .token.builtin,
.theme-light p > code .token.inserted,
.theme-light p > code .token.regex,
.theme-light p > code .token.attr-value,
.theme-light p > code .token.attr-value > .token.punctuation,
.theme-light pre:not(.frontmatter) .cm-builtin,
.theme-light pre:not(.frontmatter) .cm-string,
.theme-light pre:not(.frontmatter) .cm-string-2,
.theme-light pre:not(.frontmatter) .token.selector,
.theme-light pre:not(.frontmatter) .token.string,
.theme-light pre:not(.frontmatter) .token.char,
.theme-light pre:not(.frontmatter) .token.builtin,
.theme-light pre:not(.frontmatter) .token.inserted,
.theme-light pre:not(.frontmatter) .token.regex,
.theme-light pre:not(.frontmatter) .token.attr-value,
.theme-light pre:not(.frontmatter) .token.attr-value > .token.punctuation,
.theme-light .HyperMD-codeblock .cm-builtin,
.theme-light .HyperMD-codeblock .cm-string,
.theme-light .HyperMD-codeblock .cm-string-2,
.theme-light .HyperMD-codeblock .token.selector,
.theme-light .HyperMD-codeblock .token.string,
.theme-light .HyperMD-codeblock .token.char,
.theme-light .HyperMD-codeblock .token.builtin,
.theme-light .HyperMD-codeblock .token.inserted,
.theme-light .HyperMD-codeblock .token.regex,
.theme-light .HyperMD-codeblock .token.attr-value,
.theme-light .HyperMD-codeblock .token.attr-value > .token.punctuation {
  color: #50a14f;
}

.theme-light p > code .cm-operator,
.theme-light p > code .cm-variable,
.theme-light p > code .cm-variable-2,
.theme-light p > code .cm-variable-3,
.theme-light p > code .token.variable,
.theme-light p > code .token.operator,
.theme-light p > code .token.function,
.theme-light pre:not(.frontmatter) .cm-operator,
.theme-light pre:not(.frontmatter) .cm-variable,
.theme-light pre:not(.frontmatter) .cm-variable-2,
.theme-light pre:not(.frontmatter) .cm-variable-3,
.theme-light pre:not(.frontmatter) .token.variable,
.theme-light pre:not(.frontmatter) .token.operator,
.theme-light pre:not(.frontmatter) .token.function,
.theme-light .HyperMD-codeblock .cm-operator,
.theme-light .HyperMD-codeblock .cm-variable,
.theme-light .HyperMD-codeblock .cm-variable-2,
.theme-light .HyperMD-codeblock .cm-variable-3,
.theme-light .HyperMD-codeblock .token.variable,
.theme-light .HyperMD-codeblock .token.operator,
.theme-light .HyperMD-codeblock .token.function {
  color: #4078f2;
}

.theme-light p > code .cm-link,
.theme-light p > code .token.url,
.theme-light pre:not(.frontmatter) .cm-link,
.theme-light pre:not(.frontmatter) .token.url,
.theme-light .HyperMD-codeblock .cm-link,
.theme-light .HyperMD-codeblock .token.url {
  color: #0184bc;
}

.theme-light p > code .token.attr-value > .token.punctuation.attr-equals,
.theme-light
  p
  > code
  .token.special-attr
  > .token.attr-value
  > .token.value.css,
.theme-light
  pre:not(.frontmatter)
  .token.attr-value
  > .token.punctuation.attr-equals,
.theme-light
  pre:not(.frontmatter)
  .token.special-attr
  > .token.attr-value
  > .token.value.css,
.theme-light
  .HyperMD-codeblock
  .token.attr-value
  > .token.punctuation.attr-equals,
.theme-light
  .HyperMD-codeblock
  .token.special-attr
  > .token.attr-value
  > .token.value.css {
  color: #383a42;
}

.theme-light p > code .language-css .token.selector,
.theme-light pre:not(.frontmatter) .language-css .token.selector,
.theme-light .HyperMD-codeblock .language-css .token.selector {
  color: #e45649;
}

.theme-light p > code .language-css .token.property,
.theme-light pre:not(.frontmatter) .language-css .token.property,
.theme-light .HyperMD-codeblock .language-css .token.property {
  color: #383a42;
}

.theme-light p > code .language-css .token.function,
.theme-light p > code .language-css .token.url > .token.function,
.theme-light pre:not(.frontmatter) .language-css .token.function,
.theme-light pre:not(.frontmatter) .language-css .token.url > .token.function,
.theme-light .HyperMD-codeblock .language-css .token.function,
.theme-light .HyperMD-codeblock .language-css .token.url > .token.function {
  color: #0184bc;
}

.theme-light p > code .language-css .token.url > .token.string.url,
.theme-light pre:not(.frontmatter) .language-css .token.url > .token.string.url,
.theme-light .HyperMD-codeblock .language-css .token.url > .token.string.url {
  color: #50a14f;
}

.theme-light p > code .language-css .token.important,
.theme-light p > code .language-css .token.atrule .token.rule,
.theme-light pre:not(.frontmatter) .language-css .token.important,
.theme-light pre:not(.frontmatter) .language-css .token.atrule .token.rule,
.theme-light .HyperMD-codeblock .language-css .token.important,
.theme-light .HyperMD-codeblock .language-css .token.atrule .token.rule {
  color: #a626a4;
}

.theme-light p > code .language-javascript .token.operator,
.theme-light pre:not(.frontmatter) .language-javascript .token.operator,
.theme-light .HyperMD-codeblock .language-javascript .token.operator {
  color: #a626a4;
}

.theme-light
  p
  > code
  .language-javascript
  .token.template-string
  > .token.interpolation
  > .token.interpolation-punctuation.punctuation,
.theme-light
  pre:not(.frontmatter)
  .language-javascript
  .token.template-string
  > .token.interpolation
  > .token.interpolation-punctuation.punctuation,
.theme-light
  .HyperMD-codeblock
  .language-javascript
  .token.template-string
  > .token.interpolation
  > .token.interpolation-punctuation.punctuation {
  color: #ca1243;
}

.theme-light p > code .language-json .token.operator,
.theme-light pre:not(.frontmatter) .language-json .token.operator,
.theme-light .HyperMD-codeblock .language-json .token.operator {
  color: #383a42;
}

.theme-light p > code .language-json .token.null.keyword,
.theme-light pre:not(.frontmatter) .language-json .token.null.keyword,
.theme-light .HyperMD-codeblock .language-json .token.null.keyword {
  color: #b76b01;
}

.theme-light p > code .language-markdown .token.url,
.theme-light p > code .language-markdown .token.url > .token.operator,
.theme-light
  p
  > code
  .language-markdown
  .token.url-reference.url
  > .token.string,
.theme-light pre:not(.frontmatter) .language-markdown .token.url,
.theme-light
  pre:not(.frontmatter)
  .language-markdown
  .token.url
  > .token.operator,
.theme-light
  pre:not(.frontmatter)
  .language-markdown
  .token.url-reference.url
  > .token.string,
.theme-light .HyperMD-codeblock .language-markdown .token.url,
.theme-light .HyperMD-codeblock .language-markdown .token.url > .token.operator,
.theme-light
  .HyperMD-codeblock
  .language-markdown
  .token.url-reference.url
  > .token.string {
  color: #383a42;
}

.theme-light p > code .language-markdown .token.url > .token.content,
.theme-light
  pre:not(.frontmatter)
  .language-markdown
  .token.url
  > .token.content,
.theme-light .HyperMD-codeblock .language-markdown .token.url > .token.content {
  color: #4078f2;
}

.theme-light p > code .language-markdown .token.url > .token.url,
.theme-light p > code .language-markdown .token.url-reference.url,
.theme-light pre:not(.frontmatter) .language-markdown .token.url > .token.url,
.theme-light pre:not(.frontmatter) .language-markdown .token.url-reference.url,
.theme-light .HyperMD-codeblock .language-markdown .token.url > .token.url,
.theme-light .HyperMD-codeblock .language-markdown .token.url-reference.url {
  color: #0184bc;
}

.theme-light p > code .language-markdown .token.blockquote.punctuation,
.theme-light p > code .language-markdown .token.hr.punctuation,
.theme-light
  pre:not(.frontmatter)
  .language-markdown
  .token.blockquote.punctuation,
.theme-light pre:not(.frontmatter) .language-markdown .token.hr.punctuation,
.theme-light
  .HyperMD-codeblock
  .language-markdown
  .token.blockquote.punctuation,
.theme-light .HyperMD-codeblock .language-markdown .token.hr.punctuation {
  color: #a0a1a7;
  font-style: italic;
}

.theme-light p > code .language-markdown .token.code-snippet,
.theme-light pre:not(.frontmatter) .language-markdown .token.code-snippet,
.theme-light .HyperMD-codeblock .language-markdown .token.code-snippet {
  color: #50a14f;
}

.theme-light p > code .language-markdown .token.bold .token.content,
.theme-light
  pre:not(.frontmatter)
  .language-markdown
  .token.bold
  .token.content,
.theme-light .HyperMD-codeblock .language-markdown .token.bold .token.content {
  color: #b76b01;
}

.theme-light p > code .language-markdown .token.italic .token.content,
.theme-light
  pre:not(.frontmatter)
  .language-markdown
  .token.italic
  .token.content,
.theme-light
  .HyperMD-codeblock
  .language-markdown
  .token.italic
  .token.content {
  color: #a626a4;
}

.theme-light p > code .language-markdown .token.strike .token.content,
.theme-light p > code .language-markdown .token.strike .token.punctuation,
.theme-light p > code .language-markdown .token.list.punctuation,
.theme-light
  p
  > code
  .language-markdown
  .token.title.important
  > .token.punctuation,
.theme-light
  pre:not(.frontmatter)
  .language-markdown
  .token.strike
  .token.content,
.theme-light
  pre:not(.frontmatter)
  .language-markdown
  .token.strike
  .token.punctuation,
.theme-light pre:not(.frontmatter) .language-markdown .token.list.punctuation,
.theme-light
  pre:not(.frontmatter)
  .language-markdown
  .token.title.important
  > .token.punctuation,
.theme-light .HyperMD-codeblock .language-markdown .token.strike .token.content,
.theme-light
  .HyperMD-codeblock
  .language-markdown
  .token.strike
  .token.punctuation,
.theme-light .HyperMD-codeblock .language-markdown .token.list.punctuation,
.theme-light
  .HyperMD-codeblock
  .language-markdown
  .token.title.important
  > .token.punctuation {
  color: #e45649;
}

.theme-light p > code .token.bold,
.theme-light pre:not(.frontmatter) .token.bold,
.theme-light .HyperMD-codeblock .token.bold {
  font-weight: bold;
}

.theme-light p > code .token.comment,
.theme-light p > code .token.italic,
.theme-light pre:not(.frontmatter) .token.comment,
.theme-light pre:not(.frontmatter) .token.italic,
.theme-light .HyperMD-codeblock .token.comment,
.theme-light .HyperMD-codeblock .token.italic {
  font-style: italic;
}

.theme-light p > code .token.entity,
.theme-light pre:not(.frontmatter) .token.entity,
.theme-light .HyperMD-codeblock .token.entity {
  cursor: help;
}

.theme-light p > code .token.namespace,
.theme-light pre:not(.frontmatter) .token.namespace,
.theme-light .HyperMD-codeblock .token.namespace {
  opacity: 0.8;
}
