:root[saved-theme="dark"] {
  --color-base-00: #111111;
  --header-color: var(--interactive-accent);
  --bold-color: white;
  --italic-color: white;
  --text-highlight-bg: #9ece6a66;
  --text-faint: #565f8988;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
