body:not(.show-sidebar-tabs) .workspace-tab-header-container,
body:not(.show-sidebar-tabs) .workspace-tab-header-container * {
  transition: var(--medium-transition);
}

body:not(.show-sidebar-tabs) .workspace-tab-header-container:is(:hover *, :hover) {
  transition: var(--quick-transition);
  transition-delay: var(--transition-delay-passing-over-protection);
}

body:not(.show-sidebar-tabs) .workspace-tab-header-container:not(:hover) {
  height: 11px;
  box-shadow: var(--small-reverted-inset-shadow);
  padding-top: 0;
  padding-bottom: 0;
}

body:not(.show-sidebar-tabs)
  .workspace-tabs:nth-child(3)
  .workspace-tab-header-container:not(:hover) {
  box-shadow: var(--medium-reverted-inset-shadow);
}

body:not(.show-sidebar-tabs) .workspace-tabs:not(:nth-child(3)) .workspace-tab-header-container {
  border-top: var(--basic-border);
}

body:not(.show-sidebar-tabs)
  .workspace-tabs.workspace-tabs.workspace-tabs.workspace-tabs
  .workspace-tab-header-container:hover {
  height: 55px;
  box-shadow: var(--big-reverted-inset-shadow);
  padding-bottom: 4px;
}

body:not(.show-sidebar-tabs) .workspace-tab-header-container:hover .workspace-tab-header {
  margin-top: 10px;
}

body:not(.show-sidebar-tabs)
  .workspace-tabs
  .workspace-tab-header-container:not(:hover)
  .workspace-tab-header,
body:not(.show-sidebar-tabs)
  .workspace-tabs
  .workspace-tab-header-container:not(:hover)
  .workspace-tab-header
  svg {
  opacity: 0;
  border: none;
}
