h1,
.HyperMD-header-1 {
  color: #4da8b2;
}
h2,
.HyperMD-header-2 {
  color: #b24db2;
}
h3,
.HyperMD-header-3 {
  color: #c5aa26;
}
h4,
.HyperMD-header-4 {
  color: #fa3872;
}
h5,
.HyperMD-header-5 {
  color: #619726;
}
h6,
.HyperMD-header-6 {
  color: #8f4bd2;
}
