body.toggle-note-header .workspace-split.mod-vertical.mod-root .view-header {
  opacity: 0;
  transition: opacity 0.15s;
}

body.toggle-note-header .workspace-split.mod-vertical.mod-root .view-header:focus-within {
  opacity: 1;
}
