body .markdown-rendered mark,
body .style-settings-container mark,
body .markdown-source-view.is-live-preview mark,
body
  .markdown-source-view.is-live-preview
  :not(.cm-formatting-highlight)
  + .cm-highlight {
  transition: color 0.2s;
  color: var(--font-highlight-bg-color);
}
body .markdown-rendered mark:hover,
body .style-settings-container mark:hover,
body .markdown-source-view.is-live-preview mark:hover,
body
  .markdown-source-view.is-live-preview
  :not(.cm-formatting-highlight)
  + .cm-highlight:hover {
  color: var(--font-highlight-color);
}
body
  .markdown-source-view.is-live-preview
  .cm-highlight.cm-formatting-highlight,
body .markdown-source-view.is-live-preview .cm-active.cm-line .cm-highlight {
  color: var(--font-highlight-color);
}
