{
  "printWidth": 100,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "overrides": [
    {
      "files": "**/*.json",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
