:root:root {
  --accent-h: 240;
  --accent-s: 100%;
  --accent-l: 24%;
  --interactive-normal: var(--accent-1);
  --interactive-hover: var(--accent-1);
  --interactive-accent: var(--accent-6);
  --interactive-accent-hover: var(--background-primary);
  --background-primary: #bdbebd;
  --background-secondary: #bdbebd;
  --nav-item-background-active: #00007b;
  --nav-item-color-active: var(--accent-1);
  --scrollbar-track: var(--color-base-25);
  --scrollbar-thumb: var(--color-base-20);
  --border-highlight: var(--accent-1);
  --border-shadow: var(--color-base-55);
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 233, 49, 71;
  --color-red: #e93147;
  --color-orange-rgb: 236, 117, 0;
  --color-orange: #ec7500;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-green-rgb: 8, 185, 78;
  --color-green: #08b94e;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-blue-rgb: 8, 109, 221;
  --color-blue: #086ddd;
  --color-purple-rgb: 120, 82, 238;
  --color-purple: #7852ee;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-55: #808080;
  --color-base-60: #707070;
  --color-base-70: #5c5c5c;
  --color-base-100: #222222;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 1),
    calc(var(--accent-s) * 1.01),
    calc(var(--accent-l) * 1.075)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --accent-1: #ffffff;
  --accent-2: #00ffff;
  --accent-3: #00ff00;
  --accent-4: #ffff00;
  --accent-5: #ff0000;
  --accent-6: #00007b;
  --accent-1-muted: #ff79c6;
  --accent-2-muted: #8be9fd;
  --accent-3-muted: #50fa7b;
  --accent-4-muted: #ffb86c;
  --accent-5-muted: #ff5555;
  --accent-6-muted: #bd93f9;
  --header-color: #34548a;
  --bold-color: #000000;
  --italic-color: #343b58;
  --text-highlight-bg: #485e3066;
  --text-faint: #4f5057;
  --background-editor-primary: #ffffff;
  --nav-files-background: var(--background-editor-primary);
  --indentation-guide-color: rgba(var(--mono-rgb-100), 0.4);
  --background-modifier-border: var(--color-base-60);
  --background-modifier-border-hover: var(--background-primary);
  --background-modifier-border-focus: var(--background-primary);
  --ribbon-background: var(--background-primary);
  --code-background: var(--accent-1);
  --tab-container-background: var(--background-primary);
  --titlebar-background: var(--background-primary);
  --titlebar-background-focused: var(--background-primary);
  --graph-line: var(--background-primary, var(--background-modifier-border-focus));
  --h1-color: var(--header-color);
  --h2-color: var(--header-color);
  --h3-color: var(--header-color);
  --h4-color: var(--header-color);
  --h5-color: var(--header-color);
  --h6-color: var(--header-color);

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
