@import "fonts";

:root {
  --table-border-radius: 8px;
}

body {
}

:root[saved-theme="dark"] {
  --red-100: #f2b5b6;
  --red-200: #e98485;
  --red-300: #e05354;
  --red-400: #d72223;
  --red-500: #d3090b;
  --red-600: #be080a;
  --red-700: #940608;
  --red-800: #6a0506;
  --red-900: #3f0303;
  --yellow-100: #fce9b6;
  --yellow-200: #fada86;
  --yellow-300: #f8cb56;
  --yellow-400: #f6bc25;
  --yellow-500: #f5b40d;
  --yellow-500-R: 245;
  --yellow-500-G: 180;
  --yellow-500-B: 13;
  --yellow-600: #dda20c;
  --yellow-700: #ac7e09;
  --yellow-800: #7b5a07;
  --yellow-900: #4a3604;
  --primary-100: #f3e6ed;
  --primary-200: #e1bfd1;
  --primary-300: #cf99b6;
  --primary-400: #ab4d7f;
  --primary-450: #ab4d7f;
  --primary-500: #870048;
  --primary-500-R: 135;
  --primary-500-G: 0;
  --primary-500-B: 72;
  --primary-500-H: 328;
  --primary-500-S: 100;
  --primary-500-L: 26.5;
  --primary-600: #7a0041;
  --primary-700: #51002b;
  --primary-800: #3d0020;
  --primary-900: #290016;
  --gray-100: #f6f7f5;
  --gray-200: #eaeae7;
  --gray-300: #dcd5d4;
  --gray-400: #c2bdbd;
  --gray-500: #9f9697;
  --gray-600: #706a69;
  --gray-700: #534e4f;
  --gray-800: #3c383b;
  --gray-900: #2e2c2f;
  --gray-1000: #181517;
  --gray-1100: #0c0c0c;
  --background-modifier-border-focus: var(--primary-600);
  --table-header-background-hover: var(--primary-800);
  --table-header-color: var(--gray-200);
  --table-row-background-hover: var(--gray-900);
  --divider-color: var(--gray-900);
  --background-primary: var(--gray-1100);
  --background-primary-alt: var(--gray-1000);
  --background-secondary: var(--gray-1100);
  --background-secondary-alt: var(--gray-1000);
  --background-modifier-message: var(--gray-800);
  --background-modifier-border: var(--gray-800);
  --background-modifier-form-field: var(--gray-1100);
  --background-modifier-form-field-highlighted: var(--gray-1000);
  --background-modifier-cover: var(--gray-1000);
  --text-accent: var(--primary-400);
  --text-accent-hover: var(--primary-400);
  --text-normal: var(--gray-300);
  --text-muted: var(--gray-600);
  --text-muted-rgb: 112, 106, 105;
  --text-faint: var(--gray-500);
  --text-highlight-bg: var(--yellow-800);
  --text-selection: rgba(var(--yellow-500-R), var(--yellow-500-G), var(--yellow-500-B), 0.5);
  --text-on-accent: var(--gray-100);
  --interactive-accent: var(--primary-500);
  --interactive-accent-rgb: var(--primary-500-R) var(--primary-500-G) var(--primary-500-B);
  --interactive-hover: var(--primary-800);
  --interactive-accent-hover: var(--primary-400);
  --scrollbar-active-thumb-bg: var(--primary-700);
  --text-error: var(--red-400);
  --background-modifier-success: #197300;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --text-error-hover: #990000;
  --text-highlight-bg-active: white;
  --interactive-normal: blue;
}

:root[saved-theme="light"] {
}
