.colorscheme-coffee.theme-dark {
  --bg-hue: 29;
  --bg-sat: 15%;
  --color-accent-hsl: 50, 70%, 60%;
  --color-accent: #e0c952;
  --interactive-accent: #0a7046;
  --alt-heading-color: #ff675c;
  --secondary-accent: #0a7046;
  --hover-accent: #4ba6ce;
  --link-unresolved-color: #bc94cc;
}
