:root[saved-theme="dark"] {
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-green-rgb: 68, 207, 110;
  --color-green: #6ea82c;
  --color-orange: #f39b35;
  --color-yellow: #ffda34;
  --color-cyan: #53dfdd;
  --color-blue: #0e86ff;
  --color-purple: #a06fca;
  --color-pink: #fa99cd;
  --color-base-00: #1c1c1c;
  --color-base-10: #272727;
  --color-base-20: #1c1c1c;
  --color-base-25: #1c1c1c;
  --color-base-30: #272727;
  --color-base-35: #272727;
  --color-base-40: #555;
  --color-base-50: #666;
  --color-base-60: #999;
  --color-base-70: #bababa;
  --color-base-100: #dadada;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 2.5%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 5%));
  --titlebar-background-focused: var(--color-base-10);
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-highlight-bg: hsla(
    var(--accent-h),
    var(--accent-s),
    var(--accent-l),
    calc(var(--accent-alpha) + 30%)
  );
  --text-highlight-bg-active: hsla(
    var(--accent-h),
    var(--accent-s),
    var(--accent-l),
    calc(var(--accent-alpha) + 50%)
  );
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --tag-background: var(--tag-background-color);
  --tag-color: var(--tag-font-color-d);
  --text-muted: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 65%));
  --text-faint: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 40%));
  --text-formatted: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 50%));
  --text-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --text-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 20%));
  --h1-color: var(--h1-text-color-dt);
  --h2-color: var(--h2-text-color-dt);
  --h3-color: var(--h3-text-color-dt);
  --h4-color: var(--h4-text-color-dt);
  --h5-color: var(--h5-text-color-dt);
  --h6-color: var(--h6-text-color-dt);
  --h1-text-color-dt: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --h2-text-color-dt: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --h3-text-color-dt: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --h4-text-color-dt: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --h5-text-color-dt: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --h6-text-color-dt: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --atom-gray-1: #5c5c5c;
  --atom-gray-2: #ababab;
  --atom-white: #d4d4d4;
  --atom-red: #fc4384;
  --atom-orange: #f39b35;
  --atom-green: #98e342;
  --atom-aqua: #00a7aa;
  --atom-purple: #a06fca;
  --atom-blue: #0e86ff;
  --atom-yellow: #e6db74;
}
