:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 228, 55, 75;
  --color-red: #fb464c;
  --color-green-rgb: 68, 207, 110;
  --color-green: #6ea82c;
  --color-orange: #f39b35;
  --color-yellow: #ffda34;
  --color-cyan: #53dfdd;
  --color-blue: #0e86ff;
  --color-purple: #a06fca;
  --color-pink: #ec7db9;
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #f6f7f8;
  --color-base-20: #f6f7f8;
  --color-base-25: #f0f0f0;
  --color-base-30: #ebedf0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5a5a5a;
  --color-base-100: #222222;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 2.5%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 5%));
  --background-modifier-hover: #e2e5e9;
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --text-highlight-bg: hsla(
    var(--accent-h),
    var(--accent-s),
    var(--accent-l),
    calc(var(--accent-alpha) + 30%)
  );
  --text-highlight-bg-active: hsla(
    var(--accent-h),
    var(--accent-s),
    var(--accent-l),
    calc(var(--accent-alpha) + 50%)
  );
  --tag-background: var(--tag-background-color);
  --tag-color: var(--tag-font-color-l);
  --text-muted: hsl(var(--base-h), calc(var(--base-s) - 5%), calc(var(--base-l) - 60%));
  --text-faint: hsl(var(--base-h), calc(var(--base-s) - 5%), calc(var(--base-l) - 40%));
  --text-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --text-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 20%));
  --h1-color: var(--h1-text-color-lt);
  --h2-color: var(--h2-text-color-lt);
  --h3-color: var(--h3-text-color-lt);
  --h4-color: var(--h4-text-color-lt);
  --h5-color: var(--h5-text-color-lt);
  --h6-color: var(--h6-text-color-lt);
  --h1-text-color-lt: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --h2-text-color-lt: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --h3-text-color-lt: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --h4-text-color-lt: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --h5-text-color-lt: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --h6-text-color-lt: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --atom-gray-1: #383838;
  --atom-gray-2: #383838;
  --atom-white: #464646;
  --atom-red: #fc4384;
  --atom-orange: #f39b35;
  --atom-green: #98e342;
  --atom-aqua: #00a7aa;
  --atom-purple: #a06fca;
  --atom-blue: #0e86ff;
  --atom-yellow: #e6db74;

  code[data-theme*=" "] {
    --shiki-dark: var(--shiki-light) !important;
    --shiki-dark-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-dark: var(--shiki-light) !important;
      --shiki-dark-bg: var(--shiki-light-bg) !important;
    }
  }
}
