:root[saved-theme="dark"] {
  --hue-bg: 238;
  --hue-fg: 255;
  --sat-bg: 60%;
  --sat-fg: 100%;
  --lum-fg: 50%;
  --lum-bg: 95%;
  --lum: 11%;
  --h1-color: var(--cool-cyan);
  --h2-color: var(--light-blue);
  --h3-color: var(--blue);
  --h4-color: var(--blue-violet);
  --h5-color: var(--violet);
  --h6-color: var(--purple);
  --black: #000;
  --white: #fff;
  --mint: #52eea3;
  --cyan: #51e1e9;
  --cool-cyan: #43cfea;
  --light-blue: #54b6f8;
  --blue: #437cf3;
  --blue-violet: #6f51f4;
  --violet: #9446f8;
  --purple: #c952ed;
  --magenta: #e54f9b;
  --hot-red: #e3365e;
  --cool-gray: #515768;
  --vauxhall-bg: hsl(var(--hue-bg), var(--sat-bg), var(--lum));
  --vauxhall-fg: hsl(var(--hue-fg), var(--sat-fg), 80%);
  --color-red: var(--hot-red);
  --color-orange: #fa9f50;
  --color-yellow: #ffd85e;
  --color-green: var(--mint);
  --color-cyan: var(--cool-cyan);
  --color-blue: var(--blue);
  --color-purple: var(--violet);
  --color-pink: var(--magenta);
  --background-primary: var(--color-base-00);
  --background-secondary: var(--color-base-05);
  --titlebar-background: var(--color-base-00);
  --titlebar-background-focused: var(--color-base-10);
  --color-base-00: color-mix(in srgb, var(--vauxhall-bg) 25%, var(--black));
  --color-base-05: color-mix(in srgb, var(--vauxhall-bg) 40%, var(--black));
  --color-base-10: color-mix(in srgb, var(--vauxhall-bg) 50%, var(--black));
  --color-base-20: color-mix(in srgb, var(--vauxhall-bg) 80%, var(--black));
  --color-base-25: color-mix(in srgb, var(--vauxhall-bg) 80%, var(--black));
  --text-normal: color-mix(in srgb, var(--vauxhall-fg) 30%, var(--white));
  --background-modifier-form-field: var(--color-base-20);
  --background-modifier-hover: var(--color-base-35);
  --nav-indentation-guide-color: var(--color-base-30);
  --indentation-guide-color: var(--color-base-30);
  --indentation-guide-color-active: var(--color-base-35);
  --text-highlight-bg: color-mix(in srgb, var(--h1-color) 25%, transparent);
  --code-background: var(--color-base-25);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
