h1,
.markdown-rendered h1,
.HyperMD-header-1,
.HyperMD-list-line .cm-header-1,
.cm-header-1.cm-header-1,
.markdown-preview-section h1 {
  align-content: center;
}
h2,
.markdown-rendered h2,
.HyperMD-header-2,
.HyperMD-list-line .cm-header-2,
.cm-header-2,
.markdown-preview-section h2 {
  align-content: center;
}
h3,
.markdown-rendered h3,
.HyperMD-header-3,
.HyperMD-list-line .cm-header-3,
.cm-header-3,
.markdown-preview-section h3 {
  align-content: center;
}
h4,
.markdown-rendered h4,
.HyperMD-header-4,
.HyperMD-list-line .cm-header-4,
.cm-header-4,
.markdown-preview-section h4 {
  align-content: center;
}
h5,
.markdown-rendered h5,
.HyperMD-header-5,
.HyperMD-list-line .cm-header-5,
.cm-header-5,
.markdown-preview-section h5 {
  align-content: center;
}
h6,
.markdown-rendered h6,
.HyperMD-header-6,
.HyperMD-list-line .cm-header-6,
.cm-header-6,
.markdown-preview-section h6 {
  align-content: center;
}
