:root:root {
  --background-primary: #232136;
  --background-primary-alt: #2a273f;
  --background-secondary: #312f44;
  --background-secondary-alt: #393552;
  --background-accent: #232136;
  --background-modifier-border: #e0def4;
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #3e8fb0;
  --background-modifier-error: #eb6f92;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #eb6f92;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #c4a7e7;
  --text-accent-hover: #9ccfd8;
  --text-normal: #e0def4;
  --text-muted: #e0def4;
  --text-faint: #eb6f92;
  --text-highlight-bg: #312f44;
  --text-error: #eb6f92;
  --text-error-hover: #eb6f92;
  --text-selection: #6272a4;
  --text-on-accent: #c4a7e7;
  --interactive-normal: #f6c177;
  --interactive-hover: #ea9a97;
  --interactive-accent: #f6c177;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #ea9a97;
  --scrollbar-active-thumb-bg: #232136;
  --scrollbar-bg: #232136;
  --scrollbar-thumb-bg: #232136;
  --text-title-h1: #eb6f92;
  --text-title-h2: #c4a7e7;
  --text-title-h3: #ea9a97;
  --text-title-h4: #f6c177;
  --text-title-h5: #3e8fb0;
  --text-title-h6: #9ccfd8;
  --inline-code: #c4a7e7;
  --code-block: #9ccfd8;
  --pre-code: #312f44;
  --blockquote-border: #eb6f92;
  --vim-cursor: #ea9a97;
  --border-color: #2b2727;
}
