@import "fonts";

:root {
}

body {
  --radius-s: 8px;
  --radius-m: 12px;
  --radius-l: 16px;
  --input-radius: 12px;
  --tab-radius-active: 12px;
  --checkbox-radius: 12px;
  --toggle-radius: 12px;
  --toggle-thumb-radius: 12px;
  --slider-thumb-radius: 12px;
  --font-text-theme: "Finlandica", sans-serif;
}

:root[saved-theme="dark"] {
}

:root[saved-theme="light"] {
  --text: #061218;
  --background-primary: #dfedf7;
  --primary: #1f5175;
  --secondary: #deab82;
  --accent: #62a12b;
  --highlight-hue: 30;
  --italic-color: var(--accent);
  --bold-color: var(--accent);
  --h1-color: var(--accent);
  --h2-color: var(--accent);
  --h3-color: var(--accent);
  --h4-color: var(--accent);
  --h5-color: var(--accent);
  --h6-color: var(--accent);
}
