.theme-celestial .markdown-rendered mark,
.theme-celestial .cm-s-obsidian span.cm highlight {
  color: white;
}
.theme-celestial.colorful-headings-alt {
  --h1-color: #5684d9;
  --h2-color: rgb(119, 148, 214);
  --h3-color: #6e9dc7;
  --h4-color: #609eb8;
  --h5-color: rgb(89, 155, 181);
  --h6-color: #7194a9;
}
.theme-celestial.colorful-headings {
  --h6-color: #898fe1;
  --h5-color: rgb(94, 133, 224);
  --h4-color: #579fde;
  --h3-color: #c5eeff;
  --h2-color: #94d0e7;
  --h1-color: #ceebff;
}
.theme-celestial.theme-dark {
  color-scheme: dark;
  --font-default: 'Merienda', cursive;
  --highlight-mix-blend-mode: lighten;
  --background-modifier-border: #3b3f56;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --accent-h: 41 !important;
  --accent-s: 100% !important;
  --accent-l: 100% !important;
  --color-red-rgb: 228, 111, 125;
  --color-red: #e46f7d;
  --color-green-rgb: 165, 209, 140;
  --color-green: #a5d18c;
  --color-orange-rgb: 251, 179, 108;
  --color-orange: #fbb36c;
  --color-yellow-rgb: 255, 222, 115;
  --color-yellow: #ffde73;
  --color-cyan-rgb: 111, 210, 194;
  --color-cyan: #6fd2c2;
  --color-blue-rgb: 86, 174, 214;
  --color-blue: #56aed6;
  --color-purple-rgb: 181, 132, 199;
  --color-purple: #b584c7;
  --color-pink-rgb: 255, 148, 200;
  --color-pink: #ff94c8;
  --color-base-00: #2a3141;
  --color-base-10: #25273a;
  --color-base-20: #1d1f2f;
  --color-base-25: #3a435d;
  --color-base-30: #1d1f2f;
  --color-base-35: #3b445d;
  --color-base-40: #515b71;
  --color-base-50: #5f6980;
  --color-base-60: #70778e;
  --color-base-70: #8890a6;
  --color-base-100: #989eb2;
  --theme-decoration: '☾';
  --h1-color: rgb(255, 255, 255);
  --h2-color: white;
  --h3-color: white;
  --h4-color: white;
  --h5-color: white;
  --h6-color: white;
}
.theme-celestial.theme-dark blockquote {
  border-radius: 50px;
  padding: 1em 1.5em 1em 1.5em;
}
.theme-celestial.theme-dark .markdown-rendered hr,
.theme-celestial.theme-dark .markdown-source-view hr {
  border-color: var(--text-faint);
}
