.cm-embed-block.markdown-rendered .block-language-dataview th,
.cm-embed-block.markdown-rendered .block-language-dataview td,
.markdown-rendered table th,
.markdown-rendered table td,
.markdown-rendered .table-view-table th,
.markdown-rendered .table-view-table td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
