.colorful-active-nav .horizontal-tab-nav-item.is-active,
.colorful-active-nav .vertical-tab-nav-item.is-active {
  background-color: var(--background-selected);
  color: var(--text-normal);
}

.colorful-active-nav .horizontal-tab-nav-item.is-active:hover,
.colorful-active-nav .vertical-tab-nav-item.is-active:hover {
  background-color: var(--background-selected-hover);
}
