body:not(.hide-ribbon):not(.hide-tabs) .workspace-ribbon.is-collapsed {
  border-right: var(--divider-width) solid var(--divider-color) !important;
}

.hide-tabs .workspace-ribbon.mod-left.is-collapsed:before {
  border-bottom: 2px solid var(--background-primary) !important;
}

body:not(.flat-mode).hide-tabs:has(.workspace-tab-header-container:hover)
  .workspace-ribbon.mod-left:before,
body:not(.flat-mode):not(.hide-tabs):not(.hide-ribbon) .workspace-ribbon.mod-left:before,
body:not(.flat-mode):not(.hide-tabs).hide-ribbon .workspace-ribbon.mod-left:hover:before {
  opacity: 1;
  background-color: var(--titlebar-background-focused) !important;
  border-bottom: var(--divider-width) solid var(--divider-color) !important;
}

.hide-ribbon:not(.hide-tabs) .workspace-ribbon.mod-left.is-collapsed:hover:before {
  border-bottom: var(--divider-width) solid var(--divider-color) !important;
}

body:not(.is-mobile):not(:not(.hide-tabs)):not(.opacity-hide)
  .workspace-split.mod-vertical.mod-root
  .workspace-tab-header-container:not(:hover) {
  height: 1em;
  width: 100%;
  margin-bottom: 0em;
}

body:not(.is-mobile):not(:not(.hide-tabs))
  .workspace-split.mod-vertical.mod-root
  .workspace-tab-header-container:not(:hover) {
  opacity: 0;
}

.hide-tabs:not(.flat-mode)
  .workspace-split.mod-horizontal.mod-left-split
  .workspace-tab-header-container {
  --titlebar-background-focused: var(--background-primary) !important;
}

.hide-tabs:not(.flat-mode) .workspace-ribbon.side-dock-ribbon.mod-left::before {
  border-bottom: 1px solid var(--background-secondary);
}
