body:not(.default-loading-page).loading-custom-text
  .progress-bar-message::before {
  animation: color-changing-style 3s infinite;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;
}
body:not(.default-loading-page).loading-custom-text.loading-text-typing-style
  .progress-bar-message::before {
  animation:
    color-changing-style 3s infinite,
    typing-style 3s steps(26, end),
    cursor-blink 0.3s step-end infinite alternate;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;
}
body:not(
    .default-loading-page
  ).loading-custom-text.loading-text-typing-style.loading-text-moving-style.loading-text-shinning-style
  .progress-bar-message::before {
  animation:
    typing-style 3s steps(26, end),
    cursor-blink 0.3s step-end infinite alternate,
    moving-style 3s ease-in-out infinite alternate,
    shinning-style 3s infinite,
    color-changing-style 3s infinite;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;
}
body:not(.default-loading-page).loading-custom-text.loading-text-moving-style
  .progress-bar-message::before {
  animation:
    moving-style 3s ease-in-out infinite alternate,
    color-changing-style 3s infinite;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;
}
body:not(
    .default-loading-page
  ).loading-custom-text.loading-text-moving-style.loading-text-shinning-style
  .progress-bar-message::before {
  animation:
    moving-style 3s ease-in-out infinite alternate,
    shinning-style 3s infinite,
    color-changing-style 3s infinite;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;
}
body:not(.default-loading-page).loading-custom-text.loading-text-shinning-style
  .progress-bar-message::before {
  animation:
    shinning-style 3s infinite,
    color-changing-style 3s infinite;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;
}
