body.theme-dark {
  --frame-background-color: hsl(var(--accent-h), 12%, 38%);
  --frame-outline-color: hsl(calc(var(--accent-h) - 6), calc(var(--accent-s) + 12%), 40%);
  --frame-muted-color: hsl(
    var(--accent-h),
    calc(var(--accent-s) - 20%),
    calc(var(--accent-l) + 20%)
  );
}
