.obsidian-dark {
  /*PALETTE*/
  --love-rgb: 251, 70, 76;
  /*red*/
  --gold-rgb: 224, 222, 113;
  /*yellow*/
  --rose-rgb: 233, 151, 63;
  /*orange*/
  --pine-rgb: 2, 122, 255;
  /*blue*/
  --foam-rgb: 68, 207, 110;
  /*green*/
  --iris-rgb: 168, 130, 255;
  /*purple*/
  --base: #262626;
  /*color-base-20*/
  --surface-rgb: 30, 30, 30;
  /*color-base-00*/
  --overlay: #363636;
  /*color-base-30*/
  --muted: #666666;
  /*color-base-50*/
  --subtle: #bababa;
  /*color-base-70*/
  --text: #dadada;
  /*color-base-100*/
  --highlight-low: #2a2a2a;
  /*--color-base-25*/
  --highlight-med-rgb: 63, 63, 63;
  /*3f3f3f*/
  /*color-base-35*/
  --highlight-high: #555555;
  /*color-base-40*/
  /*override accent color !*/
  --accent-h: 258;
  --accent-s: 88%;
  --accent-l: 66%;
  --color-accent-hsl: 258, 88%, 66%;
  /*default purple*/
}
