.colorful-headings.theme-crystal {
  --h1-color: rgb(91, 117, 161);
  --h2-color: rgb(140, 132, 190);
  --h3-color: rgb(154, 118, 168);
  --h4-color: rgb(191, 118, 151);
  --h5-color: rgb(203, 120, 132);
  --h6-color: rgb(208, 92, 92);
}
.theme-light .vertical-tab-nav-item {
  color: var(--text-muted);
}
.theme-light {
  color-scheme: light;
  --icon-color-focused: var(--interactive-accent);
  --highlight-mix-blend-mode: darken;
  --vault-name-color: var(--color-accent-1);
  --accent-h: 0;
  --accent-s: 69%;
  --accent-l: 59%;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 255, 0, 0;
  --color-red: #c75d5d;
  --color-green-rgb: 8, 185, 78;
  --color-green: #a2bb79;
  --color-orange-rgb: 246, 78, 0;
  --color-orange: #d58b69;
  --color-yellow-rgb: 255, 128, 0;
  --color-yellow: #c9b174;
  --color-cyan-rgb: 0, 179, 149;
  --color-cyan: #96b7aa;
  --color-blue-rgb: 0, 181, 197;
  --color-blue: #79a2ae;
  --color-purple-rgb: 82, 131, 238;
  --color-purple: #969cc1;
  --color-pink-rgb: 126, 88, 216;
  --color-pink: #b69ac2;
  --color-base-00: #e8e8e8;
  --color-base-05: #e2e2e2;
  --color-base-10: #dadada;
  --color-base-20: #a8a8a8;
  --color-base-25: #959595;
  --color-base-30: #7b7b7b4c;
  --color-base-35: #757575;
  --color-base-40: #5e5e5e;
  --color-base-50: #8d8d8d;
  --color-base-60: #2f3234;
  --color-base-70: #717171;
  --color-base-100: #000000;
  --background-secondary: var(--color-base-60);
  /*
--color-base-00: #e2e9ed;
--color-base-05: #c5d5de;
--color-base-10: #ccd9e1;
--color-base-20: #2c323b;
--color-base-25: #bac5d0;
--color-base-30: #5f728f41;
--color-base-35: #e05f5f;
--color-base-40: #9facbb;
--color-base-50: #5877a2;
--color-base-60: #7a5757;
--color-base-70: #617686;
--color-base-100: #222222;
*/
}
