.ultra-focus .workspace-ribbon.is-collapsed {
  display: none;
}

.ultra-focus .view-header {
  opacity: 0;
  height: 1px;
  transition:
    height 0.1s,
    opacity 0.25s;
}

.ultra-focus .view-header:hover {
  opacity: 1;
  height: var(--header-height);
}

body.ultra-focus:not(.is-mobile)
  .mod-root
  .workspace-tab-header-container:not(
    :has(.workspace-tab-header + .workspace-tab-header)
  )
  .workspace-tab-header {
  display: none;
}

body.ultra-focus:not(.is-mobile)
  .mod-root
  .workspace-tab-header-container:not(
    :has(.workspace-tab-header + .workspace-tab-header)
  ) {
  --header-height: 25px;
  margin-bottom: 0px !important;
  margin-top: 7px;
  opacity: 0.5;
}

.ultra-focus .workspace-tab-header-container {
  opacity: 0;
  transition: 0.15s;
}

.ultra-focus .workspace-tab-header-container:not(:hover) {
  height: 20px;
}

.ultra-focus .workspace-tab-header-container:hover {
  opacity: 1;
}

.ultra-focus.highlight-active-line .cm-contentContainer .cm-line,
.ultra-focus.highlight-active-line .cm-contentContainer img {
  opacity: 0.6;
}
