:root[saved-theme="light"] {
  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 233, 49, 71;
  --color-red: #e93147;
  --color-orange-rgb: 236, 117, 0;
  --color-orange: #ec7500;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-green-rgb: 8, 185, 78;
  --color-green: #08b94e;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-blue-rgb: 8, 109, 221;
  --color-blue: #086ddd;
  --color-purple-rgb: 120, 82, 238;
  --color-purple: #7852ee;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5c5c5c;
  --color-base-100: #222222;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 1),
    calc(var(--accent-s) * 1.01),
    calc(var(--accent-l) * 1.075)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --background-secondary-alt: var(--base-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.05),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042),
    0px 15px 30px rgba(0, 0, 0, 0.07);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --panel-border-color: var(--base-1);
  --ribbon-background: var(--base-1);
  --background-primary: var(--base-1);
  --background-primary-alt: var(--base-2);
  --background-secondary: var(--base-2);
  --background-accent: var(--aqua);
  --background-modifier-border: var(--gray-1);
  --background-modifier-form-field: var(--white);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-success: var(--green);
  --background-modifier-error: var(--red);
  --background-modifier-error-rgb: 255, 101, 122;
  --background-modifier-error-hover: var(--red);
  --checkbox-border-color: var(--gray-1);
  --checkbox-marker-color: var(--green);
  --checklist-done-color: var(--green);
  --code-background: var(--gray-3);
  --text-accent: var(--base-1);
  --text-accent-hover: var(--gray-3);
  --text-normal: var(--gray-3);
  --text-muted: var(--gray-1);
  --text-faint: var(--orange);
  --text-error: var(--red);
  --text-error-hover: var(--red);
  --text-highlight-bg: var(--yellow);
  --text-highlight: var(--gray-3);
  --text-selection: var(--blue);
  --text-on-accent: var(--base-1);
  --code-normal: var(--white);
  --button-text-normal: var(--gray-3);
  --link-color: var(--orange);
  --link-external-color: var(--gray-3);
  --tag-color: var(--gray-3);
  --tab-text-color: var(--gray-2);
  --tab-text-color-active: var(--gray-3);
  --tab-text-color-active-focused: var(--gray-2);
  --tab-text-color-focused: var(--gray-1);
  --metadata-label-text-color: var(--gray-1);
  --h1-color: var(--green);
  --h2-color: var(--blue);
  --h3-color: var(--orange);
  --h4-color: var(--purple);
  --h5-color: var(--gray-2);
  --interactive-normal: var(--white);
  --interactive-hover: var(--base-2);
  --interactive-accent: var(--gray-3);
  --interactive-accent-rgb: 97, 175, 239;
  --interactive-accent-hover: var(--white);
  --button-interactive-normal: var(--white);
  --scrollbar-active-thumb-bg: rgba(40, 42, 58, 0.02);
  --scrollbar-bg: rgba(40, 42, 58, 0.05);
  --scrollbar-thumb-bg: rgba(40, 42, 58, 0.1);
  --nav-item-color: var(--gray-2);
  --nav-folder-item-color: var(--gray-3);
  --nav-collapse-icon-color: var(--red);
  --icon-color: var(--gray-3);
  --search-clear-button-color: var(--gray-3);
  --oz-fta-file-pane-file-name-color: var(--gray-3);
  --oz-fta-header-background-color: var(--purple);
  --oz-fta-header-icon-colors: var(--gray-3);
  --db-plugin-row-shadow: var(--gray-4);
  --gray-1: #5c6370;
  --gray-2: #abb2bf;
  --gray-3: #2c292d;
  --gray-4: #eeeae5;
  --red: #ef6f89;
  --orange: #f19d6d;
  --green: #b3d97e;
  --aqua: #8dd9e6;
  --purple: #a8a0ee;
  --blue: #61afef;
  --yellow: #fad872;
  --white: #ffffff;
  --black: #000000;
  --base-1: #fdf9f3;
  --base-2: #fdf9f3;
}
