:root[saved-theme="light"] {
  --panel-border-color: var(--base-1);
  --ribbon-background: var(--base-1);
  --background-primary: var(--base-1);
  --background-primary-alt: var(--base-2);
  --background-secondary: var(--base-2);
  --background-secondary-alt: var(--base-1);
  --background-accent: var(--aqua);
  --background-modifier-border: var(--gray-1);
  --background-modifier-form-field: var(--white);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: var(--green);
  --background-modifier-error: var(--red);
  --background-modifier-error-rgb: 255, 101, 122;
  --background-modifier-error-hover: var(--red);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --checkbox-border-color: var(--gray-1);
  --checkbox-marker-color: var(--green);
  --checklist-done-color: var(--green);
  --code-background: var(--gray-3);
  --text-accent: var(--base-1);
  --text-accent-hover: var(--gray-3);
  --text-normal: var(--gray-3);
  --text-muted: var(--gray-1);
  --text-faint: var(--orange);
  --text-error: var(--red);
  --text-error-hover: var(--red);
  --text-highlight-bg: var(--yellow);
  --text-highlight: var(--gray-3);
  --text-selection: var(--blue);
  --text-on-accent: var(--base-1);
  --code-normal: var(--white);
  --button-text-normal: var(--gray-3);
  --link-color: var(--orange);
  --link-external-color: var(--gray-3);
  --tag-color: var(--gray-3);
  --tab-text-color: var(--gray-2);
  --tab-text-color-active: var(--gray-3);
  --tab-text-color-active-focused: var(--gray-2);
  --tab-text-color-focused: var(--gray-1);
  --metadata-label-text-color: var(--gray-1);
  --h1-color: var(--green);
  --h2-color: var(--blue);
  --h3-color: var(--orange);
  --h4-color: var(--purple);
  --h5-color: var(--gray-2);
  --interactive-normal: var(--white);
  --interactive-hover: var(--base-2);
  --interactive-accent: var(--gray-3);
  --interactive-accent-rgb: 97, 175, 239;
  --interactive-accent-hover: var(--white);
  --button-interactive-normal: var(--white);
  --scrollbar-active-thumb-bg: rgba(40, 42, 58, 0.02);
  --scrollbar-bg: rgba(40, 42, 58, 0.05);
  --scrollbar-thumb-bg: rgba(40, 42, 58, 0.1);
  --nav-item-color: var(--gray-2);
  --nav-folder-item-color: var(--gray-3);
  --nav-collapse-icon-color: var(--red);
  --icon-color: var(--gray-3);
  --search-clear-button-color: var(--gray-3);
  --oz-fta-file-pane-file-name-color: var(--gray-3);
  --oz-fta-header-background-color: var(--purple);
  --oz-fta-header-icon-colors: var(--gray-3);
  --db-plugin-row-shadow: var(--gray-4);
  --gray-1: #5c6370;
  --gray-2: #abb2bf;
  --gray-3: #2c292d;
  --gray-4: #eeeae5;
  --red: #ef6f89;
  --orange: #f19d6d;
  --green: #b3d97e;
  --aqua: #8dd9e6;
  --purple: #a8a0ee;
  --blue: #61afef;
  --yellow: #fad872;
  --white: #ffffff;
  --black: #000000;
  --base-1: #fdf9f3;
  --base-2: #fdf9f3;

  code[data-theme*=" "] {
    --shiki-dark: var(--shiki-light) !important;
    --shiki-dark-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-dark: var(--shiki-light) !important;
      --shiki-dark-bg: var(--shiki-light-bg) !important;
    }
  }
}
