body:not(.default-font-color) .markdown-preview-view blockquote,
body:not(.default-font-color) span.cm-quote.cm-quote-1 {
  color: var(--quotes-color);
}

body:not(.default-font-color) strong,
body:not(.default-font-color) span:not(.cm-highlight).cm-strong {
  color: var(--strong-color);
}

body:not(.default-font-color) em,
body:not(.default-font-color) span:not(.cm-highlight).cm-em {
  color: var(--em-color);
}
