:root[saved-theme="light"] {
  --color-red: hsl(356, var(--base-s), var(--base-l));
  --color-orange: hsl(27, var(--base-s), var(--base-l));
  --color-yellow: hsl(57, var(--base-s), var(--base-l));
  --color-green: hsl(124, var(--base-s), var(--base-l));
  --color-cyan: hsl(179, var(--base-s), var(--base-l));
  --color-blue: hsl(219, var(--base-s), var(--base-l));
  --color-purple: hsl(253, var(--base-s), var(--base-l));
  --color-pink: hsl(331, var(--base-s), var(--base-l));
  --theme-color-redDarkened: hsl(356, calc(var(--base-s) * 1.5), calc(var(--base-l) * 0.5));
  --theme-color-redLightened: hsl(356, calc(var(--base-s) * 1.5), calc(var(--base-l) * 1.5));
  --theme-color-redVeryTransparent: hsla(356, var(--base-s), var(--base-l), 0.25);
  --theme-color-redSlightlyTransparent: hsla(356, var(--base-s), var(--base-l), 0.75);
  --theme-color-orangeVeryTransparent: hsla(27, var(--base-s), var(--base-l), 0.25);
  --theme-color-orangeSlightlyTransparent: hsla(27, var(--base-s), var(--base-l), 0.75);
  --theme-color-yellowVeryTransparent: hsla(57, var(--base-s), var(--base-l), 0.25);
  --theme-color-yellowSlightlyTransparent: hsla(57, var(--base-s), var(--base-l), 0.75);
  --theme-color-greenVeryTransparent: hsla(124, var(--base-s), var(--base-l), 0.25);
  --theme-color-greenSlightlyTransparent: hsla(124, var(--base-s), var(--base-l), 0.75);
  --background-modifier-active-hover-alt: var(--theme-color-baseLightened25);
  --background-modifier-active-hover: var(--theme-color-baseLightened60);
  --background-modifier-border-focus: var(--theme-color-base);
  --background-modifier-border: var(--theme-color-baseLightened25);
  --background-modifier-hover: var(--theme-color-base);
  --blockquote-border-color: var(--theme-color-baseLightened80);
  --caret-color: hsl(var(--accent-h), calc(var(--accent-s)), calc(var(--accent-l) * 0.8));
  --collapse-icon-color: var(--theme-color-base);
  --collapse-icon-color-collapsed: var(--theme-color-base);
  --empty-pane-color: var(--theme-color-baseDarkened70);
  --icon-color-focused: white;
  --icon-color-hover: hsl(var(--base-h), calc(var(--base-s) * 0.2), calc(var(--base-l) * 1.5));
  --icon-color-hover: white;
  --icon-color: var(--theme-color-base);
  --modal-background: var(--theme-color-baseLightened80);
  --nav-collapse-icon-color-collapsed: var(--theme-color-baseTransparent75);
  --nav-collapse-icon-color: var(--theme-color-baseTransparent75);
  --nav-indentation-guide-color: var(--theme-color-baseTransparent25);
  --nav-item-background-active: var(--theme-color-base);
  --nav-item-background-selected: var(--theme-color-baseTransparent25);
  --nav-item-color-active: var(--theme-color-baseLightened80);
  --nav-item-color: var(--theme-color-baseDarkened80);
  --nav-item-color-hover: white;
  --search-clear-button-color: var(--theme-color-base);
  --search-icon-color: var(--theme-color-base);
  --status-bar-text-color: black;
  --tab-background-active: var(--background-primary);
  --tab-background-inactive: var(--theme-color-baseLightened80);
  --tag-color: hsl(var(--accent-h), calc(var(--accent-s)), calc(var(--accent-l) * 0.8));
  --tag-background: hsl(var(--accent-h), var(--accent-s), var(--accent-l), 0.2);
  --text-normal: var(--theme-color-baseDarkened90);
  --text-faint: var(--theme-color-baseDarkened70);
  --background-prompt: var(--theme-color-baseLightened95);
  --interactive-accent: var(--theme-color-base);
  --interactive-accent-hover: var(--theme-color-base);
  --table-border-color: var(--theme-color-baseLightened60);
  --table-header-border-color: var(--theme-color-baseLightened60);
  --metadata-property-background: var(--theme-color-baseLightened95);
  --metadata-property-background-hover: var(--theme-color-baseTransparent12);
  --metadata-label-background-active: var(--theme-color-baseLightened95);
  --metadata-input-background-active: var(--theme-color-baseLightened95);
  --background-primary: white;
  --background-secondary: var(--theme-color-baseLightened60);
  --theme-color-activeLineHighlight: var(--theme-color-baseTransparent12);
  --theme-color-audioRecordingActive: var(--theme-color-redDarkened);
  --theme-color-blockId: var(--theme-color-baseLightened25);
  --theme-color-calendarBg: var(--theme-color-baseLightened80);
  --theme-color-calendarDayBg: var(--theme-color-lightenTransparent50);
  --theme-color-communityItemBg: var(--theme-color-baseLightened80);
  --theme-color-communityItemBgActive: var(--theme-color-base);
  --theme-color-communityItemBgHover: var(--theme-color-baseLightened60);
  --theme-color-communityItemBgSelected: var(--theme-color-baseLightened25);
  --theme-color-contentItemBg: var(--theme-color-lightenTransparent50);
  --theme-color-contentItemBgActive: var(--theme-color-base);
  --theme-color-contentItemBgHover: var(--theme-color-lightenTransparent25);
  --theme-color-control: var(--theme-color-baseDarkened70);
  --theme-color-controlActive: var(--theme-color-control);
  --theme-color-controlBg: var(--theme-color-baseLightened95);
  --theme-color-controlBgHover: var(--theme-color-base);
  --theme-color-controlBgLowWeight: var(--theme-color-lightenTransparent50);
  --theme-color-controlContentArea: var(--theme-color-base);
  --theme-color-controlContentAreaHover: var(--theme-color-baseLightened80);
  --theme-color-controlUIHover: var(--theme-color-baseLightened60);
  --theme-color-controlHover: var(--theme-color-baseLightened95);
  --theme-color-controlSetBg: var(--theme-color-baseLightened80);
  --theme-color-controlText: var(--theme-color-baseDarkened70);
  --theme-color-controlTextHover: var(--theme-color-baseLightened80);
  --theme-color-controlLightweightActive: var(--theme-color-baseLightened95);
  --theme-color-emptyStateBg: var(--theme-color-baseLightened80);
  --theme-color-graphLine: black;
  --theme-color-hotkey: var(--theme-color-base);
  --theme-color-inputBorder: var(--theme-color-baseLightened25);
  --theme-color-inputPlaceholder: var(--theme-color-base);
  --theme-color-interactiveActive: var(--theme-color-baseLightened25);
  --theme-color-kanbanLaneBg: var(--theme-color-baseLightened80);
  --theme-color-log: var(--theme-color-baseDarkened80);
  --theme-color-logBg: var(--theme-color-baseLightened25);
  --theme-color-modalContentBg: var(--theme-color-baseLightened60);
  --theme-color-menuBg: var(--theme-color-baseLightened80);
  --theme-color-mobileToolbarBg: var(--theme-color-baseLightened80);
  --theme-color-navFileTag: var(--theme-color-base);
  --theme-color-navFileTagActive: var(--nav-item-color-active);
  --theme-color-navFileTagActiveBorder: var(--nav-item-color-active);
  --theme-color-navFileTagBorder: var(--theme-color-base);
  --theme-color-navigationButtonBgHover: var(--theme-color-baseTransparent25);
  --theme-color-notice: var(--theme-color-baseLightened95);
  --theme-color-noticeBg: var(--theme-color-baseDarkened80);
  --theme-color-settingsBg: var(--theme-color-baseLightened80);
  --theme-color-settingsBgStripe: var(--theme-color-baseLightened95);
  --theme-color-settingsGroupBg: var(--theme-color-lightenTransparent50);
  --theme-color-suggestionBg: var(--theme-color-baseLightened85);
  --theme-color-switcherBgActive: var(--theme-color-base);
  --theme-color-tabNavBg: var(--theme-color-baseLightened70);
  --theme-color-textMeta: var(--theme-color-base);
  --theme-color-textSelected: var(--theme-color-baseLightened80);
  --theme-color-textTabInactive: var(--theme-color-baseDarkened25);
  --theme-color-warningBg: var(--theme-color-baseLightened95);
  --pill-background: var(--theme-color-baseTransparent75);
  --pill-background-hover: var(--theme-color-base);
  --pill-color: white;
  --pill-color-hover: white;
  --pill-color-remove: var(--theme-color-baseLightened80);
  --pill-color-remove-hover: var(--theme-color-baseLightened80);
  --pill-background-remove-hover: var(--theme-color-baseLightened25);
}
