:root[saved-theme="dark"] {
  --red-graphite-accent-color-h: 41;
  --red-graphite-accent-color-s: 88%;
  --red-graphite-accent-color-l: 71%;
  --accent-h: var(--red-graphite-accent-color-h);
  --accent-s: var(--red-graphite-accent-color-s);
  --accent-l: var(--red-graphite-accent-color-l);
  --red-graphite-base-color-h: 222;
  --red-graphite-base-color-s: 22%;
  --red-graphite-base-color-l: 15%;
  --theme-base-color-h: var(--red-graphite-base-color-h);
  --theme-base-color-s: var(--red-graphite-base-color-s);
  --theme-base-color-l: var(--red-graphite-base-color-l);
  --background-primary: var(--color-base-105);
  --background-primary-alt: var(--color-base-100);
  --background-secondary: var(--color-base-100);
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-border: var(--color-base-100);
  --background-modifier-border-hover: var(--color-base-35);
  --background-modifier-border-focus: var(--color-base-110);
  --code-block-border-width: 1px;
  --code-block-border-style: solid;
  --code-block-border-color: var(--color-base-95);
  --nav-item-size: var(--font-ui-medium);
  --nav-item-color: var(--color-base-160);
  --nav-item-color-hover: var(--color-base-00);
  --nav-item-color-active: var(--color-base-00);
  --nav-item-color-selected: var(--color-base-00);
  --nav-item-background-hover: var(--interactive-accent);
  --nav-item-background-active: var(--interactive-accent);
  --nav-indentation-guide-color: var(--color-base-110);
  --nav-collapse-icon-color: var(--color-accent);
  --nav-collapse-icon-color-collapsed: var(--color-accent);
  --icon-color: var(--color-base-140);
  --icon-color-hover: var(--color-accent);
  --icon-color-active: var(--color-accent);
  --icon-color-focused: var(--color-accent);
  --list-marker-color: var(--color-accent);
  --ribbon-background: var(--color-base-95);
  --ribbon-background-collapsed: var(--color-base-95);
  --table-border-color: var(--color-base-125);
  --table-header-border-color: var(--color-base-125);
  --table-header-background: var(--color-base-120);
  --table-header-background-hover: var(--color-base-120);
  --table-header-color: var(--color-base-200);
  --tab-outline-color: var(--color-base-95);
  --text-normal: var(--color-base-180);
  --text-muted: var(--color-base-170);
  --text-faint: var(--color-base-160);
  --text-on-accent: var(--color-base-100);
  --text-error: var(--color-red);
  --text-success: var(--color-green);
  --text-selection: hsla(var(--color-accent-hsl), 0.2);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--color-accent-2);
  --interactive-normal: var(--color-base-95);
  --interactive-hover: var(--color-base-90);
  --vault-name-font-size: var(--font-ui-medium);
  --vault-name-font-weight: var(--font-medium);
  --vault-name-color: var(--color-accent);
}
