.table-sticky-headers .cm-embed-block.markdown-rendered .block-language-dataview thead,
.table-sticky-headers .cm-embed-block.markdown-rendered .block-language-dataview tbody tr,
.table-sticky-headers .markdown-rendered table thead,
.table-sticky-headers .markdown-rendered table tbody tr,
.table-sticky-headers .markdown-rendered .table-view-table thead,
.table-sticky-headers .markdown-rendered .table-view-table tbody tr {
  border-collapse: collapse;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-sticky-headers .cm-embed-block.markdown-rendered .block-language-dataview tbody,
.table-sticky-headers .markdown-rendered table tbody,
.table-sticky-headers .markdown-rendered .table-view-table tbody {
  display: block;
  max-height: var(--table-sticky-height);
  overflow: auto;
}

.table-row-border:not(.table-sticky-headers)
  .cm-embed-block.markdown-rendered
  .block-language-dataview
  tbody
  tr
  td,
.table-row-border:not(.table-sticky-headers) .markdown-rendered table tbody tr td,
.table-row-border:not(.table-sticky-headers) .markdown-rendered .table-view-table tbody tr td {
  border-top: 1px solid var(--border-subtle-1);
  border-bottom: 1px solid var(--border-subtle-1);
}

.table-row-border .cm-embed-block.markdown-rendered .block-language-dataview tbody tr td,
.table-row-border .markdown-rendered table tbody tr td,
.table-row-border .markdown-rendered .table-view-table tbody tr td {
  border-bottom: 1px solid var(--border-subtle-1);
}
