:root,
body {
  & .markdown-source-view.mod-cm6 .edit-block-button {
    display: none;
  }
  /* move dataview results over 2px to align with embeds in reading mode */
  & .markdown-reading-view .dataview.result-group {
    padding-left: 2px;
  }
  /* do not move dataview results over in live preview mode */
  & .is-live-preview .dataview.result-group {
    padding-left: 0px;
  }
  /* if you offset embeds, this can be 0 otherwise 2px */
  & .cm-preview-code-block.cm-embed-block.markdown-rendered {
    padding-left: 0;
  }
  /* move the checkbox container over pixels in reading mode */
  /* this was an issue on my daily notes when embedding all PTIs */
  & .markdown-reading-view .dataview-container .contains-task-list {
    padding-left: 20px;
  }
  /* hides the item count on a list */
  &.pln-dv-count .dataview.small-text {
    display: none;
  }
  /* 1.6 fix to move lists back over in embeds */
  & .dataview-container {
    --list-indent: 0;
  }
  /* 1.6 fix to move list items over in DV queries in LP unless it is in an embed */
  /* This is not exact but it is a better fix than margin-left: -6px */
  &
    .is-live-preview:not(:has(.markdown-embed-content))
    .dataview.task-list-item {
    margin-inline-start: var(--list-indent);
  }
  /* commented out to fix daily note in 1.6.1
/* 1.6 for child items in LP
& .is-live-preview .dataview-container .contains-task-list .contains-task-list .task-list-item-checkbox {
--checkbox-margin-inline-start: 3em;}
/* 1.6 for bullet items in LP
& .is-live-preview .dataview-container .contains-task-list .contains-task-list .task-list-basic-item {
margin-inline-start: 3em;}
*/
  /* 1.6 fix non-checkbox list under a dataview task in LP */
  &
    .is-live-preview
    .dataview.result-group
    .contains-task-list
    .task-list-item
    ul:not(:has(.task-list-item-checkbox)) {
    padding-inline-start: 2em;
  }
  /* 1.6 fix non-checkbox list under a dataview task in Reading */
  & .markdown-reading-view .dataview.result-group .task-list-item ul {
    padding-inline-start: 2em;
  }
}
