:root[saved-theme="dark"] {
  color-scheme: dark;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: var(--wyrd-red-rgb);
  --color-red: var(--wyrd-red);
  --color-orange-rgb: 233, 151, 63;
  --color-orange: var(--wyrd-orange);
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: var(--wyrd-yellow);
  --color-green-rgb: var(--wyrd-green-rgb);
  --color-green: var(--wyrd-green);
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: var(--wyrd-cyan);
  --color-blue-rgb: 2, 122, 255;
  --color-blue: var(--wyrd-blue);
  --color-purple-rgb: 168, 130, 255;
  --color-purple: var(--wyrd-purple);
  --color-pink-rgb: 250, 153, 205;
  --color-pink: var(--wyrd-pink);
  --color-base-00: var(--wyrd-base-00);
  --color-base-05: #212121;
  --color-base-10: var(--wyrd-base-10);
  --color-base-20: var(--wyrd-base-20);
  --color-base-25: var(--wyrd-base-30);
  --color-base-30: var(--wyrd-base-40);
  --color-base-35: var(--wyrd-base-50);
  --color-base-40: var(--wyrd-base-60);
  --color-base-50: var(--wyrd-base-70);
  --color-base-60: var(--wyrd-base-80);
  --color-base-70: var(--wyrd-base-90);
  --color-base-100: var(--wyrd-base-95);
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 5),
    calc(var(--accent-s) * 1.05),
    calc(var(--accent-l) * 1.29)
  );
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-accent: var(--color-accent-1);
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.33);
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --text-normal: var(--color-base-60);
  --text-muted: var(--color-base-50);
  --text-faint: var(--color-base-40);
  --text-highlight-bg: rgba(var(--wyrd-yellow-rgb), 0.7);
  --text-highlight-bg-active: rgba(var(--wyrd-yellow-light-rgb), 0.8);
}
