:root[saved-theme="light"],
html[saved-theme="light"] {

  color-scheme: light;

  .callout {
    --callout-blend-mode: darken;
  }

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }

  .theme-dark { --color-red-rgb: 228, 18, 88;
--color-red: hsl(340, 85%, 48.3%);
--color-orange: hsl(25, 85%, 50%);
--color-yellow: hsl(37, 100%, 50%);
--color-green-rgb: 51, 138, 7;
--color-green: hsl(100, 90%, 33.5%);
--color-cyan: hsl(175, 100%, 50%);
--color-blue: hsl(190, 100%, 26%);
--color-purple: hsl(270, 65%, 58.8%);
--color-pink: hsl(330, 85%, 47.2%);
--text-highlight-bg: rgba(255, 157, 0, 0.7);
--text-highlight-bg-active: rgba(255, 177, 51, 0.8);

}

