:root[saved-theme="dark"] {
  color-scheme: dark;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: #dadada;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 5),
    calc(var(--accent-s) * 1.05),
    calc(var(--accent-l) * 1.29)
  );
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--r-dark2);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-accent: var(--r-bright-orange);
  --interactive-accent: var(--r-deep-orange);
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: var(--r-bg-selection);
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --background-primary: var(--r-dark0);
  --background-primary-alt: var(--dark0);
  --background-secondary: var(--r-dark1);
  --text-normal: var(--r-standard-text);
  --text-faint: var(--r-scorpion);
  --text-muted: var(--color-base-70);
  --text-platinum: var(--platinum);
  --text-title-h1: var(--r-dark-red);
  --text-title-h2: var(--r-orange);
  --text-title-h3: var(--r-bright-orange);
  --text-title-h4: var(--r-bright-yellow);
  --text-title-h5: var(--r-yellow-green);
  --text-title-h6: var(--r-mist-energy-blue);
  --text-link: var(--text-a);
  --text-link-hover: var(--text-a-hover);
  --text-a: var(--r-bright-orange);
  --text-a-hover: var(--r-yellow-orange);
  --text-mark: var(--r-bg-highlight);
  --text-highlight-bg: var(--r-bg-highlight);
  --interactive-before: var(--dark4);
  --background-modifier-border: var(--r-gunmetal);
  --text-accent-hover: var(--r-yellow-orange);
  --interactive-accent-rgb: var(--r-bright-orange);
  --inline-code: var(--code-light-gray);
  --code-block: var(--code-light-gray);
  --code-normal: var(--code-light-gray);
  --default-codeblock: var(--obsidian-codeblock);
  --pre-code: var(--default-codeblock);
  --vim-cursor: var(--r-bright-orange);
  --text-tag: var(--r-bright-orange);
  --text-card: var(--r-light2-soft);
  --status-bar-background: var(--background-secondary);
  --callout-bg-darken-pct: 0%;
  --button-text-color: var(--background-secondary-alt);
  --graph-view-line-color: var(--dark1);
  --h1-size: 2.2em;
  --h2-size: 2em;
  --h3-size: 1.85em;
  --h4-size: 1.6em;
  --h5-size: 1.47em;
  --h6-size: 1.35em;
  --list-indent: 1em;
  --p-spacing: 0.25rem;
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-external-decoration: none;
  --link-external-decoration-hover: none;
  --link-unresolved-decoration: none;
  --link-unresolved-decoration-hover: none;
  --hx-link-ul-transparency-pct: 33%;
  --h1-link-ul-color: color-mix(
    in srgb,
    var(--text-title-h1) var(--hx-link-ul-transparency-pct),
    transparent
  );
  --h2-link-ul-color: color-mix(
    in srgb,
    var(--text-title-h2) var(--hx-link-ul-transparency-pct),
    transparent
  );
  --h3-link-ul-color: color-mix(
    in srgb,
    var(--text-title-h3) var(--hx-link-ul-transparency-pct),
    transparent
  );
  --h4-link-ul-color: color-mix(
    in srgb,
    var(--text-title-h4) var(--hx-link-ul-transparency-pct),
    transparent
  );
  --h5-link-ul-color: color-mix(
    in srgb,
    var(--text-title-h5) var(--hx-link-ul-transparency-pct),
    transparent
  );
  --h6-link-ul-color: color-mix(
    in srgb,
    var(--text-title-h6) var(--hx-link-ul-transparency-pct),
    transparent
  );
  --h1-link-hover-color: color-mix(in srgb, #ff6666 20%, var(--text-title-h1));
  --h2-link-hover-color: color-mix(in srgb, #ff9090 20%, var(--text-title-h2));
  --h3-link-hover-color: color-mix(in srgb, #ffaaaa 20%, var(--text-title-h3));
  --h4-link-hover-color: color-mix(in srgb, #ffd2d2 20%, var(--text-title-h4));
  --h5-link-hover-color: color-mix(in srgb, #ffffff 17%, var(--text-title-h5));
  --h6-link-hover-color: color-mix(in srgb, #ffffff 25%, var(--text-title-h6));
}
