:root[saved-theme="dark"] {
  --background-primary: var(--r-dark0);
  --background-primary-alt: var(--dark0);
  --background-secondary: var(--r-dark1);
  --background-secondary-alt: var(--r-dark2);
  --text-normal: var(--r-standard-text);
  --text-faint: var(--r-scorpion);
  --text-muted: var(--color-base-70);
  --text-platinum: var(--platinum);
  --text-title-h1: var(--r-dark-red);
  --text-title-h2: var(--r-orange);
  --text-title-h3: var(--r-bright-orange);
  --text-title-h4: var(--r-bright-yellow);
  --text-title-h5: var(--r-yellow-green);
  --text-title-h6: var(--r-mist-energy-blue);
  --text-link: var(--text-a);
  --text-link-hover: var(--text-a-hover);
  --text-a: var(--r-bright-orange);
  --text-a-hover: var(--r-yellow-orange);
  --text-mark: var(--r-bg-highlight);
  --text-highlight-bg: var(--r-bg-highlight);
  --interactive-accent: var(--r-deep-orange);
  --interactive-before: var(--dark4);
  --background-modifier-border: var(--r-gunmetal);
  --text-accent: var(--r-bright-orange);
  --text-accent-hover: var(--r-yellow-orange);
  --interactive-accent-rgb: var(--r-bright-orange);
  --inline-code: var(--code-light-gray);
  --code-block: var(--code-light-gray);
  --code-normal: var(--code-light-gray);
  --default-codeblock: var(--obsidian-codeblock);
  --pre-code: var(--default-codeblock);
  --vim-cursor: var(--r-bright-orange);
  --text-selection: var(--r-bg-selection);
  --text-tag: var(--r-bright-orange);
  --text-card: var(--r-light2-soft);
  --status-bar-background: var(--background-secondary);
  --interactive-normal: var(--color-base-30);
  --callout-bg-darken-pct: 0%;
  --button-text-color: var(--background-secondary-alt);
  --graph-view-line-color: var(--dark1);

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
