:root[saved-theme="light"] {
  --background-primary: var(--r-light1);
  --background-primary-alt: var(--r-light0);
  --background-secondary: var(--r-light2);
  --background-secondary-alt: var(--r-light3);
  --text-normal: var(--r-dark0-accent);
  --text-faint: var(--r-gunmetal);
  --text-muted: var(--r-gunmetal);
  --text-platinum: var(--platinum);
  --text-title-h1: var(--r-dark-red);
  --text-title-h2: var(--r-orange);
  --text-title-h3: var(--r-bright-orange);
  --text-title-h4: var(--r-bright-yellow);
  --text-title-h5: var(--r-yellow-green);
  --text-title-h6: var(--r-mist-energy-blue);
  --text-link: var(--r-dark-orange);
  --text-link-hover: var(--r-deep-orange);
  --text-a: var(--r-bright-orange);
  --text-a-hover: var(--r-yellow-orange);
  --text-mark: var(--r-bg-highlight);
  --text-highlight-bg: var(--r-bg-highlight);
  --interactive-accent: var(--r-deep-orange);
  --interactive-before: var(--r-light4);
  --background-modifier-border: var(--r-gunmetal);
  --text-accent: var(--r-bright-orange);
  --text-accent-hover: var(--r-yellow-orange);
  --interactive-accent-rgb: var(--r-bright-orange);
  --inline-code: var(--r-dark2);
  --code-block: var(--r-dark2);
  --code-normal: var(--r-dark2);
  --default-codeblock: var(--r-light3);
  --pre-code: var(--default-codeblock);
  --vim-cursor: var(--r-bright-orange);
  --text-selection: var(--r-bg-selection);
  --text-tag: var(--r-deep-orange);
  --text-card: var(--r-dark2);
  --status-bar-background: var(--r-light2-soft);
  --interactive-normal: var(--r-light2);
  --interactive-hover: var(--r-light0);
  --callout-bg-darken-pct: 5%;
  --button-text-color: var(--text-on-accent);
  --graph-view-line-color: var(--light4);

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
