body:not(.default-loading-page).loading-animation-cat
  .progress-bar-message::before {
  content: "GIF creator: Jake Fleming";
  display: block;
  background: no-repeat center/cover;
  width: 800px;
  height: 500px;
  margin-top: -20px;
  font-size: initial;
  color: var(--text-muted);
  filter: hue-rotate(-55deg) saturate(120%);
  position: initial;
  animation: unset;
}

body:not(.default-loading-page).loading-animation-cat .progress-bar-message {
  color: var(--text-normal);
  font-size: 25px;
  visibility: visible;
}
