:root {
}

body {
  --icon-size: 18px;
  --button-radius: 5px;
  --icon-stroke: 2.2px;
  --icon-xs: 15px;
  --icon-l: 20px;
  --ribbon-width: 51px;
  --checkbox-radius: 5px;
  --checkbox-size: 20px;
  --nav-item-size: 12px;
  --tab-divider-color: transparent;
  --tab-outline-color: transparent;
  --tab-curve: 0px;
  --tab-font-size: 12px;
  --background-modifier-error: #9e5245;
}
