:root:root {
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: hsl(230, 8%, 10%);
  --color-base-05: #212121;
  --color-base-10: hsl(230, 9%, 13%);
  --color-base-20: hsl(231, 9%, 15%);
  --color-base-25: hsl(225, 12%, 20%);
  --color-base-30: hsl(225, 18%, 25%);
  --color-base-35: hsl(225, 11%, 36%);
  --color-base-40: hsl(225, 14%, 55%);
  --color-base-50: hsl(226, 10%, 47%);
  --color-base-60: hsl(224, 17%, 68%);
  --color-base-70: hsl(224, 26%, 70%);
  --color-base-100: hsl(224, 37%, 80%);
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 3.8%));
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-black);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-accent: var(--color-accent-1);
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --input-shadow: 0px 1px 0px 1px var(--shadow-300);
  --input-shadow-hover: 0px 1px 0px 1px var(--shadow-300);
  --shadow-s: var(--shadow-small);
  --shadow-l: var(--shadow-large);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --opacity-translucency: 0.75;
  --text-highlight-bg: var(--color-highlight-bg);
  --text-highlight-bg-active: var(--color-highlight-bg);
  --color-white: hsl(220, 23%, 95%);
  --color-gray-10: hsl(225, 17%, 88%);
  --color-gray-15: hsl(225, 17%, 84%);
  --color-gray-20: hsl(224, 37%, 80%);
  --color-gray-30: hsl(224, 26%, 70%);
  --color-gray-40: hsl(224, 17%, 68%);
  --color-gray-48: hsl(225, 15%, 61%);
  --color-gray-50: hsl(226, 10%, 47%);
  --color-gray-60: hsl(225, 14%, 55%);
  --color-gray-70: hsl(225, 11%, 36%);
  --color-gray-75: hsl(225, 11%, 30%);
  --color-gray-80: hsl(225, 18%, 25%);
  --color-gray-90: hsl(225, 12%, 20%);
  --color-gray-95: hsl(228, 10%, 18%);
  --color-gray-100: hsl(231, 9%, 15%);
  --color-black: hsl(230, 9%, 13%);
  --color-blacker: hsl(230, 8%, 10%);
  --border-300: rgba(255, 255, 255, 0.25);
  --border-500: rgba(100, 100, 100, 0.25);
  --border-700: rgba(0, 0, 0, 0.15);
  --border-900: hsl(219, 10%, 29%);
  --shadow-300: rgba(0, 0, 0, 0.15);
  --shadow-500: rgba(0, 0, 0, 0.65);
  --shadow-700: rgba(0, 0, 0, 0.95);
  --shadow-small: 0px 3px 12px -2px rgba(14, 11, 11, 0.5);
  --shadow-medium: 0px 3px 3.1px -20px rgba(0, 0, 0, 0.2), 0px 24px 25px -20px rgba(0, 0, 0, 0.35);
  --color-cyan-300: hsl(183, 29%, 62%);
  --color-cyan-500: hsl(192, 46%, 68%);
  --color-cyan-510: hsl(191, 65%, 59%);
  --color-cyan-520: hsl(191, 57%, 59%);
  --color-cyan-530: hsl(191, 54%, 64%);
  --color-cyan-533: hsl(191, 90%, 50%);
  --color-cyan-540: hsl(194, 69%, 54%);
  --color-cyan-555: hsl(175, 85%, 75%);
  --color-cyan-577: hsl(13, 52%, 80%);
  --color-cyan-700: hsl(194, 50%, 47%);
  --color-cyan-900: hsl(196, 27%, 41%);
  --color-magenta-300: hsl(334, 37%, 65%);
  --color-magenta-310: hsl(338, 100%, 87%);
  --color-magenta-500: hsl(338, 100%, 80%);
  --color-magenta-700: hsl(334, 100%, 75%);
  --color-magenta-710: hsl(342, 100%, 74%);
  --color-magenta-900: hsl(317, 62%, 65%);
  --color-magenta-910: hsl(342, 96%, 68%);
  --color-magenta-920: hsl(342, 31%, 34%);
  --color-orange-300: hsl(28, 93%, 66%);
  --color-orange-310: hsl(28, 63%, 66%);
  --color-orange-500: hsl(28, 43%, 47%);
  --color-red-300: hsl(3, 93%, 66%);
  --color-red-500: hsl(3, 43%, 47%);
  --color-yellow-300: hsl(61, 100%, 75%);
  --color-yellow-310: hsl(61, 46%, 69%);
  --color-yellow-355: hsl(61, 55%, 69%);
  --color-yellowish-355: hsl(51, 55%, 69%);
  --color-yellow-500: hsl(59, 71%, 68%);
  --color-yellow-510: hsl(59, 51%, 68%);
  --color-yellow-700: hsl(58, 86%, 66%);
  --color-yellow-900: hsl(59, 81%, 47%);
  --color-h3-orange: hsl(38, 60%, 63%);
  --color-h3-green: hsl(148, 47%, 51%);
  --color-h3-alt: hsl(226, 95%, 76%);
  --color-h4-alt: hsl(151, 60%, 55%);
  --color-green-300: hsl(151, 100%, 81%);
  --color-green-500: hsl(124, 54%, 75%);
  --color-green-700: hsl(151, 54%, 64%);
  --color-green-710: hsl(151, 54%, 64%);
  --color-green-900: hsl(166, 74%, 45%);
  --color-green-910: hsl(158, 85%, 45%);
  --color-green-920: hsl(167, 83%, 31%);
  --color-purple-300: hsl(255, 49%, 76%);
  --color-purple-500: hsl(255, 100%, 86%);
  --color-purple-555: hsl(255, 100%, 86%);
  --color-purple-577: hsl(255, 100%, 86%);
  --color-purple-700: hsl(260, 100%, 79%);
  --color-purple-900: hsl(263, 46%, 61%);
  --color-purple-910: hsl(263, 37%, 69%);
  --color-purple-920: hsl(263, 39%, 46%);
  --color-slate-300: hsl(220, 23%, 90%);
  --color-slate-500: hsl(224, 37%, 80%);
  --color-slate-700: hsl(223, 18%, 68%);
  --color-slate-900: hsl(225, 14%, 40%);
  --color-highlight-text: var(--color-cyan-530);
  --color-highlight-bg: rgba(255, 252, 59, 0.08);
  --color-highlight-border: rgba(255, 252, 59, 0.4);
  --comment-h1: hsl(56, 44%, 76%);
  --comment-h2: hsl(257, 33%, 82%);
  --comment-h3: hsl(192, 34%, 74%);
  --comment-h4: hsl(153, 35%, 75%);
  --comment-h5: hsl(224, 26%, 83%);
  --comment-h6: hsl(223, 14%, 75%);
}
