:root[saved-theme="dark"] {
  --background-primary: #000000;
  --background-primary-alt: #000000;
  --background-secondary: #000000;
  --background-secondary-alt: #000000;
  --blockquote-background-color: #1121019c;
  --inline-title-color: #2cce10;
  --h1-color: #2cce10;
  --h2-color: #be7070;
  --h3-color: #3d7676;
  --h4-color: #a9ba9d;
  --h5-color: #9dc183;
  --h6-color: #486e02;
  --text-accent: #63be63;
  --italic-color: #d8e43a;
  --bold-color: #41b4b4;
  --text-highlight-bg: #67c26769;
  --text-selection: #55a05550;
  --code-normal: #a8c090;
  --code-keyword: #c678dd;
  --code-property: #9d527c;
  --code-background: #3f542946;
  --link-color: #63be63;
  --link-decoration: underline;
  --link-decoration-thickness: 1px;
  --link-external-color: #529d52;
  --link-color-hover: #39ff14;
  --interactive-accent: #529d5273;
  --interactive-accent-hover: #37ff148c;
  --scrollbar-thumb-bg: #529d52;
  --scrollbar-active-thumb-bg: #39ff14;
  --indentation-guide-color: #39ff14;
  --indentation-guide-color-active: #39ff14;
  --table-header-background: #2a2a2a4c;
  --nav-item-color-hover: #39ff14;
  --nav-item-color-active: #39ff14;
  --nav-item-size: var(--font-ui-medium);
  --nav-file-tag: #f4ec9e;
  --nav-indentation-guide-color: #529d52;
  --nav-collapse-icon-color: #529d52;
  --icon-color: #529d52;
  --icon-color-focused: #39ff14;
  --icon-color-hover: #39ff14;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
