:root[saved-theme="dark"] {
  --background-code: #242524;
  --background-code-preview: #1d1d1e;
  --background-preview: #101010;
  --background-primary: #191a19;
  --background-primary-alt: #191a19;
  --background-secondary: #141514;
  --background-secondary-alt: #242524;
  --background-tag: #000000;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --interactive-accent: #00c1ff;
  --interactive-accent-rgb: 0, 193, 255;
  --interactive-accent-hover: #00b1ef;
  --menu-selection: #5f5d5b;
  --menu-selection-text: #cbcccc;
  --scrollbar-bg: #191919;
  --table-line: #e6e6e6;
  --text-accent: #00c1ff;
  --text-accent-hover: #00b1ef;
  --text-faint: #8e8f92;
  --text-highlight-bg: rgba(215, 120, 0, 0.5);
  --text-muted: #ecebea;
  --text-normal: #cbcccc;
  --text-on-accent: #ffffff;
  --text-selection: #20434e;
  --text-tag: #8c8c8c;
  --text-on-accent: #cbcccc;
  --background-quick: #191a19;
  --file-hr: #2e2e2e;
  --leaf-handle: #242524;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
