:root[saved-theme="dark"] {
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-red-hsl: 358, 96%, 63%;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-orange-hsl: 31, 79%, 58%;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-yellow-hsl: 59, 64%, 66%;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-green-hsl: 138, 59%, 54%;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-cyan-hsl: 179, 69%, 60%;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-blue-hsl: 212, 100%, 50%;
  --color-purple-rgb: 168, 130, 255;
  --color-purple-hsl: 258, 100%, 75%;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-pink-hsl: 328, 91%, 79%;
  --canvas-color: 245, 245, 245;
  --color-base-00: #1e1e1e;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #282828;
  --color-base-35: #3f3f3f;
  --color-base-40: #555;
  --color-base-50: #666;
  --color-base-60: #999;
  --color-base-70: #bababa;
  --color-base-100: #dadada;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --color-accent-1: hsl(var(--accent-h) var(--accent-s) calc(var(--accent-l) - 3.8%));
  --color-accent-2: hsl(var(--accent-h) var(--accent-s) calc(var(--accent-l) + 3.8%));
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-20);
  --interactive-hover: var(--color-base-35);
  --background-modifier-box-shadow: rgb(0 0 0 / 30%);
  --background-modifier-cover: rgb(10 10 10 / 40%);
  --text-highlight-bg: rgb(255 208 0 / 40%);
  --text-highlight-bg-active: rgb(255 128 0 / 40%);
  --shadow-s: rgb(0 0 0 / 16%) 0px 1px 4px;
  --shadow-l: rgb(0 0 0 / 20%) 0px 8px 24px;
  --shadow-lm-only: none;
  --sbs: 24px 24px 84px -4px rgb(0 0 13 / 5%), 0px 16px 64px 6px rgb(0 13 0 / 0.7%);
  --lbs: rgb(0 0 5 / 15%) 0px 20px 30px;
  --border-lowOp: 1px solid rgb(255 255 255 / 10%);
  --border-midOp: 1px solid rgb(255 255 255 / 30%);
  --lowOp: rgb(255 255 255 / 10%);
  --midOp: rgb(255 255 255 / 30%);
  --border-conOp: 1px solid rgb(255 255 255 / 10%);
  --conOp: rgb(255 255 255 / 10%);
  --text-on-button: var(--text-on-accent);
  --test-image: url("https://i.pinimg.com/564x/15/05/3c/15053c066ed66a20595bef2f0b08c37d.jpg");
  --gradient-bg-primary: linear-gradient(135deg, #262626 1.62%, #1e1e1e 50.72%);
  --gradient-bg-secondary: linear-gradient(135deg, #2b2b2b 1.62%, #262626 50.72%);
  --background-modifier-border-alt: #303030;
  --accent-h: 1;
  --accent-s: 71.2%;
  --accent-l: 52.4%;
  --color-red: #dc322f;
  --color-red-hsl: 1, 71.2%, 52.4%;
  --color-red-rgb: 220, 50, 47;
  --color-green: #859900;
  --color-green-hsl: 67.8, 100%, 30%;
  --color-green-rgb: 133, 153, 0;
  --color-orange: #cb4b16;
  --color-orange-hsl: 17.6, 80.4%, 44.1%;
  --color-orange-rgb: 203, 75, 22;
  --color-yellow: #b58900;
  --color-yellow-hsl: 45.4, 100%, 35.5%;
  --color-yellow-rgb: 203, 75, 22;
  --color-cyan: #2aa198;
  --color-cyan-hsl: 175.5, 58.6%, 39.8%;
  --color-cyan-rgb: 42, 161, 152;
  --color-blue: #268bd2;
  --color-blue-hsl: 204.8, 69.4%, 48.6%;
  --color-blue-rgb: 38, 139, 210;
  --color-purple: #6c71c4;
  --color-purple-hsl: 236.6, 42.7%, 59.6%;
  --color-purple-rgb: 38, 139, 210;
  --color-pink: #d33682;
  --color-pink-hsl: 331, 64.1%, 52%;
  --color-pink-rgb: 211, 54, 130;
  --color-base-00: #073642;
  --color-base-10: #08404e;
  --color-base-20: #002b36;
  --color-base-25: #023845;
  --color-base-30: #586e75;
  --color-base-35: #637c84;
  --color-base-40: #002b36;
  --color-base-50: #586e75;
  --color-base-60: #93a1a1;
  --color-base-70: #839496;
  --color-base-100: #93a1a1;
  --gradient-bg-primary: linear-gradient(135deg, #08404e 1.62%, #073642 50.72%) !important;
  --gradient-bg-secondary: linear-gradient(135deg, #003947 1.62%, #002b36 50.72%) !important;
  --background-modifier-border-alt: #375662 !important;
  --accent-h: 75;
  --accent-s: 21%;
  --accent-l: 57%;
  --color-red: #cc241d;
  --color-red-hsl: 2.4, 75.1%, 45.7%;
  --color-red-rgb: 204, 36, 29;
  --color-green: #98971a;
  --color-green-hsl: 59.5, 70.8%, 34.9%;
  --color-green-rgb: 152, 151, 26;
  --color-orange: #d65d0e;
  --color-orange-hsl: 23.7, 87.7%, 44.7%;
  --color-orange-rgb: 104, 157, 106;
  --color-yellow: #d79921;
  --color-yellow-hsl: 39.6, 73.4%, 48.6%;
  --color-yellow-rgb: 215, 153, 33;
  --color-cyan: #689d6a;
  --color-cyan-hsl: 122.3, 21.3%, 51.2%;
  --color-cyan-rgb: 104, 157, 106;
  --color-blue: #458588;
  --color-blue-hsl: 182.7, 32.7%, 40.2%;
  --color-blue-rgb: 69, 133, 136;
  --color-purple: #b16286;
  --color-purple-hsl: 332.7, 33.6%, 53.9%;
  --color-purple-rgb: 177, 98, 134;
  --color-pink: #eb6faf;
  --color-pink-hsl: 329, 75.6%, 67.8%;
  --color-base-00: #282828;
  --color-base-10: #1d2021;
  --color-base-20: #32302f;
  --color-base-25: #3c3836;
  --color-base-30: #504945;
  --color-base-35: #665c54;
  --color-base-40: #7c6f64;
  --color-base-50: #bdae93;
  --color-base-60: #d5c4a1;
  --color-base-70: #ebdbb2;
  --color-base-100: #fbf1c7;
  --gradient-bg-primary: linear-gradient(135deg, #313131 1.62%, #282828 50.72%) !important;
  --gradient-bg-secondary: linear-gradient(135deg, #3c3a39 1.62%, #32302f 50.72%) !important;
  --background-modifier-border-alt: #504945 !important;
  --accent-h: 75;
  --accent-s: 21%;
  --accent-l: 57%;
  --color-red: #ea5e41;
  --color-red-hsl: 10.3, 80.1%, 58.6%;
  --color-red-rgb: 234, 94, 65;
  --color-green: #5fb26b;
  --color-green-hsl: 128.7, 35%, 53.5%;
  --color-green-rgb: 95, 178, 107;
  --color-orange: #ed874c;
  --color-orange-hsl: 22, 81.7%, 61.4%;
  --color-orange-rgb: 237, 135, 76;
  --color-yellow: #e9bf55;
  --color-yellow-hsl: 43, 77.1%, 62.4%;
  --color-yellow-rgb: 233, 191, 85;
  --color-cyan: #47afeb;
  --color-cyan-hsl: 202, 80.4%, 60%;
  --color-cyan-rgb: 71, 175, 235;
  --color-blue: #2e8ccc;
  --color-blue-hsl: 204.3, 63.2%, 49%;
  --color-blue-rgb: 46, 140, 204;
  --color-purple: #4b53d1;
  --color-purple-hsl: 236.4, 59.3%, 55.7%;
  --color-purple-rgb: 75, 83, 209;
  --color-pink: #eb6faf;
  --color-pink-hsl: 329, 75.6%, 67.8%;
  --accent-h: 75;
  --accent-s: 21%;
  --accent-l: 57%;
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red: #d26861;
  --color-red-hsl: 3.7, 55.7%, 60.2%;
  --color-red-rgb: 210, 104, 97;
  --color-green: #5d9463;
  --color-green-hsl: 126.5, 22.8%, 47.3%;
  --color-green-rgb: 93, 148, 99;
  --color-orange: #a9805a;
  --color-orange-hsl: 28.9, 31.5%, 50.8%;
  --color-orange-rgb: 169, 128, 90;
  --color-yellow: #93885c;
  --color-yellow-hsl: 48, 23%, 46.9%;
  --color-yellow-rgb: 147, 136, 92;
  --color-cyan: #6e8d91;
  --color-cyan-hsl: 186.9, 13.7%, 50%;
  --color-cyan-rgb: 110, 141, 145;
  --color-blue: #588cbf;
  --color-blue-hsl: 209.7, 44.6%, 54.7%;
  --color-blue-rgb: 88, 140, 191;
  --color-purple: #8d80b5;
  --color-purple-hsl: 254.7, 26.4%, 60.6%;
  --color-purple-rgb: 141, 128, 181;
  --color-pink: #a67d8a;
  --color-pink-hsl: 341, 18.7%, 57.1%;
  --color-pink-rgb: 166, 125, 138;
  --gradient-bg-primary: linear-gradient(135deg, #121212 1.62%, #050505 50.72%) !important;
  --gradient-bg-secondary: linear-gradient(135deg, #0f0f0f 1.62%, #000000 50.72%) !important;
  --background-modifier-border-alt: #1f1f1f !important;
  --accent-h: 1;
  --accent-s: 71.2%;
  --accent-l: 52.4%;
  --color-red: #f55;
  --color-red-hsl: 0, 100%, 66.7%;
  --color-red-rgb: 255, 85, 85;
  --color-green: #50fa7b;
  --color-green-hsl: 135.2, 94.4%, 64.7%;
  --color-green-rgb: 80, 250, 123;
  --color-orange: #ffb86c;
  --color-orange-hsl: 31, 100%, 71.2%;
  --color-orange-rgb: 255, 184, 108;
  --color-yellow: #f1fa8c;
  --color-yellow-hsl: 64.9, 91.7%, 76.5%;
  --color-yellow-rgb: 241, 250, 140;
  --color-cyan: #8be9fd;
  --color-cyan-hsl: 190.5, 96.6%, 76.9%;
  --color-cyan-rgb: 139, 233, 253;
  --color-blue: #8bc6fd;
  --color-blue-hsl: 208.9, 96.6%, 76.9%;
  --color-blue-rgb: 139, 198, 253;
  --color-purple: #bd93f9;
  --color-purple-hsl: 264.7, 89.5%, 77.6%;
  --color-purple-rgb: 189, 147, 249;
  --color-pink: #ff79c6;
  --color-pink-hsl: 325.5, 100%, 73.7%;
  --color-pink-rgb: 255, 121, 198;
  --color-base-00: #282a36;
  --color-base-10: #44475a;
  --color-base-20: #1a1e24;
  --color-base-25: #282a36;
  --color-base-30: #44475a;
  --color-base-35: #4f5269;
  --color-base-40: #282a36;
  --color-base-50: #6272a4;
  --color-base-60: #6272a4;
  --color-base-70: #f8f8f2;
  --color-base-100: #fefefa;
  --gradient-bg-primary: linear-gradient(135deg, #2e303e 1.62%, #282a36 50.72%) !important;
  --gradient-bg-secondary: linear-gradient(135deg, #20252c 1.62%, #1a1e24 50.72%) !important;
  --background-modifier-border-alt: #44475a !important;
  --accent-h: 191 !important;
  --accent-s: 54% !important;
  --accent-l: 64% !important;
  --color-red: #e63946;
  --color-red-hsl: 355.5, 77.6%, 56.3%;
  --color-red-rgb: 230, 57, 70;
  --color-green: #60993e;
  --color-green-hsl: 97.6, 42.3%, 42.2%;
  --color-green-rgb: 96, 153, 62;
  --color-orange: #ffcdb2;
  --color-orange-hsl: 21, 100%, 84.9%;
  --color-orange-rgb: 255, 205, 178;
  --color-yellow: #f2cc8f;
  --color-yellow-hsl: 37, 79.2%, 75.5%;
  --color-yellow-rgb: 242, 204, 143;
  --color-cyan: #72a1e5;
  --color-cyan-hsl: 215.5, 68.9%, 67.3%;
  --color-cyan-rgb: 114, 161, 229;
  --color-blue: #52b2cf;
  --color-blue-hsl: 193.9, 56.6%, 56.7%;
  --color-blue-rgb: 82, 178, 207;
  --color-purple: #9097c0;
  --color-purple-hsl: 231.3, 27.6%, 65.9%;
  --color-purple-rgb: 144, 151, 192;
  --color-pink: #efd4bf;
  --color-pink-hsl: 26.3, 60%, 84.3%;
  --color-base-00: #23242a;
  --color-base-10: #1e1f24;
  --color-base-20: #2d3039;
  --color-base-25: #343a4b;
  --color-base-30: #6c7184;
  --color-base-35: #7c849c;
  --color-base-40: #a0a7bb;
  --color-base-50: #b9c3df;
  --color-base-60: #dbe2f5;
  --color-base-70: #72c3d5;
  --color-base-100: #e8ecf5;
  --gradient-bg-primary: linear-gradient(135deg, #2a2b32 1.62%, #23242a 50.72%) !important;
  --gradient-bg-secondary: linear-gradient(135deg, #363a45 1.62%, #2d3039 50.72%) !important;
  --background-modifier-border-alt: #6c7184 !important;
  --color-base-00: #0b0b0b;
  --color-base-10: #2e2e2e;
  --color-base-20: #000;
  --color-base-25: #333;
  --color-base-30: #3d3d3d;
  --color-base-35: #515151;
  --color-base-40: #6b6b6b;
  --color-base-50: #949494;
  --color-base-60: #a6a6a6;
  --color-base-70: #cdcdcd;
  --color-base-100: #fff;
  --gradient-bg-primary: linear-gradient(135deg, #060606 20.62%, #000 90.72%) !important;
  --gradient-bg-secondary: linear-gradient(135deg, #030303 20.62%, #000 90.72%) !important;
  --background-modifier-border-alt: #131313 !important;
  --color-accent: hsl(var(--color-red-hsl));
  --color-accent-rgb: var(--color-red-rgb);
  --color-accent-hsl: var(--color-red-hsl);
  --color-accent-1: var(--color-blue);
  --color-accent-1-rgb: var(--color-blue-rgb);
  --color-accent: hsl(var(--color-green-hsl));
  --color-accent-rgb: var(--color-green-rgb);
  --color-accent-hsl: var(--color-green-hsl);
  --color-accent-1: var(--color-purple);
  --color-accent-1-rgb: var(--color-purple-rgb);
  --color-accent: hsl(var(--color-orange-hsl));
  --color-accent-rgb: var(--color-orange-rgb);
  --color-accent-hsl: var(--color-orange-hsl);
  --color-accent-1: var(--color-yellow);
  --color-accent-1-rgb: var(--color-yellow-rgb);
  --color-accent: hsl(var(--color-yellow-hsl));
  --color-accent-rgb: var(--color-yellow-rgb);
  --color-accent-hsl: var(--color-yellow-hsl);
  --color-accent-1: var(--color-red);
  --color-accent-1-rgb: var(--color-red-rgb);
  --color-accent: hsl(var(--color-cyan-hsl));
  --color-accent-rgb: var(--color-cyan-rgb);
  --color-accent-hsl: var(--color-cyan-hsl);
  --color-accent-1: var(--color-green);
  --color-accent-1-rgb: var(--color-green-rgb);
  --color-accent: hsl(var(--color-blue-hsl));
  --color-accent-rgb: var(--color-blue-rgb);
  --color-accent-hsl: var(--color-blue-hsl);
  --color-accent-1: var(--color-pink);
  --color-accent-1-rgb: var(--color-pink-rgb);
  --color-accent: hsl(var(--color-purple-hsl));
  --color-accent-rgb: var(--color-purple-rgb);
  --color-accent-hsl: var(--color-purple-hsl);
  --color-accent-1: var(--color-cyan);
  --color-accent-1-rgb: var(--color-cyan-rgb);
  --color-accent: hsl(var(--color-pink-hsl));
  --color-accent-rgb: var(--color-pink-rgb);
  --color-accent-hsl: var(--color-pink-hsl);
  --color-accent-1: var(--color-orange);
  --color-accent-1-rgb: var(--color-orange-rgb);
}
