:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 233, 49, 71;
  --color-red: #e93147;
  --color-orange-rgb: 236, 117, 0;
  --color-orange: #ec7500;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-green-rgb: 8, 185, 78;
  --color-green: #08b94e;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-blue-rgb: 8, 109, 221;
  --color-blue: #086ddd;
  --color-purple-rgb: 120, 82, 238;
  --color-purple: #7852ee;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5c5c5c;
  --color-base-100: #222222;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --input-shadow: none;
  --input-shadow-hover: none;
  --accent-plus-60: calc(var(--accent-h) + 60);
  --accent-plus-120: calc(var(--accent-h) + 120);
  --accent-minus-60: calc(var(--accent-h) - 60);
  --accent-minus-120: calc(var(--accent-h) - 120);
  --accent-s-pastel: min(var(--accent-s), 50%);
  --bg-l-modifier: 0%;
  --bg-l-modifier-inverted: calc(var(--bg-l-modifier) * -1);
  --bg-s-modifier: calc(var(--bg-l-modifier) * 0.5);
  --swatch-shadow: none;
  --tab-stacked-shadow: none;
  --pdf-shadow: none;
  --pdf-thumbnail-shadow: none;
  --background-modifier-border: var(--hr-color);
  --divider-color: var(--hr-color);
  --divider-color-hover: hsl(var(--accent-minus-60), var(--accent-s), var(--accent-l-readable));
  --status-bar-border-color: var(--divider-color);
  --sidebar-left-border-color: var(--divider-color);
  --nav-item-border-color: var(--divider-color);
  --titlebar-border-color: var(--divider-color);
  --table-border-color: var(--text-muted);
  --table-header-border-color: var(--text-muted);
  --table-add-button-border-color: var(--text-muted);
  --modal-border-color: var(--divider-color);
  --text-accent: hsl(var(--accent-minus-60), var(--accent-s), var(--accent-l-readable));
  --interactive-accent: hsl(var(--accent-plus-60), var(--accent-s-pastel), var(--accent-l-closer));
  --tag-background: hsla(var(--accent-minus-60), var(--accent-s), var(--accent-l-closer), 0.25);
  --checkbox-color: var(--interactive-accent);
  --checkbox-color-hover: var(--interactive-accent-hover);
  --text-selection: hsla(var(--accent-minus-60), var(--accent-s), var(--accent-l-closer), 0.25);
  --table-selection: hsla(var(--accent-minus-60), var(--accent-s), var(--accent-l-closer), 0.2);
  --blockquote-border-color: var(--interactive-accent);
  --accent-l-readable: min(var(--accent-l), 35%);
  --accent-l-closer: max(var(--accent-l), 60%);
  --background-modifier-form-field: var(--interactive-normal);
  --text-normal: hsl(0, 0%, 13%);
  --text-muted: hsl(var(--accent-h), 15%, 33%);
  --text-faint: hsl(var(--accent-h), 20%, 47%);
}
