.enableNewIcons .mod-root .workspace-tab-header-container-inner .workspace-tab-header {
  background-image: none;
}

.enableNewIcons .clickable-icon[aria-label],
.enableNewIcons .sidebar-toggle-button,
.enableNewIcons .workspace-tab-header,
.enableNewIcons .nav-action-button,
.enableNewIcons .workspace-tab-header-tab-list .clickable-icon,
.enableNewIcons .sidebar-toggle-button .clickable-icon {
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 80% auto;
  /* Resize the background image to cover the entire container */
}

.enableNewIcons
  .workspace-leaf-content
  :is(.view-header-nav-buttons, .view-actions)
  .clickable-icon {
  background-size: calc(var(--editorDashboardHeight) * 0.8);
}

.enableNewIcons .nav-action-button.clickable-icon {
  background-size: calc(var(--sidebarDashboardHeight) * 0.8);
}

.enableNewIcons .workspace-tab-header,
.enableNewIcons .workspace-tab-header-tab-list .clickable-icon,
.enableNewIcons .workspace-tab-header-new-tab .clickable-icon {
  background-size: calc(var(--sidebarTabHeight) * 0.8);
}

.stackTabs .workspace-tab-header-new-tab .clickable-icon {
  background-size: calc(var(--editorTabHeightStack) * 0.8);
}

.enableNewIcons .clickable-icon[aria-label="Settings"] {
  color: green;
  background-image: var(--iconSettings);
}

.enableNewIcons .clickable-icon[aria-label="Help"] {
  color: green;
  background-image: var(--iconHelp);
}

.enableNewIcons .clickable-icon[aria-label="Open another vault"] {
  color: green;
  background-image: var(--iconAnotherVault);
}

.enableNewIcons .sidebar-toggle-button .clickable-icon {
  color: green;
  background-image: var(--iconSidebarToggle);
}

.enableNewIcons .clickable-icon[aria-label*="Toggle Focus Mode"] {
  color: green;
  background-image: var(--iconFocus);
}

.enableNewIcons .clickable-icon[aria-label="Open homepage"] {
  color: green;
  background-image: var(--iconHome);
}

.enableNewIcons .clickable-icon[aria-label="Open graph view"] {
  color: green;
  background-image: var(--iconGraph);
}

.enableNewIcons .clickable-icon[aria-label="Insert template"] {
  color: green;
  background-image: var(--iconTemplate);
}

.enableNewIcons .clickable-icon[aria-label="Open command palette"] {
  color: green;
  background-image: var(--iconCommandPalette);
}

.enableNewIcons .clickable-icon[aria-label="Open today"] {
  color: green;
  background-image: var(--iconToday);
}

.enableNewIcons .workspace-tab-header[aria-label="Files"] {
  color: green;
  background-image: var(--iconFileExplorer);
}

.enableNewIcons .workspace-tab-header[aria-label="Recent Files"] {
  color: green;
  background-image: var(--iconRecentFiles);
}

.enableNewIcons .workspace-tab-header[aria-label="Bookmarks"] {
  color: green;
  background-image: var(--iconStarred);
}

.enableNewIcons .workspace-tab-header[aria-label="Tags"] {
  color: green;
  background-image: var(--iconTags);
}

.enableNewIcons .workspace-tab-header[aria-label="Search"] {
  color: green;
  background-image: var(--iconSearch);
}

.enableNewIcons .clickable-icon[aria-label="New note"] {
  color: green;
  background-image: var(--iconNote);
}

.enableNewIcons .clickable-icon[aria-label="New folder"] {
  color: green;
  background-image: var(--iconNewFolder);
}

.enableNewIcons .clickable-icon[aria-label="Change sort order"] {
  color: green;
  background-image: var(--iconSortOrder);
}

.enableNewIcons .clickable-icon[aria-label="Collapse all"] {
  color: green;
  background-image: var(--iconExpand);
}

.enableNewIcons .clickable-icon[aria-label="Expand all"] {
  color: green;
  background-image: var(--iconCollapse);
}

.enableNewIcons .nav-action-button.reveal-active-file-button {
  background-size: 24px;
  background-image: var(--iconActiveFile);
}

.enableNewIcons .clickable-icon[aria-label="Match case"] {
  color: green;
  background-image: var(--iconCase);
}

.enableNewIcons .clickable-icon[aria-label="Explain search term"] {
  color: green;
  background-image: var(--iconHelp);
}

.enableNewIcons .clickable-icon[aria-label="Collapse results"] {
  color: green;
  background-image: var(--iconExpand);
}

.enableNewIcons .clickable-icon[aria-label="Show more context"] {
  color: green;
  background-image: var(--iconPlus);
}

.enableNewIcons .clickable-icon[aria-label="Copy search results"] {
  color: green;
  background-image: var(--iconCopy);
}

.enableNewIcons .clickable-icon[aria-label="Change sort order"] {
  color: green;
  background-image: var(--iconSortOrder);
}

.enableNewIcons .clickable-icon[aria-label="Show nested tags"] {
  color: green;
  background-image: var(--iconNested);
}

.enableNewIcons .clickable-icon[aria-label="Navigate back"] {
  color: green;
  background-image: var(--iconBack);
}

.enableNewIcons .clickable-icon[aria-label="Navigate forward"] {
  color: green;
  background-image: var(--iconForward);
}

.enableNewIcons .clickable-icon[aria-label*="Current view: reading"] {
  color: green;
  background-image: var(--iconPreview);
}

.enableNewIcons .clickable-icon[aria-label*="Current view: editing"] {
  color: green;
  background-image: var(--iconEditor);
}

.enableNewIcons .clickable-icon[aria-label="More options"] {
  color: green;
  background-image: var(--iconSettings);
}

.enableNewIcons .clickable-icon[aria-label="Star/unstar current file"] {
  color: green;
  background-image: var(--iconNote);
}

.enableNewIcons .clickable-icon[aria-label="Star/unstar current search"] {
  color: green;
  background-image: var(--iconFocus);
}

.enableNewIcons .clickable-icon[aria-label="New tab"] {
  color: green;
  background-image: var(--iconPlus);
}

.enableNewIcons .workspace-tab-header-tab-list .clickable-icon {
  color: green;
  background-image: var(--iconStack);
}

.enableNewIcons .workspace-tab-header[aria-label="Outline"],
.enableNewIcons .workspace-tab-header[aria-label*="Outline"] {
  color: green;
  background-image: var(--iconOutline);
}

.enableNewIcons .clickable-icon[aria-label="Manage workspace layouts"] {
  color: green;
  background-image: var(--iconLayout);
}

.enableNewIcons .clickable-icon[aria-label="Create new unique note"] {
  color: green;
  background-image: var(--iconUniqueNote);
}

.enableNewIcons .clickable-icon[aria-label="Open random note"] {
  color: green;
  background-image: var(--iconRandomNote);
}

.enableNewIcons .clickable-icon[aria-label="Publish changes"] {
  color: green;
  background-image: var(--iconPublish);
}

.enableNewIcons .clickable-icon[aria-label="Open format converter"] {
  color: green;
  background-image: var(--iconConvert);
}

.enableNewIcons .clickable-icon[aria-label="Open today's daily note"] {
  color: green;
  background-image: var(--iconToday);
}

.enableNewIcons .clickable-icon[aria-label="Start/stop recording"] {
  color: green;
  background-image: var(--iconRecord);
}

.enableNewIcons .workspace-tab-header[aria-label*="Backlinks"] {
  color: green;
  background-image: var(--iconBacklinks);
}

.enableNewIcons .workspace-tab-header[aria-label*="Outgoing"] {
  color: green;
  background-image: var(--iconOutgoing);
}

.enableNewIcons .workspace-tab-header[aria-label="Graph view"] {
  color: green;
  background-image: var(--iconGraph);
}

.enableNewIcons .clickable-icon[aria-label="Show search filter"] {
  color: green;
  background-image: var(--iconSearch);
}

.enableNewIcons
  .workspace-tab-header[data-type="markdown"]:not(
    .mod-root .workspace-tab-header[data-type="markdown"]
  ) {
  color: green;
  background-image: var(--iconNote);
}

.enableNewIcons .clickable-icon[aria-label="Open quick switcher"] {
  color: green;
  background-image: var(--iconQuickSwitcher);
}

.enableNewIcons .clickable-icon[aria-label="New group"] {
  background-image: var(--iconNewFolder);
}

.enableNewIcons .clickable-icon[aria-label="Bookmark the active tab..."] {
  background-image: var(--iconPlus);
}

.enableNewIcons .clickable-icon[aria-label="Create new canvas"] {
  background-image: var(--iconPreview);
}

.enableNewIcons .clickable-icon[aria-label="Publish changes..."] {
  background-image: var(--iconGlobe);
}

.enableNewIcons .clickable-icon[aria-label="All properties"] {
  background-image: var(--iconDrawCanvas);
}

All properties .enableNewIcons .clickable-icon[aria-label="Settings"] svg,
.enableNewIcons .clickable-icon[aria-label="Help"] svg,
.enableNewIcons .clickable-icon[aria-label="Open another vault"] svg,
.enableNewIcons .sidebar-toggle-button .clickable-icon svg,
.enableNewIcons .clickable-icon[aria-label*="Toggle Focus Mode"] svg,
.enableNewIcons .clickable-icon[aria-label="Open homepage"] svg,
.enableNewIcons .clickable-icon[aria-label="Open graph view"] svg,
.enableNewIcons .clickable-icon[aria-label="Insert template"] svg,
.enableNewIcons .clickable-icon[aria-label="Open command palette"] svg,
.enableNewIcons .clickable-icon[aria-label="Open today"] svg,
.enableNewIcons .workspace-tab-header[aria-label="Files"] svg,
.enableNewIcons .workspace-tab-header[aria-label="Recent Files"] svg,
.enableNewIcons .workspace-tab-header[aria-label="Bookmarks"] svg,
.enableNewIcons .workspace-tab-header[aria-label="Tags"] svg,
.enableNewIcons .workspace-tab-header[aria-label="Search"] svg,
.enableNewIcons .clickable-icon[aria-label="New note"] svg,
.enableNewIcons .clickable-icon[aria-label="New folder"] svg,
.enableNewIcons .clickable-icon[aria-label="Change sort order"] svg,
.enableNewIcons .clickable-icon[aria-label="Collapse all"] svg,
.enableNewIcons .clickable-icon[aria-label="Expand all"] svg,
.enableNewIcons .nav-action-button.reveal-active-file-button svg,
.enableNewIcons .clickable-icon[aria-label="Match case"] svg,
.enableNewIcons .clickable-icon[aria-label="Explain search term"] svg,
.enableNewIcons .clickable-icon[aria-label="Collapse results"] svg,
.enableNewIcons .clickable-icon[aria-label="Show more context"] svg,
.enableNewIcons .clickable-icon[aria-label="Copy search results"] svg,
.enableNewIcons .clickable-icon[aria-label="Change sort order"] svg,
.enableNewIcons .clickable-icon[aria-label="Show nested tags"] svg,
.enableNewIcons .clickable-icon[aria-label="Navigate back"] svg,
.enableNewIcons .clickable-icon[aria-label="Navigate forward"] svg,
.enableNewIcons .clickable-icon[aria-label*="Current view: reading"] svg,
.enableNewIcons .clickable-icon[aria-label*="Current view: editing"] svg,
.enableNewIcons .clickable-icon[aria-label="More options"] svg,
.enableNewIcons .clickable-icon[aria-label="Star/unstar current file"] svg,
.enableNewIcons .clickable-icon[aria-label="Star/unstar current search"] svg,
.enableNewIcons .clickable-icon[aria-label="New tab"] svg,
.enableNewIcons .workspace-tab-header-tab-list .clickable-icon svg,
.enableNewIcons .workspace-tab-header[aria-label="Outline"] svg,
.enableNewIcons .workspace-tab-header[aria-label*="Outline"] svg,
.enableNewIcons .clickable-icon[aria-label="Manage workspace layouts"] svg,
.enableNewIcons .clickable-icon[aria-label="Create new unique note"] svg,
.enableNewIcons .clickable-icon[aria-label="Open random note"] svg,
.enableNewIcons .clickable-icon[aria-label="Publish changes"] svg,
.enableNewIcons .clickable-icon[aria-label="Open format converter"] svg,
.enableNewIcons .clickable-icon[aria-label="Open today's daily note"] svg,
.enableNewIcons .clickable-icon[aria-label="Start/stop recording"] svg,
.enableNewIcons .workspace-tab-header[aria-label*="Backlinks"] svg,
.enableNewIcons .workspace-tab-header[aria-label*="Outgoing"] svg,
.enableNewIcons .workspace-tab-header[aria-label="Graph view"] svg,
.enableNewIcons .clickable-icon[aria-label="Show search filter"] svg,
.enableNewIcons
  .workspace-tab-header[data-type="markdown"]:not(
    .mod-root .workspace-tab-header[data-type="markdown"]
  )
  svg,
.enableNewIcons .clickable-icon[aria-label="Open quick switcher"] svg,
.enableNewIcons .clickable-icon[aria-label="New group"] svg,
.enableNewIcons .clickable-icon[aria-label="Bookmark the active tab..."] svg,
.enableNewIcons .clickable-icon[aria-label="Create new canvas"] svg,
.enableNewIcons .clickable-icon[aria-label="Publish changes..."] svg,
.enableNewIcons .clickable-icon[aria-label="All properties"] svg {
  display: none;
}

.enableNewIcons .clickable-icon[aria-label="Settings"] svg {
  display: none;
}
