.color-scheme-catppuccin-frappe {
  --rosewater: #f2d5cf;
  --flamingo: #eebebe;
  --pink: #f4b8e4;
  --mauve: #ca9ee6;
  --red: #e78284;
  --maroon: #ea999c;
  --peach: #ef9f76;
  --yellow: #e5c890;
  --green: #a6d189;
  --teal: #81c8be;
  --sky: #99d1db;
  --sapphire: #85c1dc;
  --blue: #8caaee;
  --lavender: #babbf1;
  --text: #c6d0f5;
  --subtext1: #b5bfe2;
  --subtext0: #a5adce;
  --overlay2: #949cbb;
  --overlay1: #838ba7;
  --overlay0: #737994;
  --surface2: #626880;
  --surface1: #51576d;
  --surface0: #414559;
  --base: #303446;
  --mantle: #292c3c;
  --crust: #232634;
  --color-red: var(--red);
  --color-orange: var(--peach);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-cyan: var(--teal);
  --color-blue: var(--blue);
  --color-purple: var(--mauve);
  --color-pink: var(--pink);
  --background-primary: var(--base);
  --background-secondary: var(--crust);
  --selection-background-color: var(--surface1);
  --border-color-primary: var(--surface1);
  --border-color-secondary: var(--surface0);
  --text-color: var(--text);
  --text-color-accent: white;
  --text-color-muted-dark: var(--surface0);
  --text-color-muted-light: var(--overlay0);
  --accent-color-dark: var(--mauve);
  --accent-color-light: var(--blue);
  --accent-color-hover: var(--maroon);
  --accent-h: 277;
  --accent-s: 59%;
  --accent-l: 76%;
  --canvas-color: 202, 158, 230 !important;
  --code-important: var(--color-yellow);
  --code-boolean: var(--peach);
  --code-builtin: var(--peach);
  --code-comment: var(--overlay0);
  --code-definition: var(--lavender);
  --code-keyword: var(--mauve);
  --code-operator: var(--sky);
  --code-property: var(--lavender);
  --code-parentheses: var(--overlay2);
  --code-string: var(--green);
  --code-value: var(--peach);
  --code-variable: var(--text-color);
}
