:root:root {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #110f10;
  --color-base-05: #372622;
  --color-base-10: #040405;
  --color-base-20: #110f10;
  --color-base-25: #372622;
  --color-base-30: #372622;
  --color-base-35: #372622;
  --color-base-40: #62656a;
  --color-base-50: #74593d;
  --color-base-60: #a3a5aa;
  --color-base-70: #a3a5aa;
  --color-base-100: #a3a5aa;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: #372622;
  --interactive-hover: #745250;
  --text-accent: #74593d;
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.33);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --text-highlight-bg: transparent;
  --hr-thickness: 1px;
  --text-accent-hover: #9a7c5d;
  --slider-track-background: #745250;
  --icon-color: #74593d;
  --icon-color-hover: #b0a79e;
  --icon-color-focused: #74593d;
  --code-background: #7452504f;
  --nav-item-color: #564134;
  --nav-item-color-active: #b0a79e;
  --nav-item-color-hover: #74593d;
  --nav-item-background-active: #372622;
  --nav-item-background-hover: transparent;
  --tab-text-color-active: #b0a79e;
  --tab-text-color-focused: #b0a79e;
  --tag-background: transparent;
  --tag-background-hover: #372622;
  --tag-color: #74593d;
  --tag-color-hover: #b0a79e;
}
