,
.theme-light {
  --outer-bar: #e5e9f0;
  --dark-sidebar: #dde2ec;
  --side-bar: var(--outer-bar);
  --note: #fbfbfc;
  --accent-color: 143, 188, 187;
  --accent: #5e81ac;
  --lite-accent: #3c66a8;
  --dark-accent: #29395a;
  --deep-dark-accent: #4c566a;
  --accent2: #81a1c1;
  --accent2-lite: #8fbcbb;
  --headers: #88c0d0;
  --text: #4c566a;
  --soft-text: #7e8dac;
  --code-text: #81a1c1;
  --i-at: #81a1c1;
  --inactive: var(--soft-text);
  --tag-text: var(--accent2-lite);
  --folder: var(--headers);
  --nav-item-color: var(--soft-text);
  --folder-open: #4c566a;
  --bg: #bdcce6;
  --code-bg: #eceff4;
  --aside-bg: #d8dee9;
  --embed-bg: var(--code-bg);
  --tag: var(--accent);
  --table: var(--lines);
  --hr: #d8dee9;
  --lines: #b5c1d4;
  --graph-bg: var(--outer-bar);
  --graph-lines: var(--lines);
  --graph-node: var(--deep-dark-accent);
  --graph-fill: var(--fg);
  --graph-img: var(--sphd-ed-2);
  --graph-tag: var(--headers);
  --highlight: rgba(97, 148, 231, 0.3);
  --hvr: rgba(119, 235, 210, 0.4);
  --hvr-active: rgba(92, 207, 228, 0.25);
  --theme-rainbow-1: #bf616a;
  --theme-rainbow-2: #d08770;
  --theme-rainbow-3: #a5916a;
  --theme-rainbow-4: #88a073;
  --theme-rainbow-5: #a48ead;
  --theme-rainbow-6: var(--soft-text);
  --rainbow-1: var(--theme-rainbow-1);
  --rainbow-2: var(--theme-rainbow-2);
  --rainbow-3: var(--theme-rainbow-3);
  --rainbow-4: var(--theme-rainbow-4);
  --rainbow-5: var(--theme-rainbow-5);
  --rainbow-6: var(--theme-rainbow-6);
}
