:root[saved-theme="dark"] {
  --highlight-mix-blend-mode: lighten;
  --background-primary: var(--color-base-20);
  --background-secondary: var(--color-base-00);
  --color-blue: #04a5ff;
  --color-blue-rgb: 4, 165, 255;
  --color-cyan: #81d5d0;
  --color-cyan-rgb: 129, 213, 208;
  --color-emphasis: var(--text-accent-emphasis);
  --color-green: #39f098;
  --color-green-rgb: 57, 240, 152;
  --color-orange: #f3c85b;
  --color-orange-rgb: 243, 200, 91;
  --color-pink: #ec95ee;
  --color-pink-rgb: 236, 149, 238;
  --color-purple: #b491ed;
  --color-purple-rgb: 180, 145, 237;
  --color-red: #e6578a;
  --color-red-rgb: 280, 87, 138;
  --color-yellow: #cfba00;
  --color-yellow-rgb: 207, 186, 0;
  --code-normal: #d6e3f0;
  --code-background: #15222c;
  --color-base-00: #070b0d;
  --color-base-10: #0c1417;
  --color-base-20: #0e161b;
  --color-base-25: #121c21;
  --color-base-30: #141f25;
  --color-base-35: #19272e;
  --color-base-40: #1e3038;
  --color-base-50: #243842;
  --color-base-60: #355464;
  --color-base-70: #7aa3b8;
  --color-base-100: #bdd1db;
  --text-normal: var(--color-base-100);
  --text-completed-checkboxes: #3e657c;
  --text-completed-checkboxes-embed: #3f6b88;
  --inline-title-border: var(--color-base-35);
  --inline-title-color: #3d6681;
  --heading-color: #dee8ed;
  --h1-color: var(--heading-color);
  --h2-color: var(--heading-color);
  --h3-color: var(--heading-color);
  --h4-color: var(--heading-color);
  --h5-color: var(--heading-color);
  --h6-color: var(--heading-color);
  --titlebar-background-focused: var(--color-base-00);
  --tab-background-active: var(--background-primary);
  --tab-container-background-new: var(--color-base-00);
  --tab-text-color: var(--color-base-35);
  --tab-text-color-active: var(--color-base-50);
  --tab-text-color-focused: var(--color-base-60);
  --tab-text-color-focused-active: var(--color-base-70);
  --tab-text-color-focused-highlighted: var(--text-accent);
  --tab-text-color-focused-active-current: var(--color-base-100);
  --tab-divider-color: var(--color-base-30);
  --tab-curve: 12px;
  --tab-radius: 9px;
  --tab-radius-active: 6px 6px 0 0;
  --workspace-background-translucent: hsla(200, 30%, 4%, 0.95);
  --table-border-color: var(--color-base-35);
  --table-header-background: var(--color-base-10);
  --table-header-background-hover: var(--color-base-25);
  --table-row-even-background: var(--color-base-30);
  --table-row-odd-background: var(--color-base-20);
  --table-row-background-hover: var(--color-base-10);
  --blockquote-color: var(--color-accent-alt);
  --blockquote-background-color: var(--color-base-00);
  --embed-background-color: var(--color-base-30);
  --rendered-code-bg: var(--code-background);
  --rendered-code-text: var(--color-orange);
  --text-highlight-bg-rendered: hsla(61, 74%, 66%, 0.85);
  --text-highlight-bg-editing: #56572a;
  --text-highlight-rendered: #252525;
  --text-highlight-editing: #f0eaaf;
  --graph-text: var(--text-normal);
  --graph-node: var(--text-accent-hover);
  --graph-node-focused: var(--text-accent);
  --graph-node-unresolved: var(--color-base-60);
  --graph-node-tag: var(--color-green);
  --graph-node-attachment: var(--color-yellow);
  --canvas-color: 53, 84, 100;
  --code-comment: #3f6a87;

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
