:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --background-primary: var(--color-base-00);
  --background-secondary: var(--color-base-10);
  --color-blue: #0477ff;
  --color-blue-rgb: 4, 119, 255;
  --color-cyan: #00c8c8;
  --color-cyan-rgb: 0, 200, 200;
  --color-emphasis: var(--text-accent-emphasis);
  --color-green: #34915e;
  --color-green-rgb: 52, 145, 94;
  --color-orange: #fd9434;
  --color-orange-rgb: 253, 148, 52;
  --color-pink: #e135e4;
  --color-pink-rgb: 225, 53, 228;
  --color-purple: #9c7ad3;
  --color-purple-rgb: 156, 122, 211;
  --color-red: #f51a68;
  --color-red-rgb: 245, 26, 104;
  --color-yellow: #c2ba8c;
  --color-yellow-rgb: 194, 186, 140;
  --code-normal: var(--color-base-70);
  --code-background: var(--color-base-20);
  --color-base-00: #f6f9fb;
  --color-base-10: #eff3f6;
  --color-base-20: #e3edf2;
  --color-base-25: #cfdae2;
  --color-base-30: #98acba;
  --color-base-35: #52697a;
  --color-base-40: #2e3d49;
  --color-base-50: #1a2833;
  --color-base-60: #141f28;
  --color-base-70: #141f25;
  --color-base-100: #070b0d;
  --text-normal: var(--color-base-70);
  --text-completed-checkboxes: #3e657c;
  --text-completed-checkboxes-embed: #3f6b88;
  --inline-title-border: var(--color-base-25);
  --inline-title-color: #7c93a4;
  --heading-color: var(--color-base-40);
  --h1-color: var(--heading-color);
  --h2-color: var(--heading-color);
  --h3-color: var(--heading-color);
  --h4-color: var(--heading-color);
  --h5-color: var(--heading-color);
  --h6-color: var(--heading-color);
  --link-unresolved-color: var(--color-base-35);
  --link-unresolved-decoration-color: var(--color-base-35);
  --titlebar-background-focused: var(--color-base-00);
  --tab-background-active: var(--background-primary);
  --tab-container-background-new: var(--color-base-00);
  --tab-text-color: var(--color-base-35);
  --tab-text-color-active: var(--color-base-50);
  --tab-text-color-focused: var(--color-base-60);
  --tab-text-color-focused-active: var(--color-base-70);
  --tab-text-color-focused-highlighted: var(--text-accent);
  --tab-text-color-focused-active-current: var(--color-base-100);
  --tab-divider-color: var(--color-base-25);
  --tab-outline-color: var(--background-modifier-border);
  --background-modifier-border: var(--color-base-25);
  --divider-color: var(--background-modifier-border);
  --divider-color-hover: var(--interactive-accent);
  --tab-curve: 12px;
  --tab-radius: 9px;
  --tab-radius-active: 6px 6px 0 0;
  --modal-border-color: var(--color-base-25, var(--background-modifier-border-focus));
  --workspace-background-translucent: hsla(205, 35%, 92%, 0.6);
  --table-border-color: var(--color-base-25);
  --table-header-background: var(--color-base-10);
  --table-header-background-hover: var(--color-base-10);
  --table-row-even-background: var(--color-base-00);
  --table-row-odd-background: var(--color-base-20);
  --table-row-background-hover: var(--color-base-10);
  --blockquote-color: var(--color-base-40);
  --blockquote-background-color: var(--color-base-00);
  --embed-background-color: var(--color-base-10);
  --rendered-code-bg: var(--code-background);
  --rendered-code-text: var(--color-red);
  --text-highlight-bg-editing: hsla(61, 74%, 66%, 0.85);
  --text-highlight-rendered: #252525;
  --text-highlight-editing: #000;
  --graph-text: var(--text-normal);
  --graph-node: var(--color-accent-alt);
  --graph-node-focused: var(--text-accent);
  --graph-node-unresolved: var(--color-base-30);
  --graph-node-tag: var(--color-green);
  --graph-node-attachment: var(--color-yellow);
  --background-modifier-border-focus: var(--color-base-30);
  --canvas-color: 152, 172, 186;
  --callout-quote: 123, 140, 165;
  --callout-question: 207, 186, 0;
  --code-comment: #82a2c8;
  --code-tag: #e83a78;
  --code-punctuation: #527eb2;
  --code-value: #4696f4;
  --code-string: #71ab8f;
  --code-operator: #202b8b;
  --code-property: #00a4a4;
  --code-function: #ff3e82;
  --code-keyword: #4696f4;
  --code-important: #fd6434;
  --code-normal: #527eb2;

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
