body.translucent-setting-panel .modal-bg {
  background-color: var(--background-secondary-translucent-1);
}

body.translucent-setting-panel .modal-bg {
  background-color: var(--bg-color-settings-0);
  backdrop-filter: blur(5px);
}

body.translucent-setting-panel .modal.mod-settings {
  background-color: var(--bg-color-settings-0-1);
  box-shadow: 0 0 20px var(--bg-color-settings-1);
}

body.translucent-setting-panel .modal.mod-settings {
  border: none;
}

body.translucent-setting-panel .vertical-tab-header {
  background-color: var(--bg-color-settings-3);
}

body.translucent-setting-panel .horizontal-tab-nav-item,
body.translucent-setting-panel .vertical-tab-nav-item {
  background-color: transparent;
}

body.translucent-setting-panel .horizontal-tab-nav-item:hover,
body.translucent-setting-panel .vertical-tab-nav-item:hover,
body.translucent-setting-panel .horizontal-tab-nav-item.is-active,
body.translucent-setting-panel .vertical-tab-nav-item.is-active {
  background-color: var(--bg-color-settings-2);
  color: var(--text-normal);
  font-weight: bold;
}

body.translucent-setting-panel .horizontal-tab-content,
body.translucent-setting-panel .vertical-tab-content {
  background-color: var(--bg-color-settings-3);
}

body.translucent-setting-panel .vertical-tab-content {
  background-color: var(--bg-color-settings-2);
}
