:root:root {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: #dadada;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: #121212;
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-accent: #b22222;
  --interactive-accent: rgba(247, 14, 14, 0.5);
  --interactive-accent-hover: rgba(247, 14, 14, 0.8);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.33);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --background-primary: #0b090a;
  --background-primary-alt: #121212;
  --background-secondary: #121212;
  --text-normal: #e0e0e0;
  --text-sub-accent: #f45656;
  --text-border: #1b1b1b;
  --text-dim: #8b0000;
  --text-faint: #bebebe;
  --text-title-h1: var(--text-accent);
  --text-title-h2: #e5383b;
  --text-title-h3: #e5383b;
  --text-title-h4: #e5383b;
  --text-title-h5: #e5383b;
  --text-link: #b4b4b4;
  --text-a: #fb6b6b;
  --text-a-hover: #fb6b6b;
  --text-mark: #922626;
  --code-background: var(--background-secondary);
  --checkbox: rgba(247, 14, 14, 0.7);
  --interactive-before: #655e5e;
  --blockquote-border: #fb4a4a;
  --tag-background: rgba(247, 14, 14, 0.15);
  --interactive-accent-rgb: #fb3d3d;
  --font-family-editor: "Oswald";
  --font-family-preview: "Oswald";
  --bg-sub-accent-55: rgba(244, 86, 86, 0.55);
  --bg-accent-55: rgba(247, 14, 14, 0.55);
  --bg-accent-25: rgba(247, 14, 14, 0.25);
  --text-highlight-bg: rgba(244, 86, 86, 0.25);
  --background-modifier-border: rgba(247, 14, 14, 0.05);
  --table-border-color: rgba(247, 14, 14, 0.15);
  --test-color: rgb(247, 122, 122);
  --editor-border-color: #141010;
  --accent-h: 0;
  --accent-s: 68%;
  --accent-l: 42%;
}
