:root:root {
  --background-primary: #0b090a;
  --background-primary-alt: #121212;
  --background-secondary: #121212;
  --background-secondary-alt: #121212;
  --text-normal: #e0e0e0;
  --text-accent: #b22222;
  --text-sub-accent: #f45656;
  --text-border: #1b1b1b;
  --text-dim: #8b0000;
  --text-faint: #bebebe;
  --text-title-h1: var(--text-accent);
  --text-title-h2: #e5383b;
  --text-title-h3: #e5383b;
  --text-title-h4: #e5383b;
  --text-title-h5: #e5383b;
  --text-link: #b4b4b4;
  --text-a: #fb6b6b;
  --text-a-hover: #fb6b6b;
  --text-mark: #922626;
  --code-background: var(--background-secondary);
  --interactive-accent: rgba(247, 14, 14, 0.5);
  --interactive-accent-hover: rgba(247, 14, 14, 0.8);
  --checkbox: rgba(247, 14, 14, 0.7);
  --interactive-before: #655e5e;
  --blockquote-border: #fb4a4a;
  --tag-background: rgba(247, 14, 14, 0.15);
  --interactive-accent-rgb: #fb3d3d;
  --font-family-editor: "Oswald";
  --font-family-preview: "Oswald";
  --bg-sub-accent-55: rgba(244, 86, 86, 0.55);
  --bg-accent-55: rgba(247, 14, 14, 0.55);
  --bg-accent-25: rgba(247, 14, 14, 0.25);
  --text-highlight-bg: rgba(244, 86, 86, 0.25);
  --background-modifier-border: rgba(247, 14, 14, 0.05);
  --table-border-color: rgba(247, 14, 14, 0.15);
  --test-color: rgb(247, 122, 122);
  --editor-border-color: #141010;
  --accent-h: 0;
  --accent-s: 68%;
  --accent-l: 42%;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
