body.encore-translucency.encore-bg-dawn {
  background-image:
    radial-gradient(transparent, rgba(1, 2, 36, 0.4784313725)),
    linear-gradient(to bottom, rgba(222, 244, 255, 0.11), transparent),
    linear-gradient(to bottom left, #0036e6, #400dcc);
}
body.encore-translucency.encore-bg-dawn::before {
  position: fixed;
  inset: 0;
  content: '';
  animation: fade-in 60s linear infinite alternate;
  background-image:
    radial-gradient(transparent, rgba(1, 2, 36, 0.5764705882)),
    linear-gradient(to bottom, rgba(222, 244, 255, 0.1568627451), transparent),
    linear-gradient(to bottom left, #ee8d4d, rgba(0, 18, 182, 0.7058823529));
}
