body:not(.angular-shapes) {
  --radius-xs: 2px;
}

.angular-shapes {
  --radius-xs: 0;
  --radius-s: 0;
  --radius-m: 0;
  --radius-l: 0;
  --radius-xl: 0;
  --input-radius: 0;
  --tab-radius-active: 0;
}

body.angular-shapes .checkbox-container {
  border-radius: 0;
  width: 20px;
  height: 20px;
}

body:not(.angular-shapes) .is-live-preview .HyperMD-quote + .HyperMD-quote:before {
  border-bottom-left-radius: var(--radius-s);
  margin-top: -0.5em;
}

body:not(.angular-shapes)
  .markdown-source-view:not(.is-live-preview)
  .HyperMD-quote
  + .HyperMD-quote:before {
  width: var(--blockquote-border-thickness);
  margin-top: -12px;
  margin-left: calc(-1 * (var(--blockquote-border-thickness)));
  white-space: pre;
  content: " ";
  background-color: var(--blockquote-border-color);
  height: 1.5em;
  position: absolute;
}
