.theme-anytype.theme-light .callout {
  background-color: rgba(var(--callout-color), 0.3);
}

.theme-anytype.theme-light {
  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-base-00: #ffffff;
  --color-base-05: #f8f8f8;
  --color-base-10: #f1f1f1;
  --color-base-20: #fafafa;
  --color-base-25: #f2f2f2;
  --color-base-30: rgb(230, 230, 230);
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #a2a0a0;
  --color-base-60: #7b7b7b;
  --color-base-70: #999999;
  --color-base-100: #2f2f2f;
}
