:root[saved-theme="light"] {
  --colorPrimary: hsl(var(--accent-h), 100%, 31%);
  --colorPrimaryContainer: hsl(var(--accent-h), 100%, 93%);
  --colorPrimaryContainerVariant: hsl(var(--accent-h), 100%, 85%);
  --colorPrimaryContainerVariantHover: hsl(var(--accent-h), 100%, 91%);
  --colorOnPrimary: white;
  --colorBackgroundPrimary: hsl(var(--accent-h), 100%, 97%);
  --nav-item-color: black;

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
