:root:root {
  --background-primary: #181a1b;
  --background-secondary: #181a1b;
  --background-secondary-alt: #181a1b;
  --text-normal: #ccba8d;
  --text-muted: #ccba8d;
  --text-faint: #ff1493;
  --text-accent: #32cd32;
  --text-accent-hover: #ff5c8f;
  --text-selection: #29502e;
  --text-highlight-bg: #29502e;

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
