:root[saved-theme="dark"] {
  --text-highlight-bg: transparent;
  --text-accent: #95bae8;
  --color-base-00: #292d3e;
  --color-base-05: #1d202c;
  --color-base-10: #5da6ca;
  --color-base-20: #1d202c;
  --color-base-25: #fff;
  --color-base-30: #fff;
  --color-base-35: #b3b6de;
  --color-base-40: #b3b6de;
  --color-base-50: #95bae8;
  --color-base-60: #fff;
  --color-base-70: #d295d1;
  --color-base-100: #e46872;
  --interactive-normal: #ffffff;
  --slider-track-background: #ffffff;
  --icon-color: #96bae8;
  --icon-color-hover: #d295d1;
  --icon-color-focused: #d295d1;
  --code-background: #383c4e;
  --nav-item-color: #95bae8;
  --nav-item-color-active: #c2b4d9;
  --nav-item-color-hover: #c2b4d9;
  --nav-item-background-active: transparent;
  --nav-item-background-hover: transparent;
  --tab-text-color-active: #fff;
  --tab-text-color-focused: #fff;
  --tab-divider-color: transparent;
  --callout-title-weight: 400;
  --tag-background: transparent;
  --tag-background-hover: transparent;
  --tag-color-hover: #714785;
  --tag-color: #96bae8;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
