:root[saved-theme="light"] {
  --text-highlight-bg: transparent;
  --text-accent: #95bae8;
  --color-base-00: #fff;
  --color-base-05: #e9ecf7;
  --color-base-10: #71799d;
  --color-base-20: #e9ecf7;
  --color-base-25: #fff;
  --color-base-30: #fff;
  --color-base-35: #b3b6de;
  --color-base-40: #b3b6de;
  --color-base-50: #95bae8;
  --color-base-60: #fff;
  --color-base-70: #d295d1;
  --color-base-100: #383c4e;
  --interactive-normal: #ffffff;
  --slider-track-background: #ffffff;
  --icon-color: #96bae8;
  --icon-color-hover: #d295d1;
  --icon-color-focused: #d295d1;
  --code-background: #e9ecf7;
  --nav-item-color: #634a75;
  --nav-item-color-active: #9a73b4;
  --nav-item-color-hover: #95bae8;
  --nav-item-background-active: transparent;
  --nav-item-background-hover: transparent;
  --tab-text-color-active: #fff;
  --tab-text-color-focused: #fff;
  --tab-divider-color: transparent;
  --callout-title-weight: 400;
  --tag-background: transparent;
  --tag-background-hover: transparent;
  --tag-color-hover: #714785;
  --tag-color: #96bae8;

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
