:root[saved-theme="dark"] {
  --title-gradient-top: var(--text-normal);
  --title-gradient-bottom: var(--link-color);
  --accent-l: 79%;
  --link-external-color: #7fcae6;
  --link-external-color-hover: #89ebe5;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
