:root[saved-theme="light"] {
  --title-gradient-top: var(--link-color);
  --title-gradient-bottom: color-mix(in hsl, var(--link-color), black);
  --code-normal: #4db95a;
  --link-external-color: #2f9bb7;
  --link-external-color-hover: rgb(72, 191, 224);
  --tag-color: var(--text-normal);
  --tag-color-hover: var(--text-normal);
  --tag-background: #eeb662;
  --tag-background-hover: #f7d865;

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
