@import "fonts";

:root {
  --default-font-size: 1.05rem;
  --body-font-weight: normal;
  --code-mono-font: "OperatorMonoSSmLig-Book";
}

body {
}

:root[saved-theme="dark"] {
  --background-primary: #202020;
  --background-primary-alt: #161616;
  --background-secondary: #1a1a1a;
  --background-secondary-alt: #161616;
  --text-normal: #cccccc;
  --text-accent: #893cf5;
  --text-sub-accent: #eb59e0;
  --text-dim: #eb59e0;
  --text-faint: #893cf5d8;
  --text-title-h1: var(--text-accent);
  --text-title-h2: #cccccc;
  --text-title-h3: #cccccc;
  --text-title-h4: #cccccc;
  --text-title-h5: #cccccc;
  --text-link: #6c6d72;
  --text-a: #61d0ff;
  --text-a-hover: #61d0ff;
  --text-mark: #263d92;
  --pre-code: var(--background-secondary);
  --interactive-accent: rgba(137, 60, 245, 0.55);
  --interactive-accent-hover: rgba(137, 60, 245, 0.8);
  --interactive-before: #5e6565;
  --background-modifier-border: #92a1a17a;
  --blockquote-border: #893cf5;
  --tag-background: #a7b0b3;
  --interactive-accent-rgb: rgb(61, 215, 251);
  --font-family-editor: "Rubik";
  --font-family-preview: "Rubik";
  --bg-sub-accent-55: rgba(93, 180, 220, 0.55);
  --bg-sub-accent-55: rgba(93, 180, 220, 0.75);
  --bg-accent-55: rgba(137, 60, 245, 0.55);
  --bg-accent-75: rgba(137, 60, 245, 0.75);
  --bg-accent-25: rgba(137, 60, 245, 0.25);
  --text-highlight-bg: var(--bg-accent-55);
  --background-modifier-border: #202020;
  --test-color: rgb(122, 162, 247);
  --editor-border-color: #101014;
  --text-selection: #59396359;
  --Code--subs: #3f4144;
  --Code--purple: #893cf5;
  --Code--pink: rgb(235, 89, 224);
  --Code--blue: #61d0ff;
  --Code--comment: #6c6d72;
  --indentation-guide-color: var(--interactive-accent);
}

:root[saved-theme="light"] {
}
