@import "fonts";

:root {
  --default-font: "Segoe UI", "Arial", "Tahoma", "Helvetica", sans-serif;
}

body {
}

:root[saved-theme="dark"] {
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #15df6b;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #ff0f44;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: var(--venom_white);
  --text-accent1: #61d29d;
  --text-accent2: #00ddff;
  --text-accent-hover: var(--venom_pink);
  --text-normal: var(--venom_white);
  --text-muted: #bbb;
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: var(--venom_dark_navy);
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  --interactive-accent: var(--venom_purple);
  --interactive-accent-rgb: 76, 120, 204;
  --interactive-accent-hover: #5082df;
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: var(--venom_gray);
  --gray-1: #5c6370;
  --red: #ff0f44;
  --peach: #ff5555;
  --aqua: #078480;
  --purple: #8c44aa;
  --blue: #61afef;
  --green: #15df6b;
  --orange: #ffc83f;
  --magenta: #ff2857;
  --altblue: #0087ff;
  --cyan: #0fb3ff;
  --yellow: #fccd11;
  --light-orange: #ff693f;
  --lime: #b2f711;
  --aquadark: #0b4c5e;
  --lila: #c90481;
  --green-light: #42accd;
  --venom_dark_navy: #0c1520;
  --venom_navy: #1e303a;
  --venom_gray: #8e9599;
  --venom_white: #fff;
  --venom_dark_red: #752126;
  --venom_pink: #b13d4c;
  --venom_purple: #7f01fe;
  --text-title-h1: var(--red);
  --text-title-h2: #ff8126;
  --text-title-h3: var(--yellow);
  --text-title-h4: lightgreen;
  --text-title-h5: skyblue;
  --text-title-h6: var(--purple);
  --font-weight-title: 600px;
  --line-height-headers: 1;
  --file-line-width: 1200px;
  --search-match-color: #ffff00;
  --search-other-match-color: #ff9632;
  --link_venom_bg_1: url(https://imgur.com/9OXj9sV.jpg);
}

:root[saved-theme="light"] {
}
