.fas-swamp {
  --color-space: lab;
  --color-base-00: #1b2329;
  --color-base-100: #e2d0b6;
  --middle-color: hsl(40, 70%, 60%);
  --middle-color-complement: #5281e0;
  --color-gray: #b5b5b5;
  --color-gray-rgb: 181, 181, 181;
  --color-brown: #bf8b4d;
  --color-brown-rgb: 191, 139, 77;
  --color-red: #f26e58;
  --color-red-rgb: 242, 110, 88;
  --color-orange: #f0a53b;
  --color-orange-rgb: 240, 165, 59;
  --color-yellow: #fff400;
  --color-yellow-rgb: 255, 244, 0;
  --color-green: #75d554;
  --color-green-rgb: 117, 213, 84;
  --color-cyan: #8cdbc5;
  --color-cyan-rgb: 140, 219, 197;
  --color-blue: #7b98cb;
  --color-blue-rgb: 123, 152, 203;
  --color-purple: #cc8fd3;
  --color-purple-rgb: 204, 143, 211;
  --color-pink: #f8bbd8;
  --color-pink-rgb: 248, 187, 216;
}

.fas-swamp {
  --color-rainbow-1: #ffad97;
  --color-rainbow-1-rgb: 255, 173, 151;
  --color-rainbow-2: #ffd08e;
  --color-rainbow-2-rgb: 255, 208, 142;
  --color-rainbow-3: #fdf4a0;
  --color-rainbow-3-rgb: 253, 244, 160;
  --color-rainbow-4: #cff4a4;
  --color-rainbow-4-rgb: 207, 244, 164;
  --color-rainbow-5: #a2e0de;
  --color-rainbow-5-rgb: 162, 224, 222;
  --color-rainbow-6: #abc0de;
  --color-rainbow-6-rgb: 171, 192, 222;
  --color-rainbow-7: #c6b2de;
  --color-rainbow-7-rgb: 198, 178, 222;
  --color-rainbow-8: #e2bbde;
  --color-rainbow-8-rgb: 226, 187, 222;
  --color-rainbow-9: #ffc3de;
  --color-rainbow-9-rgb: 255, 195, 222;
  --color-rainbow-10: #ffa8bf;
  --color-rainbow-10-rgb: 255, 168, 191;
}
