body.theme-dark {
  --background-primary: var(--background-primary-bg-4-bt, #1e1e1e);
  --background-primary-alt: var(--background-primary-alt-bg-4-bt, #000000);
  --background-secondary: var(--background-secondary-bg-4-bt, #151515);
  --background-secondary-alt: var(--background-secondary-alt-bg-4-bt, #000000);
  --accent-em: #ffffff;
  --accent-h: 0;
  --accent-s: 0%;
  --accent-l: 47%;
  --interactive-accent-rgb: 120, 120, 120;
  --text-highlight-bg: #89853b8a;
  --mark-highlight-strong-em: #fff7603a;
  --strong-em-highlight-color: #ffffff;
  --text-search-highlight-bg: #bb4361;
  --search-result-file-title-color: var(--text-normal);
  --background-blockquote: #9191911c;
  --background-code: #1111118c;
  --background-code-2: #4c4c4cb0;
  --text-color-code: #d58000;
  --internal-link-color: #3197eb;
  --list-ul-block-color: #d0d0d0a9;
  --list-ul-disc-color: #eb9563;
  --green-1: #79c142;
  --list-ul-hover: #e28915de;
  --list-ol-block-color: #878787b4;
  --list-ol-number-color: #c6c6c6;
  --list-ol-hover: #2c7bd6;
  --tag-text: #e4e4e4;
  --stag1: #f08383;
  --stag1-bg: #bd1919;
  --stag2: #e7b263;
  --stag2-bg: #ac6700;
  --stag3: #77df89;
  --stag3-bg: #058c1c;
  --tag1: #cccccc;
  --tag2: #cccccc;
  --tag3: #cccccc;
  --tag4: #cccccc;
  --tag5: #cccccc;
  --tag-dailynote: #98c8ff;
  --tag-dailynote-bg: #0f60bd;
  --tag-weeklynote: #d1e6ff;
  --tag-weeklynote-bg: #3971b1;
  --tag-questions: #d4bdff;
  --tag-questions-bg: #6640ae;
  --tag-ideas: #fcfcc0;
  --tag-ideas-bg: #565656d8;
  --h1-color: var(--print-h1-color, #ebebeb);
  --h2-color: var(--print-h2-color, #ebebeb);
  --h3-color: var(--print-h3-color, #ebebeb);
  --h4-color: var(--print-h4-color, #ebebeb);
  --h5-color: var(--print-h5-color, #ebebeb);
  --h6-color: var(--print-h6-color, #ebebeb);
  /*graph*/
  --graph-text-color: #b5b5b5;
  --graph-tag: #88d842bb;
  --graph-attach: #5cb5e9bb;
  --graph-circle: #ebebebb9;
  --graph-line: #8c8c8c;
  --graph-unresolved: #f08080de;
  --graph-arrow: #c23917;
  --graph-control-bg: #00000080;
  /*mermaid*/
  --mermaid-active-task-color: #187ef1;
  --mermaid-seq-dia-color: #1371be;
  --table-border-color: #878787;
  --table-thead-background-color: #b3b3b363;
  --table-hover-raw-color: #4040401c;
  --table-hover-color: #59595947;
  --table-hover-thead-color: #6969691c;
  /*calendar*/
  --calendar-week-color: #ededed;
  --calendar-week-hover: #bfbfbf52;
  --calendar-week-background-color: #b5b5b52e;
  --calendar-today-background-color: #8c4545;
  /*day planner*/
  --day-planner-pie: #f19c1c;
  --day-planner-timeline: #000000;
  --day-planner-line: #dfcf77;
  --day-planner-dot: #dfcf77;
  --day-planner-item-hover: #707070;
  --event-item-color1: #0a0a0a;
  --event-item-color2: #121212;
  --event-item-color3: #171717;
  --event-item-color4: #212121;
  --event-item-color5: #2b2b2b;
  --event-item-color6: #333333;
  --event-item-color7: #3d3d3d;
  --event-item-color8: #454545;
  --event-item-color9: #4d4d4d;
  --event-item-color10: #575757;
  /*Sliding panes*/
  --sliding-panes-header-color: #ebebeb;
  --background-4-sliding-pane: #252525ed;
  --color-view-header-gradient-1: #000000de;
  --color-view-header-gradient-2: #000000c0;
  --table-color-calendar-2: rgb(69, 69, 69);
  --table-color-rgb: 69, 69, 69;
}
