.theme-dark {
  color-scheme: dark;
  --highlight-mix-blend-mode: lighten;
  --color-base-00: #002b36;
  --color-base-10: #06333f;
  --color-base-20: #073642;
  --color-base-25: #0c404d;
  --color-base-30: #173c47;
  --color-base-35: #3a4e54;
  --color-base-40: #3e545c;
  --color-base-50: #536668;
  --color-base-60: #586b6d;
  --color-base-70: #657c7e;
  --color-base-100: #8a9a9c;
}
