:root[saved-theme="light"] {
  --red-graphite-accent-color-h: 2;
  --red-graphite-accent-color-s: 56%;
  --red-graphite-accent-color-l: 54%;
  --accent-h: var(--red-graphite-accent-color-h);
  --accent-s: var(--red-graphite-accent-color-s);
  --accent-l: var(--red-graphite-accent-color-l);
  --red-graphite-base-color-h: 204;
  --red-graphite-base-color-s: 6%;
  --red-graphite-base-color-l: 17%;
  --theme-base-color-h: var(--red-graphite-base-color-h);
  --theme-base-color-s: var(--red-graphite-base-color-s);
  --theme-base-color-l: var(--red-graphite-base-color-l);
  --background-primary: var(--color-base-20);
  --background-primary-alt: var(--color-base-00);
  --background-secondary: var(--color-base-100);
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-border: var(--color-base-30);
  --background-modifier-border-hover: var(--color-base-35);
  --background-modifier-border-focus: var(--color-base-25);
  --code-block-border-width: 1px;
  --code-block-border-style: solid;
  --code-block-border-color: var(--color-base-40);
  --nav-item-size: var(--font-small);
  --nav-item-color: var(--color-base-40);
  --nav-item-color-hover: var(--color-base-00);
  --nav-item-color-active: var(--color-base-00);
  --nav-item-color-selected: var(--color-base-00);
  --nav-item-background-hover: var(--interactive-accent);
  --nav-item-background-active: var(--interactive-accent);
  --nav-indentation-guide-color: var(--color-base-90);
  --nav-collapse-icon-color: var(--color-accent);
  --nav-collapse-icon-color-collapsed: var(--color-accent);
  --nav-item-padding: var(--size-4-1) var(--size-4-2) var(--size-4-1) var(--size-4-6);
  --icon-color: var(--color-base-60);
  --icon-color-hover: var(--color-accent);
  --icon-color-active: var(--color-accent);
  --icon-color-focused: var(--color-accent);
  --list-marker-color: var(--color-accent);
  --vault-profile-color: var(--nav-item-color);
  --ribbon-background: var(--color-base-95);
  --ribbon-background-collapsed: var(--color-base-95);
  --table-border-color: var(--color-base-50);
  --table-header-border-color: var(--color-base-50);
  --table-header-background: var(--color-base-30);
  --table-header-background-hover: var(--color-base-30);
  --table-header-color: var(--color-base-100);
  --tab-outline-color: var(--color-base-60);
  --text-normal: var(--color-base-100);
  --text-muted: var(--color-base-70);
  --text-faint: var(--color-base-60);
  --text-on-accent: var(--color-base-00);
  --text-error: var(--color-red);
  --text-success: var(--color-green);
  --text-selection: hsla(var(--color-accent-hsl), 0.2);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--color-accent-2);
  --interactive-normal: var(--color-base-00);
  --interactive-hover: var(--color-base-00);
  --color-text-title: var(--nav-item-color);
  --color-text-heading: var(--nav-item-color);
  --vault-name-font-size: var(--font-ui-medium);
  --vault-name-font-weight: var(--font-medium);
  --vault-name-color: var(--color-accent);
  --mk-ui-border: var(--color-base-90);
  --mk-ui-text-secondary: var(--color-base-40);
}
