body.color-scheme-options-topaz-nord .theme-light,
body.theme-light {
  --accent-h: 210;
  --accent-s: 34%;
  --accent-l: 63%;
  --accent-em: var(--nord14-0);
  --text-selection: var(--nord9-2);
  --interactive-accent-rgb: 129, 161, 193;
  --tag-text: #3a79dd;
  --tag1: #005aec21;
  --tag2: #005aec21;
  --tag3: #005aec21;
  --tag4: #005aec21;
  --tag5: #005aec21;
  --h1-color: var(--print-h1-color, var(--nord11));
  --h2-color: var(--print-h2-color, var(--nord12));
  --h3-color: var(--print-h3-color, var(--nord13-0));
  --h4-color: var(--print-h4-color, var(--nord14-0));
  --h5-color: var(--print-h5-color, var(--nord8-0));
  --h6-color: var(--print-h6-color, var(--nord15));
  --background-code: var(--nord6-2);
  --background-blockquote: var(--nord6-2);
  --text-highlight-bg: var(--nord13-1);
  --mark-highlight-strong-em: var(--nord13-1);
  --text-color-code: var(--nord8-0);
  --color-view-header-gradient-1: var(--background-primary-bg-4-bt);
  --color-view-header-gradient-2: var(--background-primary-bg-4-bt);
  --strong-em-color-1: var(--accent-strong);
  --strong-em-color-2: var(--accent-strong);
  --strong-em-highlight-color: var(--accent-strong);
  --embed-color: var(--nord6-2);
  --activeline-background: var(--nord5-1);
  --list-ul-block-color: var(--nord12);
  --list-ul-disc-color: var(--nord12);
  --green-1: var(--nord14-0);
  --list-ul-hover: var(--nord13-0);
  --list-ol-block-color: var(--nord9);
  --list-ol-number-color: var(--nord9);
  --list-ol-hover: var(--nord7);
  --table-thead-background-color: var(--nord9-2);
  --table-hover-raw-color: var(--nord9-2);
  --table-hover-color: var(--nord9-2);
  --table-hover-thead-color: var(--nord9-1);
  --checkbox-color-0: var(--interactive-accent);
  --graph-text-color: var(--nord1);
  --graph-tag: var(--nord7);
  --graph-attach: var(--nord15);
  --graph-circle: var(--nord9);
  --graph-line: var(--nord3-1);
  --graph-unresolved: var(--nord11);
  --graph-arrow: var(--nord11);
  --text-search-highlight-bg: var(--nord9-2);
}
