body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .view-content {
  padding: unset;
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-slider
  .n-slider-rail {
  background-color: var(--background-secondary-alt);
  box-shadow: 0 3px 5px var(--background-modifier-box-shadow);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-slider
  .n-slider-rail
  .n-slider-rail__fill {
  background-color: var(--background-modifier-border);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-slider
  .n-slider-dots
  .n-slider-dot {
  background-color: var(--background-primary);
  border: 2px solid var(--background-modifier-border);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-slider
  .n-slider-dots
  .n-slider-dot.n-slider-dot--active {
  border: 2px solid var(--interactive-accent);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-button {
  width: 32px;
  height: 32px;
  background-color: var(--background-secondary-alt);
  border: 0px;
  border-radius: var(--radius-l);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-button
  .n-button__icon
  svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-button
  .n-button__border,
body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-button
  .n-button__state-border {
  display: none;
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .n-tree-node-content__text
  p {
  color: var(--text-normal);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline {
  padding-top: 10px;
  padding-bottom: 28px;
  margin-bottom: 5px;
  border-radius: var(--radius-l);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .function-bar
  > :first-child {
  margin-right: 8px;
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-2
  .n-tree-node-indent,
body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-3
  .n-tree-node-indent:first-child,
body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-4
  .n-tree-node-indent:first-child,
body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-5
  .n-tree-node-indent:first-child,
body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-6
  .n-tree-node-indent:first-child {
  border-right: 1px solid rgb(var(--accent-1-rgb), 0.5);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-3
  .n-tree-node-indent,
body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-4
  .n-tree-node-indent:nth-child(2),
body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-5
  .n-tree-node-indent:nth-child(2),
body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-6
  .n-tree-node-indent:nth-child(2) {
  border-right: 1px solid rgb(var(--accent-2-rgb), 0.5);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-4
  .n-tree-node-indent,
body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-5
  .n-tree-node-indent:nth-child(3),
body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-6
  .n-tree-node-indent:nth-child(3) {
  border-right: 1px solid rgb(var(--accent-3-rgb), 0.5);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-5
  .n-tree-node-indent,
body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-6
  .n-tree-node-indent:nth-child(4) {
  border-right: 1px solid rgb(var(--accent-4-rgb), 0.5);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .level-6
  .n-tree-node-indent {
  border-right: 1px solid rgb(var(--accent-5-rgb), 0.5);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-tree.n-tree--block-line
  .n-tree-node:not(.n-tree-node--disabled):hover {
  background-color: hsla(var(--interactive-accent-hsl), 0.2);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-tree.n-tree--block-line
  .n-tree-node:not(.n-tree-node--disabled):hover
  p {
  color: var(--text-accent-hover);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .n-tree-node--selectable.located
  p {
  color: var(--text-accent-hover);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .quiet-outline
  .n-tree-node--selected
  p {
  color: var(--text-accent-hover);
  font-weight: 600;
  background-color: hsla(var(--interactive-accent-hsl), 0.2);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-input {
  height: 32px;
  background-color: var(--background-primary);
  border-radius: var(--radius-l);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-input
  .n-input__border {
  border: 0;
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-input:not(.n-input--disabled):hover
  .n-input__state-border,
body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-input:not(.n-input--disabled).n-input--focus
  .n-input__state-border {
  border: 0;
  box-shadow: unset;
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-input
  .n-input__placeholder {
  display: none;
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-input
  .n-input__input
  input {
  caret-color: var(--interactive-accent);
}

body.quiet-outline-optimize
  .workspace-leaf-content[data-type="quiet-outline"]
  .n-input
  .n-input__input
  input::placeholder {
  color: var(--text-faint);
}
