:root[saved-theme="light"] {
  --color-red: hsl(from var(--theme-color-base) 356 s l);
  --color-orange: hsl(from var(--theme-color-base) 27 s l);
  --color-yellow: hsl(from var(--theme-color-base) 57 s l);
  --color-green: hsl(from var(--theme-color-base) 124 s l);
  --color-cyan: hsl(from var(--theme-color-base) 179 s l);
  --color-blue: hsl(from var(--theme-color-base) 219 s l);
  --color-purple: hsl(from var(--theme-color-base) 253 s l);
  --color-pink: hsl(from var(--theme-color-base) 331 s l);
  --theme-color-redTransparent25: hsl(from var(--color-red) h s l / 0.25);
  --theme-color-redTransparent75: hsl(from var(--color-red) h s l / 0.75);
  --theme-color-orangeTransparent25: hsl(from var(--color-orange) h s l / 0.25);
  --theme-color-orangeTransparent75: hsl(from var(--color-orange) h s l / 0.75);
  --theme-color-yellowTransparent25: hsl(from var(--color-yellow) h s l / 0.25);
  --theme-color-yellowTransparent75: hsl(from var(--color-yellow) h s l / 0.75);
  --theme-color-greenTransparent25: hsl(from var(--color-green) h s l / 0.25);
  --theme-color-greenTransparent75: hsl(from var(--color-green) h s l / 0.75);
  --background-modifier-active-hover-alt: var(--theme-color-baseLightened25);
  --background-modifier-active-hover: var(--theme-color-baseLightened60);
  --background-modifier-border-focus: var(--theme-color-base);
  --background-modifier-border: var(--theme-color-baseLightened25);
  --background-modifier-hover: var(--theme-color-base);
  --blockquote-border-color: var(--theme-color-baseLightened80);
  --caret-color: hsl(var(--accent-h), 150%, 50%);
  --collapse-icon-color: var(--theme-color-base);
  --collapse-icon-color-collapsed: var(--theme-color-base);
  --empty-pane-color: var(--theme-color-baseDarkened70);
  --icon-color-focused: white;
  --icon-color-hover: white;
  --icon-color: var(--theme-color-base);
  --modal-background: var(--theme-color-baseLightened80);
  --nav-collapse-icon-color-collapsed: var(--theme-color-baseTransparent75);
  --nav-collapse-icon-color: var(--theme-color-baseTransparent75);
  --nav-indentation-guide-color: var(--theme-color-baseTransparent25);
  --nav-item-background-active: var(--theme-color-base);
  --nav-item-background-selected: var(--theme-color-baseTransparent25);
  --nav-item-color-active: var(--theme-color-baseLightened80);
  --nav-item-color: var(--theme-color-baseDarkened80);
  --nav-item-color-hover: white;
  --search-clear-button-color: var(--theme-color-base);
  --search-icon-color: var(--theme-color-base);
  --status-bar-text-color: black;
  --tab-background-active: var(--background-primary);
  --tab-background-inactive: var(--theme-color-baseLightened80);
  --tab-text-color: var(--theme-color-baseTransparent50);
  --tab-text-color-active: var(--theme-color-baseTransparent50);
  --tab-text-color-focused: var(--theme-color-baseDarkened25);
  --tab-text-color-focused-active: var(--theme-color-baseDarkened25);
  --tab-text-color-focused-highlighted: var(--text-accent);
  --tab-text-color-focused-active-current: var(--text-normal);
  --text-normal: var(--theme-color-baseDarkened90);
  --text-faint: var(--theme-color-baseDarkened70);
  --background-prompt: var(--theme-color-baseLightened95);
  --interactive-accent: var(--theme-color-base);
  --interactive-accent-hover: var(--theme-color-base);
  --table-border-color: var(--theme-color-baseLightened60);
  --table-header-border-color: var(--theme-color-baseLightened60);
  --metadata-property-background: var(--theme-color-baseLightened95);
  --metadata-property-background-hover: var(--theme-color-baseTransparent12);
  --metadata-label-background-active: var(--theme-color-baseLightened95);
  --metadata-input-background-active: var(--theme-color-baseLightened95);
  --background-primary: white;
  --background-secondary: var(--theme-color-baseLightened60);
  --theme-color-activeLineHighlight: var(--theme-color-baseTransparent12);
  --theme-color-audioRecordingActive: var(--theme-color-redDarkened);
  --theme-color-blockId: var(--theme-color-baseLightened25);
  --theme-color-calendarBg: var(--theme-color-baseLightened80);
  --theme-color-calendarDayBg: var(--theme-color-lightenTransparent50);
  --theme-color-communityItemBg: var(--theme-color-baseLightened80);
  --theme-color-communityItemBgActive: var(--theme-color-base);
  --theme-color-communityItemBgHover: var(--theme-color-baseLightened60);
  --theme-color-communityItemBgSelected: var(--theme-color-baseLightened25);
  --theme-color-contentItemBg: var(--theme-color-lightenTransparent50);
  --theme-color-contentItemBgActive: var(--theme-color-base);
  --theme-color-contentItemBgHover: var(--theme-color-lightenTransparent25);
  --theme-color-controlActive: var(--theme-color-control);
  --theme-color-controlBg: var(--theme-color-baseLightened95);
  --theme-color-controlBgHover: var(--theme-color-base);
  --theme-color-controlBgLowWeight: var(--theme-color-lightenTransparent50);
  --theme-color-controlContentArea: var(--theme-color-base);
  --theme-color-controlContentAreaHover: var(--theme-color-baseLightened80);
  --theme-color-controlUIHover: var(--theme-color-baseLightened60);
  --theme-color-controlUISelected: var(--theme-color-baseLightened80);
  --theme-color-controlHover: var(--theme-color-baseLightened95);
  --theme-color-controlSetBg: var(--theme-color-baseLightened80);
  --theme-color-controlText: var(--theme-color-baseDarkened70);
  --theme-color-controlTextHover: var(--theme-color-baseLightened80);
  --theme-color-controlLightweightActive: var(--theme-color-baseLightened95);
  --theme-color-emptyStateBg: var(--theme-color-baseLightened80);
  --theme-color-graphLine: black;
  --theme-color-hotkey: var(--theme-color-base);
  --theme-color-inputBorder: var(--theme-color-baseLightened25);
  --theme-color-inputPlaceholder: var(--theme-color-base);
  --theme-color-interactiveActive: var(--theme-color-baseLightened25);
  --theme-color-kanbanLaneBg: var(--theme-color-baseLightened80);
  --theme-color-log: var(--theme-color-baseDarkened80);
  --theme-color-logBg: var(--theme-color-baseLightened25);
  --theme-color-modalContentBg: var(--theme-color-baseLightened60);
  --theme-color-menuBg: var(--theme-color-baseLightened80);
  --theme-color-mobileToolbarBg: var(--theme-color-baseLightened80);
  --theme-color-navFileTag: var(--theme-color-base);
  --theme-color-navFileTagActive: var(--nav-item-color-active);
  --theme-color-navFileTagActiveBorder: var(--nav-item-color-active);
  --theme-color-navFileTagBorder: var(--theme-color-base);
  --theme-color-navigationButtonBgHover: var(--theme-color-baseTransparent25);
  --theme-color-notice: var(--theme-color-baseLightened95);
  --theme-color-noticeBg: var(--theme-color-baseDarkened80);
  --theme-color-promptInstructions: var(--theme-color-baseDarkened40);
  --theme-color-settingsBg: var(--theme-color-baseLightened80);
  --theme-color-settingsBgStripe: var(--theme-color-baseLightened95);
  --theme-color-settingsGroupBg: var(--theme-color-lightenTransparent50);
  --theme-color-suggestionBg: var(--theme-color-baseLightened85);
  --theme-color-switcherBgActive: var(--theme-color-base);
  --theme-color-tabNavBg: var(--theme-color-baseLightened70);
  --theme-color-textMeta: var(--theme-color-base);
  --theme-color-textSelected: var(--theme-color-baseLightened80);
  --theme-color-warningBg: var(--theme-color-baseLightened95);
  --theme-color-gradientCardsetTop: var(--theme-color-baseTransparent12);
  --theme-color-gradientCardsetBottom: var(--theme-color-baseTransparent06);
  --pill-background: var(--theme-color-baseTransparent75);
  --pill-background-hover: var(--theme-color-base);
  --pill-color: white;
  --pill-color-hover: white;
  --pill-color-remove: var(--theme-color-baseLightened80);
  --pill-color-remove-hover: var(--theme-color-baseLightened80);
  --pill-background-remove-hover: var(--theme-color-baseLightened25);

  code[data-theme*=" "] {
    --shiki-dark: var(--shiki-light) !important;
    --shiki-dark-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-dark: var(--shiki-light) !important;
      --shiki-dark-bg: var(--shiki-light-bg) !important;
    }
  }
}
