:root[saved-theme="dark"] {
  --background-modifier-border: #009200;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --background-modifier-form-field: var(--color-base-25);
  --background-primary: #2b2b2b;
  --background-primary-alt: #373737;
  --background-secondary: #126127;
  --background-secondary-alt: #134d22;
  --button-bg-color: #915cb2;
  --button-hover-bg-color: #a271c0;
  --button-hover-text-color: #d8d8d8;
  --button-text-color: #d8d8d8;
  --code-background: #333333;
  --code-block: #83a598;
  --code-size: var(--font-medium);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 5),
    calc(var(--accent-s) * 1.05),
    calc(var(--accent-l) * 1.29)
  );
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-100: #dadada;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-blue: #027aff;
  --color-blue-rgb: 2, 122, 255;
  --color-cyan: #53dfdd;
  --color-cyan-rgb: 83, 223, 221;
  --color-green: #44cf6e;
  --color-green-rgb: 68, 207, 110;
  --color-orange: #e9973f;
  --color-orange-rgb: 233, 151, 63;
  --color-pink: #fa99cd;
  --color-pink-rgb: 250, 153, 205;
  --color-purple: #a882ff;
  --color-purple-rgb: 168, 130, 255;
  --color-red: #fb464c;
  --color-red-rgb: 251, 70, 76;
  --color-yellow: #e0de71;
  --color-yellow-rgb: 224, 222, 113;
  --font-headers: var(--font-text-headers);
  --font-interface: var(--font-text-normal);
  --font-monospace: var(--font-code-blocks);
  --font-text: var(--font-text-normal);
  --highlight-mix-blend-mode: darken;
  --icon-color: #9aff9f;
  --icon-color-focused: #dba0ff;
  --icon-color-hover: #e3b7ff;
  --inline-code: #83a598;
  --inline-title-font: var(--font-text-headers);
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --interactive-accent: #c76cff;
  --interactive-accent-hover: var(--color-accent-1);
  --interactive-accent-rgb: #c76cff;
  --interactive-before: #7c6f64;
  --interactive-hover: var(--color-base-35);
  --interactive-normal: var(--color-base-30);
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --nav-item-color-active: #d8d8d8;
  --nav-item-color-hover: #ffeeee;
  --nav-item-color-selected: #eba2a2;
  --nav-item-weight: bold;
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --pre-code: #;
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
  --status-bar-text-color: #ffffff;
  --tab-font-weight: bold;
  --text-a: #c76cff;
  --text-a-hover: #83a598;
  --text-accent: #c76cff;
  --text-accent-hover: #da9fff;
  --text-faint: #b6ceb2;
  --text-h1-background: #36ad26;
  --text-h2-background: #269e16;
  --text-h3-background: #221e1f;
  --text-h4-background: #8848b1;
  --text-h5-background: #bc4545;
  --text-highlight-bg: #9400a1;
  --text-link: #83a598;
  --text-normal: #e7e7e7;
  --text-on-accent: #fff;
  --text-selection: #915cb2;
  --text-title-h1: #e7e7e7;
  --text-title-h2: #e7e7e7;
  --text-title-h3: #e7e7e7;
  --text-title-h4: #e7e7e7;
  --text-title-h5: #d8d8d8;
  --text-title-h6: #c7e7c7;
  --titlebar-text-color: #ffffff;
  --titlebar-text-color-focused: #ffffff;
  --vim-cursor: #c76cff;
  color-scheme: dark;
}
