:root[saved-theme="dark"] {
  --button-hover-bg-color: #a271c0;
  --button-hover-text-color: #d8d8d8;
  --button-bg-color: #915cb2;
  --button-text-color: #d8d8d8;
  --background-primary: #2b2b2b;
  --background-primary-alt: #373737;
  --background-secondary: #126127;
  --background-secondary-alt: #134d22;
  --text-normal: #e7e7e7;
  --text-faint: #b6ceb2;
  --text-title-h1: #e7e7e7;
  --text-title-h2: #e7e7e7;
  --text-title-h3: #e7e7e7;
  --text-title-h4: #e7e7e7;
  --text-title-h5: #d8d8d8;
  --text-title-h6: #c7e7c7;
  --text-h1-background: #36ad26;
  --text-h2-background: #269e16;
  --text-h3-background: #221e1f;
  --text-h4-background: #8848b1;
  --text-h5-background: #bc4545;
  --text-highlight-bg: #9400a1;
  --text-link: #83a598;
  --text-a-hover: #83a598;
  --text-accent-hover: #da9fff;
  --titlebar-text-color-focused: #ffffff;
  --titlebar-text-color: #ffffff;
  --status-bar-text-color: #ffffff;
  --icon-color: #9aff9f;
  --icon-color-focused: #dba0ff;
  --icon-color-hover: #e3b7ff;
  --inline-code: #83a598;
  --code-background: #333333;
  --code-block: #83a598;
  --code-size: var(--font-medium);
  --text-a: #c76cff;
  --interactive-accent: #c76cff;
  --text-accent: #c76cff;
  --text-on-accent: #fff;
  --interactive-accent-rgb: #c76cff;
  --vim-cursor: #c76cff;
  --interactive-before: #7c6f64;
  --background-modifier-border: #009200;
  --text-selection: #915cb2;
  --nav-item-color-active: #d8d8d8;
  --nav-item-color-hover: #ffeeee;
  --nav-item-color-selected: #eba2a2;
  --font-monospace: var(--font-code-blocks);
  --font-interface: var(--font-text-normal);
  --font-text: var(--font-text-normal);
  --font-headers: var(--font-text-headers);
  --inline-title-font: var(--font-text-headers);
  --tab-font-weight: bold;
  --nav-item-weight: bold;
}
