body.theme-light {
  --background-code: #e6e6e671;
  --code-normal: var(--tex-normal);
  --code-string: #d1945b;
  --code-string-2: #da904b;
  --code-variable: #3bd4da;
  --code-variable-2: #b74ff3;
  --code-meta: #797979;
  --code-active-line-background-color: #dee1b9a5;
  --code-comment: #6272a4;
  --code-number: #bd93f9;
  --code-def: #50fa7b;
  --code-operator: #8be9fd;
  --code-keyword: #ff79c6;
  --code-atom: #bd93f9;
  --code-tag: #ff79c6;
  --code-attribute: #50fa7b;
  --code-qualifier: #50fa7b;
  --code-property: #66d9ef;
  --code-builtin: #50fa7b;
  --code-variable-3: #dc8e3b;
  --code-type: #ffb86c;
  --code-matchingbracket: #ffffff;
}
