:root:root {
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 245, 152, 143;
  --color-red: #f5988f;
  --color-green-rgb: 165, 230, 147;
  --color-green: #a5e693;
  --color-orange-rgb: 255, 200, 163;
  --color-orange: #ffc8a3;
  --color-yellow-rgb: 240, 227, 149;
  --color-yellow: #f0e395;
  --color-cyan-rgb: 139, 240, 219;
  --color-cyan: #8bf0db;
  --color-blue-rgb: 151, 192, 243;
  --color-blue: #97c0f3;
  --color-purple-rgb: 172, 157, 242;
  --color-purple: #ac9df2;
  --color-pink-rgb: 234, 169, 255;
  --color-pink: #eaa9ff;
  --color-base-00: #1a1a1a;
  --color-base-05: #1a1a1a;
  --color-base-10: #1a1a1a;
  --color-base-15: #1a1a1a;
  --color-base-20: #121212;
  --color-base-25: #121212;
  --color-base-30: #222222;
  --color-base-35: #303030;
  --color-base-40: #505050;
  --color-base-50: #707070;
  --color-base-60: #909090;
  --color-base-70: #a0a0a0;
  --color-base-80: #c0c0c0;
  --color-base-90: #e0e0e0;
  --color-base-100: #ffffff;
  --color-accent-rgb: 165, 230, 147;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 10%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 10%));
  --color-complement-rgb: 234, 169, 255;
  --color-complement-hsl: var(--complement-h), var(--complement-s), var(--complement-l);
  --color-complement: hsl(var(--complement-h), var(--complement-s), var(--complement-l));
  --background-modifier-form-field: var(--interactive-normal);
  --background-secondary-alt: var(--color-base-25);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--color-accent-2);
  --text-complement: var(--color-complement);
  --text-complement-hover: var(--color-complement-2);
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-2);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: rgba(255, 255, 255, 0.2);
  --input-shadow: 0 0 0 0 transparent;
  --input-shadow-hover: 0 0 0 0 transparent;
}
