:root[saved-theme="dark"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 236, 54, 67;
  --color-red: #ec3643;
  --color-orange-rgb: 249, 158, 21;
  --color-orange: #f99e15;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 101, 199, 86;
  --color-green: #65c756;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 8, 132, 255;
  --color-blue: #0884ff;
  --color-purple-rgb: 193, 97, 253;
  --color-purple: #c161fd;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-05: #1e1d1e;
  --color-base-10: #959595;
  --color-base-20: #000000;
  --color-base-25: #1e1e1e;
  --color-base-30: #2f2f2f;
  --color-base-35: #282828;
  --color-base-40: #605852;
  --color-base-50: #2f2f2f;
  --color-base-60: #b8b2b1;
  --color-base-70: #959595;
  --color-base-100: rgb(var(--color-base-100-ref));
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-00);
  --interactive-hover: var(--color-base-05);
  --text-accent: var(--color-accent-1);
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.33);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --color-base-17: #262626;
  --color-base-15: #363636;
  --color-base-51: #6e665f;
  --color-base-80: #464545ff;
  --color-base-90: #414141;
  --color-base-100-ref: 228, 228, 228;
  --color-base-101-ref: 0, 0, 0;
  --color-base-101: rgb(var(--color-base-101-ref));
  --divider-color: var(--color-base-101);
  --divider-color-tabv: #524845;
  --color-base-warn: #ea5a47;
  --color-fakeclose-inner: #fe5f57;
  --color-fakeclose-outer: #df544c;
  --color-red-rgb-light: 50, 32, 34;
  --color-red-rgb-dark: 152, 143, 144;
  --color-orange-rgb-light: 52, 43, 29;
  --color-orange-rgb-dark: 153, 148, 141;
  --color-green-rgb-light: 37, 47, 36;
  --color-green-rgb-dark: 145, 150, 145;
  --color-blue-rgb-light: 28, 40, 52;
  --color-blue-rgb-dark: 140, 148, 154;
  --color-purple-rgb-light: 46, 37, 52;
  --color-purple-rgb-dark: 151, 146, 153;
  --color-neutral: #414141;
  --color-neutral-rgb: 120, 120, 120;
  --color-neutral-rgb-white: 38, 38, 38;
  --color-neutral-rgb-light: 40, 40, 40;
  --color-neutral-rgb-dark: 142, 142, 142;
  --code-normal: var(--color-base-100);
  --code-comment: var(--color-base-60);
  --code-background: #171818;
  --color-base-icons: #95908e;
  --color-scrollbar-1: #959595;
  --color-scrollbar-2: #959595;
  --color-scrollbar-3: #6b6b6b;
  --color-base-highlight: hsl(var(--accent-h), 80%, 55%);
  --color-base-lowlight: hsl(var(--accent-h), 50%, 50%);
  --color-base-verylowlight: hsl(var(--accent-h), 50%, 20%);
  --color-base-darklight: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 40%));
  --link-color: var(--color-base-lowlight);
  --link-color-hover: var(--color-base-100);
  --link-decoration: underline;
  --link-decoration-color: var(--color-base-lowlight);
  --link-decoration-hover: underline;
  --link-decoration-thickness: auto;
  --link-external-color: var(--color-base-100);
  --link-external-color-hover: var(--color-base-100);
  --link-external-decoration-color: #288133;
  --link-external-decoration: underline;
  --link-external-decoration-hover: underline;
  --link-unresolved-color: var(--color-base-warn);
  --link-unresolved-opacity: 0.7;
  --link-unresolved-decoration-style: solid;
  --link-unresolved-decoration-color: hsla(var(--color-base-warn), 0.3);
  --ribbon-background: var(--color-base-17);
  --background-modifier-border: var(--color-base-00);
  --background-modifier-border-hover: var(--color-base-30);
  --background-modifier-border-focus: var(--color-base-highlight);
  --text-highlight-bg: var(--color-base-verylowlight);
}
