:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 236, 54, 67;
  --color-red: #ec3643;
  --color-orange-rgb: 249, 158, 21;
  --color-orange: #f99e15;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-green-rgb: 101, 199, 86;
  --color-green: #65c756;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-blue-rgb: 8, 132, 255;
  --color-blue: #0884ff;
  --color-purple-rgb: 193, 97, 253;
  --color-purple: #c161fd;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-base-00: #ffffff;
  --color-base-05: #fafafa;
  --color-base-10: #ffffff;
  --color-base-20: #ece6e5;
  --color-base-25: #ece6e4;
  --color-base-30: #dfd7d7;
  --color-base-35: #ebe5e5;
  --color-base-40: #dfd9d7;
  --color-base-50: #e0dad8;
  --color-base-60: #b8b2b1;
  --color-base-70: #6e6966;
  --color-base-100: rgb(var(--color-base-100-ref));
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --color-base-15: #f8f2f1;
  --color-base-17: #f0e8e6;
  --color-base-51: #c6c0be;
  --color-base-80: #464545ff;
  --color-base-90: #d5d5d5;
  --color-base-100-ref: 76, 73, 73;
  --color-base-101-ref: 0, 0, 0;
  --color-base-101: rgb(var(--color-base-101-ref));
  --divider-color: #d8d2d2;
  --color-base-warn: #ea5a47;
  --color-fakeclose-inner: #fe5f57;
  --color-fakeclose-outer: #df544c;
  --color-red-rgb-light: 255, 233, 234;
  --color-red-rgb-dark: 94, 0, 7;
  --color-orange-rgb-light: 255, 248, 237;
  --color-orange-rgb-dark: 84, 53, 7;
  --color-green-rgb-light: 235, 255, 232;
  --color-green-rgb-dark:   ;
  --color-blue-rgb-light: 224, 240, 255;
  --color-blue-rgb-dark: 3, 48, 93;
  --color-purple-rgb-light: 249, 239, 254;
  --color-purple-rgb-dark: 58, 28, 77;
  --color-neutral: #414141;
  --color-neutral-rgb: 120, 120, 120;
  --color-neutral-rgb-white: 255, 255, 255;
  --color-neutral-rgb-light: 250, 250, 250;
  --color-neutral-rgb-dark: 67, 67, 67;
  --code-normal: var(--color-base-100);
  --code-comment: var(--color-base-60);
  --code-background: var(--color-base-05);
  --color-scrollbar-1: #c2c2c2;
  --color-scrollbar-2: #b4afae;
  --color-scrollbar-3: #e2e2e2;
  --link-color: var(--color-base-highlight);
  --link-color-hover: var(--color-base-100);
  --link-decoration: underline;
  --link-decoration-color: var(--color-base-highlight);
  --link-decoration-hover: underline;
  --link-decoration-thickness: auto;
  --link-external-color: var(--color-base-100);
  --link-external-color-hover: var(--color-base-100);
  --link-external-decoration-color: #35b649;
  --link-external-decoration: underline;
  --link-external-decoration-hover: underline;
  --link-unresolved-color: var(--color-base-warn);
  --link-unresolved-opacity: 0.7;
  --link-unresolved-decoration-style: solid;
  --link-unresolved-decoration-color: hsla(var(--color-base-warn), 0.3);
  --ribbon-background: var(--color-base-17);
  --background-modifier-border: var(--divider-color);
  --background-modifier-border-hover: var(--divider-color);
  --background-modifier-border-focus: var(--color-base-highlight);
  --interactive-normal: var(--color-base-00);
  --interactive-hover: var(--color-base-05);
  --text-highlight-bg: var(--color-base-verylowlight);
  --color-base-highlight: var(--color-accent);
  --color-base-lowlight: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 20%));
  --color-base-verylowlight: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 28%));
  --color-base-darklight: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 40%));
}
