.w95-reactionary,
.theme-light.w95-reactionary {
  --background-primary: #d4d0c8;
  --background-secondary: #d4d0c8;
  --text-normal: #181612;
  --nav-item-background-active: #3a6ea5;
  --nav-item-color-active: var(--accent-1);
}
