:root:root {
  --color-scheme: dark;
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #bababa;
  --color-base-100: #dadada;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --background-modifier-form-field: var(--color-base-25);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --background-primary: #212337;
  --background-primary-alt: #323449;
  --background-secondary: rgb(29, 33, 40);
  --background-secondary-alt: rgb(44, 46, 57);
  --text-normal: #ebfafa;
  --text-on-accent: #323449;
  --text-title-h1: #37f499;
  --text-title-h2: #04d1f9;
  --text-title-h3: #a48cf2;
  --text-title-h4: #f16c75;
  --text-title-h5: #f1fc79;
  --text-title-h6: #f265b5;
  --canvas-color-1: 255, 85, 85;
  --canvas-color-2: 255, 184, 108;
  --canvas-color-3: 241, 250, 140;
  --canvas-color-4: 82, 250, 124;
  --canvas-color-5: 139, 233, 253;
  --canvas-color-6: 189, 147, 244;
  --text-link: var(--text-accent);
  --markup-code: #f7c67f;
  --text-tag: #37f499;
  --text-a: #f265b5;
  --text-a-hover: #f265b5;
  --text-mark: #f1fc79;
  --interactive-accent: #37f499;
  --blockquote-border: #7081d0;
  --interactive-accent-rgb: #f1fc79;
  --accent-h: 135;
  --accent-s: 94%;
  --accent-l: 65%;
  --code-normal: #ebfafa;
  --code-background: #282a36;
  --eldritch-foreground: #ebfafa;
  --eldritch-Comment: #7081d0;
  --eldritch-keyword: #ff79c6;
  --eldritch-definition: #37f499;
  --eldritch-variable: #ebfafa;
  --eldritch-number: #04d1f9;
  --eldritch-function: #a48cf2;
  --eldritch-string: #f1fc79;
}
