:root[saved-theme="dark"] {
  --background-primary: rgb(53, 56, 67);
  --background-primary-alt: rgb(73, 76, 95);
  --background-secondary: rgb(39, 38, 47);
  --background-secondary-alt: rgb(40, 42, 54);
  --background-modifier-border: rgb(102, 102, 102);
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-error: rgba(255, 0, 0, 0.5);
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: rgba(171, 0, 0, 0.306);
  --background-modifier-cover: rgba(0, 0, 0, 0.68);
  --background-accent: rgb(234, 117, 0);
  --text-accent: rgb(248, 173, 93);
  --text-accent-hover: rgb(139, 233, 253);
  --text-normal: white;
  --text-antinormal: black;
  --text-muted: rgb(255, 255, 255);
  --text-muted2: rgb(255, 255, 255);
  --text-faint: rgb(255, 62, 151);
  --text-highlight-bg: rgba(255, 225, 0, 0.258);
  --text-error: rgba(214, 0, 46, 0.925);
  --text-error-hover: rgba(255, 0, 0, 0.466);
  --text-highlight-bg: rgba(255, 255, 0, 0.699);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-on-accent: rgb(0, 0, 0);
  --interactive-normal: #ffb86c;
  --interactive-hover: rgb(255, 85, 85);
  --interactive-accent: rgb(255, 184, 108);
  --interactive-accent-hover: rgb(255, 85, 85);
  --interactive-success: rgb(25, 115, 0);
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.5);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.22);
  --external-link: rgb(255, 231, 194);
  --pre-code: rgba(255, 255, 255, 0.064);
  --quote-bg: rgba(77, 74, 75, 0.7);
  --font-ui-smaller: 13.5px;
  --font-ui-small: 14px;
  --font-ui-medium: 15px;
  --font-ui-large: 20px;
  --list-indent: 1.9em;
  --file-margins: 8px;
  --fbold: rgb(255, 251, 200);
  --fitalic: rgb(255, 251, 200);
  --bg-green2: rgb(32, 225, 180);
  --bg-blue2: rgb(29, 173, 226);
  --bg-purple2: rgb(180, 37, 252);
  --bg-magenta2: rgb(249, 75, 142);
  --bg-orange2: rgb(255, 145, 18);
  --arrow1: rgba(99, 99, 99, 0.687);
  --tab-text-nofocus: rgba(255, 255, 255, 0.7);
  --bg-green: rgba(32, 225, 180, 0.4);
  --bg-blue: rgba(29, 174, 226, 0.4);
  --bg-purple: rgba(165, 26, 234, 0.4);
  --bg-magenta: rgba(231, 60, 126, 0.45);
  --bg-orange: rgba(255, 132, 0, 0.43);
  --fcolor-header: white;
  --color-pink-list: rgb(255, 192, 227);
  --color-pink-list2: rgb(255, 137, 202);
  --color-pink-list3: rgb(255, 119, 194);
  --red-rgb: 255, 85, 85;
  --orange-rgb: 255, 184, 108;
  --yellow-rgb: 241, 250, 140;
  --green-rgb: 80, 250, 123;
  --cyan-rgb: 139, 233, 253;
  --blue-rgb: 98, 114, 164;
  --purple-rgb: 189, 147, 249;
  --pink-rgb: 255, 121, 198;
  --red: #ff5555;
  --orange: #ffb86c;
  --yellow: #f1fa8c;
  --green: #50fa7b;
  --cyan: #8be9fd;
  --blue: #6495ed;
  --purple: #bd93f9;
  --pink: #ff79c6;
}
