:root[saved-theme="light"] {
  --background-primary: rgb(255, 255, 255);
  --background-primary-alt: rgb(230, 229, 224);
  --background-secondary: rgb(247 245 244);
  --background-secondary-alt: rgb(242, 242, 242);
  --background-modifier-border: rgb(67, 67, 67);
  --background-modifier-form-field: rgba(255, 255, 255, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: rgb(80, 250, 123);
  --background-modifier-error: rgba(255, 0, 0, 0.45);
  --background-modifier-error-rgb: rgb(255, 0, 0);
  --background-modifier-error-hover: rgba(255, 0, 0, 0.616);
  --background-modifier-cover: rgba(0, 0, 0, 0.307);
  --background-accent: rgb(255, 128, 0);
  --text-accent: rgb(235, 118, 0);
  --text-accent-hover: rgb(0, 184, 225);
  --text-normal: rgb(6, 6, 6);
  --text-antinormal: white;
  --text-muted: rgb(0, 0, 0);
  --text-muted2: rgb(123, 123, 123);
  --text-faint: rgb(227, 0, 106);
  --text-highlight-bg: rgba(255, 226, 0, 0.3);
  --text-error: rgb(255, 0, 55);
  --text-error-hover: rgb(232, 0, 0);
  --text-highlight-bg: rgba(117, 0, 0, 0.293);
  --text-highlight-bg-active: rgba(255, 255, 50, 0.4);
  --text-selection: rgba(44, 77, 188, 0.2);
  --text-on-accent: rgb(255, 255, 255);
  --interactive-normal: rgb(240, 128, 0);
  --interactive-hover: rgb(255, 85, 85);
  --interactive-accent: rgb(255, 184, 108);
  --interactive-accent-hover: rgb(255, 85, 85);
  --interactive-success: rgb(25, 115, 0);
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.422);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.287);
  --external-link: rgb(96, 123, 4);
  --pre-code: rgba(0, 0, 0, 0.044);
  --quote-bg: rgba(164, 164, 160, 0.15);
  --font-ui-smaller: 13.5px;
  --font-ui-small: 14px;
  --font-ui-medium: 15px;
  --font-ui-large: 20px;
  --list-indent: 1.9em;
  --file-margins: 4px;
  --fbold: rgb(55, 0, 0);
  --fitalic: rgb(55, 0, 0);
  --bg-green2: rgba(0, 185, 142, 0.905);
  --bg-blue2: rgba(1, 149, 203, 0.847);
  --bg-purple2: rgba(150, 8, 220, 0.8);
  --bg-magenta2: rgba(220, 10, 90, 0.85);
  --bg-orange2: rgba(255, 132, 0, 0.85);
  --arrow1: rgba(211, 211, 211, 0.852);
  --tab-text-nofocus: rgba(0, 0, 0, 0.6);
  --bg-green: rgba(1, 224, 172, 0.5);
  --bg-blue: rgba(9, 168, 225, 0.45);
  --bg-purple: rgba(150, 8, 220, 0.4);
  --bg-magenta: rgba(220, 10, 90, 0.45);
  --bg-orange: rgba(255, 132, 0, 0.5);
  --fcolor-header: rgb(0, 0, 0);
  --color-pink-list: rgb(255, 192, 227);
  --color-pink-list2: rgb(255, 137, 202);
  --color-pink-list3: rgb(255, 119, 194);
  --red-rgb: 255, 85, 85;
  --orange-rgb: 255, 184, 108;
  --yellow-rgb: 241, 250, 140;
  --green-rgb: 80, 250, 123;
  --cyan-rgb: 139, 233, 253;
  --blue-rgb: 98, 114, 164;
  --purple-rgb: 189, 147, 249;
  --pink-rgb: 255, 121, 198;
  --red: #ff5555;
  --orange: #ffb86c;
  --yellow: #f1fa8c;
  --green: #50fa7b;
  --cyan: #8be9fd;
  --blue: #6495ed;
  --purple: #bd93f9;
  --pink: #ff79c6;
}
