@import "fonts";

:root {
  --dark0-raw: 46, 52, 64;
  --dark0: #2e3440;
  --dark1-raw: 59, 66, 82;
  --dark1: #3b4252;
  --dark2-raw: 67, 76, 94;
  --dark2: #434c5e;
  --dark3-raw: 76, 86, 106;
  --dark3: #4c566a;
  --light0-raw: 216, 222, 233;
  --light0: #d8dee9;
  --light1-raw: 229, 233, 240;
  --light1: #e5e9f0;
  --light2-raw: 236, 239, 244;
  --light2: #eceff4;
  --light3-raw: 255, 255, 255;
  --light3: #ffffff;
  --frost0-raw: 143, 188, 187;
  --frost0: #8fbcbb;
  --frost1-raw: 136, 192, 208;
  --frost1: #88c0d0;
  --frost2-raw: 129, 161, 193;
  --frost2: #81a1c1;
  --frost3-raw: 94, 129, 172;
  --frost3: #5e81ac;
  --nordic-darken: 0%;
}

body {
}

:root[saved-theme="dark"] {
  --accent-h: 210;
  --accent-s: 34%;
  --accent-l: 63%;
  --color-red: #bf616a;
  --color-red-rgb: 191, 97, 106;
  --color-orange: #d08770;
  --color-orange-rgb: 208, 135, 112;
  --color-yellow: #ebcb8b;
  --color-yellow-rgb: 235, 203, 139;
  --color-green: #a3be8c;
  --color-green-rgb: 163, 190, 140;
  --color-purple: #b48ead;
  --color-purple-rgb: 180, 142, 173;
  --color-blue: #6199bf;
  --color-blue-rgb: 97, 153, 191;
  --color-red: #bf616a;
  --color-red-rgb: 191, 97, 106;
  --color-orange: #d08770;
  --color-orange-rgb: 208, 135, 112;
  --color-yellow: #ebcb8b;
  --color-yellow-rgb: 235, 203, 139;
  --color-green: #a3be8c;
  --color-green-rgb: 163, 190, 140;
  --color-cyan: #61b1bf;
  --color-cyan-rgb: 97, 177, 191;
  --color-blue: #6199bf;
  --color-blue-rgb: 97, 153, 191;
  --color-purple: #958eb4;
  --color-purple-rgb: 149, 142, 180;
  --color-pink: #b48ead;
  --color-pink-rgb: 180, 142, 173;
  --accent-h: 210;
  --accent-s: 34%;
  --accent-l: 63%;
  --accent-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --text-highlight-bg: var(--accent-color);
  --header-color: var(--accent-color);
  --list-marker-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --inline-title-color: var(--accent-color);
  --inline-title-font: var(--header-font);
  --tab-radius: 0;
  --tab-radius-active: 0;
  --tab-outline-width: 2px;
  --tab-curve: 0;
  --tab-outline-color: var(--accent-color);
  --tab-text-color-focused-active-current: var(--frost2);
  --bold-weight: 700;
  --header-font: "Norwester";
  --font-text-theme: "Avenir";
  --h1-color: var(--header-color);
  --h2-color: var(--header-color);
  --h3-color: var(--header-color);
  --h4-color: var(--header-color);
  --h5-color: var(--header-color);
  --h6-color: var(--header-color);
  --h1-size: var(--font-text);
  --h2-size: var(--font-text);
  --h3-size: var(--font-text);
  --h4-size: var(--font-text);
  --h5-size: var(--font-text);
  --h6-size: var(--font-text);
  --h1-font: var(--header-font);
  --h2-font: var(--header-font);
  --h3-font: var(--header-font);
  --h4-font: var(--header-font);
  --h5-font: var(--header-font);
  --h6-font: var(--header-font);
  --nord-color-base-00: #2e3440;
  --nord-color-base-05: #2e3440;
  --nord-color-base-10: #3b4252;
  --nord-color-base-20: #3b4252;
  --nord-color-base-25: #434c5e;
  --nord-color-base-30: #434c5e;
  --nord-color-base-35: #4c566a;
  --nord-color-base-40: #4c566a;
  --nord-color-base-50: #d8dee9;
  --nord-color-base-60: #d8dee9;
  --nord-color-base-70: #e5e9f0;
  --nord-color-base-100: #eceff4;
  --color-base-00: color-mix(in srgb, var(--nord-color-base-00), #000 var(--nordic-darken));
  --color-base-05: color-mix(in srgb, var(--nord-color-base-05), #000 var(--nordic-darken));
  --color-base-10: color-mix(in srgb, var(--nord-color-base-10), #000 var(--nordic-darken));
  --color-base-20: color-mix(in srgb, var(--nord-color-base-20), #000 var(--nordic-darken));
  --color-base-25: color-mix(in srgb, var(--nord-color-base-25), #000 var(--nordic-darken));
  --color-base-30: color-mix(in srgb, var(--nord-color-base-30), #000 var(--nordic-darken));
  --color-base-35: color-mix(in srgb, var(--nord-color-base-35), #000 var(--nordic-darken));
  --color-base-40: color-mix(in srgb, var(--nord-color-base-40), #000 var(--nordic-darken));
  --color-base-50: var(--nord-color-base-50);
  --color-base-60: var(--nord-color-base-60);
  --color-base-70: var(--nord-color-base-70);
  --color-base-100: var(--nord-color-base-100);
  --text-normal: color-mix(in srgb, var(--accent-color), #fff 65%);
  --text-muted: color-mix(in srgb, var(--accent-color), #fff 40%);
  --color-red: #bf616a;
  --color-red-rgb: 191, 97, 106;
  --color-orange: #d08770;
  --color-orange-rgb: 208, 135, 112;
  --color-yellow: #ebcb8b;
  --color-yellow-rgb: 235, 203, 139;
  --color-green: #a3be8c;
  --color-green-rgb: 163, 190, 140;
  --color-cyan: #61b1bf;
  --color-cyan-rgb: 97, 177, 191;
  --color-blue: #6199bf;
  --color-blue-rgb: 97, 153, 191;
  --color-purple: #958eb4;
  --color-purple-rgb: 149, 142, 180;
  --color-pink: #b48ead;
  --color-pink-rgb: 180, 142, 173;
  --accent-h: 210;
  --accent-s: 34%;
  --accent-l: 63%;
  --nord-color-base-00: #2e3440;
  --nord-color-base-05: #2e3440;
  --nord-color-base-10: #3b4252;
  --nord-color-base-20: #2e3440;
  --nord-color-base-25: #2e3440;
  --nord-color-base-30: #434c5e;
  --nord-color-base-35: #4c566a;
  --nord-color-base-40: #4c566a;
  --nord-color-base-50: #d8dee9;
  --nord-color-base-60: #d8dee9;
  --nord-color-base-70: #e5e9f0;
  --nord-color-base-100: #eceff4;
  --table-header-font: var(--header-font);
  --table-border-width: 1px;
  --table-column-alt-background: transparent;
  --table-header-border-color: rgba(var(--mono-rgb-0), 50%);
  --table-border-color: rgba(var(--mono-rgb-0), 50%);
  --table-header-background: rgba(var(--mono-rgb-0), 25%);
  --table-background: rgba(var(--mono-rgb-100), 5%);
  --table-row-alt-background: rgba(var(--mono-rgb-0), 5%);
  --table-header-background-hover: rgba(var(--mono-rgb-100), 10%);
  --table-row-background-hover: rgba(var(--mono-rgb-100), 10%);
  --table-row-alt-background-hover: rgba(var(--mono-rgb-100), 10%);
  --h1-color: rgb(var(--callout-color));
  --h2-color: rgb(var(--callout-color));
  --h3-color: rgb(var(--callout-color));
  --h4-color: rgb(var(--callout-color));
  --h5-color: rgb(var(--callout-color));
  --h6-color: rgb(var(--callout-color));
  --statblock-property-name-font-color: var(--frost3);
  --statblock-section-heading-font-color: var(--frost3);
  --statblock-heading-font-color: var(--dark0);
  --statblock-heading-font-color: var(--dark1);
  --statblock-primary-color: var(--light1);
  --statblock-rule-color: var(--frost3);
  --statblock-background-color: rgba(var(--mono-rgb-0), 0.2);
  --statblock-bar-color: var(--frost3);
  --statblock-image-border-color: var(--statblock-primary-color);
  --statblock-border-color: var(--dark1);
  --statblock-box-shadow-color: rgba(var(--mono-rgb-0), 0.4);
  --statblock-font-color: var(--statblock-primary-color);
  --statblock-heading-font-color: var(--frost3);
  --statblock-property-font-color: var(--statblock-font-color);
  --statblock-section-heading-border-color: var(--statblock-primary-color);
  --h1-color: var(--color-red);
  --h2-color: var(--color-orange);
  --h3-color: var(--color-yellow);
  --h4-color: var(--color-green);
  --h5-color: var(--color-cyan);
  --h6-color: var(--color-blue);
}

:root[saved-theme="light"] {
  --accent-h: 210;
  --accent-s: 34%;
  --accent-l: 63%;
  --color-red: #bf616a;
  --color-red-rgb: 191, 97, 106;
  --color-orange: #d08770;
  --color-orange-rgb: 208, 135, 112;
  --color-yellow: #ebcb8b;
  --color-yellow-rgb: 235, 203, 139;
  --color-green: #a3be8c;
  --color-green-rgb: 163, 190, 140;
  --color-purple: #b48ead;
  --color-purple-rgb: 180, 142, 173;
  --color-blue: #6199bf;
  --color-blue-rgb: 97, 153, 191;
  --color-red: #bf616a;
  --color-red-rgb: 191, 97, 106;
  --color-orange: #d08770;
  --color-orange-rgb: 208, 135, 112;
  --color-yellow: #ebcb8b;
  --color-yellow-rgb: 235, 203, 139;
  --color-green: #a3be8c;
  --color-green-rgb: 163, 190, 140;
  --color-cyan: #61b1bf;
  --color-cyan-rgb: 97, 177, 191;
  --color-blue: #6199bf;
  --color-blue-rgb: 97, 153, 191;
  --color-purple: #958eb4;
  --color-purple-rgb: 149, 142, 180;
  --color-pink: #b48ead;
  --color-pink-rgb: 180, 142, 173;
  --accent-h: 210;
  --accent-s: 34%;
  --accent-l: 63%;
  --accent-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --text-highlight-bg: var(--accent-color);
  --header-color: var(--accent-color);
  --list-marker-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --inline-title-color: var(--accent-color);
  --inline-title-font: var(--header-font);
  --tab-radius: 0;
  --tab-radius-active: 0;
  --tab-outline-width: 2px;
  --tab-curve: 0;
  --tab-outline-color: var(--accent-color);
  --tab-text-color-focused-active-current: var(--frost2);
  --bold-weight: 700;
  --header-font: "Norwester";
  --font-text-theme: "Avenir";
  --h1-color: var(--header-color);
  --h2-color: var(--header-color);
  --h3-color: var(--header-color);
  --h4-color: var(--header-color);
  --h5-color: var(--header-color);
  --h6-color: var(--header-color);
  --h1-size: var(--font-text);
  --h2-size: var(--font-text);
  --h3-size: var(--font-text);
  --h4-size: var(--font-text);
  --h5-size: var(--font-text);
  --h6-size: var(--font-text);
  --h1-font: var(--header-font);
  --h2-font: var(--header-font);
  --h3-font: var(--header-font);
  --h4-font: var(--header-font);
  --h5-font: var(--header-font);
  --h6-font: var(--header-font);
  --nord-color-base-00: white;
  --nord-color-base-05: white;
  --nord-color-base-10: #eceff4;
  --nord-color-base-20: #eceff4;
  --nord-color-base-25: #e5e9f0;
  --nord-color-base-30: #e5e9f0;
  --nord-color-base-35: #d8dee9;
  --nord-color-base-40: #d8dee9;
  --nord-color-base-50: #4c566a;
  --nord-color-base-60: #434c5e;
  --nord-color-base-70: #3b4252;
  --nord-color-base-100: #2e3440;
  --color-base-00: var(--nord-color-base-00);
  --color-base-05: var(--nord-color-base-05);
  --color-base-10: var(--nord-color-base-10);
  --color-base-20: var(--nord-color-base-20);
  --color-base-25: var(--nord-color-base-25);
  --color-base-30: var(--nord-color-base-30);
  --color-base-35: var(--nord-color-base-35);
  --color-base-40: var(--nord-color-base-40);
  --color-base-50: var(--nord-color-base-50);
  --color-base-60: var(--nord-color-base-60);
  --color-base-70: var(--nord-color-base-70);
  --color-base-100: var(--nord-color-base-100);
  --text-normal: color-mix(in srgb, var(--accent-color), #000 45%);
  --text-muted: color-mix(in srgb, var(--accent-color), #000 20%);
  --color-red: #bf616a;
  --color-red-rgb: 191, 97, 106;
  --color-orange: #d08770;
  --color-orange-rgb: 208, 135, 112;
  --color-yellow: #ebcb8b;
  --color-yellow-rgb: 235, 203, 139;
  --color-green: #a3be8c;
  --color-green-rgb: 163, 190, 140;
  --color-cyan: #61b1bf;
  --color-cyan-rgb: 97, 177, 191;
  --color-blue: #6199bf;
  --color-blue-rgb: 97, 153, 191;
  --color-purple: #958eb4;
  --color-purple-rgb: 149, 142, 180;
  --color-pink: #b48ead;
  --color-pink-rgb: 180, 142, 173;
  --accent-h: 210;
  --accent-s: 34%;
  --accent-l: 63%;
  --nord-color-base-00: white;
  --nord-color-base-05: white;
  --nord-color-base-10: #eceff4;
  --nord-color-base-20: white;
  --nord-color-base-25: white;
  --nord-color-base-30: #d8dee9;
  --nord-color-base-35: #d8dee9;
  --nord-color-base-40: #d8dee9;
  --nord-color-base-50: #4c566a;
  --nord-color-base-60: #434c5e;
  --nord-color-base-70: #3b4252;
  --nord-color-base-100: #2e3440;
  --table-header-font: var(--header-font);
  --table-border-width: 1px;
  --table-column-alt-background: transparent;
  --table-header-border-color: rgba(var(--mono-rgb-100), 50%);
  --table-border-color: rgba(var(--mono-rgb-100), 50%);
  --table-header-background: rgba(var(--mono-rgb-100), 25%);
  --table-background: rgba(var(--mono-rgb-0), 5%);
  --table-row-alt-background: rgba(var(--mono-rgb-100), 5%);
  --table-header-background-hover: rgba(var(--mono-rgb-0), 10%);
  --table-row-background-hover: rgba(var(--mono-rgb-0), 10%);
  --table-row-alt-background-hover: rgba(var(--mono-rgb-0), 10%);
  --h1-color: rgb(var(--callout-color));
  --h2-color: rgb(var(--callout-color));
  --h3-color: rgb(var(--callout-color));
  --h4-color: rgb(var(--callout-color));
  --h5-color: rgb(var(--callout-color));
  --h6-color: rgb(var(--callout-color));
  --statblock-property-name-font-color: var(--frost3);
  --statblock-section-heading-font-color: var(--frost3);
  --statblock-heading-font-color: var(--dark0);
  --statblock-heading-font-color: var(--dark1);
  --statblock-primary-color: var(--frost2);
  --statblock-rule-color: var(--frost3);
  --statblock-background-color: rgba(var(--mono-rgb-100), 0.05);
  --statblock-bar-color: var(--frost3);
  --statblock-image-border-color: var(--statblock-primary-color);
  --statblock-border-color: var(--light2);
  --statblock-box-shadow-color: var(--light2);
  --statblock-font-color: var(--statblock-primary-color);
  --statblock-heading-font-color: var(--frost3);
  --statblock-property-font-color: var(--statblock-font-color);
  --statblock-section-heading-border-color: var(--statblock-primary-color);
  --h1-color: var(--color-red);
  --h2-color: var(--color-orange);
  --h3-color: var(--color-yellow);
  --h4-color: var(--color-green);
  --h5-color: var(--color-cyan);
  --h6-color: var(--color-blue);
}
