body.mu-laser-active.mu-laser-type-line
  div.workspace-split:not(.mod-right-split, .mod-left-split)
  .view-content::after {
  content: "";
  top: var(--mu-laser-top);
  left: 10px;
  right: 20px;
  position: absolute;
  z-index: 2000;
  width: auto;
  height: 2px;
  box-shadow:
    0 0 8px 2px var(--mu-laser-color-glow),
    0 0 calc(var(--mu-laser-intensity) * 22px) 2px var(--mu-laser-color-glow);
  background-color: var(--mu-laser-color-bg);
  border-radius: 24px;
  transform: scaleY(var(--mu-laser-intensity));
  opacity: 0.8;
  pointer-events: none;
}
