bod.theme-light:is(.shib-card-layout)
  :is(
    .nav-files-container,
    .file-tree-plugin-view,
    [data-type='search'],
    [data-type='starred'],
    [data-type='recent-files']
  )::before {
  opacity: var(--panel-page-opacity);
  border-radius: var(--shib-card-radius, var(--radius-xl));
}

bod.theme-light:not(.shib-card-layout)
  :is(
    .nav-files-container,
    .file-tree-plugin-view,
    [data-type='search'],
    [data-type='starred'],
    [data-type='recent-files']
  )::before {
  opacity: var(--panel-page-opacity);
}

bod.panel-page-bg-theme-light-space.theme-light {
  --panel-page-background-url-theme: url('https://i.pinimg.com/originals/52/e5/6f/52e56fb927b170294ccc035f02c6477d.jpg');
}

bod.panel-page-bg-theme-light-paradise.theme-light {
  --panel-page-background-url-theme: url('https://www.enjpg.com/img/2020/summer-aesthetic-wallpaper-iphone-15.jpg');
}

bod.panel-page-bg-theme-light-custom.theme-light {
  --panel-page-background-url-theme: var(
    --background-panel-page-theme-light-custom
  );
}
