body:not(.no-fta) {
  .oz-folders-action-items,
  .oz-flex-container {
    background-color: var(--text-selection);
    border-radius: 8px;
    margin: 5px 20px;
    border: transparent;
    --oz-fta-header-icon-colors: var(--text-normal);
  }
  .oz-folder-element {
    line-height: 1.7em;
    border-radius: 5px;
  }
  .oz-nav-file-title {
    --oz-fta-file-font-size: 0.85em;
    color: var(--text-normal);
  }
  .oz-nav-file {
    border-radius: 5px;
    padding: 0px 7px;
  }
  .oz-nav-file-icon {
    color: var(--pine);
    margin-right: 8px;
  }
}
