.fas-candy {
  --color-space: lab;
  --color-base-00: #f7e5ef;
  --color-base-100: #6b3c63;
  --middle-color: hsl(315, 70%, 40%);
  --middle-color-complement: #1fad42;
  --color-gray: #545454;
  --color-gray-rgb: 84, 84, 84;
  --color-brown: #771c1e;
  --color-brown-rgb: 119, 28, 30;
  --color-red: #bb2a43;
  --color-red-rgb: 187, 42, 67;
  --color-orange: #c65b19;
  --color-orange-rgb: 198, 91, 25;
  --color-yellow: #d99e27;
  --color-yellow-rgb: 217, 158, 39;
  --color-green: #2c5424;
  --color-green-rgb: 44, 84, 36;
  --color-cyan: #4c7e97;
  --color-cyan-rgb: 76, 126, 151;
  --color-blue: #4d2c9b;
  --color-blue-rgb: 77, 44, 155;
  --color-purple: #781883;
  --color-purple-rgb: 120, 24, 131;
  --color-pink: #d719a7;
  --color-pink-rgb: 215, 25, 167;
}
.fas-candy {
  --color-rainbow-1: #af443d;
  --color-rainbow-1-rgb: 175, 68, 61;
  --color-rainbow-2: #af833d;
  --color-rainbow-2-rgb: 175, 131, 61;
  --color-rainbow-3: #7a8e3d;
  --color-rainbow-3-rgb: 122, 142, 61;
  --color-rainbow-4: #458e47;
  --color-rainbow-4-rgb: 69, 142, 71;
  --color-rainbow-5: #458e86;
  --color-rainbow-5-rgb: 69, 142, 134;
  --color-rainbow-6: #456ea7;
  --color-rainbow-6-rgb: 69, 110, 167;
  --color-rainbow-7: #452ea7;
  --color-rainbow-7-rgb: 69, 46, 167;
  --color-rainbow-8: #7a24a7;
  --color-rainbow-8-rgb: 122, 36, 167;
  --color-rainbow-9: #af249c;
  --color-rainbow-9-rgb: 175, 36, 156;
  --color-rainbow-10: #af245d;
  --color-rainbow-10-rgb: 175, 36, 93;
}
