.fas-art-deco {
  --color-space: srgb-linear;
  --color-base-00: #d8d7cb;
  --color-base-100: #060a24;
  --middle-color: hsl(226.6666666667, 70%, 40%);
  --middle-color-complement: #ad8e1f;
  --color-gray: #545454;
  --color-gray-rgb: 84, 84, 84;
  --color-brown: #562326;
  --color-brown-rgb: 86, 35, 38;
  --color-red: #9a314b;
  --color-red-rgb: 154, 49, 75;
  --color-orange: #a56321;
  --color-orange-rgb: 165, 99, 33;
  --color-yellow: #988a2a;
  --color-yellow-rgb: 152, 138, 42;
  --color-green: #0b5c2c;
  --color-green-rgb: 11, 92, 44;
  --color-cyan: #2a839b;
  --color-cyan-rgb: 42, 131, 155;
  --color-blue: #2c33a4;
  --color-blue-rgb: 44, 51, 164;
  --color-purple: #57208b;
  --color-purple-rgb: 87, 32, 139;
  --color-pink: #912b8f;
  --color-pink-rgb: 145, 43, 143;
}
.fas-art-deco {
  --color-rainbow-1: #8e4b45;
  --color-rainbow-1-rgb: 142, 75, 69;
  --color-rainbow-2: #8e8b45;
  --color-rainbow-2-rgb: 142, 139, 69;
  --color-rainbow-3: #599545;
  --color-rainbow-3-rgb: 89, 149, 69;
  --color-rainbow-4: #24954f;
  --color-rainbow-4-rgb: 36, 149, 79;
  --color-rainbow-5: #24958f;
  --color-rainbow-5-rgb: 36, 149, 143;
  --color-rainbow-6: #2475af;
  --color-rainbow-6-rgb: 36, 117, 175;
  --color-rainbow-7: #2436af;
  --color-rainbow-7-rgb: 36, 54, 175;
  --color-rainbow-8: #592baf;
  --color-rainbow-8-rgb: 89, 43, 175;
  --color-rainbow-9: #8e2ba5;
  --color-rainbow-9-rgb: 142, 43, 165;
  --color-rainbow-10: #8e2b65;
  --color-rainbow-10-rgb: 142, 43, 101;
}
