:root[saved-theme="dark"] {
  --L0: 0%;
  --L1: 20%;
  --L2: 23%;
  --L3: 26%;
  --text-rgb: 255, 255, 255;
  --text-highlight-bg: rgb(89, 86, 59);
  --text-selection: hsla(211, 100%, 50%, 0.2);
  --interactive-normal: #2a2a2a;
  --interactive-hover: #303030;
  --text-gray: rgba(255, 255, 255, 0.6);
  --text-brown: rgb(147, 114, 100);
  --text-orange: rgb(255, 163, 68);
  --text-yellow: rgb(255, 220, 73);
  --text-green: rgb(77, 171, 154);
  --text-blue: rgb(82, 156, 202);
  --text-purple: rgb(154, 109, 215);
  --text-pink: rgb(226, 85, 161);
  --text-red: rgb(255, 115, 105);
  --background-gray: rgb(69, 75, 78);
  --background-brown: rgb(67, 64, 64);
  --background-orange: rgb(89, 74, 58);
  --background-yellow: rgb(89, 86, 59);
  --background-green: rgb(53, 76, 75);
  --background-blue: rgb(54, 73, 84);
  --background-purple: rgb(68, 63, 87);
  --background-pink: rgb(83, 59, 76);
  --background-red: rgb(89, 65, 65);

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
