.uw-sand {
  /*PALETTE*/
  --love-rgb: 232, 157, 149;
  --gold-rgb: 246, 173, 119;
  --rose-rgb: 187, 163, 121;
  --pine-rgb: 121, 166, 222;
  --foam-rgb: 195, 230, 148;
  --iris-rgb: 145, 145, 188;
  --base: #151527;
  --surface-rgb: 25, 25, 46;
  --overlay: #212037;
  --muted: #a09a79;
  --subtle: #b8b28e;
  --text: #ced9bf;
  --highlight-low: #1a2230;
  --highlight-med-rgb: 48, 62, 85;
  --highlight-high: #37465f;
  /*override accent color !*/
  --accent-h: 213;
  --accent-s: 60%;
  --accent-l: 67%;
  --color-accent-hsl: 213, 60%, 67%%;
  /*pine*/
}
