:root[saved-theme="dark"] {
  --background-primary: var(--dark0);
  --background-primary-alt: var(--dark0);
  --background-secondary: var(--dark0);
  --background-secondary-alt: var(--dark0);
  --text-normal: var(--light3);
  --text-faint: var(--light1);
  --text-muted: var(--light2);
  --text-accent: var(--primary);
  --text-accent-hover: var(--primary-hover);
  --text-on-accent: var(--white);
  --text-error: var(--error);
  --text-error-hover: var(--error-hover);
  --text-highlight-bg: var(--info);
  --background-modifier-border: var(--dark4);
  --background-modifier-form-field: var(--dark2);
  --background-modifier-form-field-highlighted: var(--dark3);
  --background-modifier-error: var(--error);
  --background-modifier-error-hover: var(--error-hover);
  --background-modifier-success: var(--success);
  --background-modifier-success-hover: var(--success-hover);
  --interactive-success: var(--success);
  --interactive-accent: var(--primary);
  --interactive-accent-hover: var(--primary-hover);
  --text-selection: var(--dark4);
  --pre-code: var(--dark2);
  --inline-code: var(--text-normal);
  --code-block: var(--text-normal);
  --todoList-listItemBackground: $gray-base;
  --todoList-listItemBorderRadius: $border-radius-softer !important;
  --todoList-checkboxBorder: 2px solid $gray-lighter !important;
}
