:root[saved-theme="light"] {
  --background-primary: #171a23;
  --background-primary-alt: rgba(0, 0, 0, 0.08);
  --background-secondary: #13151e;
  --background-secondary-alt: var(--background-secondary);
  --background-accent: rgba(0, 0, 0, 0.08);
  --background-modifier-border: var(--text-faint);
  --background-modifier-form-field: var(--background-primary);
  --background-modifier-form-field-highlighted: var(--background-primary);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: rgba(160, 232, 92, 0.08);
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #fec154;
  --text-accent-hover: var(--text-faint);
  --text-normal: #d1cec6;
  --text-muted: #686e80;
  --text-faint: #686e80;
  --text-error: #800000;
  --text-error-hover: #990000;
  --text-highlight-bg: var(--text-selection);
  --text-selection: rgba(49, 54, 70, 0.5);
  --text-on-accent: var(--text-normal);
  --interactive-normal: var(--background-primary);
  --interactive-hover: rgba(0, 0, 0, 0.05);
  --interactive-accent: var(--tag-bg);
  --interactive-accent-rgb: 72, 54, 153;
  --interactive-accent-hover: var(--text-selection);
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.1);
  --scrollbar-bg: rgba(0, 0, 0, 0);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.08);
  --graph-note-name: var(--text-normal);
  --graph-node-color: var(--tag-bg);
  --graph-line-color: var(--border-color);
  --graph-line-on-hover: var(--tag-bg);
  --hashtag-color: #6875aa;
  --border-color: #282c3c;
  --blockquote-border: var(--text-accent);
  --pre-code-bg: #13141b;
  --code-block: var(--text-muted);
  --file-name-color: var(--text-accent);
  --inline-code: var(--text-muted);
  --interfa-color-icon: var(--interface-color-border);
  --interface-color-action: var(--text-normal);
  --interface-color-background-alt: var(--background-primary);
  --interface-color-border: rgba(250, 250, 250, 0.045);
  --interface-color-foreground-alt: var(--text-accent);
  --interface-color-pin: var(--text-normal);
  --quick-switcher: var(--text-selection);
  --text-title-h1: #8e98aa;
  --text-title-h2: var(--text-title-h1);
  --text-title-h3: var(--text-title-h1);
  --text-title-h4: var(--text-title-h1);
  --text-title-h5: var(--text-title-h1);
  --text-title-h6: var(--text-title-h1);
  --ul-line-color: #777;
  --link-text: var(--text-accent);
  --link-bg: rgba(63, 69, 91, 1);
  --link-text-hover: var(--text-accent);
  --link-bg-hover: #2b3147;
  --hashtag-color: #6875aa;
  --tag-text-color: #eaebeb;
  --tag-bg: rgba(63, 69, 91, 1);
  --tag-text-hover: #eaebeb;
  --tag-bg-hover: #2b3147;
  --interface-color-cross: #fc3b44;
  --interface-color-pencil: #fec03e;
  --interface-color-three-dots: #a0e85b;
  --interface-color-background: #415358;
  --interface-color-foreground: #3e3e3e;
  --font-size-footnote: 22px;
  --font-size-h1: 1.9em;
  --font-size-h2: 1.6em;
  --font-size-h3: 1.3em;
  --font-size-h4: 1.2em;
  --font-size-h5: 1.1em;
  --font-size-h6: 1em;
  --header-before-size-h1: 0.5em;
  --header-before-size-h2: 0.5em;
  --header-before-size-h3: 0.5em;
  --header-before-size-h4: 0.5em;
  --header-before-size-h5: 0.5em;
  --header-before-size-h6: 0.5em;
  --text-title-font-weight: 600;
  --line-height-footnote: 1.2em;
  --ul-line-specs: 0.9px solid;
  --vim-cursor: #474949;
  --header-before-color: rgba(93, 99, 121, 1);
  --blockquote-bg: var(--background-primary);
  --bracket-color: var(--header-before-color);
  --checkbox-color: var(--tag-bg);
  --checkbox-enabled: var(--file-name-color);
  --active-title-border: var(--interactive-accent);
  --hr-color: hsl(0, 0%, 39%);
}
