:root,
body {
  /* Common styles for headers */
  .HyperMD-header-1,
  .markdown-preview-view h1,
  .HyperMD-header-2,
  .markdown-preview-view h2,
  .HyperMD-header-3,
  .markdown-preview-view h3,
  .HyperMD-header-4,
  .markdown-preview-view h4,
  .HyperMD-header-5,
  .markdown-preview-view h5 {
    margin-left: -8px !important;
  }
  /* Styles for h1 */
  .HyperMD-header-1,
  .markdown-preview-view h1 {
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, var(--h1-gradient)) 1/0 0 5px;
    margin-left: -20px;
  }
  /* Common styles for all headers */
  .HyperMD-header-2::before,
  .HyperMD-header-3::before,
  .HyperMD-header-4::before,
  .HyperMD-header-5::before,
  .markdown-preview-view h2::before,
  .markdown-preview-view h3::before,
  .markdown-preview-view h4::before,
  .markdown-preview-view h5::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
  }
  /* Styles for h2 */
  .HyperMD-header-2,
  .markdown-preview-view h2 {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, var(--h2-gradient)) 1/0px 0 3px;
    margin-left: -15px;
    &::before {
      width: 0.8em;
      height: 0.8em;
      margin-right: 9px;
      position: relative;
      bottom: 2px;
      background-color: var(--h2-icon-color);
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z'/%3E%3C/svg%3E),      mask-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z'/%3E%3C/svg%3E");
    }
  }
  /* Styles for h3 */
  .HyperMD-header-3,
  .markdown-preview-view h3 {
    &::before {
      width: 1em;
      height: 1em;
      margin-right: -4px;
      background-color: var(--h3-h6-icon-color);
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 512'%3E%3Cpath d='M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z'/%3E%3C/svg%3E),      mask-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 512'%3E%3Cpath d='M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z'/%3E%3C/svg%3E");
    }
  }
  /* Styles for h4 */
  .HyperMD-header-4,
  .markdown-preview-view h4 {
    &::before {
      width: 0.7em;
      height: 0.7em;
      margin-left: 6px;
      margin-right: 6px;
      background-color: var(--h3-h6-icon-color);
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E),      mask-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
    }
  }
  /* Styles for h5 */
  .HyperMD-header-5,
  .markdown-preview-view h5 {
    &::before {
      width: 0.5em;
      height: 0.5em;
      margin-left: 12px;
      margin-right: 6px;
      background-color: var(--h3-h6-icon-color);
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M478.21 334.093L336 256l142.21-78.093c11.795-6.477 15.961-21.384 9.232-33.037l-19.48-33.741c-6.728-11.653-21.72-15.499-33.227-8.523L296 186.718l3.475-162.204C299.763 11.061 288.937 0 275.48 0h-38.96c-13.456 0-24.283 11.061-23.994 24.514L216 186.718 77.265 102.607c-11.506-6.976-26.499-3.13-33.227 8.523l-19.48 33.741c-6.728 11.653-2.562 26.56 9.233 33.037L176 256 33.79 334.093c-11.795 6.477-15.961 21.384-9.232 33.037l19.48 33.741c6.728 11.653 21.721 15.499 33.227 8.523L216 325.282l-3.475 162.204C212.237 500.939 223.064 512 236.52 512h38.961c13.456 0 24.283-11.061 23.995-24.514L296 325.282l138.735 84.111c11.506 6.976 26.499 3.13 33.227-8.523l19.48-33.741c6.728-11.653 2.563-26.559-9.232-33.036z'/%3E%3C/svg%3E),      mask-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M478.21 334.093L336 256l142.21-78.093c11.795-6.477 15.961-21.384 9.232-33.037l-19.48-33.741c-6.728-11.653-21.72-15.499-33.227-8.523L296 186.718l3.475-162.204C299.763 11.061 288.937 0 275.48 0h-38.96c-13.456 0-24.283 11.061-23.994 24.514L216 186.718 77.265 102.607c-11.506-6.976-26.499-3.13-33.227 8.523l-19.48 33.741c-6.728 11.653-2.562 26.56 9.233 33.037L176 256 33.79 334.093c-11.795 6.477-15.961 21.384-9.232 33.037l19.48 33.741c6.728 11.653 21.721 15.499 33.227 8.523L216 325.282l-3.475 162.204C212.237 500.939 223.064 512 236.52 512h38.961c13.456 0 24.283-11.061 23.995-24.514L296 325.282l138.735 84.111c11.506 6.976 26.499 3.13 33.227-8.523l19.48-33.741c6.728-11.653 2.563-26.559-9.232-33.036z'/%3E%3C/svg%3E");
    }
  }
  /* Styles for h6 */
  .HyperMD-header-6,
  .markdown-preview-view h6 {
    &::before {
      content: "-";
      font-weight: 900;
      margin-left: 12px;
      margin-right: 6px;
      font-size: 1em;
      color: var(--h3-h6-icon-color);
    }
  }
}
