:root[saved-theme="dark"] {
  --background-primary: hsl(220, 2%, 15%);
  --background-primary-alt: hsl(220, 2%, 13%);
  --background-secondary: hsl(220, 2%, 13%);
  --background-secondary-alt: hsl(220, 2%, 15%);
  --background-table-rows: hsl(220, 2%, 13%);
  --background-modifier-cover: rgba(0, 0, 0, 0.3);
  --color-red-rgb: 243, 139, 168;
  --color-red: #f38ba8;
  --color-orange-rgb: 250, 179, 135;
  --color-orange: #fab387;
  --color-yellow-rgb: 249, 226, 175;
  --color-yellow: #f9e2af;
  --color-green-rgb: 166, 227, 161;
  --color-green: #a6e3a1;
  --color-cyan-rgb: 148, 226, 213;
  --color-cyan: #94e2d5;
  --color-blue-rgb: 116, 199, 236;
  --color-blue: #74c7ec;
  --color-purple-rgb: 169, 180, 250;
  --color-purple: #a9b4fa;
  --color-pink-rgb: 245, 194, 231;
  --color-pink: #f5c2e7;
  --divider-color: rgba(255, 255, 255, 0.05) !important;
  --italic-color: rgb(137, 143, 157);
  --bold-color: rgb(227, 223, 161);
  --modal-background: var(--background-secondary) !important;
  --modal-border-color: rgba(255, 255, 255, 0.1);
  --input-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0.5px 0 0 rgba(255, 255, 255, 0.1) inset !important;
  --interactive-normal: var(--color-base-35);
  --slider-thumb-border-color: var(--color-base-35);
  --nav-item-color: var(--text-muted);
  --nav-item-color-hover: var(--text-muted);
  --nav-item-color-active: var(--text-muted);
  --nav-item-color-selected: var(--text-muted);
  --nav-indentation-guide-color: rgba(var(--mono-rgb-100), 0.08);
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042),
    0px 15px 30px rgba(0, 0, 0, 0.07);
  --shadow-l: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
