body {
  &[data-slug] {
    background-color: var(--background-primary);
  }

  figure[data-rehype-pretty-code-figure] pre,
  pre {
    box-shadow:
      -24px 24px 69px -3px #8a5cf533,
      24px -24px 69px -3px hsla(438, 88%, 66%, 0.13) !important;
  }

  h1 {
    --gradient-header:
      var(--chalk-grey), var(--chalk-grey-accent), var(--h1-gradient-accent);
  }

  h2 {
    --gradient-header:
      var(--chalk-grey), var(--chalk-grey-accent), var(--h2-gradient-accent);
  }

  h3 {
    --gradient-header:
      var(--chalk-grey), var(--chalk-grey-accent), var(--h3-gradient-accent);
  }

  h4 {
    --gradient-header:
      var(--chalk-grey), var(--chalk-grey-accent), var(--h4-gradient-accent);
  }

  h5 {
    --gradient-header:
      var(--chalk-grey), var(--chalk-grey-accent), var(--h5-gradient-accent);
  }

  h6 {
    --gradient-header:
      var(--chalk-grey), var(--chalk-grey-accent), var(--h6-gradient-accent);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    background: linear-gradient(to right, var(--gradient-header));
    background-image: linear-gradient(to right, var(--gradient-header));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;

    code {
      -webkit-text-fill-color: var(--color-accent);
      -webkit-background-clip: unset;
    }
  }

  .article-title {
    width: fit-content;
  }

  .page > #quartz-body .sidebar {
    &.left,
    &.left:has(div.explorer),
    &.right {
      background-color: transparent;
    }
  }

  @media all and ($mobile) {
    .page
      > #quartz-body
      .sidebar.left:has(div.explorer)
      :not(.folder-container, a[data-for]) {
      &:before,
      &:after {
        background-color: transparent;
      }
    }
  }
}

:root,
html {
  .callout {
    background: var(--border)
      linear-gradient(135deg, var(--border), var(--background-primary));
    background-color: rgba(var(--callout-color), 0.1);

    &.is-collapsed .callout-content > :first-child {
      margin-top: -2rem;
    }
  }

  .callout-title {
    color: var(--color);
    background: var(--background-primary);
  }
}

:root:root {
  --background-primary: #f3f3f3;
  --chalk-grey: #686868;
  --chalk-grey-accent: #636363;
  --h1-gradient-accent: #bec4ff;
  --h2-gradient-accent: #9ac0ff;
  --h3-gradient-accent: #b999e8;
  --h4-gradient-accent: #f088ca;
  --h5-gradient-accent: #8e91eb;
  --h6-gradient-accent: #e990eb;

  .callout {
    background: linear-gradient(
      135deg,
      rgba(var(--callout-color), 0.05),
      var(--background-primary)
    );
    background-color: rgba(var(--callout-color), 0.1);
  }
}

:root:root[saved-theme="dark"] {
  --background-primary: #000;
  --chalk-grey: #ddd;
  --chalk-grey-accent: #cbcbcb;
  --h1-gradient-accent: #5968fb;
  --h2-gradient-accent: #3372ca;
  --h3-gradient-accent: #6f33ca;
  --h4-gradient-accent: #ca3393;
  --h5-gradient-accent: #262cda;
  --h6-gradient-accent: #f21bf6;
}
