.theme-rose-pine {
  --base-c: 93%;
  --accent-h: 3 !important;
  --accent-s: 53% !important;
  --accent-l: 67% !important;
  --text-base: 25%;
  --color-muted: #797593;
  --color-red: #b4637a;
  --color-pink: #d7827e;
  --color-orange: #ea9d34;
  --color-yellow: #eacc34;
  --color-green: #719756;
  --color-cyan: #56949f;
  --color-blue: #286983;
  --color-purple: rgb(144, 122, 169);
  --color-muted-rgb: 121, 117, 147;
  --color-red-rgb: 180, 99, 122;
  --color-pink-rgb: 215, 130, 126;
  --color-orange-rgb: 234, 157, 52;
  --color-yellow-rgb: 230, 180, 50;
  --color-green-rgb: 113, 151, 86;
  --color-cyan-rgb: 86, 148, 159;
  --color-blue-rgb: 40, 105, 131;
  --color-purple-rgb: 144, 122, 169;
}

.low-contrast-light.theme-rose-pine {
  --base-c: 96%;
}

.colorful-headings-s {
  --h1-color: var(--color-red);
  --h2-color: var(--color-purple);
  --h3-color: var(--color-cyan);
  --h4-color: var(--color-green);
  --h5-color: var(--color-orange);
  --h6-color: var(--color-pink);
}
