body:not(.heading-indicator-off) .markdown-preview-view .heading-collapse-indicator {
  transform: translateX(-16px);
}

body:not(.heading-indicator-off)
  .is-live-preview
  .HyperMD-header
  .collapse-indicator.collapse-icon {
  transform: translateX(-8px);
}

body:not(.heading-indicator-off) .markdown-rendered > :is(h1, h2, h3, h4, h5, h6),
body:not(.heading-indicator-off) .markdown-preview-sizer > div > :is(h1, h2, h3, h4, h5, h6) {
  text-indent: 9px;
}

body:not(.heading-indicator-off) :is(h1, h2, h3, h4, h5, h6) {
  text-indent: 9px;
}

body:not(.heading-indicator-off) .is-live-preview .HyperMD-header-1::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.2em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h1-accent-color);
  transform: translateY(4px);
}

body:not(.heading-indicator-off) .markdown-rendered > h1::before,
body:not(.heading-indicator-off) .markdown-preview-sizer > div > h1::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.2em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h1-accent-color);
  position: absolute;
  top: 4px;
  left: 0px;
}

body:not(.heading-indicator-off) h1::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.2em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h1-accent-color);
  position: absolute;
  top: 4px;
  left: 0px;
}

body:not(.heading-indicator-off) .is-live-preview .HyperMD-header-2::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.2em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h2-accent-color);
  transform: translateY(4px);
}

body:not(.heading-indicator-off) .markdown-rendered > h2::before,
body:not(.heading-indicator-off) .markdown-preview-sizer > div > h2::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.2em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h2-accent-color);
  position: absolute;
  top: 4px;
  left: 0px;
}

body:not(.heading-indicator-off) h2::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.2em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h2-accent-color);
  position: absolute;
  top: 4px;
  left: 0px;
}

body:not(.heading-indicator-off) .is-live-preview .HyperMD-header-3::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.3em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h3-accent-color);
  transform: translateY(4px);
}

body:not(.heading-indicator-off) .markdown-rendered > h3::before,
body:not(.heading-indicator-off) .markdown-preview-sizer > div > h3::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.3em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h3-accent-color);
  position: absolute;
  top: 4px;
  left: 0px;
}

body:not(.heading-indicator-off) h3::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.2em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h3-accent-color);
  position: absolute;
  top: 4px;
  left: 0px;
}

body:not(.heading-indicator-off) .is-live-preview .HyperMD-header-4::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.4em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h4-accent-color);
  transform: translateY(4px);
}

body:not(.heading-indicator-off) .markdown-rendered > h4::before,
body:not(.heading-indicator-off) .markdown-preview-sizer > div > h4::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.4em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h4-accent-color);
  position: absolute;
  top: 4px;
  left: 0px;
}

body:not(.heading-indicator-off) h4::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.2em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h4-accent-color);
  position: absolute;
  top: 4px;
  left: 0px;
}

body:not(.heading-indicator-off) .is-live-preview .HyperMD-header-5::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.5em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h5-accent-color);
  transform: translateY(4px);
}

body:not(.heading-indicator-off) .markdown-rendered > h5::before,
body:not(.heading-indicator-off) .markdown-preview-sizer > div > h5::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.5em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h5-accent-color);
  position: absolute;
  top: 4px;
  left: 0px;
}

body:not(.heading-indicator-off) h5::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.2em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h5-accent-color);
  position: absolute;
  top: 4px;
  left: 0px;
}

body:not(.heading-indicator-off) .is-live-preview .HyperMD-header-6::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.5em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h6-accent-color);
  transform: translateY(4px);
}

body:not(.heading-indicator-off) .markdown-rendered > h6::before,
body:not(.heading-indicator-off) .markdown-preview-sizer > div > h6::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.5em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h6-accent-color);
  position: absolute;
  top: 4px;
  left: 0px;
}

body:not(.heading-indicator-off) h6::before {
  margin-right: 6px;
  content: " ";
  display: inline-block;
  width: 3px;
  height: calc(1.2em - 8px);
  border-radius: var(--radius-m);
  background-color: var(--h6-accent-color);
  position: absolute;
  top: 4px;
  left: 0px;
}
