.is-mobile.fas-custom-dark,
.fas-custom-dark {
  --color-base-00: var(--custom-color-base-00);
  --color-base-100: var(--custom-color-base-100);
  --color-space: var(--custom-color-space);
}

.is-mobile.fas-custom-dark,
.fas-custom-dark {
  --color-rainbow-1: hsl(0, 100%, 84%);
  --color-rainbow-1-rgb: 255, 173, 173;
  --color-rainbow-2: hsl(33, 100%, 82%);
  --color-rainbow-2-rgb: 255, 214, 163;
  --color-rainbow-3: hsl(62, 100%, 86%);
  --color-rainbow-3-rgb: 253, 255, 184;
  --color-rainbow-4: hsl(110, 100%, 87%);
  --color-rainbow-4-rgb: 200, 255, 189;
  --color-rainbow-5: hsl(193, 100%, 79%);
  --color-rainbow-5-rgb: 148, 232, 255;
  --color-rainbow-6: hsl(217, 100%, 81%);
  --color-rainbow-6-rgb: 158, 195, 255;
  --color-rainbow-7: hsl(249, 100%, 85%);
  --color-rainbow-7-rgb: 190, 179, 255;
  --color-rainbow-8: hsl(270, 100%, 87%);
  --color-rainbow-8-rgb: 222, 189, 255;
  --color-rainbow-9: hsl(300, 100%, 89%);
  --color-rainbow-9-rgb: 255, 199, 255;
  --color-rainbow-10: hsl(324, 100%, 83%);
  --color-rainbow-10-rgb: 255, 168, 220;
}

body:not(.fas-custom-dark)
  .style-settings-container
  [data-id='custom-color-base-00']
  .theme-dark,
body:not(.fas-custom-dark)
  .style-settings-container
  [data-id='custom-color-base-100']
  .theme-dark,
body:not(.fas-custom-light):not(.fas-custom-dark)
  .style-settings-container
  [data-id='custom-color-base-00']
  .setting-item-info,
body:not(.fas-custom-light):not(.fas-custom-dark)
  .style-settings-container
  [data-id='custom-color-base-100']
  .setting-item-info,
body:not(.fas-custom-light):not(.fas-custom-dark)
  .style-settings-container
  [data-id='custom-color-space'] {
  opacity: 0.5;
  pointer-events: none;
}
