:root[saved-theme="dark"] {
  --accent-h: 181;
  --accent-l: 41%;
  --accent-s: 80%;
  --background: #0d1a1a;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-2: var(--secondary);
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-base-00: var(--background);
  --color-base-05: var(--surface);
  --color-base-10: var(--surface-variant);
  --color-base-100: var(--on-background);
  --color-base-20: var(--surface);
  --color-base-25: var(--surface-variant);
  --color-base-30: var(--surface-variant);
  --color-base-35: var(--surface-variant);
  --color-base-40: var(--surface-variant);
  --color-base-50: var(--outline);
  --color-base-60: var(--secondary);
  --color-base-70: var(--on-surface-variant);
  --color-blue: #027aff;
  --color-blue-rgb: 2, 122, 255;
  --color-cyan: #53dfdd;
  --color-cyan-rgb: 83, 223, 221;
  --color-green: #44cf6e;
  --color-green-rgb: 68, 207, 110;
  --color-orange: #e9973f;
  --color-orange-rgb: 233, 151, 63;
  --color-pink: #fa99cd;
  --color-pink-rgb: 250, 153, 205;
  --color-purple: #a882ff;
  --color-purple-rgb: 168, 130, 255;
  --color-red: #fb464c;
  --color-red-rgb: 251, 70, 76;
  --color-yellow: #e0de71;
  --color-yellow-rgb: 224, 222, 113;
  --error: #ffb4ab;
  --error-container: #93000a;
  --highlight-mix-blend-mode: darken;
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --interactive-hover: var(--color-base-35);
  --interactive-normal: var(--color-base-30);
  --lower-accent: var(--secondary-container);
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --on-background: #e0e3e2;
  --on-error: #690005;
  --on-error-container: #ffdad6;
  --on-lower-accent: vaR(--on-secondary-container);
  --on-primary: #e2f0f0;
  --on-primary-container: #b4dcdd;
  --on-secondary: #034747;
  --on-secondary-container: #cce8e8;
  --on-surface: #e0e3e2;
  --on-surface-variant: #bec8c8;
  --on-tertiary: #1d314c;
  --on-tertiary-container: #d4e3ff;
  --on-upper-accent: var(--secondary);
  --outline: #899392;
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --primary: hsl(181, 80%, 41%);
  --primary-container: #2f8a8b;
  --primary-lighter: hsl(var(--accent-h), calc(var(--accent-s) - 2%), calc(var(--accent-l) + 5%));
  --secondary: #b0cccc;
  --secondary-container: #156f73;
  --shadow-bottom: 0 10px 10px -10px rgba(0, 0, 0, 0.19), 0 6px 6px -6px rgba(0, 0, 0, 0.23);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-m: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-s: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --surface: #192e2e;
  --surface-variant: #2f3f3f;
  --tertiary: #b4c8e9;
  --tertiary-container: #354863;
  --text-accent: var(--color-accent-1);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.33);
  --upper-accent: var(--on-secondary);
  color-scheme: dark;
}
