:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 233, 49, 71;
  --color-red: #e93147;
  --color-orange-rgb: 236, 117, 0;
  --color-orange: #ec7500;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-green-rgb: 8, 185, 78;
  --color-green: #08b94e;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-blue-rgb: 8, 109, 221;
  --color-blue: #086ddd;
  --color-purple-rgb: 120, 82, 238;
  --color-purple: #7852ee;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-base-00: var(--background);
  --color-base-05: var(--surface);
  --color-base-10: var(--surface-variant);
  --color-base-20: var(--surface);
  --color-base-25: var(--surface-variant);
  --color-base-30: var(--surface-variant);
  --color-base-35: var(--surface-variant);
  --color-base-40: var(--surface-variant);
  --color-base-50: var(--outline);
  --color-base-60: var(--secondary);
  --color-base-70: var(--on-surface-variant);
  --color-base-100: var(--on-background);
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-2: var(--secondary);
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --shadow-s: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --accent-h: 181;
  --accent-s: 100%;
  --accent-l: 21%;
  --primary: #00696b;
  --on-primary: #ffffff;
  --primary-container: #5fb9bb;
  --on-primary-container: #002021;
  --upper-accent: var(--primary);
  --on-upper-accent: var(--on-primary);
  --on-lower-accent: var(--on-primary);
  --lower-accent: var(--primary-lighter);
  --primary-lighter: hsl(var(--accent-h), calc(var(--accent-s) - 14%), calc(var(--accent-l) + 7%));
  --secondary: #4a6363;
  --on-secondary: #ffffff;
  --secondary-container: #cce8e8;
  --on-secondary-container: #041f20;
  --tertiary: #4c5f7c;
  --on-tertiary: #ffffff;
  --tertiary-container: #d4e3ff;
  --on-tertiary-container: #061c36;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #410002;
  --background: #fdfcfa;
  --on-background: #191c1c;
  --surface: #eef5f3;
  --on-surface: #191c1c;
  --outline: #6f7979;
  --surface-variant: #dbe8e8;
  --on-surface-variant: #3f4949;
  --shadow-bottom: 0 10px 10px -10px rgba(0, 0, 0, 0.19), 0 6px 6px -6px rgba(0, 0, 0, 0.23);
  --shadow-m: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
