:root[saved-theme="dark"] {
  --primary: #cabeff;
  --primary-r: 202;
  --primary-g: 190;
  --primary-b: 255;
  --on-primary: #30128d;
  --primary-container: #4731a4;
  --on-primary-container: #e7deff;
  --secondary: #c9c3dc;
  --on-secondary: #312e41;
  --secondary-container: #484459;
  --on-secondary-container: #e6dff9;
  --tertiary: #edb8cd;
  --onTertiary: #482535;
  --tertiary-container: #623b4c;
  --on-tertiary-container: #ffd9e8;
  --error: #9c2b2b;
  --errorContainer: #930006;
  --onError: #680003;
  --onErrorContainer: #ffdad4;
  --background: #1c1b1e;
  --on-background: #e5e1e5;
  --surface: #1c1b1e;
  --surface-r: 28;
  --surface-g: 27;
  --surface-b: 30;
  --on-surface: #e5e1e5;
  --surface-variant: #48454f;
  --on-surface-variant: #c9c4d0;
  --outline: #938f99;
  --inverse-on-surface: #1c1b1e;
  --inverse-surface: #e5e1e5;
  --primaryInverse: #5f4bbd;
  --on-primary: var(--on-primary);
  --primary-container: var(--primary-container);
  --on-primary-container: var(--on-primary-container);
  --on-secondary: var(--on-secondary);
  --secondary-container: var(--secondary-container);
  --on-secondary-container: var(--on-secondary-container);
  --on-tertiary: var(--onTertiary);
  --tertiary-container: var(--tertiary-container);
  --on-tertiary-container: var(--on-tertiary-container);
  --error-container: var(--errorContainer);
  --on-error: var(--onError);
  --on-error-container: var(--onErrorContainer);
  --on-background: var(--on-background);
  --on-surface: var(--on-surface);
  --surface-variant: var(--surface-variant);
  --on-surface-variant: var(--on-surface-variant);
  --inverse-on-surface: var(--inverse-on-surface);
  --inverse-surface: var(--inverse-surface);
  --primary-inverse: var(--primaryInverse);
  --focus: var(--surface4);
  --hover: var(--surface2);
  --background-primary: var(--background);
  --background-primary-alt: var(--surface1);
  --background-secondary: var(--surface-variant);
  --background-secondary-alt: var(--surface3);
  --background-modifier-border: var(--surface);
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #197300;
  --background-modifier-error: var(--error);
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: var(--primary-container);
  --text-accent-hover: var(--primary-container);
  --text-normal: var(--on-background);
  --text-muted: var(--on-surface-variant);
  --text-muted-rgb: 153, 153, 153;
  --text-error: #cf6679;
  --text-error-hover: #990000;
  --text-highlight-bg: var(--surface-variant);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(23, 48, 77, 0.99);
  --interactive-normal: var(--surface-variant);
  --interactive-hover: var(--surface-variant);
  --interactive-accent: var(--primary);
  --interactive-accent-rgb: var(--primary);
  --interactive-accent-hover: var(--primary);
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --highlight-mix-blend-mode: lighten;
  --text-on-accent: var(--background);
  --on-accent: var(--background);
  --hr-color: var(--surface-variant);

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
