:root[saved-theme="dark"],
html[saved-theme="dark"] {
  color-scheme: dark;

  .callout {
    --callout-blend-mode: lighten;
  }

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }

  --background-modifier-box-shadow: #0000004d;
  --background-modifier-cover: #000000cc;

  --background-modifier-form-field: #0000004d;
  --background-modifier-form-field-highlighted: #00000038;

  --color-blue-rgb: 2, 122, 255;

  --color-cyan-rgb: 83, 223, 221;

  --color-green-rgb: 68, 207, 110;

  --color-orange-rgb: 233, 151, 63;

  --color-pink-rgb: 250, 153, 205;

  --color-purple-rgb: 168, 130, 255;

  --color-red-rgb: 251, 70, 76;

  --color-yellow-rgb: 224, 222, 113;

  --error-container: #930006;

  --highlight-mix-blend-mode: lighten;

  --input-shadow:
    inset 0 0.5px 0.5px 0.5px #ffffff17, 0 2px 4px 0 #00000026,
    0 1px 1.5px 0 #0000001a, 0 1px 2px 0 #00000033, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px #ffffff29, 0 2px 3px 0 #0000004d,
    0 1px 1.5px 0 #00000033, 0 1px 2px 0 #00000066, 0 0 0 0 transparent;

  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;

  --on-error: #680003;
  --on-error-container: #ffdad4;

  --on-tertiary: #482535;

  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;

  --primary-b: 255;

  --primary-g: 190;
  --primary-inverse: #5f4bbd;
  --primary-r: 202;

  --scrollbar-active-thumb-bg: #ffffff33;
  --scrollbar-bg: #ffffff0d;
  --scrollbar-thumb-bg: #ffffff1a;

  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #0000001f, 0px 3.4px 6.7px #0000002e, 0px 15px 30px #0000004d;
  --surface: #1c1b1e;
  --surface-b: 30;
  --surface-g: 27;
  --surface-r: 28;

  --text-highlight-bg-active: #ff800066;

  --text-muted-rgb: 153, 153, 153;

  --text-selection: #17304dfc;

  --background-modifier-box-shadow: #0000004d;
  --background-modifier-cover: #000000cc;

  --background-modifier-form-field: #0000004d;
  --background-modifier-form-field-highlighted: #00000038;

  --color-blue-rgb: 2, 122, 255;

  --color-cyan-rgb: 83, 223, 221;

  --color-green-rgb: 68, 207, 110;

  --color-orange-rgb: 233, 151, 63;

  --color-pink-rgb: 250, 153, 205;

  --color-purple-rgb: 168, 130, 255;

  --color-red-rgb: 251, 70, 76;

  --color-yellow-rgb: 224, 222, 113;

  --error-container: #930006;

  --highlight-mix-blend-mode: lighten;

  --input-shadow:
    inset 0 0.5px 0.5px 0.5px #ffffff17, 0 2px 4px 0 #00000026,
    0 1px 1.5px 0 #0000001a, 0 1px 2px 0 #00000033, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px #ffffff29, 0 2px 3px 0 #0000004d,
    0 1px 1.5px 0 #00000033, 0 1px 2px 0 #00000066, 0 0 0 0 transparent;

  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;

  --on-error: #680003;
  --on-error-container: #ffdad4;

  --on-tertiary: #482535;

  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;

  --primary-b: 255;

  --primary-g: 190;
  --primary-inverse: #5f4bbd;
  --primary-r: 202;

  --scrollbar-active-thumb-bg: #ffffff33;
  --scrollbar-bg: #ffffff0d;
  --scrollbar-thumb-bg: #ffffff1a;

  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #0000001f, 0px 3.4px 6.7px #0000002e, 0px 15px 30px #0000004d;
  --surface: #1c1b1e;
  --surface-b: 30;
  --surface-g: 27;
  --surface-r: 28;

  --text-highlight-bg-active: #ff800066;

  --text-muted-rgb: 153, 153, 153;

  --text-selection: #17304dfc;
}
