:root[saved-theme="light"] {
  --primary: #5f4bbd;
  --primary-r: 95;
  --primary-g: 75;
  --primary-b: 189;
  --on-primary: #ffffff;
  --primary-container: #e7deff;
  --on-primary-container: #1a0064;
  --secondary: #605c71;
  --on-secondary: #ffffff;
  --secondary-container: #e6dff9;
  --on-secondary-container: #1c192c;
  --tertiary: #7c5264;
  --onTertiary: #ffffff;
  --tertiary-container: #ffd9e8;
  --on-tertiary-container: #301020;
  --error: #ba1b1b;
  --errorContainer: #ffdad4;
  --onError: #ffffff;
  --onErrorContainer: #410001;
  --background: #fffbff;
  --on-background: #1c1b1e;
  --surface: #fffbff;
  --surface-r: 255;
  --surface-g: 251;
  --surface-b: 255;
  --surface: #fffbff;
  --on-surface: #1c1b1e;
  --surface-variant: #e5e0eb;
  --on-surface-variant: #48454f;
  --outline: #79767f;
  --inverse-on-surface: #f4eff4;
  --inverse-surface: #313033;
  --primaryInverse: #cabeff;
  --background-primary: var(--background);
  --background-primary-alt: var(--surface1);
  --background-secondary: var(--surface-variant);
  --background-secondary-alt: var(--surface3);
  --background-modifier-border: #fff;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: var(--error);
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #b00020;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: var(--primary-container);
  --text-accent-hover: var(--primary-container);
  --text-normal: var(--on-background);
  --text-muted: var(--on-surface-variant);
  --text-muted-rgb: 136, 136, 136;
  --text-faint: var(--on-surface-variant);
  --text-error: #800000;
  --text-error-hover: #990000;
  --text-highlight-bg: var(--surface-variant);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(204, 230, 255, 0.99);
  --interactive-normal: var(--surface-variant);
  --interactive-hover: var(--surface-variant);
  --interactive-accent: var(--primary);
  --interactive-accent-rgb: var(--primary);
  --interactive-accent-hover: var(--primary);
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --highlight-mix-blend-mode: darken;
  --focus: var(--surface4);
  --hover: var(--surface2);
  --text-on-accent: var(--text-muted);
  --on-accent: var(--text-muted);
  --hr-color: var(--surface-variant);

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
