:root[saved-theme="light"] {
  --color-red-rgb: var(--red_x);
  --color-red: var(--red);
  --color-purple-rgb: var(--purple_x);
  --color-purple: var(--purple);
  --color-green-rgb: var(--green_x);
  --color-green: var(--green);
  --color-cyan-rgb: var(--frost1_x);
  --color-cyan: var(--frost1);
  --color-blue-rgb: var(--frost3_x);
  --color-blue: var(--frost3);
  --color-yellow-rgb: var(--yellow_x);
  --color-yellow: var(--yellow);
  --color-orange-rgb: var(--orange_x);
  --color-orange: var(--orange);
  --background-primary: var(--light3);
  --background-primary-alt: var(--light3);
  --background-secondary: var(--light2);
  --background-secondary-alt: var(--light1);
  --background-modifier-border: var(--light1);
  --cursor-line-background: rgba(var(--red_x), 0.1);
  --text-normal: var(--dark2);
  --text-faint: var(--dark0);
  --text-muted: var(--dark1);
  --link-url: var(--purple);
  --h1-color: var(--red);
  --h2-color: var(--yellow);
  --h3-color: var(--green);
  --h4-color: var(--purple);
  --h5-color: var(--frost0);
  --h6-color: var(--frost2);
  --text-highlight-bg: var(--yellow);
  --text-highlight-fg: var(--dark0);
  --text-accent: var(--orange);
  --text-accent-hover: var(--frost2);
  --tag-color: var(--dark3);
  --tag-background: var(--light1);
  --tag-background-hover: var(--light0);
  --titlebar-text-color-focused: var(--red);
  --inline-title-color: var(--yellow);
  --bold-color: var(--green);
  --italic-color: var(--green);
  --checkbox-color: var(--frost2);
  --checkbox-color-hover: var(--frost2);
  --checkbox-border-color: var(--frost2);
  --checkbox-border-color-hover: var(--frost2);
  --checklist-done-color: rgba(var(--dark2_x), 0.4);
  --table-header-background: rgba(var(--light2_x), 0.2);
  --table-header-background-hover: var(--frost2);
  --table-row-even-background: rgba(var(--light2_x), 0.4);
  --table-row-odd-background: rgba(var(--light2_x), 0.8);
  --table-row-background-hover: var(--frost2);
  --text-selection: rgba(var(--red_x), 0.6);
  --flashing-background: rgba(var(--red_x), 0.3);
  --code-normal: var(--frost1);
  --code-background: var(--light2);
  --mermaid-note: var(--frost0);
  --mermaid-loopline: var(--frost1);
  --mermaid-exclude: var(--light0);
  --mermaid-seqnum: var(--light0);
  --icon-color-hover: var(--red);
  --icon-color-focused: var(--frost3);
  --nav-item-color-hover: var(--red);
  --nav-item-color-active: var(--frost2);
  --nav-file-tag: rgba(var(--orange_x), 0.9);
  --graph-line: var(--light0);
  --graph-node: var(--dark3);
  --graph-node-tag: var(--red);
  --graph-node-attachment: var(--green);
  --calendar-hover: var(--red);
  --calendar-background-hover: var(--light0);
  --calendar-week: var(--orange);
  --calendar-today: var(--orange);
  --dataview-key: var(--text-faint);
  --dataview-key-background: rgba(var(--frost2_x), 0.3);
  --dataview-value: var(--text-faint);
  --dataview-value-background: rgba(var(--red_x), 0.3);
  --tab-text-color-focused-active: var(--frost2);
  --tab-text-color-focused-active-current: var(--red);

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
