:is(.HyperMD-list-line, li)
  .internal-embed.is-loaded.markdown-embed:not([alt*='.excalidraw']):has(
    .markdown-preview-section > div > ul
  ) {
  margin: 0 0 0 calc(var(--list-embed-margin) + var(--list-embed-adj));
  padding: 0;
  border: none;
  top: 0;
}
:is(.HyperMD-list-line, li)
  .internal-embed.is-loaded.markdown-embed
  ul:first-of-type {
  margin-block: 0;
}
:is(.HyperMD-list-line, li)
  .internal-embed.is-loaded.markdown-embed
  .markdown-embed-title {
  display: none;
}
:is(.HyperMD-list-line, li)
  .internal-embed.is-loaded.markdown-embed:not([alt*='.excalidraw']) {
  width: calc(100% - 1px);
}
.HyperMD-list-line .markdown-embed .markdown-preview-view {
  padding-bottom: 0;
}
:is(.HyperMD-list-line, li):has(.snw-reference)
  .internal-embed.is-loaded.markdown-embed:not([alt*='.excalidraw']):not(
    :has(.markdown-preview-section > div > ul)
  ) {
  width: calc(100% - 25px);
}
:is(.HyperMD-list-line, ul)
  .internal-embed.is-loaded
  .markdown-preview-section
  > div
  > ul
  > li
  > .snw-reference.snw-block-preview {
  display: none;
}
