:root {
  --table-border-radius: 8px;
}

body {
  --radius-s: 10px;
  --radius-m: 10px;
  --radius-l: 10px;
  --input-radius: 10px;
  --tab-radius-active: 10px;
  --checkbox-radius: 10px;
  --toggle-radius: 10px;
  --toggle-thumb-radius: 10px;
  --slider-thumb-radius: 10px;
  --font-text-theme: "Cascadia Mono", Sans-serif;
  --file-line-width: 750px;
}
