:root[saved-theme="light"] {
  --background-primary: var(--accent-color-bg);
  --background-secondary: rgb(255, 255, 255);
  --popover-width: 1050px;
  --popover-height: 1250px;
  --tab-max-width: 35%;
  --callout-border-width: 0.05rem;
  --callout-border-opacity: 0.8 !important;
}
