.Lilac-dark {
  --text: 198, 208, 245;
  --subtext1: 179, 188, 223;
  --subtext0: 161, 168, 201;
  --overlay2: 142, 149, 179;
  --overlay1: 123, 129, 157;
  --overlay0: 105, 109, 134;
  --surface2: 86, 89, 112;
  --surface1: 67, 70, 90;
  --surface0: 49, 50, 68;
  --base: 28, 28, 42;
  --side: 24, 24, 37;
  --exterior: 17, 17, 27;
}

.Lilac-dark {
  --lily: 235, 188, 186;
  --red: 255, 98, 107;
  --rose: 243, 137, 143;
  --violet: 196, 167, 231;
  --blue: 147, 183, 245;
  --sea: 104, 188, 204;
  --cyan: 137, 199, 223;
  --turquoise: 128, 216, 220;
  --green: 56, 198, 141;
  --yellow: 249, 226, 175;
  --lemon: 246, 193, 119;
  --orange: 247, 157, 124;
}
