.theme-light .pathfinder,
.pathfinder,
.theme-light .pathfinder-remaster,
.pathfinder-remaster {
  /*Colors*/
  --outer-bar: #e2ded8;
  --dark-sidebar: #e2ded8;
  --side-bar: #ece9e4;
  --note: #ece9e4;
  --note-rgb: 236, 233, 228;
  --accent-color: 94, 0, 0;
  --accent: #800008;
  --lite-accent: #e58000;
  --dark-accent: var(--accent);
  --deep-dark-accent: #5e0000;
  --accent2: #461413;
  --accent2-lite: #0f5cbc;
  --link-color-hover: #1b9af0;
  --headers: #ca9759;
  --h1-color: var(--headers);
  --h2-color: #002564;
  --h3-color: #5d0000;
  --h4-color: #a76652;
  --h5-color: #393636;
  --text: #393636;
  --soft-text: #5c1c16;
  --code-text: var(--soft-text);
  --i-at: var(--soft-text);
  --footnote: #676767;
  --inactive: #cdab9a;
  --folder: #a22b30;
  --folder-open: var(--headers);
  --file-icon-color: #676767;
  --bg: #d2c4be;
  --embed-bg: #e0dacb;
  --aside-bg: #e0dacb;
  --tag: var(--deep-dark-accent);
  --th: var(--deep-dark-accent);
  --td: #e0dacb99;
  --header-border-line-color: black;
  --table: #00000060;
  --hr: var(--soft-text);
  --lines: #b6a697;
  --outline: rgba(124, 49, 3, 0.4);
  --hr-image-width: contain;
  --graph-lines: var(--embed-bg);
  --graph-node: var(--theme-rainbow-1);
  --graph-tag: var(--theme-rainbow-4);
  --graph-img: var(--theme-rainbow-2);
  --graph-line-hover: var(--lines);
  --graph-node-hover-fill: var(--theme-rainbow-4);
  --theme-rainbow-1: #ca9759;
  --theme-rainbow-2: #3276b5;
  --theme-rainbow-3: #002564;
  --theme-rainbow-4: #5d0000;
  --theme-rainbow-5: #e58000;
  --theme-rainbow-6: #393636;
}
.theme-light .pathfinder-remaster,
.pathfinder-remaster {
  --tab-outline-color: #cdac5a;
  --hvr-active: #002a1750;
  --hvr: #ddc486;
  --highlight: #002a1730;
  --headers: #002a17;
  --h2-color: #4e1b0e;
  --h3-color: #025d4e;
  --h4-color: #000000;
  --dark-accent: #00280a;
  --accent: #025d4e;
  --deep-dark-accent: #260d09;
  --accent2-lite: #15a38b;
  --lite-accent: #188655;
  --code-text: var(--lite-accent);
  --tag-text: var(--lite-accent);
  --folder: #2b5b42;
  --folder-open: #cba137;
  --file-icon-color: #cab47c;
  --th: var(--dark-accent);
  --soft-text: #025d4e;
  --hr: #002915;
  --theme-rainbow-1: var(--headers);
  --theme-rainbow-2: var(--h2-color);
  --theme-rainbow-3: var(--h3-color);
  --theme-rainbow-4: var(--h4-color);
  --hr-image: "https://content.demiplane.com/compendium/pathfinder-2e/gm-core/css/Box-Decoration.png";
}
