:root:root {
  --text: #dee0ed;
  --background-primary: #0c0e18;
  --primary: #a1aace;
  --secondary: #5e3c72;
  --accent: #a462ac;
  --highlight-hue: 30;
  --italic-color: var(--accent);
  --bold-color: var(--accent);
  --h1-color: var(--accent);
  --h2-color: var(--accent);
  --h3-color: var(--accent);
  --h4-color: var(--accent);
  --h5-color: var(--accent);
  --h6-color: var(--accent);

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
