:root:root {
  --text: #dee0ed;
  --background-primary: #0c0e18;
  --primary: #a1aace;
  --secondary: #5e3c72;
  --accent: #a462ac;
  --highlight-hue: 30;
  --italic-color: var(--accent);
  --bold-color: var(--accent);
  --h1-color: var(--accent);
  --h2-color: var(--accent);
  --h3-color: var(--accent);
  --h4-color: var(--accent);
  --h5-color: var(--accent);
  --h6-color: var(--accent);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
