:root[saved-theme="dark"] {
  --bg-sat: 15%;
  --bg-hue: var(--bg-hue-dark);
  --color-accent-hsl: 184, 79%, 45%;
  --color-accent: #18c1cd;
  --interactive-accent: #108189;
  --alt-heading-color: #8c96d9;
  --secondary-accent: #da975d;
  --hover-accent: #ed5aa8;
  --color-base-00: hsl(var(--bg-hue) var(--bg-sat) 12%);
  --color-base-10: hsl(var(--bg-hue) var(--bg-sat) 14%);
  --color-base-20: hsl(var(--bg-hue) var(--bg-sat) 16%);
  --color-base-25: hsl(var(--bg-hue) var(--bg-sat) 18%);
  --color-base-30: hsl(var(--bg-hue) var(--bg-sat) 22%);
  --color-base-35: hsl(var(--bg-hue) var(--bg-sat) 25%);
  --color-base-40: hsl(var(--bg-hue) var(--bg-sat) 33%);
  --color-base-50: hsl(var(--bg-hue) var(--bg-sat) 40%);
  --color-base-60: hsl(var(--bg-hue) var(--bg-sat) 60%);
  --color-base-70: hsl(var(--bg-hue) var(--bg-sat) 73%);
  --color-base-85s: hsl(var(--bg-hue) calc(var(--bg-sat) * 2) 82%);
  --hotkey-color: var(--secondary-accent);
  --bold-color: var(--text-accent-hover);
  --italic-color: var(--text-accent-hover);
  --text-selection: hsl(var(--color-accent-hsl), 20%);
  --text-normal: var(--color-base-85s);
  --active-line-color: var(--color-accent);
  --text-muted: var(--color-base-70);
  --text-gray: var(--color-base-60);
  --text-faint: var(--color-base-50);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--hover-accent);
  --interactive-normal: var(--color-base-00);
  --interactive-hover: var(--color-base-20);
  --interactive-accent-hsl: var(--color-accent-hsl);
  --interactive-accent-hover: var(--hover-accent);
  --tag-color: var(--secondary-accent);
  --tag-color-hover: var(--text-accent-hover);
  --link-color: var(--text-accent);
  --link-color-hover: var(--text-accent-hover);
  --link-external-color: var(--text-accent);
  --link-external-color-hover: var(--text-accent-hover);
  --titlebar-background: var(--bg6);
  --a-row: #0003;
  --b-row: #00000059;
  --highlight-hue-1: 50;
  --vim-cursor-color: #b3b3b3;
  --vim-cursor-bg: #000;
  --vim-cursor-outline: #e6e6e6;
}
