:root[saved-theme="light"] {
  --bg-sat: 25%;
  --bg-hue: var(--bg-hue-light);
  --color-accent-hsl: 184, 79%, 35%;
  --color-accent: #1396a0;
  --interactive-accent: #108189;
  --alt-heading-color: #5460ab;
  --secondary-accent: #c67e3f;
  --hover-accent: #dc388f;
  --link-unresolved-color: #6fb74e;
  --color-base-00: hsl(var(--bg-hue) calc(var(--bg-sat) * 1.5) 99%);
  --color-base-10: hsl(var(--bg-hue) var(--bg-sat) 97%);
  --color-base-20: hsl(var(--bg-hue) var(--bg-sat) 95%);
  --color-base-25: hsl(var(--bg-hue) var(--bg-sat) 92%);
  --color-base-30: hsl(var(--bg-hue) var(--bg-sat) 88%);
  --color-base-35: hsl(var(--bg-hue) var(--bg-sat) 83%);
  --color-base-40: hsl(var(--bg-hue) var(--bg-sat) 74%);
  --color-base-50: hsl(var(--bg-hue) var(--bg-sat) 67%);
  --color-base-60: hsl(var(--bg-hue) var(--bg-sat) 44%);
  --color-base-70: hsl(var(--bg-hue) var(--bg-sat) 35%);
  --color-base-85s: hsl(var(--bg-hue) calc(var(--bg-sat) * 2) 24%);
  --color-base-100: hsl(var(--bg-hue) var(--bg-sat) 13%);
  --hotkey-color: var(--secondary-accent);
  --bold-color: var(--text-accent-hover);
  --italic-color: var(--text-accent-hover);
  --text-selection: hsl(var(--color-accent-hsl), 20%);
  --text-normal: var(--color-base-85s);
  --active-line-color: var(--color-accent);
  --text-muted: var(--color-base-70);
  --text-gray: var(--color-base-60);
  --text-faint: var(--color-base-50);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--hover-accent);
  --interactive-normal: var(--color-base-00);
  --interactive-hover: var(--color-base-20);
  --interactive-accent-hsl: var(--color-accent-hsl);
  --interactive-accent-hover: var(--hover-accent);
  --tag-color: var(--secondary-accent);
  --tag-color-hover: var(--text-accent-hover);
  --link-color: var(--text-accent);
  --link-color-hover: var(--text-accent-hover);
  --link-external-color: var(--text-accent);
  --link-external-color-hover: var(--text-accent-hover);
  --inline-code-color: var(--secondary-accent);
  --titlebar-background: var(--bg5);
  --titlebar-background-focused: var(--bg4);
  --a-row: #00000008;
  --b-row: #00000014;
  --search-match-color: var(--color-orange);
  --highlight-hue-1: 50;
  --highlight-sla-values: 85% 70%/40%;
  --vim-cursor-color: #e6e6e6;
  --vim-cursor-bg: #404040;
  --vim-cursor-outline: #b0b5bf;
  --vim-cursor-outline-width: 1.3px;
}
