:root[saved-theme="dark"] {
  --background-primary: var(--r-dark0);
  --background-primary-alt: var(--dark0);
  --background-secondary: var(--r-dark1);
  --background-secondary-alt: var(--r-dark2);
  --text-normal: var(--r-standard-text);
  --text-faint: var(--r-scorpion);
  --text-muted: var(--color-base-70);
  --text-platinum: var(--platinum);
  --text-title-h1: var(--r-dark-red);
  --text-title-h2: var(--r-orange);
  --text-title-h3: var(--r-bright-orange);
  --text-title-h4: var(--r-bright-yellow);
  --text-title-h5: var(--r-yellow-green);
  --text-title-h6: var(--r-mist-energy-blue);
  --text-link-hover: var(--text-a-hover);
  --text-a-hover: var(--r-yellow-orange);
  --text-mark: var(--r-bg-highlight);
  --text-highlight-bg: var(--r-bg-highlight);
  --interactive-accent: var(--r-deep-orange);
  --interactive-before: var(--dark4);
  --text-accent: var(--r-bright-orange);
  --text-accent-hover: var(--r-yellow-orange);
  --interactive-accent-rgb: var(--r-bright-orange);
  --code-normal: var(--code-light-gray);
  --vim-cursor: var(--r-bright-orange);
  --text-selection: var(--r-bg-selection);
  --text-tag: var(--r-bright-orange);
  --text-card: var(--r-light2-soft);
  --status-bar-background: var(--background-secondary);
  --interactive-normal: var(--color-base-30);
  --callout-bg-darken-pct: 0%;
  --button-text-color: var(--background-secondary-alt);
  --graph-view-line-color: var(--dark1);
  --h1-size: 2.2em;
  --h2-size: 2em;
  --h3-size: 1.85em;
  --h4-size: 1.6em;
  --h5-size: 1.47em;
  --h6-size: 1.35em;
  --list-indent: 1em;
  --p-spacing: 0.25rem;
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-external-decoration: none;
  --link-external-decoration-hover: none;
  --link-unresolved-decoration: none;
  --link-unresolved-decoration-hover: none;
  --hx-link-ul-transparency-pct: 33%;
  --h1-link-hover-color: color-mix(in srgb, #ff6666 20%, var(--text-title-h1));
  --h2-link-hover-color: color-mix(in srgb, #ff9090 20%, var(--text-title-h2));
  --h3-link-hover-color: color-mix(in srgb, #ffaaaa 20%, var(--text-title-h3));
  --h4-link-hover-color: color-mix(in srgb, #ffd2d2 20%, var(--text-title-h4));
  --h5-link-hover-color: color-mix(in srgb, #ffffff 17%, var(--text-title-h5));
  --h6-link-hover-color: color-mix(in srgb, #ffffff 25%, var(--text-title-h6));
}
