.mini,
.theme-light .mini {
  --background-modifier-form-field-highlighted: #99a4bb30;
  --highlight: #99a4bb50;
  --hvr: #99a4bb50;
  --hvr-active: #99a4bb50;
  --outer-bar: var(--note);
  --dark-sidebar: var(--note);
  --side-bar: var(--note);
  --note: #f8fbff;
  --text-dl: #000000;
  --soft-text: #99a4bb;
  --inactive: #d2daee;
  --accent: #b5c2d8;
  --lite-accent: #aab3ca;
  --dark-accent: #d5ddeb;
  --deep-dark-accent: var(--note);
  --accent2: #d6def3;
  --accent2-lite: var(--text-dl);
  --bg: #eef3ff;
  --aside-bg: var(--note);
  --embed-bg: var(--note);
  --bttn: var(--dark-accent);
  --tag: var(--note);
  --outline: #e1e9f6;
  --th: var(--note);
  --folder: var(--text-dl);
  --headers: var(--text);
  --i-at: var(--soft-text);
  --code-text: var(--text);
  --graph-bg: var(--outer-bar);
  --graph-lines: #e5e9f3;
  --graph-node: var(--text);
  --graph-fill: var(--headers);
  --graph-404: #727e939c;
  --graph-img: #8ec1e9;
  --graph-tag: var(--accent2-lite);
  --graph-focused: #b6c9f1;
  --theme-rainbow-1: var(--bg);
  --theme-rainbow-2: var(--td);
  --theme-rainbow-3: var(--outline);
  --theme-rainbow-4: var(--inactive);
  --theme-rainbow-5: var(--accent);
  --theme-rainbow-6: var(--graph-img);
}
