:root[saved-theme="dark"] {
  --hue: var(--accent-h, 278);
  --saturation: var(--accent-s, 34%);
  --primary-hue: var(--hue);
  --primary-saturation: calc(max(48%, var(--saturation)));
  --secondary-hue: var(--hue);
  --secondary-saturation: 16%;
  --tertiary-hue: calc(var(--hue) + 60);
  --tertiary-saturation: 24%;
  --neutral-hue: var(--hue);
  --neutral-saturation: 4%;
  --neutral-variant-hue: var(--hue);
  --neutral-variant-saturation: 8%;
  --error-hue: 0;
  --error-saturation: 84%;
  --md-ref-palette-error-0: hsl(var(--error-hue) var(--error-saturation) 0%);
  --md-ref-palette-error-4: hsl(var(--error-hue) var(--error-saturation) 4%);
  --md-ref-palette-error-5: hsl(var(--error-hue) var(--error-saturation) 5%);
  --md-ref-palette-error-6: hsl(var(--error-hue) var(--error-saturation) 6%);
  --md-sys-color-primary-fixed: var(--md-ref-palette-primary-90);
  --md-sys-color-on-primary-fixed: var(--md-ref-palette-primary-10);
  --md-sys-color-primary-fixed-dim: var(--md-ref-palette-primary-80);
  --md-sys-color-on-primary-fixed-dim: var(--md-ref-palette-primary-30);
  --md-sys-color-secondary-fixed: var(--md-ref-palette-secondary-90);
  --md-sys-color-on-secondary-fixed: var(--md-ref-palette-secondary-10);
  --md-sys-color-secondary-fixed-dim: var(--md-ref-palette-secondary-80);
  --md-sys-color-on-secondary-fixed-dim: var(--md-ref-palette-secondary-30);
  --md-sys-color-tertiary-fixed: var(--md-ref-palette-tertiary-90);
  --md-sys-color-on-tertiary-fixed: var(--md-ref-palette-tertiary-10);
  --md-sys-color-tertiary-fixed-dim: var(--md-ref-palette-tertiary-80);
  --md-sys-color-on-tertiary-fixed-dim: var(--md-ref-palette-tertiary-30);
  --md-sys-color-primary: var(--md-ref-palette-primary-40);
  --md-sys-color-on-primary: var(--md-ref-palette-primary-100);
  --md-sys-color-primary-container: var(--md-ref-palette-primary-90);
  --md-sys-color-on-primary-container: var(--md-ref-palette-primary-10);
  --md-sys-color-secondary: var(--md-ref-palette-secondary-40);
  --md-sys-color-on-secondary: var(--md-ref-palette-secondary-100);
  --md-sys-color-secondary-container: var(--md-ref-palette-secondary-90);
  --md-sys-color-tertiary: var(--md-ref-palette-tertiary-40);
  --md-sys-color-on-tertiary: var(--md-ref-palette-tertiary-100);
  --md-sys-color-tertiary-container: var(--md-ref-palette-tertiary-90);
  --md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary-10);
  --md-sys-color-error: var(--md-ref-palette-error-40);
  --md-sys-color-on-error: var(--md-ref-palette-error-100);
  --md-sys-color-error-container: var(--md-ref-palette-error-90);
  --md-sys-color-on-error-container: var(--md-ref-palette-error-10);
  --md-sys-color-background: var(--md-ref-palette-neutral-99);
  --md-sys-color-on-background: var(--md-ref-palette-neutral-10);
  --md-sys-color-outline: var(--md-ref-palette-neutral-variant-50);
  --md-sys-color-shadow: var(--md-ref-palette-neutral-0);
  --md-sys-color-scrim: var(--md-ref-palette-neutral-0);
  --md-sys-color-inverse-surface: var(--md-ref-palette-neutral-20);
  --md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral-95);
  --md-sys-color-inverse-primary: var(--md-ref-palette-primary-80);
  --md-sys-color-surface: var(--md-ref-palette-neutral-98);
  --md-sys-color-on-surface: var(--md-ref-palette-neutral-10);
  --md-sys-color-surface-dim: var(--md-ref-palette-neutral-87);
  --md-sys-color-surface-bright: var(--md-ref-palette-neutral-98);
  --md-sys-color-surface-container-low: var(--md-ref-palette-neutral-96);
  --md-sys-color-surface-container: var(--md-ref-palette-neutral-94);
  --md-sys-color-surface-container-high: var(--md-ref-palette-neutral-92);

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
