.color-scheme-catppuccin-latte {
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --text: #4c4f69;
  --subtext1: #5c5f77;
  --subtext0: #6c6f85;
  --overlay2: #7c7f93;
  --overlay1: #8c8fa1;
  --overlay0: #9ca0b0;
  --surface2: #acb0be;
  --surface1: #bcc0cc;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
  --color-red: var(--red);
  --color-orange: var(--peach);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-cyan: var(--teal);
  --color-blue: var(--blue);
  --color-purple: var(--mauve);
  --color-pink: var(--pink);
  --background-primary: var(--base);
  --background-secondary: var(--crust);
  --selection-background-color: var(--crust);
  --border-color-primary: var(--surface0);
  --border-color-secondary: var(--surface1);
  --text-color: var(--text);
  --text-color-accent: white;
  --text-color-muted-dark: var(--surface0);
  --text-color-muted-light: var(--overlay0);
  --accent-color-dark: var(--mauve);
  --accent-color-light: var(--blue);
  --accent-color-hover: var(--maroon);
  --accent-h: 266;
  --accent-s: 85%;
  --accent-l: 58%;
  --canvas-color: 136, 57, 239 !important;
  --code-important: var(--color-yellow);
  --code-boolean: var(--peach);
  --code-builtin: var(--peach);
  --code-comment: var(--overlay0);
  --code-definition: var(--lavender);
  --code-keyword: var(--mauve);
  --code-operator: var(--sky);
  --code-property: var(--lavender);
  --code-parentheses: var(--overlay2);
  --code-string: var(--green);
  --code-value: var(--peach);
  --code-variable: var(--text-color);
}
