.img-center-align
  .print
  :is(.markdown-preview-view, .markdown-rendered)
  img:not([class]),
.img-center-align .markdown-preview-view img:not([class]),
.img-center-align .markdown-source-view img:not([class]) {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.img-center-align
  .print
  :is(.markdown-preview-view, .markdown-rendered)
  img:is([class=''], .image-ready-resize, .image-ready-click-view),
.img-center-align
  .markdown-preview-view
  img:is([class=''], .image-ready-resize, .image-ready-click-view),
.img-center-align
  .markdown-source-view
  img:is([class=''], .image-ready-resize, .image-ready-click-view) {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}
