:root:root {
  --text: #121421;
  --background-primary: #e7e9f3;
  --primary: #313a5e;
  --secondary: #af8dc3;
  --accent: #96539d;
  --highlight-hue: 30;
  --italic-color: var(--accent);
  --bold-color: var(--accent);
  --h1-color: var(--accent);
  --h2-color: var(--accent);
  --h3-color: var(--accent);
  --h4-color: var(--accent);
  --h5-color: var(--accent);
  --h6-color: var(--accent);

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
