:root[saved-theme="light"] {
  --color-red: #bf616a;
  --color-orange: #d08770;
  --color-yellow-light: #ebcb8b;
  --color-yellow-dark: #e4b860;
  --color-green: #a3be8c;
  --color-purple: #b48ead;
  --color-sea-green: #8fbcbb;
  --color-cyan: #88c0d0;
  --color-frost: #81a1c1;
  --color-blue: #5e81ac;
  --color-salmon: #fc6e68;
  --accent-light-hsl-h: 213;
  --accent-light-hsl-s: 32%;
  --accent-light-hsl-l: 53%;
  --accent-dark-hsl-h: 210;
  --accent-dark-hsl-s: 34%;
  --accent-dark-hsl-l: 63%;
  --color-red-rgb: 191, 97, 106;
  --color-orange-rgb: 208, 135, 112;
  --color-yellow-light-rgb: 235, 203, 139;
  --color-yellow-dark-rgb: 228, 184, 96;
  --color-green-rgb: 163, 190, 140;
  --color-purple-rgb: 180, 142, 173;
  --color-sea-green-rgb: 143, 188, 187;
  --color-cyan-rgb: 136, 192, 208;
  --color-frost-rgb: 129, 161, 193;
  --color-blue-rgb: 94, 129, 172;
  --color-salmon-rgb: 252, 110, 104;
  --b0: #2e3440;
  --b1: #3b4252;
  --b2: #434c5e;
  --b3: #4c566a;
  --w0: #d8dee9;
  --w1: #e5e9f0;
  --w2: #eceff4;
  --w3: #f5f7f9;
  --w0-rgb: 216, 222, 233;
  --b3-rgb: 76, 86, 106;
  --text-error: var(--color-salmon);
  --text-accent: var(--color-accent);
  --text-highlight-bg: rgba(180, 142, 173, 0.4);
  --text-highlight-bg-active: rgba(180, 142, 173, 0.4);
  --bold-weight: var(--font-bold);
  --color-yellow: var(--color-yellow-dark);
  --color-yellow-rgb: var(--color-yellow-dark-rgb);
  --accent-h: var(--accent-light-hsl-h);
  --accent-s: var(--accent-light-hsl-s);
  --accent-l: var(--accent-light-hsl-l);
  --background-primary: var(--w3);
  --background-primary-alt: var(--w2);
  --background-secondary: var(--w2);
  --background-secondary-alt: var(--w1);
  --background-modifier-border: var(--w0);
  --color-base-100: var(--b0);
  --color-base-70: var(--b0);
  --color-base-60: var(--b0);
  --color-base-50: var(--b1);
  --color-base-40: var(--w2);
  --color-base-35: var(--w0);
  --color-base-30: var(--w0);
  --color-base-25: var(--b3);
  --color-base-20: var(--w0);
  --color-base-10: var(--w1);
  --color-base-05: var(--w2);
  --color-base-00: var(--w2);

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
