:root[saved-theme="dark"] {
  --background-primary: #171717;
  --background-secondary: #444444;
  --ribbon-background: #171717;
  --nav-item-color: var(--white);
  --nav-item-color-hover: var(--green);
  --nav-item-color-active: var(--green);
  --nav-item-color-selected: var(--green);
  --nav-collapse-icon-color: var(--green);
  --tab-text-color: var(--green);
  --tab-text-color-active: var(--green);
  --tab-text-color-focused-active-current: var(--green);
  --code-normal: var(--coral);
  --code-comment: #a9a9a9;
  --code-function: #556b2f;
  --code-important: #9acd32;
  --code-keyword: #8f9779;
  --code-operator: #696969;
  --code-property: #d3d3d3;
  --code-punctuation: #d3d3d3;
  --code-string: #9acd32;
  --code-tag: #556b2f;
  --code-value: var(--green);
  --h1-color: var(--green);
  --h2-color: var(--purple);
  --h3-color: var(--coral);
  --h4-color: var(--pink);
  --h5-color: var(--yellow);
  --bold-color: var(--yellow);
  --italic-color: var(--yellow);
  --icon-color-active: var(--green);
  --icon-color-focused: var(--green);
  --graph-line: var(--white);
  --graph-node-unresolved: var(--code-function);
  --checkbox-border-color: var(--white);
  --link-color: var(--yellow);
  --link-unresolved-color: var(--code-keyword);
  --link-external-color: var(--yellow);
  --link-color-hover: var(--coral);
  --link-decoration-hover: var(--code-function);
  --text-selection: var(--code-tag);

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
