body.ordered-list-style-1 ol,
body.ordered-list-style-1 ol ol,
body.ordered-list-style-1 ol ol ol,
body.ordered-list-style-1 ol ul ol,
body.ordered-list-style-1 ol ol ol ol,
body.ordered-list-style-1 ol ol ul ol,
body.ordered-list-style-1 ol ul ol ol {
  list-style: none;
}

body.ordered-list-style-1 ol {
  counter-reset: niceBT;
}

body.ordered-list-style-1 ol > li {
  counter-increment: niceBT;
}

body.ordered-list-style-1
  .markdown-rendered.show-indentation-guide
  li
  > ul::before {
  left: -18px;
}

body.ordered-list-style-1
  .markdown-rendered.show-indentation-guide
  li
  > ol::before {
  left: -11px;
}

body.ordered-list-style-1 ol > li::before {
  content: counters(niceBT, ".") ". ";
  font-weight: bold;
  font-family: Inter;
  color: var(--list-ol-number-color);
  display: inline-block;
  white-space: pre;
  margin-left: -0.7em;
}

body.ordered-list-style-1 ul > li:not(.task-list-item) > p {
  display: inline;
}

body.ordered-list-style-1 ul > li:not(.task-list-item) {
  list-style-position: inside;
  padding-left: 0.25em;
}

body.ordered-list-style-1 ol.contains-task-list > li.task-list-item {
  margin-left: -1.2em;
}
