.nord-bright {
  /*PALETTE*/
  --love-rgb: 191, 97, 106;
  /*nord11*/
  --gold-rgb: 208, 135, 112;
  /*nord12*/
  --rose-rgb: 180, 142, 173;
  /*nord15*/
  --pine-rgb: 129, 161, 193;
  /*nord9*/
  --foam-rgb: 136, 192, 208;
  /*nord7*/
  --iris-rgb: 94, 129, 172;
  /*nord10*/
  --base: #e5e9f0;
  /*nord5*/
  --surface-rgb: 236, 239, 244;
  /*nord6*/
  --overlay: #d8dee9;
  /*nord4*/
  --muted: #4c566a;
  /*nord3*/
  --subtle: #4c566a;
  /*nord3*/
  --text: #434c5e;
  /*nord2*/
  --highlight-low: #e5e9f0;
  /*nord5*/
  --highlight-med-rgb: 216, 222, 233;
  /*nord4*/
  --highlight-high: #d8dee9;
  /*nord4*/
  /*override accent color !*/
  --accent-h: 210;
  --accent-s: 34%;
  --accent-l: 63%;
  --color-accent-hsl: 210, 34%, 63%;
  /*nord9*/
}
