bod.theme-dark {
  --grey-50-rgb: 225, 227, 233;
  --grey-100-rgb: 222, 227, 241;
  --grey-200-rgb: 173, 181, 200;
  --grey-300-rgb: 162, 165, 186;
  --grey-350-rgb: 126, 128, 148;
  --grey-400-rgb: 97, 97, 115;
  --grey-500-rgb: 40, 40, 48;
  --grey-600-rgb: 26, 26, 32;
  --grey-700-rgb: 20, 20, 25;
  --grey-800-rgb: 11, 11, 12;
  --grey-850-rgb: 8, 8, 8;
  --grey-875-rgb: 6, 6, 6;
  --grey-900-rgb: 3, 3, 3;
  --workspace-background-translucent: rgba(var(--grey-900-rgb), 0.4);
  --rainbow-gradient: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 222, 0, 1) 15%,
    rgba(167, 255, 0, 1) 26%,
    rgba(0, 255, 136, 1) 39%,
    rgba(15, 245, 254, 1) 55%,
    rgba(111, 0, 255, 1) 80%,
    rgba(253, 45, 45, 1) 100%
  );
}

bod.encore-colors-colorful {
  --bold-color: var(--color-red);
  --italic-color: var(--color-green);
}

bod.theme-dark .mod-root .workspace-tab-container {
  border-radius: var(--tab-radius);
  --shadow-properties: 0 0 50px -25px;
  animation: rgb-shadow 12s linear infinite forwards;
}

bod.theme-dark .modal {
  --shadow-properties: 0 0 50px -15px;
  animation: rgb-shadow 12s linear infinite forwards;
}

bod.theme-dark .prompt::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: red;
  background-image: var(--rainbow-gradient);
  animation: pan-right 5s linear infinite forwards;
  filter: blur(60px);
}

bod.theme-dark .prompt::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: red;
  background-image: var(--rainbow-gradient);
  animation: pan-right 5s linear infinite forwards;
  filter: blur(15px);
}

bod.theme-dark
  .mod-root
  .workspace-tab-header.is-active
  .workspace-tab-header-inner {
  --en-opacity: 0.2;
  background-color: rgba(var(--grey-100-rgb), var(--en-opacity));
}
