[data-task="0"],
[data-task="2"],
[data-task="4"],
[data-task="6"],
[data-task="8"],
[data-task="10"] {
  clear: both;
}
[data-task="1"],
[data-task="3"],
[data-task="5"],
[data-task="7"],
[data-task="9"] {
  border-radius: 15px 2.5px 16px 15px;
  float: right;
  clear: both;
}
