body .workspace-tab-container .workspace-leaf-content {
  position: relative;
}
body .workspace-tab-container .workspace-leaf-content > .view-header {
  position: absolute;
  left: 0;
  right: 0;
  --en-opacity: var(--en-acrylic-opacity);
  background-color: rgba(var(--grey-800-rgb), var(--en-opacity));
  backdrop-filter: var(--en-acrylic);
}
body
  .workspace-tab-container
  .workspace-leaf-content
  > .view-content
  > div
  > div
  > .cm-scroller {
  padding-top: calc(var(--header-height) + 32px);
}
body .workspace-tab-container .workspace-leaf-content > .view-content > iframe {
  padding-top: var(--header-height);
}
body
  .workspace-tab-container
  .workspace-leaf-content
  .markdown-reading-view
  > .markdown-preview-view {
  padding-top: var(--header-height);
}
body .workspace-tab-container .workspace-leaf-content .graph-controls {
  margin-top: var(--header-height);
  background-color: rgba(var(--grey-700-rgb), var(--en-opacity));
  border: none;
  box-shadow: none;
}
body
  .workspace-tab-container
  .workspace-leaf-content
  .canvas-wrapper
  .canvas-controls {
  margin-top: var(--header-height);
}
body
  .workspace-tab-container
  .workspace-leaf-content
  .canvas-wrapper
  .markdown-preview-view {
  padding-top: 0;
}
body
  .workspace-tab-container
  .workspace-leaf-content[data-type='image']
  > .view-content {
  padding-top: var(--header-height);
}
body
  .workspace-tab-container
  .workspace-leaf-content[data-type='style-settings']
  > .view-content {
  padding-top: var(--header-height);
}
body
  .workspace-tab-container
  .workspace-leaf-content[data-type='kanban']
  > .view-header {
  position: relative !important;
}
body .workspace-leaf-content[data-type='excalidraw'] .layer-ui__wrapper,
body .workspace-leaf-content[data-type='excalidraw'] .App-top-bar,
body .workspace-leaf-content[data-type='excalidraw'] .layer-ui__sidebar {
  margin-top: var(--header-height);
}
body .excalidraw .layer-ui__wrapper .layer-ui__wrapper__footer-left,
body .excalidraw .layer-ui__wrapper .layer-ui__wrapper__footer-right {
  margin-bottom: var(--header-height);
}
.mod-root .workspace-tab-container .workspace-leaf-content .projects-container {
  padding-top: var(--header-height);
}
.mod-root
  .workspace-tab-container
  .workspace-leaf-content
  .projects-container
  .container {
  background-color: transparent;
  border-bottom: 1px solid rgba(var(--grey-700-rgb), var(--en-opacity));
}
