:root[saved-theme="dark"] {
  --button-hover-bg-color: #daa520;
  --button-hover-text-color: #ffffff;
  --button-bg-color: #d49335;
  --button-text-color: #242424;
  --background-primary: #242424;
  --background-primary-alt: #242424;
  --background-secondary: #191919;
  --background-secondary-alt: #3d3d3d;
  --text-normal: #faf2d6;
  --text-faint: #bdae93;
  --text-title-h1: #e0e0e0;
  --text-title-h2: #e0e0e0;
  --text-title-h3: #e0e0e0;
  --text-title-h4: #e0e0e0;
  --text-title-h5: #e0e0e0;
  --text-title-h6: #e0e0e0;
  --text-highlight-bg: #640211;
  --text-link: #83a598;
  --text-a-hover: #83a598;
  --text-accent-hover: #d49335;
  --inline-code: #83a598;
  --code-block: #83a598;
  --text-a: #f8c537;
  --interactive-accent: #f8c537;
  --text-accent: #f8c537;
  --text-on-accent: #fff;
  --interactive-accent-rgb: #f8c537;
  --vim-cursor: #f8c537;
  --pre-code: #;
  --interactive-before: #7c6f64;
  --background-modifier-border: #f8c537;
  --text-selection: #f8c537;
}
