:root[saved-theme="light"] {
  --background-primary: #ededed;
  --background-secondary: #c4c4c4;
  --background-primary-alt: #;
  --background-secondary-alt: #707070;
  --text-normal: #1a2023;
  --text-faint: #dedede;
  --text-title-h1: #d49335;
  --text-title-h2: #d49335;
  --text-title-h3: #d49335;
  --text-title-h4: #d49335;
  --text-title-h5: #d49335;
  --text-link: #d49335;
  --text-a-hover: #d49335;
  --text-accent-hover: #d49335;
  --inline-code: #458588;
  --pre-code: #bebebe;
  --interactive-before: #a89984;
  --background-modifier-border: #d49335;
  --text-a: #961327;
  --interactive-accent: #f8c537;
  --text-accent: #961327;
  --interactive-accent-rgb: #961327;
  --vim-cursor: #961327;
  --text-selection: #edc180;
  --text-white: #ffffff;
}
