:root[saved-theme="light"] {
  --background-primary: #ffffff;
  --background-primary-alt: #f0f2f5;
  --background-secondary: #f2f3f5;
  --background-secondary-alt: #e3e5e8;
  --background-accent: #fff;
  --background-modifier-border: #ddd;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: #e68787;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #ff9494;
  --background-modifier-cover: rgba(0, 0, 0, 0.1);
  --background-nav-alt: rgba(38, 135, 255, 0.1);
  --text-accent: #269dff;
  --text-accent-hover: #66baff;
  --text-accent-hover-dark: #4e8ae4;
  --text-muted: #6e6e6e;
  --text-faint: #999999;
  --text-error: #ce2222;
  --text-error-hover: #cb2c2;
  --text-highlight-bg: #ff3737;
  --text-selection: rgba(134, 202, 255, 0.5);
  --text-on-accent: #2e3338;
  --interactive-normal: #f2f3f5;
  --interactive-hover: #e9e9e9;
  --interactive-accent-hover: #2287d4;
  --interactive-accent: #2da4ff;
  --interactive-accent-rgb: 38, 157, 255;
  --scrollbar-active-thumb-bg: rgba(38, 157, 255, 0.8);
  --scrollbar-bg: rgba(100, 100, 100, 0);
  --scrollbar-thumb-bg: #e3e5e8;
  --accent-strong: #ff6666;
  --color-green: #44a850;
  --color-orange: #efb220;
  --color-H1: rgb(0, 0, 0);
  --color-H2: rgb(70, 70, 70, 0.5);
  --color-H3: rgb(120, 120, 120, 0.5);
  --color-H4: rgb(160, 160, 160, 0.5);
  --color-H5: rgb(200, 200, 200, 0.5);
  --color-H6: rgb(220, 220, 220);
  --graph-node-fill-OP1: #269dff;
  --graph-node-fill-OP2: #91b8d7;
  --graph-node-fill-yellow: #ffcf00;
  --blockquote-background-color: var(--background-primary-alt);

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
