body.file-header-title-hover .view-header-title-container {
  opacity: 0;
  transition: var(--anim-duration-moderate) var(--anim-motion-smooth);
}

body.file-header-title-hover .view-header-title-container:hover {
  opacity: 1;
}
