@import "fonts";

:root {
}

body {
  --font-default: Courier, monospace;
  --font-monospace-default: "Lucida Console", monospace;
  --file-line-width: 520px;
  --color-light: #e0f8cf;
  --color-green: #86c06c;
  --color-darkgreen: #306850;
  --color-nearblack: #071821;
  --color-off-light: #cfe6be;
}

:root[saved-theme="dark"] {
  --background-primary: black;
  --background-primary-alt: var(--color-nearblack);
  --background-secondary: black;
  --background-secondary-alt: black;
  --background-modifier-border: var(--color-darkgreen);
  --background-modifier-form-field: var(--color-nearblack);
  --background-modifier-form-field-highlighted: var(--color-green);
  --background-modifier-box-shadow: var(--color-green);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: red;
  --background-modifier-error-hover: orange;
  --background-modifier-cover: var(--color-nearblack);
  --text-accent: var(--color-green);
  --text-accent-hover: var(--color-light);
  --text-normal: var(--color-green);
  --text-muted: var(--color-green);
  --text-faint: var(--color-darkgreen);
  --text-error: red;
  --text-error-hover: orange;
  --text-highlight-bg: rgba(48, 104, 80, 0.5);
  --text-highlight-bg-active: blue;
  --text-selection: var(--color-darkgreen);
  --text-on-accent: var(--color-darkgreen);
  --interactive-normal: var(--color-darkgreen);
  --interactive-hover: var(--color-nearblack);
  --interactive-accent: var(--color-green);
  --interactive-accent-hover: var(--color-light);
  --interactive-success: var(--color-green);
  --scrollbar-active-thumb-bg: var(--color-green);
  --scrollbar-bg: rgba(0, 0, 0, 0.05) /* Scrollbar */ --scrollbar-thumb-bg: var(--color-darkgreen);
}

:root[saved-theme="light"] {
  --background-primary: var(--color-light);
  --background-primary-alt: var(--color-off-light);
  --background-secondary: var(--color-light);
  --background-secondary-alt: var(--color-light);
  --background-modifier-border: var(--color-nearblack);
  --background-modifier-form-field: var(--color-light);
  --background-modifier-form-field-highlighted: var(--color-green);
  --background-modifier-box-shadow: var(--color-green);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: red;
  --background-modifier-error-hover: orange;
  --background-modifier-cover: var(--color-light);
  --text-accent: var(--color-green);
  --text-accent-hover: var(--color-nearblack);
  --text-normal: var(--color-nearblack);
  --text-muted: var(--color-green);
  --text-faint: var(--color-darkgreen);
  --text-error: red;
  --text-error-hover: orange;
  --text-highlight-bg: var(--color-green);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: var(--color-green);
  --text-on-accent: var(--color-darkgreen);
  --interactive-normal: var(--color-light);
  --interactive-hover: var(--color-darkgreen);
  --interactive-accent: var(--color-green);
  --interactive-accent-hover: var(--color-nearblack);
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: var(--color-green);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: var(--color-darkgreen);
}
