.lightPalette-blue {
  --OT-theme-reference-color: #529aff;
  --color-base-00: #ebf3ff;
  --color-base-20: #c2dbff;
  --color-base-35: #076dff;
  --color-base-40: #0870d9;
  --color-base-50: #7591cb;
  --color-base-70: #076dff;
  --color-base-05: #cae0ff;
  --color-base-100: #0761bb;
  --link-color: #4e9706;
  /*    --h1-color:            #053F79; */
  /*    --h3-color:            #06509A; */
  /*    --h5-color:            #1083F6; */
  --code-background: #c0daff;
  --OT-button-OFF-bg: #b1d1ff;
  --OT-color-on-base-20: #0760ba;
  --OT-table-alt-background: #e1edff;
  --OT-table-background: #ebf3ff;
  --OT-table-header-background: #cee9ff;
}

.accentColor-lightMode-shade {
  --accent-h: 215 !important;
  --accent-s: 100% !important;
  --accent-l: 30% !important;
  --color-accent-1: hsl(215, 100%, 50%) !important;
  --OT-color-muted-on-accent-1: #c3d9ef;
  --OT-color-on-accent-2: var(--color-base-00);
  --color-accent-3: #bbd7ff !important;
  --vault-profile-color: var(--color-accent-2);
}

.accentColor-lightMode-alternative-1 {
  --accent-h: 125 !important;
  --accent-s: 100% !important;
  --accent-l: 37% !important;
  --color-accent-1: hsl(125, 100%, 47%) !important;
  /*    --color-accent-2:                #24CC32    !important; */
  --color-accent-3: #ccffd0 !important;
  --OT-color-on-accent-1: #255229 !important;
  --OT-color-muted-on-accent-1: #408c46 !important;
  --OT-color-on-accent-2: #c5e4c7 !important;
  --OT-color-muted-on-accent-2: #306935 !important;
  --OT-color-on-accent-3: #00770a !important;
  --OT-view-header-title-focus-color: var(--color-accent-2);
}

.accentColor-lightMode-alternative-2 {
  --accent-h: 305 !important;
  --accent-s: 100% !important;
  --accent-l: 30% !important;
  --color-accent-1: #cc00bb !important;
  /*    --color-accent-2:                #FF77F3    !important; */
  --color-accent-3: #ffccfb !important;
  --OT-color-on-accent-1: #ffeefe !important;
  --OT-color-muted-on-accent-1: #ffccfb !important;
  --OT-color-on-accent-2: #ffeefe !important;
  --OT-color-muted-on-accent-2: #ffccfb !important;
  --OT-color-on-accent-3: var(--color-accent-1) !important;
  --OT-button-cta-text-normal: #f2fdf3;
}
