@use "../variables.scss" as *;

:root {
  color-scheme: light dark;
  font-size: 16px;
}

:root:root {
  --light: #e4d8c3 !important;
  --gray: #2a90cb !important;
  --darkgray: #2a90cb !important;
  --highlight: #8bc1a4 !important;
  --secondary: #593e22 !important;
  --tertiary: #df453a !important;
  --lightgray: #ecb936 !important;
  --dark: #b79d7b !important;
}
:root:root[saved-theme="dark"] {
  --light: #3b3026 !important;
  --gray: #4197b9 !important;
  --darkgray: #4197b9 !important;
  --highlight: #108454 !important;
  --secondary: #d7c0a3 !important;
  --tertiary: #f35044 !important;
  --lightgray: #e5aa1f !important;
  --dark: #917959 !important;
}

html {
  &[saved-theme="light"] {
    color-scheme: light;
    .callout[data-callout] {
      mix-blend-mode: darken;
    }
  }
  &[saved-theme="dark"] {
    color-scheme: dark;
    .callout[data-callout] {
      mix-blend-mode: lighten;
    }
  }
}

@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 400;
  src:
    local("Cascadia Code"),
    url("https://fonts.cdnfonts.com/s/29131/Cascadia.woff") format("woff");
}

body {
  &[data-slug] {
    background: light-dark(rgb(238, 231, 221), rgb(38, 33, 28));
    background-color: light-dark(rgb(248, 245, 241), rgb(46, 38, 31));
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
  }

  .callout {
    --callout-color: 200, 175, 155;
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout .callout-title {
    border-radius: 0px;
    color: rgb(200, 175, 155);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout .callout-title .callout-icon {
    color: rgb(200, 175, 155);
  }

  .callout .callout-title > .callout-title-inner > p {
    color: rgb(200, 175, 155);
    font-weight: 450;
  }

  .callout > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="abstract"] {
    --callout-color: 34, 152, 225;
    background-color: light-dark(
      color(srgb 0.701053 0.843345 0.925045),
      color(srgb 0.163821 0.294975 0.368777)
    );
    border-color: light-dark(rgba(34, 152, 225, 0.2), rgba(34, 152, 225, 0.1));
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="abstract"] .callout-title {
    border-radius: 0px;
    color: rgb(34, 152, 225);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="abstract"] .callout-title .callout-icon {
    color: rgb(34, 152, 225);
    background-color: rgb(34, 152, 225);
  }

  .callout[data-callout="abstract"] .callout-title > .callout-title-inner > p {
    color: rgb(34, 152, 225);
    font-weight: 450;
  }

  .callout[data-callout="abstract"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="bug"] {
    --callout-color: 153, 93, 133;
    background-color: light-dark(
      color(srgb 0.85272 0.768149 0.80779),
      color(srgb 0.315488 0.219779 0.251522)
    );
    border-color: light-dark(rgba(153, 93, 133, 0.2), rgba(153, 93, 133, 0.1));
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="bug"] .callout-title {
    border-radius: 0px;
    color: rgb(153, 93, 133);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="bug"] .callout-title .callout-icon {
    color: rgb(153, 93, 133);
    background-color: rgb(153, 93, 133);
  }

  .callout[data-callout="bug"] .callout-title > .callout-title-inner > p {
    color: rgb(153, 93, 133);
    font-weight: 450;
  }

  .callout[data-callout="bug"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="danger"] {
    --callout-color: 226, 72, 86;
    background-color: light-dark(
      color(srgb 0.945759 0.741385 0.747888),
      color(srgb 0.408527 0.193015 0.19162)
    );
    border-color: light-dark(rgba(226, 72, 86, 0.2), rgba(226, 72, 86, 0.1));
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="danger"] .callout-title {
    border-radius: 0px;
    color: rgb(226, 72, 86);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="danger"] .callout-title .callout-icon {
    color: rgb(226, 72, 86);
    background-color: rgb(226, 72, 86);
  }

  .callout[data-callout="danger"] .callout-title > .callout-title-inner > p {
    color: rgb(226, 72, 86);
    font-weight: 450;
  }

  .callout[data-callout="danger"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="example"] {
    --callout-color: 216, 141, 130;
    background-color: light-dark(
      color(srgb 0.933014 0.829326 0.803966),
      color(srgb 0.395782 0.280956 0.247699)
    );
    border-color: light-dark(
      rgba(216, 141, 130, 0.2),
      rgba(216, 141, 130, 0.1)
    );
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="example"] .callout-title {
    border-radius: 0px;
    color: rgb(216, 141, 130);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="example"] .callout-title .callout-icon {
    color: rgb(216, 141, 130);
    background-color: rgb(216, 141, 130);
  }

  .callout[data-callout="example"] .callout-title > .callout-title-inner > p {
    color: rgb(216, 141, 130);
    font-weight: 450;
  }

  .callout[data-callout="example"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="failure"] {
    --callout-color: 226, 72, 86;
    background-color: light-dark(
      color(srgb 0.945759 0.741385 0.747888),
      color(srgb 0.408527 0.193015 0.19162)
    );
    border-color: light-dark(rgba(226, 72, 86, 0.2), rgba(226, 72, 86, 0.1));
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="failure"] .callout-title {
    border-radius: 0px;
    color: rgb(226, 72, 86);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="failure"] .callout-title .callout-icon {
    color: rgb(226, 72, 86);
    background-color: rgb(226, 72, 86);
  }

  .callout[data-callout="failure"] .callout-title > .callout-title-inner > p {
    color: rgb(226, 72, 86);
    font-weight: 450;
  }

  .callout[data-callout="failure"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="info"] {
    --callout-color: 71, 162, 187;
    background-color: light-dark(
      color(srgb 0.74821 0.856091 0.876613),
      color(srgb 0.210978 0.307721 0.320346)
    );
    border-color: light-dark(rgba(71, 162, 187, 0.2), rgba(71, 162, 187, 0.1));
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="info"] .callout-title {
    border-radius: 0px;
    color: rgb(71, 162, 187);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="info"] .callout-title .callout-icon {
    color: rgb(71, 162, 187);
    background-color: rgb(71, 162, 187);
  }

  .callout[data-callout="info"] .callout-title > .callout-title-inner > p {
    color: rgb(71, 162, 187);
    font-weight: 450;
  }

  .callout[data-callout="info"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="note"] {
    --callout-color: 200, 175, 155;
    background-color: light-dark(
      color(srgb 0.912622 0.872659 0.835829),
      color(srgb 0.375389 0.324289 0.279562)
    );
    border-color: light-dark(
      rgba(200, 175, 155, 0.2),
      rgba(200, 175, 155, 0.1)
    );
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="note"] .callout-title {
    border-radius: 0px;
    color: rgb(200, 175, 155);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="note"] .callout-title .callout-icon {
    color: rgb(200, 175, 155);
    background-color: rgb(200, 175, 155);
  }

  .callout[data-callout="note"] .callout-title > .callout-title-inner > p {
    color: rgb(200, 175, 155);
    font-weight: 450;
  }

  .callout[data-callout="note"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="question"] {
    --callout-color: 130, 190, 235;
    background-color: light-dark(
      color(srgb 0.823406 0.891777 0.93779),
      color(srgb 0.286174 0.343407 0.381522)
    );
    border-color: light-dark(
      rgba(130, 190, 235, 0.2),
      rgba(130, 190, 235, 0.1)
    );
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="question"] .callout-title {
    border-radius: 0px;
    color: rgb(130, 190, 235);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="question"] .callout-title .callout-icon {
    color: rgb(130, 190, 235);
    background-color: rgb(130, 190, 235);
  }

  .callout[data-callout="question"] .callout-title > .callout-title-inner > p {
    color: rgb(130, 190, 235);
    font-weight: 450;
  }

  .callout[data-callout="question"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="quote"] {
    --callout-color: 173, 214, 171;
    background-color: light-dark(
      color(srgb 0.87821 0.922365 0.856221),
      color(srgb 0.340978 0.373995 0.299954)
    );
    border-color: light-dark(
      rgba(173, 214, 171, 0.2),
      rgba(173, 214, 171, 0.1)
    );
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="quote"] .callout-title {
    border-radius: 0px;
    color: rgb(173, 214, 171);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="quote"] .callout-title .callout-icon {
    color: rgb(173, 214, 171);
    background-color: rgb(173, 214, 171);
  }

  .callout[data-callout="quote"] .callout-title > .callout-title-inner > p {
    color: rgb(173, 214, 171);
    font-weight: 450;
  }

  .callout[data-callout="quote"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="success"] {
    --callout-color: 87, 200, 83;
    background-color: light-dark(
      color(srgb 0.768602 0.904522 0.744064),
      color(srgb 0.23137 0.356152 0.187797)
    );
    border-color: light-dark(rgba(87, 200, 83, 0.2), rgba(87, 200, 83, 0.1));
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="success"] .callout-title {
    border-radius: 0px;
    color: rgb(87, 200, 83);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="success"] .callout-title .callout-icon {
    color: rgb(87, 200, 83);
    background-color: rgb(87, 200, 83);
  }

  .callout[data-callout="success"] .callout-title > .callout-title-inner > p {
    color: rgb(87, 200, 83);
    font-weight: 450;
  }

  .callout[data-callout="success"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="tip"] {
    --callout-color: 70, 206, 185;
    background-color: light-dark(
      color(srgb 0.746936 0.912169 0.874064),
      color(srgb 0.209703 0.363799 0.317797)
    );
    border-color: light-dark(rgba(70, 206, 185, 0.2), rgba(70, 206, 185, 0.1));
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="tip"] .callout-title {
    border-radius: 0px;
    color: rgb(70, 206, 185);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="tip"] .callout-title .callout-icon {
    color: rgb(70, 206, 185);
    background-color: rgb(70, 206, 185);
  }

  .callout[data-callout="tip"] .callout-title > .callout-title-inner > p {
    color: rgb(70, 206, 185);
    font-weight: 450;
  }

  .callout[data-callout="tip"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="todo"] {
    --callout-color: 58, 173, 252;
    background-color: light-dark(
      color(srgb 0.731642 0.87011 0.959456),
      color(srgb 0.194409 0.32174 0.403189)
    );
    border-color: light-dark(rgba(58, 173, 252, 0.2), rgba(58, 173, 252, 0.1));
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="todo"] .callout-title {
    border-radius: 0px;
    color: rgb(58, 173, 252);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="todo"] .callout-title .callout-icon {
    color: rgb(58, 173, 252);
    background-color: rgb(58, 173, 252);
  }

  .callout[data-callout="todo"] .callout-title > .callout-title-inner > p {
    color: rgb(58, 173, 252);
    font-weight: 450;
  }

  .callout[data-callout="todo"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .callout[data-callout="warning"] {
    --callout-color: 255, 161, 32;
    background-color: light-dark(
      color(srgb 0.98272 0.854816 0.679064),
      color(srgb 0.445487 0.306446 0.122797)
    );
    border-color: light-dark(rgba(255, 161, 32, 0.2), rgba(255, 161, 32, 0.1));
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    mix-blend-mode: normal;
    padding: 0px;
  }

  .callout[data-callout="warning"] .callout-title {
    border-radius: 0px;
    color: rgb(255, 161, 32);
    gap: 8px;
    padding: 12px 16px;
  }

  .callout[data-callout="warning"] .callout-title .callout-icon {
    color: rgb(255, 161, 32);
    background-color: rgb(255, 161, 32);
  }

  .callout[data-callout="warning"] .callout-title > .callout-title-inner > p {
    color: rgb(255, 161, 32);
    font-weight: 450;
  }

  .callout[data-callout="warning"] > .callout-content {
    background-color: light-dark(
      color(srgb 0.962 0.943667 0.918),
      color(srgb 0.17115 0.145 0.11885)
    );
    padding: 4px 16px 8px;
  }

  .data-footnote-backref {
    color: light-dark(rgb(183, 157, 123), rgb(145, 121, 89));
    text-decoration: none solid rgb(145, 121, 89);
  }

  .explorer .explorer-content {
    background-color: light-dark(rgb(238, 231, 221), rgb(38, 33, 28));
  }

  .explorer .explorer-content li:has(> .folder-outer.open) > .folder-container {
    color: light-dark(rgb(123, 98, 66), rgb(171, 145, 109));
    cursor: pointer;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    text-decoration: none solid rgb(171, 145, 109);
  }

  .explorer
    .explorer-content
    li:has(> .folder-outer:not(.open))
    > .folder-container {
    color: light-dark(rgb(123, 98, 66), rgb(171, 145, 109));
    cursor: pointer;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    text-decoration: none solid rgb(171, 145, 109);
  }

  .explorer .explorer-content ul.explorer-ul li a {
    color: light-dark(rgb(123, 98, 66), rgb(171, 145, 109));
    cursor: pointer;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    text-decoration: none solid rgb(171, 145, 109);
  }

  .explorer .explorer-content ul.explorer-ul li:has(> .active) {
    background-color: light-dark(
      rgba(255, 255, 255, 0.25),
      rgba(0, 0, 0, 0.125)
    );
    color: light-dark(rgb(123, 98, 66), rgb(171, 145, 109));
    cursor: pointer;
  }

  .graph .graph-outer {
    border-color: rgba(0, 0, 0, 0);
  }

  .graph > .global-graph-outer {
    -webkit-backdrop-filter: blur(4px) brightness(0.4);
    backdrop-filter: blur(4px) brightness(0.4);
  }

  .graph > .global-graph-outer > .global-graph-container {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0);
  }

  .katex > .katex-html {
    font-family: MJXZERO, MJXTEX;
  }

  .katex-display > .katex {
    display: block;
    font: unset;
    text-align: center;
    white-space: normal;
  }

  .katex-display > .katex > .katex-html {
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
  }

  .page > #quartz-body {
    background-color: light-dark(rgb(248, 245, 241), rgb(46, 38, 31));
  }

  .page > #quartz-body .left.sidebar {
    background-color: light-dark(rgb(238, 231, 221), rgb(38, 33, 28));
    border-color: rgba(0, 0, 0, 0);
    border-right-width: 1px;
  }

  .page > #quartz-body .right.sidebar {
    background-color: light-dark(rgb(238, 231, 221), rgb(38, 33, 28));
    border-color: rgba(0, 0, 0, 0);
    border-left-width: 1px;
  }

  .page > #quartz-body .sidebar.left:has(.explorer) {
    background-color: light-dark(rgb(238, 231, 221), rgb(38, 33, 28));
  }

  .page > #quartz-body div.center {
    max-width: calc(100% - 40px);
    min-width: calc(100% - 40px);
    padding-left: 10px;
    padding-right: 10px;
  }

  .page article li:has(> input[type="checkbox"]:checked) {
    color: light-dark(rgb(183, 157, 123), rgb(145, 121, 89));
    text-decoration: line-through solid rgb(145, 121, 89);
    text-decoration-color: rgb(145, 121, 89);
  }

  .page article p > b,
  b {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    cursor: auto;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    outline: rgb(215, 192, 163) none 0px;
    text-decoration: none solid rgb(215, 192, 163);
    text-decoration-color: rgb(215, 192, 163);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .page article p > em,
  em {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(34, 114, 155), rgb(77, 178, 209));
    cursor: auto;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    outline: rgb(77, 178, 209) none 0px;
    text-decoration: none solid rgb(77, 178, 209);
    text-decoration-color: rgb(77, 178, 209);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .page article p > i,
  i {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    cursor: auto;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    outline: rgb(215, 192, 163) none 0px;
    text-decoration: none solid rgb(215, 192, 163);
    text-decoration-color: rgb(215, 192, 163);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .page article p > s,
  s {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    cursor: auto;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    outline: rgb(215, 192, 163) none 0px;
    text-decoration: none solid rgb(215, 192, 163);
    text-decoration-color: rgb(215, 192, 163);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .page article p > strong > em,
  strong > em {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(67, 46, 20), rgb(235, 218, 198));
    cursor: auto;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 750;
    outline: rgb(235, 218, 198) none 0px;
    text-decoration: none solid rgb(235, 218, 198);
    text-decoration-color: rgb(235, 218, 198);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .page article p > strong,
  strong {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(191, 63, 54), rgb(243, 80, 68));
    cursor: auto;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 650;
    outline: rgb(243, 80, 68) none 0px;
    text-decoration: none solid rgb(243, 80, 68);
    text-decoration-color: rgb(243, 80, 68);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .page article p > u,
  u {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    cursor: auto;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    outline: rgb(215, 192, 163) none 0px;
    text-decoration: none solid rgb(215, 192, 163);
    text-decoration-color: rgb(215, 192, 163);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .popover .popover-inner {
    background-color: light-dark(rgb(248, 245, 241), rgb(46, 38, 31));
    border-color: rgba(0, 0, 0, 0);
  }

  .search > .search-button {
    background-color: light-dark(rgb(242, 236, 227), rgb(33, 27, 23));
    border: 1px solid rgb(59, 48, 38);
    border-color: light-dark(rgb(228, 215, 195), rgb(59, 48, 38));
    border-radius: 8px;
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
  }

  .search > .search-container > .search-space {
    background-color: light-dark(rgb(248, 245, 241), rgb(46, 38, 31));
    border: 1px solid color(srgb 0.26608 0.213228 0.16192);
    border-radius: 12px;
    box-shadow:
      rgba(0, 0, 0, 0.27) 0px 1.8px 7.3px 0px,
      rgba(0, 0, 0, 0.314) 0px 6.3px 24.7px 0px,
      rgba(0, 0, 0, 0.4) 0px 30px 90px 0px;
  }

  .search > .search-container > .search-space > * {
    background-color: light-dark(rgb(248, 245, 241), rgb(46, 38, 31));
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    cursor: auto;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    outline: rgb(215, 192, 163) none 0px;
    text-decoration: none solid rgb(215, 192, 163);
    text-decoration-color: rgb(215, 192, 163);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container {
    color: light-dark(rgb(157, 128, 98), rgb(171, 145, 109));
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card {
    border-color: light-dark(rgb(157, 128, 98), rgb(171, 145, 109));
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:hover
    .card-title,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:hover
    .card-description,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:focus
    .card-title,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:focus
    .card-description,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card.focus:not(:has(~ .result-card:hover, ~ .result-card:focus))
    .card-title,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card.focus:not(:has(~ .result-card:hover, ~ .result-card:focus))
    .card-description {
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:hover,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:focus,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card.focus:not(:has(~ .result-card:hover, ~ .result-card:focus)) {
    background-color: light-dark(rgba(255, 255, 255, 0.35), rgba(0, 0, 0, 0.1));
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    font-weight: 450;
  }

  .search > .search-container > .search-space > .search-layout,
  .search > .search-container > .search-space > .search-layout.display-results {
    border-color: light-dark(
      color(srgb 0.844752 0.768077 0.659248),
      color(srgb 0.26608 0.213228 0.16192)
    );
  }

  .search > .search-container > .search-space > input {
    background-color: light-dark(rgb(248, 245, 241), rgb(46, 38, 31));
    border: unset;
    border-bottom: 1px solid rgb(52, 44, 35);
    border-radius: 0px;
    box-shadow: none;
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card:has(
      ~ .result-card.focus:not(
          :has(~ .result-card:hover, ~ .result-card:focus)
        ),
      ~ .result-card:focus,
      ~ .result-card:hover
    ) {
    background-color: light-dark(rgba(255, 255, 255, 0.35), rgba(0, 0, 0, 0.1));
    border-radius: 7px;
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card:hover,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card:focus,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card.focus:not(:has(~ .result-card:hover, ~ .result-card:focus)) {
    background-color: light-dark(rgba(255, 255, 255, 0.35), rgba(0, 0, 0, 0.1));
    border-radius: 7px;
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
  }

  .text-highlight {
    background-color: rgba(255, 187, 0, 0.2);
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    cursor: auto;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    outline: rgb(215, 192, 163) none 0px;
    text-decoration: none solid rgb(215, 192, 163);
    text-decoration-color: rgb(215, 192, 163);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  ::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border: 0px none rgb(215, 192, 163);
    border-color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    border-radius: 0px;
    border-width: 0px;
    box-shadow: none;
  }

  a.external {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    cursor: auto;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    outline: rgb(215, 192, 163) none 0px;
    text-decoration: none solid rgb(215, 192, 163);
    text-decoration-color: rgb(215, 192, 163);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  a.internal {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(183, 157, 123), rgb(145, 121, 89));
    cursor: pointer;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    outline: rgb(145, 121, 89) none 0px;
    text-decoration: underline 1.5px solid
      color(srgb 0.5704 0.47472 0.3496 / 0.22);
    text-decoration-color: color(srgb 0.5704 0.47472 0.3496 / 0.22);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1.5px;
    transition: opacity 0.14s ease-in-out;
    user-select: text;
  }

  a.internal.tag-link,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card
    > ul
    > li
    > .match-tag {
    align-items: center;
    background-color: rgba(255, 187, 0, 0.2);
    border-bottom-color: rgb(229, 170, 31);
    border-bottom-left-radius: 13.062px;
    border-bottom-right-radius: 13.062px;
    border-bottom-style: none;
    border-left-color: rgb(229, 170, 31);
    border-left-style: none;
    border-right-color: rgb(229, 170, 31);
    border-right-style: none;
    border-top-color: rgb(229, 170, 31);
    border-top-left-radius: 13.062px;
    border-top-right-radius: 13.062px;
    border-top-style: none;
    display: flex;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 550;
    margin-inline-start: 0px;
  }

  a.internal.tag-link::before {
    color: light-dark(rgb(182, 122, 2), rgb(229, 170, 31));
  }

  blockquote {
    background-color: light-dark(rgb(252, 250, 248), rgb(38, 33, 28));
    border-inline-start: 2px solid rgb(59, 48, 38);
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-style: normal;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-bottom: 0px;
    padding-inline-start: 24px;
    padding-top: 0px;
  }

  code {
    background-color: light-dark(rgb(252, 250, 248), rgb(33, 27, 23));
    border: 0px solid rgb(59, 48, 38);
    border-color: light-dark(rgb(228, 215, 195), rgb(59, 48, 38));
    border-radius: 4px;
    color: light-dark(rgb(217, 116, 109), rgb(247, 104, 94));
    font-family:
      "Cascadia Code", ui-monospace, SFMono-Regular, "Cascadia Mono",
      "Roboto Mono", "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco,
      Consolas, "Source Code Pro", monospace;
    padding: 2.1px 4.2px;
  }

  code.mermaid > svg {
    fill: rgb(51, 51, 51);
    stroke: none;
  }

  del {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(183, 157, 123), rgb(145, 121, 89));
    cursor: auto;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    outline: rgb(145, 121, 89) none 0px;
    text-decoration: line-through solid rgb(145, 121, 89);
    text-decoration-color: rgb(145, 121, 89);
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  div#quartz-body {
    --quartz-icon-color: color-mix(
      in srgb,
      hsla(33, 27%, 33%, 1) 30%,
      hsla(34, 24%, 46%, 1)
    );
  }

  div#quartz-root {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-size: 16px;
  }

  div.graph {
  }

  h1 {
    color: light-dark(rgb(67, 46, 20), rgb(235, 218, 198));
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    text-shadow: none;
  }

  h2 {
    color: light-dark(rgb(67, 46, 20), rgb(235, 218, 198));
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    text-shadow: none;
  }

  h3 {
    color: light-dark(rgb(67, 46, 20), rgb(235, 218, 198));
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    text-shadow: none;
  }

  h4 {
    color: light-dark(rgb(67, 46, 20), rgb(235, 218, 198));
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    text-shadow: none;
  }

  h5 {
    color: light-dark(rgb(67, 46, 20), rgb(235, 218, 198));
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    text-shadow: none;
  }

  h6 {
    color: light-dark(rgb(67, 46, 20), rgb(235, 218, 198));
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    text-shadow: none;
  }

  hr {
    border: unset;
    border-color: light-dark(rgb(228, 215, 195), rgb(59, 48, 38));
    border-style: solid none none;
    border-top: 1px solid rgb(59, 48, 38);
    box-shadow: none;
    margin: 32px 0px;
  }

  input[type="checkbox"] {
    appearance: none;
    border: 1px solid rgb(81, 64, 47);
    border-color: light-dark(rgb(228, 215, 195), rgb(81, 64, 47));
    border-radius: 4px;
    margin: 0px 8px 0px -24px;
    margin-inline-end: 8px;
    margin-inline-start: -24px;
    padding: 0px;
    position: relative;
    top: 2.66667px;
    transition: box-shadow 0.15s ease-in-out;
    width: 16px;
  }

  input[type="checkbox"]:checked:after {
    -webkit-mask-image: none;
    -webkit-mask-position: 0% 0%;
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: auto;
    background-color: rgba(0, 0, 0, 0);
    content: normal;
    display: block;
    inset-inline-start: 0px;
    position: relative;
    top: 0px;
    width: 1154px;
  }

  li.depth-0 {
    font-weight: 450;
  }

  li.depth-0 + li.depth-1 {
    border-inline-start: 1px solid rgb(59, 48, 38);
    margin-inline-start: 12px;
    padding-inline-start: 4px;
  }

  li.depth-1 {
    font-weight: 450;
  }

  li.depth-1 + li.depth-2 {
    border-inline-start: 1px solid rgb(59, 48, 38);
    margin-inline-start: 12px;
    padding-inline-start: 4px;
  }

  li.depth-2 {
    font-weight: 450;
  }

  li.depth-2 + li.depth-3 {
    border-inline-start: 1px solid rgb(59, 48, 38);
    margin-inline-start: 12px;
    padding-inline-start: 4px;
  }

  li.depth-3 {
    font-weight: 450;
  }

  li.depth-3 + li.depth-4 {
    border-inline-start: 1px solid rgb(59, 48, 38);
    margin-inline-start: 12px;
    padding-inline-start: 4px;
  }

  li.depth-4 {
    font-weight: 450;
  }

  li.depth-4 + li.depth-5 {
    border-inline-start: 1px solid rgb(59, 48, 38);
    margin-inline-start: 12px;
    padding-inline-start: 4px;
  }

  li.depth-5 {
    font-weight: 450;
  }

  li.depth-5 + li.depth-6 {
    border-inline-start: 1px solid rgb(59, 48, 38);
    margin-inline-start: 12px;
    padding-inline-start: 4px;
  }

  ol > li {
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    text-align: start;
  }

  ol > li::marker {
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
  }

  p {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    cursor: auto;
    filter: none;
    font-family:
      Inter,
      ui-sans-serif,
      -apple-system,
      "system-ui",
      system-ui,
      "Segoe UI",
      Roboto,
      Inter,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    font-weight: 450;
    outline: rgb(215, 192, 163) none 0px;
    text-decoration: none solid rgb(215, 192, 163);
    text-decoration-color: rgb(215, 192, 163);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition: all;
    user-select: text;
  }

  pre > code {
    background-color: rgba(0, 0, 0, 0);
    border: 0px none rgb(215, 192, 163);
    border-color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    border-radius: 8px;
    overflow-x: visible;
    padding: 0px;
    white-space: pre-wrap;
  }

  pre:has(> code) {
    background-color: light-dark(rgb(242, 236, 227), rgb(42, 36, 30));
    border: 0px solid rgb(59, 48, 38);
    border-color: light-dark(rgb(228, 215, 195), rgb(59, 48, 38));
    border-radius: 8px;
    overflow-x: auto;
    padding: 12px 16px;
    white-space: pre-wrap;
  }

  ul > li {
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    text-align: start;
  }

  ul > li.task-list-item {
    display: list-item;
    list-style: outside none none;
    text-align: start;
  }

  ul > li::marker {
    background-color: rgba(0, 0, 0, 0);
    border: 0px none rgb(215, 192, 163);
    border-color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    border-radius: 0px;
    color: light-dark(rgb(89, 62, 34), rgb(215, 192, 163));
    content: normal;
    pointer-events: auto;
    transform: none;
    transition: all;
  }

  .search {
    & > .search-button {
      font-size: 1rem;
      svg {
        color: var(--search-icon-color, var(--text-muted, var(--darkgray)));
        stroke: var(--search-icon-color, var(--text-muted, var(--darkgray)));
      }
    }
    & > .search-container {
      & > .search-space {
        margin: 12vh auto;
        & > input {
          margin-bottom: 0;
          border-bottom: none;
          border-top-left-radius: inherit;
          border-top-right-radius: inherit;
          font-size: 1.1rem;
          &:has(+ :not(.display-results)) {
            border-radius: inherit;
          }
        }
        & > * {
          background: transparent;
          margin-bottom: 0;
          box-shadow: none;
        }
        & > .search-layout {
          &.display-results {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
          & .highlight {
            background-color: var(--quartz-text-highlight);
          }
          & > .results-container {
            & .result-card {
              @media all and not ($mobile) {
                display: flex;
                &.no-match {
                  display: block;
                }
              }
              &:has(~ .result-card:hover),
              &:has(~ .result-card:focus),
              &:has(~ .result-card.focus) {
                background-color: unset;
              }
              & > ul > li > p {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }

  .explorer {
    @media all and ($mobile) {
      &:not(.collapsed) > .explorer-content {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
      }
    }
    .explorer-content {
      .folder-container {
        --folder-closed-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 5h-8.586L9.707 3.293A.997.997 0 0 0 9 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2zM4 19V7h16l.002 12H4z"></path></svg>');
        --folder-open-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.165 19.551c.186.28.499.449.835.449h15c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 11h-1V8c0-1.103-.897-2-2-2h-6.655L8.789 4H4c-1.103 0-2 .897-2 2v13h.007a1 1 0 0 0 .158.551zM18 8v3H6c-.4 0-.762.238-.919.606L4 14.129V8h14z"></path></svg>');

        text-overflow: ellipsis;
        position: relative;

        @media all and ($mobile) {
          padding-inline-start: 0.5rem;
          padding-inline-end: 0rem;
          border-radius: 0.25rem;
        }
        & > svg {
          opacity: 0.001;
          position: absolute;
        }
        &:before {
          width: 1rem;
          height: 1rem;
          min-width: 1rem;
          min-height: 1rem;
          display: flex;
          align-self: center;
          background: var(--quartz-icon-color);
          content: "";
        }
        & > div {
          width: 100%;
        }
        &:hover {
          font-size: 1rem;
          line-height: 1.5rem;
          background-color: var(--nav-item-background-hover);
          border-radius: 0.25rem;
        }
      }
      li:has(> .folder-outer:not(.open)) > .folder-container:before {
        background: var(
          --collapse-icon-color-collapsed,
          var(--quartz-icon-color)
        );
        mask-image: var(--folder-closed-icon);
        -webkit-mask-image: var(--folder-closed-icon);
      }
      li:has(> .folder-outer.open) > .folder-container:before {
        background: var(--collapse-icon-color, var(--quartz-icon-color));
        mask-image: var(--folder-open-icon);
        -webkit-mask-image: var(--folder-open-icon);
      }
      ul.explorer-ul li {
        text-overflow: ellipsis;
        position: relative;

        a {
          display: flex;
          color: inherit;
          font-size: 1rem;
          line-height: 1.5rem;
          padding: inherit;

          &.active,
          &:not(.folder-title):hover {
            font-size: 1rem;
            line-height: 1.5rem;
            background-color: var(--nav-item-background-hover);
            border-radius: 0.25rem;
          }
          &[data-for$="/index"] {
            padding-inline-start: 0.5rem;
            padding-inline-end: 0;
          }
          padding-inline-start: 0;

          @media all and ($mobile) {
            padding-inline-start: 0.5rem;
            padding-inline-end: 0.5rem;
            &[data-for$="/index"] {
              padding-inline-end: 0.5rem;
            }
          }
        }
        > a:before {
          --file-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=""><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>');
          width: 1rem;
          height: 1rem;
          min-width: 1rem;
          min-height: 1rem;
          content: "";
          display: flex;
          align-self: center;
          background: var(--quartz-icon-color);
          mask-image: var(--file-icon);
          -webkit-mask-image: var(--file-icon);
          margin-inline-end: 0.5rem;
        }
      }
    }
  }

  /* ICONS */
  button.readermode {
    & > svg {
      display: none;
    }
    /* lucide book-open icon */
    --readermode-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWJvb2stb3Blbi1pY29uIGx1Y2lkZS1ib29rLW9wZW4iPjxwYXRoIGQ9Ik0xMiA3djE0Ii8+PHBhdGggZD0iTTMgMThhMSAxIDAgMCAxLTEtMVY0YTEgMSAwIDAgMSAxLTFoNWE0IDQgMCAwIDEgNCA0IDQgNCAwIDAgMSA0LTRoNWExIDEgMCAwIDEgMSAxdjEzYTEgMSAwIDAgMS0xIDFoLTZhMyAzIDAgMCAwLTMgMyAzIDMgMCAwIDAtMy0zeiIvPjwvc3ZnPg==");
    background: var(--quartz-icon-color) !important;
    mask-image: var(--readermode-icon);
    -webkit-mask-image: var(--readermode-icon);
    width: 24px;
    height: 24px;
  }

  button.global-graph-icon {
    & > svg {
      display: none;
    }
    /* lucide git-fork icon */
    --graph-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWdpdC1mb3JrLWljb24gbHVjaWRlLWdpdC1mb3JrIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjE4IiByPSIzIi8+PGNpcmNsZSBjeD0iNiIgY3k9IjYiIHI9IjMiLz48Y2lyY2xlIGN4PSIxOCIgY3k9IjYiIHI9IjMiLz48cGF0aCBkPSJNMTggOXYyYzAgLjYtLjQgMS0xIDFIN2MtLjYgMC0xLS40LTEtMVY5Ii8+PHBhdGggZD0iTTEyIDEydjMiLz48L3N2Zz4=");
    background: var(--quartz-icon-color) !important;
    mask-image: var(--graph-icon);
    -webkit-mask-image: var(--graph-icon);
    width: 24px;
    height: 24px;
  }

  button.darkmode {
    & > svg {
      display: none !important;
    }
    /* lucide moon icon */
    --moon-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLW1vb24taWNvbiBsdWNpZGUtbW9vbiI+PHBhdGggZD0iTTEyIDNhNiA2IDAgMCAwIDkgOSA5IDkgMCAxIDEtOS05WiIvPjwvc3ZnPg==");
    /* lucide sun icon */
    --sun-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXN1bi1pY29uIGx1Y2lkZS1zdW4iPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjQiLz48cGF0aCBkPSJNMTIgMnYyIi8+PHBhdGggZD0iTTEyIDIwdjIiLz48cGF0aCBkPSJtNC45MyA0LjkzIDEuNDEgMS40MSIvPjxwYXRoIGQ9Im0xNy42NiAxNy42NiAxLjQxIDEuNDEiLz48cGF0aCBkPSJNMiAxMmgyIi8+PHBhdGggZD0iTTIwIDEyaDIiLz48cGF0aCBkPSJtNi4zNCAxNy42Ni0xLjQxIDEuNDEiLz48cGF0aCBkPSJtMTkuMDcgNC45My0xLjQxIDEuNDEiLz48L3N2Zz4=");
    background: var(--quartz-icon-color) !important;
    width: 24px;
    height: 24px;
  }

  .explorer svg,
  button.toc-header .fold,
  .global-graph-icon,
  .readermode,
  .darkmode {
    color: var(--quartz-icon-color);
    stroke: var(--quartz-icon-color);
  }

  @media all and not ($desktop) {
    .page > #quartz-body div.sidebar.right {
      background-color: transparent;
    }
  }

  @media all and ($desktop) {
    .page > #quartz-body {
      div.center {
        min-width: calc(100% - 3rem);
        max-width: calc(100% - 3rem);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      footer {
        padding: 0 1.5rem;
      }
    }
  }

  @media all and ($tablet) {
    .page > #quartz-body {
      padding-left: 0;
      padding-right: 0;

      div.center {
        min-width: calc(100% - 3rem);
        max-width: calc(100% - 3rem);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      div.sidebar.left {
        padding-left: 2rem;
      }

      div.sidebar.right,
      footer {
        padding: 0 1.5rem;
      }
    }
  }

  @media all and ($mobile) {
    .page > #quartz-body {
      padding: 0;

      div.center {
        min-width: calc(100% - 3rem);
        max-width: calc(100% - 3rem);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      div.sidebar.left,
      div.sidebar.left:has(.explorer) {
        padding-left: 1rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
      }
      div.sidebar.right,
      footer {
        padding: 0 1.5rem;
      }
      footer {
        min-width: auto;
      }

      .explorer .explorer-content {
        width: 100vw;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  .callout.is-collapsed .callout-content > :first-child {
    margin-top: -4rem;
  }
}

:root[saved-theme="light"] {
  button.darkmode {
    mask-image: var(--sun-icon);
    -webkit-mask-image: var(--sun-icon);
  }
}

:root[saved-theme="dark"] {
  button.darkmode {
    mask-image: var(--moon-icon);
    -webkit-mask-image: var(--moon-icon);
  }
}
