:root[saved-theme="dark"] {
  --h1-color: #1e91c7;
  --h2-color: #1eb0c7;
  --h3-color: #1ec7c4;
  --h4-color: #1ec7bc;
  --h5-color: #1ec7a2;
  --h6-color: #1ec78f;
  --inline-title-color: #ffffff;
  --bg-dark: #30393f;
  --bg-darker: #283035;
  --background-primary: var(--bg-dark);
  --background-primary-alt: var(--bg-dark);
  --background-secondary: var(--bg-darker);
  --background-secondary-alt: var(--bg-darker);
  --titlebar-background-focused: var(--bg-darker);
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 230, 227, 74;
  --color-yellow: rgb(255, 251, 0);
  --color-green-rgb: 68, 207, 110;
  --color-green: rgb(68, 207, 110);
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --text-highlight-bg-rgb: var(--color-yellow-rgb);
  --text-highlight-bg: rgba(var(--color-yellow-rgb), 0.4);
  --bold-modifier: 300;
  --color-base-05: #30393f;
  --color-base-10: #39454b;
  --color-base-20: #434f55;
  --color-base-25: #4e5b63;
  --color-base-30: #57636c;
  --color-base-35: #5e6a74;
  --color-base-40: #64727c;
  --color-base-50: #73828d;
  --color-base-60: #e6ded1 --color-base-70: #e6ded1;
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 5),
    calc(var(--accent-s) * 1.05),
    calc(var(--accent-l) * 1.29)
  );
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-accent: var(--color-accent-1);
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
}
