:root[saved-theme="light"] {
  --mu-background-color-1: #e8efff;
  --mu-background-color-2: #d1dfff;
  --mu-titlebar-background: #003388;
  --mu-color-lig: #007fff;
  --mu-gray-1: #a3a3a3;
  --mu-purple-1: #d372ff;
  --mu-purple-2: #b10aff;
  --mu-magenta-1: #f100f1;
  --mu-hr-color: #0072d3;
  --mu-text-1: #000;
  --mu-text-title: #a300cf;
  --mu-text-bold: inherit;
  --mu-text-italic: inherit;
  --mu-blockquote-background: #cfcfcf88;
  --mu-blockquote-border: #007fff;
  --mu-divider-color: #007fff10;
  --mu-h1: #0072d3;
  --mu-h2: #0072d3;
  --mu-h3: #0072d3;
  --mu-h4: #0072d3;
  --mu-h5: #0072d3;
  --mu-h6: #0072d3;
  --mu-green-1: #20cf20;
  --mu-green-2: #20a320;
  --mu-icon: #5382d3;
  --mu-icon-hover: #007fff;
  --mu-icon-active: #007fff;
  --mu-icon-focused: #00a3ff;
  --mu-icon-statusbar-menu: #0072d3;
  --mu-titlebar-text: #f1f1f1;
  --mu-vault-title: #a300cf;
  --mu-sidebar-folder: #0048a3;
  --mu-link: #a200ff;
  --mu-link-hover: #c300ff;
  --mu-external-link: #0033ff;
  --mu-external-link-hover: #00a3ff;
  --mu-code-attribute: #e50000;
  --mu-input-bg-color: #fff;
  --mu-label-h1: #bf72d8;
  --mu-label-h2: #bf72d8;
  --mu-label-h3: #bf72d8;
  --mu-label-h4: #bf72d8;
  --mu-label-h5: #bf72d8;
  --mu-label-h6: #bf72d8;
  --mu-caret-color: #cf00ff;
  --code-white-space: pre-wrap;
  --code-size: var(--font-smaller);
  --code-background: #f1f1ff;
  --code-normal: var(--mu-text-1);
  --code-comment: #a3a3a3;
  --code-function: #00a300;
  --code-important: #ff7f00;
  --code-keyword: #c300f1;
  --code-operator: #c300f1;
  --code-property: #0048a3;
  --code-punctuation: #c300f1;
  --code-string: #0000f1;
  --code-tag: #c300f1;
  --code-value: #f18f00;
  --tab-divider-color: #003364;
  --mu-folder-icon-zoom: 82%;
  --mu-notes-icon-zoom: 72%;
  --text-normal: #000;
  --text-muted: #353535;
  --mu-text-selection: #0051f136;
  --mu-suggestion-color: #0072d3;
  --mu-special-folder-color: #000;
  --interactive-normal: var(--mu-background-color-2);
  --interactive-hover: var(--background-modifier-hover);
  --highlight-mix-blend-mode: normal;
  --background-primary-alt: #e1e1e1;
  --background-secondary-alt: #ffffff;
  --graph-node-focused: #0048a3;
  --mu-bookmarked-note-icon-bg: #007fff30;
  --mu-menu-separator-color: #a3a3a338;
  --mu-modal-background: #cfcfcf;
  --mu-column-stripped-background: #00000011;
  --mu-scrollbar-thumb-bg: #48484822;
  --mu-scrollbar-thumb-bg-hover: #48484848;
  --mu-scrollbar-track-bg-hover: #82828221;
  --mu-background-color-1: #dbd0ff;
  --mu-background-color-2: #cdbeff;
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #fff;
  --mu-text-title: #a300cf;
  --mu-titlebar-background: #250035;
  --mu-vault-title: #a300cf;
  --code-background: #e8e8e8;
  --mu-sidebar-folder: #0048a3;
  --mu-h1: #0048a3;
  --mu-h2: #0048a3;
  --mu-h3: #0048a3;
  --mu-h4: #0048a3;
  --mu-h5: #0048a3;
  --mu-h6: #0048a3;
  --mu-dark-sidebar-color: #250035;
  --mu-table-th-background: #330048;
  --mu-background-color-1: #e1f0f0;
  --mu-background-color-2: #cde8e8;
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #fff;
  --mu-titlebar-background: #004040;
  --code-background: #e8e8e8;
  --mu-h1: #0048a3;
  --mu-h2: #0048a3;
  --mu-h3: #0048a3;
  --mu-h4: #0048a3;
  --mu-h5: #0048a3;
  --mu-h6: #0048a3;
  --mu-dark-sidebar-color: #002121;
  --mu-table-th-background: #004040;
  --mu-background-color-1: #e1e8d3;
  --mu-background-color-2: #d1d8c0;
  --mu-caret-color: #ff7f00;
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #fff;
  --mu-sidebar-folder: #4f573c;
  --mu-text-title: #727d57;
  --mu-titlebar-background: #3a3f2c;
  --mu-vault-title: #727d57;
  --code-background: #e8e8e8;
  --code-punctuation: #727d57;
  --mu-h1: #0048a3;
  --mu-h2: #0048a3;
  --mu-h3: #0048a3;
  --mu-h4: #0048a3;
  --mu-h5: #0048a3;
  --mu-h6: #0048a3;
  --mu-dark-sidebar-color: #1e2117;
  --mu-table-th-background: #3a3f2c;
  --mu-background-color-1: #e8e8e8;
  --mu-background-color-2: #e1e1e1;
  --mu-caret-color: #f500b4;
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #fff;
  --mu-text-title: #828282;
  --mu-titlebar-background: #080808;
  --mu-vault-title: #828282;
  --code-background: #f1f1f1;
  --code-punctuation: #979797;
  --mu-h1: #0072d3;
  --mu-h2: #0072d3;
  --mu-h3: #0072d3;
  --mu-h4: #0072d3;
  --mu-h5: #0072d3;
  --mu-h6: #0072d3;
  --mu-dark-sidebar-color: #181818;
  --mu-table-th-background: #282828;
  --mu-background-color-1: #f9edc6;
  --mu-background-color-2: #f7e8b3;
  --mu-caret-color: #d3148d;
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #fff;
  --mu-sidebar-folder: #0048a3;
  --mu-text-title: #ac3f5d;
  --mu-titlebar-background: #461828;
  --mu-vault-title: #ac3f5d;
  --code-background: #e8e8e8;
  --code-punctuation: #ac3f5d;
  --mu-h1: #0048a3;
  --mu-h2: #0048a3;
  --mu-h3: #0048a3;
  --mu-h4: #0048a3;
  --mu-h5: #0048a3;
  --mu-h6: #0048a3;
  --mu-dark-sidebar-color: #3f1423;
  --mu-table-th-background: hsl(339, 52%, 8%);
  --mu-background-color-1: #d2e1f1;
  --mu-background-color-2: #c3d6ea;
  --mu-caret-color: #d300ff;
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #fff;
  --mu-sidebar-folder: #0048a3;
  --mu-text-title: #a300cf;
  --mu-titlebar-background: #001a33;
  --mu-vault-title: #a300cf;
  --code-background: #e1e1e1;
  --code-punctuation: #a300a3;
  --mu-h1: #0048a3;
  --mu-h2: #0048a3;
  --mu-h3: #0048a3;
  --mu-h4: #0048a3;
  --mu-h5: #0048a3;
  --mu-h6: #0048a3;
  --mu-text-selection: #bf48ff33;
  --mu-suggestion-color: #0072d3;
  --mu-dark-sidebar-color: #000b15;
  --mu-table-th-background: #001a33;
  --mu-background-color-1: #dddde8;
  --mu-background-color-2: #d7d7e1;
  --mu-caret-color: #f500b4;
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #f1f1f5;
  --mu-text-title: #58586f;
  --mu-titlebar-background: #0b0b0e;
  --mu-vault-title: #58586f;
  --code-background: #c0c0cf;
  --code-punctuation: #797995;
  --mu-sidebar-folder: #0048a3;
  --mu-h1: #0048a3;
  --mu-h2: #0048a3;
  --mu-h3: #0048a3;
  --mu-h4: #0048a3;
  --mu-h5: #0048a3;
  --mu-h6: #0048a3;
  --mu-suggestion-color: #0072d3;
  --mu-text-selection: #bf48ff48;
  --mu-dark-sidebar-color: #121216;
  --mu-icon-focused: #00a3ff;
  --mu-table-th-background: #0b0b0e;
  --mu-background-color-1: #f1dbe1;
  --mu-background-color-2: #edd4da;
  --mu-caret-color: #f500b4;
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #fff;
  --mu-text-title: #a348a3;
  --mu-titlebar-background: #3d1f33;
  --mu-vault-title: #a348a3;
  --code-background: #fff1f5;
  --code-punctuation: #cf22cf;
  --mu-sidebar-folder: #0048a3;
  --mu-h1: #0048a3;
  --mu-h2: #0048a3;
  --mu-h3: #0048a3;
  --mu-h4: #0048a3;
  --mu-h5: #0048a3;
  --mu-h6: #0048a3;
  --mu-suggestion-color: #0072d3;
  --mu-text-selection: #0088ff53;
  --mu-dark-sidebar-color: #25131f;
  --mu-icon-focused: #cf22cf;
  --mu-table-th-background: #3d1f33;
  --mu-background-color-1: hsl(146, 28%, 90%);
  --mu-background-color-2: hsl(146, 28%, 86%);
  --mu-caret-color: #00a348;
  --mu-divider-color: #0a090900;
  --mu-input-bg-color: #fff;
  --mu-text-title: #50886a;
  --mu-titlebar-background: #484848;
  --mu-vault-title: #50886a;
  --code-background: hsl(146, 28%, 88%);
  --code-punctuation: #50886a;
  --mu-sidebar-folder: #0048a3;
  --mu-h1: #007fff;
  --mu-h2: #cf22ff;
  --mu-h3: #ff9300;
  --mu-h4: #3cc347;
  --mu-h5: #f63737;
  --mu-h6: #a3a300;
  --mu-suggestion-color: #0072d3;
  --mu-text-selection: #0ed8947f;
  --mu-dark-sidebar-color: #24332a;
  --tab-text-color-focused-active-current: #0072d3;
  --mu-icon-focused: #00d87f;
  --mu-table-th-background: #2c4737;
  --mu-background-color-1: #fff;
  --mu-background-color-2: #d8d8d8;
  --mu-titlebar-background: #000;
  --mu-caret-color: #0072d3;
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #fff;
  --mu-text-title: #727272;
  --mu-vault-title: #727272;
  --code-background: #f1f1f1;
  --code-punctuation: #727272;
  --mu-sidebar-folder: #000;
  --mu-folder-color-saturation: 0;
  --mu-file-color-saturation: 0;
  --nav-collapse-icon-color: #727272;
  --mu-h1: #000;
  --mu-h2: #000;
  --mu-h3: #000;
  --mu-h4: #000;
  --mu-h5: #000;
  --mu-h6: #000;
  --mu-suggestion-color: #0072d3;
  --mu-text-selection: #0088ff53;
  --mu-dark-sidebar-color: #111111;
  --mu-icon: #575757;
  --mu-icon-hover: #0072d3;
  --mu-icon-active: #0072d3;
  --mu-icon-focused: #0072d3;
  --search-icon-color: #0072d3;
  --mu-icon-statusbar-menu: #0072d3;
  --mu-table-th-background: #484848;
  --mu-folder-area-background: #bfbfbf48;
  --mu-folder-area-border: #bfbfbf88;
  --checkbox-border-color: #828282;
  --checkbox-border-color-hover: #a3a3a3;
  --text-normal: #000;
  --mu-default-mode-border-color: #0072d3;
  --mu-stacked-mode-border-color: #0072d3;
  --mu-blockquote-border: #828282;
  --mu-hr-color: #cfcfcf;
  --list-marker-color: #727272;
  --mu-file-header-border-color: #cfcfcf;
  --background-modifier-border-hover: #cfcfcf;
  --background-modifier-border: #cfcfcf;
  --modal-border-color: #cfcfcf;
  --prompt-border-color: #cfcfcf;
  --amulet-icon-color: hsl(var(--mu-amulet-hue), var(--mu-amulet-sat), 33%);
  --amulet-title-color: hsl(var(--mu-amulet-hue), var(--mu-amulet-sat), 42%);
  --mu-background-color-1: hsl(var(--mu-amulet-hue), var(--mu-amulet-sat), 90%);
  --mu-background-color-2: hsl(var(--mu-amulet-hue), var(--mu-amulet-sat), 82%);
  --mu-titlebar-background: hsl(var(--mu-amulet-hue), var(--mu-amulet-sat), 80%);
  --mu-caret-color: #0072d3;
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #fff;
  --mu-text-title: var(--amulet-title-color);
  --mu-vault-title: var(--amulet-title-color);
  --code-background: #f1f1f1;
  --code-punctuation: var(--amulet-title-color);
  --mu-sidebar-folder: #0048a3;
  --mu-h1: #0048a3;
  --mu-h2: #0048a3;
  --mu-h3: #0048a3;
  --mu-h4: #0048a3;
  --mu-h5: #0048a3;
  --mu-h6: #0048a3;
  --mu-suggestion-color: #0072d3;
  --mu-text-selection: #0088ff53;
  --mu-dark-sidebar-color: hsl(var(--mu-amulet-hue), var(--mu-amulet-sat), 8%);
  --mu-icon: var(--amulet-icon-color);
  --mu-icon-hover: var(--amulet-icon-color);
  --mu-icon-active: #0072d3;
  --mu-icon-focused: #0072d3;
  --search-icon-color: var(--amulet-icon-color);
  --mu-icon-statusbar-menu: var(--amulet-icon-color);
  --mu-table-th-background: var(--amulet-icon-color);
  --mu-accent-color: hsla(var(--color-accent-hsl), 1);
  --mu-accent-details: hsla(var(--color-accent-hsl), 0.2);
  --mu-accent-light-mode: hsl(var(--accent-h), 78%, 38%);
  --mu-accent-icons: hsl(var(--accent-h), 78%, 55%);
  --mu-background-color-1: #fff;
  --mu-background-color-2: #e1e1e1;
  --mu-titlebar-background: #080808;
  --mu-caret-color: hsl(var(--accent-h), 82%, 52%);
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #fff;
  --mu-text-title: #0072d3;
  --mu-vault-title: #0072d3;
  --code-background: #f1f1f1;
  --code-punctuation: var(--mu-accent-icons);
  --mu-sidebar-folder: #000;
  --mu-h1: var(--mu-accent-light-mode);
  --mu-h2: var(--mu-accent-light-mode);
  --mu-h3: var(--mu-accent-light-mode);
  --mu-h4: var(--mu-accent-light-mode);
  --mu-h5: var(--mu-accent-light-mode);
  --mu-h6: var(--mu-accent-light-mode);
  --mu-text-selection: #0088ff53;
  --mu-suggestion-color: var(--mu-accent-color);
  --mu-dark-sidebar-color: #111111;
  --mu-icon: hsl(var(--accent-h), 78%, 38%);
  --mu-icon-hover: var(--mu-accent-icons);
  --mu-icon-active: var(--mu-accent-icons);
  --mu-icon-focused: var(--mu-accent-icons);
  --search-icon-color: var(--mu-accent-icons);
  --mu-icon-statusbar-menu: hsl(var(--accent-h), 78%, 38%);
  --mu-folder-area-background: hsla(var(--color-accent-hsl), 0.1);
  --mu-folder-area-border: hsla(var(--color-accent-hsl), 0.3);
  --checkbox-border-color: #828282;
  --checkbox-border-color-hover: var(--mu-accent-color);
  --text-normal: #000;
  --mu-default-mode-border-color: var(--mu-accent-color);
  --mu-stacked-mode-border-color: var(--mu-accent-color);
  --mu-blockquote-border: var(--mu-accent-color);
  --mu-hr-color: var(--mu-accent-color);
  --list-marker-color: var(--mu-accent-light-mode);
  --mu-folder-color-saturation: 0;
  --mu-file-color-saturation: 0;
  --nav-collapse-icon-color: #a3a3a3;
  --background-modifier-hover: var(--mu-accent-details);
  --nav-item-background-active: var(--mu-accent-details);
  --mu-bookmarked-note-icon-bg: var(--mu-accent-details);
  --background-modifier-border-hover: var(--mu-accent-details);
  --mu-table-th-background: #080808;
  --mu-table-th-foreground-main: var(--text-accent);
  --mu-file-header-border-color: hsla(var(--color-accent-hsl), 0.5);
  --mu-file-header-border-width: 2px;
  --background-modifier-border: var(--mu-accent-details);
  --modal-border-color: var(--mu-accent-details);
  --prompt-border-color: var(--mu-accent-details);
  --mu-indent-color-level-1: var(--mu-accent-details);
  --mu-indent-color-level-2: var(--mu-accent-details);
  --mu-indent-color-level-3: var(--mu-accent-details);
  --mu-indent-color-level-4: var(--mu-accent-details);
  --mu-indent-color-level-5: var(--mu-accent-details);
  --mu-indent-color-level-6: var(--mu-accent-details);
  --mu-label-h1: #979797;
  --mu-label-h2: #979797;
  --mu-label-h3: #979797;
  --mu-label-h4: #979797;
  --mu-label-h5: #979797;
  --mu-label-h6: #979797;
  --divider-color-hover: var(--mu-accent-color);
  --mu-background-color-1: #fff;
  --mu-background-color-2: #fff;
  --mu-caret-color: #f100f1;
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #f1f1f1;
  --mu-text-title: #bf48ff;
  --mu-titlebar-background: #1f1f1f;
  --mu-vault-title: #bf48ff;
  --code-background: #f1f1f1;
  --mu-sidebar-folder: #0048a3;
  --mu-h1: #0048a3;
  --mu-h2: #0048a3;
  --mu-h3: #0048a3;
  --mu-h4: #0048a3;
  --mu-h5: #0048a3;
  --mu-h6: #0048a3;
  --mu-dark-sidebar-color: #000;
  --tab-text-color-focused-active-current: #0072d3;
  --mu-suggestion-color: #9700cf;
  --mu-icon-focused: #9700f1;
  --mu-neon-h1-color: 0, 127, 255;
  --mu-neon-h2-color: 197, 71, 255;
  --mu-neon-h3-color: 235, 152, 0;
  --mu-neon-h4-color: 0, 192, 0;
  --mu-neon-h5-color: 177, 0, 0;
  --mu-neon-h6-color: 130, 130, 0;
  --mu-neon-h1: rgb(var(--mu-neon-h1-color));
  --mu-neon-h1-glow: rgba(var(--mu-neon-h1-color), 0.7);
  --mu-neon-h2: rgb(var(--mu-neon-h2-color));
  --mu-neon-h2-glow: rgba(var(--mu-neon-h2-color), 0.7);
  --mu-neon-h3: rgb(var(--mu-neon-h3-color));
  --mu-neon-h3-glow: rgba(var(--mu-neon-h3-color), 0.7);
  --mu-neon-h4: rgb(var(--mu-neon-h4-color));
  --mu-neon-h4-glow: rgba(var(--mu-neon-h4-color), 0.7);
  --mu-neon-h5: rgb(var(--mu-neon-h5-color));
  --mu-neon-h5-glow: rgba(var(--mu-neon-h5-color), 0.7);
  --mu-neon-h6: rgb(var(--mu-neon-h6-color));
  --mu-neon-h6-glow: rgba(var(--mu-neon-h6-color), 0.7);
  --mu-neon-h1-inner: #ffffff7f;
  --mu-neon-h2-inner: #ffffff7f;
  --mu-neon-h3-inner: #ffffff7f;
  --mu-neon-h4-inner: #ffffff7f;
  --mu-neon-h5-inner: #ffffff7f;
  --mu-neon-h6-inner: #ffffff7f;
  --color-red: #ff8282;
  --color-orange: #ffc7a7;
  --color-yellow: #ffffa3;
  --color-green: #bfffbf;
  --color-cyan: #bff1ef;
  --color-blue: #a3c3ff;
  --color-purple: #d3bfff;
  --color-pink: #ffcfcf;
  --mu-laser-color-bg: #00e84d;
  --mu-laser-color-glow: #00ff5580;
  --mu-laser-color-bg: #00a3ff;
  --mu-laser-color-glow: #00a3ff88;
  --mu-laser-color-bg: #ff0000;
  --mu-laser-color-glow: #ff000088;
  --mu-laser-color-bg: #ff7f00;
  --mu-laser-color-glow: #ff7f0088;
  --mu-laser-color-bg: #ffd700;
  --mu-laser-color-glow: #ffd70088;
  --mu-laser-color-bg: #bf48ff;
  --mu-laser-color-glow: #a300ff88;
  --mu-laser-color-bg: #ff00cf;
  --mu-laser-color-glow: #ff48cf88;
}
