:root {
  --OT-sidebars-font-size: 16px;
  --OT-readingMode-text-size: 17px;
  --OT-readingMode-line-width: 42em;
  --OT-readingMode-line-height: 1.5em;
  --OT-editMode-font: var(--font-text);
  --OT-editMode-font-size: 18px;
  --OT-editMode-line-height: 1.5em;
  --OT-editMode-line-width: 45em;
  --OT-editMode-tableText-size: 0.9em;
  --OT-kanban-font: "Uberhand Pro";
  --OT-kanban-font-size: 17px;
  --OT-button-background-hover: var(--color-accent-1);
  --OT-button-background-normal: var(--color-accent-3);
  --OT-button-cta-background-normal: var(--color-accent-2);
  --OT-button-cta-text-normal: var(--OT-color-on-accent-2);
  --OT-button-OFF-bg: grey;
  --OT-button-ON-bg: var(--color-accent-2);
  --OT-button-text-hover: var(--OT-color-on-accent-1);
  --OT-button-text-normal: var(--OT-color-on-accent-3);
  --OT-callout-gallery-gap: 5px;
  --OT-calendar-day-color: var(--color-base-100);
  --OT-calendar-today-color: var(--text-normal);
  --OT-clickable-icon-in-header: var(--icon-color);
  --OT-clickable-icon-in-tab-header: var(--icon-color);
  --OT-clickable-icon-on-base-20: var(--icon-color);
  --OT-color-muted-on-accent-1: var(--color-base-70);
  --OT-color-muted-on-base-20: var(--color-base-70);
  --OT-color-on-accent-1: var(--color-base-00);
  --OT-color-on-accent-2: var(--color-base-100);
  --OT-color-on-accent-3: var(--color-base-100);
  --OT-color-on-base-20: var(--color-base-100);
  --OT-link-color-hover: var(--color-base-00);
  --OT-menu-text-color: var(--color-base-70);
  --OT-menu-background: var(--color-base-05);
  --OT-metadata-property-icon: var(--icon-color);
  --OT-nav-folder-title-color: var(--color-base-100);
  --OT-nav-item-vertical-padding: var(--size-4-1);
  --OT-pill-color: var(--OT-color-on-accent-2);
  --OT-pill-background: var(--color-accent-2);
  --OT-ribbon-icon-color-sidebar-is-collapsed: var(--icon-color);
  --OT-ribbon-icon-color-sidebar-is-open: var(--icon-color);
  --OT-search-settings-item-name: var(--OT-setting-item-name);
  --OT-setting-item-description: var(--color-base-50);
  --OT-setting-item-name: var(--color-base-100);
  --OT-sidebarTab-background-active-hover: var(--color-accent-1);
  --OT-sidebarTab-background-active: var(--color-accent-2);
  --OT-stabilo-mark: var(--stabilo-jaune-foncé);
  --OT-stabilo-text: var(--text-normal);
  --OT-syntax-markers: var(--color-base-50);
  --OT-tab-background-active-hover: var(--color-accent-1);
  --OT-table-background: var(--color-base-00);
  --OT-table-header-background: var(--color-base-05);
  --OT-table-alt-background: var(--color-base-20);
  --OT-theme-reference-color: black;
  --OT-tooltip-text-color: var(--OT-color-on-accent-1);
  --OT-tree-item-flair-background: var(--color-accent-3);
  --OT-tree-item-flair-color: var(--OT-color-on-accent-3);
  --OT-vertical-tab-header-group-title: var(--color-base-70);
  --OT-view-header-title-focus-color: var(--color-base-100);
  --OT-view-header-title-no-focus-color: var(--color-base-50);
  --OT-YAML-color: var(--color-base-50);
  --background-modifier-success: rgb(106, 245, 161);
  --blockquote-background-color: floralwhite;
  --interactive-accent-hover: hsla(var(--accent-h), 100%, var(--accent-l), 0.7);
  --interactive-accent: var(--color-accent-2);
  --interactive-hover: var(--color-accent-1);
  --background-modifier-hover: var(--interactive-accent-hover);
  --background-modifier-form-field: var(--color-base-00);
  --callout-blend-mode: normal;
  --caret-color: red;
  --checkbox-color: var(--text-normal);
  --checkbox-color-hover: var(--color-accent-1);
  --checkbox-border-color: var(--text-normal);
  --checkbox-border-color-hover: var(--color-accent-1);
  --checklist-done-color: var(--color-base-50);
  --code-normal: var(--text-normal);
  --code-background: var(--blockquote-background-color);
  --code-tag: var(--OT-syntax-markers);
  --collapse-icon-color: var(--h1-color);
  --collapse-icon-color-collapsed: var(--link-color);
  --divider-color: var(--color-base-35);
  --divider-width: 1px;
  --dropdown-background: var(--color-accent-3);
  --dropdown-background-hover: var(--color-accent-1);
  --font-ui-smaller: 14px;
  --font-ui-small: 15px;
  --font-ui-medium: 17px;
  --font-ui-large: 22px;
  --graph-line: var(--color-base-100);
  --h1-color: var(--text-normal);
  --h3-color: var(--text-normal);
  --h4-color: var(--text-normal);
  --h5-color: var(--text-normal);
  --icon-color: var(--color-base-70);
  --icon-color-active: var(--color-base-20);
  --icon-color-hover: var(--OT-color-on-accent-1);
  --search-icon-color: var(--OT-clickable-icon-in-header);
  --inline-title-color: var(--color-base-50);
  --link-color: var(--obsidian-violet);
  --link-color-hover: var(--text-accent-hover);
  --link-external-color: var(--link-color);
  --link-unresolved-color: var(--color-red);
  --list-marker-color: var(--text-normal);
  --metadata-background: var(--color-base-00);
  --metadata-border-width: 0;
  --metadata-divider-width: 1;
  --metadata-label-text-color: var(--color-base-50);
  --nav-collapse-icon-color: var(--nav-item-color);
  --nav-item-color: var(--OT-color-on-base-20);
  --nav-item-color-hover: var(--OT-color-on-accent-1);
  --nav-item-color-active: var(--OT-color-on-accent-2);
  --nav-item-color-selected: var(--color-base-20);
  --nav-item-background-active: var(--color-accent-2);
  --nav-item-background-selected: hsla(var(--color-accent-hsl), 0.1);
  --pill-color-hover: var(--OT-color-on-accent-1);
  --pill-background-hover: var(--color-accent-1);
  --pill-color-remove: var(--OT-pill-background);
  --pill-color-remove-hover: var(--OT-color-on-accent-1);
  --status-bar-background: var(--color-base-05);
  --status-bar-text-color: var(--color-base-70);
  --tab-text-color: var(--color-base-50);
  --tab-text-color-active: var(--color-base-70);
  --tab-text-color-focused: var(--color-base-70);
  --tab-text-color-focused-active: var(--color-base-70);
  --tab-text-color-focused-active-current: var(--OT-view-header-title-focus-color);
  --tab-stacked-text-transform: rotate(180deg);
  --table-background: var(--OT-table-background);
  --table-column-alt-background: undefined;
  --table-header-color: var(--h3-color);
  --tag-color: var(--OT-pill-color);
  --tag-background: var(--OT-pill-background);
  --tag-color-hover: var(--OT-color-on-accent-1);
  --tag-background-hover: var(--color-accent-1);
  --tab-container-background: var(--color-base-05);
  --text-accent-hover: var(--link-color);
  --text-accent: vat(--OT-color-on-accent-3);
  --text-error-hover: var(--color-red);
  --text-on-accent: var(--OT-color-on-accent-1);
  --text-on-hover: var(--OT-color-on-accent-1);
  --titlebar-background: #333;
  --titlebar-background-focused: var(--color-base-05);
  --toggle-thumb-color: var(--color-base-20);
  --vault-name-color: var(--OT-color-on-base-20);
  --vault-profile-color: var(--OT-color-on-base-20);
  --vault-profile-color-hover: var(--OT-color-on-accent-1);
  --accent-h: 254 !important;
  --accent-s: 60% !important;
  --accent-l: 80% !important;
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 20%)) !important;
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 0%)) !important;
  --color-accent-3: var(--color-base-20);
  --editor-font-family: var(--OT-editMode-font), "Comic Sans MS", var(--font-default);
  --border-width: 1.5px;
  --checkbox-radius: 0.3rem;
  --checkbox-size: 0.95rem;
  --file-header-border: var(--border-width) solid var(--color-base-35);
  --file-header-font-size: calc(var(--OT-readingMode-text-size) * 1.1);
  --file-header-font-weight: var(--font-semibold);
  --file-header-justify: left;
  --file-line-width: var(--OT-readingMode-line-width);
  --inline-title-font: var(--font-monospace);
  --inline-title-line-height: 0em;
  --inline-title-size: var(--OT-readingMode-text-size);
  --inline-title-style: normal;
  --inline-title-variant: normal;
  --inline-title-weight: 400;
  --line-height-normal: var(--OT-readingMode-line-height);
  --list-bullet-size: 0.4em;
  --list-indent: 1.3em;
  --metadata-border-radius: 7px;
  --metadata-label-font-weight: var(--font-semibold);
  --metadata-padding: 0;
  --modal-height: 88vh;
  --modal-max-height: 98vh;
  --nav-item-size: var(--OT-sidebars-font-size);
  --p-spacing: 0.5em;
  --popover-font-size: calc(var(--font-text-size) * 0.9);
  --popover-height: 40vh;
  --popover-max-height: 70vh;
  --popover-width: 46rem;
  --table-header-weight: var(--font-bold);
  --table-text-size: 0.9em;
  --vault-name-font-size: calc(var(--OT-sidebars-font-size) * 1.3);
  --vault-name-font-weight: var(--font-bold);
  --vault-profile-font-size: var(--font-ui-large);
}

body {
  --OT-sidebars-font-size: 16px;
  --OT-readingMode-text-size: 17px;
  --OT-readingMode-line-width: 42em;
  --OT-readingMode-line-height: 1.5em;
  --OT-editMode-font: var(--font-text);
  --OT-editMode-font-size: 18px;
  --OT-editMode-line-height: 1.5em;
  --OT-editMode-line-width: 45em;
  --OT-editMode-tableText-size: 0.9em;
  --OT-kanban-font: "Uberhand Pro";
  --OT-kanban-font-size: 17px;
  --OT-button-background-hover: var(--color-accent-1);
  --OT-button-background-normal: var(--color-accent-3);
  --OT-button-cta-background-normal: var(--color-accent-2);
  --OT-button-cta-text-normal: var(--OT-color-on-accent-2);
  --OT-button-OFF-bg: grey;
  --OT-button-ON-bg: var(--color-accent-2);
  --OT-button-text-hover: var(--OT-color-on-accent-1);
  --OT-button-text-normal: var(--OT-color-on-accent-3);
  --OT-callout-gallery-gap: 5px;
  --OT-calendar-day-color: var(--color-base-100);
  --OT-calendar-today-color: var(--text-normal);
  --OT-clickable-icon-in-header: var(--icon-color);
  --OT-clickable-icon-in-tab-header: var(--icon-color);
  --OT-clickable-icon-on-base-20: var(--icon-color);
  --OT-color-muted-on-accent-1: var(--color-base-70);
  --OT-color-muted-on-base-20: var(--color-base-70);
  --OT-color-on-accent-1: var(--color-base-00);
  --OT-color-on-accent-2: var(--color-base-100);
  --OT-color-on-accent-3: var(--color-base-100);
  --OT-color-on-base-20: var(--color-base-100);
  --OT-link-color-hover: var(--color-base-00);
  --OT-menu-text-color: var(--color-base-70);
  --OT-menu-background: var(--color-base-05);
  --OT-metadata-property-icon: var(--icon-color);
  --OT-nav-folder-title-color: var(--color-base-100);
  --OT-nav-item-vertical-padding: var(--size-4-1);
  --OT-pill-color: var(--OT-color-on-accent-2);
  --OT-pill-background: var(--color-accent-2);
  --OT-ribbon-icon-color-sidebar-is-collapsed: var(--icon-color);
  --OT-ribbon-icon-color-sidebar-is-open: var(--icon-color);
  --OT-search-settings-item-name: var(--OT-setting-item-name);
  --OT-setting-item-description: var(--color-base-50);
  --OT-setting-item-name: var(--color-base-100);
  --OT-sidebarTab-background-active-hover: var(--color-accent-1);
  --OT-sidebarTab-background-active: var(--color-accent-2);
  --OT-stabilo-mark: var(--stabilo-jaune-foncé);
  --OT-stabilo-text: var(--text-normal);
  --OT-syntax-markers: var(--color-base-50);
  --OT-tab-background-active-hover: var(--color-accent-1);
  --OT-table-background: var(--color-base-00);
  --OT-table-header-background: var(--color-base-05);
  --OT-table-alt-background: var(--color-base-20);
  --OT-theme-reference-color: black;
  --OT-tooltip-text-color: var(--OT-color-on-accent-1);
  --OT-tree-item-flair-background: var(--color-accent-3);
  --OT-tree-item-flair-color: var(--OT-color-on-accent-3);
  --OT-vertical-tab-header-group-title: var(--color-base-70);
  --OT-view-header-title-focus-color: var(--color-base-100);
  --OT-view-header-title-no-focus-color: var(--color-base-50);
  --OT-YAML-color: var(--color-base-50);
  --background-modifier-success: rgb(106, 245, 161);
  --blockquote-background-color: floralwhite;
  --interactive-accent-hover: hsla(var(--accent-h), 100%, var(--accent-l), 0.7);
  --interactive-accent: var(--color-accent-2);
  --interactive-hover: var(--color-accent-1);
  --background-modifier-hover: var(--interactive-accent-hover);
  --background-modifier-form-field: var(--color-base-00);
  --callout-blend-mode: normal;
  --caret-color: red;
  --checkbox-color: var(--text-normal);
  --checkbox-color-hover: var(--color-accent-1);
  --checkbox-border-color: var(--text-normal);
  --checkbox-border-color-hover: var(--color-accent-1);
  --checklist-done-color: var(--color-base-50);
  --code-normal: var(--text-normal);
  --code-background: var(--blockquote-background-color);
  --code-tag: var(--OT-syntax-markers);
  --collapse-icon-color: var(--h1-color);
  --collapse-icon-color-collapsed: var(--link-color);
  --divider-color: var(--color-base-35);
  --divider-width: 1px;
  --dropdown-background: var(--color-accent-3);
  --dropdown-background-hover: var(--color-accent-1);
  --font-ui-smaller: 14px;
  --font-ui-small: 15px;
  --font-ui-medium: 17px;
  --font-ui-large: 22px;
  --graph-line: var(--color-base-100);
  --h1-color: var(--text-normal);
  --h3-color: var(--text-normal);
  --h4-color: var(--text-normal);
  --h5-color: var(--text-normal);
  --icon-color: var(--color-base-70);
  --icon-color-active: var(--color-base-20);
  --icon-color-hover: var(--OT-color-on-accent-1);
  --search-icon-color: var(--OT-clickable-icon-in-header);
  --inline-title-color: var(--color-base-50);
  --link-color: var(--obsidian-violet);
  --link-color-hover: var(--text-accent-hover);
  --link-external-color: var(--link-color);
  --link-unresolved-color: var(--color-red);
  --list-marker-color: var(--text-normal);
  --metadata-background: var(--color-base-00);
  --metadata-border-width: 0;
  --metadata-divider-width: 1;
  --metadata-label-text-color: var(--color-base-50);
  --nav-collapse-icon-color: var(--nav-item-color);
  --nav-item-color: var(--OT-color-on-base-20);
  --nav-item-color-hover: var(--OT-color-on-accent-1);
  --nav-item-color-active: var(--OT-color-on-accent-2);
  --nav-item-color-selected: var(--color-base-20);
  --nav-item-background-active: var(--color-accent-2);
  --nav-item-background-selected: hsla(var(--color-accent-hsl), 0.1);
  --pill-color-hover: var(--OT-color-on-accent-1);
  --pill-background-hover: var(--color-accent-1);
  --pill-color-remove: var(--OT-pill-background);
  --pill-color-remove-hover: var(--OT-color-on-accent-1);
  --status-bar-background: var(--color-base-05);
  --status-bar-text-color: var(--color-base-70);
  --tab-text-color: var(--color-base-50);
  --tab-text-color-active: var(--color-base-70);
  --tab-text-color-focused: var(--color-base-70);
  --tab-text-color-focused-active: var(--color-base-70);
  --tab-text-color-focused-active-current: var(--OT-view-header-title-focus-color);
  --tab-stacked-text-transform: rotate(180deg);
  --table-background: var(--OT-table-background);
  --table-column-alt-background: undefined;
  --table-header-color: var(--h3-color);
  --tag-color: var(--OT-pill-color);
  --tag-background: var(--OT-pill-background);
  --tag-color-hover: var(--OT-color-on-accent-1);
  --tag-background-hover: var(--color-accent-1);
  --tab-container-background: var(--color-base-05);
  --text-accent-hover: var(--link-color);
  --text-accent: vat(--OT-color-on-accent-3);
  --text-error-hover: var(--color-red);
  --text-on-accent: var(--OT-color-on-accent-1);
  --text-on-hover: var(--OT-color-on-accent-1);
  --titlebar-background: #333;
  --titlebar-background-focused: var(--color-base-05);
  --toggle-thumb-color: var(--color-base-20);
  --vault-name-color: var(--OT-color-on-base-20);
  --vault-profile-color: var(--OT-color-on-base-20);
  --vault-profile-color-hover: var(--OT-color-on-accent-1);
  --accent-h: 254 !important;
  --accent-s: 60% !important;
  --accent-l: 80% !important;
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 20%)) !important;
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 0%)) !important;
  --color-accent-3: var(--color-base-20);
  --editor-font-family: var(--OT-editMode-font), "Comic Sans MS", var(--font-default);
  --border-width: 1.5px;
  --checkbox-radius: 0.3rem;
  --checkbox-size: 0.95rem;
  --file-header-border: var(--border-width) solid var(--color-base-35);
  --file-header-font-size: calc(var(--OT-readingMode-text-size) * 1.1);
  --file-header-font-weight: var(--font-semibold);
  --file-header-justify: left;
  --file-line-width: var(--OT-readingMode-line-width);
  --inline-title-font: var(--font-monospace);
  --inline-title-line-height: 0em;
  --inline-title-size: var(--OT-readingMode-text-size);
  --inline-title-style: normal;
  --inline-title-variant: normal;
  --inline-title-weight: 400;
  --line-height-normal: var(--OT-readingMode-line-height);
  --list-bullet-size: 0.4em;
  --list-indent: 1.3em;
  --metadata-border-radius: 7px;
  --metadata-label-font-weight: var(--font-semibold);
  --metadata-padding: 0;
  --modal-height: 88vh;
  --modal-max-height: 98vh;
  --nav-item-size: var(--OT-sidebars-font-size);
  --p-spacing: 0.5em;
  --popover-font-size: calc(var(--font-text-size) * 0.9);
  --popover-height: 40vh;
  --popover-max-height: 70vh;
  --popover-width: 46rem;
  --table-header-weight: var(--font-bold);
  --table-text-size: 0.9em;
  --vault-name-font-size: calc(var(--OT-sidebars-font-size) * 1.3);
  --vault-name-font-weight: var(--font-bold);
  --vault-profile-font-size: var(--font-ui-large);
  --h1-size: clamp(2.027em, calc(0.4rem + 5.1vw), 2.986em);
  --h2-size: clamp(1.802em, calc(0.6rem + 3.7vw), 2.488em);
  --h3-size: clamp(1.602em, calc(0.8rem + 2.5vw), 2.074em);
  --h4-size: clamp(1.424em, calc(1rem + 3vw), 1.728em);
  --h5-size: clamp(1.266em, calc(1rem + 3vw), 1.44em);
  --h6-size: clamp(1.125em, calc(1rem + 3vw), 1.2em);
  --h1-weight: 600;
  --h2-weight: 500;
  --h3-weight: 600;
  --h4-weight: 600;
  --h5-weight: 600;
  --h6-weight: 600;
  --h1-variant: normal;
  --h2-variant: small-caps;
  --h3-variant: normal;
  --h4-variant: normal;
  --h5-variant: normal;
  --h6-variant: normal;
  --h1-style: normal;
  --h2-style: normal;
  --h3-style: italic;
  --h4-style: italic;
  --h5-style: italic;
  --h6-style: italic;
  --h1-size: 2.027em;
  --h2-size: 1.802em;
  --h3-size: 1.266em;
  --h4-size: 1.125em;
  --h5-size: 1.067em;
  --h6-size: 1em;
  --h1-size: var(--font-text-size);
  --h2-size: var(--font-text-size);
  --h3-size: var(--font-text-size);
  --h4-size: var(--font-text-size);
  --h5-size: var(--font-text-size);
  --h6-size: var(--font-text-size);
  --h1-size: clamp(1.125rem, 12vw - 3.7rem, 1.5rem);
  --h2-size: clamp(1.125rem, 12vw - 3.7rem, 1.4rem);
  --h3-size: clamp(1.125rem, 12vw - 3.7rem, 1.3rem);
  --h4-size: clamp(1rem, 12vw - 3.7rem, 1.2rem);
  --h5-size: clamp(1rem, 12vw - 3.7rem, 1.1rem);
  --h6-size: 1rem;
  --h1-size: 1.383em;
  --h2-size: 1.296em;
  --h3-size: 1.215em;
  --h4-size: 1.138em;
  --h5-size: 1.067em;
  --h6-size: 1em;
  --h1-size: 1.802em;
  --h2-size: 1.602em;
  --h3-size: 1.424em;
  --h4-size: 1.266em;
  --h5-size: 1.125em;
  --h6-size: 1em;
  --h1-size: 2.488em;
  --h2-size: 2.074em;
  --h3-size: 1.728em;
  --h4-size: 1.44em;
  --h5-size: 1.2em;
  --h6-size: 1em;
  --h1-size: 3.052em;
  --h2-size: 2.441em;
  --h3-size: 1.953em;
  --h4-size: 1.563em;
  --h5-size: 1.25em;
  --h6-size: 1em;
  --link-decoration-hover: none;
  --link-external-decoration: none;
  --link-external-decoration-hover: none;
}
