body
  :is(
    .markdown-preview-sizer > div > h6,
    .markdown-rendered > h6,
    .HyperMD-header-6
  )::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  right: 0px;
  opacity: 0.5;
  bottom: 0;
  background-image: linear-gradient(
    to left,
    var(--h6-color) 30%,
    transparent 70%
  );
}
