.theme-light,
.theme-dark {
  --background-primary: var(--color-base-00) !important;
  --background-secondary: var(--color-base-00) !important;
}
.theme-light
  .mod-root
  .workspace-tabs:not(.mod-stacked)
  .workspace-tab-header.is-active,
.theme-dark .mod-root .workspace-tab-header.is-active,
.theme-light .workspace-tab-header-container,
.theme-light .workspace-ribbon.mod-left,
.workspace-tab-container,
.theme-dark:not(.theme-black) .workspace-split.mod-root .view-content {
  background-color: transparent !important;
  box-shadow: none !important;
}
.theme-light .workspace-ribbon.mod-left,
.theme-dark .workspace-ribbon.mod-left {
  border-right: none !important;
  background-color: hsla(
    var(--accent-h),
    var(--accent-s),
    var(--accent-l),
    0.05
  ) !important;
}
.theme-light .workspace-ribbon.mod-left:before,
.theme-dark:not(.theme-black) .workspace-ribbon.mod-left:before,
.theme-dar.theme-black .workspace-ribbon.mod-left:before {
  background-color: transparent !important;
  background-color: hsla(
    var(--accent-h),
    var(--accent-s),
    var(--accent-l),
    0.05
  ) !important;
}
.theme-light .workspace-tabs:not(.mod-stacked) .workspace-leaf {
  border: 1px solid
    hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.22) !important;
  border-radius: 25px;
}
.theme-light .workspace-split {
  background-color: hsla(
    var(--accent-h),
    var(--accent-s),
    var(--accent-l),
    0.06
  );
}
