:root[saved-theme="dark"] {
  --color-base-00: #171b21;
  --color-base-10: #262c36;
  --color-base-20: #262c36;
  --color-base-25: #303845;
  --color-base-30: #455063;
  --color-base-35: #546178;
  --color-base-40: #647590;
  --color-base-50: #7b89a3;
  --color-base-60: #939fb4;
  --color-base-70: #aeb7c7;
  --color-base-100: #ccd2db;
  --titlebar-background: var(--color-base-25);
  --line-number-color: var(--color-base-50);
}
