:root[saved-theme="light"] {
  --color-base-30: #b7bfcd;
  --color-base-35: #a2acbe;
  --color-base-40: #8d9ab0;
  --color-base-60: #647590;
  --color-base-70: #56647b;
  --color-base-100: #485465;
  --titlebar-background: var(--color-base-10);
  --titlebar-background-focused: var(--color-base-25);
  --line-number-color: var(--color-base-50);
}
