:root[saved-theme="light"] {
  --accent-h: 12;
  --accent-s: 31%;
  --accent-l: 60%;
  --background-primary: rgb(243, 237, 233);
  --background-primary-alt: rgb(238, 230, 225);
  --background-secondary: rgb(232, 223, 217);
  --background-secondary-alt: rgb(225, 215, 208);
  --background-modifier-border: hsla(25, 20%, 70%, 0.4);
  --color-base-00: #f8f4f0;
  --color-base-05: #f3ece6;
  --color-base-10: #eee6df;
  --color-base-20: #e6dcd3;
  --color-base-25: #d8ccc2;
  --color-base-30: #c8b9af;
  --color-base-35: #b6a79d;
  --color-base-40: #a3958c;
  --color-base-50: #8a7e76;
  --color-base-60: #6b625b;
  --color-base-70: #554d47;
  --color-base-100: #3a3330;
  --bold-color: #2d3748;
  --bold-modifier: 200;
  --h1-color: #2d3748;
  --h2-color: #4a556b;
  --h3-color: #66788d;
  --h4-color: #7f8a9b;
  --h5-color: #9aa5b5;
  --h6-color: #808080;
  --h1-indicator-color: var(--h1-color);
  --h2-indicator-color: var(--h2-color);
  --h3-indicator-color: var(--h3-color);
  --h4-indicator-color: var(--h4-color);
  --h5-indicator-color: var(--h5-color);
  --h6-indicator-color: var(--h6-color);
  --code-normal: #eb5757;
  --code-border-color: transparent;
  --inline-code-normal: #eb5757;
  --inline-code-background: hsla(31, 41%, 90%, 0.6);
  --blockquote-border-color: hsl(25, 20%, 70%);
  --blockquote-background-color: rgba(237, 228, 222, 0.811);
  --blockquote-color: hsl(25, 20%, 30%);
  --codeblock-background: rgba(234, 223, 215, 0.749);
  --codeblock-caret-color: hsl(25, 20%, 30%);
  --codeblock-border-radius: 8px;
  --text-highlight-background: rgba(248, 227, 217, 0.9);
  --text-highlight-border-color: rgb(167, 98, 64);
  --text-highlight-color: rgb(102, 80, 63);
  --text-highlight-border-radius: 4px;
  --color-red-rgb: 174, 62, 76;
  --color-blue-rgb: 74, 85, 107;
  --color-purple-rgb: 94, 72, 146;
  --color-cyan-rgb: 52, 136, 152;
  --color-blue-rgb: 95, 164, 218;
  --color-orange-rgb: 184, 110, 51;
  --color-green-rgb: 62, 132, 98;
  --color-yellow-rgb: 191, 143, 63;
  --color-pink-rgb: 184, 92, 132;
  --callout-bug: var(--color-red-rgb);
  --callout-default: var(--color-blue-rgb);
  --callout-error: 158, 48, 57;
  --callout-example: var(--color-purple-rgb);
  --callout-fail: var(--color-red-rgb);
  --callout-important: var(--color-cyan-rgb);
  --callout-info: var(--color-blue-rgb);
  --callout-question: var(--color-orange-rgb);
  --callout-success: var(--color-green-rgb);
  --callout-summary: var(--color-cyan-rgb);
  --callout-tip: var(--color-cyan-rgb);
  --callout-todo: var(--color-blue-rgb);
  --callout-warning: 191, 127, 63;
  --callout-quote: 158, 158, 158;
  --nav-button-container-bg: rgba(31, 34, 37, 0.03);
  --header-active-bg: rgba(31, 34, 37, 0.03);
}
