.color-scheme-kanagawa-dragon {
  --dragonBlack0: #0d0c0c;
  --dragonBlack1: #12120f;
  --dragonBlack2: #1d1c19;
  --dragonBlack3: #181616;
  --dragonBlack4: #282727;
  --dragonBlack5: #393836;
  --dragonBlack6: #625e5a;
  --dragonWhite: #c5c9c5;
  --dragonGreen: #87a987;
  --dragonGreen2: #8a9a7b;
  --dragonPink: #a292a3;
  --dragonOrange: #b6927b;
  --dragonOrange2: #b98d7b;
  --dragonGray: #a6a69c;
  --dragonGray2: #9e9b93;
  --dragonGray3: #7a8382;
  --dragonBlue2: #8ba4b0;
  --dragonViolet: #8992a7;
  --dragonRed: #c4746e;
  --dragonAqua: #8ea4a2;
  --dragonAsh: #737c73;
  --dragonTeal: #949fb5;
  --dragonYellow: #c4b28a;
  --waveBlue1: #223249;
  --color-red: var(--dragonRed);
  --color-orange: var(--dragonOrange);
  --color-yellow: var(--dragonYellow);
  --color-green: var(--dragonGreen2);
  --color-cyan: var(--dragonTeal);
  --color-blue: var(--dragonTeal);
  --color-purple: var(--dragonViolet);
  --color-pink: var(--dragonPink);
  --background-primary: var(--dragonBlack3);
  --background-secondary: var(--dragonBlack4);
  --selection-background-color: var(--waveBlue1);
  --border-color-primary: var(--dragonBlack5);
  --border-color-secondary: var(--dragonBlack6);
  --text-color: var(--dragonWhite);
  --text-color-accent: white;
  --text-color-muted-dark: var(--dragonBlack5);
  --text-color-muted-light: var(--dragonBlack6);
  --accent-color-dark: var(--dragonTeal);
  --accent-color-light: var(--dragonOrange);
  --accent-color-hover: var(--dragonPink);
  --accent-h: 220;
  --accent-s: 18%;
  --accent-l: 65%;
  --canvas-color: 148, 159, 181 !important;
  --code-important: var(--color-yellow);
  --code-boolean: var(--dragonOrange);
  --code-builtin: var(--dragonTeal);
  --code-comment: var(--dragonAsh);
  --code-definition: var(--dragonOrange);
  --code-keyword: var(--dragonTeal);
  --code-operator: var(--dragonRed);
  --code-property: var(--dragonWhite);
  --code-parentheses: var(--dragonGray2);
  --code-string: var(--dragonGreen2);
  --code-value: var(--dragonPink);
  --code-variable: var(--dragonYellow);
}
