.pt-color-scheme-custom-dt {
  --color-grey-base-hsl: 0, 0%, 16%;
  --color-red-base-hsl: 2, 55%, 19%;
  --color-orange-base-hsl: 26, 65%, 15%;
  --color-yellow-base-hsl: 43, 73%, 12%;
  --color-green-base-hsl: 124, 54%, 12%;
  --color-mint-base-hsl: 165, 88%, 10%;
  --color-cyan-base-hsl: 195, 65%, 13%;
  --color-blue-base-hsl: 225, 50%, 20%;
  --color-purple-base-hsl: 271, 48%, 21%;
  --color-pink-base-hsl: 325, 55%, 18%;
  --color-grey-tint-hsl: 0, 0%, 40%;
  --color-red-tint-hsl: 3, 49%, 46%;
  --color-orange-tint-hsl: 27, 53%, 37%;
  --color-yellow-tint-hsl: 44, 59%, 31%;
  --color-green-tint-hsl: 123, 43%, 32%;
  --color-mint-tint-hsl: 166, 73%, 26%;
  --color-cyan-tint-hsl: 195, 52%, 34%;
  --color-blue-tint-hsl: 224, 44%, 49%;
  --color-purple-tint-hsl: 271, 43%, 51%;
  --color-pink-tint-hsl: 325, 47%, 45%;
  --color-grey-text-hsl: 0, 0%, 67%;
  --color-red-text-hsl: 4, 74%, 74%;
  --color-orange-text-hsl: 26, 85%, 63%;
  --color-yellow-text-hsl: 44, 60%, 53%;
  --color-green-text-hsl: 124, 48%, 54%;
  --color-mint-text-hsl: 166, 67%, 45%;
  --color-cyan-text-hsl: 195, 69%, 58%;
  --color-blue-text-hsl: 225, 61%, 75%;
  --color-purple-text-hsl: 267, 52%, 75%;
  --color-pink-text-hsl: 330, 64%, 74%;
  --text-normal-hsl: 0, 0%, 91%;
  --text-muted-hsl: 0, 0%, 86%;
  --text-faint-hsl: 0, 0%, 81%;
  --background-primary-hsl: 0, 0%, 18%;
  --background-primary-alt-hsl: 0, 0%, 30%;
  --background-secondary-hsl: 0, 0%, 12%;
  --background-secondary-blur-hsl: 0, 0%, 13%;
  --background-secondary-alt-hsl: 0, 0%, 8%;
  --shadow-color-hsl: 0, 0%, 0%;
  --shadow-s: hsla(var(--shadow-color-hsl), 10%) 0 1px 2px 0;
  --shadow-l:
    hsla(var(--shadow-color-hsl), 5%) 0 1px 2px,
    hsla(var(--shadow-color-hsl), 5%) 0 2px 4px,
    hsla(var(--shadow-color-hsl), 5%) 0 4px 8px,
    hsla(var(--shadow-color-hsl), 5%) 0 6px 12px;
}
