.fas-silver-light {
  --color-space: srgb-linear;
  --color-base-00: #e7e7e7;
  --color-base-100: #000000;
  --middle-color: #000000;
  --middle-color-complement: #000000;
  --color-gray: #525252;
  --color-gray-rgb: 82, 82, 82;
  --color-brown: #652b14;
  --color-brown-rgb: 101, 43, 20;
  --color-red: #a93939;
  --color-red-rgb: 169, 57, 57;
  --color-orange: #b46a0f;
  --color-orange-rgb: 180, 106, 15;
  --color-yellow: #bfa720;
  --color-yellow-rgb: 191, 167, 32;
  --color-green: #1a631a;
  --color-green-rgb: 26, 99, 26;
  --color-cyan: #3a8d8d;
  --color-cyan-rgb: 58, 141, 141;
  --color-blue: #3b3b92;
  --color-blue-rgb: 59, 59, 146;
  --color-purple: #662779;
  --color-purple-rgb: 102, 39, 121;
  --color-pink: #c12b9b;
  --color-pink-rgb: 193, 43, 155;
}
.fas-silver-light {
  --color-rainbow-1: #9d5333;
  --color-rainbow-1-rgb: 157, 83, 51;
  --color-rainbow-2: #9d9233;
  --color-rainbow-2-rgb: 157, 146, 51;
  --color-rainbow-3: #689d33;
  --color-rainbow-3-rgb: 104, 157, 51;
  --color-rainbow-4: #339d3d;
  --color-rainbow-4-rgb: 51, 157, 61;
  --color-rainbow-5: #339d7d;
  --color-rainbow-5-rgb: 51, 157, 125;
  --color-rainbow-6: #337d9d;
  --color-rainbow-6-rgb: 51, 125, 157;
  --color-rainbow-7: #333d9d;
  --color-rainbow-7-rgb: 51, 61, 157;
  --color-rainbow-8: #68339d;
  --color-rainbow-8-rgb: 104, 51, 157;
  --color-rainbow-9: #9d3392;
  --color-rainbow-9-rgb: 157, 51, 146;
  --color-rainbow-10: #9d3353;
  --color-rainbow-10-rgb: 157, 51, 83;
}
