body .cm-s-obsidian .cm-line.HyperMD-header {
  padding: unset;
}
body .cm-s-obsidian .cm-line.HyperMD-header-2 {
  padding-top: calc(var(--p-spacing) / 2);
  padding-bottom: calc(var(--p-spacing) / 2);
}
