.w95-scheme-spruce,
.theme-light.w95-scheme-spruce {
  --background-primary: #9cc6a4;
  --background-secondary: #9cc6a4;
  --border-highlight: #cde2cd;
  --border-shadow: #529562;
  --scrollbar-track: #bfd8c4;
  --scrollbar-thumb: #b3d8ba;
  --nav-item-background-active: #529562;
  --interactive-accent: #529562;
}
