:root[saved-theme="light"] {
  --cpt-crust: 241, 230, 214;
  --cpt-crust-alt: 247, 203, 160;
  --cpt-mantle: 238, 231, 221;
  --cpt-mantle-alt: 22, 22, 22;
  --cpt-core: 247, 243, 238;
  --cpt-core-alt: 250, 238, 225;
  --cpt-red: 240, 100, 119;
  --cpt-orange: 245, 146, 75;
  --cpt-yellow: 233, 179, 92;
  --cpt-green: 154, 230, 92;
  --cpt-cyan: 89, 202, 206;
  --cpt-blue: 124, 155, 255;
  --cpt-pink: 235, 0, 235;
  --cpt-purple: 144, 120, 241;
  --cpt-black: 74, 52, 28;
  --cpt-white: 240, 240, 240;
  --cpt-text: 74, 52, 28;
  --cpt-border: 233, 223, 209;
  --color-accent: rgb(var(--cpt-accent));
  --cpt-accent: var(--cpt-aura);
  --cpt-aura: var(--cpt-yellow);
  --background-primary: rgb(var(--cpt-core));
  --background-primary-alt: rgb(var(--cpt-core-alt));
  --background-secondary: rgb(var(--cpt-mantle));
  --background-secondary-alt: rgb(var(--cpt-mantle-alt));
  --titlebar-background: rgb(var(--cpt-mantle));
  --titlebar-background-focused: rgb(var(--cpt-crust));
  --modal-border-color: rgb(var(--cpt-border));
  --background-modifier-border: rgb(var(--cpt-border));
  --background-modifier-border-hover: rgb(var(--cpt-border));
  --background-modifier-form-field: rgb(var(--cpt-crust));
  --background-modifier-hover: rgba(var(--cpt-crust), 0.7);
  --interactive-normal: rgb(var(--cpt-mantle));
  --interactive-hover: rgb(var(--cpt-core), 0.7);
  --interactive-accent: rgb(var(--cpt-accent));
  --interactive-accent-hover: rgba(var(--cpt-accent), 0.7);
  --text-normal: rgb(var(--cpt-text));
  --text-faint: rgba(var(--cpt-text), 0.9);
  --text-muted: rgba(var(--cpt-text), 0.9);
  --text-accent: rgb(var(--cpt-accent));
  --text-accent-hover: rgba(var(--cpt-accent), 0.7);
  --text-on-accent: var(--text-on-accent-inverted);
  --text-selection: rgba(var(--cpt-accent), 0.1);
  --bold-color: rgb(var(--cpt-red));
  --italic-color: rgb(var(--cpt-blue));
  --cpt-marker-shadow: rgb(var(--cpt-accent));

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
