:root:root {
  --background-modifier-border: #2c1c42;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: #151515;
  --background-modifier-error-hover: #db6088;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error: #db6088;
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #8edf5f;
  --background-primary-alt: #39274c;
  --background-primary: #201430;
  --background-secondary-alt: #483160;
  --background-secondary: #452f5c;
  --divider-color-hover: #39274c;
  --divider-color: #452f5c;
  --highlight-mix-blend-mode: darken;
  --interactive-accent: #8edf5f;
  --interactive-accent-hover: #87ff5f;
  --interactive-normal: #43492a;
  --interactive-hover: #444444;
  --interactive-success: #8edf5f;
  --ribbon-background: #483160;
  --scrollbar-active-th: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --link-color-hover: #ce67f0;
  --link-color: #b968fc;
  --link-decoration: dashed;
  --link-external-color-hover: #ce67f0;
  --link-external-color: #b968fc;
  --link-external-decoration: wavy;
  --link-unresolved-color: #666;
  --link-unresolved-decoration-color: #9f50e1;
  --text-accent-hover: #875faf;
  --text-accent: #875faf;
  --text-error-hover: #db6088;
  --text-error: #db6088;
  --text-faint: #ada4a0;
  --text-highlight-bg-active: rgba(135, 255, 95, 1);
  --text-highlight-bg: rgba(135, 255, 95, 0.85);
  --text-muted-rgb: 153, 153, 153;
  --text-muted: #d4d4d4;
  --text-normal: #e1d6f8;
  --text-on-accent: #d4d4d4;
  --text-selection: #9cda7c;
  --code-background: #30213f;
  --code-comment: #a1a0ad;
  --code-function: #9cda7c;
  --code-important: #8bd450;
  --code-keyword: #87ff5f;
  --code-normal: #e1d6f8;
  --code-operator: #b968fc;
  --code-property: #ce67f0;
  --code-punctuation: #b968fc;
  --code-string: #ab92fc;
  --code-tag: #e6bb85;
  --code-value: #d99145;
  --table-background: transparent;
  --table-border-color: #483160;
  --table-border-width: 1;
  --table-header-background: #9f50e1;
  --table-header-border-color: #9f50e1;
  --table-header-color: #000000;
  --table-text-color: #e1d6f8;
  --table-selection: #9cda7c;
  --table-selection-border-color: #87ff5f;
  --table-selection-border-width: 1;
  --table-drag-handle-background: #452f5c;
  --table-drag-handle-color: #e1d6f8;
  --table-add-button-background: #452f5c;
  --table-add-button-border-width: 0;
  --table-add-button-border-color: #e1d6f8;
  --tag-color: #87ff5f;
  --tag-background: #67478a;
  --tag-radius: 0px;
  --tab-curve: 0;
  --tab-gap: 5px;
  --tab-radius: 0;
  --tab-radius-active: 0;
  --input-radius: 0px;
  --dropdown-background: #39274c;
  --prompt-border-width: 1px;
  --prompt-border-color: #67478a;
  --nav-indentation-guide-color: #28163b;
  --nav-collapse-icon-color: #d99145;
  --nav-collapse-icon-color-collapsed: #c88034;
}
