@import "fonts";

:root {
}

body {
  --h1-size: 2rem;
  --h2-size: 1.8rem;
  --h3-size: 1.6rem;
  --h4-size: 1.5rem;
  --h5-size: 1.4rem;
  --h6-size: 1.3rem;
  --checkbox-radius: 50%;
  --link-decoration: auto;
  --link-external-decoration: auto;
  --line-width: 40rem;
  --line-height: 1.5;
  --max-width: 90%;
  --max-col-width: 18em;
  --icon-muted: 0.5;
  --nested-padding: 1.1em;
  --folding-offset: 10px;
  --line-width-adaptive: var(--line-width);
  --line-width-wide: calc(var(--line-width) + 12.5%);
}

:root[saved-theme="dark"] {
  --accent-h: 40;
  --accent-s: 50%;
  --accent-l: 50%;
  --color-prime: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --base-h: 212;
  --base-s: 15%;
  --base-l: 15%;
  --background-primary: #222222;
  --background-primary-alt: #262626;
  --background-secondary: #222222;
  --background-secondary-alt: #262626;
  --text-normal: #bbc0c5;
  --text-graph: #dde0e5;
  --dot-graph: #bbc0c5;
  --text-faint: #a09b80;
  --text-link: #59a2c5;
  --text-accent: #59a2c5;
  --text-accent-hover: #b3a14b;
  --text-title-h1: #939bd6;
  --text-title-h2: #ba7390;
  --text-title-h3: #b78b60;
  --text-title-h4: #a79645;
  --text-title-h5: #859676;
  --text-title-h6: #799097;
  --text-highlight: #db711a;
  --text-highlight-background: rgba(255, 208, 0, 0.4);
  --tag-background-color: #123b2b;
  --tag-background-color-hover: #194a37;
  --tag-font-color: #bbc0c5;
  --code-background: #383838;
  --code-comment: #6a9955;
  --code-keyword: #c586c0;
  --code-class: #4ec9b0;
  --code-package: #3f9486;
  --code-function: #dcdcaa;
  --code-number: #b5cea8;
  --code-value: #b5cea8;
  --code-string: #ce9178;
  --code-variable: #8cdcfe;
  --code-define: #569cd6;
  --code-bracket: #ffd700;
  --code-oper: #d4d4d4;
  --code-tag: #b5cea8;
  --code-punctuation: #d4d4d4;
  --code-operator: #d4d4d4;
  --code-property: #9cdcfe;
  --h1-color: var(--text-title-h1);
  --h2-color: var(--text-title-h2);
  --h3-color: var(--text-title-h3);
  --h4-color: var(--text-title-h4);
  --h5-color: var(--text-title-h5);
  --h6-color: var(--text-title-h6);
  --strong-color: var(--text-highlight);
  --em-color: var(--text-highlight);
  --quote-color: var(--text-highlight);
  --tag-background: var(--tag-background-color);
  --tag-background-hover: var(--tag-background-color-hover);
  --tag-color: var(--tag-font-color);
  --tag-color-hover: var(--tag-font-color);
  --checkbox-border-color: var(--color-prime);
  --checkbox-color: var(--color-prime);
  --divider-color: var(--background-primary-alt);
}

:root[saved-theme="light"] {
}
