body.eclipse-theme {
  --background-primary: #1a1c1d;
  --background-secondary: #262729;
  --text-normal: #a6a8aa;
  --text-faint: #ffffff;
  --text-accent: #1cb6ca;
  --icon-color: #a6a6a6;
  --background-modifier-border: var(--border-size) var(--border-style) #424242;
  --code-background: #1c1d24;
  --code-keyword: #de895b;
  --code-normal: #a8aeb0;
  --code-operator: #b89cdd;
  --code-value: #e3b750;
  --code-function: #dcbb59;
  --code-property: #d29a8c;
  --code-string: #05a36e;
  --hr-color: #424242;
  --table-border-color: #424242;
  --canvas-dot-pattern: #4f5a77;
}
