.fileIcons .nav-file-icon::before {
  content: '\e800';
  text-align: center;
  color: var(--custom-file-icon);
  font-family: 'its';
  margin-right: 6px;
  vertical-align: top;
  font-size: 13px;
  font-weight: 10 !important;
}
.fileIcons
  .nav-folder-children
  .nav-file-title
  > .nav-file-title-content::before {
  content: '\e800';
  text-align: center;
  color: var(--custom-file-icon);
}
.fileIcons .nav-file-title:hover > .nav-file-title-content::before {
  color: var(--custom-file-icon-hover);
}
.fileIcons
  .file-tree-plugin-view
  .oz-nav-file-title
  .oz-nav-file-title-content::before {
  content: '\e800';
  text-align: center;
  color: var(--custom-file-icon);
}
.fileIcons
  .file-tree-plugin-view
  .oz-nav-file-title:hover
  .oz-nav-file-title-content::before {
  color: var(--custom-file-icon-hover);
}
