.catppuccin-mocha {
  /*PALETTE*/
  --love-rgb: 250, 179, 135;
  /*Peach*/
  --gold-rgb: 249, 226, 175;
  /*Yellow*/
  --rose-rgb: 235, 160, 172;
  /*Maroon*/
  --foam-rgb: 137, 180, 250;
  /*Blue*/
  --pine-rgb: 166, 227, 161;
  /*Green*/
  --iris-rgb: 203, 166, 247;
  /*Mauve*/
  --base: #181825;
  /*mantle*/
  --surface-rgb: 30, 30, 46;
  /*Base*/
  --overlay: #11111b;
  /*crust*/
  --muted: #a6adc8;
  /*subtext0*/
  --subtle: #bac2de;
  /*subtext1*/
  --text: #cdd6f4;
  /*text*/
  --highlight-low: rgba(49, 50, 68, 0.5);
  /*surface0*/
  --highlight-med-rgb: 69, 71, 90;
  /*surface1*/
  --highlight-high: #585b70;
  /*surface2*/
  /*override accent color !*/
  --accent-h: 232;
  --accent-s: 97%;
  --accent-l: 85%;
  --color-accent-hsl: 232, 97%, 85%;
  /*Lavender*/
}
