body.all-rounded-corners-highlight .cm-s-obsidian span.cm-highlight,
body.all-rounded-corners-highlight
  :is(.markdown-preview-view, .markdown-rendered)
  mark {
  -webkit-box-decoration-break: clone;
  border-radius: 5px;
  padding: 1px 2px;
  margin: 0 2px;
}

body.all-rounded-corners-highlight
  .cm-s-obsidian
  .cm-formatting.cm-formatting-highlight:has(+ span.cm-highlight) {
  border-radius: 5px 0 0 5px;
  padding: 1px 0;
  margin: 0 -5px 0 2px;
}

body.all-rounded-corners-highlight
  .cm-s-obsidian
  .cm-formatting.cm-formatting-highlight
  + span.cm-highlight:has(+ span.cm-highlight) {
  padding: 1px 4px;
}

body.all-rounded-corners-highlight
  .cm-s-obsidian
  span.cm-highlight
  + .cm-formatting.cm-formatting-highlight {
  border-radius: 0 5px 5px 0;
  padding: 1px 0;
  margin: 0 2px 0 -5px;
}
