:root[saved-theme="dark"] {
  --ctp-rosewater: 245, 224, 220;
  --ctp-flamingo: 242, 205, 205;
  --ctp-pink: 245, 194, 231;
  --ctp-mauve: 203, 166, 247;
  --ctp-red: 243, 139, 168;
  --ctp-maroon: 235, 160, 172;
  --ctp-peach: 250, 179, 135;
  --ctp-yellow: 249, 226, 175;
  --ctp-green: 166, 227, 161;
  --ctp-teal: 148, 226, 213;
  --ctp-sky: 137, 220, 235;
  --ctp-sapphire: 116, 199, 236;
  --ctp-blue: 137, 180, 250;
  --ctp-lavender: 180, 190, 254;
  --ctp-text: 205, 214, 244;
  --ctp-subtext1: 186, 194, 222;
  --ctp-subtext0: 166, 173, 200;
  --ctp-overlay2: 147, 153, 178;
  --ctp-overlay1: 127, 132, 156;
  --ctp-overlay0: 108, 112, 134;
  --ctp-surface2: 88, 91, 112;
  --ctp-surface1: 69, 71, 90;
  --ctp-surface0: 49, 50, 68;
  --ctp-base: 30, 30, 46;
  --ctp-mantle: 24, 24, 37;
  --ctp-crust: 17, 17, 27;
  --hex-pink: #f5c2e7;
  --hex-mauve: #cba6f7;
  --hex-red: #f38ba8;
  --hex-peach: #fab387;
  --hex-yellow: #f9e2af;
  --hex-green: #a6e3a1;
  --hex-teal: #94e2d5;
  --hex-sky: #89dceb;
  --hex-sapphire: #74c7ec;
  --hex-blue: #89b4fa;
  --hex-lavender: #b4befe;
  --color-red-rgb: var(--ctp-red);
  --color-red: var(--hex-red);
  --color-orange-rgb: var(--ctp-peach);
  --color-orange: var(--hex-peach);
  --color-yellow-rgb: var(--ctp-yellow);
  --color-yellow: var(--hex-yellow);
  --color-green-rgb: var(--ctp-green);
  --color-green: var(--hex-green);
  --color-cyan-rgb: var(--ctp-sapphire);
  --color-cyan: var(--hex-sapphire);
  --color-blue-rgb: var(--ctp-blue);
  --color-blue: var(--hex-blue);
  --color-purple-rgb: var(--ctp-mauve);
  --color-purple: var(--hex-mauve);
  --color-pink-rgb: var(--ctp-pink);
  --color-pink: var(--hex-pink);
  --background-primary: rgb(var(--ctp-base));
  --background-primary-rgb: var(--ctp-base);
  --background-primary-alt: rgb(var(--ctp-mantle));
  --background-secondary: rgb(var(--ctp-mantle));
  --background-secondary-alt: rgb(var(--ctp-crust));
  --background-modifier-border: rgb(var(--ctp-surface0));
  --background-modifier-form-field: rgb(var(--ctp-crust), 30%);
  --background-modifier-form-field-highlighted: rgb(var(--ctp-crust), 22%);
  --background-modifier-box-shadow: rgb(var(--ctp-crust), 30%);
  --background-modifier-success: rgb(var(--ctp-green), 90%);
  --background-modifier-success-rgb: var(--ctp-green);
  --background-modifier-error: rgb(var(--ctp-red), 90%);
  --background-modifier-error-rgb: var(--ctp-red);
  --background-modifier-error-hover: rgb(var(--ctp-red), 100%);
  --background-modifier-cover: rgb(var(--ctp-crust), 90%);
  --color-accent: rgb(var(--ctp-accent));
  --color-accent-1: rgb(var(--ctp-accent));
  --color-accent-2: rgb(var(--ctp-accent), 90%);
  --text-accent: rgb(var(--ctp-accent));
  --text-accent-hover: rgb(var(--ctp-accent));
  --text-normal: rgb(var(--ctp-text));
  --text-muted: rgb(var(--ctp-subtext0));
  --text-muted-rgb: var(--ctp-subtext0);
  --text-faint: rgb(var(--ctp-surface1));
  --text-error: rgb(var(--ctp-red));
  --text-error-hover: rgb(var(--ctp-red), 80%);
  --text-highlight-bg: rgb(var(--ctp-rosewater), 100%);
  --text-highlight-bg-active: rgb(var(--ctp-rosewater), 100%);
  --text-selection: rgb(var(--ctp-overlay2), 30%);
  --text-on-accent: rgb(var(--ctp-mantle));
  --text-on-accent-inverted: rgb(var(--ctp-mantle));
  --interactive-normal: rgb(var(--ctp-surface0));
  --interactive-hover: rgb(var(--ctp-surface1));
  --interactive-accent: rgb(var(--ctp-accent));
  --interactive-accent-rgb: var(--ctp-accent);
  --interactive-accent-hover: rgb(var(--ctp-accent));
  --interactive-success: rgb(var(--ctp-green));
  --scrollbar-active-thumb-bg: rgb(var(--ctp-text), 20%);
  --scrollbar-bg: rgb(var(--ctp-text), 5%);
  --scrollbar-thumb-bg: rgb(var(--ctp-text), 10%);
  --mono-rgb-0: var(--ctp-crust);
  --mono-rgb-100: var(--ctp-text);
  --color-red-rgb: var(--ctp-red);
  --color-red: rgb(var(--ctp-red));
  --color-green-rgb: var(--ctp-green);
  --color-green: rgb(var(--ctp-green));
  --color-orange: rgb(var(--ctp-peach));
  --color-yellow: rgb(var(--ctp-yellow));
  --color-cyan: rgb(var(--ctp-sky));
  --color-blue: rgb(var(--ctp-blue));
  --color-purple: rgb(var(--ctp-lavender));
  --color-pink: rgb(var(--ctp-pink));
  --color-base-00: rgb(var(--ctp-crust));
  --color-base-10: rgb(var(--ctp-mantle));
  --color-base-20: rgb(var(--ctp-base));
  --color-base-25: rgb(var(--ctp-surface0));
  --color-base-30: rgb(var(--ctp-surface1));
  --color-base-35: rgb(var(--ctp-surface2));
  --color-base-40: rgb(var(--ctp-overlay0));
  --color-base-50: rgb(var(--ctp-overlay1));
  --color-base-60: rgb(var(--ctp-overlay2));
  --color-base-70: rgb(var(--ctp-subtext0));
  --color-base-100: rgb(var(--ctp-text));
  --highlight-mix-blend-mode: lighten;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
