$background_: #1e1e2e;
$border_: #6c7086;
$lines_: #b4befe;
$text_: #cdd6f4;
$header-text_: #a6adc8;
$special-text_: #89b4fa;
$hover_: #74c7ec;
$links-background_: #89b4fa33;
$highlight_: #9399b24d;

$callouts_: (
  "note": (
    "color": #89b4fa,
    "border": #89b4fa44,
    "background": #89b4fa10,
  ),
  "abstract": (
    "color": #74c7ec,
    "border": #74c7ec44,
    "background": #74c7ec10,
  ),
  "info": (
    "color": #89b4fa,
    "border": #89b4fa44,
    "background": #89b4fa10,
  ),
  "todo": (
    "color": #89b4fa,
    "border": #89b4fa44,
    "background": #89b4fa10,
  ),
  "tip": (
    "color": #74c7ec,
    "border": #74c7ec44,
    "background": #74c7ec10,
  ),
  "success": (
    "color": #a6e3a1,
    "border": #a6e3a144,
    "background": #a6e3a110,
  ),
  "question": (
    "color": #f9e2af,
    "border": #f9e2af44,
    "background": #f9e2af10,
  ),
  "warning": (
    "color": #fab387,
    "border": #fab38744,
    "background": #fab38710,
  ),
  "failure": (
    "color": #f38ba8,
    "border": #f38ba844,
    "background": #f38ba810,
  ),
  "danger": (
    "color": #f38ba8,
    "border": #f38ba844,
    "background": #f38ba810,
  ),
  "bug": (
    "color": #f38ba8,
    "border": #f38ba844,
    "background": #f38ba810,
  ),
  "example": (
    "color": #cba6f7,
    "border": #cba6f744,
    "background": #cba6f710,
  ),
  "quote": (
    "color": #9399b2,
    "border": #9399b244,
    "background": #9399b210,
  ),
);
