:root[saved-theme="light"],
html[saved-theme="light"] {

  color-scheme: light;

  .callout {
    --callout-blend-mode: darken;
  }

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }

  .theme-dark { --color-orange-rgb: 250, 179, 135;
--color-yellow-rgb: 249, 226, 175;
--color-cyan-rgb: 116, 199, 236;
--color-blue-rgb: 137, 180, 250;
--color-purple-rgb: 203, 166, 247;
--color-pink-rgb: 245, 194, 231;
--background-primary: rgb(30, 30, 46);
--background-primary-rgb: 30, 30, 46;
--background-primary-alt: rgb(24, 24, 37);
--background-secondary: rgb(24, 24, 37);
--background-secondary-alt: rgb(17, 17, 27);
--background-modifier-border: rgb(49, 50, 68);
--background-modifier-form-field: rgb(17, 17, 27, 30%);
--background-modifier-form-field-highlighted: rgb(17, 17, 27, 22%);
--background-modifier-box-shadow: rgb(17, 17, 27, 30%);
--background-modifier-success: rgb(166, 227, 161, 90%);
--background-modifier-success-rgb: 166, 227, 161;
--background-modifier-error: rgb(243, 139, 168, 90%);
--background-modifier-error-rgb: 243, 139, 168;
--background-modifier-error-hover: rgb(243, 139, 168, 100%);
--background-modifier-cover: rgb(17, 17, 27, 90%);
--color-accent: rgb(180, 190, 254);
--color-accent-1: rgb(180, 190, 254);
--color-accent-2: rgb(180, 190, 254, 90%);
--text-accent: rgb(180, 190, 254);
--text-accent-hover: rgb(180, 190, 254);
--text-normal: rgb(205, 214, 244);
--text-muted: rgb(166, 173, 200);
--text-muted-rgb: 166, 173, 200;
--text-faint: rgb(69, 71, 90);
--text-error: rgb(243, 139, 168);
--text-error-hover: rgb(243, 139, 168, 80%);
--text-highlight-bg: rgb(244, 219, 214, 100%);
--text-highlight-bg-active: rgb(244, 219, 214, 100%);
--text-selection: rgb(147, 153, 178, 30%);
--text-on-accent: rgb(24, 24, 37);
--text-on-accent-inverted: rgb(24, 24, 37);
--interactive-normal: rgb(49, 50, 68);
--interactive-hover: rgb(69, 71, 90);
--interactive-accent: rgb(180, 190, 254);
--interactive-accent-rgb: 180, 190, 254;
--interactive-accent-hover: rgb(180, 190, 254);
--interactive-success: rgb(166, 227, 161);
--scrollbar-active-thumb-bg: rgb(205, 214, 244, 20%);
--scrollbar-bg: rgb(205, 214, 244, 5%);
--scrollbar-thumb-bg: rgb(205, 214, 244, 10%);
--mono-rgb-0: 17, 17, 27;
--mono-rgb-100: 205, 214, 244;
--color-red-rgb: 243, 139, 168;
--color-red: rgb(243, 139, 168);
--color-green-rgb: 166, 227, 161;
--color-green: rgb(166, 227, 161);
--color-orange: rgb(250, 179, 135);
--color-yellow: rgb(249, 226, 175);
--color-cyan: rgb(137, 220, 235);
--color-blue: rgb(137, 180, 250);
--color-purple: rgb(180, 190, 254);
--color-pink: rgb(245, 194, 231);
--color-base-00: rgb(17, 17, 27);
--color-base-10: rgb(24, 24, 37);
--color-base-20: rgb(30, 30, 46);
--color-base-25: rgb(49, 50, 68);
--color-base-30: rgb(69, 71, 90);
--color-base-35: rgb(88, 91, 112);
--color-base-40: rgb(108, 112, 134);
--color-base-50: rgb(127, 132, 156);
--color-base-60: rgb(147, 153, 178);
--color-base-70: rgb(166, 173, 200);
--color-base-100: rgb(205, 214, 244);

}

