:root[saved-theme="light"] {
  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: var(--ctp-crust);
  --mono-rgb-100: var(--ctp-text);
  --color-red-rgb: var(--ctp-red);
  --color-red: rgb(var(--ctp-red));
  --color-orange-rgb: var(--ctp-peach);
  --color-orange: rgb(var(--ctp-peach));
  --color-yellow-rgb: var(--ctp-yellow);
  --color-yellow: rgb(var(--ctp-yellow));
  --color-green-rgb: var(--ctp-green);
  --color-green: rgb(var(--ctp-green));
  --color-cyan-rgb: var(--ctp-sapphire);
  --color-cyan: rgb(var(--ctp-sky));
  --color-blue-rgb: var(--ctp-blue);
  --color-blue: rgb(var(--ctp-blue));
  --color-purple-rgb: var(--ctp-mauve);
  --color-purple: rgb(var(--ctp-lavender));
  --color-pink-rgb: var(--ctp-pink);
  --color-pink: rgb(var(--ctp-pink));
  --color-base-00: rgb(var(--ctp-crust));
  --color-base-05: #fcfcfc;
  --color-base-10: rgb(var(--ctp-mantle));
  --color-base-20: rgb(var(--ctp-base));
  --color-base-25: rgb(var(--ctp-surface0));
  --color-base-30: rgb(var(--ctp-surface1));
  --color-base-35: rgb(var(--ctp-surface2));
  --color-base-40: rgb(var(--ctp-overlay0));
  --color-base-50: rgb(var(--ctp-overlay1));
  --color-base-60: rgb(var(--ctp-overlay2));
  --color-base-70: rgb(var(--ctp-subtext0));
  --color-base-100: rgb(var(--ctp-text));
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: rgb(var(--ctp-accent));
  --color-accent-1: rgb(var(--ctp-accent));
  --color-accent-2: rgb(var(--ctp-accent), 90%);
  --background-secondary-alt: rgb(var(--ctp-crust));
  --background-modifier-box-shadow: rgb(var(--ctp-crust), 30%);
  --background-modifier-cover: rgb(var(--ctp-crust), 90%);
  --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.05),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042),
    0px 15px 30px rgba(0, 0, 0, 0.07);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --ctp-rosewater: 220, 138, 120;
  --ctp-flamingo: 221, 120, 120;
  --ctp-pink: 234, 118, 203;
  --ctp-mauve: 136, 57, 239;
  --ctp-red: 210, 15, 57;
  --ctp-maroon: 230, 69, 83;
  --ctp-peach: 254, 100, 11;
  --ctp-yellow: 223, 142, 29;
  --ctp-green: 64, 160, 43;
  --ctp-teal: 23, 146, 153;
  --ctp-sky: 4, 165, 229;
  --ctp-sapphire: 32, 159, 181;
  --ctp-blue: 30, 102, 245;
  --ctp-lavender: 114, 135, 253;
  --ctp-text: 76, 79, 105;
  --ctp-subtext1: 92, 95, 119;
  --ctp-subtext0: 108, 111, 133;
  --ctp-overlay2: 124, 127, 147;
  --ctp-overlay1: 140, 143, 161;
  --ctp-overlay0: 156, 160, 176;
  --ctp-surface2: 172, 176, 190;
  --ctp-surface1: 188, 192, 204;
  --ctp-surface0: 204, 208, 218;
  --ctp-base: 239, 241, 245;
  --ctp-mantle: 230, 233, 239;
  --ctp-crust: 220, 224, 232;
  --hex-pink: #ea76cb;
  --hex-mauve: #8839ef;
  --hex-red: #d20f39;
  --hex-peach: #fe640b;
  --hex-yellow: #df8e1d;
  --hex-green: #40a02b;
  --hex-teal: #179299;
  --hex-sky: #04a5e5;
  --hex-sapphire: #209fb5;
  --hex-blue: #1e66f5;
  --hex-lavender: #7287fd;
  --background-primary: rgb(var(--ctp-base));
  --background-primary-rgb: var(--ctp-base);
  --background-primary-alt: rgb(var(--ctp-mantle));
  --background-secondary: rgb(var(--ctp-mantle));
  --background-modifier-border: rgb(var(--ctp-surface0));
  --background-modifier-form-field: rgb(var(--ctp-crust), 30%);
  --background-modifier-form-field-highlighted: rgb(var(--ctp-crust), 22%);
  --background-modifier-success: rgb(var(--ctp-green), 90%);
  --background-modifier-success-rgb: var(--ctp-green);
  --background-modifier-error: rgb(var(--ctp-red), 90%);
  --background-modifier-error-rgb: var(--ctp-red);
  --background-modifier-error-hover: rgb(var(--ctp-red), 100%);
  --text-accent: rgb(var(--ctp-accent));
  --text-accent-hover: rgb(var(--ctp-accent));
  --text-normal: rgb(var(--ctp-text));
  --text-muted: rgb(var(--ctp-subtext0));
  --text-muted-rgb: var(--ctp-subtext0);
  --text-faint: rgb(var(--ctp-surface1));
  --text-error: rgb(var(--ctp-red));
  --text-error-hover: rgb(var(--ctp-red), 80%);
  --text-highlight-bg: rgb(var(--ctp-rosewater), 100%);
  --text-highlight-bg-active: rgb(var(--ctp-rosewater), 100%);
  --text-selection: rgb(var(--ctp-overlay2), 30%);
  --text-on-accent: rgb(var(--ctp-mantle));
  --text-on-accent-inverted: rgb(var(--ctp-mantle));
  --interactive-normal: rgb(var(--ctp-surface0));
  --interactive-hover: rgb(var(--ctp-surface1));
  --interactive-accent: rgb(var(--ctp-accent));
  --interactive-accent-rgb: var(--ctp-accent);
  --interactive-accent-hover: rgb(var(--ctp-accent));
  --interactive-success: rgb(var(--ctp-green));
  --scrollbar-active-thumb-bg: rgb(var(--ctp-text), 20%);
  --scrollbar-bg: rgb(var(--ctp-text), 5%);
  --scrollbar-thumb-bg: rgb(var(--ctp-text), 10%);
}
