body:not(.collapsed-borders) .workspace-ribbon.mod-left.is-collapsed {
  border-right-color: var(--background-secondary-alt);
}

body:not(.collapsed-borders) .workspace-ribbon.mod-right.is-collapsed {
  border-left-color: var(--background-secondary-alt);
}
