body div.empty-state-title {
  display: unset;
}
body div.empty-state-container::before {
  font-family: monospace;
  content: var(--flexcyon-ascii-art);
  font-weight: bold;
  background: linear-gradient(
    to right,
    var(--text-accent),
    var(--color-blue),
    var(--color-cyan)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: var(--flexcyon-ascii-line-height);
  white-space: pre;
  margin-bottom: 2rem;
  text-align: center;
  display: inline;
  font-size: min(3vw - 3.25px, var(--flexcyon-ascii-max-font-size));
}
body div.empty-state-container {
  transform: translateY(-115px);
}
body.is-mobile div.empty-state-container::before {
  font-size: min(3vw - 3px, var(--flexcyon-ascii-max-font-size));
  margin-bottom: 1rem;
  line-height: 0.8;
}
