:root {
  --font-size-obsidian-titlebar: 0.75em;
  --font-size-embed-title-size: 1.125em;
  --font-size-embed-file: 1.25em;
  --font-size-h1: 1.5625em;
  --font-size-h2: 1.4375em;
  --font-size-h3: 1.3125em;
  --font-size-h4: 1.1875em;
  --font-size-h5: 1.0625em;
  --font-size-h6: 0.9375em;
  --font-size-tag: 1em;
  --font-size-list: 1em;
  --font-size-preview-blockquote: 1em;
  --font-size-edit-blockquote: 1em;
  --font-size-code: 0.9375em;
  --font-size-edit-code: 1em;
  --font-size-latex: 1.25em;
  --text-size-cloze: 0.9375em;
  --font-family-h1:                                                      ;
  --font-family-h2:                                                      ;
  --font-family-h3:                                                      ;
  --font-family-h4:                                                      ;
  --font-family-h5:                                                      ;
  --font-family-h6:                                                      ;
  --font-family-preview-edit-code: "Consolas", "Monaco", monospace;
  --text-family-inline-code: "Consolas", "Monaco", monospace;
  --font-family-tag:                                                     ;
  --font-family-YAML: "Lucida Handwriting", "Dancing Script", "Hand of Sean", "Angelina", cursive;
  --font-monospace: "Consolas", "Monaco", "Source Code Pro", monospace;
  --mermaid-font-family: '"trebuchet ms", verdana, arial' !important;
  --mermaid-font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

body {
}
