.theme-gleam.theme-light {
  --vault-icon: '✨';
  --accent-h: 232 !important;
  --accent-s: 75% !important;
  --accent-l: 70% !important;
  --doc-bg: hsl(229, 13%, 83%);
  --shadow-color: hsl(0, 0%, 92%);
  --color-red-rgb: 255, 114, 114;
  --color-red: rgb(255, 114, 114);
  --color-green-rgb: 132, 204, 124;
  --color-green: rgb(132, 204, 124);
  --color-orange-rgb: 255, 160, 88;
  --color-orange: rgb(255, 160, 88);
  --color-yellow-rgb: 219, 202, 103;
  --color-yellow: rgb(219, 202, 103);
  --color-cyan-rgb: 84, 186, 182;
  --color-cyan: rgb(84, 186, 182);
  --color-blue-rgb: 131, 145, 237;
  --color-blue: rgb(131, 145, 237);
  --color-purple-rgb: 183, 140, 218;
  --color-purple: rgb(183, 140, 218);
  --color-pink-rgb: 233, 145, 196;
  --color-pink: rgb(233, 145, 196);
  --color-base-00: hsla(237, 10%, 97%, var(--page-transparency));
  --color-base-05: hsl(210, 10%, 96%);
  --color-base-10: hsl(220, 9%, 95%);
  --color-base-20: hsl(229, 14%, 91%);
  --color-base-25: #d9dde8;
  --color-base-30: #9496ac66;
  --color-base-35: hsl(220, 5%, 78%);
  --color-base-40: hsl(242, 19%, 72%);
  --color-base-50: #787689;
  --color-base-60: #7f7d8f;
  --color-base-70: #6d6b78;
  --color-base-100: #3e3a4f;
}
