:root[saved-theme="dark"] {
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #282828;
  --color-base-35: #3f3f3f;
  --color-base-40: #555;
  --color-base-50: #666;
  --color-base-60: #999;
  --color-base-70: #bababa;
  --color-base-100: #dadada;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --color-accent-1: hsl(var(--accent-h) var(--accent-s) calc(var(--accent-l) - 3.8%));
  --color-accent-2: hsl(var(--accent-h) var(--accent-s) calc(var(--accent-l) + 3.8%));
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-20);
  --interactive-hover: var(--color-base-35);
  --text-accent: var(--color-accent-1);
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgb(0 0 0 / 30%);
  --background-modifier-cover: rgb(10 10 10 / 40%);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.33);
  --shadow-s: rgb(0 0 0 / 16%) 0px 1px 4px;
  --shadow-l: rgb(0 0 0 / 20%) 0px 8px 24px;
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --color-red-hsl: 358, 96%, 63%;
  --color-orange-hsl: 31, 79%, 58%;
  --color-yellow-hsl: 59, 64%, 66%;
  --color-green-hsl: 138, 59%, 54%;
  --color-cyan-hsl: 179, 69%, 60%;
  --color-blue-hsl: 212, 100%, 50%;
  --color-purple-hsl: 258, 100%, 75%;
  --color-pink-hsl: 328, 91%, 79%;
  --canvas-color: 245, 245, 245;
  --text-highlight-bg: rgb(255 208 0 / 40%);
  --text-highlight-bg-active: rgb(255 128 0 / 40%);
  --shadow-lm-only: none;
  --sbs: 24px 24px 84px -4px rgb(0 0 13 / 5%), 0px 16px 64px 6px rgb(0 13 0 / 0.7%);
  --lbs: rgb(0 0 5 / 15%) 0px 20px 30px;
  --border-lowOp: 1px solid rgb(255 255 255 / 10%);
  --border-midOp: 1px solid rgb(255 255 255 / 30%);
  --lowOp: rgb(255 255 255 / 10%);
  --midOp: rgb(255 255 255 / 30%);
  --border-conOp: 1px solid rgb(255 255 255 / 10%);
  --conOp: rgb(255 255 255 / 10%);
  --text-on-button: var(--text-on-accent);
  --test-image: url("https://i.pinimg.com/564x/15/05/3c/15053c066ed66a20595bef2f0b08c37d.jpg");
  --gradient-bg-primary: linear-gradient(135deg, #262626 1.62%, #1e1e1e 50.72%);
  --gradient-bg-secondary: linear-gradient(135deg, #2b2b2b 1.62%, #262626 50.72%);
  --background-modifier-border-alt: #303030;
}
