:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 233, 49, 71;
  --color-red: #e93147;
  --color-red-hsl: 353, 81%, 55%;
  --color-green-rgb: 8, 185, 78;
  --color-green: #08b94e;
  --color-green-hsl: 144, 92%, 38%;
  --color-orange-rgb: 236, 117, 0;
  --color-orange: #ec7500;
  --color-orange-hsl: 30, 100%, 46%;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-yellow-hsl: 46, 100%, 44%;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-cyan-hsl: 179, 100%, 37%;
  --color-blue-rgb: 8, 109, 221;
  --color-blue: #086ddd;
  --color-blue-hsl: 212, 93%, 45%;
  --color-purple-rgb: 120, 82, 238;
  --color-purple: #7852ee;
  --color-purple-hsl: 255, 82%, 63%;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-pink-hsl: 331, 65%, 53%;
  --canvas-color: 10, 10, 10;
  --color-base-00: #fff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-20: #f3f3f3;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5a5a5a;
  --color-base-100: #222;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgb(0 0 0 / 10%);
  --background-modifier-cover: rgb(220 220 220 / 40%);
  --text-highlight-bg: rgb(255 208 0 / 40%);
  --text-highlight-bg-active: rgb(255 128 0 / 40%);
  --input-shadow: inset 0 0 0 1px rgb(0 0 0 / 12%), 0 2px 3px 0 rgb(0 0 0 / 5%),
    0 1px 1.5px 0 rgb(0 0 0 / 3%), 0 1px 2px 0 rgb(0 0 0 / 4%), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0 0 1px rgb(0 0 0 / 17%), 0 2px 3px 0 rgb(0 0 0 / 10%),
    0 1px 1.5px 0 rgb(0 0 0 / 3%), 0 1px 2px 0 rgb(0 0 0 / 4%), 0 0 0 0 transparent;
  --shadow-s: rgb(0 0 0 / 4%) 0px 3px 5px;
  --shadow-l: rgb(149 157 165 / 20%) 0px 8px 24px;
  --shadow-lm-only: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  --cbs: 24px 24px 64px -4px rgb(0 0 0 / 1%), 0px 16px 32px 6px rgb(0 0 0 / 3%);
  --sbs: 24px 24px 84px -4px rgb(0 0 0 / 5%), 0px 16px 64px 6px rgb(0 0 0 / 0.7%);
  --lbs: rgb(0 5 0 / 3%) 0px 20px 30px;
  --border-lowOp: 1px solid rgb(0 0 0 / 10%);
  --border-midOp: 1px solid rgb(0 0 0 / 30%);
  --lowOp: rgb(0 0 0 / 10%);
  --border-conOp: 1px solid rgb(0 0 0 / 30%);
  --conOp: rgb(0 0 0 / 30%);
  --text-on-button: var(--text-normal);
  --gradient-bg-primary: linear-gradient(135deg, #fff 1.62%, #f5f5f5 50.72%) !important;
  --gradient-bg-secondary: linear-gradient(135deg, #f3f3f3 1.62%, #e6e6e6 50.72%) !important;
  --background-modifier-border-alt: #fff !important;

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
