
.theme-dark {
	/*User-defined Variables*/
	--my-link-color: #59A2C5;
	--my-link-color-hover: #B3A14B;

	/*Built-in Variables*/
	--background-primary: #2F3136;
	--background-primary-alt: #36393F;
	--background-secondary: #202225;
	--background-secondary-alt: #0C1018D1;
	--background-modifier-border: #92A1A17A;

	--text-normal: #BBC0C5;
	--text-faint: #A09B80;
	--text-accent: #FF9640BA;
	--text-accent-hover: #B3A14B;
	--bold-color: #B5C7C7;
	--italic-color: #B8CECE;

	--interactive-accent: #92a1a1;
	--text-highlight-bg: #FFFF0033;
}

.theme-light {
	/*User-defined Variables*/
	--my-link-color: #59A2C5;
	--my-link-color-hover: #B3A14B;

	/*Built-in Variables*/
	--background-primary: #E0E2E5;
	--background-primary-alt: #D6D9DC;
	--background-secondary: #F0F1F2;
	--background-secondary-alt: #FFFFFF;
	--background-modifier-border: #92A1A17A;

	--text-normal: #2F3136;
	--text-faint: #5F615E;
	--text-accent: #FF9640BA;
	--text-accent-hover: #B3A14B;
	--bold-color: #4A4C4F;
	--italic-color: #474A4D;

	--interactive-accent: #92a1a1;
	--text-highlight-bg: #00000033;
}

body {
	--blockquote-border-color: #4D3CA699;
	--code-tag: var(--text-accent) !important;

	--h1-color: #BA6EA0;
	--h2-color: #B78B60;
	--h3-color: #A79645;
	--h4-color: #859679;
	--h5-color: #59A2C5;
	--h6-color: #939BD6;

	--link-color: var(--my-link-color);
	--link-color-hover: var(--my-link-color-hover);
	--link-decoration: none !important;
	--link-decoration-hover: none !important;
	--link-external-color: var(--my-link-color);
	--link-external-color-hover: var(--my-link-color-hover);
	--link-external-decoration: none !important;
	--link-external-decoration-hover: none !important;
}

thead {
	border-bottom: 4px solid var(--background-modifier-border);
}

th {
	background-color: var(--background-primary) !important;
}

tr:nth-child(odd) {
	background-color: var(--background-primary-alt) !important;
}
