.lightPalette-metallicBlue {
  --OT-theme-reference-color: #378cc8;
  --color-base-00: #fafff3;
  --color-base-20: #143248;
  --color-base-35: #143248;
  --color-base-40: #3d8cc8;
  --color-base-50: var(--light-blue);
  --color-base-70: #72add8;
  --color-base-05: #1b4463;
  --color-base-100: #255c84;
  --link-color: #3f9de1;
  /*    --h1-color:                var(--text-normal); */
  /*    --h3-color:                var(--text-normal); */
  /*    --h5-color:                var(--text-normal); */
  --code-background: #eaf3f9;
  --OT-button-OFF-bg: #f0f5ea;
  --OT-button-ON-bg: #26618b;
  --toggle-thumb-color: #5894c5;
  --OT-table-header-background: #cbe9ff;
  --OT-table-background: #fbfcfd;
  --OT-table-alt-background: #edf7ff;
  --metadata-background: #cbe9ff;
  --metadata-label-text-color: var(--color-base-100);
  --icon-color: #f2f7fb;
  --OT-clickable-icon-in-header: var(--color-base-20);
  --OT-ribbon-icon-color-sidebar-is-collapsed: var(--color-base-20);
  --OT-metadata-property-icon: var(--color-base-20);
  --OT-color-on-base-20: #b6e1ff;
  --OT-color-muted-on-base-20: #7fb5dc;
  --OT-nav-folder-title-color: var(--OT-color-muted-on-base-20);
  --OT-search-settings-item-name: var(--OT-color-on-base-20);
  --OT-setting-item-description: #3676a4;
  /*    le texte descriptif complémentaire dans le panneau des Settings    */
}

.accentColor-lightMode-shade {
  --accent-h: 205 !important;
  --accent-s: 51% !important;
  --accent-l: 49% !important;
  --color-accent-1: #0062a9 !important;
  --color-accent-2: #3e88be !important;
  --color-accent-3: #d6e6f1 !important;
  --OT-color-muted-on-accent-1: #b6e1ff;
  --OT-color-on-accent-2: var(--color-base-00);
  --OT-color-on-accent-3: #002743;
  --OT-view-header-title-no-focus-color: var(--color-accent-2);
}

.accentColor-lightMode-alternative-1 {
  --accent-h: 325 !important;
  --accent-s: 81% !important;
  --accent-l: 33% !important;
  --color-accent-1: hsl(325, 81%, 53%) !important;
  --color-accent-2: hsl(325, 81%, 33%) !important;
  --color-accent-3: #fdf0f8 !important;
  /*    --OT-color-on-accent-1:                var(--color-base-20)    !important; */
  --OT-color-muted-on-accent-1: #3c0625 !important;
  --OT-color-on-accent-2: var(--color-base-00) !important;
  --OT-color-muted-on-accent-2: #fad1e9 !important;
  --OT-color-on-accent-3: var(--color-accent-2) !important;
  --OT-text-selection-background: hsl(var(--accent-h), var(--accent-s), 93%);
}

.accentColor-lightMode-alternative-2 {
  --accent-h: 85 !important;
  --accent-s: 80% !important;
  --accent-l: 47% !important;
  --color-accent-1: #74b814 !important;
  --color-accent-2: #6aa913 !important;
  --color-accent-3: #e9fad1 !important;
  --OT-color-muted-on-accent-1: var(--color-base-20) !important;
  --OT-color-on-accent-2: var(--color-base-00) !important;
  --OT-color-muted-on-accent-2: var(--color-base-20) !important;
  --OT-color-on-accent-3: #314e08 !important;
  /*    --OT-view-header-title-focus-color:    var(--color-accent-1); */
}

.inkColor-lightMode-default .markdown-source-view.mod-cm6 .cm-editor:before {
  /*    couleur de la pastille:    #255C84    */
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="30" height="30" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="%23255C84" d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2m3.1 5.07c.14 0 .28.05.4.16l1.27 1.27c.23.22.23.57 0 .78l-1 1l-2.05-2.05l1-1c.1-.11.24-.16.38-.16m-1.97 1.74l2.06 2.06l-6.06 6.06H7.07v-2.06l6.06-6.06Z"%2F%3E%3C%2Fsvg%3E');
  height: 0px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}
