:root[saved-theme="light"] {
  --h1-weight: 550;
  --h2-weight: 550;
  --h3-weight: 600;
  --h4-weight: 650;
  --h5-weight: 500;
  --h6-weight: 600;
  --h1-color: var(--purple-400);
  --h2-color: var(--pink-300);
  --h3-color: var(--orange);
  --h4-color: var(--red);
  --h5-color: var(--gray-400);
  --h6-color: var(--gray-400);
  --interactive-normal: var(--gray-25);
  --checkbox-color: var(--sea-green-300);
  --checklist-done-color: var(--sea-green-300);
  --checklist-orange-color: var(--orange-200);
  --checklist-green-color: var(--green-300);
  --checklist-red-color: var(--red-300);
  --gray-25: oklch(98% 0.001 279.29);
  --gray-50: oklch(96.5% 0.002 279.29);
  --gray-75: oklch(92% 0.004 279.29);
  --gray-100: oklch(84.5% 0.01 279.29);
  --gray-200: oklch(74.5% 0.018 279.29);
  --gray-300: oklch(61.5% 0.028 279.29);
  --gray-400: oklch(48.5% 0.039 279.29);
  --gray-500: oklch(35.5% 0.029 279.29);
  --gray-600: oklch(25.5% 0.021 279.29);
  --gray-700: oklch(18% 0.014 279.29);
  --gray-800: oklch(13.5% 0.01 279.29);
  --gray-900: oklch(12% 0.009 279.29);
  --purple-25: oklch(98% 0.005 288);
  --purple-50: oklch(96.5% 0.009 288);
  --purple-75: oklch(92% 0.026 288);
  --purple-100: oklch(84.5% 0.058 288);
  --purple-200: oklch(74.5% 0.107 288);
  --purple-300: oklch(61.5% 0.17 288);
  --purple-400: oklch(48.5% 0.213 288);
  --purple-500: oklch(35.5% 0.156 288);
  --purple-600: oklch(25.5% 0.112 288);
  --purple-700: oklch(18% 0.075 288);
  --purple-800: oklch(13.5% 0.054 288);
  --purple-900: oklch(12% 0.047 288);
  --blue-25: oklch(98% 0.005 260.58);
  --blue-50: oklch(96.5% 0.01 260.58);
  --blue-75: oklch(92% 0.027 260.58);
  --blue-100: oklch(84.5% 0.06 260.58);
  --blue-200: oklch(74.5% 0.111 260.58);
  --blue-300: oklch(61.5% 0.176 260.58);
  --blue-400: oklch(48.5% 0.173 260.58);
  --blue-500: oklch(35.5% 0.127 260.58);
  --blue-600: oklch(25.5% 0.091 260.58);
  --blue-700: oklch(18% 0.061 260.58);
  --blue-800: oklch(13.5% 0.044 260.58);
  --blue-900: oklch(12% 0.038 260.58);
  --sea-green-25: oklch(98% 0.021 161.65);
  --sea-green-50: oklch(96.5% 0.041 161.65);
  --sea-green-75: oklch(92% 0.118 161.65);
  --sea-green-100: oklch(84.5% 0.186 161.65);
  --sea-green-200: oklch(74.5% 0.164 161.65);
  --sea-green-300: oklch(61.5% 0.135 161.65);
  --sea-green-400: oklch(48.5% 0.106 161.65);
  --sea-green-500: oklch(35.5% 0.078 161.65);
  --sea-green-600: oklch(25.5% 0.056 161.65);
  --sea-green-700: oklch(18% 0.039 161.65);
  --sea-green-800: oklch(13.5% 0.029 161.65);
  --sea-green-900: oklch(12% 0.026 161.65);
  --green-25: oklch(98% 0.022 140.09);
  --green-50: oklch(96.5% 0.043 140.09);
  --green-75: oklch(92% 0.125 140.09);
  --green-100: oklch(84.5% 0.235 140.09);
  --green-200: oklch(74.5% 0.222 140.09);
  --green-300: oklch(61.5% 0.183 140.09);
  --green-400: oklch(48.5% 0.145 140.09);
  --green-500: oklch(35.5% 0.106 140.09);
  --green-600: oklch(25.5% 0.076 140.09);
  --green-700: oklch(18% 0.051 140.09);
  --green-800: oklch(13.5% 0.036 140.09);
  --green-900: oklch(12% 0.032 140.09);
  --yellow-25: oklch(98% 0.026 97.11);
  --yellow-50: oklch(96.5% 0.049 97.11);
  --yellow-75: oklch(92% 0.128 97.11);
  --yellow-100: oklch(84.5% 0.174 97.11);
  --yellow-200: oklch(74.5% 0.153 97.11);
  --yellow-300: oklch(61.5% 0.126 97.11);
  --yellow-400: oklch(48.5% 0.1 97.11);
  --yellow-500: oklch(35.5% 0.072 97.11);
  --yellow-600: oklch(25.5% 0.052 97.11);
  --yellow-700: oklch(18% 0.037 97.11);
  --yellow-800: oklch(13.5% 0.027 97.11);
  --yellow-900: oklch(12% 0.024 97.11);
  --orange-25: oklch(98% 0.007 46.85);
  --orange-50: oklch(96.5% 0.013 46.85);
  --orange-75: oklch(92% 0.037 46.85);
  --orange-100: oklch(84.5% 0.086 46.85);
  --orange-200: oklch(74.5% 0.166 46.85);
  --orange-300: oklch(61.5% 0.17 46.85);
  --orange-400: oklch(48.5% 0.134 46.85);
  --orange-500: oklch(35.5% 0.098 46.85);
  --orange-600: oklch(25.5% 0.07 46.85);
  --orange-700: oklch(18% 0.047 46.85);
  --orange-800: oklch(13.5% 0.034 46.85);
  --orange-900: oklch(12% 0.03 46.85);
  --red-25: oklch(98% 0.007 13.65);
  --red-50: oklch(96.5% 0.012 13.65);
  --red-75: oklch(92% 0.034 13.65);
  --red-100: oklch(84.5% 0.079 13.65);
  --red-200: oklch(74.5% 0.156 13.65);
  --red-300: oklch(61.5% 0.245 13.65);
  --red-400: oklch(48.5% 0.193 13.65);
  --red-500: oklch(35.5% 0.142 13.65);
  --red-600: oklch(25.5% 0.102 13.65);
  --red-700: oklch(18% 0.068 13.65);
  --red-800: oklch(13.5% 0.049 13.65);
  --red-900: oklch(12% 0.043 13.65);
  --pink-25: oklch(98% 0.011 324.98);
  --pink-50: oklch(96.5% 0.021 324.98);
  --pink-75: oklch(92% 0.059 324.98);
  --pink-100: oklch(84.5% 0.132 324.98);
  --pink-200: oklch(74.5% 0.244 324.98);
  --pink-300: oklch(61.5% 0.287 324.98);
  --pink-400: oklch(48.5% 0.227 324.98);
  --pink-500: oklch(35.5% 0.165 324.98);
  --pink-600: oklch(25.5% 0.119 324.98);
  --pink-700: oklch(18% 0.08 324.98);
  --pink-800: oklch(13.5% 0.057 324.98);
  --pink-900: oklch(12% 0.05 324.98);

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
