body.warm-theme {
  --background-primary: #2a2420;
  --background-secondary: #322c27;
  --text-normal: #b3a59a;
  --icon-color: #705757;
  --text-accent: #c57021;
  --interactive-normal: #2a2420;
  --background-modifier-border: var(--border-size) var(--border-style) #554a40;
  --code-background: #251e19;
  --code-keyword: #de895b;
  --code-normal: #a8aeb0;
  --code-operator: #b89cdd;
  --code-value: #e3b750;
  --code-function: #dcbb59;
  --code-property: #d29a8c;
  --code-string: #05a36e;
  --hr-color: #554a40;
  --table-border-color: #554a40;
  --canvas-dot-pattern: #705757;
}
