:root[saved-theme="dark"],
html[saved-theme="dark"] {
  color-scheme: dark;

  .callout {
    --callout-blend-mode: lighten;
  }

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }

  --background-modifier-box-shadow: #0000004d;
  --background-modifier-cover: #0a0a0a66;
  --background-modifier-form-field: #605178;

  --blockquote-border-color: #dcc5f3;

  --canvas-background: #443955;

  --color-blue-rgb: 66, 192, 255;

  --color-cyan-rgb: 218, 223, 225;

  --color-green-rgb: 20, 184, 87;

  --color-orange-rgb: 235, 133, 86;

  --color-pink-rgb: 236, 123, 177;

  --color-purple-rgb: 198, 149, 244;

  --color-red-rgb: 227, 94, 102;

  --color-yellow-rgb: 255, 181, 87;
  --highlight-mix-blend-mode: darken;
  --hr-color: #a598ba;
  --inline-title-color: #e6e6fa;
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px #ffffff17, 0 2px 4px 0 #00000026,
    0 1px 1.5px 0 #0000001a, 0 1px 2px 0 #00000033, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px #ffffff29, 0 2px 3px 0 #0000004d,
    0 1px 1.5px 0 #00000033, 0 1px 2px 0 #00000066, 0 0 0 0 transparent;
  --interactive-accent: #dcc5f3;
  --interactive-accent-hover: #bab0ca;
  --interactive-hover: #736090;
  --interactive-normal: #6a5884;

  --leather-color-rgb: 49, 0, 0;

  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --nav-collapse-icon-color: #bab0ca;
  --nav-indentation-guide-color: #bab0ca;
  --nav-item-background-active: #dcc5f3;
  --nav-item-color: #e3dfe9;
  --paper-color: #0c0c0cf2;
  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;

  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #0000001f, 0px 3.4px 6.7px #0000002e, 0px 15px 30px #0000004d;
  --tab-text-color-active: #fffefb;
  --tab-text-color-focused-active-current: #fffefb;

  --text-on-accent: #fffefb;
  --text-selection: #a681aa54;

  --background-modifier-box-shadow: #0000004d;
  --background-modifier-cover: #0a0a0a66;
  --background-modifier-form-field: #605178;

  --blockquote-border-color: #dcc5f3;

  --canvas-background: #443955;

  --color-blue-rgb: 66, 192, 255;

  --color-cyan-rgb: 218, 223, 225;

  --color-green-rgb: 20, 184, 87;

  --color-orange-rgb: 235, 133, 86;

  --color-pink-rgb: 236, 123, 177;

  --color-purple-rgb: 198, 149, 244;

  --color-red-rgb: 227, 94, 102;

  --color-yellow-rgb: 255, 181, 87;
  --highlight-mix-blend-mode: darken;
  --hr-color: #a598ba;
  --inline-title-color: #e6e6fa;
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px #ffffff17, 0 2px 4px 0 #00000026,
    0 1px 1.5px 0 #0000001a, 0 1px 2px 0 #00000033, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px #ffffff29, 0 2px 3px 0 #0000004d,
    0 1px 1.5px 0 #00000033, 0 1px 2px 0 #00000066, 0 0 0 0 transparent;
  --interactive-accent: #dcc5f3;
  --interactive-accent-hover: #bab0ca;
  --interactive-hover: #736090;
  --interactive-normal: #6a5884;

  --leather-color-rgb: 49, 0, 0;

  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --nav-collapse-icon-color: #bab0ca;
  --nav-indentation-guide-color: #bab0ca;
  --nav-item-background-active: #dcc5f3;
  --nav-item-color: #e3dfe9;
  --paper-color: #0c0c0cf2;
  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;

  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #0000001f, 0px 3.4px 6.7px #0000002e, 0px 15px 30px #0000004d;
  --tab-text-color-active: #fffefb;
  --tab-text-color-focused-active-current: #fffefb;

  --text-on-accent: #fffefb;
  --text-selection: #a681aa54;
  --vault-profile-color: #03080e;
}
