:root[saved-theme="dark"] {
  --color-red: #e35e66;
  --color-orange: #eb8556;
  --color-yellow: var(--yellow-ink);
  --color-green: var(--softgreen-ink);
  --color-cyan: #dadfe1;
  --color-blue: #42c0ff;
  --color-purple: #c695f4;
  --color-pink: #ec7bb1;
  --color-red-rgb: 227, 94, 102;
  --color-orange-rgb: 235, 133, 86;
  --color-yellow-rgb: 255, 181, 87;
  --color-green-rgb: 20, 184, 87;
  --color-cyan-rgb: 218, 223, 225;
  --color-blue-rgb: 66, 192, 255;
  --color-purple-rgb: 198, 149, 244;
  --color-pink-rgb: 236, 123, 177;
  --blockquote-border-color: var(--leather-color-alt);
  --interactive-accent: var(--leather-color-alt);
  --interactive-accent-hover: var(--color-base-70);
  --text-on-accent: var(--white-ink) !important;
  --nav-item-color: var(--color-base-100);
  --nav-collapse-icon-color: var(--color-base-70);
  --nav-indentation-guide-color: var(--color-base-70);
  --link-color-hover: var(--color-base-100);
  --link-external-color-hover: var(--color-base-100);
  --hr-color: var(--color-base-60);
  --inline-title-color: var(--secondary-ink);
  --nav-item-background-active: var(--leather-color-alt);
  --canvas-background: var(--color-base-05);
  --tab-text-color-focused-active-current: var(--white-ink);
  --tab-text-color-active: var(--white-ink);
  --vault-profile-color: var(--leather-contrast-color);
  --color-base-00: #0c0c0c;
  --color-base-05: #161616;
  --color-base-10: #202020;
  --color-base-20: #333333;
  --color-base-25: #3d3d3d;
  --color-base-30: #474747;
  --color-base-35: #515151;
  --color-base-40: #5a5a5a;
  --color-base-50: #6e6e6e;
  --color-base-60: #828282;
  --color-base-70: #959595;
  --color-base-100: #d0d0d0;
  --accent-h: 0 !important;
  --accent-s: 0% !important;
  --accent-l: 78.8% !important;
  --main-ink: var(--white-ink);
  --main-ink-muted: var(--white-ink-muted);
  --main-ink-fainted: var(--white-ink-fainted);
  --secondary-ink: var(--orange-ink);
  --secondary-ink-muted: var(--orange-ink-muted);
  --secondary-ink-fainted: var(--orange-ink-fainted);
  --bold-accent-ink: var(--softgreen-ink);
  --italic-accent-ink: var(--softblue-ink);
  --leather-color: #310000;
  --leather-color-alt: #6c0012;
  --leather-color-rgb: 49, 0, 0;
  --leather-contrast-color: var(--white-ink);
  --leather-contrast-color-muted: var(--white-ink-muted);
  --paper-color: rgba(12, 12, 12, 0.95);

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
