:root[saved-theme="light"] {
  --color-red: #9c1a21;
  --color-orange: #e8733d;
  --color-yellow: #f18700;
  --color-green: #004d20;
  --color-cyan: #008acf;
  --color-blue: var(--darkblue-ink);
  --color-purple: #6c00cf;
  --color-pink: #d53984;
  --color-red-rgb: 156, 26, 33;
  --color-orange-rgb: 232, 115, 61;
  --color-yellow-rgb: 241, 135, 0;
  --color-green-rgb: 0, 77, 32;
  --color-cyan-rgb: 0, 138, 207;
  --color-blue-rgb: 22, 50, 89;
  --color-purple-rgb: 108, 0, 207;
  --color-pink-rgb: 213, 57, 132;
  --color-base-00: #f9f6ee;
  --color-base-05: #f4eee0;
  --color-base-10: #efe7d1;
  --color-base-20: #e5d7b4;
  --color-base-25: #dfd0a6;
  --color-base-30: #dac897;
  --color-base-35: #d5c089;
  --color-base-40: #c6a95d;
  --color-base-50: #ba9942;
  --color-base-60: #9d8137;
  --color-base-70: #80692d;
  --color-base-100: #29220e;
  --accent-h: 43.5 !important;
  --accent-s: 47.6% !important;
  --accent-l: 49.4% !important;
  --main-ink: var(--darkblue-ink);
  --main-ink-muted: var(--darkblue-ink-muted);
  --main-ink-fainted: var(--darkblue-ink-fainted);
  --secondary-ink: var(--red-ink);
  --secondary-ink-muted: var(--red-ink-muted);
  --secondary-ink-fainted: var(--red-ink-fainted);
  --bold-accent-ink: var(--darkgreen-ink);
  --text-accent: var(--leather-color-alt);
  --italic-accent-ink: var(--red-ink);
  --leather-color: #632335;
  --leather-color-alt: #802d44;
  --leather-color-rgb: 99, 35, 53;
  --leather-contrast-color: var(--white-ink);
  --leather-contrast-color-muted: var(--white-ink-muted);
  --paper-color: rgba(249, 246, 238, 0.9);
  --vault-profile-color: var(--leather-contrast-color);

  code[data-theme*=" "] {
    --shiki-dark: var(--shiki-light) !important;
    --shiki-dark-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-dark: var(--shiki-light) !important;
      --shiki-dark-bg: var(--shiki-light-bg) !important;
    }
  }
}
