.cm-active.cm-line {
  background-color: var(--background-secondary);
  border-radius: var(--radius-s);
  opacity: 1 !important;
  max-height: unset;
  min-height: 2em;
  filter: none !important;
}
.cm-active.cm-line:not(.HyperMD-list-line) {
  padding: 5px 0px 0px 10px !important;
}
.ultra-focus .cm-contentContainer .cm-line,
.ultra-focus .cm-contentContainer img {
  opacity: 0.6;
}
