:root[saved-theme="dark"] {
  --accent-h: 30;
  --accent-s: 40%;
  --accent-l: 65%;
  --background-primary: hsl(215, 22%, 15%);
  --background-primary-alt: hsl(215, 18%, 19%);
  --background-secondary: hsl(225, 15%, 20%);
  --background-secondary-alt: hsl(235, 15%, 28%);
  --background-modifier-border: rgb(69, 74, 84);
  --color-base-00: #181c22;
  --color-base-05: #1d2128;
  --color-base-10: #22262e;
  --color-base-20: #282d35;
  --color-base-25: #2f343d;
  --color-base-30: #373c46;
  --color-base-35: #404650;
  --color-base-40: #4a5059;
  --color-base-50: #5a616a;
  --color-base-60: #6c737b;
  --color-base-70: #8d949d;
  --color-base-100: #e3e7eb;
  --bold-color: #f0f4f8;
  --bold-modifier: 200;
  --h1-color: #e2e6eb;
  --h2-color: #c5cad4;
  --h3-color: #a8aeb9;
  --h4-color: #8f96a1;
  --h5-color: #787f8a;
  --h6-color: #666d78;
  --h1-indicator-color: var(--h1-color);
  --h2-indicator-color: var(--h2-color);
  --h3-indicator-color: var(--h3-color);
  --h4-indicator-color: var(--h4-color);
  --h5-indicator-color: var(--h5-color);
  --h6-indicator-color: var(--h6-color);
  --blockquote-border-color: #67594c;
  --blockquote-background-color: rgba(42, 49, 60, 0.6);
  --blockquote-color: rgb(207, 197, 175);
  --codeblock-background: rgba(37, 44, 55, 0.85);
  --codeblock-caret-color: rgb(201, 166, 130);
  --codeblock-border-radius: 8px;
  --codeblock-border: #e5e7eb;
  --text-highlight-background: hsla(38, 27%, 54%, 0.5);
  --text-highlight-border-color: hsl(31, 48%, 66%);
  --text-highlight-color: hsl(40, 20%, 90%);
  --code-normal: #ff7b72;
  --code-border-color: transparent;
  --inline-code-normal: #ff7b72;
  --inline-code-background: hsla(204, 15%, 25%, 0.4);
  --color-red-rgb: 255, 123, 114;
  --color-blue-rgb: 123, 175, 222;
  --color-purple-rgb: 182, 155, 255;
  --color-cyan-rgb: 123, 204, 214;
  --color-orange-rgb: 255, 182, 104;
  --color-green-rgb: 123, 204, 148;
  --color-yellow-rgb: 255, 203, 107;
  --color-pink-rgb: 255, 157, 194;
  --callout-error: 255, 100, 92;
  --callout-warning: 255, 170, 92;
  --callout-quote: 158, 158, 158;
  --nav-button-container-bg: rgba(255, 255, 255, 0.03);
  --header-active-bg: rgba(255, 255, 255, 0.05);

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
