:root:root {
  --text-normal: hsl(var(--accent-h), 24%, 84%);
  --text-muted: hsl(var(--accent-h), 18%, 72%);
  --text-faint: hsl(var(--accent-h), 12%, 44%);
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 255, 120, 129;
  --color-red: rgb(var(--color-red-rgb));
  --color-green-rgb: 124, 211, 124;
  --color-green: rgb(var(--color-green-rgb));
  --color-orange-rgb: 251, 187, 131;
  --color-orange: rgb(var(--color-orange-rgb));
  --color-yellow-rgb: 255, 232, 139;
  --color-yellow: rgb(var(--color-yellow-rgb));
  --color-cyan-rgb: 134, 223, 226;
  --color-cyan: rgb(var(--color-cyan-rgb));
  --color-blue-rgb: 137, 189, 244;
  --color-blue: rgb(var(--color-blue-rgb));
  --color-purple-rgb: 203, 158, 255;
  --color-purple: rgb(var(--color-purple-rgb));
  --color-pink-rgb: 242, 182, 222;
  --color-pink: rgb(var(--color-pink-rgb));
  --color-base-00: #1e1e1e;
  --color-base-10: #242424;
  --color-base-15: #252525;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555;
  --color-base-50: #666;
  --color-base-60: #999;
  --color-base-70: #bababa;
  --color-base-100: #dadada;
  --accent-h: var(--accent-dark-h);
  --accent-s: var(--accent-dark-s);
  --accent-l: var(--accent-dark-l);
  --accent-dark-h: 216;
  --accent-dark-s: 25%;
  --accent-dark-l: 49%;
  --color-accent-hsl: var(--color-accent-hsl-dark);
  --color-accent: var(--color-accent-dark);
  --color-accent-1: var(--color-accent-1-dark);
  --color-accent-2: var(--color-accent-2-dark);
  --color-accent-3: var(--color-accent-3-dark);
  --color-accent-hsl-dark: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent-dark: #0ba360;
  --color-accent-1-dark: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
  --color-accent-2-dark: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 3.8%));
  --background-modifier-hover: hsla(var(--accent-h), 12%, 40%, 0.25);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --background-modifier-form-field: transparent;
  --search-result-background: transparent;
  --text-highlight-bg: rgba(255, 208, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --border-radius-activated-file-dark: var(--radius-s);
  --color-activated-file-dark: var(--nav-item-color-active);
  --background-activated-file-dark: var(--nav-item-background-active);
  --shadow-activated-file-dark: none;
  --toggle-thumb-color: var(--toggle-thumb-color-dark);
  --toggle-thumb-enabled-color: var(--toggle-thumb-enabled-color-dark);
  --toggle-thumb-color-dark: white;
  --toggle-thumb-enabled-color-dark: white;
  --toggle-thumb-shadow: var(--toggle-thumb-shadow-dark);
  --toggle-thumb-enabled-shadow: var(--toggle-thumb-enabled-shadow-dark);
  --toggle-track-color: var(--toggle-track-color-dark);
  --toggle-track-enabled-color: var(--toggle-track-enabled-color-dark);
  --toggle-track-color-dark: var(--background-modifier-border-hover);
  --toggle-track-enabled-color-dark: var(--interactive-accent);
  --toggle-track-shadow: var(--toggle-track-shadow-dark);
  --toggle-track-hovered-shadow: var(--toggle-track-hovered-shadow-dark);
  --input-radius: var(--input-radius-dark);
  --input-shadow: var(--input-shadow-dark);
  --input-shadow-hover: var(--input-shadow-hover-dark);
  --input-radius-dark: 5px;
  --code-background: var(--code-background-dark);
  --code-border: var(--code-border-dark);
}
