body.color-scheme-options-honey-milk-topaz #calendar-container {
  --color-background-heading: transparent;
  --color-background-weeknum: transparent;
  --color-background-day: transparent;
  --color-background-weekend: transparent;
  --color-tr: var(--bg-color) !important;
  --color-tr-odd: #ffdece !important;
  --color-dot: var(--text-accent);
  --color-arrow: currentColor;
  --color-button: var(--text-muted);
  --color-text-weeknum: var(--calendar-week-color);
  --color-text-title: var(--text-normal);
  --color-text-heading: var(--text-normal);
  --color-text-day: var(--text-normal);
  --color-text-today: var(--text-accent);
  padding: 0px 5px 0px 8px;
  margin: -21px -8px 0px -8px;
  line-height: 0.6;
}

body.color-scheme-options-honey-milk-topaz .view-header {
  border-bottom: 1px solid transparent;
}
