.checkbox-block input[type="checkbox"]:checked:after {
  background-color: transparent;
  -webkit-mask-image: none;
}

.checkbox-block input[type="checkbox"]:checked {
  background-color: var(--checkbox-color);
  box-shadow: inset 0 0 0 2px var(--background-primary);
}

.checkbox-block input[type="checkbox"] {
  border-radius: 0px;
}
