:root[saved-theme="dark"] {
  --color-creme-0: hsl(30, 20%, 10%);
  --color-creme-1: hsl(31, 20%, 10%);
  --color-creme-2: hsl(27, 17%, 12%);
  --color-creme-3: hsl(27, 20%, 17%);
  --color-creme-4: hsl(34, 24%, 30%);
  --color-creme-5: hsl(34, 36%, 30%);
  --color-creme-6: hsl(31, 30%, 50%);
  --color-creme-7: hsl(35, 27%, 55%);
  --color-creme-8: hsl(34, 50%, 70%);
  --color-creme-gray-1: hsl(35, 20%, 13%);
  --color-creme-gray-2: hsl(35, 20%, 17%);
  --color-creme-fade: hsla(32, 8%, 67%, 0.5);
  --color-shadow: hsla(33, 90%, 5%, 0.8);
  --color-red: #c25757;
  --color-orange: #cf864a;
  --color-yellow: #e1b151;
  --color-green: #8aac6c;
  --color-cyan: #5ba8be;
  --color-blue: #668cb3;
  --color-purple: #877db5;
  --color-pink: #bb77af;
  --color-red-rgb: 194, 87, 87;
  --color-orange-rgb: 207, 134, 74;
  --color-yellow-rgb: 225, 177, 81;
  --color-green-rgb: 138, 172, 108;
  --color-cyan-rgb: 91, 168, 190;
  --color-blue-rgb: 102, 140, 179;
  --color-purple-rgb: 135, 125, 181;
  --color-pink-rgb: 187, 119, 175;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
