:root[saved-theme="light"] {
  --color-creme-0: white;
  --color-creme-1: hsl(34, 33%, 98%);
  --color-creme-2: hsl(35, 36%, 95%);
  --color-creme-3: hsl(35, 35%, 90%);
  --color-creme-4: hsl(34, 37%, 70%);
  --color-creme-5: hsl(34, 25%, 70%);
  --color-creme-6: hsl(31, 30%, 50%);
  --color-creme-7: hsl(31, 35%, 40%);
  --color-creme-8: hsl(31, 45%, 20%);
  --color-creme-gray-1: hsl(35, 20%, 94%);
  --color-creme-gray-2: hsl(35, 20%, 90%);
  --color-creme-fade: hsla(32, 8%, 67%, 0.5);
  --color-shadow: hsla(0, 0%, 0%, 0.4);
  --color-red: #c25757;
  --color-orange: #cf864a;
  --color-yellow: #e1b151;
  --color-green: #8aac6c;
  --color-cyan: #5ba8be;
  --color-blue: #668cb3;
  --color-purple: #877db5;
  --color-pink: #bb77af;
  --color-red-rgb: 194, 87, 87;
  --color-orange-rgb: 207, 134, 74;
  --color-yellow-rgb: 225, 177, 81;
  --color-green-rgb: 138, 172, 108;
  --color-cyan-rgb: 91, 168, 190;
  --color-blue-rgb: 102, 140, 179;
  --color-purple-rgb: 135, 125, 181;
  --color-pink-rgb: 187, 119, 175;

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
