body.setting-default-frosted-glass .prompt {
  background-color: var(--bg-color-settings-4);
  backdrop-filter: blur(3px);
}
body.setting-default-frosted-glass .vertical-tab-header-group-title {
  color: var(--text-normal);
  border-top: 1px dashed var(--text-muted);
}
body.setting-default-frosted-glass .modal-bg {
  background-color: var(--bg-color-settings-0);
  backdrop-filter: blur(5px);
}
body.setting-default-frosted-glass .modal.mod-settings {
  background-color: var(--bg-color-settings-0-1);
  box-shadow: 0 0 20px var(--bg-color-settings-1);
}
body.setting-default-frosted-glass .modal.mod-settings {
  border: none;
}
body.setting-default-frosted-glass .vertical-tab-header {
  background-color: var(--bg-color-settings-3);
}
body.setting-default-frosted-glass .horizontal-tab-nav-item,
body.setting-default-frosted-glass .vertical-tab-nav-item {
  background-color: transparent;
}
body.setting-default-frosted-glass .horizontal-tab-nav-item:hover,
body.setting-default-frosted-glass .vertical-tab-nav-item:hover,
body.setting-default-frosted-glass .horizontal-tab-nav-item.is-active,
body.setting-default-frosted-glass .vertical-tab-nav-item.is-active {
  background-color: var(--bg-color-settings-2);
  color: var(--text-normal);
  font-weight: bold;
}
body.setting-default-frosted-glass .horizontal-tab-content,
body.setting-default-frosted-glass .vertical-tab-content {
  background-color: var(--bg-color-settings-3);
}
body.setting-default-frosted-glass .vertical-tab-header-group-title {
  border: none;
}
body.setting-default-frosted-glass .suggestion-container {
  background-color: var(--bg-color-settings-4);
  backdrop-filter: blur(3px);
}
body.setting-default-frosted-glass [class='menu'] {
  border: none;
  backdrop-filter: blur(8px);
  background-color: var(--bg-color-settings-3);
  box-shadow: 0 0 8px var(--bg-color-settings-5);
}
