:root[saved-theme="light"] {
  --color-red-rgb: var(--faded-red-x);
  --color-red: var(--faded-red);
  --color-purple-rgb: var(--faded-purple-x);
  --color-purple: var(--faded-purple);
  --color-green-rgb: var(--faded-green-x);
  --color-green: var(--faded-green);
  --color-cyan-rgb: var(--neutral-blue-x);
  --color-cyan: var(--neutral-blue);
  --color-blue-rgb: var(--faded-blue-x);
  --color-blue: var(--faded-blue);
  --color-yellow-rgb: var(--neutral-yellow-x);
  --color-yellow: var(--neutral-yellow);
  --color-orange-rgb: var(--faded-yellow-x);
  --color-orange: var(--faded-yellow);
  --color-pink-rgb: var(--faded-purple-x);
  --color-pink: var(--faded-purple);
  --background-primary: var(--light0-hard);
  --background-primary-alt: var(--light0-hard);
  --background-secondary: var(--light1);
  --background-secondary-alt: var(--light1);
  --background-modifier-border: var(--light2);
  --background-accent: var(--light0-soft);
  --cursor-line-background: rgba(var(--light1-x), 0.5);
  --text-normal: var(--dark-text);
  --text-faint: var(--dark-text-faint);
  --text-muted: var(--dark-text-muted);
  --h1-color: var(--faded-red);
  --h2-color: var(--faded-yellow);
  --h3-color: var(--faded-green);
  --h4-color: var(--faded-aqua);
  --h5-color: var(--faded-blue);
  --h6-color: var(--faded-purple);
  --text-highlight-bg: var(--faded-yellow);
  --text-highlight-fg: var(--light0-hard);
  --text-accent: var(--neutral-yellow);
  --text-accent-hover: var(--faded-yellow);
  --tag-color: var(--faded-aqua);
  --tag-background: var(--light1);
  --tag-background-hover: rgba(var(--light1-x), 0.6);
  --titlebar-text-color-focused: var(--bright-red);
  --inline-title-color: var(--neutral-yellow);
  --bold-color: var(--faded-yellow);
  --italic-color: var(--faded-yellow);
  --checkbox-color: var(--light4);
  --checkbox-color-hover: var(--light4);
  --checkbox-border-color: var(--light4);
  --checkbox-border-color-hover: var(--light4);
  --checklist-done-color: rgba(var(--dark2-x), 0.4);
  --table-header-background: rgba(var(--light3-x), 0.4);
  --table-header-background-hover: var(--light2);
  --table-row-even-background: rgba(var(--light1-x), 0.2);
  --table-row-odd-background: rgba(var(--light1-x), 0.7);
  --table-row-background-hover: var(--light2);
  --text-selection: rgba(var(--neutral-red-x), 0.6);
  --flashing-background: rgba(var(--neutral-red-x), 0.3);
  --code-normal: var(--neutral-blue);
  --code-background: var(--light1);
  --mermaid-note: var(--neutral-blue);
  --mermaid-actor: var(--light3);
  --mermaid-loopline: var(--faded-blue);
  --icon-color-hover: var(--neutral-red);
  --icon-color-focused: var(--neutral-blue);
  --nav-item-color-hover: var(--neutral-red);
  --nav-item-color-active: var(--faded-blue);
  --nav-file-tag: rgba(var(--faded-blue-x), 0.9);
  --graph-line: var(--light3);
  --graph-node: var(--gray);
  --graph-node-tag: var(--faded-red);
  --graph-node-attachment: var(--neutral-green);
  --calendar-hover: var(--neutral-red);
  --calendar-background-hover: var(--light1);
  --calendar-week: var(--neutral-red);
  --calendar-today: var(--neutral-red);
  --dataview-key: var(--text-faint);
  --dataview-key-background: rgba(var(--faded-red-x), 0.3);
  --dataview-value: var(--text-faint);
  --dataview-value-background: rgba(var(--neutral-green-x), 0.2);
  --tab-text-color-focused-active: var(--neutral-yellow);
  --tab-text-color-focused-active-current: var(--neutral-red);

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
