:root[saved-theme="light"] {
  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 233, 49, 71;
  --color-red: #e93147;
  --color-orange-rgb: 236, 117, 0;
  --color-orange: #ec7500;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-green-rgb: 8, 185, 78;
  --color-green: #08b94e;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-blue-rgb: 8, 109, 221;
  --color-blue: #086ddd;
  --color-purple-rgb: 120, 82, 238;
  --color-purple: #7852ee;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-base-00: rgb(230, 229, 229);
  --color-base-05: #f6f4f4b7;
  --color-base-10: #fafafa;
  --color-base-20: rgb(194, 194, 194);
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5c5c5c;
  --color-base-100: #222222;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), calc(var(--accent-s) - 20%), calc(var(--accent-l) - 10%));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
  --color-accent-2: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.05),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042),
    0px 15px 30px rgba(0, 0, 0, 0.07);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --New-Obsidiantoggle: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 512 512' fill='none' %3e%3cdefs%3e%3cradialGradient id='A' cx='0' cy='0' r='1' gradientTransform='matrix(-48 -185 123 -32 179 429.7)' href='%23J'%3e%3cstop stop-color='%23fff' stop-opacity='.4'/%3e%3cstop offset='1' stop-opacity='.1'/%3e%3c/radialGradient%3e%3cradialGradient id='B' cx='0' cy='0' r='1' gradientTransform='matrix(41 -310 229 30 341.6 351.3)' href='%23J'%3e%3cstop stop-color='%23fff' stop-opacity='.6'/%3e%3cstop offset='1' stop-color='%23fff' stop-opacity='.1'/%3e%3c/radialGradient%3e%3cradialGradient id='C' cx='0' cy='0' r='1' gradientTransform='matrix(57 -261 178 39 190.5 296.3)' href='%23J'%3e%3cstop stop-color='%23fff' stop-opacity='.8'/%3e%3cstop offset='1' stop-color='%23fff' stop-opacity='.4'/%3e%3c/radialGradient%3e%3cradialGradient id='D' cx='0' cy='0' r='1' gradientTransform='matrix(-79 -133 153 -90 321.4 464.2)' href='%23J'%3e%3cstop stop-color='%23fff' stop-opacity='.3'/%3e%3cstop offset='1' stop-opacity='.3'/%3e%3c/radialGradient%3e%3cradialGradient id='E' cx='0' cy='0' r='1' gradientTransform='matrix(-29 136 -92 -20 300.7 149.9)' href='%23J'%3e%3cstop stop-color='%23fff' stop-opacity='0'/%3e%3cstop offset='1' stop-color='%23fff' stop-opacity='.2'/%3e%3c/radialGradient%3e%3cradialGradient id='F' cx='0' cy='0' r='1' gradientTransform='matrix(72 73 -155 153 137.8 225.2)' href='%23J'%3e%3cstop stop-color='%23fff' stop-opacity='.2'/%3e%3cstop offset='1' stop-color='%23fff' stop-opacity='.4'/%3e%3c/radialGradient%3e%3cradialGradient id='G' cx='0' cy='0' r='1' gradientTransform='matrix(20 118 -251 43 215.1 273.7)' href='%23J'%3e%3cstop stop-color='%23fff' stop-opacity='.1'/%3e%3cstop offset='1' stop-color='%23fff' stop-opacity='.3'/%3e%3c/radialGradient%3e%3cradialGradient id='H' cx='0' cy='0' r='1' gradientTransform='matrix(-162 -85 268 -510 374.4 371.7)' href='%23J'%3e%3cstop stop-color='%23fff' stop-opacity='.2'/%3e%3cstop offset='.5' stop-color='%23fff' stop-opacity='.2'/%3e%3cstop offset='1' stop-color='%23fff' stop-opacity='.3'/%3e%3c/radialGradient%3e%3cfilter id='I' x='80.1' y='37' width='351.1' height='443.2' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0'/%3e%3cfeBlend in='SourceGraphic'/%3e%3cfeGaussianBlur stdDeviation='6.5'/%3e%3c/filter%3e%3clinearGradient id='J' gradientUnits='userSpaceOnUse'/%3e%3c/defs%3e%3crect fill='%23fff' width='512' height='512' rx='100'/%3e%3cg filter='url(%23I)'%3e%3cpath d='M359.2 437.5c-2.6 19-21.3 33.9-40 28.7-26.5-7.2-57.2-18.6-84.8-20.7l-42.4-3.2a28 28 0 0 1-18-8.3l-73-74.8a27.7 27.7 0 0 1-5.4-30.7l46.8-103.7c1.6-5.1 7.8-49.9 11.4-73.9a28 28 0 0 1 9-16.5L249 57.2a28 28 0 0 1 40.6 3.4l72.6 91.6a29.5 29.5 0 0 1 6.2 18.3c0 17.3 1.5 53 11.2 76a301.3 301.3 0 0 0 35.6 58.2 14 14 0 0 1 1 15.6c-6.3 10.7-18.9 31.3-36.6 57.6a142.2 142.2 0 0 0-20.5 59.6z' fill='%23000' fill-opacity='.3'/%3e%3c/g%3e%3cpath d='M359.9 434.3c-2.6 19.1-21.3 34-40 28.9-26.4-7.3-57-18.7-84.7-20.8l-42.3-3.2a27.9 27.9 0 0 1-18-8.4l-73-75a27.9 27.9 0 0 1-5.4-31l46.8-104.2c1.7-5.1 7.8-50 11.4-74.2a28 28 0 0 1 9-16.6l86.2-77.5a28 28 0 0 1 40.6 3.5l72.5 92a29.7 29.7 0 0 1 6.2 18.3c0 17.4 1.5 53.2 11.1 76.3a303 303 0 0 0 35.6 58.5 14 14 0 0 1 1.1 15.7c-6.4 10.8-18.9 31.4-36.7 57.9a143.3 143.3 0 0 0-20.4 59.8z' fill='%23000'/%3e%3cpath d='M182.7 436.4c33.9-68.7 33-118 18.5-153-13.2-32.4-37.9-52.8-57.3-65.5-.4 1.9-1 3.7-1.8 5.4L96.5 324.8a27.9 27.9 0 0 0 5.5 31l72.9 75c2.3 2.3 5 4.2 7.8 5.6Z' fill='url(%23A)'/%3e%3cpath d='M274.9 297c9.1.9 18 2.9 26.8 6.1 27.8 10.4 53.1 33.8 74 78.9 1.5-2.6 3-5.1 4.6-7.5a1222 1222 0 0 0 36.7-57.9 14 14 0 0 0-1-15.7 303 303 0 0 1-35.7-58.5c-9.6-23-11-58.9-11.1-76.3 0-6.6-2.1-13.1-6.2-18.3l-72.5-92-1.2-1.5c5.3 17.5 5 31.5 1.7 44.2-3 11.8-8.6 22.5-14.5 33.8-2 3.8-4 7.7-5.9 11.7a140 140 0 0 0-15.8 58c-1 24.2 3.9 54.5 20 95Z' fill='url(%23B)'/%3e%3cpath d='M274.8 297c-16.1-40.5-21-70.8-20-95 1-24 8-42 15.8-58l6-11.7c5.8-11.3 11.3-22 14.4-33.8a78.5 78.5 0 0 0-1.7-44.2 28 28 0 0 0-39.4-2l-86.2 77.5a28 28 0 0 0-9 16.6L144.2 216c0 .7-.2 1.3-.3 2 19.4 12.6 44 33 57.3 65.3 2.6 6.4 4.8 13.1 6.4 20.4a200 200 0 0 1 67.2-6.8Z' fill='url(%23C)'/%3e%3cpath d='M320 463.2c18.6 5.1 37.3-9.8 39.9-29a153 153 0 0 1 15.9-52.2c-21-45.1-46.3-68.5-74-78.9-29.5-11-61.6-7.3-94.2.6 7.3 33.1 3 76.4-24.8 132.7 3.1 1.6 6.6 2.5 10.1 2.8l43.9 3.3c23.8 1.7 59.3 14 83.2 20.7Z' fill='url(%23D)'/%3e%3cg fill-rule='evenodd'%3e%3cpath d='M255 200.5c-1.1 24 1.9 51.4 18 91.8l-5-.5c-14.5-42.1-17.7-63.7-16.6-88 1-24.3 8.9-43 16.7-59 2-4 6.6-11.5 8.6-15.3 5.8-11.3 9.7-17.2 13-27.5 4.8-14.4 3.8-21.2 3.2-28 3.7 24.5-10.4 45.8-21 67.5a145 145 0 0 0-17 59Z' fill='url(%23E)'/%3e%3cpath d='M206 285.1c2 4.4 3.7 8 4.9 13.5l-4.3 1c-1.7-6.4-3-11-5.5-16.5-14.6-34.3-38-52-57-65 23 12.4 46.7 31.9 61.9 67Z' fill='url(%23F)'/%3e%3cpath d='M211.1 303c8 37.5-1 85.2-27.5 131.6 22.2-46 33-90.1 24-131l3.5-.7Z' fill='url(%23G)'/%3e%3cpath d='M302.7 299.5c43.5 16.3 60.3 52 72.8 81.9-15.5-31.2-37-65.7-74.4-78.5-28.4-9.8-52.4-8.6-93.5.7l-.9-4c43.6-10 66.4-11.2 96 0Z' fill='url(%23H)'/%3e%3c/g%3e%3c/svg%3e");
  --bg-primary: 230, 229, 229;
  --bg-secondary: 194, 194, 194;
  --background-settings: rgba(255, 255, 255, 0.9);
  --background-settings-alt: rgba(203, 202, 202, 0.65);
  --background-settings-2: rgba(179, 179, 179, 0.25);
  --background-settings-3: rgba(226, 226, 226, 0.35);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.35);
  --accent-h: 198;
  --accent-s: 78%;
  --accent-l: 64%;
  --color-accent-faint: hsl(
    var(--accent-h),
    calc(var(--accent-s) + 10%),
    calc(var(--accent-l) - 4%)
  );
  --color-accent-active: hsla(
    var(--accent-h),
    calc(var(--accent-s) - 13%),
    calc(var(--accent-l) + 10%),
    0.65
  );
  --color-accent-active2: hsla(
    var(--accent-h),
    calc(var(--accent-s) - 13%),
    calc(var(--accent-l) + 10%),
    0.45
  );
  --color-glow: hsl(
    calc(var(--accent-h) + 1),
    calc(var(--accent-s) - 36%),
    calc(var(--accent-l) - 25%)
  );
  --code-background: rgba(225, 225, 225, 0.75);
  --text-close-color: #791d26;
  --background-close-hover: #99212d70;
  --background-close-active: #88111c8a;
  --background-close: #b4000066;
  --folder-rose: 222, 149, 132;
  --folder-lightpink: 221, 120, 120;
  --folder-pink: 236, 131, 208;
  --folder-mauve: 136, 57, 239;
  --folder-red: 210, 15, 57;
  --folder-maroon: 230, 69, 83;
  --folder-peach: 254, 100, 11;
  --folder-yellow: 228, 147, 32;
  --folder-green: 64, 160, 43;
  --folder-teal: 23, 146, 153;
  --folder-sky: 4, 165, 229;
  --folder-sapphire: 32, 159, 181;
  --folder-blue: 42, 110, 245;
  --folder-lavender: 114, 135, 253;
}
