:root[saved-theme="dark"] {
  --background-primary: #1e2022;
  --background-primary-alt: #1e2022;
  --background-secondary: #1e2022;
  --background-secondary-alt: #2e3236;
  --text-normal: #dddddd;
  --text-faint: #b2b2b2;
  --text-title-h1: #cbdbe5;
  --text-title-h2: #cbdbe5;
  --text-title-h3: #cbdbe5;
  --text-title-h4: #cbdbe5;
  --text-title-h5: #cbdbe5;
  --text-link: #b4b4b4;
  --text-a: #6bcafb;
  --text-a-hover: #6bcafb;
  --text-mark: #263d92;
  --pre-code: #252525;
  --interactive-accent: #92a1a1;
  --interactive-before: #5e6565;
  --background-modifier-border: #92a1a17a;
  --blockquote-border: #4aa8fb;
  --tag-background: #a7b0b3;
  --interactive-accent-rgb: #6bcafb;
  --font-family-editor: Avenir, "Avenir Next";
  --font-family-preview: Avenir, "Avenir Next";

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
