:root[saved-theme="light"] {
  --background-primary: #fbfbfb;
  --background-primary-alt: #fbfbfb;
  --background-secondary: #fbfbfb;
  --background-secondary-alt: #2e3236;
  --text-normal: #333;
  --text-faint: #b2b2b2;
  --text-title-h1: #333;
  --text-title-h2: #333;
  --text-title-h3: #333;
  --text-title-h4: #333;
  --text-title-h5: #333;
  --text-link: #b4b4b4;
  --text-a: #db4d52;
  --text-a-hover: #db4d52;
  --text-mark: #d3ffa4;
  --pre-code: #ffffff;
  --interactive-accent: #92a1a1;
  --interactive-before: #5e6565;
  --background-modifier-border: #92a1a17a;
  --blockquote-border: #d6555f;
  --tag-background: #a7b0b3;
  --interactive-accent-rgb: #db4d52;
  --font-family-editor: Avenir, "Avenir Next";
  --font-family-preview: Avenir, "Avenir Next";

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
