.markdown-source-view:not(.no-background, .no-bg),
.markdown-preview-view:not(.no-background, .no-bg) {
  background-color: var(--workleaves-background);
  background-image: var(--url);
  background-blend-mode: var(--blend-mode);
}
.markdown-source-view:not(.no-background, .no-bg) .cm-editor {
  background-color: rgb(
    from var(--workleaves-background) r g b/calc(1 - var(--opacity))
  );
  backdrop-filter: blur(var(--blur)) brightness(var(--brightness));
}
body:not(.native-scrollbars)
  .markdown-preview-view:not(.no-background, .no-bg)::-webkit-scrollbar-track {
  background-color: rgb(
    from var(--workleaves-background) r g b/calc(1 - var(--opacity))
  );
}
.markdown-preview-view:not(.no-background, .no-bg) {
  padding: 0;
}
.markdown-preview-view:not(.no-background, .no-bg) > :first-child {
  padding-block: var(--file-margins-block);
  padding-inline: max(
    var(--file-margins-inline),
    0.5 * (100% - var(--file-margins-inline) - var(--file-line-width)) +
      var(--scrollbar-width)
  );
  max-width: 100%;
  background-color: rgb(
    from var(--workleaves-background) r g b/calc(1 - var(--opacity))
  );
  backdrop-filter: blur(var(--blur)) brightness(var(--brightness));
}
.markdown-source-view:not(.no-background, .no-bg),
.markdown-preview-view:not(.no-background, .no-bg) {
  background-size: cover;
  background-position: center;
}
.markdown-source-view:not(.no-background, .no-bg),
.markdown-preview-view:not(.no-background, .no-bg) {
  background-repeat: repeat;
}
.markdown-preview-view:not(.no-background, .no-bg) .metadata-container,
.markdown-source-view:not(.no-background, .no-bg) .metadata-container {
  background-color: rgb(from var(--workleaves-background) r g b/0.7);
  backdrop-filter: blur(5px);
}
