:root[saved-theme="dark"] {
  --alpha-100: 0.1;
  --alpha-200: 0.2;
  --alpha-500: 0.5;
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --background-modifier-border: var(--color-gray-alpha-50);
  --background-modifier-border-focus: var(--color-base-25);
  --background-modifier-border-hover: var(--color-base-35);
  --background-modifier-border-row: var(--color-base-10);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: var(--static-alpha-balck-700);
  --background-modifier-error: var(--color-red);
  --background-modifier-error-hover: var(--color-red);
  --background-modifier-error-rgb: var(--color-red-rgb);
  --background-modifier-form-field: var(--color-base-20);
  --background-modifier-hover: var(--color-gray-alpha-100);
  --background-modifier-message: rgba(0, 0, 0, 0.9);
  --background-modifier-success: var(--color-green);
  --background-modifier-success-rgb: var(--color-green-rgb);
  --background-primary: var(--color-base-10);
  --background-primary-alt: var(--color-base-30);
  --background-primary-low: var(--color-base-05);
  --background-secondary: var(--color-base-20);
  --background-secondary-alt: var(--color-gray-alpha-75);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 3.8%));
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-ash-100: #131311;
  --color-ash-1000: #bebaa7;
  --color-ash-200: #262521;
  --color-ash-300: #393832;
  --color-ash-400: #4c4a43;
  --color-ash-500: #5f5d54;
  --color-ash-600: #727064;
  --color-ash-700: #858275;
  --color-ash-800: #989586;
  --color-ash-900: #aba796;
  --color-base-00: #0e0e0f;
  --color-base-05: #15171a;
  --color-base-10: #212529;
  --color-base-100: #fefefe;
  --color-base-20: #343a40;
  --color-base-25: #495057;
  --color-base-30: #646b73;
  --color-base-35: #979fa7;
  --color-base-40: #adb5bd;
  --color-base-50: #dee2e6;
  --color-base-60: #f1f3f5;
  --color-base-70: #f8f9fa;
  --color-blue: #6a94fc;
  --color-blue-100: #002c67;
  --color-blue-200: #1e409b;
  --color-blue-300: #2c54cd;
  --color-blue-400: #3160e1;
  --color-blue-500: #3d73ff;
  --color-blue-600: #6a94fc;
  --color-blue-700: #b0cdff;
  --color-blue-800: #d1e9ff;
  --color-blue-900: #e7f7ff;
  --color-blue-alpha-100: rgba(0, 102, 255, 0.2);
  --color-blue-alpha-200: rgba(0, 102, 255, 0.3);
  --color-blue-rgb: 2, 122, 255;
  --color-cyan: #59e8d4;
  --color-cyan-alpha-100: rgba(83, 223, 221, 0.1);
  --color-cyan-rgb: 83, 223, 221;
  --color-gray-alpha-100: rgba(255, 255, 255, 0.1);
  --color-gray-alpha-25: rgba(255, 255, 255, 0.03);
  --color-gray-alpha-50: rgba(255, 255, 255, 0.05);
  --color-gray-alpha-75: rgba(255, 255, 255, 0.08);
  --color-green: #69db7c;
  --color-green-100: #0e2e15;
  --color-green-200: #1c5928;
  --color-green-300: #28803a;
  --color-green-400: #2f9e44;
  --color-green-500: #40c057;
  --color-green-600: #69db7c;
  --color-green-700: #b2f2bb;
  --color-green-800: #d3f9d8;
  --color-green-900: #ebfbee;
  --color-green-alpha-100: rgba(64, 192, 87, 0.1);
  --color-green-alpha-200: rgba(64, 192, 87, 0.2);
  --color-green-rgb: 105, 219, 124;
  --color-orange: #ff9a67;
  --color-orange-100: #4f1905;
  --color-orange-200: #8f300a;
  --color-orange-300: #d9480f;
  --color-orange-400: #e8590c;
  --color-orange-500: #fd7e14;
  --color-orange-600: #ffa94d;
  --color-orange-700: #ffd8a8;
  --color-orange-800: #ffe8cc;
  --color-orange-900: #fff4e6;
  --color-orange-rgb: 255, 154, 103;
  --color-pink: #ffc9c9;
  --color-pink-rgb: 250, 153, 205;
  --color-purple: #d0bfff;
  --color-purple-100: #2d1d5c;
  --color-purple-200: #482e94;
  --color-purple-300: #5f3dc4;
  --color-purple-400: #6741d9;
  --color-purple-500: #7950f2;
  --color-purple-600: #9775fa;
  --color-purple-700: #d0bfff;
  --color-purple-800: #e5dbff;
  --color-purple-900: #f3f0ff;
  --color-purple-alpha-100: rgba(149, 114, 255, 0.2);
  --color-purple-alpha-200: rgba(149, 114, 255, 0.3);
  --color-purple-rgb: 168, 130, 255;
  --color-red: #fa5252;
  --color-red-100: #700707;
  --color-red-200: #9b0404;
  --color-red-300: #c92a2a;
  --color-red-400: #e03131;
  --color-red-500: #fa5252;
  --color-red-600: #ff8787;
  --color-red-700: #ffc9c9;
  --color-red-800: #ffe3e3;
  --color-red-900: #fff5f5;
  --color-red-alpha-100: rgba(250, 82, 82, 0.1);
  --color-red-alpha-200: rgba(250, 82, 82, 0.2);
  --color-red-rgb: 250, 82, 82;
  --color-yellow: #ffe452;
  --color-yellow-alpha-100: rgba(255, 227, 78, 0.18);
  --color-yellow-alpha-200: rgba(255, 227, 78, 0.3);
  --color-yellow-alpha-50: rgba(255, 227, 78, 0.1);
  --color-yellow-rgb: 255, 228, 82;
  --highlight-mix-blend-mode: lighten;
  --input-shadow: transparent;
  --input-shadow-hover: transparent;
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --interactive-hover: var(--color-base-25);
  --interactive-normal: var(--color-base-20);
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
  --text-accent: var(--color-accent-1);
  --text-highlight-bg: var(--color-gray-alpha-100);
  --text-highlight-bg-active: var(--color-yellow-alpha-50);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  color-scheme: dark;
}
