:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 250, 82, 82;
  --color-red: #e93147;
  --color-green-rgb: 8, 185, 78;
  --color-green: #40c057;
  --color-orange-rgb: 253, 126, 20;
  --color-orange: #fd7e14;
  --color-yellow-rgb: 245, 162, 0;
  --color-yellow: #f5a200;
  --color-cyan-rgb: 40, 173, 202;
  --color-cyan: #28adca;
  --color-blue-rgb: 3, 105, 224;
  --color-blue: #3d73ff;
  --color-purple-rgb: 121, 80, 242;
  --color-purple: #7950f2;
  --color-pink-rgb: 245, 88, 173;
  --color-pink: #f558ad;
  --color-base-00: #ffffff;
  --color-base-05: #fefefe;
  --color-base-10: #f8f9fa;
  --color-base-20: #f1f3f5;
  --color-base-25: #dee2e6;
  --color-base-30: #adb5bd;
  --color-base-35: #868e96;
  --color-base-40: #495057;
  --color-base-50: #343a40;
  --color-base-60: #212529;
  --color-base-70: #15171a;
  --color-base-100: #0e0e0f;
  --color-purple-100: #f3f0ff;
  --color-purple-200: #e5dbff;
  --color-purple-300: #d0bfff;
  --color-purple-400: #9775fa;
  --color-purple-500: #7950f2;
  --color-purple-600: #6741d9;
  --color-purple-700: #5f3dc4;
  --color-purple-800: #482e94;
  --color-purple-900: #2d1d5c;
  --color-blue-100: #e7f7ff;
  --color-blue-200: #d1e9ff;
  --color-blue-300: #b0cdff;
  --color-blue-400: #6a94fc;
  --color-blue-500: #3d73ff;
  --color-blue-600: #3160e1;
  --color-blue-700: #2c54cd;
  --color-blue-800: #1e409b;
  --color-blue-900: #002c67;
  --color-green-100: #ebfbee;
  --color-green-200: #d3f9d8;
  --color-green-300: #b2f2bb;
  --color-green-400: #69db7c;
  --color-green-500: #40c057;
  --color-green-600: #2f9e44;
  --color-green-700: #28803a;
  --color-green-800: #1c5928;
  --color-green-900: #0e2e15;
  --color-orange-100: #fff4e6;
  --color-orange-200: #ffe8cc;
  --color-orange-300: #ffd8a8;
  --color-orange-400: #ffa94d;
  --color-orange-500: #fd7e14;
  --color-orange-600: #e8590c;
  --color-orange-700: #d9480f;
  --color-orange-800: #8f300a;
  --color-orange-900: #4f1905;
  --color-red-100: #fff5f5;
  --color-red-200: #ffe3e3;
  --color-red-300: #ffc9c9;
  --color-red-400: #ff8787;
  --color-red-500: #fa5252;
  --color-red-600: #e03131;
  --color-red-700: #c92a2a;
  --color-red-800: #9b0404;
  --color-red-900: #700707;
  --color-ash-100: #f9f8f6;
  --color-ash-200: #f2f1ed;
  --color-ash-300: #eceae5;
  --color-ash-400: #e5e3dc;
  --color-ash-500: #dfddd3;
  --color-ash-600: #d8d6ca;
  --color-ash-700: #d2cfc1;
  --color-ash-800: #cbc8b9;
  --color-ash-900: #c5c1b0;
  --color-ash-1000: #bebaa7;
  --color-gray-alpha-25: rgba(0, 0, 0, 0.03);
  --color-gray-alpha-50: rgba(0, 0, 0, 0.05);
  --color-gray-alpha-75: rgba(0, 0, 0, 0.08);
  --color-gray-alpha-100: rgba(0, 0, 0, 0.1);
  --color-purple-alpha-100: rgba(121, 80, 242, 0.1);
  --color-purple-alpha-200: rgba(121, 80, 242, 0.2);
  --color-cyan-alpha-100: rgba(70, 192, 192, 0.1);
  --color-green-alpha-100: rgba(64, 192, 87, 0.1);
  --color-green-alpha-200: rgba(64, 192, 87, 0.2);
  --color-blue-alpha-100: rgba(61, 174, 255, 0.1);
  --color-blue-alpha-200: rgba(61, 174, 255, 0.2);
  --color-red-alpha-100: rgba(250, 82, 82, 0.1);
  --color-red-alpha-200: rgba(250, 82, 82, 0.2);
  --color-yellow-alpha-50: rgba(255, 232, 23, 0.05);
  --color-yellow-alpha-100: rgba(255, 232, 23, 0.2);
  --color-yellow-alpha-200: rgba(255, 232, 23, 0.3);
  --alpha-100: 0.1;
  --alpha-200: 0.2;
  --alpha-500: 0.5;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --background-primary: var(--color-ash-200);
  --background-primary-low: var(--color-ash-100);
  --background-primary-alt: var(--color-ash-500);
  --background-secondary: var(--color-ash-400);
  --background-secondary-alt: var(--color-ash-600);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
  --background-modifier-hover: var(--color-gray-alpha-100);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --background-modifier-border: var(--color-ash-400);
  --background-modifier-border-row: var(--color-ash-500);
  --background-modifier-border-hover: var(--color-base-35);
  --background-modifier-border-focus: var(--color-ash-600);
  --background-modifier-error-rgb: var(--color-red-rgb);
  --background-modifier-error: var(--color-red);
  --background-modifier-error-hover: var(--color-red);
  --background-modifier-success-rgb: var(--color-green-rgb);
  --background-modifier-success: var(--color-green);
  --background-modifier-message: rgba(0, 0, 0, 0.9);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: var(--static-alpha-balck-700);
  --background-modifier-form-field: var(--color-ash-400);
  --interactive-normal: var(--color-ash-400);
  --interactive-hover: var(--color-ash-500);
  --text-highlight-bg: var(--color-ash-500);
  --text-highlight-bg-active: var(--color-yellow-alpha-100);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --input-shadow: transparent;
  --input-shadow-hover: transparent;
}
