.aura-dark {
  --background-primary: #15141b;
  --background-secondary: #110f18;
  --ribbon-background: #15141b;
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary);
  --code-background: var(--background-secondary);
  --indentation-guide-color: #edecee;
  --color-base-30: #61ffca;
}
