.predefined-accent-color.accent-pumpkin {
  --accent: var(--pumpkin);
  --accent-h: 24;
  --accent-s: 91%;
  --accent-l: 62%;
}

.colorful-tooltips.accent-pumpkin .tooltip {
  color: var(--text-on-accent);
}
