body-flamingo .theme-light,
body.theme-light {
  --background-primary: var(--background-primary-bg-4-bt, #efe9d9);
  --background-primary-alt: var(--background-primary-alt-bg-4-bt, #ffdece);
  --background-secondary: var(--background-secondary-bg-4-bt, #efe9d9);
  --background-secondary-alt: var(--background-secondary-alt-bg-4-bt, #efe9d9);
  --background-4-sliding-panel: #efe9d9;
  --background-mobile-drawer-1: #efe9d9;
  --background-mobile-drawer-2: #efe9d9;
  --graph-control-bg: #efe9d9;
  --background-modifier-border: rgba(0, 0, 0, 0.1);
  --background-modifier-form-field: #ffdece;
  --background-modifier-form-field-highlighted: #f5a7a2;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #ffdece;
  --background-modifier-error: #f5a7a2;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #fefcf9;
  --text-normal: #37291a;
  --text-muted: #37291a;
  --text-faint: #37291a;
  --accent-strong: #37291a;
  --text-error: #f5a7a2;
  --text-error-hover: #fefcf9;
  --text-highlight-bg-h: 4;
  --text-highlight-bg-s: 81%;
  --text-highlight-bg-l: 80%;
  --text-highlight-bg-a: 0.847;
  --text-highlight-bg: hsla(
    var(--text-highlight-bg-h),
    var(--text-highlight-bg-s),
    var(--text-highlight-bg-l),
    var(--text-highlight-bg-a)
  );
  --text-selection: #f39ba044;
  --interactive-accent-rgb: 245, 167, 162;
  --accent-h: 4;
  --accent-s: 81%;
  --accent-l: 80%;
  --panel-border-color: #fd355a;
  --search-text: #37291a;
  --folder-title: #37291a;
  --gray-1: #c4c4c4;
  --gray-2: #7c8595;
  --red: #fd355a;
  --red-1: #980000;
  --green: #40916c;
  --darkgreen: #004f2d;
  --blue: #69a2ee;
  --darkblue: #5981f0;
  --purple: #8673b4;
  --aqua: #4dd8ef;
  --yellow: #ffc727;
  --light-yellow: #e5e79c;
  --orange: #f19c79;
  --light-purple: #d3d6fe;
  --blue-green: #16bcc0;
  --search-result-file-title-color: #980000;
  --list-ul-block-color: #f5a7a2;
  --list-ul-disc-color: #fd355a;
  --list-ul-hover: #980000;
  --list-ol-block-color: #f5a7a2;
  --list-ol-number-color: #f5a7a2;
  --list-ol-hover: #980000;
  --stag1: #fd355a;
  --stag2: #fd355a;
  --stag3: #fd355a;
  --tag1: #56cfc7c7;
  --tag2: #eca1bcda;
  --tag3: #e6d00d;
  --tag4: #40916c;
  --tag5: #68c7a4;
  --h1-color: var(--print-h1-color, #f39ba0);
  --h2-color: var(--print-h2-color, #f39ba0);
  --h3-color: var(--print-h3-color, #f39ba0);
  --h4-color: var(--print-h4-color, #f39ba0);
  --h5-color: var(--print-h5-color, #f39ba0);
  --h6-color: var(--print-h6-color, #f39ba0);
  --graph-text-color: #37291a;
  --graph-tag: #ffdece;
  --graph-attach: #f5a7a2;
  --graph-circle: #fd355c;
  --graph-line: #fea2c2;
  --graph-unresolved: #e87659;
  --graph-arrow: #980000;
  --mermaid-active-task-color: #f5a7a2;
  --mermaid-seq-dia-color: #ffdece;
  --table-background-color: #ffdece;
  --table-background-color-odd: #ffdece;
  --table-border-color: #fd355a;
  --table-thead-background-color: #f5a7a2;
  --table-hover-color: #f5a7a2;
  --table-hover-thead-color: #f5a7a2;
  --table-hover-raw-color: #ffdece;
  --calendar-week-color: #f5a7a2;
  --calendar-week-hover: #ffdece;
  --calendar-week-background-color: #ffdece;
  --day-planner-pie: #f5a7a2;
  --day-planner-timeline: #ffdece;
  --day-planner-line: #fd355a;
  --day-planner-dot: #ffdece;
  --day-planner-item-hover: #f5a7a2;
  --event-item-color1: #f39ba063;
  --event-item-color2: #f39ba091;
  --event-item-color3: #f39ba0c4;
  --event-item-color4: #f39ba0;
  --event-item-color5: #d08489;
  --event-item-color6: #b27175;
  --event-item-color7: #d08489;
  --event-item-color8: #f39ba0;
  --event-item-color9: #f39ba0c4;
  --event-item-color10: #f39ba091;
  --note-important: #fd355a;
  --note-cloze: #fd355a;
  --stickies-color-1: #e46969;
  --stickies-color-2: #f5a7a2;
  --tape-color: #acacac65;
  --header-color: #f5a7a2;
  --color-view-header-gradient-1: #efe9d933;
  --color-view-header-gradient-2: #efe9d933;
  --table-color-calendar-2: rgb(214, 118, 146);
  --table-color-rgb: 214, 118, 146;
  --scrollbar-thumb-bg: #f39ba050;
  --scrollbar-active-thumb-bg: #f39ba0;
}
body.theme-light #calendar-container {
  --color-background-heading: transparent;
  --color-background-weeknum: transparent;
  --color-background-day: transparent;
  --color-background-weekend: transparent;
  --color-tr: #ffdece8c !important;
  --color-tr-odd: #ffdece !important;
  --color-dot: var(--text-accent);
  --color-arrow: currentColor;
  --color-button: var(--text-muted);
  --color-text-weeknum: var(--calendar-week-color);
  --color-text-title: var(--text-normal);
  --color-text-heading: var(--text-normal);
  --color-text-day: var(--text-normal);
  --color-text-today: var(--text-accent);
  padding: 0px 5px 0px 8px;
  margin: -21px -8px 0px -8px;
  line-height: 0.6;
}
body.theme-light #calendar-container th {
  padding: 6px 0;
  border-radius: 0px !important;
  background-color: var(--table-thead-background-color) !important;
}
body.theme-light #calendar-container .week-num,
body.theme-light #calendar-container .day {
  border-radius: 0px !important;
}
body.theme-light #calendar-container td {
  width: 12.5%;
  border-right: 0px solid var(--background-secondary-alt);
  padding: 0px 0px 0px 0px !important;
  line-height: 22px;
  border-radius: 0px !important;
}
body.theme-light #calendar-container tr {
  border: 2px solid var(--background-secondary-alt);
}
body.theme-light #calendar-container .reset-button {
  font-size: 14px !important;
  margin: 0;
  padding: 0;
  cursor: pointer;
  line-height: 1.2;
  text-align: center;
}
body.theme-light #calendar-container .reset-button:hover {
  color: var(--header-color);
  background-color: var(--table-hover-raw-color);
}
body.theme-light #calendar-container .arrow:hover {
  color: var(--theme-color);
}
body.theme-light #calendar-container .day:active,
body.theme-light #calendar-container .active,
body.theme-light #calendar-container .active.today {
  background-color: #f5a7a2 !important;
}
body.theme-light #calendar-container .dot-container {
  margin-top: -2px;
  margin-bottom: -1px;
}
body.theme-light #calendar-container .month {
  font-size: 20px;
  line-height: 1;
}
body.theme-light #calendar-container .year {
  font-size: 20px;
  line-height: 1;
}
body.theme-light #calendar-container .week-num {
  background-color: var(--calendar-week-background-color);
  font-weight: 600;
}
body.theme-light #calendar-container .week-num:hover {
  background-color: var(--calendar-week-hover) !important;
}
body.theme-light .nav-folder.mod-root > .nav-folder-title {
  background-color: var(--background-secondary-alt-bg-4-bt);
}
body.theme-light .admonition {
  background-color: #ffebec15 !important;
}
body.theme-light {
  --font-family-vault:
    Arlrdbd, 'Source Han Sans', 'Noto Sans CJK', 'Source Sans Pro' !important;
  /*左侧库名字体*/
}
body.theme-light .tag[href^='#DailyNote'] {
  background-color: var(--tag1);
  font-weight: 600;
  font-family: var(--font-family-special-tag) !important;
}
body.theme-light .tag[href^='#DailyNote']::after {
  content: '❀';
  font-size: var(--font-size-emoji-after-tag);
}
body.theme-light .search-result-file-match {
  background: transparent;
}
