.h4-bottom-border h4,
.h4-bottom-border .HyperMD-header-4 {
  padding-bottom: 2px;
  border-bottom: 1.4px var(--line-style) var(--hr-color);
}

.h4-bottom-border.colorful-headings.theme-notion h4,
.h4-bottom-border.colorful-headings.theme-notion .HyperMD-header-4,
.h4-bottom-border.colorful-headings.theme-anytype h4,
.h4-bottom-border.colorful-headings.theme-anytype .HyperMD-header-4 {
  border-bottom: none;
}
