.magicuser-teal-theme {
  --mu-background-color-1: #002828;
  --mu-background-color-2: #002121;
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #003838;
  --mu-titlebar-background: #004040;
  --code-background: #1f1f1f;
  --mu-table-th-background: #004040;
}
