body.flexcyon-ascii-checkboxes-enabled input[data-task="!"]:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="!"] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="!"] > p > input:checked {
  background-color: transparent;
  border: none;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="!"]:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task="!"] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="!"]
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="!"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="!"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="!"]
  > p
  > input:checked::after {
  background-color: transparent;
  content: "!";
  color: var(--color-red);
  font-size: var(--flexcyon-ascii-checkboxes-font-size);
  text-align: center;
  -webkit-mask-image: none;
  mask-image: none;
  top: -0.325em;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task=">"]:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task=">"] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task=">"] > p > input:checked {
  background-color: transparent;
  border: none;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task=">"]:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task=">"] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task=">"]
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task=">"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task=">"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task=">"]
  > p
  > input:checked::after {
  background-color: transparent;
  content: ">";
  color: var(--color-purple);
  font-size: var(--flexcyon-ascii-checkboxes-font-size);
  text-align: center;
  -webkit-mask-image: none;
  mask-image: none;
  top: -0.325em;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="i"]:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="i"] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="i"] > p > input:checked {
  background-color: transparent;
  border: none;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="i"]:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task="i"] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="i"]
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="i"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="i"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="i"]
  > p
  > input:checked::after {
  background-color: transparent;
  content: "i";
  color: var(--color-blue);
  font-size: var(--flexcyon-ascii-checkboxes-font-size);
  text-align: center;
  -webkit-mask-image: none;
  mask-image: none;
  top: -0.325em;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="?"]:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="?"] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="?"] > p > input:checked {
  background-color: transparent;
  border: none;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="?"]:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task="?"] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="?"]
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="?"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="?"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="?"]
  > p
  > input:checked::after {
  background-color: transparent;
  content: "?";
  color: var(--color-green);
  font-size: var(--flexcyon-ascii-checkboxes-font-size);
  text-align: center;
  -webkit-mask-image: none;
  mask-image: none;
  top: -0.325em;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="#"]:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="#"] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="#"] > p > input:checked {
  background-color: transparent;
  border: none;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="#"]:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task="#"] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="#"]
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="#"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="#"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="#"]
  > p
  > input:checked::after {
  background-color: transparent;
  content: "#";
  color: var(--color-cyan);
  font-size: var(--flexcyon-ascii-checkboxes-font-size);
  text-align: center;
  -webkit-mask-image: none;
  mask-image: none;
  top: -0.325em;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="."]:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="."] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="."] > p > input:checked {
  background-color: transparent;
  border: none;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="."]:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task="."] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="."]
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="."]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="."] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="."]
  > p
  > input:checked::after {
  background-color: transparent;
  content: ".";
  color: var(--color-orange);
  font-size: var(--flexcyon-ascii-checkboxes-font-size);
  text-align: center;
  -webkit-mask-image: none;
  mask-image: none;
  top: -0.325em;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="<"]:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="<"] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="<"] > p > input:checked {
  background-color: transparent;
  border: none;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="<"]:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task="<"] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="<"]
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="<"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="<"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="<"]
  > p
  > input:checked::after {
  background-color: transparent;
  content: "<";
  color: var(--color-yellow);
  font-size: var(--flexcyon-ascii-checkboxes-font-size);
  text-align: center;
  -webkit-mask-image: none;
  mask-image: none;
  top: -0.325em;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="$"]:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="$"] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="$"] > p > input:checked {
  background-color: transparent;
  border: none;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="$"]:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task="$"] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="$"]
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="$"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="$"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="$"]
  > p
  > input:checked::after {
  background-color: transparent;
  content: "$";
  color: var(--text-accent);
  font-size: var(--flexcyon-ascii-checkboxes-font-size);
  text-align: center;
  -webkit-mask-image: none;
  mask-image: none;
  top: -0.325em;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="*"]:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="*"] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="*"] > p > input:checked {
  background-color: transparent;
  border: none;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="*"]:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task="*"] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="*"]
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="*"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="*"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="*"]
  > p
  > input:checked::after {
  background-color: transparent;
  content: "*";
  color: var(--color-red);
  font-size: var(--flexcyon-ascii-checkboxes-font-size);
  text-align: center;
  -webkit-mask-image: none;
  mask-image: none;
  top: -0.325em;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="'"]:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="'"] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="'"] > p > input:checked {
  background-color: transparent;
  border: none;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="'"]:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task="'"] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="'"]
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="'"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="'"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="'"]
  > p
  > input:checked::after {
  background-color: transparent;
  content: "'";
  color: var(--color-green);
  font-size: var(--flexcyon-ascii-checkboxes-font-size);
  text-align: center;
  -webkit-mask-image: none;
  mask-image: none;
  top: -0.325em;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="@"]:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="@"] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="@"] > p > input:checked {
  background-color: transparent;
  border: none;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="@"]:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task="@"] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="@"]
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="@"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="@"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="@"]
  > p
  > input:checked::after {
  background-color: transparent;
  content: "@";
  color: var(--color-blue);
  font-size: var(--flexcyon-ascii-checkboxes-font-size);
  text-align: center;
  -webkit-mask-image: none;
  mask-image: none;
  top: -0.325em;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task='"']:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task='"'] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task='"'] > p > input:checked {
  background-color: transparent;
  border: none;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task='"']:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task='"'] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task='"']
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task='"']:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task='"'] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task='"']
  > p
  > input:checked::after {
  content: "“";
  color: var(--color-green);
  font-size: calc(var(--flexcyon-ascii-checkboxes-font-size) + 0.3rem);
  text-align: center;
  -webkit-mask-image: none;
  mask-image: none;
  top: -0.325em;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="'"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="'"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="'"]
  > p
  > input:checked::after {
  content: "‘";
  font-size: calc(var(--flexcyon-ascii-checkboxes-font-size) + 0.3rem);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="i"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="i"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="i"]
  > p
  > input:checked::after {
  border: 1.5px solid var(--color-blue);
  font-size: calc(var(--flexcyon-ascii-checkboxes-font-size) - 0.5rem);
  border-radius: 50%;
  scale: 115%;
  margin-inline-start: -1.5px;
  top: -0.1rem;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="<"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="<"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="<"]
  > p
  > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled input[data-task=">"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task=">"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task=">"]
  > p
  > input:checked::after {
  transform: scaleY(1.1);
  top: -0.4rem;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="."]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="."] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="."]
  > p
  > input:checked::after {
  content: "...";
  font-size: calc(var(--flexcyon-ascii-checkboxes-font-size) - 0.2rem);
  letter-spacing: -0.5px;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="*"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="*"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="*"]
  > p
  > input:checked::after {
  font-size: calc(var(--flexcyon-ascii-checkboxes-font-size) + 0.75rem);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="$"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="$"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="$"]
  > p
  > input:checked::after {
  font-size: calc(var(--flexcyon-ascii-checkboxes-font-size) - 0.05rem);
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="@"]:checked::after,
body.flexcyon-ascii-checkboxes-enabled li[data-task="@"] > input:checked::after,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="@"]
  > p
  > input:checked::after {
  font-size: calc(var(--flexcyon-ascii-checkboxes-font-size) - 0.05rem);
  top: -0.45rem;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="l"]:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="l"] > input:checked,
body.flexcyon-ascii-checkboxes-enabled li[data-task="l"] > p > input:checked {
  background-color: transparent;
  font-weight: 900;
}

body.flexcyon-ascii-checkboxes-enabled input[data-task="l"]:checked:hover,
body.flexcyon-ascii-checkboxes-enabled li[data-task="l"] > input:checked:hover,
body.flexcyon-ascii-checkboxes-enabled
  li[data-task="l"]
  > p
  > input:checked:hover {
  filter: brightness(1.25);
}
