.default-light-theme {
  --text: 76, 79, 105;
  --subtext1: 92, 95, 119;
  --subtext0: 108, 111, 133;
  --overlay2: 76, 79, 105;
  --overlay1: 140, 143, 161;
  --overlay0: 156, 160, 176;
  --surface2: 221, 225, 238;
  --surface1: 188, 192, 204;
  --surface0: 221, 225, 238;
  --exterior: 254, 241, 241;
  --side: 243, 236, 243;
  --base: 252, 252, 252;
}

.default-light-theme {
  --lily: 222, 149, 132;
  --red: 240, 68, 114;
  --rose: 215, 125, 146;
  --violet: 176, 110, 201;
  --blue: 71, 143, 238;
  --sea: 23, 146, 153;
  --cyan: 37, 189, 209;
  --turquoise: 58, 161, 182;
  --green: 64, 155, 40;
  --yellow: 228, 147, 32;
  --lemon: 195, 173, 87;
  --orange: 249, 102, 50;
}
