.colorful-headings {
  /* --h1-color: #5E81AC;
    --h2-color: #7da0c3;
    --h3-color: #85b4cf;
    --h4-color: #80b5c3;
    --h5-color: #81b8c2;
    --h6-color: #8FBCBB;*/
  --h1-color: var(--color-red);
  --h2-color: var(--color-orange);
  --h3-color: var(--color-yellow);
  --h4-color: var(--color-green);
  --h5-color: var(--color-cyan);
  --h6-color: var(--color-blue);
}

.colorful-headings-alt {
  --h1-color: #5e81ac;
  --h2-color: #81a1c1;
  --h3-color: #88c0d0;
  --h4-color: #8fbcbb;
  --h5-color: #a3be8c;
  --h6-color: #ebcb8b;
}

.colored-bold-and-italic {
  --bold-color: var(--color-blue);
  --italic-color: var(--color-green);
}

.theme-nord {
  --accent-h: 92 !important;
  --accent-s: 28% !important;
  --accent-l: 65% !important;
  --font-default: "Bahnschrift", "Aevnir Next", sans-serif;
}
