:root[saved-theme="dark"] {
  --background-primary: #282c34;
  --background-secondary: #3b4251;
  --ribbon-background: #4c567a;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
