.fas-h6-stroke
  .markdown-preview-view:not(
    :is(.newspaper, .movie-script, .minimalist, .h6-display)
  )
  h6 {
  --h6-weight: var(--font-extralight);
  --h6-size: 1em;
  display: flex;
  align-items: center;
  gap: 20px;
}
.fas-h6-stroke
  .markdown-preview-view:not(
    :is(.newspaper, .movie-script, .minimalist, .h6-display)
  )
  h6::before {
  content: '';
  display: block;
  flex-grow: 1;
  background-color: var(--h6-border-color);
  height: 1px;
}
.fas-h6-stroke
  .markdown-preview-view:not(
    :is(.newspaper, .movie-script, .minimalist, .h6-display)
  )
  h6::after {
  content: '';
  display: block;
  flex-grow: 1;
  background-color: var(--h6-border-color);
  height: 1px;
}
.fas-h6-stroke
  .markdown-preview-view:not(
    :is(.newspaper, .movie-script, .minimalist, .h6-display)
  )
  h6:is(.is-collapsed > h6)::before,
.fas-h6-stroke
  .markdown-preview-view:not(
    :is(.newspaper, .movie-script, .minimalist, .h6-display)
  )
  h6:is(.is-collapsed > h6)::after {
  background-color: var(--h6-border-color-collapsed);
}
