:root[saved-theme="dark"] {
  --ss-dark-h: 221;
  --ss-dark-s: 3.33%;
  --ss-dark-l: 2.58%;
  --ss-dark-contrast: 0.73%;
  --background-h: var(--ss-dark-h);
  --background-s: calc(var(--ss-dark-s) * 10);
  --background-l: calc(var(--ss-dark-l) * 5);
  --background-contrast: calc(var(--ss-dark-contrast) * 4.8);
  --background-secondary-s: calc(var(--background-s) * 0.875);
  --background-secondary-l: calc(var(--background-l) + 2% + var(--background-contrast));
  --background-primary: hsl(var(--background-h), var(--background-s), var(--background-l));
  --background-secondary: hsl(
    var(--background-h),
    var(--background-secondary-s),
    var(--background-secondary-l)
  );
  --background-dark: rgb(10, 18, 30);
  --background-extra-dark: #000;
  --background-primary-alt: var(--background-dark);
  --background-secondary-alt: var(--background-secondary);
  --accent-soft-hsl: var(--background-h), calc(var(--background-s) * 0.5), 85%;
  --accent-soft-dark: hsla(var(--accent-soft-hsl), 0.1);
  --accent-soft-light: hsla(var(--accent-soft-hsl), 0.05);
  --accent-h: 189;
  --accent-s: 100%;
  --accent-l: 49%;
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: var(--color-accent);
  --color-accent-background: hsla(var(--color-accent-hsl), 0.1);
  --color-accent-background-hover: hsla(var(--color-accent-hsl), 0.2);
  --accent-on-selection: hsla(var(--color-accent-hsl), 0.4);
  --text-selection: var(--accent-on-selection);
  --ss-dark-highlight-bg: hsl(
    var(--accent-h),
    calc(var(--accent-s) * 1.1),
    calc(var(--accent-l) * 1.1 + 10%)
  );
  --text-highlight-bg: var(--ss-dark-highlight-bg);
  --ss-dark-text-main: 250, 247, 245;
  --text-normal: rgb(var(--ss-dark-text-main));
  --text-muted: var(--text-normal);
  --text-faint: var(--text-normal);
  --text-white: rgb(250, 247, 245);
  --text-highlight-fg: #000;
  --text-error: rgb(250, 30, 0);
  --text-accent-hover: var(--text-white);
  --text-on-accent: #000 !important;
  --hr-color: rgba(var(--ss-dark-text-main), 0.1);
  --code-peripheral: 175, 191, 255;
  --code-comment: rgba(var(--code-peripheral), 0.7);
  --code-indentation-guide-color: rgba(var(--code-peripheral), 0.23);
  --callout-default: var(--text-normal);
  --callout-info: var(--text-normal);
  --callout-summary: var(--text-normal);
  --callout-tip: var(--text-normal);
  --callout-question: var(--text-normal);
  --callout-example: var(--text-normal);
  --callout-quote: var(--text-normal);
  --callout-important: var(--color-accent);
  --callout-todo: rgb(0, 130, 255);
  --callout-success: rgb(0, 190, 0);
  --callout-warning: rgb(220, 210, 0);
  --callout-fail: rgb(250, 30, 0);
  --callout-error: rgb(250, 30, 0);
  --callout-bug: rgb(245, 0, 170);
  --callout-tip: rgb(255, 220, 120);
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary);
  --interactive-normal: var(--background-dark);
  --interactive-hover: var(--background-dark);
  --interactive-accent-hover: var(--color-accent);
  --tag-background: var(--color-accent-background);
  --tag-background-hover: var(--color-accent-background-hover);
  --prompt-border-color: var(--accent-soft-dark);
  --modal-border-color: var(--accent-soft-dark);
  --background-modifier-hover: var(--accent-soft-light);
  --background-modifier-active-hover: var(--accent-soft-light);
  --background-modifier-form-field: var(--background-dark);
  --background-modifier-border: var(--accent-soft-dark);
  --background-modifier-border-hover: var(--accent-soft-dark);
  --background-modifier-border-focus: hsl(
    var(--background-h),
    var(--background-s),
    calc(var(--background-l) - 4%)
  );
  --background-modifier-error: var(--text-error);
  --background-modifier-error-hover: var(--text-error);
  --search-result-bg-hover: var(--background-modifier-form-field);
  --dictionary-background-primary: var(--background-secondary);
  --dictionary-background-secondary: var(--background-primary);
  --kanban-button-text: var(--text-normal);
  --kanban-button-text-hover: var(--text-on-accent);
  --kanban-checkbox-border: var(--background-primary);
  --button-shadow-hover: rgba(255, 255, 255, 0.67);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
