:root[saved-theme="dark"],
html[saved-theme="dark"] {
  color-scheme: dark;

  .callout {
    --callout-blend-mode: lighten;
  }

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }

  --accent-on-selection: hsla(189, 100%, 49%, 0.4);

  --accent-soft-dark: hsla(221, 16.65%, 85%, 0.1);

  --accent-soft-light: hsla(221, 16.65%, 85%, 0.05);
  --background-contrast: 3.504%;

  --background-l: 12.9%;

  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);

  --background-s: 33.3%;

  --background-secondary-l: 18.404%;
  --background-secondary-s: 29.1375%;
  --button-shadow-hover: rgba(255, 255, 255, 0.67);

  --code-indentation-guide-color: rgba(175, 191, 255, 0.23);
  --code-peripheral: 175, 191, 255;

  --color-accent-background: hsla(189, 100%, 49%, 0.1);
  --color-accent-background-hover: hsla(189, 100%, 49%, 0.2);

  --color-blue-rgb: 2, 122, 255;

  --color-cyan-rgb: 83, 223, 221;

  --color-green-rgb: 68, 207, 110;

  --color-orange-rgb: 233, 151, 63;

  --color-pink-rgb: 250, 153, 205;

  --color-purple-rgb: 168, 130, 255;

  --color-red-rgb: 251, 70, 76;

  --color-yellow-rgb: 224, 222, 113;

  --highlight-mix-blend-mode: darken;
  --hr-color: rgba(250, 247, 245, 0.1);
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --interactive-accent: hsl(189, 100%, 49%);

  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;

  --shadow-l:
    0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s:
    0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
  --ss-dark-contrast: 0.73%;
  --ss-dark-h: 221;
  --ss-dark-highlight-bg: hsl(189, 110%, 63.9%);
  --ss-dark-l: 2.58%;
  --ss-dark-s: 3.33%;
  --ss-dark-text-main: 250, 247, 245;

  --text-accent: hsl(189, 100%, 49%);

  --accent-on-selection: hsla(189, 100%, 49%, 0.4);

  --accent-soft-dark: hsla(221, 16.65%, 85%, 0.1);

  --accent-soft-light: hsla(221, 16.65%, 85%, 0.05);
  --background-contrast: 3.504%;

  --background-l: 12.9%;

  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);

  --background-s: 33.3%;

  --background-secondary-l: 18.404%;
  --background-secondary-s: 29.1375%;
  --button-shadow-hover: rgba(255, 255, 255, 0.67);

  --code-indentation-guide-color: rgba(175, 191, 255, 0.23);
  --code-peripheral: 175, 191, 255;

  --color-accent-background: hsla(189, 100%, 49%, 0.1);
  --color-accent-background-hover: hsla(189, 100%, 49%, 0.2);

  --color-blue-rgb: 2, 122, 255;

  --color-cyan-rgb: 83, 223, 221;

  --color-green-rgb: 68, 207, 110;

  --color-orange-rgb: 233, 151, 63;

  --color-pink-rgb: 250, 153, 205;

  --color-purple-rgb: 168, 130, 255;

  --color-red-rgb: 251, 70, 76;

  --color-yellow-rgb: 224, 222, 113;

  --highlight-mix-blend-mode: darken;
  --hr-color: rgba(250, 247, 245, 0.1);
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --interactive-accent: hsl(189, 100%, 49%);

  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;

  --shadow-l:
    0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s:
    0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
  --ss-dark-contrast: 0.73%;
  --ss-dark-h: 221;
  --ss-dark-highlight-bg: hsl(189, 110%, 63.9%);
  --ss-dark-l: 2.58%;
  --ss-dark-s: 3.33%;
  --ss-dark-text-main: 250, 247, 245;

  --text-accent: hsl(189, 100%, 49%);

  --titlebar-background-focused: hsl(221, 33.3%, 12.9%);
}
