:root[saved-theme="light"] {
  --ss-light-h: 0;
  --ss-light-s: 3.92%;
  --ss-light-l: 9.86%;
  --ss-light-contrast: 0%;
  --background-h: var(--ss-light-h);
  --background-s: calc(var(--ss-light-s) * 10);
  --background-l: calc(var(--ss-light-l) * 5 + 50%);
  --background-contrast: calc(var(--ss-light-contrast) * 4.8);
  --background-secondary-s: calc(var(--background-s) * 0.875);
  --background-secondary-l: calc(var(--background-l) - 2% - var(--background-contrast));
  --background-primary: hsl(var(--background-h), var(--background-s), var(--background-l));
  --background-secondary: hsl(
    var(--background-h),
    var(--background-secondary-s),
    var(--background-secondary-l)
  );
  --background-dark: rgb(23, 35, 62);
  --background-extra-dark: #000;
  --background-primary-alt: var(--background-secondary);
  --background-secondary-alt: var(--background-secondary);
  --accent-soft-hsl: var(--background-h), calc(var(--background-s) * 0.5), 15%;
  --accent-soft-dark: hsla(var(--accent-soft-hsl), 0.1);
  --accent-soft-light: hsla(var(--accent-soft-hsl), 0.05);
  --accent-h: 0;
  --accent-s: 75%;
  --accent-l: 52%;
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: var(--color-accent);
  --color-accent-background: hsla(var(--color-accent-hsl), 0.1);
  --color-accent-background-hover: hsla(var(--color-accent-hsl), 0.2);
  --accent-on-selection: hsla(var(--color-accent-hsl), 0.4);
  --text-selection: var(--accent-on-selection);
  --ss-light-highlight-bg: hsl(
    var(--accent-h),
    calc(var(--accent-s) * 1.1),
    calc(var(--accent-l) * 1.1 + 10%)
  );
  --text-highlight-bg: var(--ss-light-highlight-bg);
  --ss-light-text-main: 0, 0, 0;
  --text-normal: rgb(var(--ss-light-text-main));
  --text-muted: var(--text-normal);
  --text-faint: var(--text-normal);
  --text-white: rgb(254, 252, 252);
  --text-highlight-fg: #000;
  --text-error: rgb(250, 30, 0);
  --text-accent-hover: #000;
  --text-on-accent: var(--text-white) !important;
  --hr-color: rgba(var(--ss-light-text-main), 0.4);
  --code-peripheral: 159, 157, 190;
  --code-comment: rgba(var(--code-peripheral));
  --code-indentation-guide-color: rgba(var(--code-peripheral), 0.33);
  --callout-default: var(--text-normal);
  --callout-info: var(--text-normal);
  --callout-summary: var(--text-normal);
  --callout-question: var(--text-normal);
  --callout-example: var(--text-normal);
  --callout-quote: var(--text-normal);
  --callout-important: var(--color-accent);
  --callout-todo: rgb(0, 130, 235);
  --callout-success: rgb(0, 180, 0);
  --callout-warning: rgb(240, 150, 0);
  --callout-fail: rgb(235, 0, 0);
  --callout-error: rgb(235, 0, 0);
  --callout-bug: rgb(245, 0, 165);
  --callout-tip: rgb(240, 195, 0);
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary);
  --interactive-normal: var(--accent-soft-light);
  --interactive-hover: var(--accent-soft-dark);
  --interactive-accent-hover: var(--color-accent);
  --tag-background: var(--color-accent-background);
  --tag-background-hover: var(--color-accent-background-hover);
  --prompt-border-color: var(--accent-soft-dark);
  --modal-border-color: var(--accent-soft-dark);
  --background-modifier-hover: var(--accent-soft-light);
  --background-modifier-active-hover: var(--accent-soft-light);
  --background-modifier-form-field: var(--accent-soft-light);
  --background-modifier-border: var(--accent-soft-dark);
  --background-modifier-border-hover: var(--accent-soft-dark);
  --background-modifier-border-focus: var(--accent-soft-dark);
  --background-modifier-error: var(--text-error);
  --background-modifier-error-hover: var(--text-error);
  --search-result-bg-hover: var(--accent-soft-dark);
  --dictionary-background-primary: var(--accent-soft-light);
  --dictionary-background-secondary: var(--background-secondary);
  --kanban-button-text: var(--text-normal);
  --kanban-button-text-hover: var(--text-white);
  --kanban-checkbox-border: var(--accent-soft-dark);
  --button-shadow-hover: rgba(0, 0, 0, 0.67);

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
