.fas-automn {
  --color-space: hsl;
  --color-base-00: #f1f1dc;
  --color-base-100: #4b220b;
  --middle-color: hsl(31.4285714286, 70%, 40%);
  --middle-color-complement: #1f63ad;
  --color-gray: #545454;
  --color-gray-rgb: 84, 84, 84;
  --color-brown: #772d05;
  --color-brown-rgb: 119, 45, 5;
  --color-red: #bb3b2a;
  --color-red-rgb: 187, 59, 42;
  --color-orange: #c66d00;
  --color-orange-rgb: 198, 109, 0;
  --color-yellow: #d1aa11;
  --color-yellow-rgb: 209, 170, 17;
  --color-green: #2c660b;
  --color-green-rgb: 44, 102, 11;
  --color-cyan: #4c907e;
  --color-cyan-rgb: 76, 144, 126;
  --color-blue: #4d3d83;
  --color-blue-rgb: 77, 61, 131;
  --color-purple: #782a6a;
  --color-purple-rgb: 120, 42, 106;
  --color-pink: #e31e8d;
  --color-pink-rgb: 227, 30, 141;
}

.fas-automn {
  --color-rainbow-1: #af5524;
  --color-rainbow-1-rgb: 175, 85, 36;
  --color-rainbow-2: #af9524;
  --color-rainbow-2-rgb: 175, 149, 36;
  --color-rainbow-3: #7a9f24;
  --color-rainbow-3-rgb: 122, 159, 36;
  --color-rainbow-4: #459f2e;
  --color-rainbow-4-rgb: 69, 159, 46;
  --color-rainbow-5: #459f6e;
  --color-rainbow-5-rgb: 69, 159, 110;
  --color-rainbow-6: #457f8e;
  --color-rainbow-6-rgb: 69, 127, 142;
  --color-rainbow-7: #45408e;
  --color-rainbow-7-rgb: 69, 64, 142;
  --color-rainbow-8: #7a358e;
  --color-rainbow-8-rgb: 122, 53, 142;
  --color-rainbow-9: #af3583;
  --color-rainbow-9-rgb: 175, 53, 131;
  --color-rainbow-10: #af3544;
  --color-rainbow-10-rgb: 175, 53, 68;
}
