.theme-black.theme-dark,
.theme-black.theme-light {
  --color-base-05: #1a242d;
  --color-base-00: #14141e;
  --color-base-10: #1d1f2e;
  --color-base-20: #161721;
  --color-base-25: #3a435d;
  --color-base-30: #0d0d15;
  --color-base-35: #2f3850;
  --color-base-40: #424d63;
  --color-base-50: #4f5971;
  --color-base-60: #606882;
  --color-base-70: #737b94;
  --color-base-100: #b1b7cc;
  --glow-color: rgb(145, 175, 243);
}
