.callout[data-callout='letter'] :is(.callout-content) {
  background-color: color-mix(
    in srgb,
    rgb(var(--callout-color)),
    var(--workleaves-background) 92%
  );
  background-image: var(--paper-texture);
  background-size: 500px;
  background-blend-mode: multiply;
}
.workspace-leaf-content[data-type='file-explorer']::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: var(--file-explorer-decoration);
  background-size: var(--file-explorer-decoration-size);
  background-position: var(--file-explorer-decoration-position);
  mix-blend-mode: var(--file-explorer-decoration-blend);
  opacity: var(--file-explorer-decoration-opacity);
  background-repeat: no-repeat;
  z-index: -1;
}
:not(.fas-file-explorer-decoration-custom)
  .workspace-leaf-content[data-type='file-explorer']::before {
  filter: sepia(1);
}
.is-mobile .workspace-leaf-content[data-type='file-explorer'] {
  background-color: var(--mobile-sidebar-background);
}
.is-mobile .workspace-leaf-content[data-type='file-explorer']::before {
  bottom: calc(
    max(var(--size-4-2), var(--safe-area-inset-bottom)) + var(--icon-size) +
      var(--size-2-2) + var(--size-2-3)
  );
  z-index: unset;
}
.mod-sidedock .workspace-leaf {
  --c: rgb(
    from var(--workleaves-background) r g b /
      calc(1 - var(--sidebar-texture-opacity))
  );
  background-image:
    linear-gradient(to right, var(--c), var(--c) 100%), var(--sidebar-texture);
  background-size: var(--sidebar-texture-size);
  background-blend-mode: normal, var(--sidebar-texture-blend);
  background-position: var(--sidebar-texture-position);
}
.fas-skin-art-deco:not(.fas-sidebar-texture-custom)
  .mod-sidedock
  .workspace-leaf {
  background-repeat: no-repeat;
}
