:root[saved-theme="light"] {
  --background-primary: #ffffff;
  --background-secondary: #f4f4f4;
  --ribbon-background: #000000;
  --list-marker-color: #262626;
  --text-normal: #262626;
  --icon-color: #262626;
  --icon-color-hover: #262626;
  --background-secondary-alt: #000000;
  --titlebar-background: #000000;
  --icon-color-focused: #000000;
  --tab-text-color-focused: #8d8d8d;
  --tab-text-color: #8d8d8d;
  --background-modifier-border: #8d8d8d;
  --background-modifier-active-hover: #e8e8e8;
  --text-highlight-bg: #d0e2ff;
  --text-error: #da1e28;
  --table-borders: #c6c6c6;
  --table-headers: #e8e8e8;

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
