.lightPalette-beige.darkPalette-default.accentColor-darkMode-alternative-2,
.lightPalette-lightBeige.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-beige.accentColor-darkMode-alternative-2 {
  --accent-h: 277 !important;
  --accent-s: 80% !important;
  --accent-l: 16% !important;
  --color-accent-1: #682f8c !important;
  --color-accent-2: #853cb2 !important;
  --color-accent-3: #4c2266 !important;
  --OT-color-on-accent-1: #e1ccee !important;
  --OT-color-muted-on-accent-1: var(--color-base-100) !important;
  --OT-color-on-accent-2: var(--color-base-100) !important;
  /*    --OT-color-on-accent-3:            #fff    !important; */
  --OT-text-selection-background: hsl(var(--accent-h), var(--accent-s), 25%);
}
.lightPalette-blue.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-blue.accentColor-darkMode-alternative-2 {
  --accent-h: 90 !important;
  --accent-s: 93% !important;
  --accent-l: 30% !important;
  --color-accent-1: #80f708 !important;
  --color-accent-2: #5eb506 !important;
  --color-accent-3: #336303 !important;
  /*    --OT-color-on-accent-1:            #fff    !important; */
  /*    --OT-color-muted-on-accent-1:    #fff    !important; */
  --OT-color-on-accent-2: var(--color-base-00) !important;
  --OT-color-on-accent-3: #ddfdbd !important;
  --OT-text-selection-background: hsl(var(--accent-h), var(--accent-s), 15%);
}
.lightPalette-Brown.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-brown.accentColor-darkMode-alternative-2 {
  --accent-h: 268 !important;
  --accent-s: 80% !important;
  --accent-l: 20% !important;
  --color-accent-1: #7819e6 !important;
  --color-accent-2: #400d7b !important;
  --color-accent-3: #5812a9 !important;
  --OT-color-on-accent-1: #ede0fc !important;
  --OT-color-muted-on-accent-1: #c9a3f5 !important;
  --OT-color-on-accent-2: #dbc2f8 !important;
  --OT-color-on-accent-3: #c094f3 !important;
  --OT-button-ON-bg: var(--color-accent-1);
  --OT-button-cta-background-normal: #8a37ea;
  --OT-text-selection-background: hsl(var(--accent-h), var(--accent-s), 33%);
}
.lightPalette-OBSIDIAN.darkPalette-default.accentColor-darkMode-alternative-2,
.lightPalette-artDeco.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-OBSIDIAN.accentColor-darkMode-alternative-2,
.darkPalette-black.accentColor-darkMode-alternative-2 {
  --accent-h: 14 !important;
  --accent-s: 81% !important;
  --accent-l: 37% !important;
  --color-accent-1: #eb6e47 !important;
  --color-accent-2: #a93612 !important;
  --color-accent-3: #7b270d !important;
  --OT-color-on-accent-1: #fff !important;
  --OT-color-muted-on-accent-1: #9a3110 !important;
  /*    --OT-color-on-accent-2:            #fff    !important; */
  --OT-color-on-accent-3: #f09275 !important;
  --OT-button-ON-bg: var(--color-accent-1);
}
.lightPalette-green.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-green.accentColor-darkMode-alternative-2 {
  --accent-h: 321 !important;
  --accent-s: 70% !important;
  --accent-l: 30% !important;
  /*    --color-accent-1:                #999    !important; */
  --color-accent-2: #9f1c72 !important;
  --color-accent-3: #651248 !important;
  --OT-color-on-accent-1: #f7d4eb !important;
  /*    --OT-color-muted-on-accent-1:    #fff    !important; */
  /*    --OT-color-on-accent-2:            #fff    !important; */
  /*    --OT-color-on-accent-3:            #fff    !important; */
}
.lightPalette-icy.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-icy.accentColor-darkMode-alternative-2 {
  --accent-h: 94 !important;
  --accent-s: 80% !important;
  --accent-l: 30% !important;
  --color-accent-1: #62c716 !important;
  --color-accent-2: #448a0f !important;
  --color-accent-3: #356b0c !important;
  --OT-color-on-accent-1: #fff !important;
  --OT-color-muted-on-accent-1: #264d08 !important;
  --OT-color-on-accent-2: white !important;
  --OT-color-on-accent-3: #d8e7cd !important;
  --OT-button-ON-bg: var(--color-accent-1);
  --OT-text-selection-background: hsl(var(--accent-h), var(--accent-s), 33%);
}
.darkPalette-LYT.accentColor-darkMode-alternative-2 {
  --accent-h: 151 !important;
  --accent-s: 50% !important;
  --accent-l: 40% !important;
  --color-accent-1: #7fd9ad !important;
  --color-accent-2: #38ba7b !important;
  --color-accent-3: #1c5f3e !important;
  --OT-color-on-accent-1: #0d2a1c !important;
  --OT-color-muted-on-accent-1: #2c9361 !important;
  --OT-color-on-accent-2: #e8f8f0 !important;
  --OT-color-on-accent-3: #cef0e0 !important;
  --OT-text-selection-background: hsl(var(--accent-h), var(--accent-s), 30%);
}
.lightPalette-metallicBlue.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-metallicBlue.accentColor-darkMode-alternative-2 {
  --accent-h: 326 !important;
  --accent-s: 57% !important;
  --accent-l: 20% !important;
  --color-accent-1: #d76ca9 !important;
  --color-accent-2: #a02c6e !important;
  --color-accent-3: #782152 !important;
  /*    --OT-color-on-accent-1:                #fff    !important; */
  --OT-color-muted-on-accent-1: #932865 !important;
  /*    --OT-color-on-accent-2:                #fff    !important; */
  /*    --OT-color-on-accent-3:                #fff    !important; */
  --OT-text-selection-background: hsl(var(--accent-h), var(--accent-s), 30%);
}
.lightPalette-paradiso.darkPalette-default.accentColor-darkMode-alternative-2,
.lightPalette-pistachio.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-oliveGreen.accentColor-darkMode-alternative-2 {
  --accent-h: 32 !important;
  --accent-s: 50% !important;
  --accent-l: 40% !important;
  --color-accent-1: #d4ac7f !important;
  --color-accent-2: #c38b4c !important;
  --color-accent-3: #8c602f !important;
  /*    --OT-color-on-accent-1:            #fff    !important; */
  --OT-color-muted-on-accent-1: #8c602f !important;
  /*    --OT-color-on-accent-2:            #fff    !important; */
  /*    --OT-color-on-accent-3:            #fff    !important; */
  --OT-text-selection-background: hsl(var(--accent-h), var(--accent-s), 33%);
}
.lightPalette-parchment.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-parchment.accentColor-darkMode-alternative-2 {
  --accent-h: 121 !important;
  --accent-s: 50% !important;
  --accent-l: 30% !important;
  --color-accent-1: #59c85b !important;
  --color-accent-2: #267328 !important;
  --color-accent-3: #154016 !important;
  --OT-color-on-accent-1: #f2fbf2 !important;
  --OT-color-muted-on-accent-1: #1d5a1f !important;
  --OT-color-on-accent-2: #bfeac0 !important;
  --OT-color-on-accent-3: #a6e1a7 !important;
}
.lightPalette-red.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-red.accentColor-darkMode-alternative-2 {
  --accent-h: 109 !important;
  --accent-s: 93% !important;
  --accent-l: 33% !important;
  --color-accent-1: #2ee109 !important;
  --color-accent-2: #21a006 !important;
  --color-accent-3: #0d3e02 !important;
  /*    --OT-color-on-accent-1:                #fff    !important; */
  /*    --OT-color-muted-on-accent-1:        #D6C6F4    !important; */
  --OT-color-on-accent-2: #fedae0 !important;
  --OT-color-on-accent-3: #d6c6f4 !important;
  --OT-button-ON-bg: var(--color-accent-1);
  --OT-button-cta-background-normal: #1a7f05;
  --OT-text-selection-background: hsl(var(--accent-h), var(--accent-s), 15%);
}
.lightPalette-solarized.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-solarized.accentColor-darkMode-alternative-2 {
  --accent-h: 45 !important;
  --accent-s: 100% !important;
  --accent-l: 35% !important;
  --color-accent-1: var(--solarized-base2) !important;
  --color-accent-2: var(--solarized-yellow) !important;
  --color-accent-3: var(--solarized-yellow) !important;
  --OT-color-on-accent-1: var(--solarized-base03) !important;
  --OT-color-muted-on-accent-1: var(--solarized-base01) !important;
  --OT-color-on-accent-2: var(--solarized-base02) !important;
  --OT-color-on-accent-3: var(--solarized-base2) !important;
  /*    --OT-view-header-title-focus-color:        var(--solarized-yellow); */
  --OT-button-cta-background-normal: var(--solarized-orange);
}
.lightPalette-stone.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-stone.accentColor-darkMode-alternative-2 {
  --accent-h: 120 !important;
  --accent-s: 30% !important;
  --accent-l: 50% !important;
  --color-accent-1: #b2d5b2 !important;
  --color-accent-2: #59a659 !important;
  --color-accent-3: #2f592f !important;
  /*    --OT-color-on-accent-1:            #fff    !important; */
  --OT-color-muted-on-accent-1: #3b6f3b !important;
  --OT-color-on-accent-2: #e9eef3 !important;
  --OT-color-on-accent-3: #bddbbd !important;
}
.lightPalette-sunnyMemos.accentColor-darkMode-alternative-2 {
  --accent-h: 243 !important;
  /*    c’est pour la sélection du texte qu’on explicite ici en HSL la couleur d’accentuation n°2    */
  --accent-s: 100% !important;
  --accent-l: 36% !important;
  --color-accent-1: #060073 !important;
  --color-accent-2: #0a00b7 !important;
  --color-accent-3: #0e00fb !important;
}
.lightPalette-Victorian-1.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-victorian.accentColor-darkMode-alternative-2 {
  --accent-h: 41 !important;
  --accent-s: 88% !important;
  --accent-l: 57% !important;
  --color-accent-1: #f8d791 !important;
  --color-accent-2: #f2b531 !important;
  --color-accent-3: #a2720a !important;
  --OT-color-on-accent-1: var(--color-base-20) !important;
  --OT-color-muted-on-accent-1: #c2880c !important;
  --OT-color-on-accent-2: var(--color-base-20) !important;
  /*    --OT-color-on-accent-3:            #fff    !important; */
  --OT-text-selection-background: hsl(var(--accent-h), var(--accent-s), 45%);
}
.lightPalette-violet.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-violet.accentColor-darkMode-alternative-2 {
  --accent-h: 174 !important;
  --accent-s: 50% !important;
  --accent-l: 40% !important;
  --color-accent-1: #99ddd6 !important;
  --color-accent-2: #40bfb3 !important;
  --color-accent-3: #26736b !important;
  /*    --OT-color-on-accent-1:            #fff    !important; */
  --OT-color-muted-on-accent-1: #2a7f77 !important;
  --OT-color-on-accent-2: #d9f2f0 !important;
  --OT-color-on-accent-3: #d9f2f0 !important;
  --OT-text-selection-background: hsl(var(--accent-h), var(--accent-s), 30%);
}
.lightPalette-yellow.darkPalette-default.accentColor-darkMode-alternative-2,
.darkPalette-yellow.accentColor-darkMode-alternative-2 {
  --accent-h: 318 !important;
  --accent-s: 97% !important;
  --accent-l: 35% !important;
  --color-accent-1: #fd71d3 !important;
  --color-accent-2: #c10388 !important;
  --color-accent-3: #7e0259 !important;
  /*    --OT-color-on-accent-1:            #fff    !important; */
  --OT-color-muted-on-accent-1: #8f0264 !important;
  /*    --OT-color-on-accent-2:            #fff    !important; */
  /*    --OT-color-on-accent-3:            #fff    !important; */
  --OT-button-ON-bg: var(--color-accent-1);
}
