.breadcrumbs-block .BC-trail {
  background-color: var(--note);
  padding: var(--size-4-1);
  border: var(--box-border);
  box-shadow: var(--shadow-m);
  border-radius: var(--radius);
  justify-content: center;
  text-align: center;
}

.breadcrumbs-block .BC-trail .BC-trail-grid-item {
  box-shadow: var(--shadow-s);
  background-color: var(--outer-bar);
}
