:root[saved-theme="dark"] {
  --background-primary: #323232;
  --interactive-normal: #484848;
  --code-background: #232323;
  --shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.278);
  --table-border-color: #8c8c8cc7;
  --tab-background-active: #4d4c4cf3;
  --nav-item-color-active: #ffffffbb;
  --nav-item-color: #ffffff;
  --nav-item-color-hover: #dedede6e;
  --setting-bg: #2a2a2a98;
  --hr-color: #8c8c8c3c;
  --icon-color: #dddddd;
  --h1-color: #d9d8d8;
  --h2-color: #d4d4d4;
  --h3-color: #b4b4b4;
  --h4-color: #a6a6a6;
  --h5-color: #9a9a9a;
  --h6-color: #929292;
  --code-keyword: #ff6347;
  --code-normal: #c4c4c4;
  --code-operator: #b89cdd;
  --code-value: #e3b750;
  --code-function: #dcbb59;
  --code-property: #d29a8c;
  --code-string: #05a3a3;

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
