@import "fonts";

:root {
  --mermaid-font: var(--default-font);
  --reveal-font: var(--default-font);
  --font-monospace: "Source Code Pro", monospace;
  --darkthemeviewarea: #55423d;
  --yellowmyshade: #ffd703;
}

body {
}

:root[saved-theme="dark"] {
  --background-primary: #55423d;
  --background-primary-alt: #271c19;
  --background-secondary: #140d0b;
  --background-secondary-alt: #271c19;
}

:root[saved-theme="light"] {
  --background-primary: #faeee7;
  --background-primary-alt: #f5f6f8;
  --background-secondary: #f2f3f5;
  --background-secondary-alt: #e3e5e8;
  --background-modifier-border: #ddd;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: #990000;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #bb0000;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: #000000;
  --text-accent-hover: #000000;
  --text-normal: #2e3338;
  --text-muted: #888888;
  --text-muted-rgb: 136, 136, 136;
  --text-faint: #999999;
  --text-error: #800000;
  --text-error-hover: #990000;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(204, 230, 255, 0.99);
  --text-on-accent: #f2f2f2;
  --interactive-normal: #f2f3f5;
  --interactive-hover: #e9e9e9;
  --interactive-accent: #7b6cd9;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #8273e6;
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --highlight-mix-blend-mode: darken;
}
