body.custom-ordered-list ol {
  list-style: var(--list-ol-marker-1);
}

body.custom-ordered-list :is(ul, ol) ol {
  list-style: var(--list-ol-marker-2);
}

body.custom-ordered-list :is(ul, ol) :is(ul, ol) ol {
  list-style: var(--list-ol-marker-3);
}

body.custom-ordered-list :is(ul, ol) :is(ul, ol) :is(ul, ol) ol {
  list-style: var(--list-ol-marker-4);
}

body.custom-ordered-list ol > li::marker {
  font-weight: 600;
  color: var(--list-ol-number-color);
  white-space: pre;
  font-family: Inter;
}
