.theme-dark-green {
  --main-node: #2ecc71;
  --main-node-hover: #27ae60;
  --tags: #a0e73c;
  --external-link: #82d2e8;
  --external-link-hidden: rgba(131, 197, 235, 0.3);
  --main-background: rgb(36, 36, 36);
  --secondary-background: rgb(27, 27, 27);
  --secondary-background-low-opacity: rgba(27, 27, 27, 0.329);
  --attachments: rgb(105, 188, 235);
  --accent-1: #1abc9c;
  --accent-2: #16a085;
  --accent-3: #3498db;
  --accent-4: #2980b9;
  --accent-5: #f1c40f;
  --accent-6: #f39c12;
  --text-normal: rgb(201, 201, 201);
  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);
  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);
  --interactive-accent: var(--main-node);
  --interactive-accent-hover: var(--main-node-hover);
  --text-on-accent: black;
  --background-modifier-error: #e74c3c;
  --background-modifier-error-hover: #c0392b;
  --text-highlight-bg: #2ecc71;
  --h1-gradient: #2ecc71, #083119, #1abc9c, #16a085;
  --h2-gradient: #a0e73c, #2ecc71, #222;
  --h2-icon-color: #2ecc71;
  --h3-h6-icon-color: #a0e73c;
}
