:root[saved-theme="light"] {
  --layer-0: hsl(var(--layer-hue-sat), 89%);
  --layer-1: hsl(var(--layer-hue-sat), 99%);
  --layer-2: hsl(var(--layer-hue-sat), 96%);
  --layer-3: hsl(var(--layer-hue-sat), 83%);
  --layer-4: hsl(var(--layer-hue-sat), 80%);
  --on-layer-tuple: 234, 14%, 15%;
  --red-hue: 0;
  --orange-hue: 30;
  --yellow-hue: 40;
  --green-hue: 105;
  --blue-hue: 200;
  --purple-hue: 300;
  --purple-pink-hue: 310;
  --pink-hue: 330;
  --primary-sat: 100%;
  --secondary-sat: 80%;
  --primary-lit: 43%;
  --secondary-lit: 50%;
  --layer-hue-sat: 235, 15%;
  --on-layer: hsl(var(--on-layer-tuple));
  --on-layer-600: hsla(var(--on-layer-tuple), 0.6);
  --on-layer-400: hsla(var(--on-layer-tuple), 0.4);
  --red-tuple: var(--red-hue), var(--primary-sat), var(--primary-lit);
  --red: hsl(var(--red-tuple));
  --red-900: hsla(var(--red-tuple), 0.9);
  --red-secondary-tuple: var(--red-hue), var(--secondary-sat), var(--secondary-lit);
  --orange-tuple: var(--orange-hue), var(--primary-sat), var(--primary-lit);
  --orange: hsl(var(--orange-tuple));
  --orange-100: hsla(var(--orange-tuple), 0.1);
  --orange-secondary-tuple: var(--orange-hue), var(--secondary-sat), var(--secondary-lit);
  --orangeSecondary: hsl(var(--orange-secondary-tuple));
  --yellow-tuple: var(--yellow-hue), var(--primary-sat), var(--primary-lit);
  --yellow: hsl(var(--yellow-tuple));
  --yellow-100: hsla(var(--yellow-tuple), 0.1);
  --yellow-700: hsla(var(--yellow-tuple), 0.7);
  --yellow-secondary-tuple: var(--yellow-hue), var(--secondary-sat), var(--secondary-lit);
  --green-tuple: var(--green-hue), var(--primary-sat), var(--primary-lit);
  --green: hsl(var(--green-tuple));
  --green-200: hsla(var(--green-tuple), 0.2);
  --green-secondary-tuple: var(--green-hue), var(--secondary-sat), var(--secondary-lit);
  --greenSecondary: hsl(var(--green-secondary-tuple));
  --blue-tuple: var(--blue-hue), var(--primary-sat), var(--primary-lit);
  --blue: hsl(var(--blue-tuple));
  --blue-600: hsla(var(--blue-tuple), 0.6);
  --blue-secondary-tuple: var(--blue-hue), var(--secondary-sat), var(--secondary-lit);
  --purple-tuple: var(--purple-hue), var(--primary-sat), var(--primary-lit);
  --purple: hsl(var(--purple-tuple));
  --purple-200: hsla(var(--purple-tuple), 0.2);
  --purple-secondary-tuple: var(--purple-hue), var(--secondary-sat), var(--secondary-lit);
  --purple-pink-tuple: var(--purple-pink-hue), var(--primary-sat), var(--primary-lit);
  --purple-pink: hsl(var(--purple-pink-tuple));
  --purple-pink-secondary-tuple: var(--purple-pink-hue), var(--secondary-sat), var(--secondary-lit);
  --pink-tuple: var(--pink-hue), var(--primary-sat), var(--primary-lit);
  --pink: hsl(var(--pink-tuple));
  --pink-100: hsla(var(--pink-tuple), 0.1);
  --pink-300: hsla(var(--pink-tuple), 0.3);
  --pink-400: hsla(var(--pink-tuple), 0.4);
  --pink-secondary-tuple: var(--pink-hue), var(--secondary-sat), var(--secondary-lit);
  --pinkSecondary: hsl(var(--pink-secondary-tuple));
  --gradientDegree: 135deg;
  --background-modifier-cover: var(--layer-0);
  --background-primary: var(--layer-2);
  --background-primary-alt: var(--layer-1);
  --background-secondary: var(--layer-1);
  --background-secondary-alt: var(--layer-0);
  --background-modifier-form-field: var(--pink-100);
  --background-modifier-form-field-highlighted: var(--pink-300);
  --background-modifier-box-shadow: var(--layer-3);
  --background-modifier-success: var(--green-200);
  --background-modifier-error: var(--red-900);
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: var(--red);
  --text-normal: var(--on-layer);
  --text-muted: var(--on-layer-600);
  --text-accent: var(--pink);
  --text-accent-hover: var(--pinkSecondary);
  --text-faint: var(--on-layer-600);
  --text-error: var(--red);
  --text-error-hover: var(--redSecondary);
  --text-highlight-bg: var(--yellow-100);
  --text-highlight-bg-active: var(--orange-100);
  --text-selection: var(--purple-200);
  --indentation-guide-opacity: 10%;
  --interactive-normal: var(--layer-1);
  --interactive-hover: var(--layer-0);
  --interactive-accent: var(--pink);
  --interactive-accent-hover: var(--orange);
  --interactive-success: var(--green);
  --scrollbar-bg: var(--layer-2);
  --scrollbar-thumb-bg: var(--pink-100);
  --scrollbar-active-thumb-bg: var(--pink-300);
  --indentation-guide: var(--layer-4);
  --blockquote-border: var(--red);
  --link-color: var(--orange);
  --link-color-hover: var(--orangeSecondary);
  --link-unresolved-color: var(--yellow-700);
  --link-unresolved-hover: var(--yellow);
  --link-external-color: var(--green);
  --link-external-color-hover: var(--greenSecondary);
  --table-header-color: var(--layer-2);
  --text-on-accent: var(--layer-2);
  --background-modifier-border-hover: transparent;
  --modal-border-color: transparent;
  --prompt-border-color: transparent;
  --background-modifier-border-focus: transparent;
  --background-modifier-border: transparent;
  --input-shadow: none;
  --blockquote-border-color: none;
  --ribbon-background: var(--background-secondary-alt);
  --ribbon-background-collapsed: var(--background-secondary-alt);
  --code-normal: var(--purple-pink);
  --code-size: 1em;
  --hr-color: var(--orange);
  --checkbox-color-hover: var(--list-marker-color);
}
