:root:root {
  --background-primary: #181824;
  --background-secondary: #0f0f18;
  --background-secondary-alt: #181824;
  --text-normal: #4baaa8;
  --text-strong: #af3943;
  --text-a: #bea63a;
  --text-italic: #b37ceb;
  --font-family-editor: Avenir, Avenir Next, sans-serif;
  --vim-cursor: #fcf601;
  --text-title-h1: #af3943;
  --text-title-h2: #fcf601;
  --text-title-h3: #0d9668;
  --text-title-h4: #7f5cc0;
  --text-title-h5: #b42478;
  --text-title-h6: #6171ff;
}
