:root[saved-theme="light"] {
  --background-modifier-box-shadow: none;
  --input-shadow: none;
  --input-shadow-hover: none;
  --shadow-s: none;
  --shadow-l: none;
  --color-accent: var(--color-accent-10);
  --color-accent-1: var(--color-accent-00);
  --color-accent-2: var(--color-accent-20);
  --accent-h: 163;
  --accent-s: 90%;
  --accent-l: 28%;
  --color-accent-00: hsl(155, 100%, 37%);
  --color-accent-05: hsl(158, 96%, 33%);
  --color-accent-10: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-15: hsl(170, 83%, 24%);
  --color-accent-20: hsl(184, 74%, 20%);
  --color-red-2: hsl(0, 100%, 40%);
  --color-white-soft: hsl(230, 43%, 99.5%);
  --text-error-hover: var(--color-red-2);
  --interactive-normal: var(--color-base-20);
  --interactive-hover: var(--color-base-30);
  --interactive-focus: var(--color-base-40);
  --background-secondary-alt: var(--color-base-30);
  --background-modifier-message: rgba(0, 0, 0, 0.8);
  --background-primary: var(--color-white-soft);
  --padding-icon-clickable-TD: var(--size-2-2);
  --padding-icon-clickable-LR: var(--size-2-2);
  --object-border-width: 0;
  --object-border-color: var(--modal-border-color);
  --object-border: var(--object-border-width) solid var(--object-border-color);
  --modal-radius: var(--radius-m);
  --font-monospace-theme: "DM Mono";
  --font-heading: "Manrope", "Inter 3.19", "DM Sans";
  --smallcap-font: "Inter 3.19", "DM Sans", "Inter 3.19", "Manrope";
  --setting-heading: "Inter 3.19", "DM Sans", "Inter 3.19", "Manrope";
  --font-mermaid: "Inter 3.19", "DM Sans", "Inter 3.19", "Manrope";
  --font-reveal: "Inter 3.19", "DM Sans", "Inter 3.19", "Manrope";
  --font-editor: "Inter 3.19", "DM Sans", "Inter 3.19", "Manrope";
  --font-menu: "Manrope", "Inter 3.19", "DM Sans";
  --font-ui: "Manrope", "Inter 3.19", "DM Sans";
  --font-editor-m: "Inter 3.19", "DM Sans", "Inter 3.19", "Manrope";
  --font-menu-m: "Manrope", "Inter 3.19", "DM Sans";
  --font-ui-m: "Manrope", "Inter 3.19", "DM Sans";
  --h1-size: 1.8em;
  --h2-size: 1.6em;
  --h3-size: 1.45em;
  --h4-size: 1.3em;
  --h5-size: 1.15em;
  --h6-size: 1.05em;
  --frame-right-space: 0;
  --embed-border-left: none;
  --width-vll: 700px;
  --margin-callout: 0.5em;
  --callout-svg-dimensions: max(
    var(--callout-svg-dimensions-clamp),
    var(--callout-svg-dimensions-min)
  );
  --callout-svg-dimensions-min: 18px;
  --callout-svg-dimensions-clamp: 1em;
  --callout-columns-sub-width-min: max(50%, 200px);
  --padding-modal-side: var(--size-4-1);
  --padding-modal-side-2: calc(var(--padding-modal-side) * 2);
  --modal-border-width: 0;
  --radius-s: calc(var(--shape-roundish) * 0.5);
  --radius-m: calc(var(--shape-roundish) * 1);
  --radius-l: calc(var(--shape-roundish) * 1.5);
  --input-radius: var(--radius-s);
  --gap-status-bar: var(--size-2-1);
  --height-status-bar-item: 20px;
  --leap-status-bar-item: 4px;
  --sidebar-icon-size: 18px;
  --header-icon-size: 16px;
  --tab-icon-size: 14px;
  --icon-diff-sidebar: calc(var(--sidebar-icon-size) - var(--header-icon-size));
  --icon-diff: calc(var(--header-icon-size) - var(--tab-icon-size));
  --header-padding: var(--size-2-3);
  --tab-padding: calc(var(--header-padding) + 0.5 * var(--icon-diff));
  --ribbon-padding: var(--header-margin);
  --ribbon-width: var(--header-height);
  --header-height: calc(
    var(--header-icon-size) + var(--header-padding) * 2 + var(--header-margin) * 2
  );
  --header-margin: var(--size-4-1);
  --header-margin-half: calc(0.5 * var(--header-margin));
  --tab-outline-width: 0px;
  --icon-color-focused: var(--color-accent);
  --toggle-border-width: 0;
  --prompt-border-width: 0;
  --PComm001-col-today: var(--color-accent-1);
  --PComm001-col-year: var(--color-accent-1);
  --PComm001-col-dot: var(--color-accent-1);

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
