:root[saved-theme="light"] {
  --accent-h: 36;
  --accent-s: 53%;
  --accent-l: 89%;
  --background-primary: #fff7ed;
  --background-primary-alt: #fff7ed;
  --background-secondary: #f2e6d4;
  --background-secondary-alt: #f2e6d4;
  --background-accent: #636363;
  --background-modifier-border: #f2e6d4;
  --background-modifier-form-field: #fffdfb;
  --background-modifier-form-field-highlighted: #fffdfb;
  --background-modifier-box-shadow: #fffdfb;
  --background-modifier-success: #539126;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #00a0ba;
  --text-accent-hover: #00a0ba;
  --text-normal: #8f8f8f;
  --text-muted: #8f8f8f;
  --text-faint: #bebebe;
  --text-error: #e75545;
  --text-error-hover: #f86959;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: #fffdfb;
  --text-on-accent: #24272b;
  --interactive-normal: #f2e6d4;
  --interactive-hover: #bebebe;
  --interactive-accent: #fffdfb;
  --scrollbar-active-thumb-bg: #f2e6d4;
  --scrollbar-bg: #f2e6d4;
  --scrollbar-thumb-bg: #f2e6d4;
  --panel-border-color: #bebebe;
  --gray-1: #8f8f8f;
  --gray-2: #636363;
  --red: #ca7081;
  --orange: #c27d40;
  --green: #3ea57b;
  --cyan: #00a0ba;
  --purple: #ac78bd;
  --blue: #6e8dd5;
  --yellow: #92963a;
  --ribbon-background: var(--background-primary);
  --drag-ghost-background: var(--background-secondary-alt);
  --background-modifier-message: var(--background-secondary-alt);
  --tab-outline-color: transparent;
  --divider-color: transparent;
  --prompt-border-color: var(--panel-border-color);
  --modal-border-color: var(--panel-border-color);
  --background-modifier-border-hover: var(--interactive-hover);
  --background-modifier-border-focus: var(--interactive-hover);
  --checkbox-color: var(--text-accent);
  --checkbox-color-hover: var(--text-accent-hover);
  --checklist-done-color: var(--text-faint);
  --nav-item-background-active: var(--interactive-accent);
  --nav-item-color-active: var(--interactice-hover);
  --nav-item-color-hover: var(--background-accent);
  --nav-item-color: var(--text-normal);
  --nav-collapse-icon-color: var(--background-accent);
  --icon-color: var(--text-normal);
  --icon-color-hover: var(--background-accent);
  --icon-color-focused: var(--background-accent);
  --divider-color-hover: var(--interactive-accent-hover);
  --metadata-property-background-active: var(--red);
  --list-marker-color: var(--text-normal);
  --link-color: var(--blue);
  --link-color-hover: var(--blue);
  --link-external-color: var(--blue);
  --link-external-color-hover: var(--blue);
  --drag-ghost-background: var(--background-secondary);
  --drag-ghost-text-color: var(--red);
  --tag-color: var(--yellow);
  --tag-background: var(--background-primary-alt);
  --tag-color-hover: var(--yellow);
  --tag-background-hover: var(--background-primary-alt);
  --tag-padding-x: 4px;
  --tag-padding-y: 2px;
  --tag-radius: 4px;
  --inline-title-weight: var(--bold-weight);
  --link-decoration: none;
  --link-external-decoration: none;
  --embed-padding: 0 0 0 var(--size-4-4);
  --canvas-card-label-color: var(--text-normal);
  --canvas-color-1: var(--red);
  --canvas-color-2: var(--orange);
  --canvas-color-3: var(--yellow);
  --canvas-color-4: var(--green);
  --canvas-color-5: var(--cyan);
  --canvas-color-6: var(--purple);
  --graph-text: var(--background-accent);
  --graph-line: var(--text-faint);
  --graph-node: var(--red);
  --background-modifier-error-rgb: var(--color-red);
  --background-modifier-error: var(--color-red);
  --background-modifier-error-hover: var(--color-red);
  --background-modifier-success-rgb: var(--color-green);
  --background-modifier-success: var(--color-green);
  --blockquote-background-color: var(--background-secondary);
  --blockquote-border-color: var(--green);
  --blockquote-font-style: italic;
  --bold-color: var(--background-accent);
  --code-background: var(--background-secondary);
  --code-normal: var(--text-normal);
  --code-comment: var(--text-faint);
  --code-function: var(--purple);
  --code-important: var(--red);
  --code-keyword: var(--purple);
  --code-operator: var(--blue);
  --code-property: var(--red);
  --code-punctuation: var(--green);
  --code-string: var(--green);
  --code-tag: var(--purple);
  --code-value: var(--orange);
  --h1-color: var(--background-accent);
  --h2-color: var(--background-accent);
  --h3-color: var(--background-accent);
  --h4-color: var(--background-accent);
  --h5-color: var(--background-accent);
  --h6-color: var(--background-accent);
}
