body.is-mobile:not(.floating-button-off):not(.advanced-toolbar) .view-action:nth-last-of-type(5),
body.is-mobile:not(.floating-button-off):not(.advanced-toolbar) .view-action:nth-last-of-type(4) {
  color: white;
  background-color: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l)));
  opacity: 1;
  top: calc(90vh - 110px);
  display: flex;
  padding: 5px;
  position: fixed;
  left: 86vw;
  transform: translate(-40%, 5%);
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  border-radius: 50% !important;
  box-shadow:
    1.1px 0.3px 2.2px rgba(0, 0, 0, 0.02),
    2.7px 0.7px 5.3px rgba(0, 0, 0, 0.028),
    5px 1.3px 10px rgba(0, 0, 0, 0.035),
    8.9px 2.2px 17.9px rgba(0, 0, 0, 0.042),
    16.7px 4.2px 33.4px rgba(0, 0, 0, 0.05),
    40px 10px 80px rgba(0, 0, 0, 0.07);
}

body.is-mobile:not(.floating-button-off).advanced-toolbar .view-action:nth-last-of-type(5),
body.is-mobile:not(.floating-button-off).advanced-toolbar .view-action:nth-last-of-type(4) {
  color: white;
  background-color: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l)));
  opacity: 1;
  position: fixed;
  top: calc(100vh - 138px);
  display: flex;
  padding: 5px;
  left: 86vw;
  transform: translate(-40%, -115%);
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  border-radius: 50% !important;
  box-shadow:
    1.1px 0.3px 2.2px rgba(0, 0, 0, 0.02),
    2.7px 0.7px 5.3px rgba(0, 0, 0, 0.028),
    5px 1.3px 10px rgba(0, 0, 0, 0.035),
    8.9px 2.2px 17.9px rgba(0, 0, 0, 0.042),
    16.7px 4.2px 33.4px rgba(0, 0, 0, 0.05),
    40px 10px 80px rgba(0, 0, 0, 0.07);
}
