:root[saved-theme="dark"] {
  --tag-6-default: rgb(110, 54, 48);
  --tag-7-default: rgb(133, 76, 29);
  --tag-1-default: rgb(137, 99, 42);
  --tag-2-default: rgb(43, 89, 63);
  --tag-3-default: rgb(40, 69, 108);
  --tag-4-default: rgb(73, 47, 100);
  --tag-5-default: rgb(105, 49, 76);
  --tag-8-default: rgb(90, 90, 90);
  --tag-9-default: rgb(96, 59, 44);
  --tag-10-default: rgb(55, 55, 55);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
