:root[saved-theme="dark"],
html[saved-theme="dark"] {
  color-scheme: dark;

  .callout {
    --callout-blend-mode: lighten;
  }

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }

  --background-modifier-box-shadow: #0000004d;
  --background-modifier-cover: #0a0a0a66;
  --background-modifier-form-field: #21201e;

  --color-blue-rgb: 29, 40, 46;

  --color-brown-rgb: 47, 39, 35;

  --color-cyan-rgb: 29, 40, 46;

  --color-gray-rgb: 37, 37, 37;

  --color-green-rgb: 34, 43, 38;

  --color-orange-rgb: 56, 40, 30;

  --color-pink-rgb: 48, 34, 40;

  --color-purple-rgb: 43, 36, 49;

  --color-red-rgb: 54, 36, 34;

  --color-yellow-rgb: 57, 46, 30;
  --highlight-mix-blend-mode: lighten;
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px #ffffff17, 0 2px 4px 0 #00000026,
    0 1px 1.5px 0 #0000001a, 0 1px 2px 0 #00000033, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px #ffffff29, 0 2px 3px 0 #0000004d,
    0 1px 1.5px 0 #00000033, 0 1px 2px 0 #00000066, 0 0 0 0 transparent;
  --interactive-accent: #2282e2;
  --interactive-accent-hover: #439ee8;
  --interactive-hover: #363636;
  --interactive-normal: #21201e;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --pdf-shadow: 0 0 0 1px #ffffff24;
  --pdf-thumbnail-shadow: 0 0 0 1px #ffffff24;
  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #0000001f, 0px 3.4px 6.7px #0000002e, 0px 15px 30px #0000004d;

  --text-accent: #439ee8;
  --text-selection: #2282e254;

  --background-modifier-box-shadow: #0000004d;
  --background-modifier-cover: #0a0a0a66;
  --background-modifier-form-field: #21201e;

  --color-blue-rgb: 29, 40, 46;

  --color-brown-rgb: 47, 39, 35;

  --color-cyan-rgb: 29, 40, 46;

  --color-gray-rgb: 37, 37, 37;

  --color-green-rgb: 34, 43, 38;

  --color-orange-rgb: 56, 40, 30;

  --color-pink-rgb: 48, 34, 40;

  --color-purple-rgb: 43, 36, 49;

  --color-red-rgb: 54, 36, 34;

  --color-yellow-rgb: 57, 46, 30;
  --highlight-mix-blend-mode: lighten;
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px #ffffff17, 0 2px 4px 0 #00000026,
    0 1px 1.5px 0 #0000001a, 0 1px 2px 0 #00000033, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px #ffffff29, 0 2px 3px 0 #0000004d,
    0 1px 1.5px 0 #00000033, 0 1px 2px 0 #00000066, 0 0 0 0 transparent;
  --interactive-accent: #2282e2;
  --interactive-accent-hover: #439ee8;
  --interactive-hover: #363636;
  --interactive-normal: #21201e;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --pdf-shadow: 0 0 0 1px #ffffff24;
  --pdf-thumbnail-shadow: 0 0 0 1px #ffffff24;
  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #0000001f, 0px 3.4px 6.7px #0000002e, 0px 15px 30px #0000004d;

  --text-accent: #439ee8;
  --text-selection: #2282e254;
}
