:root[saved-theme="dark"] {
  --hue-bg: 265;
  --hue-fg: 265;
  --sat-bg: 60%;
  --sat-fg: 100%;
  --lum-fg: 50%;
  --lum-bg: 95%;
  --lum: 11%;
  --black: #000;
  --white: #fff;
  --mint: #52eea3;
  --cyan: #51e1e9;
  --cool-cyan: #43cfea;
  --light-blue: #54b6f8;
  --blue: #437cf3;
  --blue-violet: #6f51f4;
  --violet: #9446f8;
  --purple: #c952ed;
  --magenta: #e54f9b;
  --hot-red: #e3365e;
  --cool-gray: #515768;
  --h1-color: hsl(var(--hue-bg), var(--sat-fg), 65%);
  --h2-color: hsl(var(--hue-bg), var(--sat-fg), 75%);
  --h3-color: hsl(var(--hue-bg), var(--sat-fg), 80%);
  --h4-color: hsl(var(--hue-bg), var(--sat-fg), 80%);
  --h5-color: hsl(var(--hue-bg), var(--sat-fg), 90%);
  --h6-color: hsl(var(--hue-bg), var(--sat-fg), 95%);
  --background: hsl(var(--hue-bg), var(--sat-bg), var(--lum));
  --foreground: hsl(var(--hue-fg), var(--sat-fg), 80%);
  --background-primary: var(--color-base-00);
  --background-secondary: var(--color-base-10);
  --titlebar-background: var(--color-base-10);
  --titlebar-background-focused: var(--color-base-10);
  --scrollbar-thumb-bg: var(--color-base-30);
  --scrollbar-active-thumb-bg: var(--color-base-40);
  --table-border-color: var(--color-base-60);
  --header-title-color: hsl(var(--hue-bg), var(--sat-fg), 65%);
  --title-color: hsl(var(--hue-bg), var(--sat-fg), 65%);
  --color-base-00: color-mix(in srgb, var(--background) 25%, var(--black));
  --color-base-05: color-mix(in srgb, var(--background) 40%, var(--black));
  --color-base-10: color-mix(in srgb, var(--background) 50%, var(--black));
  --color-base-20: color-mix(in srgb, var(--background) 80%, var(--black));
  --color-base-25: color-mix(in srgb, var(--background) 80%, var(--black));
  --color-base-30: color-mix(in srgb, var(--background) 90%, var(--foreground));
  --color-base-35: color-mix(in srgb, var(--background) 95%, var(--foreground));
  --color-base-40: color-mix(in srgb, var(--background) 80%, var(--foreground));
  --color-base-50: color-mix(in srgb, var(--background) 60%, var(--foreground));
  --color-base-60: color-mix(in srgb, var(--background) 60%, var(--foreground));
  --color-base-70: color-mix(in srgb, var(--background) 30%, var(--foreground));
  --color-base-100: color-mix(in srgb, var(--background) 0%, var(--foreground));
  --text-normal: #faf4ed;
  --background-modifier-form-field: var(--color-base-20);
  --background-modifier-hover: var(--color-base-40);
  --background-modifier-border: var(--color-base-30);
  --nav-indentation-guide-color: var(--color-base-30);
  --indentation-guide-color: var(--color-base-30);
  --indentation-guide-color-active: var(--color-base-35);
  --slider-track-background: var(--text-accent);
  --slider-track-height: 3px;
  --checkbox-color: var(--text-accent);
  --text-highlight-bg: color-mix(in srgb, var(--h1-color) 25%, transparent);
  --text-highlight-bg-active: color-mix(in srgb, var(--h1-color) 25%, transparent);

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
