:root[saved-theme="light"] {
  --hue-bg: 265;
  --hue-fg: 265;
  --sat-bg: 60%;
  --sat-fg: 100%;
  --lum-fg: 50%;
  --lum-bg: 95%;
  --lum: 11%;
  --title-color: black;

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
