.theme-dark .oreo-safari-tab-toggle .workspace-split.mod-vertical.mod-root {
  --tab-background-inactive: #333333;
  /* --oreo-background-secondary-alt-dark */
  --tab-background-active: #1a1a1a;
  /* --oreo-background-primary-dark */
  --tab-background-inactive-hover: #4d4d4d;
  /* --oreo-background-primary-secondary-dark */
  --tab-text-color: #cccccc;
  /* --oreo-text-faint-dark */
  --tab-text-color-active: #ffffff;
  /* --oreo-text-muted-dark */
  --tab-text-color-focused: #ffffff;
  /* --oreo-text-muted-dark */
  --tab-text-color-focused-active: #ffffff;
  /* --oreo-text-muted-dark */
  --tab-text-color-focused-highlighted: #ffcc00;
  /* --oreo-text-accent-dark */
  --tab-text-color-focused-active-current: #ffcc00;
  /* --oreo-text-accent-dark */
  --tab-divider-color: #666666;
  /* --oreo-background-modifier-border-hover-dark */
}
