.activated-file-customize-dark {
  --border-radius-activated-file-dark: 4px;
  --color-activated-file-light: var(--nav-item-color-active);
  --background-activated-file-dark: rgba(255, 255, 255, 0.075);
  --shadow-activated-file-dark: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
}
