:is(
  body.explorer-nav-decoration .nav-file-title,
  body.setting-nav-decoration .vertical-tab-nav-item
) {
  position: relative;
}

:is(
    body.explorer-nav-decoration .nav-file-title,
    body.setting-nav-decoration .vertical-tab-nav-item
  ).is-active::after {
  height: calc(100% - var(--size-4-2));
  transform: translateY(-50%);
}

:is(
    body.explorer-nav-decoration .nav-file-title,
    body.setting-nav-decoration .vertical-tab-nav-item
  )::after {
  content: "";
  position: absolute;
  right: 4px;
  top: 50%;
  width: var(--size-4-1);
  height: 0%;
  border-radius: var(--radius-s);
  background: var(--accent-inactive);
}
