:root[saved-theme="dark"] {
  --background-primary: #252629;
  --background-primary-alt: #252629;
  --background-secondary: #222325;
  --background-secondary-alt: #222325;
  --background-modifier-border: #0003;
  --accent-h: 0;
  --accent-l: 50;
  --accent-s: 77;
  --interactive-normal: #353a42;
  --interactive-hover: #3f444d;
  --interactive-accent: #314f52;
  --interactive-accent-hover: #39595c;
  --text-normal: #dbd3ca;
  --text-muted: #9e8b8e;
  --text-faint: #9e8b8e99;
  --text-on-accent: #dbd3ca;
  --text-on-accent-inverted: #252629;
  --text-success: #aac2ae;
  --text-warning: #eb8042;
  --text-error: #eb8042;
  --text-accent: #c76363;
  --text-accent-hover: #e07575;
  --text-selection: #353a42;
  --text-highlight-bg: #c7636344;
  --color-red: #c66b67;
  --color-orange: #eb9350;
  --color-yellow: #eb9350;
  --color-green: #ad8301;
  --color-cyan: #78716c;
  --color-blue: #68a0a0;
  --color-purple: #a89080;
  --color-pink: #a89080;
  --color-red-rgb: 198, 107, 103;
  --color-orange-rgb: 235, 147, 80;
  --color-yellow-rgb: 235, 147, 80;
  --color-green-rgb: 173, 131, 1;
  --color-cyan-rgb: 120, 113, 108;
  --color-blue-rgb: 104, 160, 160;
  --color-purple-rgb: 168, 144, 128;
  --color-pink-rgb: 168, 144, 128;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
