:root[saved-theme="light"] {
  --background-primary: #fcfbfa;
  --background-primary-alt: #fcfbfa;
  --background-secondary: #f7f3f0;
  --background-secondary-alt: #f7f3f0;
  --background-modifier-border: #33323118;
  --accent-h: 3;
  --accent-l: 54;
  --accent-s: 70;
  --interactive-normal: #f7f3f0;
  --interactive-hover: #ede9e1;
  --interactive-accent: #538a8a;
  --interactive-accent-hover: #5c9e9e;
  --text-normal: #333231;
  --text-muted: #807974;
  --text-faint: #80797499;
  --text-on-accent: #fcfbfa;
  --text-on-accent-inverted: #333231;
  --text-success: #538a8a;
  --text-warning: #ad514c;
  --text-error: #ad514c;
  --text-accent: #ad514c;
  --text-accent-hover: #cc645e;
  --text-selection: #dae5e2;
  --text-highlight-bg: #fab48588;
  --color-red: #ad514c;
  --color-orange: #d28450;
  --color-yellow: #d28450;
  --color-green: #538a8a;
  --color-cyan: #807974;
  --color-blue: #356b94;
  --color-purple: #804c6e;
  --color-pink: #bd71a4;
  --color-red-rgb: 173, 81, 76;
  --color-orange-rgb: 210, 132, 80;
  --color-yellow-rgb: 120, 113, 108;
  --color-green-rgb: 83, 138, 138;
  --color-cyan-rgb: 120, 113, 108;
  --color-blue-rgb: 53, 107, 148;
  --color-purple-rgb: 128, 76, 110;
  --color-pink-rgb: 189, 113, 164;

  code[data-theme*=" "] {
    --shiki-dark: var(--shiki-light) !important;
    --shiki-dark-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-dark: var(--shiki-light) !important;
      --shiki-dark-bg: var(--shiki-light-bg) !important;
    }
  }
}
