:root[saved-theme="dark"] {
  --background-primary: hsl(var(--base-h), var(--base-s), var(--base-d));
  --background-primary-alt: #202020;
  --background-secondary-alt: #000000;
  --background-modifier-border: #333;
  --background-modifier-border-hover: rgb(94, 94, 94);
  --background-modifier-border-focus: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 60%));
  --background-modifier-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-d));
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #197300;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --vim-cursor: hsla(var(--theme-accent-h), var(--theme-accent-s), var(--theme-accent-d), 0.8);
  --color-accent: hsl(var(--theme-accent-h), var(--theme-accent-s), var(--theme-accent-d));
  --text-normal: rgb(197, 184, 161);
  --text-muted: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 45%));
  --text-faint: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 47%));
  --text-error: #800000;
  --text-error-hover: #990000;
  --text-highlight-bg: rgba(255, 177, 80, 0.3);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(23, 48, 77, 0.99);
  --text-on-accent: #dcddde;
  --interactive-normal: #2a2a2a;
  --interactive-hover: #303030;
  --interactive-accent-rgb: 72, 54, 153;
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --highlight-mix-blend-mode: lighten;
  --graph-line-color: #6f7577;
}
