:root[saved-theme="dark"] {
  --background-primary: #202020;
  --background-primary-alt: #1a1a1a;
  --background-secondary: #161616;
  --background-nav-alt: #1f201f;
  --background-nav: #151615;
  --golden-brown: #d6ba7c;
  --text-accent: #d6ba7c;
  --text-accent-hover: #d6ba7c;
  --text-normal: #dcddde;
  --text-muted: #888;
  --text-faint: #555;
  --text-error: #ff3333;
  --text-error-hover: #990000;
  --text-highlight-bg: #dbaa205e;
  --text-on-accent: #dcddde;
  --interactive-normal: #2a2a2a;
  --interactive-hover: #303030;
  --interactive-accent: #d6ba7c;
  --interactive-accent-hover: #d6ba7c;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --text-nav-selected: #000000;
  --interactive-accent-rgb: #d6ba7c;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
