:root:root {
  --Minimum-Page-Width: 700px;
  --highlight-mix-blend-mode: normal;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-orange: #e9973f;
  --color-yellow: #e0de71;
  --color-cyan: #53dfdd;
  --color-blue: #027aff;
  --color-purple: #a882ff;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555;
  --color-base-50: #666;
  --color-base-60: #999;
  --color-base-70: #bababa;
  --color-base-100: #dadada;
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
  --color-accent: var(--custom-gold-950);
  --color-accent-1: var(--custom-gold-2-500);
  --color-accent-2: var(--custom-gold-2-950);
  --background-modifier-form-field: var(--color-base-25);
  --background-primary: var(--custom-black-600);
  --background-primary-active: var(--custom-black-500);
  --background-primary-alt: var(--custom-black-800);
  --background-secondary: var(--custom-black-800);
  --background-secondary-alt: var(--custom-black-950);
  --custom-background-tertiary: var(--custom-black-850);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-highlight-bg: rgba(255, 208, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --text-selection: hsla(var(--custom-red-500-hsl), 0.25);
  --interactive-normal: var(--color-base-00);
  --interactive-hover: var(--color-base-10);
  --interactive-accent-hsl: var(--color-accent-hsl);
  --interactive-accent: var(--custom-gold-950);
  --interactive-accent-hover: var(--custom-gold-500);
  --custom-interactive-accent-active: var(--custom-gold-2-950);
  --link-color: var(--custom-white-100);
  --custom-link-edit-color: var(--custom-gold-2-950);
  --custom-formatting-link-edit-color: var(--custom-red-700);
  --link-color-hover: var(--pure-white);
  --custom-link-background-color: var(--custom-red-900);
  --custom-link-box-shadow: inset 0px 0px 0px 1px var(--custom-white-100);
  --link-external-color: var(--text-accent);
  --link-external-color-hover: var(--text-accent-hover);
  --link-external-decoration: underline;
  --link-external-decoration-hover: underline;
  --link-external-filter: none;
  --link-unresolved-color: var(--text-faint);
  --link-unresolved-opacity: 0.7;
  --link-unresolved-filter: none;
  --link-unresolved-decoration-style: solid;
  --link-unresolved-decoration-color: hsla(var(--interactive-accent-hsl), 0.3);
  --custom-link-hover-animation-color-1: var(--white);
  --custom-link-hover-animation-color-2: var(--custom-white-200);
  --custom-link-hover-animation-color-3: var(--custom-gold-950);
  --tag-color: var(--custom-red-500);
  --tag-color-hover: var(--white);
  --custom-tag-box-shadow-color: var(--custom-white-100);
  --tag-background: var(--background-primary-alt);
  --tag-background-hover: var(--background-primary-alt);
  --tag-border-color: hsla(var(--interactive-accent-hsl), 0.15);
  --tag-border-color-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --custom-tag-hover-animation-color-1: var(--white);
  --custom-tag-hover-animation-color-2: var(--custom-white-200);
  --custom-tag-hover-animation-color-3: var(--custom-gold-950);
  --heading-formatting: var(--text-faint);
  --h1-color: inherit;
  --h2-color: inherit;
  --h3-color: inherit;
  --h4-color: inherit;
  --h5-color: inherit;
  --h6-color: inherit;
  --h1-font: inherit;
  --h2-font: inherit;
  --h3-font: inherit;
  --h4-font: inherit;
  --h5-font: inherit;
  --h6-font: inherit;
  --h1-line-height: 1.2;
  --h2-line-height: 1.2;
  --h3-line-height: 1.3;
  --h4-line-height: 1.4;
  --h5-line-height: var(--line-height-normal);
  --h6-line-height: var(--line-height-normal);
  --h1-size: 2em;
  --h2-size: 1.6em;
  --h3-size: 1.37em;
  --h4-size: 1.25em;
  --h5-size: 1.12em;
  --h6-size: 1.12em;
  --h1-style: normal;
  --h2-style: normal;
  --h3-style: normal;
  --h4-style: normal;
  --h5-style: normal;
  --h6-style: normal;
  --h1-variant: normal;
  --h2-variant: normal;
  --h3-variant: normal;
  --h4-variant: normal;
  --h5-variant: normal;
  --h6-variant: normal;
  --custom-inline-heading-color: var(--custom-black-800);
  --custom-heading-filter-contrast: 1.1;
  --custom-heading-filter-saturate: 1.15;
  --custom-heading-filter-drop-shadow-color: black;
  --custom-heading-filter-brightness: 0.9;
  --custom-heading-filter-contrast: 1.25;
  --custom-heading-filter-saturate: 1.15;
  --custom-heading-filter-drop-shadow-color: black;
  --custom-heading-filter-drop-shadow-blur: 6px;
  --custom-inline-heading-border-width: 1px;
  --custom-inline-heading-border-style: solid;
  --custom-inline-heading-border-color: var(--custom-black-950);
  --custom-inline-heading-box-shadow-inset-width: 1px;
  --custom-inline-heading-box-shadow-inset-blur: 0px;
  --custom-inline-heading-box-shadow-inset-color: var(--custom-white-200);
  --custom-inline-heading-box-shadow-outer-width: 0px;
  --custom-inline-heading-box-shadow-outer-blur: 0px;
  --custom-inline-heading-box-shadow-outer-color: var(--custom-black-950);
  --custom-h1-gradiant-1-percent: 0;
  --custom-h2-gradiant-1-percent: 0;
  --custom-h3-gradiant-1-percent: 0;
  --custom-h4-gradiant-1-percent: 0;
  --custom-h5-gradiant-1-percent: 0;
  --custom-h6-gradiant-1-percent: 0;
  --custom-h1-gradiant-2-percent: 30%;
  --custom-h2-gradiant-2-percent: 30%;
  --custom-h3-gradiant-2-percent: 30%;
  --custom-h4-gradiant-2-percent: 30%;
  --custom-h5-gradiant-2-percent: 30%;
  --custom-h6-gradiant-2-percent: 30%;
  --custom-h1-gradiant-inline-1-percent: 0;
  --custom-h2-gradiant-inline-1-percent: 0;
  --custom-h3-gradiant-inline-1-percent: 0;
  --custom-h4-gradiant-inline-1-percent: 0;
  --custom-h5-gradiant-inline-1-percent: 0;
  --custom-h6-gradiant-inline-1-percent: 0;
  --custom-h1-gradiant-inline-2-percent: 100%;
  --custom-h2-gradiant-inline-2-percent: 100%;
  --custom-h3-gradiant-inline-2-percent: 100%;
  --custom-h4-gradiant-inline-2-percent: 100%;
  --custom-h5-gradiant-inline-2-percent: 100%;
  --custom-h6-gradiant-inline-2-percent: 100%;
  --custom-h1-gradiant-1: var(--custom-gold-2-950);
  --custom-h1-gradiant-2: var(--red-400);
  --custom-h2-gradiant-1: var(--red-300);
  --custom-h2-gradiant-2: var(--pink-500);
  --custom-h3-gradiant-1: var(--pink-400);
  --custom-h3-gradiant-2: var(--fuchsia-500);
  --custom-h4-gradiant-1: var(--fuchsia-400);
  --custom-h4-gradiant-2: var(--blue-500);
  --custom-h5-gradiant-1: var(--blue-400);
  --custom-h5-gradiant-2: var(--cyan-300);
  --custom-h6-gradiant-1: var(--cyan-200);
  --custom-h6-gradiant-2: var(--green-400);
  --custom-h1-gradiant-2: var(--custom-red-700);
  --custom-h2-gradiant-1: var(--custom-red-700);
  --custom-h2-gradiant-2: var(--custom-white-200);
  --custom-h3-gradiant-1: var(--custom-white-200);
  --custom-h3-gradiant-2: #2255a1;
  --custom-h4-gradiant-1: var(--emerald-800);
  --custom-h4-gradiant-2: var(--custom-white-200);
  --custom-h5-gradiant-1: var(--custom-white-200);
  --custom-h5-gradiant-2: var(--indigo-700);
  --custom-h6-gradiant-1: var(--fuchsia-800);
  --list-marker-color-hover: var(--text-muted);
  --list-marker-color-collapsed: var(--text-accent);
  --custom-list-bullet-color: var(--custom-red-600);
  --custom-list-bullet-color-even: var(--custom-grey-250);
  --custom-ordered-list-bullet-color: var(--custom-gold-950);
  --custom-list-line-color-odd: var(--custom-red-600);
  --custom-list-line-color-even: var(--custom-grey-250);
  --checkbox-radius: var(--radius-s);
  --checkbox-size: 15px;
  --checkbox-marker-color: var(--custom-gold-950);
  --checkbox-color: var(--interactive-accent);
  --checkbox-border-color: var(--text-faint);
  --checkbox-border-color-hover: var(--text-muted);
  --checklist-done-color: var(--text-faint);
  --custom-checkbox-border-image-gradient-degree-unchecked: 45deg;
  --custom-checkbox-border-image-gradient-color-1-unchecked: var(--transparent);
  --custom-checkbox-border-image-gradient-color-2-unchecked: var(--custom-red-600);
  --custom-checkbox-border-image-gradient-degree-checked: 45deg;
  --custom-checkbox-border-image-gradient-color-1-checked: var(--transparent);
  --custom-checkbox-border-image-gradient-color-2-checked: var(--custom-red-600);
  --custom-checkbox-background-gradient-degree-checked: 45deg;
  --custom-checkbox-background-gradient-color-1-checked: var(--white);
  --custom-checkbox-background-gradient-color-2-checked: var(--custom-gold-950);
  --custom-outliner-indent-lines-color: var(--custom-red-500);
  --custom-outliner-indent-lines-color-hover: var(--custom-gold-950);
  --scrollbar-thumb-bg: var(--custom-grey-500);
  --scrollbar-active-thumb-bg: var(--custom-gold-950);
  --custom-scrollbar-thumb-bg-window-inactive: var(--custom-grey-500);
  --custom-scrollbar-thumb-bg-hover: var(--custom-gold-950);
  --scrollbar-bg: var(--custom-grey-950);
  --custom-scrollbar-acive-track: var(--custom-grey-950);
  --custom-scrollbar-track-bg-window-inactive: var(--custom-grey-950);
  --custom-scrollbar-track-bg-hover: var(--custom-grey-950);
  --custom-scrollbar-width: 12px;
  --custom-scrollbar-height: 12px;
  --custom-folder-icon-open: var(--Red-Accent-1);
  --custom-folder-icon-closed: var(--custom-red-600);
  --custom-folder-icon-hover: var(--custom-red-300);
  --custom-file-icon: var(--custom-white-200);
  --custom-file-icon-hover: var(--custom-white-100);
  --custom-folder-file-icon-rename: var(--white);
  --titlebar-background: var(--custom-background-tertiary);
  --ribbon-background: var(--custom-background-tertiary);
  --status-bar-background: var(--custom-background-tertiary);
  --tab-text-color: var(--text-muted);
  --tab-text-color-focused: var(--text-muted);
  --tab-text-color-focused-active: var(--text-normal);
  --tab-text-color-focused-active-current: var(--text-normal);
  --custom-admonition-border-color: var(--custom-black-950);
  --custom-callout-background-color: var(--custom-black-700);
  --blockquote-border-thickness: 2px;
  --blockquote-border-color: var(--black);
  --blockquote-font-style: normal;
  --blockquote-color: inherit;
  --blockquote-background-color: var(--custom-black-700);
  --custom-blockquote-border-accent-color: var(--custom-red-600);
  --custom-match-found-indicator-color: var(--white);
  --custom-no-match-found-input-color: var(--custom-red-600);
  --custom-no-match-found-input-color-hover: var(--custom-red-800);
  --custom-highlight-bg-color: var(--custom-red-900);
  --text-normal: var(--color-base-100);
  --text-muted: var(--color-base-70);
  --text-faint: var(--color-base-50);
  --text-on-accent: var(--background-primary-active);
  --color-accent: var(--custom-gold-950);
  --custom-code-border-color: var(--black);
  --custom-global-drop-shadow: drop-shadow(2px 2px 1px var(--custom-black-800))
    drop-shadow(0px 0px 2px var(--custom-black-800));
  --custom-titlebar-drop-shadow: drop-shadow(0px 2px 3px black) drop-shadow(0px 2px 6px black);
  --custom-statusbar-drop-shadow: drop-shadow(2px 2px 1px var(--custom-black-900))
    drop-shadow(0px 0px 2px var(--custom-black-900));
  --custom-active-page-shadow: inset 0px 0px 15px 8px var(--custom-black-850);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
