:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 228, 55, 75;
  --color-red: #e4374b;
  --color-green-rgb: 12, 181, 79;
  --color-green: #0cb54f;
  --color-orange: #d96c00;
  --color-yellow: #bd8e37;
  --color-cyan: #2db7b5;
  --color-blue: #086ddd;
  --color-purple: #876be0;
  --color-pink: #c32b74;
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5a5a5a;
  --color-base-100: #222222;
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 2.5%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 5%));
  --background-primary: var(--custom-white-2-100);
  --background-primary-active: var(--white);
  --background-primary-alt: var(--custom-white-2-200);
  --background-secondary: var(--custom-white-2-200);
  --background-secondary-alt: var(--custom-white-2-400);
  --custom-background-tertiary: var(--custom-white-2-300);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --text-highlight-bg: rgba(255, 208, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --interactive-accent-hsl: var(--color-accent-hsl);
  --interactive-accent: var(--custom-gold-950);
  --interactive-accent-hover: var(--custom-gold-500);
  --custom-interactive-accent-active: var(--custom-gold-2-950);
  --custom-inline-heading-color: var(--custom-black-800);
  --custom-heading-filter-contrast: 1.1;
  --custom-heading-filter-saturate: 1.15;
  --custom-heading-filter-drop-shadow-color: black;
  --custom-heading-filter-brightness: 0.9;
  --custom-heading-filter-contrast: 1.25;
  --custom-heading-filter-saturate: 1.15;
  --custom-heading-filter-drop-shadow-color: black;
  --custom-heading-filter-drop-shadow-blur: 6px;
  --custom-inline-heading-border-width: 1px;
  --custom-inline-heading-border-style: solid;
  --custom-inline-heading-border-color: var(--custom-black-950);
  --custom-inline-heading-box-shadow-inset-width: 1px;
  --custom-inline-heading-box-shadow-inset-blur: 0px;
  --custom-inline-heading-box-shadow-inset-color: var(--custom-white-200);
  --custom-inline-heading-box-shadow-outer-width: 0px;
  --custom-inline-heading-box-shadow-outer-blur: 0px;
  --custom-inline-heading-box-shadow-outer-color: var(--custom-black-950);
  --custom-h1-gradiant-1-percent: 0;
  --custom-h2-gradiant-1-percent: 0;
  --custom-h3-gradiant-1-percent: 0;
  --custom-h4-gradiant-1-percent: 0;
  --custom-h5-gradiant-1-percent: 0;
  --custom-h6-gradiant-1-percent: 0;
  --custom-h1-gradiant-2-percent: 30%;
  --custom-h2-gradiant-2-percent: 30%;
  --custom-h3-gradiant-2-percent: 30%;
  --custom-h4-gradiant-2-percent: 30%;
  --custom-h5-gradiant-2-percent: 30%;
  --custom-h6-gradiant-2-percent: 30%;
  --custom-h1-gradiant-inline-1-percent: 0;
  --custom-h2-gradiant-inline-1-percent: 0;
  --custom-h3-gradiant-inline-1-percent: 0;
  --custom-h4-gradiant-inline-1-percent: 0;
  --custom-h5-gradiant-inline-1-percent: 0;
  --custom-h6-gradiant-inline-1-percent: 0;
  --custom-h1-gradiant-inline-2-percent: 100%;
  --custom-h2-gradiant-inline-2-percent: 100%;
  --custom-h3-gradiant-inline-2-percent: 100%;
  --custom-h4-gradiant-inline-2-percent: 100%;
  --custom-h5-gradiant-inline-2-percent: 100%;
  --custom-h6-gradiant-inline-2-percent: 100%;
  --custom-h1-gradiant-1: var(--custom-gold-2-950);
  --custom-h1-gradiant-2: var(--red-400);
  --custom-h2-gradiant-1: var(--red-300);
  --custom-h2-gradiant-2: var(--pink-500);
  --custom-h3-gradiant-1: var(--pink-400);
  --custom-h3-gradiant-2: var(--fuchsia-500);
  --custom-h4-gradiant-1: var(--fuchsia-400);
  --custom-h4-gradiant-2: var(--blue-500);
  --custom-h5-gradiant-1: var(--blue-400);
  --custom-h5-gradiant-2: var(--cyan-300);
  --custom-h6-gradiant-1: var(--cyan-200);
  --custom-h6-gradiant-2: var(--green-400);
  --custom-h1-gradiant-2: var(--custom-red-700);
  --custom-h2-gradiant-1: var(--custom-red-700);
  --custom-h2-gradiant-2: var(--custom-white-200);
  --custom-h3-gradiant-1: var(--custom-white-200);
  --custom-h3-gradiant-2: #2255a1;
  --custom-h4-gradiant-1: var(--emerald-800);
  --custom-h4-gradiant-2: var(--custom-white-200);
  --custom-h5-gradiant-1: var(--custom-white-200);
  --custom-h5-gradiant-2: var(--indigo-700);
  --custom-h6-gradiant-1: var(--fuchsia-800);
  --list-marker-color-hover: var(--text-muted);
  --list-marker-color-collapsed: var(--text-accent);
  --custom-list-bullet-color: var(--custom-red-600);
  --custom-list-bullet-color-even: var(--custom-grey-250);
  --custom-ordered-list-bullet-color: var(--custom-gold-950);
  --custom-list-line-color-odd: var(--custom-red-600);
  --custom-list-line-color-even: var(--custom-grey-250);
  --checkbox-radius: var(--radius-s);
  --checkbox-size: 15px;
  --checkbox-marker-color: var(--custom-gold-950);
  --checkbox-color: var(--interactive-accent);
  --checkbox-border-color: var(--text-faint);
  --checkbox-border-color-hover: var(--text-muted);
  --checklist-done-color: var(--text-faint);
  --custom-checkbox-border-image-gradient-degree-unchecked: 45deg;
  --custom-checkbox-border-image-gradient-color-1-unchecked: var(--transparent);
  --custom-checkbox-border-image-gradient-color-2-unchecked: var(--custom-red-600);
  --custom-checkbox-border-image-gradient-degree-checked: 45deg;
  --custom-checkbox-border-image-gradient-color-1-checked: var(--transparent);
  --custom-checkbox-border-image-gradient-color-2-checked: var(--custom-red-600);
  --custom-checkbox-background-gradient-degree-checked: 45deg;
  --custom-checkbox-background-gradient-color-1-checked: var(--white);
  --custom-checkbox-background-gradient-color-2-checked: var(--custom-gold-950);
  --custom-outliner-indent-lines-color: var(--custom-red-500);
  --custom-outliner-indent-lines-color-hover: var(--custom-gold-950);
  --scrollbar-thumb-bg: var(--custom-grey-500);
  --scrollbar-active-thumb-bg: var(--custom-gold-950);
  --custom-scrollbar-thumb-bg-window-inactive: var(--custom-grey-500);
  --custom-scrollbar-thumb-bg-hover: var(--custom-gold-950);
  --scrollbar-bg: var(--custom-grey-950);
  --custom-scrollbar-acive-track: var(--custom-grey-950);
  --custom-scrollbar-track-bg-window-inactive: var(--custom-grey-950);
  --custom-scrollbar-track-bg-hover: var(--custom-grey-950);
  --custom-scrollbar-width: 12px;
  --custom-scrollbar-height: 12px;
  --custom-folder-icon-open: var(--Red-Accent-1);
  --custom-folder-icon-closed: var(--custom-red-600);
  --custom-folder-icon-hover: var(--custom-red-300);
  --custom-file-icon: var(--custom-white-200);
  --custom-file-icon-hover: var(--custom-white-100);
  --custom-folder-file-icon-rename: var(--white);
  --titlebar-background: var(--custom-background-tertiary);
  --ribbon-background: var(--custom-background-tertiary);
  --status-bar-background: var(--custom-background-tertiary);
  --tab-text-color: var(--text-muted);
  --tab-text-color-focused: var(--text-muted);
  --tab-text-color-focused-active: var(--text-normal);
  --tab-text-color-focused-active-current: var(--text-normal);
  --custom-admonition-border-color: var(--custom-black-950);
  --custom-callout-background-color: var(--custom-black-700);
  --blockquote-border-thickness: 2px;
  --blockquote-border-color: var(--black);
  --blockquote-font-style: normal;
  --blockquote-color: inherit;
  --blockquote-background-color: var(--custom-black-700);
  --custom-blockquote-border-accent-color: var(--custom-red-600);
  --custom-match-found-indicator-color: var(--white);
  --custom-no-match-found-input-color: var(--custom-red-600);
  --custom-no-match-found-input-color-hover: var(--custom-red-800);
  --custom-highlight-bg-color: var(--custom-red-900);
  --text-muted: var(--color-base-70);
  --text-faint: var(--color-base-50);
  --text-normal: var(--custom-black-500);
  --text-muted: var(--color-base-70);
  --text-on-accent: var(--background-primary-active);
  --color-accent: var(--custom-gold-950);
  --custom-code-border-color: var(--black);
  --custom-global-drop-shadow: drop-shadow(2px 2px 1px var(--zinc-300))
    drop-shadow(0px 0px 2px var(--zinc-300));
  --custom-titlebar-drop-shadow: drop-shadow(0px 2px 3px var(--zinc-500))
    drop-shadow(0px 2px 6px var(--zinc-500));
  --custom-statusbar-drop-shadow: drop-shadow(2px 2px 1px var(--zinc-500))
    drop-shadow(0px 0px 2px var(--zinc-500));
  --custom-active-page-shadow: inset 0px 0px 15px 8px var(--zinc-500);
  --divider-color: var(--custom-white-2-400);
}
