.anp-full-rainbow-color-toggle
  .nav-files-container
  > div
  > .nav-folder-children
  > .nav-file
  .nav-file-title {
  color: var(--anp-full-rainbow-text-inverted, var(--background-primary));
}
.anp-full-rainbow-color-toggle .nav-files-container > div > .nav-file {
  border-radius: 5px;
  margin-bottom: 2px;
}
