.color-scheme-kanagawa-lotus {
  --lotusInk1: #545464;
  --lotusInk2: #43436c;
  --lotusGray: #dcd7ba;
  --lotusGray2: #716e61;
  --lotusGray3: #8a8980;
  --lotusWhite0: #d5cea3;
  --lotusWhite1: #dcd5ac;
  --lotusWhite2: #e5ddb0;
  --lotusWhite3: #f2ecbc;
  --lotusWhite4: #e7dba0;
  --lotusWhite5: #e4d794;
  --lotusViolet1: #a09cac;
  --lotusViolet2: #766b90;
  --lotusViolet3: #c9cbd1;
  --lotusViolet4: #624c83;
  --lotusBlue1: #c7d7e0;
  --lotusBlue2: #b5cbd2;
  --lotusBlue3: #9fb5c9;
  --lotusBlue4: #4d699b;
  --lotusBlue5: #5d57a3;
  --lotusGreen: #6f894e;
  --lotusGreen2: #6e915f;
  --lotusGreen3: #b7d0ae;
  --lotusPink: #b35b79;
  --lotusOrange: #cc6d00;
  --lotusOrange2: #e98a00;
  --lotusYellow: #77713f;
  --lotusYellow2: #836f4a;
  --lotusYellow3: #de9800;
  --lotusYellow4: #f9d791;
  --lotusRed: #c84053;
  --lotusRed2: #d7474b;
  --lotusRed3: #e82424;
  --lotusRed4: #d9a594;
  --lotusAqua: #597b75;
  --lotusAqua2: #5e857a;
  --lotusTeal1: #4e8ca2;
  --lotusTeal2: #6693bf;
  --lotusTeal3: #5a7785;
  --lotusCyan: #d7e3d8;
  --color-red: var(--lotusRed2);
  --color-orange: var(--lotusOrange);
  --color-yellow: var(--lotusYellow3);
  --color-green: var(--lotusGreen);
  --color-cyan: var(--lotusTeal2);
  --color-blue: var(--lotusTeal1);
  --color-purple: var(--lotusViolet4);
  --color-pink: var(--lotusPink);
  --background-primary: var(--lotusWhite3);
  --background-secondary: var(--lotusWhite4);
  --selection-background-color: var(--lotusViolet3);
  --border-color-primary: var(--lotusWhite0);
  --border-color-secondary: var(--lotusGray3);
  --text-color: var(--lotusInk1);
  --text-color-accent: white;
  --text-color-muted-dark: var(--lotusGray3);
  --text-color-muted-light: var(--lotusGray2);
  --accent-color-dark: var(--lotusTeal1);
  --accent-color-light: var(--lotusRed2);
  --accent-color-hover: var(--lotusPink);
  --accent-h: 196;
  --accent-s: 35%;
  --accent-l: 47%;
  --canvas-color: 78, 140, 162 !important;
  --code-important: var(--color-yellow);
  --code-boolean: var(--lotusOrange);
  --code-builtin: var(--lotusTeal2);
  --code-comment: var(--lotusGray3);
  --code-definition: var(--lotusOrange);
  --code-keyword: var(--lotusViolet4);
  --code-operator: var(--lotusYellow2);
  --code-property: var(--lotusInk1);
  --code-parentheses: var(--lotusTeal1);
  --code-string: var(--lotusGreen);
  --code-value: var(--lotusPink);
  --code-variable: var(--lotusOrange);
}
