body:not(.no-heading-background) .markdown-source-view .cm-line.HyperMD-header,
body:not(.no-heading-background) .markdown-preview-view :is(h1, h2, h3, h4, h5, h6) {
  background-color: var(--bg4);
  border: var(--thin-border);
  border-radius: var(--radius-s);
  padding-top: 0;
  padding-left: 6px;
}

body:not(.no-heading-background) .markdown-embed[data-type="heading"] .markdown-embed-link {
  top: 9px;
  right: 14px;
}
