:root[saved-theme="dark"] {
  --background-primary: #343434;
  --background-primary-alt: #2c2c2c;
  --background-secondary: #2c2c2c;
  --background-secondary-alt: #2c2c2c;
  --background-modifier-border: #303030;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.85);
  --background-modifier-form-field: var(--background-primary);
  --text-accent: #df4a16;
  --text-accent-hover: #df7a16;
  --text-normal: #dcddde;
  --text-muted: #999;
  --text-faint: #666;
  --text-error: #ff3333;
  --text-error-hover: #990000;
  --text-matched: #dcddde;
  --text-on-accent: #dcddde;
  --text-selection: rgba(223, 74, 22, 0.8);
  --text-highlight-bg: #df4a16;
  --interactive-normal: var(--background-primary);
  --interactive-hover: #303030;
  --interactive-accent: #df4a16;
  --interactive-accent-rgb: #df7a16;
  --interactive-accent-hover: #df7a16;
  --workspace-leaf-resize: #494949;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --accent-strong: #ec0d0d;
  --accent-mild: #e6b64f;
  --bw: #ffffff;
  --lines-identation: #535353;
  --tooltip-bg: rgba(223, 74, 22, 0.9);

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
