body.headings-scaling-slight {
  --h1-size: clamp(1.125rem, 12vw - 3.7rem, 1.5rem);
  --h2-size: clamp(1.125rem, 12vw - 3.7rem, 1.4rem);
  --h3-size: clamp(1.125rem, 12vw - 3.7rem, 1.3rem);
  --h4-size: clamp(1rem, 12vw - 3.7rem, 1.2rem);
  --h5-size: clamp(1rem, 12vw - 3.7rem, 1.1rem);
  --h6-size: 1rem;
}
