:root[saved-theme="light"] {
  --color-base-00: #b9c3de;
  --color-base-05: #b0b9d3;
  --color-base-10: #a7b0c9;
  --color-base-20: #969eb5;
  --color-base-25: #8d95ab;
  --color-base-30: #848ca1;
  --color-base-35: #7c8397;
  --color-base-40: #737a8d;
  --color-base-50: #626879;
  --color-base-60: #505664;
  --color-base-70: #3f4450;
  --color-base-100: #0b0e14;
  --accent-l: 60%;
  --color-yellow-rgb: 190, 146, 0;
  --color-yellow: rgb(var(--color-yellow-rgb));
}
