.blendDropdown .menu {
  word-wrap: none;
  white-space: nowrap;
  text-overflow: clip;
  background-color: #111111;
  padding: 1px;
  border: none;
}

.blendDropdown .menu .menu-item {
  height: 20px;
  line-height: 1em;
  font-size: 12px;
  padding-left: 2px;
}

.blendDropdown .menu .menu-item.selected:not(.is-disabled):not(.is-label),
.blendDropdown .menu .menu-item:hover:not(.is-disabled):not(.is-label) {
  background: linear-gradient(180deg, #7aa3e5 0%, #5680c1 100%);
  color: #000;
}

.blendDropdown .menu .menu-item.selected:not(.is-disabled):not(.is-label) svg,
.blendDropdown .menu .menu-item:hover:not(.is-disabled):not(.is-label) svg {
  color: #000;
}

.blendDropdown .menu .menu-item .menu-item-icon.mod-checked {
  bottom: 0px;
}

.blendDropdown .menu .menu-separator {
  position: relative;
  width: 200%;
  left: -1px;
  margin: 2px auto;
}
