:root[saved-theme="dark"] {
  --background-primary: #242424;
  --background-primary-alt: #444444;
  --background-secondary: #333333;
  --background-secondary-alt: #000000;
  --background-accent: #000;
  --background-modifier-border: #565656;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #539126;
  --background-modifier-error: #9b4343;
  --background-modifier-error-rgb: 155, 67, 67;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #53aaf5;
  --text-accent-hover: #3e8de7;
  --text-normal: #d1d1d1;
  --text-muted: #8a8a8a;
  --text-faint: rgb(121, 121, 121);
  --accent-strong: #ffffff;
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: #e481007c;
  --text-selection: #47a5914d;
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  --interactive-accent: #3187d3;
  --interactive-accent-rgb: 45, 135, 211;
  --interactive-accent-hover: #3e8de7;
  --panel-border-color: #18191e;
  --search-text: #e0e0e0;
  --folder-title: #ffffff;
  --mark-highlight: #e481007c;
  --background-search-result: #444444;
  --gray-1: #5c6370;
  --gray-2: #abb2bf;
  --red: #e06c75;
  --red-1: #d05a63;
  --orange: #d19a66;
  --green: #b6e296;
  --darkgreen: #399a58;
  --aqua: #56b6c2;
  --purple: #c678dd;
  --blue: #9dcffc;
  --darkblue: #4889df;
  --yellow: #e4ba6c;
  --light-yellow: #dfda91;
  --embed-color: #5c67996c;
  --search-result-file-title-color: #96b7e4;
  --theme-color: #3187d3;
  --theme-color-translucent: #3187d388;
  --theme-color-translucent-1: #1982dd2c;
  --color-specification: #3ce252;
  --allow-1: #d18828;
  --background-blockquote-dark: #d3d3d31c;
  --list-ul-block-color: #e19742a9;
  --list-ul-disc-color: #db6019;
  --list-ul-hover: #e28915de;
  --list-ol-block-color: #2685bbb4;
  --list-ol-number-color: #95afc4;
  --list-ol-hover: #2c7bd6;
  --stag1: #cf0000;
  --stag2: #cf7c00;
  --stag3: #00a71c;
  --tag1: #f37575bb;
  --tag2: #d39461bb;
  --tag3: #c7cc37bb;
  --tag4: #8fd389bb;
  --tag5: #5ccbcfbb;
  --tag6: #5b94d6bb;
  --tag7: #9859e0bb;
  --tag8: #cd64d6bb;
  --tag9: #b3b3b3bb;
  --h1-color: #92c237;
  --h2-color: #37bd32;
  --h3-color: #2dc1c1;
  --h4-color: #4495ff;
  --h5-color: #ad9fff;
  --h6-color: #ca8bee;
  --h1-color: #4ea0e2;
  --h2-color: #35d13dd3;
  --h3-color: #dfd111e1;
  --h4-color: #f1a634d0;
  --h5-color: #f15959d0;
  --h6-color: #d06af0d0;
  --graph-text-color: #b5b5b5;
  --graph-attach: #4ad43eb2;
  --graph-circle: #99b4d8b2;
  --graph-line: #646464;
  --graphtag: #88d842bb;
  --graph-attach: #b2cfe0bb;
  --graph-circle: #55a2d6bb;
  --graph-line: #646464;
  --graph-unresolved: #f08080de;
  --graph-arrow: #c23917;
  --mermaid-active-task-color: #187ef1;
  --mermaid-seq-dia-color: #1371be;
  --table-background-color: #8a8a8a3b;
  --table-background-color-odd: transparent;
  --table-border-color: #c0c0c0;
  --table-thead-background-color: #74aef07a;
  --table-hover-raw-color: #3187d33d;
  --table-hover-color: #3187d388;
  --table-hover-thead-color: #6fa084;
  --calendar-week-color: #a2df94;
  --calendar-week-hover: #61815c;
  --calendar-week-background-color: #4a5842;
  --day-planner-pie: #f19c1c;
  --day-planner-timeline: #000000;
  --day-planner-line: #dfcf77;
  --day-planner-dot: #dfcf77;
  --day-planner-item-hover: #053c85;
  --event-item-color1: #283493bb;
  --event-item-color2: #1565c0bb;
  --event-item-color3: #00838fbb;
  --event-item-color4: #2e7d32bb;
  --event-item-color5: #9e9d24bb;
  --event-item-color6: #ff8f00bb;
  --event-item-color7: #d84315bb;
  --event-item-color8: #c62828bb;
  --event-item-color9: #ad1457bb;
  --event-item-color10: #6a1b9abb;
  --text-gray: #acacac;
  --text-brown: #be9684;
  --text-orange: #ffa344;
  --text-yellow: #ffdc51;
  --text-green: #52c7b2;
  --text-blue: #8ca1ff;
  --text-purple: #b386f1;
  --text-pink: #ff6bba;
  --text-red: #ff4f4f;
  --background-gray: #535353;
  --background-brown: #493a3a;
  --background-orange: #53422f;
  --background-yellow: #585536;
  --background-green: #32503e;
  --background-blue: #2f5264;
  --background-purple: #443f57;
  --background-pink: #533b4a;
  --background-red: #683c3c;
  --note-important: #d64545;
  --note-cloze: #ffffff;
  --stickies-color-1: #84c584;
  --stickies-color-2: #c7a3cf;
  --tape-color: #99999967;
  --header-color: #f1a634d0;
  --background-primary: #353231;
  --background-primary-alt: #00767224;
  --background-secondary: #383433;
  --background-secondary-alt: #353231;
  --background-accent: #786b54;
  --background-modifier-border: rgba(0, 0, 0, 0.1);
  --background-modifier-form-field: #007672;
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #e1b87f;
  --background-modifier-error: #007672;
  --background-modifier-error-rgb: 155, 67, 67;
  --background-modifier-error-hover: #d1ccbd;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #e1b87f;
  --text-accent-hover: #786b54;
  --text-normal: #a29c90;
  --text-muted: #a29c90;
  --text-faint: rgb(121, 121, 121);
  --accent-strong: #786b54;
  --text-em-color: #e1b87f;
  --text-error: #007672;
  --text-error-hover: #e1b87f;
  --text-highlight-bg: #d1ccbd;
  --text-selection: #efdbb2;
  --text-on-accent: #e1b87f;
  --interactive-normal: #007672;
  --interactive-hover: #e1b87f;
  --interactive-accent: #007672;
  --interactive-accent-rgb: 45, 135, 211;
  --interactive-accent-hover: #e1b87f;
  --panel-border-color: #353231;
  --search-text: #007672;
  --folder-title: #007672;
  --mark-highlight: #007672;
  --background-search-result: #786b54;
  --gray-1: #353231;
  --gray-2: #786b54;
  --red: #f97065;
  --red-1: #ff4a4a;
  --orange: #f9944c;
  --green: #0f9d58;
  --darkgreen: #007672;
  --aqua: #61c8b9;
  --purple: #ab7fe6;
  --blue: #198cff;
  --darkblue: #007aff;
  --yellow: #f7dc01;
  --light-yellow: #e1b87f;
  --embed-color: #786b540d;
  --search-result-file-title-color: #007672;
  --theme-color: #e1b87f;
  --theme-color-translucent: #007672;
  --theme-color-translucent-1: #007672;
  --color-specification: #e1b87f;
  --allow-1: #e1b87f;
  --background-blockquote-dark: #786b540d;
  --list-ul-block-color: #007672;
  --list-ul-disc-color: #e1b87f;
  --list-ul-hover: #efdbb2;
  --list-ol-block-color: #a29c90;
  --list-ol-number-color: #a29c90;
  --list-ol-hover: #007672;
  --tag1: #007672;
  --tag2: #786b54;
  --tag3: #aa7f39cc;
  --tag4: #3c4855;
  --tag5: #674712;
  --tag6: #60616f;
  --tag7: #7f7272;
  --tag8: #2f3546;
  --tag9: #393c44;
  --h1-color: #d1ccbd;
  --h2-color: #d1ccbd;
  --h3-color: #d1ccbd;
  --h4-color: #d1ccbd;
  --h5-color: #d1ccbd;
  --h6-color: #d1ccbd;
  --graph-text-color: #a29c90;
  --graphtag: #007672;
  --graph-attach: #e1b87f;
  --graph-circle: #efdbb2;
  --graph-line: #e1b87f;
  --graph-unresolved: #e1b87f;
  --graph-arrow: #efdbb2;
  --mermaid-active-task-color: #007672;
  --mermaid-seq-dia-color: #e1b87f;
  --table-background-color: #353231;
  --table-background-color-odd: #353231;
  --table-border-color: #c0c0c0;
  --table-thead-background-color: #786b54;
  --table-hover-raw-color: #353231;
  --table-hover-color: #efdbb217;
  --table-hover-thead-color: #efdbb2e3;
  --calendar-week-color: #e1b87f;
  --calendar-week-hover: #786b54;
  --calendar-week-background-color: #007672;
  --day-planner-pie: #007672;
  --day-planner-timeline: #269894;
  --day-planner-line: #786b54;
  --day-planner-dot: #786b54;
  --day-planner-item-hover: #efdbb2;
  --event-item-color1: #007672;
  --event-item-color2: #136664;
  --event-item-color3: #105553;
  --event-item-color4: #0d4a48;
  --event-item-color5: #0b3f3d;
  --event-item-color6: #093634;
  --event-item-color7: #0b3f3d;
  --event-item-color8: #0d4a48;
  --event-item-color9: #105553;
  --event-item-color10: #136664;
  --text-gray: #e1b87f;
  --text-brown: #e1b87f;
  --text-orange: #e1b87f;
  --text-yellow: #e1b87f;
  --text-green: #e1b87f;
  --text-blue: #e1b87f;
  --text-purple: #e1b87f;
  --text-pink: #e1b87f;
  --text-red: #e1b87f;
  --background-gray: #007672;
  --background-brown: #007672;
  --background-orange: #007672;
  --background-yellow: #007672;
  --background-green: #007672;
  --background-blue: #007672;
  --background-purple: #007672;
  --background-pink: #007672;
  --background-red: #007672;
  --note-important: #007672;
  --note-cloze: #e1b87f;
  --stickies-color-1: #007672;
  --stickies-color-2: #e1b87f;
  --tape-color: #007672;
  --header-color: #f1a634d0;

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
