:root[saved-theme="dark"] {
  --file-line-width: var(--line-width);
  --tab-divider-color: var(--dark-purple-light);
  --tab-outline-color: var(--dark-purple-light);
  --divider-color: var(--dark-purple-light);
  --background-primary: var(--rich-black);
  --background-secondary: var(--raisin-black);
  --background-secondary-alt: var(--raisin-black);
  --background-code: var(--grey);
  --text-normal: var(--white);
  --text-accent: var(--bright-green);
  --text-selection: var(--tropical-indigo-light);
  --text-header: var(--tropical-indigo);
  --h1-color: var(--tropical-indigo);
  --h1-gradient-start: transparent;
  --h1-gradient-mid: var(--tropical-indigo);
  --h1-gradient-end: transparent;
  --h2-color: var(--tropical-indigo);
  --h2-gradient-start: var(--tropical-indigo);
  --h2-gradient-end: transparent;
  --h3-color: var(--tropical-indigo);
  --h4-color: var(--tropical-indigo);
  --h5-color: var(--tropical-indigo);
  --h6-color: var(--tropical-indigo);
  --bar-gradient-start: transparent;
  --bar-gradient-mid: var(--bright-green);
  --bar-gradient-end: transparent;
  --strong: var(--robin-egg-blue);
  --underline-text-color: var(--white);
  --underline-line-color: var(--bright-green);
  --underline-line-thickness: 0.15em;
  --codeblock-background: var(--dark-purple);
  --codeblock-color: var(--white);
  --inline-code-background: var(--dark-purple);
  --inline-code-color: var(--bright-green);
  --code-variable-color: var(--white);
  --code-function-color: var(--bright-green);
  --code-builtin-color: var(--tropical-indigo);
  --code-string-color: var(--robin-egg-blue);
  --code-operator-color: var(--bright-green);
  --code-comment-color: var(--cool-gray);
  --code-text-size: 0.9em;
  --tags-background: var(--dark-purple);
  --tags-color: var(--robin-egg-blue);
  --list-marker-color: var(--white);
  --list-marker-color-hover: var(--bright-green);
  --checkbox-marker-color: var(--white);
  --radius-s: 3px;
  --interactive-accent: var(--tropical-indigo);
  --checklist-done-color: var(--cool-gray);
  --checkbox-border-color: var(--cool-gray);
  --checkbox-border-color-hover: var(--bright-green);
  --checkbox-color-hover: var(--bright-green);
  --checklist-done-decoration: none;
  --quote-background: var(--dark-purple);
  --link-text-shadow: var(--raisin-black);
  --link-text-color: var(--white);
  --link-text-color-hover: var(--tropical-indigo);
  --link-ext-color: var(--tropical-indigo);
  --link-int-color: var(--robin-egg-blue);
  --link-url-text-color: var(--tropical-indigo);
  --folder-title-color: var(--white);
  --file-title-color: var(--white);
  --folder-filter: invert(30%) sepia(99%) saturate(1210%) hue-rotate(51deg) brightness(120%)
    contrast(100%);
  --progress-bar-color: var(--tropical-indigo);
  --highlight-background-color: var(--bright-green);
  --highlight-text-color: var(--dark-purple);
  --highlight-text-shadow: var(--text-normal);
  --search-result-background: var(--tropical-indigo);
  --find-flashing: var(--bright-green);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
