:root:root {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: #dadada;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --background-modifier-form-field: var(--background-primary);
  --background-secondary-alt: var(--background-secondary);
  --interactive-normal: var(--background-primary);
  --interactive-hover: rgba(0, 0, 0, 0.05);
  --text-accent: #3c95fa;
  --interactive-accent: rgba(0, 0, 0, 0.1);
  --interactive-accent-hover: var(--text-selection);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-selection: rgba(42, 48, 56, 0.5);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --background-primary: #161719;
  --background-primary-alt: rgba(0, 0, 0, 0.08);
  --background-secondary: #202123;
  --background-accent: rgba(0, 0, 0, 0.08);
  --background-modifier-border: var(--text-faint);
  --background-modifier-form-field-highlighted: var(--background-primary);
  --background-modifier-success: rgba(160, 232, 92, 0.08);
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --text-accent-hover: var(--text-faint);
  --text-normal: #d5d5d5;
  --text-muted: #949594;
  --text-faint: #949594;
  --text-error: #800000;
  --text-error-hover: #990000;
  --text-highlight-bg: var(--text-selection);
  --text-on-accent: var(--text-normal);
  --interactive-accent-rgb: 72, 54, 153;
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.1);
  --scrollbar-bg: rgba(0, 0, 0, 0);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.08);
  --graph-note-name: var(--text-normal);
  --graph-node-color: var(--tag-bg);
  --graph-line-color: var(--header-before-color);
  --graph-line-on-hover: var(--tag-bg);
  --hashtag-color: #3b3e43;
  --border-color: #000000;
  --blockquote-border: var(--text-accent);
  --pre-code-bg: #1b1b1a;
  --code-block: var(--text-muted);
  --file-name-color: var(--text-accent);
  --inline-code: var(--text-muted);
  --interfa-color-icon: var(--interface-color-border);
  --interface-color-action: var(--text-normal);
  --interface-color-background-alt: var(--background-primary);
  --interface-color-border: rgba(250, 250, 250, 0.045);
  --interface-color-foreground-alt: var(--text-accent);
  --interface-color-pin: var(--text-normal);
  --quick-switcher: var(--text-selection);
  --text-title-h1: #c0d2de;
  --text-title-h2: var(--text-title-h1);
  --text-title-h3: var(--text-title-h1);
  --text-title-h4: var(--text-title-h1);
  --text-title-h5: var(--text-title-h1);
  --text-title-h6: var(--text-title-h1);
  --ul-line-color: #777;
  --link-text: var(--text-accent);
  --link-bg: transparent;
  --link-text-hover: var(--text-accent);
  --link-bg-hover: transparent;
  --tag-text-color: var(--background-primary);
  --tag-bg: #666a6c;
  --tag-text-hover: var(--background-primary);
  --tag-bg-hover: #666a6c;
  --interface-color-cross: #fc3b44;
  --interface-color-pencil: #fec03e;
  --interface-color-three-dots: #a0e85b;
  --interface-color-background: #415358;
  --interface-color-foreground: #3e3e3e;
  --font-size-footnote: 22px;
  --font-size-h1: 1.9em;
  --font-size-h2: 1.6em;
  --font-size-h3: 1.3em;
  --font-size-h4: 1.2em;
  --font-size-h5: 1.1em;
  --font-size-h6: 1em;
  --header-before-size-h1: 0.5em;
  --header-before-size-h2: 0.5em;
  --header-before-size-h3: 0.5em;
  --header-before-size-h4: 0.5em;
  --header-before-size-h5: 0.5em;
  --header-before-size-h6: 0.5em;
  --text-title-font-weight: 600;
  --line-height-footnote: 1.2em;
  --ul-line-specs: 0.9px solid;
  --vim-cursor: #474949;
  --header-before-color: #4c535a;
  --blockquote-bg: var(--background-primary);
  --bracket-color: var(--header-before-color);
  --checkbox-color: var(--tag-bg);
  --checkbox-enabled: var(--file-name-color);
  --active-title-border: var(--interactive-accent);
  --hr-color: hsl(0, 0%, 39%);
}
