.cm-embed-block.markdown-rendered .block-language-dataview thead,
.cm-embed-block.markdown-rendered .block-language-dataview tbody tr,
.markdown-rendered table thead,
.markdown-rendered table tbody tr,
.markdown-rendered .table-view-table thead,
.markdown-rendered .table-view-table tbody tr {
  border-collapse: collapse;
  display: table;
  width: 100%;
  table-layout: fixed;
}
.cm-embed-block.markdown-rendered .block-language-dataview tbody,
.markdown-rendered table tbody,
.markdown-rendered .table-view-table tbody {
  display: block;
  max-height: var(--table-sticky-height);
  overflow: auto;
}
.table-row-border
  .cm-embed-block.markdown-rendered
  .block-language-dataview
  tbody
  tr
  td,
.table-row-border .markdown-rendered table tbody tr td,
.table-row-border .markdown-rendered .table-view-table tbody tr td {
  border-bottom: 1px solid var(--border-subtle-1);
}
