:root[saved-theme="light"] {
  --color-grey-base-hsl: 0, 0%, 90%;
  --color-red-base-hsl: 7, 90%, 92%;
  --color-orange-base-hsl: 26, 85%, 89%;
  --color-yellow-base-hsl: 42, 88%, 83%;
  --color-green-base-hsl: 101, 49%, 85%;
  --color-mint-base-hsl: 152, 62%, 85%;
  --color-cyan-base-hsl: 184, 60%, 85%;
  --color-blue-base-hsl: 217, 76%, 92%;
  --color-purple-base-hsl: 251, 87%, 94%;
  --color-pink-base-hsl: 328, 79%, 93%;
  --color-grey-tint-hsl: 0, 0%, 73%;
  --color-red-tint-hsl: 7, 82%, 78%;
  --color-orange-tint-hsl: 27, 80%, 69%;
  --color-yellow-tint-hsl: 44, 67%, 58%;
  --color-green-tint-hsl: 99, 50%, 59%;
  --color-mint-tint-hsl: 158, 59%, 55%;
  --color-cyan-tint-hsl: 184, 61%, 56%;
  --color-blue-tint-hsl: 219, 73%, 78%;
  --color-purple-tint-hsl: 252, 84%, 83%;
  --color-pink-tint-hsl: 327, 72%, 79%;
  --color-grey-text-hsl: 0, 0%, 47%;
  --color-red-text-hsl: 3, 68%, 52%;
  --color-orange-text-hsl: 31, 100%, 36%;
  --color-yellow-text-hsl: 38, 62%, 37%;
  --color-green-text-hsl: 93, 100%, 27%;
  --color-mint-text-hsl: 161, 100%, 26%;
  --color-cyan-text-hsl: 184, 100%, 28%;
  --color-blue-text-hsl: 221, 67%, 56%;
  --color-purple-text-hsl: 258, 75%, 63%;
  --color-pink-text-hsl: 320, 60%, 50%;
  --text-normal-hsl: 0, 0%, 15%;
  --text-muted-hsl: 0, 0%, 20%;
  --text-faint-hsl: 0, 0%, 35%;
  --background-primary-hsl: 0, 0%, 100%;
  --background-primary-alt-hsl: 0, 0%, 96%;
  --background-secondary-hsl: 0, 0%, 93%;
  --background-secondary-blur-hsl: 0, 0%, 92%;
  --background-secondary-alt-hsl: 0, 0%, 69%;
  --shadow-color-hsl: 0, 0%, 0%;
  --shadow-s: hsla(var(--shadow-color-hsl), 10%) 0 1px 2px 0;
}
