:root[saved-theme="dark"] {
  --translucency: 0.95;
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --background-primary: hsl(var(--base-h), var(--base-s), calc(var(--base-d) - 4%));
  --background-primary-alt: hsl(var(--base-h), var(--base-s), calc(var(--base-d) - 3%));
  --background-secondary: hsl(var(--base-h), var(--base-s), var(--base-d));
  --background-secondary-table: hsl(var(--base-h), var(--base-s), calc(var(--base-d) - 2%));
  --background-secondary-alt: hsl(var(--base-h), var(--base-s), var(--base-d));
  --background-tertiary: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 4%));
  --background-modifier-border: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 5%));
  --background-modifier-border-hover: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 10%));
  --background-modifier-border-focus: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 20%));
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --text-normal: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 70%));
  --text-muted: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 45%));
  --text-faint: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 20%));
  --text-selection: rgba(50, 50, 50, 1);
  --text-shadow: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 3%));
  --line-shadow: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 2%));
  --background-transparent: hsla(var(--base-h), var(--base-s), var(--base-d), 0);
  --background-translucent: hsla(var(--base-h), var(--base-s), var(--base-d), 0.85);
  --background-match-highlight: hsla(var(--accent-h), 40%, 62%, 0.2);
  --background-modifier-accent: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-d) - 10%));
  --text-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-d));
  --text-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-d) + 10%));
  --interactive-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-d));
  --interactive-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-d) + 10%));
  --quote-opening-modifier: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 15%));
  --interactive-accent-rgb: 66, 66, 66;
  --text-highlight-bg: rgba(168, 220, 250, 0.33);
  --button-background: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 5%));
  --button-background-active: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 30%));
  --icon-bright: brightness(140%);
  --icon-normal: brightness(100%);
  --icon-dark: brightness(90%);
  --color-external: #4ed5ff;
  --color-accent: hsl(var(--main-accent-h), var(--main-accent-s), var(--main-accent-d));
  --color-accent-hover: hsl(
    var(--main-accent-h),
    var(--main-accent-s),
    calc(var(--main-accent-d) + 10%)
  );
  --color-accent-shadow: hsla(
    var(--main-accent-h),
    var(--main-accent-s),
    calc(var(--main-accent-d) + 10%),
    0.2
  );
  --color-accent-hover-invert: var(--text-muted);
  --color-accent-shadow-more: hsla(
    var(--main-accent-h),
    var(--main-accent-s),
    calc(var(--main-accent-d) + 10%),
    0.1
  );
  --color-accent-bright: hsla(
    var(--main-accent-h),
    var(--main-accent-s),
    calc(var(--main-accent-d) + 20%),
    0.9
  );

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
