:root[saved-theme="light"] {
  --translucency: 0.85;
  --background-primary: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 5%));
  --background-primary-alt: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 2%));
  --background-secondary: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 0%));
  --background-secondary-table: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 2%));
  --background-secondary-alt: hsl(var(--base-h), var(--base-s), var(--base-l));
  --background-tertiary: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 12%));
  --background-modifier-border: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 8%));
  --background-modifier-border-hover: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 12%));
  --background-modifier-border-focus: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 20%));
  --text-normal: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 100%));
  --text-muted: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 55%));
  --text-faint: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 3s5%));
  --text-selection: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 6%));
  --text-shadow: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 80%));
  --line-shadow: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 70%));
  --background-transparent: hsla(var(--base-h), var(--base-s), var(--base-l), 0);
  --background-translucent: hsla(var(--base-h), var(--base-s), var(--base-l), 0.85);
  --background-match-highlight: hsla(var(--accent-h), 40%, 62%, 0.2);
  --background-modifier-accent: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 2%));
  --text-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --text-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 10%));
  --interactive-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --interactive-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 10%));
  --quote-opening-modifier: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 15%));
  --interactive-accent-rgb: 220, 220, 220;
  --button-background: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 75%));
  --button-background-active: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 60%));
  --icon-bright: brightness(20%);
  --icon-normal: brightness(100%);
  --icon-dark: brightness(120%);
  --color-external: #389ebd;
  --color-accent: hsl(var(--main-accent-h), var(--main-accent-s), var(--main-accent-d));
  --color-accent-hover: hsl(
    var(--main-accent-h),
    var(--main-accent-s),
    calc(var(--main-accent-d) + 4%)
  );
  --color-accent-shadow: hsla(
    var(--main-accent-h),
    var(--main-accent-s),
    calc(var(--main-accent-d) + 10%),
    0.4
  );
  --color-accent-hover-invert: var(--text-muted);
  --color-accent-bright: hsla(
    var(--main-accent-h),
    var(--main-accent-s),
    calc(var(--main-accent-d) + 5%),
    1.9
  );

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
