body.theme-light {
  --background-transparent-black-or-white-1: #ffffffb0;
  --background-transparent-black-or-white-2: #eeeeee88;
  --background-transparent-black-or-white-3: #f5f5f583;
  --background-transparent-blue: #5eb6ff44;
}
