/* 
@settings
name: Dark Clarity Theme 
id: obsidian-theme-dark-clarity
settings:
  - 
    id: main-theme
    title: 主题配色
    description: （标题、高亮等）
    type: class-select
    allowEmpty: true
    default: theme-genshin-sangonomiya-kokomi1
    options:
      -
        label: 原神-心海1
        value: theme-genshin-sangonomiya-kokomi1
      -
        label: 原神-心海2
        value: theme-genshin-sangonomiya-kokomi2
      -
        label: 原神-妮露
        value: theme-genshin-nilou
      -
        label: 原神-甘雨
        value: theme-genshin-甘雨
      -
        label: 原神-神里绫华
        value: theme-genshin-神里绫华
      -
        label: 原神-可莉
        value: theme-genshin-可莉
      -
        label: 原神-希格雯
        value: theme-genshin-希格雯
      -
        label: 原神-砂糖
        value: theme-genshin-砂糖
      -
        label: 新海诚-铃芽之旅
        value: theme-suzume-no-tojimari
      -
        label: 周杰伦-叶惠美
        value: theme-jay
      -
        label: Nord-Aurora
        value: theme-Nord-Aurora
      -
        label: 荧光彩虹
        value: theme-rainbow
      -
        label: ...
        value: theme-testing
  - 
    id: secondary-theme
    title: 副配色
    description: （超链、tag 等）
    type: class-select
    allowEmpty: true
    default: secondary-theme-green-blue
    options:
      -
        label: DarkMoss（蓝+墨绿）
        value: secondary-theme-green-blue
      -
        label: Nord 配套（霜冻蓝）
        value: secondary-theme-Nord
      -
        label: ...
        value: secondary-theme-testing
  - 
    id: code-theme
    title: 代码配色
    description: （代码高亮方案）
    type: class-select
    allowEmpty: true
    default: code-theme-jetbrains
    options:
      -
        label: jetbrains 同款配色
        value: code-theme-jetbrains
      -
        label: ...
        value: code-theme-testing
*/

:root {
  --default-font: "Segoe UI", "Arial", "Tahoma", "Helvetica", sans-serif;
}
body .modal {
  border-radius: 18px;
}

.theme-dark {
  --background-primary: #161b22;
  --background-primary-alt: #13161b;
  --background-secondary: #11161d;
  --background-secondary-alt: #0d1117;
  --background-accent: #000;
  --background-modifier-border: #424958;
  --background-modifier-active-hover: hsl(224deg 23% 45% / 15%);
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #15df6b;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #ff0f44;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);

  --text-normal: #dedede;
  --text-muted: #bbb;
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  --interactive-accent: #4c78cc;
  --interactive-accent-rgb: 76, 120, 204;
  --interactive-accent-hover: #5082df;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --panel-border-color: #18191e;
}

.theme-dark,
.theme-light {
  --gray-1: #5c6370;
  --red: #ff0f44;
  --peach: #ff5555;
  --aqua: #078480;
  --purple: #8c44aa;
  --blue: #61afef;
  --green: #15df6b;
  --orange: #ffc83f;
  --magenta: #ff2857;
  --altblue: #0087ff;
  --cyan: #0fb3ff;
  --yellow: #fccd11;
  --light-orange: #ff693f;
  --lime: #b2f711;
  --aquadark: #0b4c5e;
  --lila: #c90481;
  --green-light: #42accd;

  --font-weight-title: 600;
  /* --font-monospace: "Consolas", "Fira Code", "Source Code Pro", "Droid Sans Mono", "Monoid", "Arial", sans-serif; */
  --line-height-headers: 1;
  --file-line-width: 1000px;

  --search-match-color: #ffff00;
  --search-other-match-color: #ff9632;
}

/* 字体 */
* {
  /* 默认字体 */
  /* font-family: '煮豆黑体', '微软雅黑', "Segoe UI", sans-serif; */
  --default-font: "煮豆黑体", "微软雅黑", "Segoe UI", sans-serif;
  font-feature-settings: "ss02" 1;

  /* 代码字体 */
  --font-monospace: "JetBrains Mono NL", "JetBrains Mono", Consolas, Monaco, "等距更纱黑体 SC",
    monospace;
}

/* 主配色  -----------------------------------   */

/* 原神心海配色1 */
body.theme-genshin-sangonomiya-kokomi1.theme-dark {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsla(245, 75%, 63%, 0.5);
  --text-title-h1: hsl(246, 87%, 69%);
  --text-title-h2: hsl(245, 75%, 70%);
  --text-title-h3: hsl(240, 35%, 73%);
  --text-title-h4: hsl(13, 84%, 89%);
  --text-title-h5: hsl(17, 51%, 66%);
  --text-title-h6: hsl(11, 59%, 54%);
}
body.theme-genshin-sangonomiya-kokomi1.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsla(245, 100%, 78%, 0.521);
  --text-title-h1: hsl(246, 87%, 69%);
  --text-title-h2: hsl(245, 89%, 75%);
  --text-title-h3: hsl(240, 100%, 84%);
  --text-title-h4: hsl(14, 100%, 83%);
  --text-title-h5: hsl(17, 91%, 77%);
  --text-title-h6: hsl(11, 89%, 63%);
}

/* 原神心海配色2 */
body.theme-genshin-sangonomiya-kokomi2.theme-dark,
body.theme-genshin-sangonomiya-kokomi2.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsla(245, 75%, 63%, 0.5);
  --text-title-h1: hsl(246, 100%, 63%);
  --text-title-h2: hsl(245, 75%, 63%);
  --text-title-h3: hsl(240, 44%, 65%);
  --text-title-h4: hsl(14, 91%, 79%);
  --text-title-h5: hsl(17, 55%, 60%);
  --text-title-h6: hsl(11, 59%, 54%);
}

/* 原神妮露配色 */
body.theme-genshin-nilou.theme-dark {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #d64f38;
  --text-title-h1: #3077ce;
  --text-title-h2: #6aa7c9;
  --text-title-h3: #bfd9e5;
  --text-title-h4: #f8f2ec;
  --text-title-h5: #d48679;
  --text-title-h6: #d64f38;
}
body.theme-genshin-nilou.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #f7684faf;
  --text-title-h1: #3985e2;
  --text-title-h2: #60c7ff;
  --text-title-h3: #a4e2ff;
  --text-title-h4: #ffd9b3;
  --text-title-h5: #ffa387;
  --text-title-h6: #f55d42;
}

body.theme-genshin-甘雨.theme-dark,
body.theme-genshin-甘雨.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsla(245, 75%, 63%, 0.5);
  --text-title-h1: rgb(97, 108, 170);
  --text-title-h2: rgb(100, 125, 175);
  --text-title-h3: rgb(196, 216, 242);
  --text-title-h4: rgb(218, 205, 199);
  --text-title-h5: rgb(177, 97, 101);
  --text-title-h6: rgb(148, 99, 101);
}

body.theme-genshin-神里绫华.theme-dark,
body.theme-genshin-神里绫华.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsla(245, 75%, 63%, 0.5);
  --text-title-h1: #596dbd;
  --text-title-h2: #6982b9;
  --text-title-h3: #bccae0;
  --text-title-h4: #d4d2cf;
  --text-title-h5: #ae6b81;
  --text-title-h6: #822d4a;
}

body.theme-genshin-可莉.theme-dark,
body.theme-genshin-可莉.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #d1462e;
  --text-title-h1: #d1462e;
  --text-title-h2: #bb4c38;
  --text-title-h3: #ad5a4d;
  --text-title-h4: #d89f8a;
  --text-title-h5: #e0cdb4;
  --text-title-h6: #e2cac3;
}

body.theme-genshin-希格雯.theme-dark {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #4d68df;
  --text-title-h1: #7db4e4;
  --text-title-h2: #aad4f8;
  --text-title-h3: #f2f5fa;
  --text-title-h4: #f0a7b7;
  --text-title-h5: #f390ae;
  --text-title-h6: #d55276;
}
body.theme-genshin-希格雯.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #4d68df;
  --text-title-h1: #89c4f8;
  --text-title-h2: #aad4f8;
  --text-title-h3: #c5dbff;
  --text-title-h4: #f0a7b7;
  --text-title-h5: #f390ae;
  --text-title-h6: #f1698e;
}

body.theme-genshin-砂糖.theme-dark,
body.theme-genshin-砂糖.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #4d68df;
  --text-title-h1: #4d68df;
  --text-title-h2: #92afe6;
  --text-title-h3: #ffffff;
  --text-title-h4: #deeecf;
  --text-title-h5: #7ba28c;
  --text-title-h6: #487d6c;
}
body.theme-genshin-砂糖.theme-light {
  --theme-color: hsl(245, 78%, 65%);
  --text-highlight-bg: #6a83f58c;
  --text-title-h1: #7c94ff;
  --text-title-h2: #9fc1ff;
  --text-title-h3: #d4f5b5;
  --text-title-h4: #cef0ae;
  --text-title-h5: #a7dfbf;
  --text-title-h6: #6dbda3;
}

/* 铃芽之旅 */
body.theme-suzume-no-tojimari.theme-dark,
body.theme-suzume-no-tojimari.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsl(214, 86%, 57%);
  --text-title-h1: hsl(214, 86%, 57%);
  --text-title-h2: hsl(220, 67%, 63%);
  --text-title-h3: hsl(250, 43%, 71%);
  --text-title-h4: hsl(309, 39%, 71%);
  --text-title-h5: hsl(24, 87%, 71%);
  --text-title-h6: hsl(46, 96%, 72%);
}

/* Jay */
body.theme-jay.theme-dark,
body.theme-jay.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #af6435;
  --text-title-h1: #3b9191;
  --text-title-h2: #46966f;
  --text-title-h3: #fcdda4;
  --text-title-h4: #e8b063;
  --text-title-h5: #c46d37;
  --text-title-h6: #af6435;
}
body.theme-jay.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #6a83f58c;
}

/* 七彩虹配色*/
body.theme-rainbow.theme-dark,
body.theme-rainbow.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: hsla(258, 100%, 51%, 0.781);
  --text-title-h1: hsl(0, 100%, 50%);
  --text-title-h2: hsl(40, 100%, 50%);
  --text-title-h3: hsl(80, 100%, 50%);
  --text-title-h4: hsl(120, 100%, 50%);
  --text-title-h5: hsl(170, 100%, 50%);
  --text-title-h6: hsl(200, 100%, 50%);
  --text-title-h7: hsl(240, 100%, 50%);
}

/* Nord-Aurora  */
body.theme-Nord-Aurora.theme-dark,
body.theme-Nord-Aurora.theme-light {
  --theme-color: hsl(245, 75%, 63%);
  --text-highlight-bg: #6c96c0d0;
  --text-title-h1: #bf616a;
  --text-title-h2: #d08770;
  --text-title-h3: #ebcb8b;
  --text-title-h4: #a3be8c;
  --text-title-h5: #b48ead;
  --text-title-h6: #b8bcc5;
}
body.theme-Nord-Aurora.theme-light {
  --text-title-h6: #989ba1;
}

/* 测试用 */
body.theme-testing.theme-dark,
body.theme-testing.theme-light {
}

/* 副配色 ------------------------------------ */

/* 默认副配色 */
body.secondary-theme-green-blue.theme-dark,
body.secondary-theme-green-blue.theme-light {
  /* 超链颜色，包含元标签，如果不设置默认为主题色 */
  --text-accent: #51b385;
  --text-accent1: #61d29d;
  --text-accent2: #00ddff;
  --text-accent-hover: hsl(152, 69%, 61%);

  /* tag 颜色 */
  --tag-color: #58a6ff;
  --tag-color-hover: #449bff;

  /* 引用颜色 */
  --quote-color: rgb(61, 154, 216);
}

/* Nord */
body.secondary-theme-Nord.theme-dark,
body.secondary-theme-Nord.theme-light {
  /* 超链颜色，包含元标签，如果不设置默认为主题色 */
  --text-accent: #81a1c1;
  --text-accent1: #81a1c1;
  --text-accent2: #88c0d0;
  --text-accent-hover: #81a1c1;

  /* tag 颜色 */
  --tag-color: #88c0d0;
  --tag-color-hover: #88c0d0;

  /* 引用颜色 */
  --quote-color: #5e81ac;
}

/* 测试用 */
body.secondary-theme-testing.theme-dark,
body.secondary-theme-testing.theme-light {
}

/* 代码配色 --------------------------------- */

/* idea 默认 dark 风格 */
body.code-theme-jetbrains.theme-dark {
  --my-function: #bcbec4; /* 方法颜色 #BCBEC4 56A8F5 */
  --my-punctuation: var(--text-muted); /* 注解颜色 #B3AE60 */
  --my-keyword: #cf8e6d; /* key 颜色 #CF8E6D */
  --my-property: #bcbec4; /* 变量颜色 #BCBEC4 */
  --my-string: #72b67b; /* str 颜色 #6AAB73 */
  --my-tag: #c5bf6a; /* tag 颜色 #B3AE60 */
  --my-value: #4a88cf; /* value 颜色 #2AACB8 */
  --my-inline-code: var(--cyan); /* 内联代码颜色 */
}
body.code-theme-jetbrains.theme-light {
  --my-function: #000000; /* 方法颜色  */
  --my-punctuation: var(--text-muted); /* 注解颜色  */
  --my-keyword: #0033b3; /* key 颜色 #0033b3 */
  --my-property: #871094; /* 变量颜色 #871094 */
  --my-string: #067d17; /* str 颜色 #067d17 */
  --my-tag: #0033b3; /* tag 颜色 # */
  --my-value: #1750eb; /* value 颜色 #1750eb */
  --my-inline-code: var(--cyan); /* 内联代码颜色 */
  --code-normal: #080808;
}

body.code-theme-testing.theme-dark,
body.code-theme-testing.theme-light {
}

/* 代码原生 */
/* .theme-dark { 
  --code-function: var(--color-yellow); 
  --code-punctuation: var(--text-muted); 
  --code-keyword: var(--color-pink); 
  --code-property: var(--color-cyan); 
  --code-string: var(--color-green); 
  --code-tag: var(--color-red); 
  --code-value: var(--color-purple); 
  
  --code-white-space: pre-wrap;
  --code-radius: var(--radius-s);
  --code-size: var(--font-smaller);
  --code-background: var(--background-primary-alt);
  --code-normal: var(--text-muted);
  --code-comment: var(--text-faint);
  --code-important: var(--color-orange);
  --code-operator: var(--color-red); 
}
*/

.cm-s-obsidian .HyperMD-codeblock {
  line-height: 1.4;
}

/* 代码配色 */
.theme-dark,
.theme-light {
  --code-function: var(--my-function);
  --code-punctuation: var(--my-punctuation);
  --code-keyword: var(--my-keyword);
  --code-property: var(--my-property);
  --code-string: var(--my-string);
  --code-tag: var(--my-tag);
  --code-value: var(--my-value);
}

/* 内联代码颜色 */
.cm-s-obsidian span.cm-inline-code {
  color: var(--my-inline-code);
}
.markdown-rendered code {
  color: var(--my-inline-code);
}

/* 防止颜色侵入到代码块里 */
code[class*="language-"] {
  color: var(--code-normal);
  display: block;
  padding: 0em;
  overflow: auto;
}
/* pre[class*="language-"] {
  overflow: hidden;
  color:var(--code-normal);
} */

/* 图片边框：黑色边框、添加圆角边框、添加阴影效果、修改边框颜色为白色 */
img {
  border: 1px solid black;
  /* border: 1px dashed black;     */
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.3);
  border-color: rgba(128, 128, 128, 0.8);
}

/* 预览粗体 优化 */
.theme-light span.cm-strong,
strong {
  font-weight: 600 !important;
  color: #000;
}
.theme-dark span.cm-strong,
strong {
  font-weight: 800 !important;
  color: #fff;
}

/* 打印 pdf 白底优化 */
.theme-light strong {
  font-weight: 600 !important;
  color: #000;
}
.theme-light {
  --font-weight-title: 700;
  --line-height-headers: 2;
}

/* 左边栏横向滚动 */
.nav-files-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

/* search */

/* 搜索文本高亮黄色 */
/* .search-result-file-matched-text {
  color: var(--background-secondary-alt);
  background-color: var(--search-match-color);
} */

/* 编辑-搜索文本高亮黄色 */
/* .cm-s-obsidian span.obsidian-search-match-highlight {
  color: var(--background-secondary-alt) ;
  background-color: var(--search-match-color) ;
} */

/* .markdown-rendered .search-highlight>div {
  position: absolute;
  pointer-events: none;
  background-color: var(--background-primary);
  mix-blend-mode: lighten;
  border-bottom: 0.20em solid var(--search-other-match-color);   
}*/

/* .markdown-rendered .search-highlight>div.is-active {
  background-color:var(--background-primary);
  border-bottom: 0.20em solid var(--search-match-color);
}

.search-result-file-title {
  color: var(--blue);
} */

/* headings preview-view */

.markdown-preview-view h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-preview);
  font-weight: var(--font-weight-title);
  line-height: var(--line-height-headers);
}
.markdown-preview-view h1 {
  color: var(--text-title-h1);
  margin-top: 0px;
}
.markdown-preview-view h2 {
  color: var(--text-title-h2);
}
.markdown-preview-view h3 {
  color: var(--text-title-h3);
}
.markdown-preview-view h4 {
  color: var(--text-title-h4);
}
.markdown-preview-view h5 {
  color: var(--text-title-h5);
}
.markdown-preview-view h6 {
  color: var(--text-title-h6);
}

/* headings-editor */

.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  font-family: var(--font-family-editor);
  font-weight: var(--font-weight-title) !important;
  line-height: var(--line-height-headers);
}
.cm-header-1 {
  color: var(--text-title-h1);
}
.cm-header-2 {
  color: var(--text-title-h2);
}
.cm-header-3 {
  color: var(--text-title-h3);
}
.cm-header-4 {
  color: var(--text-title-h4);
}
.cm-header-5 {
  color: var(--text-title-h5);
}
.cm-header-6 {
  color: var(--text-title-h6);
}

/* a links */
a,
.markdown-preview-view .internal-link {
  text-decoration: none;
}

a:hover,
.markdown-preview-view .internal-link:hover {
  text-decoration: underline;
}

/* status bar */

.status-bar,
.side-dock.mod-right,
.side-dock.mod-left {
  border-color: var(--panel-border-color);
  border-width: 1px;
}

.status-bar {
  --bar-vertical-padding: 4px;
  --bar-height: calc(22px + (var(--bar-vertical-padding) * 2));
  line-height: 20px;
  padding: 0 20px;
  height: var(--bar-height);
  max-height: var(--bar-height);
  min-height: var(--bar-height);
  overflow: hidden;
}

.status-bar-item {
  margin: auto 0;
}

.status-bar-item > * {
  padding-top: var(--bar-vertical-padding) !important;
  padding-bottom: var(--bar-vertical-padding) !important;
}

/* #tag */
a.tag {
  color: var(--tag-color);
}

.cm-s-obsidian span.cm-hashtag {
  color: var(--tag-color);
  text-decoration: underline;
}

/* Blockquotes */

.markdown-preview-view blockquote {
  border: solid var(--quote-color);
  border-width: 0px 0px 0px 3px;
  color: var(--quote-color);
  /* font-style: italic; */
}

.cm-s-obsidian span.cm-quote {
  color: var(--quote-color);
  /* font-style: italic; */
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  border: solid var(--quote-color);
  border-width: 0px 0px 0px 3px;
  background-color: var(--background-primary);
}

pre[class*="language-"] {
  overflow: hidden;
}

code[class*="language-"] {
  display: block;
  padding: 0em;
  overflow: auto;
}

.markdown-preview-view pre {
  padding: 12px 12px;
}

/*
.theme-dark :not(pre) > code[class*="language-"], .theme-dark pre[class*="language-"] {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
}
*/

/* width of content editor */
.markdown-source-view.mod-cm6.is-readable-line-width:not(.is-rtl) .cm-contentContainer {
  max-width: 1000px;
  /*  margin-right: auto; */
}
.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-content {
  max-width: 1000px;
}
.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-line:not(.HyperMD-table-row) {
  max-width: 1000px;
}
/* width of content preview-view */
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  max-width: 1000px;
}
.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 1000px;
}

/* little change */

.cm-s-obsidian span.cm-formatting-link {
  color: var(--cyan);
}

.cm-line {
  line-height: 1.5em;
}

/* .nav-file-title, .nav-folder-title {
    font-size: 15px;
} */

.nav-file-title,
.nav-folder-title {
  color: #757e8a;
}

.footnotes p {
  margin: 0;
}

.frontmatter-container .tag,
.frontmatter-container .frontmatter-alias {
  margin: 0;
}

div[data-path="0attachments"],
div[data-path="0attachments"] + div.nav-folder-children {
  display: none;
}
