.active-pane-highlight .workspace-tabs {
  transition: 0.25s;
}

.active-pane-highlight .workspace-tabs .mod-active {
  opacity: 1;
  filter: none;
}

.active-pane-highlight .workspace-tabs:not(.mod-active):not(:hover) {
  opacity: var(--inactive-pane-opacity);
  filter: blur(var(--inactive-pane-blur));
}

body:not(.active-pane-highlight) .setting-item[data-id="inactive-pane-opacity"],
body:not(.active-pane-highlight) .setting-item[data-id="inactive-pane-blur"] {
  display: none;
}
