body.colorful-checkbox li.svelte-sx5ktw.svelte-sx5ktw:nth-child(8n + 1) .checkbox.svelte-1wagsqu {
  --checklist-checkboxBorder: 2px solid var(--color-red);
}

body.colorful-checkbox li.svelte-sx5ktw.svelte-sx5ktw:nth-child(8n + 2) .checkbox.svelte-1wagsqu {
  --checklist-checkboxBorder: 2px solid var(--color-green);
}

body.colorful-checkbox li.svelte-sx5ktw.svelte-sx5ktw:nth-child(8n + 3) .checkbox.svelte-1wagsqu {
  --checklist-checkboxBorder: 2px solid var(--color-orange);
}

body.colorful-checkbox li.svelte-sx5ktw.svelte-sx5ktw:nth-child(8n + 4) .checkbox.svelte-1wagsqu {
  --checklist-checkboxBorder: 2px solid var(--color-yellow);
}

body.colorful-checkbox li.svelte-sx5ktw.svelte-sx5ktw:nth-child(8n + 5) .checkbox.svelte-1wagsqu {
  --checklist-checkboxBorder: 2px solid var(--color-cyan);
}

body.colorful-checkbox li.svelte-sx5ktw.svelte-sx5ktw:nth-child(8n + 6) .checkbox.svelte-1wagsqu {
  --checklist-checkboxBorder: 2px solid var(--color-blue);
}

body.colorful-checkbox li.svelte-sx5ktw.svelte-sx5ktw:nth-child(8n + 7) .checkbox.svelte-1wagsqu {
  --checklist-checkboxBorder: 2px solid var(--color-purple);
}

body.colorful-checkbox li.svelte-sx5ktw.svelte-sx5ktw:nth-child(8n + 8) .checkbox.svelte-1wagsqu {
  --checklist-checkboxBorder: 2px solid var(--color-pink);
}
