body.custom-thino-background
  div[data-type="thino_view"].workspace-leaf-content {
  background-image: var(--thino-background-light-custom);
  --background-primary: var(--bg-color-settings-2);
  --memos-memo-bg: var(--bg-color-settings-0-1);
  --memos-memo-border: var(--bg-color-settings-0-1);
  background-size: cover;
}
