body, .theme-dark, .theme-light {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
	line-height: 1.6;
	--color-accent: #d75f87;
	--text-accent: #d75f87;
}

.theme-dark {
	/* Base colors */
	--background-primary: #050505;
	--background-secondary: var(--background-primary);
	--background-secondary-alt: var(--background-secondary);
		
	--text-normal: #d6d4d4;
	--text-faint: #767676;
	--text-selection: #da5c8133;

	/* code */
	--code-normal: var(--text-normal);;
	--code-value: var(--text-normal);;
	--code-tag: #20BBFC;
	--code-operator: var(--text-normal);;
	--code-keyword: #767676;
	--code-function: var(--text-normal);;
	--code-string: #da5c81;
	--code-constant: #d75f87;
	--code-comment: #767676;
	--code-url: #20BBFC;
	--code-background: #131313;
		
	/* UI */
	--interactive-accent: #da5c81;
	--interactive-before: #4E4E4E;
	--scrollbar-bg: #0c0c0c;

	--nav-item-background-active: #e25f86;
	--nav-item-color-active: #262626;
  }
  
.theme-light {
	/* Base colors */
    --background-primary: #FFFFFF;
    --background-secondary: var(--background-primary);
    --background-secondary-alt: #C6C6C6;
    
    --text-normal: #262626;
    --text-faint: #767676;
    --text-selection: #da5c8133;

    /* Code */
	--code-normal: var(--text-normal);
	--code-value: var(--text-normal);
    --code-tag: #005F87;
    --code-operator: var(--text-normal);
    --code-keyword: #767676;
    --code-function: var(--text-normal);
    --code-string: #d75f87;
    --code-constant: #d75f87;
    --code-comment: #767676;
    --code-url: #008EC4;
	--code-background: #ecebeb;
    
    /* UI */
    --interactive-accent: #da5c81;
    --interactive-before: #4E4E4E;
    --scrollbar-bg: #EEEEEE;

	--nav-item-background-active: #e25f86;
	--nav-item-color-active: #EEEEEE;
  }

.cm-header-1, .cm-header-2, .cm-header-3,
.cm-header-4, .cm-header-5, .cm-header-6 {
	color: var(--text-accent);
}