body.mu-automatic-folder-name-rainbow-colors
  .tree-item.nav-folder:nth-child(10n + 2) {
  --mu-folder-icon-color-active: hsl(var(--mu-rainbow-hue-1), 90%, 73%);
  --mu-folder-icon-color: hsl(var(--mu-rainbow-hue-1), 90%, 73%);
  --mu-file-icon-color: hsl(var(--mu-rainbow-hue-1), 90%, 73%);
  --mu-folder-text-color: hsl(var(--mu-rainbow-hue-1), 90%, 73%);
}

body.mu-automatic-folder-name-rainbow-colors
  .tree-item.nav-folder:nth-child(10n + 3) {
  --mu-folder-icon-color-active: hsl(var(--mu-rainbow-hue-2), 90%, 73%);
  --mu-folder-icon-color: hsl(var(--mu-rainbow-hue-2), 90%, 73%);
  --mu-file-icon-color: hsl(var(--mu-rainbow-hue-2), 90%, 73%);
  --mu-folder-text-color: hsl(var(--mu-rainbow-hue-2), 90%, 73%);
}

body.mu-automatic-folder-name-rainbow-colors
  .tree-item.nav-folder:nth-child(10n + 4) {
  --mu-folder-icon-color-active: hsl(var(--mu-rainbow-hue-3), 90%, 73%);
  --mu-folder-icon-color: hsl(var(--mu-rainbow-hue-3), 90%, 73%);
  --mu-file-icon-color: hsl(var(--mu-rainbow-hue-3), 90%, 73%);
  --mu-folder-text-color: hsl(var(--mu-rainbow-hue-3), 90%, 73%);
}

body.mu-automatic-folder-name-rainbow-colors
  .tree-item.nav-folder:nth-child(10n + 5) {
  --mu-folder-icon-color-active: hsl(var(--mu-rainbow-hue-4), 90%, 73%);
  --mu-folder-icon-color: hsl(var(--mu-rainbow-hue-4), 90%, 73%);
  --mu-file-icon-color: hsl(var(--mu-rainbow-hue-4), 90%, 73%);
  --mu-folder-text-color: hsl(var(--mu-rainbow-hue-4), 90%, 73%);
}

body.mu-automatic-folder-name-rainbow-colors
  .tree-item.nav-folder:nth-child(10n + 6) {
  --mu-folder-icon-color-active: hsl(var(--mu-rainbow-hue-5), 90%, 73%);
  --mu-folder-icon-color: hsl(var(--mu-rainbow-hue-5), 90%, 73%);
  --mu-file-icon-color: hsl(var(--mu-rainbow-hue-5), 90%, 73%);
  --mu-folder-text-color: hsl(var(--mu-rainbow-hue-5), 90%, 73%);
}

body.mu-automatic-folder-name-rainbow-colors
  .tree-item.nav-folder:nth-child(10n + 7) {
  --mu-folder-icon-color-active: hsl(var(--mu-rainbow-hue-6), 90%, 73%);
  --mu-folder-icon-color: hsl(var(--mu-rainbow-hue-6), 90%, 73%);
  --mu-file-icon-color: hsl(var(--mu-rainbow-hue-6), 90%, 73%);
  --mu-folder-text-color: hsl(var(--mu-rainbow-hue-6), 90%, 73%);
}

body.mu-automatic-folder-name-rainbow-colors
  .tree-item.nav-folder:nth-child(10n + 8) {
  --mu-folder-icon-color-active: hsl(var(--mu-rainbow-hue-7), 90%, 73%);
  --mu-folder-icon-color: hsl(var(--mu-rainbow-hue-7), 90%, 73%);
  --mu-file-icon-color: hsl(var(--mu-rainbow-hue-7), 90%, 73%);
  --mu-folder-text-color: hsl(var(--mu-rainbow-hue-7), 90%, 73%);
}

body.mu-automatic-folder-name-rainbow-colors
  .tree-item.nav-folder:nth-child(10n + 9) {
  --mu-folder-icon-color-active: hsl(var(--mu-rainbow-hue-8), 90%, 73%);
  --mu-folder-icon-color: hsl(var(--mu-rainbow-hue-8), 90%, 73%);
  --mu-file-icon-color: hsl(var(--mu-rainbow-hue-8), 90%, 73%);
  --mu-folder-text-color: hsl(var(--mu-rainbow-hue-8), 90%, 73%);
}

body.mu-automatic-folder-name-rainbow-colors
  .tree-item.nav-folder:nth-child(10n + 10) {
  --mu-folder-icon-color-active: hsl(var(--mu-rainbow-hue-9), 90%, 73%);
  --mu-folder-icon-color: hsl(var(--mu-rainbow-hue-9), 90%, 73%);
  --mu-file-icon-color: hsl(var(--mu-rainbow-hue-9), 90%, 73%);
  --mu-folder-text-color: hsl(var(--mu-rainbow-hue-9), 90%, 73%);
}

body.mu-automatic-folder-name-rainbow-colors
  .tree-item.nav-folder:nth-child(10n + 11) {
  --mu-folder-icon-color-active: hsl(var(--mu-rainbow-hue-10), 90%, 73%);
  --mu-folder-icon-color: hsl(var(--mu-rainbow-hue-10), 90%, 73%);
  --mu-file-icon-color: hsl(var(--mu-rainbow-hue-10), 90%, 73%);
  --mu-folder-text-color: hsl(var(--mu-rainbow-hue-10), 90%, 73%);
}
