body.mod-linux.theme-dark {
  --adwaita-mod-background: #2e2e2e;
  --adwaita-mod-background-focus: #444444;
  --adwaita-mod-background-hover: #4f4f4f;
  --adwaita-mod-background-active: #6e6e6e;
  --adwaita-mod-foreground: #929292;
}
