body.code-theme-material-palenight,
body.theme-dark.code-theme-material-palenight {
  /* material: palenight theme */
  --code-keyword: #c792ea;
  --code-atom: #f78c6c;
  --code-number: #ff5370;
  --code-type: #decb6b;
  --code-def: #82aaff;
  --code-property: #c792ea;
  --code-variable: #f07178;
  --code-variable-2: #eeffff;
  --code-variable-3: #f07178;
  --code-definition: #82aaff;
  --code-callee: #89ddff;
  --code-qualifier: #decb6b;
  --code-operator: #89ddff;
  --code-hr: #98e342;
  --code-link: #696d70;
  --code-error-bg: #ff5370;
  --code-header: #da7dae;
  --code-builtin: #ffcb6b;
  --code-meta: #ffcb6b;
  --code-matching-bracket: #ffffff;
  --code-tag: #ff5370;
  --code-tag-in-comment: #ff5370;
  --code-string-2: #f07178;
  --code-bracket: #ff5370;
  --code-comment: #676e95;
  --code-string: #c3e88d;
  --code-attribute: #c792ea;
  --code-attribute-in-comment: #c792ea;
  --background-code: #292d3eba;
  --code-active-line-background-color: #353a50;
  --code-normal: #d4d4d4;
}
