:root:root {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 233, 49, 71;
  --color-red: #e93147;
  --color-orange-rgb: 236, 117, 0;
  --color-orange: #ec7500;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-green-rgb: 8, 185, 78;
  --color-green: #08b94e;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-blue-rgb: 8, 109, 221;
  --color-blue: #086ddd;
  --color-purple-rgb: 120, 82, 238;
  --color-purple: #7852ee;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5c5c5c;
  --color-base-100: #222222;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: var(--color-green);
  --background-secondary-alt: var(--color-light);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --color-accent-faded: var(--color-green-light);
  --color-blue-accent: var(--color-blue);
  --color-blue-accent-faded: var(--color-blue-lightest);
  --color-front: var(--color-dark);
  --color-back: var(--color-light);
  --color-off: var(--color-gray-light);
  --background-nav-alt: var(--color-light);
  --background-nav: var(--color-light);
  --background-primary-alt: var(--color-light);
  --background-primary: var(--color-light);
  --background-secondary: var(--color-light);
  --code-block-border: var(--color-gray-light);
  --code-block-background: #fff;
  --interactive-accent-hover: var(--color-accent);
  --interactive-accent-rgb: var(--color-accent);
  --interactive-accent: var(--color-accent);
  --list-color: var(--color-accent);
  --text-accent-hover: var(--color-blue-accent);
  --text-accent: var(--color-accent);
  --text-faint: var(--color-gray-light);
  --text-highlight-bg: var(--color-green-lightest);
  --text-nav-selected: var(--color-dark);
  --text-nav: var(--color-dark);
  --text-normal: var(--color-dark);
  --text-selection: var(--color-purple-lightest);
}
