body.pt-accent-color-cyan-lt {
  --interactive-accent-base-hsl: var(--color-cyan-base-hsl);
  --interactive-accent-tint-hsl: var(--color-cyan-tint-hsl);
  --interactive-accent-text-hsl: var(--color-cyan-text-hsl);
  --interactive-accent-base: var(--color-cyan-base);
  --interactive-accent-tint: var(--color-cyan-tint);
  --interactive-accent-text: var(--color-cyan-text);
  --interactive-accent-hover: var(--color-cyan-tint);
}
