.theme-everforest {
  --base-c: 89%;
  --text-base: 25%;
}

.low-contrast-light {
  --base-c: 91%;
  --theme-sat: 50%;
  --theme-sat-secondary: 32%;
  --theme-tint-secondary: 55;
  --theme-tint: 55;
}

.high-contrast-light {
  --theme-tint: 55;
  --base-c: 90%;
  --theme-tint-secondary: 55;
}
