:root[saved-theme="dark"] {
  --background-1: var(--vercel-gray-900);
  --background-2: var(--vercel-gray-900);
  --background-3: var(--vercel-gray-800);
  --pre-code: var(--vercel-gray-500);
  --inline-code-bg: var(--vercel-gray-800);
  --border-1: var(--vercel-gray-700);
  --border-2: var(--vercel-gray-600);
  --border-3: var(--vercel-blue-600);
  --text-1: var(--vercel-gray-100);
  --text-2: var(--vercel-gray-400);
  --text-accent: var(--vercel-blue-500);
  --link-color: var(--vercel-blue-500);
  --link-color-hover: var(--vercel-blue-600);
  --link-external-color: var(--vercel-gray-400);
  --highlight-low: var(--vercel-gray-800);
  --highlight-med: var(--vercel-gray-700);
  --highlight-high: var(--vercel-gray-600);
  --accent-blue: var(--vercel-blue-500);
  --background-primary: var(--background-1);
  --background-primary-alt: var(--background-2);
  --background-secondary: var(--background-2);
  --background-secondary-alt: var(--background-3);
  --background-accent: var(--accent-blue);
  --background-modifier-border: var(--border-1);
  --background-modifier-form-field: rgba(0, 0, 0, 0.1);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.2);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: var(--vercel-blue-600);
  --background-modifier-error: #ff0000;
  --background-modifier-error-hover: #ff3333;
  --background-modifier-cover: rgba(0, 0, 0, 0.4);
  --titlebar-background: var(--background-1);
  --titlebar-background-focused: var(--background-2);
  --text-normal: var(--text-1);
  --text-muted: var(--text-2);
  --text-faint: var(--text-2);
  --text-accent: var(--text-accent);
  --text-accent-hover: var(--link-color-hover);
  --text-on-accent: #ffffff;
  --text-highlight-bg: var(--vercel-blue-300);
  --text-error: #ff0000;
  --text-error-hover: #ff3333;
  --text-selection: rgba(77, 139, 249, 0.3);
  --interactive-normal: var(--background-2);
  --interactive-hover: var(--highlight-low);
  --interactive-accent: var(--accent-blue);
  --interactive-accent-active: var(--vercel-blue-600);
  --interactive-accent-hover: var(--vercel-blue-500);
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: var(--border-1);
  --scrollbar-active-thumb-bg: var(--border-2);
  --heading-color-h1: var(--vercel-blue-500);
  --heading-color-h2: var(--vercel-blue-600);
  --heading-color-h3: var(--text-1);
  --heading-color-h4: var(--text-1);
  --heading-color-h5: var(--text-1);
  --heading-color-h6: var(--text-2);
  --inline-code: var(--vercel-blue-600);
  --code-block: var(--text-1);
  --pre-code: var(--background-2);
  --blockquote-border: var(--vercel-blue-600);
  --vim-cursor: var(--vercel-blue-600);
  --border-color: var(--border-1);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
