:root[saved-theme="dark"] {
  color-scheme: dark;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: #dadada;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 5),
    calc(var(--accent-s) * 1.05),
    calc(var(--accent-l) * 1.29)
  );
  --background-modifier-form-field: var(--white);
  --background-secondary-alt: var(--primary);
  --interactive-normal: var(--white);
  --interactive-hover: #111111;
  --text-accent: var(--black);
  --interactive-accent: var(--gray-2);
  --interactive-accent-hover: var(--gray-1);
  --background-modifier-box-shadow: rgba(255, 255, 255, 0.3);
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-selection: var(--black);
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --white: #000000;
  --black: #ffffff;
  --gray-1: #999999;
  --gray-2: #555555;
  --primary: var(--white);
  --panel-border-color: var(--primary);
  --ribbon-background: var(--primary);
  --background-primary: var(--primary);
  --background-primary-alt: var(--primary);
  --background-secondary: var(--primary);
  --background-accent: var(--black);
  --background-modifier-border: var(--black);
  --background-modifier-form-field-highlighted: rgba(255, 255, 255, 0.1);
  --background-modifier-success: var(--black);
  --background-modifier-error: var(--black);
  --background-modifier-error-rgb: 255, 255, 255;
  --background-modifier-error-hover: var(--black);
  --checkbox-border-color: var(--black);
  --checkbox-marker-color: var(--black);
  --checklist-done-color: var(--black);
  --code-background: #111111;
  --text-accent-hover: var(--gray-1);
  --text-normal: var(--black);
  --text-muted: var(--gray-1);
  --text-faint: var(--gray-1);
  --text-error: var(--black);
  --text-error-hover: var(--black);
  --text-highlight-bg: var(--white);
  --text-highlight: var(--black);
  --text-on-accent: var(--white);
  --code-normal: var(--black);
  --button-text-normal: var(--white);
  --h1-color: var(--black);
  --h2-color: var(--black);
  --h3-color: var(--black);
  --h4-color: var(--black);
  --h5-color: var(--black);
  --h6-color: var(--black);
  --interactive-accent-rgb: 255, 255, 255;
  --button-interactive-normal: var(--black);
  --scrollbar-active-thumb-bg: var(--black);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.2);
  --nav-item-color: var(--black);
  --nav-folder-item-color: var(--black);
  --icon-color: var(--black);
}
