.tadmor-callouts .callout {
  position: relative;
  border-radius: 8px;
}

.tadmor-callouts .callout .callout-title {
  background: rgba(var(--callout-color), 1);
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px 8px 0 0;
  overflow: visible;
}

.tadmor-callouts .callout .callout-title .callout-title-inner {
  color: var(--glass-background-color-settings, var(--s-bg-primary-color));
  z-index: 15;
}

.tadmor-callouts .callout .callout-title::after {
  content: '';
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  left: 0;
  height: 50px;
  width: 25px;
  border-top-left-radius: 8px;
  box-shadow: 0 -25px 0 0 rgba(var(--callout-color), 1);
}

.tadmor-callouts .callout .callout-title::before {
  content: '';
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  right: 0;
  height: 50px;
  width: 25px;
  border-top-right-radius: 8px;
  box-shadow: 0 -25px 0 0 rgba(var(--callout-color), 1);
}

.tadmor-callouts .callout .callout-content {
  padding-top: 30px;
}
