.theme-light {
  --interactive-accent: #00aaad;
  --text-accent: #00aaad;
  --text-accent-hover: #00aaad;
  --interactive-accent-hover: #00aaad;
}

.theme-dark {
  --interactive-accent: #00aaad;
  --text-accent: #00aaad;
  --text-accent-hover: #00aaad;
  --interactive-accent-hover: #00aaad;
}

.theme-dark {
  --background-primary: #111827;
  --background-primary-alt: #111827;
  --background-secondary: #1f2937;
  --background-secondary-alt: #1f2937;
  --text-normal: #d1d5db;
  --text-faint: #d1d5db;
  --text-title-h1: #d1d5db;
  --text-title-h2: #d1d5db;
  --text-title-h3: #d1d5db;
  --text-title-h4: #d1d5db;
  --text-title-h5: #d1d5db;
  --text-title-h6: #d1d5db;
  --text-highlight-bg: #374151;
  --text-link: #d1d5db;
  --text-a-hover: #d1d5db;
  --inline-code: #d1d5db;
  --code-block: #d1d5db;
  --text-a: #d1d5db;
  --text-on-accent: #d1d5db;
  --interactive-accent-rgb: #d1d5db;
  --vim-cursor: #d1d5db;
  --pre-code: #000000;
  --interactive-before: #374151;
  --background-modifier-border: #374151;
  --text-selection: #374151;
  --text-faint: #4b5563;
  --file-line-width: 750px;
}

.cm-s-obsidian
  span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(
    .obsidian-search-match-highlight
  ) {
  background-color: var(--pre-code) !important;
  color: var(--code-block) !important;
}

.HyperMD-codeblock-bg {
  background-color: var(--pre-code) !important;
  color: var(--code-block) !important;
}

.theme-dark pre[class*="language-"] {
  background-color: var(--pre-code) !important;
  color: var(--code-block) !important;
}

.markdown-preview-view code {
  background-color: var(--pre-code) !important;
  color: var(--code-block) !important;
}

.cm-s-obsidian pre.HyperMD-codeblock {
  color: var(--code-block);
}

.cm-s-obsidian span.cm-inline-code {
  color: var(--inline-code);
}

.checkbox-container.is-enabled {
  background-color: var(--text-selection);
}

.checkbox-container {
  background-color: var(--background-primary);
}

.dropdown {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOTIuNCIgaGVpZ2h0PSIyOTIuNCI+PHBhdGggZmlsbD0iIzAwQUFBRCIgZD0iTTI4NyA2OS40YTE3LjYgMTcuNiAwIDAgMC0xMy01LjRIMTguNGMtNSAwLTkuMyAxLjgtMTIuOSA1LjRBMTcuNiAxNy42IDAgMCAwIDAgODIuMmMwIDUgMS44IDkuMyA1LjQgMTIuOWwxMjggMTI3LjljMy42IDMuNiA3LjggNS40IDEyLjggNS40czkuMi0xLjggMTIuOC01LjRMMjg3IDk1YzMuNS0zLjUgNS40LTcuOCA1LjQtMTIuOCAwLTUtMS45LTkuMi01LjUtMTIuOHoiLz48L3N2Zz4=);
}

.sync-status-icon.mod-success {
  color: var(--text-accent);
}

.sync-status-icon.mod-error {
  display: none;
}

.rss-feed-title img {
  display: none;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  padding-left: 4px;
}

.token.function {
  color: var(--text-normal);
}

.token.variable {
  color: var(--text-normal);
}

.token.operator {
  color: var(--text-normal);
}

.token.class-name {
  color: var(--text-normal);
}

.token.string {
  color: var(--text-normal);
}

.cm-operator {
  color: var(--text-normal);
}

.cm-builtin {
  color: var(--text-normal);
}

.cm-number {
  color: var(--text-normal);
}

.cm-string {
  color: var(--text-normal);
}

.cm-string-2 {
  color: var(--text-normal);
}

.cm-property {
  color: var(--text-normal);
}

.cm-keyword {
  color: var(--text-normal);
}

.cm-attribute {
  color: var(--text-normal);
}

.cm-tag {
  color: var(--text-normal);
}

.cm-s-obsidian span.cm-error {
  color: var(--text-normal);
}

.cm-hmd-frontmatter.cm-number {
  color: var(--text-muted);
}

.cm-hmd-frontmatter.cm-string {
  color: var(--text-muted);
}

.cm-hmd-frontmatter.cm-keyword {
  color: var(--text-muted);
}

.Í¼o:not(.cm-focused) .cm-fat-cursor {
  outline: solid 1px var(--text-accent);
}

.publish-upload-item:before {
  background-color: var(--text-accent);
}

.publish-upload-item.mod-completed {
  color: var(--text-normal);
}

.jl.popover {
  background: var(--text-selection);
  border-color: var(--text-selection);
  color: var(--text-normal);
}

.wb-bookmark-manager-entry {
  color: var(--text-normal);
}

.site-footer {
  display: none;
}
