.ctp-latte,
.ctp-latte .themed-color-wrapper > .theme-light {
  --ctp-rosewater: var(
    --ctp-custom-rosewater,
    var(--ctp-ext-rosewater, 222, 149, 132)
  );
  --ctp-flamingo: var(
    --ctp-custom-flamingo,
    var(--ctp-ext-flamingo, 221, 120, 120)
  );
  --ctp-pink: var(--ctp-custom-pink, var(--ctp-ext-pink, 236, 131, 208));
  --ctp-mauve: var(--ctp-custom-mauve, var(--ctp-ext-mauve, 136, 57, 239));
  --ctp-red: var(--ctp-custom-red, var(--ctp-ext-red, 210, 15, 57));
  --ctp-maroon: var(--ctp-custom-maroon, var(--ctp-ext-maroon, 230, 69, 83));
  --ctp-peach: var(--ctp-custom-peach, var(--ctp-ext-peach, 254, 100, 11));
  --ctp-yellow: var(--ctp-custom-yellow, var(--ctp-ext-yellow, 228, 147, 32));
  --ctp-green: var(--ctp-custom-green, var(--ctp-ext-green, 64, 160, 43));
  --ctp-teal: var(--ctp-custom-teal, var(--ctp-ext-teal, 23, 146, 153));
  --ctp-sky: var(--ctp-custom-sky, var(--ctp-ext-sky, 4, 165, 229));
  --ctp-sapphire: var(
    --ctp-custom-sapphire,
    var(--ctp-ext-sapphire, 32, 159, 181)
  );
  --ctp-blue: var(--ctp-custom-blue, var(--ctp-ext-blue, 42, 110, 245));
  --ctp-lavender: var(
    --ctp-custom-lavender,
    var(--ctp-ext-lavender, 114, 135, 253)
  );
  --ctp-text: var(--ctp-custom-text, var(--ctp-ext-text, 76, 79, 105));
  --ctp-subtext1: var(
    --ctp-custom-subtext1,
    var(--ctp-ext-subtext1, 92, 95, 119)
  );
  --ctp-subtext0: var(
    --ctp-custom-subtext0,
    var(--ctp-ext-subtext0, 108, 111, 133)
  );
  --ctp-overlay2: var(
    --ctp-custom-overlay2,
    var(--ctp-ext-overlay2, 124, 127, 147)
  );
  --ctp-overlay1: var(
    --ctp-custom-overlay1,
    var(--ctp-ext-overlay1, 140, 143, 161)
  );
  --ctp-overlay0: var(
    --ctp-custom-overlay0,
    var(--ctp-ext-overlay0, 156, 160, 176)
  );
  --ctp-surface2: var(
    --ctp-custom-surface2,
    var(--ctp-ext-surface2, 172, 176, 190)
  );
  --ctp-surface1: var(
    --ctp-custom-surface1,
    var(--ctp-ext-surface1, 188, 192, 204)
  );
  --ctp-surface0: var(
    --ctp-custom-surface0,
    var(--ctp-ext-surface0, 204, 208, 218)
  );
  --ctp-base: var(--ctp-custom-base, var(--ctp-ext-base, 239, 241, 245));
  --ctp-mantle: var(--ctp-custom-mantle, var(--ctp-ext-mantle, 230, 233, 239));
  --ctp-crust: var(--ctp-custom-crust, var(--ctp-ext-crust, 220, 224, 232));
}
