:root[saved-theme="light"] {
  --atom-aqua: #0084bc;
  --atom-blue: #3d74f6;
  --atom-gray-1: #383a42;
  --atom-gray-2: #383a42;
  --atom-green: #4ea24c;
  --atom-orange: #986800;
  --atom-purple: #a625a4;
  --atom-red: #e75545;
  --atom-yellow: #e35649;
  --background-modifier-active-hover: rgba(var(--hover-rgb), 0.1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --background-modifier-hover: var(--background-primary);
  --background-primary: rgb(255, 255, 255);
  --background-secondary: rgb(233, 234, 236);
  --background-secondary-alt: var(--color-base-05);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 2.5%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 5%));
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #f6f7f8;
  --color-base-100: #222222;
  --color-base-20: #f6f7f8;
  --color-base-25: #f0f0f0;
  --color-base-30: #ebedf0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5a5a5a;
  --color-blue: #086ddd;
  --color-blue-rgb: 8, 109, 221;
  --color-cyan: #2db7b5;
  --color-cyan-rgb: 0, 191, 188;
  --color-green: #0cb54f;
  --color-green-rgb: 12, 181, 79;
  --color-orange: #d96c00;
  --color-orange-rgb: 236, 117, 0;
  --color-pink: #c32b74;
  --color-pink-rgb: 213, 57, 132;
  --color-purple: #876be0;
  --color-purple-rgb: 120, 82, 238;
  --color-red: #e4374b;
  --color-red-rgb: 228, 55, 75;
  --color-yellow: #bd8e37;
  --color-yellow-rgb: 224, 172, 0;
  --divider-color: var(--background-secondary);
  --highlight-mix-blend-mode: darken;
  --hover-rgb: 255, 124, 0;
  --icon-color-active: rgb(230, 153, 71);
  --icon-color-hover: rgb(var(--hover-rgb));
  --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.05),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --nav-item-color-hover: rgb(var(--hover-rgb));
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042),
    0px 15px 30px rgba(0, 0, 0, 0.07);
  --tag-background-color-d: rgb(28, 39, 51);
  --tag-background-color-l: rgb(28, 39, 51);
  --tag-font-color-d: rgb(62, 129, 206);
  --tag-font-color-l: rgb(62, 129, 206);
  --text-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --text-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 10%));
  --text-faint: hsl(var(--base-h), calc(var(--base-s) - 5%), calc(var(--base-l) - 30%));
  --text-formatted: hsl(var(--base-h), calc(var(--base-s) - 5%), calc(var(--base-l) - 35%));
  --text-highlight-bg: var(--text-highlight-bg-l);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-highlight-bg-l: rgba(255, 208, 0, 0.4);
  --text-muted: hsl(var(--base-h), calc(var(--base-s) - 5%), calc(var(--base-l) - 60%));
  --titlebar-background-focused: var(--background-secondary);
  color-scheme: light;
  text-decoration-color: rgba(var(--hover-rgb), 1);
}
