body:not(.vibrant-indents)
  .mod-cm6.is-live-preview
  .HyperMD-list-line.cm-line:not(.HyperMD-list-line-1) {
  overflow: hidden;
}

body:not(.vibrant-indents) .mod-cm6.is-live-preview .HyperMD-list-line.cm-line .cm-hmd-list-indent {
  position: relative;
  font-family: var(--vicious-indent-font-family) !important;
  font-size: var(--vicious-indent-font-size) !important;
  vertical-align: top;
}

body:not(.vibrant-indents)
  .mod-cm6.is-live-preview
  .HyperMD-list-line.cm-line
  .cm-hmd-list-indent::before {
  content: "";
  font-family: var(--vicious-indent-font-family) !important;
  font-size: var(--vicious-indent-font-size) !important;
  display: block;
  position: absolute;
  width: 100%;
  top: -1em;
  padding-bottom: 999em;
  background-image: var(--vicious-indent-colorful-bg);
  background-size: var(--vicious-indent-bg-size);
  left: var(--vicious-left-offset);
}

body:not(.vibrant-indents) .markdown-source-view.mod-cm6.is-live-preview .HyperMD-list-line {
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}
