body.background-image-enabled {
  /* This breaks canvas screenshots! */
  --canvas-background: transparent;
  --background-transparent: rgba(
    var(--background-primary-rgb),
    var(--pane-opacity, 0.85)
  );
  --background-partially-transparent: rgba(
    var(--background-primary-rgb),
    var(--ui-opacity, 0.85)
  );
  --background-tabs-transparent: rgba(
    var(--background-primary-rgb),
    var(--tab-opacity, 0.85)
  );
}

.background-image-enabled .horizontal-main-container {
  background-color: var(--background-primary);
  background-image: var(--background-image-url);
  background-position: var(--background-image-position, center);
  background-size: cover;
}

.background-image-enabled :is(.mod-root .view-content, .view-header) {
  background-color: var(--background-transparent) !important;
}

.background-image-enabled
  :is(
    .mod-root .workspace-tab-header-container,
    .workspace-ribbon,
    .workspace-split,
    .graph-controls
  ) {
  background-color: var(--background-partially-transparent) !important;
}

.background-image-enabled
  .workspace-tab-container
  .workspace-tab-header:not(.mod-active),
.background-image-enabled
  .workspace-tab-container
  .workspace-tab-header.mod-active {
  background-color: var(--background-tabs-transparent) !important;
}

.background-image-enabled
  :is(
    .titlebar-button-container,
    .mod-vertical .workspace-tab-header,
    .document-search-container,
    .workspace-leaf,
    .horizontal-main-container > .workspace,
    .pdf-sidebar-container,
    .pdf-container,
    .pdf-toolbar
  ),
.background-image-enabled
  .workspace-split:not(.mod-root, .mod-horizontal)
  .workspace-tab-header-container,
.background-image-enabled
  .workspace-split:not(.mod-left-split, .mod-right-split),
.background-image-enabled
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile {
  background-color: transparent !important;
}

.background-image-enabled .workspace-tab-header-container {
  background-color: unset;
}

.background-image-enabled .workspace-tab-header.is-active::before,
.background-image-enabled .workspace-tab-header.is-active::after,
.background-image-enabled .view-header-title-container:not(.mod-at-end):after {
  display: none;
}

.background-image-enabled .empty-state {
  position: static;
}
