body:not(.is-mobile).show-ribbon .workspace-ribbon.side-dock-ribbon.mod-left {
  --ribbon-width: 16px;
  transition: all var(--anim-out);
}

body:not(.is-mobile).show-ribbon
  .workspace-ribbon.side-dock-ribbon.mod-left:hover {
  --ribbon-width: 44px;
  transition: all var(--anim-in);
}

body:not(.is-mobile).show-ribbon
  .workspace-ribbon.side-dock-ribbon.mod-left
  > * {
  opacity: 0;
  transition: all var(--anim-out);
}

body:not(.is-mobile).show-ribbon
  .workspace-ribbon.side-dock-ribbon.mod-left:hover
  > * {
  opacity: 1;
  transition: all var(--anim-in);
}

body:not(.is-mobile).show-ribbon .workspace::before {
  width: calc(100% - 16px);
}

body:not(.is-mobile).show-ribbon:has(.workspace-ribbon.side-dock-ribbon:hover)
  .workspace::before {
  width: calc(100% - 44px);
}

body:not(.is-mobile):not(
    .is-popout-window
  ).show-ribbon.mod-macos.is-hidden-frameless:not(.is-fullscreen)
  .mod-left-split
  .mod-top-left-space
  .workspace-tab-header-container,
body:not(.is-mobile):not(
    .is-popout-window
  ).show-ribbon.mod-macos.is-hidden-frameless:not(.is-fullscreen)
  .workspace:not(.is-left-sidedock-open)
  .sidebar-toggle-button.mod-left {
  margin-left: 28px;
}

body:not(.is-mobile):not(
    .is-popout-window
  ).show-ribbon.mod-macos.is-hidden-frameless:not(.is-fullscreen):has(
    .workspace-ribbon.side-dock-ribbon:hover
  )
  .mod-left-split
  .mod-top-left-space
  .workspace-tab-header-container,
body:not(.is-mobile):not(
    .is-popout-window
  ).show-ribbon.mod-macos.is-hidden-frameless:not(.is-fullscreen):has(
    .workspace-ribbon.side-dock-ribbon:hover
  )
  .workspace:not(.is-left-sidedock-open)
  .sidebar-toggle-button.mod-left {
  margin-left: 0px;
}

body:not(.is-mobile):not(
    .is-popout-window
  ).show-ribbon.mod-macos.is-hidden-frameless:not(.is-fullscreen)
  .mod-left-split
  .mod-top-left-space
  .workspace-tab-header-container,
body:not(.is-mobile):not(
    .is-popout-window
  ).show-ribbon.mod-macos.is-hidden-frameless:not(.is-fullscreen)
  .workspace:not(.is-left-sidedock-open)
  .sidebar-toggle-button.mod-left {
  transition:
    height var(--anim-out),
    opacity var(--anim-out),
    margin-left var(--anim-out);
}

body:not(.is-mobile):not(
    .is-popout-window
  ).show-ribbon.mod-macos.is-hidden-frameless:not(.is-fullscreen):has(
    .workspace-ribbon.side-dock-ribbon:hover
  )
  .mod-left-split
  .mod-top-left-space
  .workspace-tab-header-container,
body:not(.is-mobile):not(
    .is-popout-window
  ).show-ribbon.mod-macos.is-hidden-frameless:not(.is-fullscreen):has(
    .workspace-ribbon.side-dock-ribbon:hover
  )
  .workspace:not(.is-left-sidedock-open)
  .sidebar-toggle-button.mod-left {
  transition:
    height var(--anim-out),
    opacity var(--anim-out),
    margin-left var(--anim-in);
}
