:root[saved-theme="dark"] {
  --nav-indentation-guide-color: var(--background-primary);
  --text-normal: rgb(var(--ctp-text));
  --text-muted: rgb(var(--ctp-overlay2));
  --text-accent: rgb(var(--ctp-accent));
  --text-accent-hover: rgb(var(--ctp-accent));
  --interactive-accent: var(--color-accent);
  --background-primary: rgb(var(--ctp-base));
  --background-secondary: rgb(var(--ctp-mantle));
  --background-modifier-border: rgb(var(--ctp-surface0));
  --ctp-accent: var(--ctp-rosewater);
  --dropdown-background: var(--interactive-normal);
  --color-accent: rgb(var(--ctp-accent)) !important;
  --color-accent-1: rgb(var(--ctp-accent) !important);
  --color-accent-2: rgb(var(--ctp-accent) !important);
  --mono-rgb-0: var(--ctp-crust);
  --mono-rgb-100: var(--ctp-text);
  --color-red-rgb: var(--ctp-red);
  --color-red: rgb(var(--ctp-red));
  --color-green-rgb: var(--ctp-green);
  --color-green: rgb(var(--ctp-green));
  --color-orange-rgb: var(--ctp-peach);
  --color-orange: rgb(var(--ctp-peach));
  --color-yellow-rgb: var(--ctp-yellow);
  --color-yellow: rgb(var(--ctp-yellow));
  --color-cyan-rgb: var(--ctp-sky);
  --color-cyan: rgb(var(--ctp-sky));
  --color-blue-rgb: var(--ctp-blue);
  --color-blue: rgb(var(--ctp-blue));
  --color-purple-rgb: var(--ctp-lavender);
  --color-purple: rgb(var(--ctp-lavender));
  --color-pink-rgb: var(--ctp-pink);
  --color-pink: rgb(var(--ctp-pink));
  --color-base-00: rgb(var(--ctp-crust));
  --color-base-10: rgb(var(--ctp-mantle));
  --color-base-20: rgb(var(--ctp-base));
  --color-base-25: rgb(var(--ctp-surface0));
  --color-base-30: rgb(var(--ctp-surface1));
  --color-base-35: rgb(var(--ctp-surface2));
  --color-base-40: rgb(var(--ctp-overlay0));
  --color-base-50: rgb(var(--ctp-overlay1));
  --color-base-60: rgb(var(--ctp-overlay2));
  --color-base-70: rgb(var(--ctp-subtext0));
  --color-base-100: rgb(var(--ctp-text));
  --text-highlight-bg: rgba(var(--ctp-yellow), 0.2);
  --text-highlight-bg-active: rgba(var(--ctp-yellow), 0.4);
  --background-primary: rgb(var(--ctp-base));
  --background-primary-alt: rgb(var(--ctp-mantle));
  --background-secondary: rgb(var(--ctp-mantle));
  --background-secondary-alt: rgb(var(--ctp-crust));
  --background-modifier-hover: rgba(var(--ctp-text), 0.075);
  --background-modifier-form-field: rgba(var(--ctp-crust), 0.3);
  --background-modifier-success: rgba(var(--ctp-green), 1);
  --background-modifier-success-hover: rgba(var(--ctp-green), 0.9);
  --background-modifier-success-rgb: var(--ctp-green);
  --background-modifier-error: rgba(var(--ctp-red), 1);
  --background-modifier-error-rgb: var(--ctp-red);
  --background-modifier-error-hover: rgba(var(--ctp-red), 0.9);
  --background-modifier-message: rgba(var(--ctp-crust), 0.9);
  --modal-border-color: rgb(var(--ctp-surface0));
  --text-normal: rgb(var(--ctp-text));
  --text-muted: rgb(var(--ctp-overlay2));
  --text-muted-rgb: var(--ctp-overlay2);
  --text-faint: rgb(var(--ctp-subtext0));
  --text-error: rgb(var(--ctp-red));
  --text-error-hover: rgba(var(--ctp-red), 0.8);
  --text-success: rgb(var(--ctp-green));
  --text-on-accent: rgb(var(--ctp-base));
  --interactive-normal: rgb(var(--ctp-surface0));
  --interactive-hover: rgb(var(--ctp-surface1));
  --interactive-success: rgb(var(--ctp-green));
  --workspace-background-translucent: rgba(var(--ctp-crust), 0.6);
  --blockquote-background-color: rgba(var(--ctp-crust), 0.5);
  --width-image-gallery: 200px;
  --min-width-image: 50%;
  --max-width-image: 90%;
  --drag-ghost-background: rgb(var(--ctp-text));
  --drag-ghost-text-color: rgb(var(--ctp-crust));
  --titlebar-text-color-focused: var(--color-accent);
  --callout-title-padding: var(--size-4-2);
  --table-border-width: var(--anp-table-thickness, 1px);
  --icon-color-focused: var(--color-accent);
  --embed-block-shadow-hover: none;
  --highlight-mix-blend-mode: none;
  --background-modifier-border: rgb(var(--ctp-surface0));
  --background-modifier-border-hover: rgb(var(--ctp-surface1));
  --background-modifier-border-focus: rgb(var(--ctp-surface2));
  --anp-speech-bubble-opacity: var(--anp-sp-op-dark, 0.9);
  --background-modifier-cover: rgba(var(--ctp-mantle), 0.4);
  --ctp-rosewater: var(--ctp-ext-rosewater, 245, 224, 220);
  --ctp-flamingo: var(--ctp-ext-flamingo, 242, 205, 205);
  --ctp-pink: var(--ctp-ext-pink, 245, 194, 231);
  --ctp-mauve: var(--ctp-ext-mauve, 203, 166, 247);
  --ctp-red: var(--ctp-ext-red, 243, 139, 168);
  --ctp-maroon: var(--ctp-ext-maroon, 235, 160, 172);
  --ctp-peach: var(--ctp-ext-peach, 250, 179, 135);
  --ctp-yellow: var(--ctp-ext-yellow, 249, 226, 175);
  --ctp-green: var(--ctp-ext-green, 166, 227, 161);
  --ctp-teal: var(--ctp-ext-teal, 148, 226, 213);
  --ctp-sky: var(--ctp-ext-sky, 137, 220, 235);
  --ctp-sapphire: var(--ctp-ext-sapphire, 116, 199, 236);
  --ctp-blue: var(--ctp-ext-blue, 135, 176, 249);
  --ctp-lavender: var(--ctp-ext-lavender, 180, 190, 254);
  --ctp-text: var(--ctp-ext-text, 198, 208, 245);
  --ctp-subtext1: var(--ctp-ext-subtext1, 179, 188, 223);
  --ctp-subtext0: var(--ctp-ext-subtext0, 161, 168, 201);
  --ctp-overlay2: var(--ctp-ext-overlay2, 142, 149, 179);
  --ctp-overlay1: var(--ctp-ext-overlay1, 123, 129, 157);
  --ctp-overlay0: var(--ctp-ext-overlay0, 105, 109, 134);
  --ctp-surface2: var(--ctp-ext-surface2, 86, 89, 112);
  --ctp-surface1: var(--ctp-ext-surface1, 67, 70, 90);
  --ctp-surface0: var(--ctp-ext-surface0, 49, 50, 68);
  --ctp-base: var(--ctp-ext-base, 30, 30, 46);
  --ctp-mantle: var(--ctp-ext-mantle, 24, 24, 37);
  --ctp-crust: var(--ctp-ext-crust, 17, 17, 27);
}
