:root[saved-theme="light"] {
  --color-base-00: #fcfbf1;
  --color-base-05: #f5f3e0;
  --color-base-10: #f5f3e0;
  --color-base-20: #e2e4cc;
  --color-base-25: #46473f;
  --color-base-30: #989988;
  --color-base-35: #46473f;
  --color-base-40: #46473f;
  --color-base-50: #46473f;
  --color-base-60: #373832;
  --color-base-70: #2e2c29;
  --color-base-100: #161511;
  --accent-h: 79;
  --accent-s: 25%;
  --accent-l: 67%;
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 0.85)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 5),
    calc(var(--accent-s) * 1.05),
    calc(var(--accent-l) * 1.29)
  );
  --text-on-accent: var(--color-base-100);
  --text-on-accent-inverted: var(--color-base-10);
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
