.workspace-leaf-content[data-type='outline'] .nav-header {
  flex-direction: row-reverse;
  justify-content: space-between;
  display: flex;
}
.workspace-leaf-content[data-type='outline']
  .nav-buttons-container
  > :first-child {
  display: none;
}
.workspace-leaf-content[data-type='outline'] .search-input-container {
  flex-grow: 1;
  margin: 4px 0;
  display: block !important;
}
