@import "fonts";

:root {
}

body {
  --font-text-theme: Lora, Songti, Batang;
  --font-interface-theme: Inter, Heiti, Dotum;
  --font-monospace-theme: Monaspace Neon;
  --font-mermaid: var(--font-interface-theme);
}

:root[saved-theme="dark"] {
  --syntax-tag: 57 186 230;
  --syntax-func: 255 180 84;
  --syntax-entity: 89 194 255;
  --syntax-string: 170 217 76;
  --syntax-regexp: 149 230 203;
  --syntax-markup: 240 113 120;
  --syntax-keyword: 255 143 64;
  --syntax-special: 230 182 115;
  --syntax-comment: 172 182 191 / 0.55;
  --syntax-constant: 210 166 255;
  --syntax-operator: 242 150 104;
  --vcs-added: 127 217 98;
  --vcs-modified: 115 184 255;
  --vcs-removed: 242 109 120;
  --editor-fg: 191 189 182;
  --editor-bg: 13 16 23;
  --editor-line: 19 23 33;
  --editor-selection-active: 64 159 255 / 0.3;
  --editor-selection-inactive: 64 159 255 / 0.13;
  --editor-match-active: 108 89 128;
  --editor-match-inactive: 108 89 128 / 0.4;
  --editor-gutter-active: 108 115 128 / 0.9;
  --editor-gutter-normal: 108 115 128 / 0.6;
  --editor-guide-active: 108 115 128 / 0.5;
  --editor-guide-normal: 108 115 128 / 0.2;
  --ui-fg: 86 91 102;
  --ui-bg: 11 14 20;
  --ui-line: 17 21 28;
  --ui-selection-active: 71 82 102 / 0.25;
  --ui-selection-normal: 71 82 102 / 0.2;
  --ui-panel-bg: 15 19 26;
  --ui-panel-shadow: 0 0 0 / 0.5;
  --common-accent: 230 180 80;
  --common-error: 217 87 87;
  --accent-h: 40;
  --accent-s: 75%;
  --accent-l: 61%;
  --syntax-tag: 92 207 230;
  --syntax-func: 255 208 115;
  --syntax-entity: 115 208 255;
  --syntax-string: 213 255 128;
  --syntax-regexp: 149 230 203;
  --syntax-markup: 242 135 121;
  --syntax-keyword: 255 173 102;
  --syntax-special: 255 223 179;
  --syntax-comment: 184 207 230 / 0.5;
  --syntax-constant: 223 191 255;
  --syntax-operator: 242 158 116;
  --vcs-added: 135 217 108;
  --vcs-modified: 128 191 255;
  --vcs-removed: 242 121 131;
  --editor-fg: 204 202 194;
  --editor-bg: 36 41 54;
  --editor-line: 26 31 41;
  --editor-selection-active: 64 159 255 / 0.25;
  --editor-selection-inactive: 64 159 255 / 0.13;
  --editor-match-active: 105 83 128;
  --editor-match-inactive: 105 83 128 / 0.4;
  --editor-gutter-active: 138 145 153 / 0.8;
  --editor-gutter-normal: 138 145 153 / 0.4;
  --editor-guide-active: 138 145 153 / 0.35;
  --editor-guide-normal: 138 145 153 / 0.18;
  --ui-fg: 112 122 140;
  --ui-bg: 31 36 48;
  --ui-line: 23 27 36;
  --ui-selection-active: 99 117 153 / 0.15;
  --ui-selection-normal: 105 117 140 / 0.12;
  --ui-panel-bg: 28 33 43;
  --ui-panel-shadow: 18 21 28 / 0.7;
  --common-accent: 255 204 102;
  --common-error: 255 102 102;
  --accent-h: 40;
  --accent-s: 100%;
  --accent-l: 70%;
}

:root[saved-theme="light"] {
  --syntax-tag: 85 180 212;
  --syntax-func: 242 174 73;
  --syntax-entity: 57 158 230;
  --syntax-string: 134 179 0;
  --syntax-regexp: 76 191 153;
  --syntax-markup: 240 113 113;
  --syntax-keyword: 250 141 62;
  --syntax-special: 230 186 126;
  --syntax-comment: 120 123 128 / 0.6;
  --syntax-constant: 163 122 204;
  --syntax-operator: 237 147 102;
  --vcs-added: 108 191 67;
  --vcs-modified: 71 138 204;
  --vcs-removed: 255 115 131;
  --editor-fg: 92 97 102;
  --editor-bg: 252 252 252;
  --editor-line: 138 145 153 / 0.1;
  --editor-selection-active: 3 91 214 / 0.15;
  --editor-selection-inactive: 3 91 214 / 0.07;
  --editor-match-active: 159 64 255 / 0.17;
  --editor-match-inactive: 159 64 255 / 0.8;
  --editor-gutter-active: 138 145 153 / 0.8;
  --editor-gutter-normal: 138 145 153 / 0.4;
  --editor-guide-active: 138 145 153 / 0.35;
  --editor-guide-normal: 138 145 153 / 0.18;
  --ui-fg: 138 145 153;
  --ui-bg: 248 249 250;
  --ui-line: 107 125 143 / 0.12;
  --ui-selection-active: 86 114 143 / 0.12;
  --ui-selection-normal: 107 125 143 / 0.12;
  --ui-panel-bg: 243 244 245;
  --ui-panel-shadow: 0 0 0 / 0.15;
  --common-accent: 255 170 51;
  --common-error: 230 80 80;
  --accent-h: 35;
  --accent-s: 100%;
  --accent-l: 60%;
}
