.shiba-hb-style .markdown-preview-view hr {
  border: none;
  border-top: var(--outline-border) dashed;
  border-color: var(--hr-outline-color);
}

.shiba-hb-style2 .markdown-preview-view hr {
  border: none;
  border-top: var(--outline-border) dotted;
  border-color: var(--hr-outline-color);
}
