.headings-rainbow-text {
  --h1-color: var(--color-red);
  --h2-color: var(--color-orange);
  --h3-color: var(--color-yellow);
  --h4-color: var(--color-green);
  --h5-color: var(--color-blue);
  --h6-color: var(--color-purple);
}
.headings-rainbow {
  --h1-bg: rgb(var(--color-red-rgb));
  --h2-bg: rgb(var(--color-orange-rgb));
  --h3-bg: rgb(var(--color-yellow-rgb));
  --h4-bg: rgb(var(--color-green-rgb));
  --h5-bg: rgb(var(--color-blue-rgb));
  --h6-bg: rgb(var(--color-purple-rgb));
}
