.folder-custom {
  --custom-folder-1-open: "🌟";
  --custom-folder-1: "⭐";
  --custom-folder-2-open: "🌷";
  --custom-folder-2: "🌺";
  --custom-folder-3: "🐱";
  --custom-folder-3-open: "😸";
}

.folder-custom {
  --folder-1: var(--custom-folder-1);
  --folder-1-open: var(--custom-folder-1-open);
  --folder-2: var(--custom-folder-2);
  --folder-2-open: var(--custom-folder-2-open);
  --folder-3: var(--custom-folder-3);
  --folder-3-open: var(--custom-folder-3-open);
}

.folder-custom .style-settings-heading[data-id="custom-folders-heading"] {
  display: block;
}
