body
  :is(.markdown-preview-view, .workspace-leaf-content[data-type='image'])
  img:not([class*='emoji'], .banner-image) {
  cursor: zoom-in;
}
body
  :is(.markdown-preview-view, .workspace-leaf-content[data-type='image'])
  img:not([class*='emoji'], .banner-image):active {
  overflow: hidden;
  position: relative;
  object-fit: contain;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0;
  inset: 0;
  z-index: 200;
  background-image: linear-gradient(
    to right,
    hsl(var(--background-primary-hsl)),
    hsl(var(--background-secondary-hsl)),
    hsl(var(--background-primary-hsl))
  );
}
body-out
  :is(.markdown-preview-view, .workspace-leaf-content[data-type='image'])
  img:not([class*='emoji'], .banner-image):active {
  position: fixed;
}
