body.scrollbar-hide
  .setting-item:is(
    [data-id*='scrollbar-hover'],
    [data-id='scrollbar-movein-animation'],
    [data-id='scrollbar-gutter']
  ) {
  display: none;
}

body.scrollbar-hide
  .setting-item:is(
    [data-id*='scrollbar-hover'],
    [data-id='scrollbar-movein-animation'],
    [data-id='scrollbar-gutter']
  )
  + .style-settings-container {
  display: none;
}

body.scrollbar-hide :not([style='overflow-x: auto;'])::-webkit-scrollbar {
  display: none !important;
}
