.theme-dark:not(.nordic-colored-headers) .callout,
.theme-light:not(.nordic-colored-headers) .callout {
  --h1-color: rgb(var(--callout-color));
  --h2-color: rgb(var(--callout-color));
  --h3-color: rgb(var(--callout-color));
  --h4-color: rgb(var(--callout-color));
  --h5-color: rgb(var(--callout-color));
  --h6-color: rgb(var(--callout-color));
}

.nordic-colored-headers,
.theme-light.nordic-colored-headers {
  --h1-color: var(--color-red);
  --h2-color: var(--color-orange);
  --h3-color: var(--color-yellow);
  --h4-color: var(--color-green);
  --h5-color: var(--color-cyan);
  --h6-color: var(--color-blue);
}
