:root[saved-theme="dark"] {
  --nav-item-background-selected: var(--Axt);
  --background-primary: var(--EBgnd);
  --color-scheme: dark;
  --background-table-rows: var(--Bgnd);
  --ribbon-background: var(--Bgnd);
  --search-result-background: var(--EBgnd);
  --titlebar-background: var(--Bgnd);
  --titlebar-background-focused: var(--Bgnd);
  --titlebar-border-color: var(--Bgnd);
  --background-secondary: var(--Bgnd);
  --background-modifier-form-field-highlighted: var(--EBgnd);
  --background-modifier-form-field: var(--EBgnd);
  --background-modifier-hover: var(--Bgcl);
  --background-modifier-active-hover: var(--Bgcl);
  --nav-item-background-active: var(--Bgcl);
  --nav-item-background-hover: var(--Bgcl);
  --text-highlight-bg: var(--Bgcl);
  --background-modifier-border-focus: var(--AccentA1);
  --checkbox-color: var(--AccentA1);
  --prompt-border-color: var(--AccentA1);
  --scrollbar-active-thumb-bg: var(--AccentA1);
  --interactive-accent: var(--AccentA1);
  --divider-color: var(--Axt);
  --interactive-hover: var(--Axt);
  --modal-border-color: var(--Axt);
  --background-modifier-border: var(--Axt);
  --frame-divider-color: var(--Axt);
  --nav-indentation-guide-color: var(--Axt);
  --scrollbar-thumb-bg: var(--Axt);
  --tab-outline-color: var(--Axt);
  --background-modifier-accent: var(--AccentA2);
  --interactive-accent-hover: var(--AccentA2);
  --text-accent-hover: var(--AccentA2);
  --text-accent: var(--AccentA2);
  --nav-item-color: var(--txt);
  --nav-item-color-active: var(--txt);
  --nav-item-color-hover: var(--txt);
  --text-normal: var(--txt);
  --text-code: var(--txi);
  --text-italic: var(--txt);
  --text-bold: var(--txt);
  --tab-text-color-focused-active: var(--txt);
  --icon-color-active: var(--txt);
  --icon-color-focused: var(--txt);
  --code-normal: var(--txi);
  --titlebar-text-color: #c8a2c8;
  --titlebar-text-color-focused: #c8a2c8;
  --icon-color-hover: var(--txi);
  --icon-color: var(--txi);
  --nav-collapse-icon-color: var(--txi);
  --nav-collapse-icon-color-collapsed: var(--txi);
  --list-marker-color: var(--txi);
  --text-selection: var(--txi);
  --text-formatting: var(--txi);
  --text-muted: var(--txi);
  --text-faint: var(--txi);
  --text-error: #f1637d;
  --text-blockquote: var(--txi);
  --Axt2: #50125a94;
  --background-modifier-border-hover: var(--Axt2);
  --quote-opening-modifier: var(--Axt2);
  --bold-color: #967bb6;
  --italic-color: #fca287;
  --text-formatting: #967bb6;
  --icon-color: #c8a2c8;
  --scrollbar-bg: transparent;
  --color-base-00: var(--EBgnd);
  --color-base-05: var(--EBgnd);
  --color-base-10: var(--EBgnd);
  --color-base-20: var(--Bgnd);
  --color-base-25: #252429;
  --color-base-30: var(--Axt);
  --color-base-35: #c8a2c85f;
  --color-base-40: var(--Axt);
  --color-base-50: var(--txi);
  --color-base-60: #c8a2c8;
  --color-base-70: #c8a2c8;
  --color-base-100: #c8a2c8;
  --graph-controls-width: 240px;
  --graph-text: var(--text-normal);
  --graph-line: var(--color-base-35, var(--background-modifier-border-focus));
  --graph-node: #c8a2c8;
  --graph-node-unresolved: var(--text-faint);
  --graph-node-focused: var(--text-accent);
  --graph-node-tag: #c8d89bdb;
  --graph-node-attachment: #d6d89b;
}
