.ulu-nt-callouts.theme-dark {
  --color-callout-red: #502626;
  --color-callout-blue: #263850;
  --color-callout-green: #265029;
  --color-callout-yellow: #4c5026;
  --color-callout-orange: #504126;
  --color-callout-teal: #264e50;
  --color-callout-grey: #3b3b3b;
  --color-callout-purple: #392650;
  --color-callout-border-red1: #715050;
  --color-callout-border-blue1: #516073;
  --color-callout-border-green1: #507153;
  --color-callout-border-yellow1: #6e7150;
  --color-callout-border-orange1: #716550;
  --color-callout-border-teal1: #507171;
  --color-callout-border-grey1: #616161;
  --color-callout-border-purple1: #472650;
  --color-callout-text: var(--text-on-accent);
}
