:root[saved-theme="dark"] {
  --green-base: #00503b;
  --green-bright: #227e67;
  --green-light: #0f6751;
  --green-dark: #00372a;
  --green-deep: #090c0d;
  --green-compliment: #7b2e00;
  --brass-base: #575042;
  --brass-bright: #b7ad97;
  --brass-light: #8b806c;
  --brass-dark: #3f3624;
  --brass-deep: #392d15;
  --brass-compliment: #4b505d;
  --silver-base: #909090;
  --silver-bright: #eeeded;
  --silver-light: #bbbbbb;
  --silver-dark: #616161;
  --silver-deep: #252525;
  --silver-compliment: #737373;
  --purple-base: #3b0050;
  --purple-bright: #66008b;
  --purple-light: #51006d;
  --purple-dark: #22002e;
  --purple-deep: #0c090d;
  --purple-compliment: #707700;
  --black: #000000;
  --background-primary: var(--green-deep);
  --background-primary-alt: var(--silver-deep);
  --background-secondary: var(--purple-deep);
  --background-secondary-alt: var(--black);
  --text-accent: var(--brass-light);
  --text-accent-hover: var(--brass-base);
  --text-normal: var(--silver-light);
  --text-muted: var(-silver-dark);
  --text-muted-rgb: 153, 153, 153;
  --text-faint: #666;
  --text-error: #ff3333;
  --text-error-hover: #990000;
  --text-highlight-bg: rgba(139, 128, 108, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(63, 54, 36, 0.99);
  --text-on-accent: var(--silver-light);
  --text-title-h1: var(--brass-deep);
  --text-title-h2: var(--brass-dark);
  --text-title-h3: var(--brass-base);
  --text-title-h4: var(--brass-light);
  --text-title-h5: var(--brass-bright);
  --background-modifier-border: var(--brass-deep);
  --background-modifier-form-field: var(--black);
  --background-modifier-form-field-highlighted: var(--green-deep);
  --background-modifier-box-shadow: var(--silver-deep);
  --background-modifier-success: #197300;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --interactive-normal: var(--brass-base);
  --interactive-hover: var(--brass-dark);
  --interactive-accent: var(--green-dark);
  --interactive-accent-rgb: 97, 97, 97;
  --interactive-accent-hover: var(--green-deep);
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgba(238, 237, 237, 0.2);
  --scrollbar-bg: rgba(238, 237, 237, 0.05);
  --scrollbar-thumb-bg: rgba(238, 237, 237, 0.1);
  --highlight-mix-blend-mode: lighten;
}
