@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "sass:list";
@use "sass:color";
@use "fonts";

@use "overrides";

/* Get an option from a set. */
@function get($collection, $value, $sub: false) {
  @if $sub {
    @return map-get(#{$collection}, #{$value});
  } @else {
    @return map-get(#{$collection}, #{$sub}, #{$value});
  }
}

/* Color converter*/
@function color_convert($color, $opacity: 0%) {
  @return color-mix(in srgb, #{$color}, #0000 calc(100% - #{$opacity}));
}

/* Callouts */
$callout-types: "note", "abstract", "info", "todo", "tip", "success", "question", "warning",
  "failure", "danger", "bug", "example", "quote";

:root {
  --anim-duration-none: 0;
  --anim-duration-superfast: 70ms;
  --anim-duration-fast: 140ms;
  --anim-duration-moderate: 300ms;
  --anim-duration-slow: 560ms;
  --anim-motion-smooth: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  --anim-motion-delay: cubic-bezier(0.65, 0.05, 0.36, 1);
  --anim-motion-jumpy: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --anim-motion-swing: cubic-bezier(0, 0.55, 0.45, 1);
  --blockquote-border-thickness: 2px;
  --blockquote-border-color: var(--interactive-accent);
  --blockquote-font-style: normal;
  --blockquote-color: inherit;
  --blockquote-background-color: transparent;
  --bold-modifier: 200;
  --bold-color: inherit;
  --bold-weight: calc(var(--font-weight) + var(--bold-modifier));
  --border-width: 1px;
  --button-radius: var(--input-radius);
  --callout-border-width: 0px;
  --callout-border-opacity: 0.25;
  --callout-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3) var(--size-4-6);
  --callout-radius: var(--radius-s);
  --callout-blend-mode: var(--highlight-mix-blend-mode);
  --callout-title-color: inherit;
  --callout-title-padding: 0;
  --callout-title-size: inherit;
  --callout-title-weight: calc(var(--font-weight) + var(--bold-modifier));
  --callout-content-padding: 0;
  --callout-content-background: transparent;
  --callout-bug: var(--color-red-rgb);
  --callout-default: var(--color-blue-rgb);
  --callout-error: var(--color-red-rgb);
  --callout-example: var(--color-purple-rgb);
  --callout-fail: var(--color-red-rgb);
  --callout-important: var(--color-cyan-rgb);
  --callout-info: var(--color-blue-rgb);
  --callout-question: var(--color-orange-rgb);
  --callout-success: var(--color-green-rgb);
  --callout-summary: var(--color-cyan-rgb);
  --callout-tip: var(--color-cyan-rgb);
  --callout-todo: var(--color-blue-rgb);
  --callout-warning: var(--color-orange-rgb);
  --callout-quote: 158, 158, 158;
  --callout-abstract: var(--callout-summary);
  --callout-note: var(--callout-default);
  --callout-failure: var(--callout-fail);
  --callout-danger: var(--callout-error);
  --canvas-background: var(--background-primary);
  --canvas-card-label-color: var(--text-faint);
  --canvas-color-1: var(--color-red-rgb);
  --canvas-color-2: var(--color-orange-rgb);
  --canvas-color-3: var(--color-yellow-rgb);
  --canvas-color-4: var(--color-green-rgb);
  --canvas-color-5: var(--color-cyan-rgb);
  --canvas-color-6: var(--color-purple-rgb);
  --canvas-dot-pattern: var(--color-base-30);
  --caret-color: var(--text-normal);
  --checkbox-radius: var(--radius-s);
  --checkbox-size: var(--font-text-size);
  --checkbox-marker-color: var(--background-primary);
  --checkbox-color: var(--interactive-accent);
  --checkbox-color-hover: var(--interactive-accent-hover);
  --checkbox-border-color: var(--text-faint);
  --checkbox-border-color-hover: var(--text-muted);
  --checkbox-margin-inline-start: 0.85em;
  --checklist-done-decoration: line-through;
  --checklist-done-color: var(--text-muted);
  --code-white-space: pre-wrap;
  --code-radius: var(--radius-s);
  --code-size: var(--font-smaller);
  --code-background: var(--background-primary-alt);
  --code-normal: var(--text-muted);
  --code-comment: var(--text-faint);
  --code-function: var(--color-yellow);
  --code-important: var(--color-orange);
  --code-keyword: var(--color-pink);
  --code-operator: var(--color-red);
  --code-property: var(--color-cyan);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-green);
  --code-tag: var(--color-red);
  --code-value: var(--color-purple);
  --collapse-icon-color: var(--text-faint);
  --collapse-icon-color-collapsed: var(--text-accent);
  --cursor: default;
  --cursor-link: pointer;
  --divider-color: var(--background-modifier-border);
  --divider-color-hover: var(--interactive-accent);
  --font-weight: var(--font-normal);
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
  --footnote-size: var(--font-smaller);
  --graph-text: var(--text-normal);
  --graph-line: var(--color-base-35, var(--background-modifier-border-focus));
  --graph-node: var(--text-muted);
  --graph-node-unresolved: var(--text-faint);
  --graph-node-focused: var(--text-accent);
  --graph-node-tag: var(--color-green);
  --graph-node-attachment: var(--color-yellow);
  --h1-color: inherit;
  --h2-color: inherit;
  --h3-color: inherit;
  --h4-color: inherit;
  --h5-color: inherit;
  --h6-color: inherit;
  --h1-font: inherit;
  --h2-font: inherit;
  --h3-font: inherit;
  --h4-font: inherit;
  --h5-font: inherit;
  --h6-font: inherit;
  --h1-line-height: 1.2;
  --h2-line-height: 1.2;
  --h3-line-height: 1.3;
  --h4-line-height: 1.4;
  --h5-line-height: var(--line-height-normal);
  --h6-line-height: var(--line-height-normal);
  --h1-size: 1.802em;
  --h2-size: 1.602em;
  --h3-size: 1.424em;
  --h4-size: 1.266em;
  --h5-size: 1.125em;
  --h6-size: 1em;
  --h1-style: normal;
  --h2-style: normal;
  --h3-style: normal;
  --h4-style: normal;
  --h5-style: normal;
  --h6-style: normal;
  --h1-variant: normal;
  --h2-variant: normal;
  --h3-variant: normal;
  --h4-variant: normal;
  --h5-variant: normal;
  --h6-variant: normal;
  --h1-weight: 700;
  --h2-weight: 600;
  --h3-weight: 600;
  --h4-weight: 600;
  --h5-weight: 600;
  --h6-weight: 600;
  --header-height: 40px;
  --hr-color: var(--background-modifier-border);
  --hr-thickness: 2px;
  --icon-color: var(--text-muted);
  --icon-color-hover: var(--text-muted);
  --icon-color-active: var(--text-accent);
  --icon-color-focused: var(--text-normal);
  --indentation-guide-color: rgba(var(--mono-rgb-100), 0.12);
  --indentation-guide-color-active: rgba(var(--mono-rgb-100), 0.3);
  --inline-title-color: var(--h1-color);
  --inline-title-font: var(--h1-font);
  --inline-title-line-height: var(--h1-line-height);
  --inline-title-size: var(--h1-size);
  --inline-title-style: var(--h1-style);
  --inline-title-variant: var(--h1-variant);
  --inline-title-weight: var(--h1-weight);
  --input-font-weight: var(--font-normal);
  --input-border-width: 1px;
  --italic-color: inherit;
  --italic-weight: inherit;
  --nav-item-color: var(--text-muted);
  --nav-item-color-hover: var(--text-normal);
  --nav-item-color-active: var(--text-normal);
  --nav-item-color-selected: var(--text-normal);
  --nav-item-color-highlighted: var(--text-accent);
  --nav-item-background-hover: var(--background-modifier-hover);
  --nav-item-background-active: var(--background-modifier-hover);
  --nav-item-background-selected: hsla(var(--color-accent-hsl), 0.15);
  --nav-item-weight: inherit;
  --nav-item-weight-hover: inherit;
  --nav-item-weight-active: inherit;
  --nav-item-white-space: pre;
  --nav-collapse-icon-color: var(--collapse-icon-color);
  --nav-collapse-icon-color-collapsed: var(--text-faint);
  --nav-heading-color: var(--text-normal);
  --nav-heading-color-hover: var(--text-normal);
  --nav-heading-color-collapsed: var(--text-faint);
  --nav-heading-color-collapsed-hover: var(--text-muted);
  --nav-heading-weight: var(--font-medium);
  --nav-heading-weight-hover: var(--font-medium);
  --pill-color: var(--text-muted);
  --pill-color-hover: var(--text-normal);
  --pill-color-remove: var(--text-faint);
  --pill-color-remove-hover: var(--text-accent);
  --pill-decoration: none;
  --pill-decoration-hover: none;
  --pill-background: transparent;
  --pill-background-hover: transparent;
  --pill-border-color: var(--background-modifier-border);
  --pill-border-color-hover: var(--background-modifier-border-hover);
  --pill-border-width: var(--border-width);
  --pill-padding-x: 0.65em;
  --pill-padding-y: 0.25em;
  --pill-radius: 2em;
  --pill-weight: inherit;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 16px;
  --scrollbar-active-thumb-bg: rgba(var(--mono-rgb-100), 0.2);
  --scrollbar-bg: rgba(var(--mono-rgb-100), 0.05);
  --scrollbar-thumb-bg: rgba(var(--mono-rgb-100), 0.1);
  --search-clear-button-color: var(--text-muted);
  --search-clear-button-size: 13px;
  --search-icon-color: var(--text-muted);
  --search-icon-size: 18px;
  --search-result-background: var(--background-primary);
  --size-2-1: 2px;
  --size-2-2: 4px;
  --size-2-3: 6px;
  --size-4-1: 4px;
  --size-4-2: 8px;
  --size-4-3: 12px;
  --size-4-4: 16px;
  --size-4-5: 20px;
  --size-4-6: 24px;
  --size-4-8: 32px;
  --size-4-9: 36px;
  --size-4-10: 40px;
  --size-4-12: 48px;
  --size-4-16: 64px;
  --size-4-18: 72px;
  --tag-size: var(--font-smaller);
  --tag-color: var(--text-accent);
  --tag-color-hover: var(--text-accent);
  --tag-decoration: none;
  --tag-decoration-hover: none;
  --tag-background: hsla(var(--interactive-accent-hsl), 0.1);
  --tag-background-hover: hsla(var(--interactive-accent-hsl), 0.2);
  --tag-border-color: hsla(var(--interactive-accent-hsl), 0.15);
  --tag-border-color-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --tag-border-width: 0px;
  --tag-padding-x: 0.65em;
  --tag-padding-y: 0.25em;
  --tag-radius: 2em;
  --tag-weight: inherit;
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary-alt);
  --titlebar-border-width: 0px;
  --titlebar-border-color: var(--background-modifier-border);
  --titlebar-text-color: var(--text-muted);
  --titlebar-text-color-focused: var(--text-normal);
  --titlebar-text-weight: var(--font-bold);
  --accent-h: 258;
  --accent-s: 88%;
  --accent-l: 66%;
  --background-primary: var(--color-base-00);
  --background-primary-alt: var(--color-base-10);
  --background-secondary: var(--color-base-20);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --background-modifier-border: var(--color-base-30);
  --background-modifier-border-hover: var(--color-base-35);
  --background-modifier-border-focus: var(--color-base-40);
  --background-modifier-error-rgb: var(--color-red-rgb);
  --background-modifier-error: var(--color-red);
  --background-modifier-error-hover: var(--color-red);
  --background-modifier-success-rgb: var(--color-green-rgb);
  --background-modifier-success: var(--color-green);
  --background-modifier-message: rgba(0, 0, 0, 0.9);
  --background-modifier-form-field: var(--color-base-00);
  --text-normal: var(--color-base-100);
  --text-muted: var(--color-base-70);
  --text-faint: var(--color-base-50);
  --text-on-accent: white;
  --text-on-accent-inverted: black;
  --text-error: var(--color-red);
  --text-warning: var(--color-orange);
  --text-success: var(--color-green);
  --text-selection: hsla(var(--color-accent-hsl), 0.2);
  --text-highlight-bg-rgb: 255, 208, 0;
  --text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.4);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--color-accent-2);
  --interactive-normal: var(--color-base-00);
  --interactive-hover: var(--color-base-10);
  --interactive-accent-hsl: var(--color-accent-hsl);
  --interactive-accent: var(--color-accent-1);
  --interactive-accent-hover: var(--color-accent-2);
  --font-default: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-monospace-default: ui-monospace, SFMono-Regular, "Cascadia Mono", "Roboto Mono",
    "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco, "Consolas", "Source Code Pro", monospace;
  --font-interface-override: "??";
  --font-interface-theme: "??";
  --font-interface: var(--font-interface-override), var(--font-interface-theme),
    var(--default-font, "??"), var(--font-default);
  --font-text-override: "??";
  --font-text-theme: "??";
  --font-text: var(--font-text-override), var(--font-text-theme), var(--font-default);
  --font-print-override: "??";
  --font-print: var(--font-print-override), var(--font-text-override), var(--font-text-theme),
    "Arial";
  --font-monospace-override: "??";
  --font-monospace-theme: "??";
  --font-monospace: var(--font-monospace-override), var(--font-monospace-theme),
    var(--font-monospace-default);
  --font-text-size: 16px;
  --font-mermaid: var(--font-text);
  --icon-color: var(--interactive-accent);
  --icon-color-hover: var(--interactive-accent);
  --icon-color-active: var(--interactive-accent-hover);
  --icon-color-focus: var(--interactive-accent-hover);
  --icon-stroke: var(--icon-l-stroke-width);
}

body {
  /* Links */
  --link-color: var(--text-accent);
  --link-color-hover: var(--text-accent-hover);
  --link-decoration: underline;
  --link-decoration-hover: underline;
  --link-decoration-thickness: auto;
  --link-weight: var(--font-weight);
  --link-external-color: var(--text-accent);
  --link-external-color-hover: var(--text-accent-hover);
  --link-external-decoration: underline;
  --link-external-decoration-hover: underline;
  --link-external-filter: none;
  --link-unresolved-color: var(--text-accent);
  --link-unresolved-opacity: 0.7;
  --link-unresolved-filter: none;
  --link-unresolved-decoration-style: solid;
  --link-unresolved-decoration-color: hsla(var(--interactive-accent-hsl), 0.3);
  /* Metadata */
  --metadata-background: transparent;
  --metadata-display-reading: block;
  --metadata-display-editing: block;
  --metadata-max-width: none;
  --metadata-padding: var(--size-4-2) 0;
  --metadata-border-color: var(--background-modifier-border);
  --metadata-border-radius: 0;
  --metadata-border-width: 0;
  --metadata-divider-color: var(--background-modifier-border);
  --metadata-divider-color-hover: transparent;
  --metadata-divider-color-focus: transparent;
  --metadata-divider-width: 0;
  --metadata-gap: 3px;
  --metadata-property-padding: 0;
  --metadata-property-radius: 6px;
  --metadata-property-radius-hover: 6px;
  --metadata-property-radius-focus: 6px;
  --metadata-property-background: transparent;
  --metadata-property-background-hover: transparent;
  --metadata-property-background-active: var(--background-modifier-hover);
  --metadata-label-background-hover: transparent;
  --metadata-label-background-active: var(--background-modifier-hover);
  --metadata-label-font: var(--font-interface);
  --metadata-label-font-size: var(--font-smaller);
  --metadata-label-font-weight: inherit;
  --metadata-label-text-color: var(--text-muted);
  --metadata-label-text-color-hover: var(--text-muted);
  --metadata-label-width: 9em;
  --metadata-input-height: calc(var(--font-text-size) * 1.75);
  --metadata-input-text-color: var(--text-normal);
  --metadata-input-font: var(--font-interface);
  --metadata-input-font-size: var(--font-smaller);
  --metadata-input-background: transparent;
  --metadata-input-background-hover: transparent;
  --metadata-input-background-active: var(--background-modifier-hover);
  --metadata-sidebar-label-font-size: var(--font-ui-small);
  --metadata-sidebar-input-font-size: var(--font-ui-small);

  --red-0: #f6d3d3;
  --red-1: #f3c2c1;
  --red-2: #eda6a5;
  --red-3: #e68584;
  --red-4: #c24c4a;
  --red-5: #7a302f;
  --red-6: #50201f;
  --red-1-rgb: 243, 194, 193;
  --red-2-rgb: 237, 166, 165;
  --red-4-rgb: 194, 76, 74;
  --red-5-rgb: 122, 48, 47;
  --orange-0: #f1d6cb;
  --orange-1: #ecc5b7;
  --orange-2: #e3ac97;
  --orange-3: #da8d73;
  --orange-4: #9d6553;
  --orange-5: #633f34;
  --orange-6: #412922;
  --orange-1-rgb: 236, 197, 183;
  --orange-2-rgb: 227, 172, 151;
  --orange-4-rgb: 157, 101, 83;
  --orange-5-rgb: 99, 63, 52;
  --yellow-bright: #fdfaf3;
  --yellow-0: #f1d9a9;
  --yellow-1: #ecc986;
  --yellow-2: #e0b15e;
  --yellow-3: #c49a52;
  --yellow-4: #8d6e3b;
  --yellow-5: #594525;
  --yellow-1-rgb: 241, 217, 169;
  --yellow-2-rgb: 236, 201, 134;
  --yellow-3-rgb: 196, 154, 82;
  --yellow-4-rgb: 141, 110, 59;
  --green-0: #d6ddd7;
  --green-1: #c5d0c8;
  --green-2: #adbcb0;
  --green-3: #91a695;
  --green-4: #5c7a62;
  --green-5: #3a4d3e;
  --green-6: #263228;
  --green-1-rgb: 197, 208, 200;
  --green-2-rgb: 173, 188, 176;
  --green-4-rgb: 92, 122, 98;
  --green-5-rgb: 58, 77, 62;
  --cyan-0: #bbe3e3;
  --cyan-1: #9fd8d8;
  --cyan-2: #74c6c5;
  --cyan-3: #41b0b0;
  --cyan-4: #058080;
  --cyan-5: #024151;
  --cyan-6: #013535;
  --cyan-1-rgb: 187, 210, 209;
  --cyan-2-rgb: 158, 190, 188;
  --cyan-4-rgb: 62, 125, 121;
  --cyan-5-rgb: 39, 79, 76;
  --blue-0: #ceddeb;
  --blue-1: #bbd0e4;
  --blue-2: #9fbbd8;
  --blue-3: #7fa4ca;
  --blue-4: #4575ae;
  --blue-5: #2c496e;
  --blue-6: #1d3048;
  --blue-1-rgb: 187, 208, 228;
  --blue-2-rgb: 159, 187, 216;
  --blue-4-rgb: 69, 117, 174;
  --blue-5-rgb: 44, 73, 110;
  --purple-0: #e2d9e1;
  --purple-1: #d7c9d5;
  --purple-2: #c6b2c3;
  --purple-3: #b399ae;
  --purple-4: #8e6787;
  --purple-5: #594054;
  --purple-6: #392a37;
  --purple-1-rgb: 215, 201, 213;
  --purple-2-rgb: 198, 178, 195;
  --purple-4-rgb: 142, 103, 135;
  --purple-5-rgb: 89, 64, 84;
  --pink-0: #efd5dc;
  --pink-1: #e8c4ce;
  --pink-2: #deaab8;
  --pink-3: #d38d9f;
  --pink-4: #a75c70;
  --pink-5: #693a46;
  --pink-6: #45262e;
  --pink-1-rgb: 232, 196, 206;
  --pink-2-rgb: 222, 170, 184;
  --pink-4-rgb: 167, 92, 112;
  --pink-5-rgb: 105, 58, 70;
  --gray-light-8: #fafafa;
  --gray-light-7: #f8f8f8;
  --gray-light-6: #f5f5f5;
  --gray-light-5: #f1f1f1;
  --gray-light-4: #ebebeb;
  --gray-light-3: #e3e3e3;
  --gray-light-2: #dbdbdb;
  --gray-light-1: #cdcdcd;
  --gray: #b8b8b8;
  --gray-dark-1: #a0a0a0;
  --gray-dark-2: #898989;
  --gray-dark-3: #737373;
  --gray-dark-4: #5d5d5d;
  --gray-dark-5: #484848;
  --gray-dark-6: #3f3f3f;
  --gray-dark-7: #2f2f2f;
  --gray-dark-75: #272727;
  --gray-dark-8: #212121;
  --gray-dark-85: #1e1e1e;
  --gray-dark-9: #1b1b1b;
  --gray-dark-10: #070707;
  --accent-h: 344;
  --accent-s: 30%;
  --accent-l: 51%;
  --primary-accent-0: var(--purple-0);
  --primary-accent-1: var(--purple-1);
  --primary-accent-2: var(--purple-2);
  --primary-accent-3: var(--purple-3);
  --primary-accent-4: var(--purple-4);
  --primary-accent-5: var(--purple-5);
  --primary-accent-6: var(--purple-6);
  --primary-accent-1-rgb: var(--purple-1-rgb);
  --primary-accent-4-rgb: var(--purple-4-rgb);
  --secondary-accent-0: var(--green-0);
  --secondary-accent-1: var(--green-1);
  --secondary-accent-2: var(--green-2);
  --secondary-accent-3: var(--green-3);
  --secondary-accent-4: var(--green-4);
  --secondary-accent-5: var(--green-5);
  --secondary-accent-6: var(--green-6);
  --secondary-accent-1-rgb: var(--green-1-rgb);
  --secondary-accent-4-rgb: var(--green-4-rgb);
  --ebw-font-text: "IBM Plex Sans", Helvetica Neue;
  --ebw-font-monospace: "Fira Code", "Source Code Pro", Jetbrains Mono;
  --ebw-header-font: "Architects Daughter";
  --ebw-header-font-caps-variant: normal;
  --ebw-font-tags: var(--ebw-header-font);
  --ebw-font-callout-title: var(--ebw-header-font);
  --font-interface-theme: var(--ebw-font-text);
  --font-text-theme: var(--ebw-font-text);
  --font-monospace-theme: var(--ebw-font-monospace);
  --font-mermaid: var(--ebw-font-monospace);
  --ebw-p-modifier: 1;
  --ebw-header-modifier: 1.4;
  --p-spacing: calc(var(--font-text-size) * var(--ebw-p-modifier));
  --heading-spacing: calc(var(--p-spacing) * var(--ebw-header-modifier));
  --divider-color: var(--background-modifier-border);
  --file-margins: var(--size-4-2) var(--size-4-8);
  --ribbon-background: var(--titlebar-background);
  --ribbon-background-collapsed: var(--titlebar-background);
  --status-bar-background: var(--titlebar-background);
  --tab-text-color: var(--icon-color);
  --tab-text-color-focused: var(--icon-color-focused);
  --tab-container-background: var(--background-secondary);
  --tab-outline-color: var(--background-modifier-border);
  --he-title-bar-height: calc(var(--icon-s) + var(--size-2-3));
  --he-view-header-height: calc(var(--icon-s) + var(--size-2-3));
  --tab-stacked-header-width: calc(var(--icon-s) + var(--size-2-3));
  --tab-stacked-font-weight: var(--font-light);
  --tab-stacked-font-size: var(--font-ui-smaller);
  --text-normal: var(--text-faint);
  --header-height: calc(var(--icon-s) + var(--size-2-4));
  --icon-color: var(--text-muted);
  --icon-color-hover: var(--text-muted);
  --icon-color-active: var(--text-accent);
  --icon-color-focused: var(--text-normal);
  --header-height: calc(var(--icon-m) + var(--size-4-3));
  --icon-xs: 14px;
  --icon-s: 16px;
  --icon-m: 18px;
  --icon-l: 18px;
  --view-header-height: var(--header-height);
  --icon-size: var(--icon-m);
  --icon-stroke: var(--icon-m-stroke-width);
  --metadata-background: transparent;
  --metadata-padding: 0;
  --metadata-border-color: var(--background-modifier-border);
  --metadata-border-radius: 4px;
  --metadata-border-width: 1px;
  --metadata-divider-color: var(--background-secondary);
  --metadata-divider-width: 1px;
  --metadata-gap: 0;
  --metadata-property-padding: 0;
  --metadata-property-radius: var(--radius-s);
  --metadata-label-font-size: var(--font-smaller);
  --metadata-input-font-size: var(--font-smaller);
  --h1-size: 2em;
  --h2-size: 1.8em;
  --h3-size: 1.6em;
  --h4-size: 1.4em;
  --h5-size: 1.2em;
  --h6-size: 1.2em;
  --h1-font: var(--ebw-header-font);
  --h2-font: var(--ebw-header-font);
  --h3-font: var(--ebw-header-font);
  --h4-font: var(--ebw-header-font);
  --h5-font: var(--ebw-header-font);
  --h6-font: var(--ebw-header-font);
  --h1-variant: common-ligatures;
  --h2-variant: common-ligatures;
  --h3-variant: common-ligatures;
  --h4-variant: common-ligatures;
  --h5-variant: common-ligatures;
  --h6-variant: common-ligatures;
  --h1-weight: 500;
  --h2-weight: 500;
  --h3-weight: 500;
  --h4-weight: 500;
  --h5-weight: 500;
  --h6-weight: 500;
  --h1-line-height: var(--line-height-normal);
  --h2-line-height: var(--line-height-normal);
  --h3-line-height: var(--line-height-normal);
  --h4-line-height: var(--line-height-normal);
  --h5-line-height: var(--line-height-normal);
  --h6-line-height: var(--line-height-normal);
  --ebw-collapse-icon-width: -28px;
  --tag-background: transparent;
  --tag-background-hover: transparent;
  --tag-padding-x: 0;
  --ebw-collapse-icon-width: -26px;
  --bold-color: var(--blue-3);
  --italic-color: var(--pink-2);
  --ebw-strong-em: var(--yellow-2);
  --ebw-link-underline: var(--cyan-4);
  --ebw-link-hidden: var(--cyan-4);
  --link-color: var(--gray-light-1);
  --link-color-hover: var(--cyan-2);
  --link-decoration: underline;
  --link-decoration-hover: underline;
  --link-unresolved-color: var(--link-color);
  --link-unresolved-opacity: 0.9;
  --link-unresolved-decoration-style: dotted;
  --link-unresolved-decoration-color: var(--ebw-link-underline);
  --link-external-color: var(--link-color);
  --link-external-color-hover: var(--link-color-hover);
  --link-external-decoration: underline;
  --link-external-decoration-hover: underline;
  --checkbox-checked: var(--green-4);
  --checkbox-deferred: var(--blue-3);
  --checkbox-review: var(--green-3);
  --checkbox-important: var(--pink-4);
  --checkbox-in-progress: var(--cyan-4);
  --checkbox-question: var(--yellow-3);
  --checkbox-cancelled: var(--gray-dark-3);
  --checkbox-hover: var(--gray-dark-2);
  --checkbox-color: var(--checkbox-checked);
  --checkbox-border-color: var(--checkbox-checked);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  --checkbox-color: var(--checkbox-cancelled);
  --checkbox-border-color: var(--checkbox-cancelled);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: line-through;
  --checkbox-color: var(--checkbox-deferred);
  --checkbox-border-color: var(--checkbox-deferred);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  --checkbox-color: var(--checkbox-review);
  --checkbox-border-color: var(--checkbox-review);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  --checkbox-color: var(--checkbox-review);
  --checkbox-border-color: var(--checkbox-review);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  --checkbox-color: var(--checkbox-question);
  --checkbox-border-color: var(--checkbox-question);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  --checkbox-color: var(--checkbox-important);
  --checkbox-border-color: var(--checkbox-important);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  --checkbox-color: var(--checkbox-in-progress);
  --checkbox-border-color: var(--checkbox-in-progress);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  --callout-padding: 0;
  --callout-radius: var(--radius-m);
  --callout-content-padding: 0 var(--size-4-2);
  --callout-title-padding: var(--size-4-2);
  --callout-border-opacity: 0.4;
  --callout-border-width: 0 0.05rem 0 0.1rem;
  --blockquote-border-thickness: 0.05rem;
  --ebw-callout-warning: 234, 175, 0;
  --ebw-callout-success: 139, 167, 145;
  --ebw-callout-note: 148, 189, 223;
  --ebw-callout-info: 111, 166, 211;
  --ebw-callout-quote: 53, 120, 175;
  --ebw-callout-tip: 134, 196, 193;
  --ebw-callout-question: 89, 174, 170;
  --ebw-callout-chat: 61, 126, 123;
  --ebw-callout-abstract: 199, 178, 195;
  --ebw-callout-bug: 180, 152, 175;
  --ebw-callout-example: 142, 103, 135;
  --ebw-callout-danger: 230, 133, 132;
  --ebw-callout-failure: 211, 141, 159;
  --ebw-callout-reference: 183, 183, 183;
  --ebw-callout-toc: 235, 235, 235;
  --blockquote-border-color: var(--secondary-accent-4);
  --ebw-embed-border-color: var(--gray-dark-7);
  --embed-border-left: 0.0625rem solid var(--ebw-embed-border-color);
  --embed-border-right: 0.0625rem solid var(--ebw-embed-border-color);
  --embed-padding: var(--size-2-1) var(--size-4-2);
  --show-whitespace-color: var(--color-base-30);
  --table-header-color: var(--text-on-accent);
  --table-header-background-hover: var(--ebw-table-header-alt);
  --table-row-background-hover: var(--background-secondary);
  --table-background: var(--ebw-row-alt);
  --table-row-alt-background: transparent;
  --table-column-alt-background: unset;
  --table-header-size: var(--font-small);
}

:root[saved-theme="dark"] {
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: #dadada;
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 5),
    calc(var(--accent-s) * 1.05),
    calc(var(--accent-l) * 1.29)
  );
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-accent: var(--color-accent-1);
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);

  --background-primary: var(--gray-dark-85);
  --background-primary-alt: var(--gray-dark-75);
  --background-secondary: var(--gray-dark-7);
  --background-secondary-alt: var(--gray-dark-8);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --background-modifier-border: var(--gray-dark-9);
  --background-modifier-border-hover: black;
  --background-modifier-border-focus: var(--gray-dark-10);
  --background-modifier-error-rgb: var(--red-5-rgb);
  --background-modifier-error: var(--red-5);
  --background-modifier-error-hover: var(--red-4);
  --background-modifier-success-rgb: var(--green-5-rgb);
  --background-modifier-success: var(--green-5);
  --background-modifier-warning: var(--yellow-4);
  --background-modifier-warning-hover: var(--yellow-3);
  --background-modifier-info: var(--blue-5);
  --modifier-text: var(--gray-light-8);
  --modifier-text-accent: var(--gray-light-7);
  --background-modifier-message: var(--gray-dark-6);
  --background-modifier-form-field: var(--gray-dark-6);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: var(--primary-accent-2);
  --text-accent-hover: var(--primary-accent-1);
  --text-normal: var(--gray-light-1);
  --text-muted: var(--gray);
  --text-faint: var(--gray-dark-1);
  --text-error: var(--red-3);
  --text-success: var(--green-3);
  --text-highlight-fg: var(--gray-dark-7);
  --text-highlight-bg: var(--primary-accent-2);
  --text-highlight-bg-rgb: var(--primary-accent-2-rgb);
  --text-selection: rgba(var(--primary-accent-4-rgb), 0.2);
  --text-selection-active: rgba(var(--primary-accent-4-rgb), 0.01);
  --indentation-guide: var(--gray-dark-7);
  --indentation-guide-active: var(--gray-dark-6);
  --text-on-accent: var(--gray-light-8);
  --interactive-hover: var(--primary-accent-4);
  --interactive-normal: var(--gray-dark-6);
  --interactive-accent: var(--primary-accent-5);
  --interactive-accent-hover: var(--primary-accent-4);
  --interactive-toggle: var(--secondary-accent-4);
  --interactive-disabled: var(--background-modifier-form-field);
  --ebw-alpha2: rgba(0, 0, 0, 0.2);
  --ebw-alpha4: rgba(0, 0, 0, 0.4);
  --color-red-rgb: var(--red-2-rgb);
  --color-red: var(--red-2);
  --color-orange-rgb: var(--orange-2-rgb);
  --color-orange: var(--orange-2);
  --color-yellow-rgb: var(--yellow-2-rgb);
  --color-yellow: var(--yellow-2);
  --color-green-rgb: var(--green-2-rgb);
  --color-green: var(--green-2);
  --color-cyan-rgb: var(--cyan-2-rgb);
  --color-cyan: var(--cyan-2);
  --color-blue-rgb: var(--blue-2-rgb);
  --color-blue: var(--blue-2);
  --color-purple-rgb: var(--purple-2-rgb);
  --color-purple: var(--purple-2);
  --color-pink-rgb: var(--pink-2-rgb);
  --color-pink: var(--pink-2);
  --color-base-00: var(--gray-dark-10);
  --color-base-05: var(--gray-dark-9);
  --color-base-10: var(--gray-dark-85);
  --color-base-20: var(--gray-dark-8);
  --color-base-25: var(--gray-dark-75);
  --color-base-30: var(--gray-dark-7);
  --color-base-35: var(--gray-dark-6);
  --color-base-40: var(--gray-dark-5);
  --color-base-50: var(--gray-dark-3);
  --color-base-60: var(--gray-dark-1);
  --color-base-70: var(--gray);
  --color-base-100: var(--gray-light-1);
  --text-highlight-fg: var(--text-normal);
  --text-highlight-bg: rgba(var(--primary-accent-4-rgb), 0.15);
  --text-highlight-bg-rgb: var(--primary-accent-4-rgb);
  --text-highlight-fg: var(--gray-dark-7);
  --text-highlight-bg: var(--primary-accent-2);
  --text-highlight-bg-rgb: var(--primary-accent-2-rgb);
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary);
  --interactive-normal: var(--background-primary-alt);
  --ebw-tab-title-active-fg: var(--text-normal);
  --ebw-tab-title-active-bg: var(--secondary-accent-5);
  --ebw-tab-title-inactive-bg: var(--gray-dark-4);
  --ebw-tab-title-inactive-focused-bg: var(--gray-dark-4);
  --ebw-tab-title-active-focused-bg: var(--primary-accent-5);
  --ebw-he-title-border: var(--tab-outline-color);
  --he-title-bar-active-fg: var(--gray-light-6);
  --he-title-bar-active-bg: var(--secondary-accent-4);
  --he-title-bar-active-pinned-bg: var(--primary-accent-4);
  --he-title-bar-inactive-fg: var(--gray-light-3);
  --he-title-bar-inactive-bg: var(--gray-dark-3);
  --he-title-bar-inactive-pinned-bg: var(--gray-dark-3);
  --he-text-on-accent-inactive: var(--gray-dark-7);
  --he-text-on-accent-active: var(--gray-light-5);
  --graph-line: var(--gray-dark-5);
  --graph-node: var(--primary-accent-4);
  --graph-node-focused: var(--yellow-1);
  --graph-node-tag: var(--secondary-accent-3);
  --graph-node-attachment: var(--secondary-accent-2);
  --graph-node-unresolved: var(--gray);
  --h1-color: var(--yellow-2);
  --h2-color: var(--green-3);
  --h3-color: var(--cyan-3);
  --h4-color: var(--blue-3);
  --h5-color: var(--purple-3);
  --h6-color: var(--pink-3);
  --tag-color: var(--color-accent-2);
  --tag-color-hover: var(--tag-3);
  --code-normal: var(--blue-2);
  --calendar-year: var(--primary-accent-3);
  --calendar-month: var(--secondary-accent-3);
  --calendar-dividing-line: var(--primary-accent-1);
  --day-planner-timeline-fg: var(--primary-accent-3);
  --table-header-color: var(--text-on-accent);
  --table-header-background: var(--primary-accent-5);
  --ebw-table-header-alt: var(--primary-accent-4);
  --ebw-row-alt: rgba(0, 0, 0, 0.2);

  /*--light: var(--background-primary);
  --lightgray: var(--background-modifier-border);
  --gray: var(--checkbox-border-color);
  --darkgray: var(--text-normal);
  --dark: var(--h1-color);
  --secondary: var(--link-color);
  --tertiary: var(--link-color-hover);
  --highlight: var(--tag-background);
  --textHighlight: var(--text-highlight-bg);*/
  .callout {
    @each $type in $callout-types {
      &[data-callout="#{$type}"] {
        --color: rgb(var(#{"--callout-#{$type}"}));
        --border: rgba(var(#{"--callout-#{$type}"}), 0.267);
        --bg: rgba(var(#{"--callout-#{$type}"}), 0.063);
      }
    }
  }
}

:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 233, 49, 71;
  --color-red: #e93147;
  --color-orange-rgb: 236, 117, 0;
  --color-orange: #ec7500;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-green-rgb: 8, 185, 78;
  --color-green: #08b94e;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-blue-rgb: 8, 109, 221;
  --color-blue: #086ddd;
  --color-purple-rgb: 120, 82, 238;
  --color-purple: #7852ee;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5c5c5c;
  --color-base-100: #222222;
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 1),
    calc(var(--accent-s) * 1.01),
    calc(var(--accent-l) * 1.075)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);

  --background-primary: var(--gray-light-7);
  --background-primary-alt: var(--gray-light-5);
  --background-secondary: var(--gray-light-3);
  --background-secondary-alt: var(--gray-light-4);
  --background-modifier-hover: rgba(0, 0, 0, 0.075);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --background-modifier-border: var(--gray-light-1);
  --background-modifier-border-hover: var(--gray-light-2);
  --background-modifier-border-focus: var(--gray);
  --background-modifier-error-rgb: var(--red-4-rgb);
  --background-modifier-error: var(--red-4);
  --background-modifier-error-hover: var(--red-3);
  --background-modifier-success-rgb: var(--green-4-rgb);
  --background-modifier-success: var(--green-4);
  --background-modifier-warning: var(--yellow-3);
  --background-modifier-warning-hover: var(--yellow-4);
  --background-modifier-info: var(--blue-4);
  --modifier-text: white;
  --modifier-text-accent: var(--gray-light-7);
  --background-modifier-message: rgba(0, 0, 0, 0.9);
  --background-modifier-form-field: var(--background-primary);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --text-normal: var(--gray-dark-5);
  --text-muted: var(--gray-dark-4);
  --text-faint: var(--gray-dark-1);
  --text-accent: var(--primary-accent-4);
  --text-accent-hover: var(--primary-accent-5);
  --text-success: var(--green-4);
  --text-error: var(--red-4);
  --text-highlight-fg: var(--gray-dark-7);
  --text-highlight-bg-rgb: var(--primary-accent-4-rgb);
  --text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.2);
  --text-selection: rgba(var(--secondary-accent-4-rgb), 0.2);
  --interactive-hover: var(--primary-accent-1);
  --interactive-normal: var(--background-primary-alt);
  --text-on-accent: var(--gray-light-8);
  --interactive-accent: var(--primary-accent-4);
  --interactive-accent-hover: var(--primary-accent-3);
  --interactive-toggle: var(--secondary-accent-3);
  --interactive-disabled: var(--gray-light-3);
  --color-red-rgb: var(--red-4-rgb);
  --color-red: var(--red-4);
  --color-orange-rgb: var(--orange-4-rgb);
  --color-orange: var(--orange-4);
  --color-yellow-rgb: var(--yellow-3-rgb);
  --color-yellow: var(--yellow-3);
  --color-green-rgb: var(--green-4-rgb);
  --color-green: var(--green-4);
  --color-cyan-rgb: var(--cyan-4-rgb);
  --color-cyan: var(--cyan-4);
  --color-blue-rgb: var(--blue-4-rgb);
  --color-blue: var(--blue-4);
  --color-purple-rgb: var(--purple-4-rgb);
  --color-purple: var(--purple-4);
  --color-pink-rgb: var(--pink-4-rgb);
  --color-pink: var(--pink-4);
  --color-base-00: var(--gray-light-8);
  --color-base-05: var(--gray-light-7);
  --color-base-10: var(--gray-light-6);
  --color-base-20: var(--gray-light-5);
  --color-base-25: var(--gray-light-3);
  --color-base-30: var(--gray-light-2);
  --color-base-35: var(--gray-light-1);
  --color-base-40: var(--gray);
  --color-base-50: var(--gray-dark-1);
  --color-base-60: var(--gray-dark-3);
  --color-base-70: var(--gray-dark-4);
  --color-base-100: var(--gray-dark-8);
  --ebw-tab-title-active-fg: white;
  --ebw-tab-title-active-bg: var(--secondary-accent-4);
  --ebw-tab-title-inactive-bg: var(--gray-dark-3);
  --ebw-tab-title-active-focused-bg: var(--primary-accent-4);
  --ebw-he-title-border: var(--gray-dark-3);
  --he-title-bar-active-fg: white;
  --he-title-bar-active-bg: var(--secondary-accent-3);
  --he-title-bar-active-pinned-bg: var(--primary-accent-3);
  --he-title-bar-inactive-fg: var(--gray-light-5);
  --he-title-bar-inactive-bg: var(--gray-dark-1);
  --he-title-bar-inactive-pinned-bg: var(--gray-dark-1);
  --he-text-on-accent-inactive: var(--gray-dark-5);
  --he-text-on-accent-active: var(--gray-light-5);
  --graph-line: var(--gray-light-1);
  --graph-node: var(--primary-accent-2);
  --graph-node-focused: var(--yellow-1);
  --graph-node-tag: var(--secondary-accent-3);
  --graph-node-attachment: var(--secondary-accent-2);
  --graph-node-unresolved: var(--gray);
  --h1-color: var(--yellow-3);
  --h2-color: var(--green-4);
  --h3-color: var(--cyan-3);
  --h4-color: var(--blue-4);
  --h5-color: var(--purple-4);
  --h6-color: var(--pink-4);
  --tag-color: var(--color-accent);
  --tag-color-hover: var(--tag-4);
  --bold-color: var(--blue-4);
  --italic-color: var(--pink-4);
  --ebw-strong-em: var(--yellow-3);
  --ebw-link-underline: var(--cyan-3);
  --ebw-link-hidden: var(--cyan-2);
  --link-color: var(--gray-dark-3);
  --link-color-hover: var(--cyan-4);
  --checkbox-checked: var(--green-3);
  --checkbox-deferred: var(--blue-3);
  --checkbox-review: var(--green-3);
  --checkbox-important: var(--red-4);
  --checkbox-in-progress: var(--cyan-3);
  --checkbox-question: var(--yellow-3);
  --checkbox-cancelled: var(--gray-dark-1);
  --checkbox-hover: var(--gray-light-2);
  --blockquote-border-color: var(--secondary-accent-2);
  --ebw-callout-toc: 159, 159, 159;
  --ebw-callout-reference: 137, 137, 137;
  --ebw-callout-success: 92, 122, 99;
  --ebw-callout-note: 33, 75, 109;
  --ebw-callout-abstract: 88, 64, 84;
  --ebw-callout-info: 53, 119, 174;
  --ebw-callout-tip: 61, 126, 123;
  --ebw-callout-danger: 167, 92, 112;
  --callout-title-color: var(--blue-5);
  --callout-title-color: var(--blue-5);
  --callout-title-color: var(--blue-5);
  --callout-title-color: var(--blue-5);
  --callout-title-color: var(--blue-5);
  --callout-title-color: var(--blue-5);
  --callout-title-color: var(--purple-5);
  --callout-title-color: var(--purple-5);
  --callout-title-color: var(--purple-5);
  --callout-title-color: var(--purple-5);
  --callout-title-color: var(--purple-5);
  --callout-title-color: var(--cyan-5);
  --callout-title-color: var(--cyan-5);
  --callout-title-color: var(--cyan-5);
  --callout-title-color: var(--cyan-5);
  --callout-title-color: var(--cyan-5);
  --callout-title-color: var(--cyan-5);
  --callout-title-color: var(--green-5);
  --callout-title-color: var(--green-5);
  --callout-title-color: var(--green-5);
  --callout-title-color: var(--yellow-5);
  --callout-title-color: var(--yellow-5);
  --callout-title-color: var(--yellow-5);
  --callout-title-color: var(--red-5);
  --callout-title-color: var(--red-5);
  --callout-title-color: var(--red-5);
  --callout-title-color: var(--red-5);
  --callout-title-color: var(--red-5);
  --callout-title-color: var(--gray-dark-4);
  --callout-title-color: var(--gray-dark-4);
  --code-normal: var(--blue-4);
  --ebw-embed-border-color: var(--primary-accent-1);
  --calendar-year: var(--primary-accent-4);
  --calendar-month: var(--secondary-accent-4);
  --calendar-dividing-line: var(--primary-accent-1);
  --day-planner-timeline-fg: var(--primary-accent-1);
  --color-dot: var(--text-on-accent);
  --table-header-color: var(--gray-dark-7);
  --table-header-background: var(--primary-accent-1);
  --table-header-border-color: var(--primary-accent-3);
  --table-header-weight: var(--font-semibold);
  --ebw-table-header-alt: rgba(var(--primary-accent-4-rgb), 0.4);
  --ebw-row-alt: rgba(0, 0, 0, 0.05);

  /*--light: var(--background-primary);
  --lightgray: var(--background-modifier-border);
  --gray: var(--checkbox-border-color);
  --darkgray: var(--text-normal);
  --dark: var(--h1-color);
  --secondary: var(--link-color);
  --tertiary: var(--link-color-hover);
  --highlight: var(--tag-background);
  --textHighlight: var(--text-highlight-bg);*/
  .callout {
    @each $type in $callout-types {
      &[data-callout="#{$type}"] {
        --color: rgb(var(#{"--callout-#{$type}"}));
        --border: rgba(var(#{"--callout-#{$type}"}), 0.267);
        --bg: rgba(var(#{"--callout-#{$type}"}), 0.063);
      }
    }
  }
}

.callout {
  border: 1px solid var(--border);
  background-color: var(--bg);
}

/* LINKS */
a {
  --font-weight: var(--link-weight);
  color: var(--link-color);
  font-weight: var(--link-weight);
  outline: none;
  /* text-decoration-line: var(--link-decoration); */
  /* text-decoration-thickness: var(--link-decoration-thickness); */
  cursor: var(--cursor-link);
  transition: opacity 0.15s ease-in-out;
  background-position: center right;
  background-repeat: no-repeat;
  &:hover {
    color: var(--link-color-hover);
    /* text-decoration-line: var(--link-decoration-hover); */
  }
  &.internal {
    background-color: color_convert(var(--link-color), 15%);
    &.tag-link {
      --highlight-fallback: 258, 88%, 66%;
      --textHighlight-fallback: 255, 208, 0;
      color: var(--tag-color, var(--text-accent));
      text-decoration: var(--tag-decoration, none);
      background-color: var(
        --tag-background,
        hsla(var(--interactive-accent-hsl, var(--color-accent-hsl, var(--highlight-fallback))), 0.1)
      );
      &:hover {
        color: var(--tag-color-hover, var(--text-accent));
        text-decoration: var(--tag-decoration-hover, none);
        background-color: var(
          --tag-background-hover,
          hsla(var(--interactive-accent-hsl, var(--highlight-fallback)), 0.2)
        );
      }
    }
  }
  &.external {
    color: var(--link-external-color);
    /* text-decoration-line: var(--link-external-decoration); */
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent);
    background-color: transparent;
    /* background-size: 13px; */
    /* padding-inline-end: 16px; */
    /* background-position-y: 4px; */
    cursor: var(--cursor-link);
    filter: var(--link-external-filter);
    transition: opacity 0.15s ease-in-out;
    &:hover {
      color: var(--link-external-color-hover);
      /* text-decoration-line: var(--link-external-decoration-hover); */
    }
  }
}

/* TAGS */
a.tag {
  background-color: var(--tag-background);
  border: var(--tag-border-width) solid var(--tag-border-color);
  border-radius: var(--tag-radius);
  color: var(--tag-color);
  /* font-size: var(--tag-size); */
  font-weight: var(--tag-weight);
  /* text-decoration: var(--tag-decoration); */
  /* padding: var(--tag-padding-y) var(--tag-padding-x); */
  /* line-height: 1; */
  &:hover {
    background-color: var(--tag-background-hover);
    border: var(--tag-border-width) solid var(--tag-border-color-hover);
    color: var(--tag-color-hover);
    text-decoration: var(--tag-decoration-hover);
  }
}
input[type="checkbox"] {
  appearance: none;
  appearance: none;
  border-radius: var(--checkbox-radius);
  border: 1px solid var(--checkbox-border-color);
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  margin-inline-end: 6px;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  position: relative;
  transition: box-shadow 0.15s ease-in-out;
}
input[type="checkbox"]:hover,
input[type="checkbox"]:active,
input[type="checkbox"]:focus {
  outline: 0;
  border-color: var(--checkbox-border-color-hover);
}
input[type="checkbox"]:focus-visible {
  box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
}
input[type="checkbox"]:checked:after {
  content: "";
  top: -1px;
  inset-inline-start: -1px;
  position: absolute;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  display: block;
  background-color: var(--checkbox-marker-color);
  mask-position: 52% 52%;
  mask-size: 65%;
  mask-repeat: no-repeat;
  mask-image: url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23000000"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
}
input[type="checkbox"]:checked {
  background-color: var(--checkbox-color);
  border-color: var(--checkbox-color);
}
@media (hover: hover) {
  input[type="checkbox"]:checked:hover {
    background-color: var(--checkbox-color-hover);
    border-color: var(--checkbox-color-hover);
  }
}
input[type="checkbox"][data-indeterminate="true"]:not(:checked):after {
  content: "";
  position: absolute;
  top: calc(var(--checkbox-size) / 2 - 2px);
  width: calc(var(--checkbox-size) - 6px);
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2px;
  display: block;
  border-radius: 2px;
  background-color: var(--text-normal);
}

/* HEADINGS */
h1 {
  --font-weight: var(--h1-weight);
  font-variant: var(--h1-variant);
  /* letter-spacing: -0.015em; */
  /* line-height: var(--h1-line-height); */
  /* font-size: var(--h1-size); */
  color: var(--h1-color);
  font-weight: var(--font-weight);
  font-style: var(--h1-style);
  /* font-family: var(--h1-font); */
  /* margin-block-start: var(--p-spacing); */
  /* margin-block-end: var(--p-spacing); */
}
h1 a {
  --link-weight: var(--h1-weight);
}
h2 {
  --font-weight: var(--h2-weight);
  font-variant: var(--h2-variant);
  /* letter-spacing: -0.015em; */
  /* line-height: var(--h2-line-height); */
  /* font-size: var(--h2-size); */
  color: var(--h2-color);
  font-weight: var(--font-weight);
  font-style: var(--h2-style);
  /* font-family: var(--h2-font); */
  /* margin-block-start: var(--p-spacing); */
  /* margin-block-end: var(--p-spacing); */
}
h2 a {
  --link-weight: var(--h2-weight);
}
h3 {
  --font-weight: var(--h3-weight);
  font-variant: var(--h3-variant);
  /* letter-spacing: -0.015em; */
  /* line-height: var(--h3-line-height); */
  /* font-size: var(--h3-size); */
  color: var(--h3-color);
  font-weight: var(--font-weight);
  font-style: var(--h3-style);
  /* font-family: var(--h3-font); */
  /* margin-block-start: var(--p-spacing); */
  /* margin-block-end: var(--p-spacing); */
}
h3 a {
  --link-weight: var(--h3-weight);
}
h4 {
  --font-weight: var(--h4-weight);
  font-variant: var(--h4-variant);
  /* letter-spacing: 0.015em; */
  /* line-height: var(--h4-line-height); */
  /* font-size: var(--h4-size); */
  color: var(--h4-color);
  font-weight: var(--font-weight);
  font-style: var(--h4-style);
  /* font-family: var(--h4-font); */
  /* margin-block-start: var(--p-spacing); */
  /* margin-block-end: var(--p-spacing); */
}
h4 a {
  --link-weight: var(--h4-weight);
}
h5 {
  --font-weight: var(--h5-weight);
  font-variant: var(--h5-variant);
  /* letter-spacing: 0.015em; */
  /* font-size: var(--h5-size); */
  /* line-height: var(--h5-line-height); */
  color: var(--h5-color);
  font-weight: var(--font-weight);
  font-style: var(--h5-style);
  /* font-family: var(--h5-font); */
  /* margin-block-start: var(--p-spacing); */
  /* margin-block-end: var(--p-spacing); */
}
h5 a {
  --link-weight: var(--h5-weight);
}
h6 {
  --font-weight: var(--h6-weight);
  font-variant: var(--h6-variant);
  /* letter-spacing: 0.015em; */
  /* font-size: var(--h6-size); */
  /* line-height: var(--h6-line-height); */
  color: var(--h6-color);
  font-weight: var(--font-weight);
  font-style: var(--h6-style);
  /* font-family: var(--h6-font); */
  /* margin-block-start: var(--p-spacing); */
  /* margin-block-end: var(--p-spacing); */
}
h6 a {
  --link-weight: var(--h6-weight);
}

/* CODE */
code {
  color: var(--code-normal);
  font-family: var(--font-monospace);
}
*:is(:not(pre)) > code {
  background-color: var(--code-background);
}

/* EXPLORER, TOC, BACKLINKS */
#toc-content,
#explorer-content,
.backlinks {
  ul {
    li > a {
      color: var(--nav-item-color, var(--text-muted, var(--dark)));
      &:hover {
        color: var(--nav-item-color-hover, var(--text-normal, var(--tertiary)));
      }
    }
  }
}
.backlinks:after {
  background: unset;
}

.explorer {
  &:after {
    background: unset;
  }
}
button#explorer {
  color: var(--collapse-icon-color-collapsed, var(--nav-heading-color-collapsed));
}
#explorer-content {
  & ul {
    & li a {
      color: var(--nav-item-color, var(--nav-heading-color-collapsed));
    }
  }
}

.folder-container {
  .folder-icon {
    color: var(--collapse-icon-color-collapsed, var(--nav-heading-color-collapsed));
    &:hover {
      .folder-icon {
        color: var(--collapse-icon-color-collapsed, var(--nav-heading-color-collapsed-hover));
      }
    }
  }
  div > a,
  div > button,
  div > button > span {
    color: var(--nav-item-color, var(--nav-heading-color-collapsed));
    &:hover {
      color: var(--nav-item-color-hover, var(--nav-heading-color-collapsed-hover));
    }
  }
  &:has(+ div.folder-outer.open) {
    .folder-icon {
      color: var(--collapse-icon-color, var(--nav-heading-color));
      &:hover {
        color: var(--collapse-icon-color, var(--nav-heading-color-hover));
      }
    }
    div > a,
    div > button,
    div > button > span {
      color: var(--nav-heading-color);
      &:hover {
        color: var(--nav-heading-color-hover);
      }
    }
  }
}

/* SEARCH */
.search .search-button {
  background-color: var(
    --background-modifier-form-field,
    var(--search-result-background, var(--background-primary, var(--lightgray)))
  );
  color: var(--search-clear-button-color, var(--text-muted, var(--darkgray)));
  svg {
    color: var(--search-icon-color, var(--text-muted, var(--darkgray)));
    stroke: var(--search-icon-color, var(--text-muted, var(--darkgray)));
  }
}

/* DARKMODE */
.darkmode {
  & svg {
    color: var(--search-icon-color, var(--text-muted, var(--darkgray)));
    fill: var(--search-icon-color, var(--text-muted, var(--darkgray)));
  }
}

/* PAGE TITLE */
.page-title a {
  color: var(--h2-color, var(--link-color, var(--darkgray)));
}

/* METADATA */
.content-meta {
  color: var(--text-faint);
}

/* GRAPH */
.graph {
  & > .graph-outer {
    border: 1px solid var(--background-modifier-border-hover, var(--color-base-35));
    --background-modifier-border-focus: var(--color-base-40);
    & > #global-graph-icon {
      color: var(--search-icon-color, var(--text-muted, var(--darkgray)));
      &:hover {
        background-color: var(--background-modifier-hover);
      }
    }
  }
  & > #global-graph-outer {
    & > #global-graph-container {
      border: 1px solid var(--background-modifier-border-hover, var(--color-base-35));
      background-color: var(--background-primary);
    }
  }
}

/* MISC */
hr {
  border: none;
  border-top: var(--hr-thickness, 2px) solid;
  border-color: var(--hr-color, var(--background-modifier-border, var(--lightgray)));
}

.clipboard-button {
  color: var(--text-muted);
  border-color: var(--checkbox-border-color, var(--text-faint));
  background-color: transparent;
  &:hover {
    border-color: var(--checkbox-border-color-hover, var(--text-muted));
    background-color: var(--background-modifier-hover);
  }
  & > svg {
    fill: var(--search-icon-color, var(--text-muted, var(--darkgray)));
  }
}

details#toc {
  & summary {
    cursor: pointer;

    &::marker {
      color: var(--text-muted);
    }
  }
}

/* POPOVER */
.popover {
  & .popover-inner {
    border: var(--background-modifier-border, var(--color-base-30));
    background-color: var(--background-primary);
  }
}

/* BACKGROUNDS */
body,
section {
  background-color: var(--background-primary);
}

.search > #search-container > #search-space > * {
  background-color: var(--background-secondary, var(--background-primary));
}

/* TEXT */
strong {
  color: var(--bold-color);
}
i,
em {
  color: var(--italic-color);
}
p,
ul,
text,
a,
tr,
td,
li,
ol,
ul,
.katex,
.math {
  color: var(--text-normal);
}

/* START CANVAS GRAPH WORKAROUND */
:root:root {
  --highlight-fallback: 258, 88%, 66%;
  --textHighlight-fallback: 255, 208, 0;
  --light: var(
    --graph-node,
    var(--text-muted, var(--background-primary, var(--color-base-00, #ffffff)))
  ) !important;
  --lightgray: var(
    --graph-line,
    var(
      --color-base-35,
      var(
        --background-modifier-border-focus,
        var(--background-modifier-border, var(--color-base-30, #e0e0e0))
      )
    )
  ) !important;
  --gray: var(
    --graph-node,
    var(
      --text-muted,
      var(
        --graph-text,
        var(--text-normal, var(--checkbox-border-color, var(--text-faint, #ababab)))
      )
    )
  ) !important;
  --darkgray: var(
    --graph-node-unresolved,
    var(--text-faint, var(--text-normal, var(--color-base-100, #222222)))
  ) !important;
  --dark: var(--h1-color, var(--text-faint, #ababab)) !important;
  --secondary: var(
    --graph-node-focused,
    var(
      --text-accent,
      var(--link-color, var(--text-accent, var(--color-accent, hsl(258, 88%, 66%))))
    )
  ) !important;
  --tertiary: var(
    --graph-node-tag,
    var(
      --color-green,
      var(
        --link-color-hover,
        var(--text-accent-hover, var(--color-accent-2, hsl(258 - 3, 88% * 1.02, 66% * 1.15)))
      )
    )
  ) !important;
  --highlight: var(
    --tag-background,
    hsla(var(--interactive-accent-hsl, var(--color-accent-hsl, var(--highlight-fallback))), 0.1)
  ) !important;
  --textHighlight: var(
    --text-highlight-bg,
    rgba(var(--text-highlight-bg-rgb, var(--textHighlight-fallback)), 0.4)
  ) !important;
}

:root:root[saved-theme="dark"] {
  --highlight-fallback: 258, 88%, 66%;
  --textHighlight-fallback: 255, 208, 0;
  --light: var(
    --graph-node,
    var(--text-muted, var(--background-primary, var(--color-base-00, #1e1e1e)))
  ) !important;
  --lightgray: var(
    --graph-line,
    var(
      --color-base-35,
      var(
        --background-modifier-border-focus,
        var(--background-modifier-border, var(--color-base-30, #363636))
      )
    )
  ) !important;
  --gray: var(
    --graph-node,
    var(
      --text-muted,
      var(
        --graph-text,
        var(--text-normal, var(--checkbox-border-color, var(--text-faint, #666666)))
      )
    )
  ) !important;
  --darkgray: var(
    --graph-node-unresolved,
    var(--text-faint, var(--text-normal, var(--color-base-100, #dadada)))
  ) !important;
  --dark: var(--h1-color, var(--text-faint, #666666)) !important;
  --secondary: var(
    --graph-node-focused,
    var(
      --text-accent,
      var(
        --link-color,
        var(--text-accent, var(--color-accent-1, hsl(258 - 3, 88% * 1.02, 66% * 1.15)))
      )
    )
  ) !important;
  --tertiary: var(
    --graph-node-tag,
    var(
      --color-green,
      var(
        --link-color-hover,
        var(--text-accent-hover, var(--color-accent-2, hsl(258 - 5, 88% * 1.05, 66% * 1.29)))
      )
    )
  ) !important;
  --highlight: var(
    --tag-background,
    hsla(var(--interactive-accent-hsl, var(--color-accent-hsl, var(--highlight-fallback))), 0.2)
  ) !important;
  --textHighlight: var(
    --text-highlight-bg,
    rgba(var(--text-highlight-bg-rgb, var(--textHighlight-fallback)), 0.4)
  ) !important;
}
/* END CANVAS GRAPH WORKAROUND */
