.lightPalette-green {
  --OT-theme-reference-color: #0b7931;
  --color-base-00: #f0fdf4;
  --color-base-20: #dcfce7;
  --color-base-35: #12d856;
  --color-base-40: #70ec9d;
  --color-base-50: #75857b;
  --color-base-70: #0d993d;
  --color-base-05: #bdf9d2;
  --code-background: #dffae7;
  --OT-button-OFF-bg: #bdf9d2;
  --color-base-100: #0f7635;
  --link-color: #537622;
  --checklist-done-color: #096a2a;
  --OT-color-on-base-20: #085c27;
  /*    --h1-color:                        #202770; */
  /*    --h3-color:                        #252C73; */
  /*    --h5-color:                        #797B9D; */
  --OT-table-alt-background: #e8f9ee;
  --OT-table-background: #e7fdef;
  --OT-table-header-background: #ddfce8;
  /*    --OT-view-header-title-focus-color:        var(--OT-theme-reference-color); */
  --OT-view-header-title-no-focus-color: var(--color-base-50);
  --OT-stabilo-mark: #2ba727;
  --OT-stabilo-text: #ccfbdc;
}
