:root[saved-theme="light"] {
  --color-base-00: #ffffff;
  --color-base-05: #fefefe;
  --color-base-10: #fafafa;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #727272;
  --color-base-70: #555555;
  --color-base-80: #444444;
  --color-base-100: #000000;
  --color-accent: rgb(200, 100, 100);
  --color-accent-1: rgb(200, 100, 100);
  --color-accent-2: rgb(220, 120, 120);
  --background-primary: var(--color-base-05);
  --background-secondary: hsl(18, 65%, 98%);
  --inline-title-color: var(--color-base-100);
  --h1-color: var(--color-base-100);
  --h2-color: var(--color-base-100);
  --h3-color: var(--color-base-80);
  --h4-color: var(--color-base-80);
  --h5-color: var(--color-base-80);
  --h6-color: var(--color-base-80);
  --text-normal: var(--color-base-70);
  --text-selection: var(--color-accent);
  --link-external-color: var(--color-accent);
  --link-unresolved-color: var(--color-accent-2);
  --collapse-icon-color-collapsed: var(--color-accent);
  --hr-color: var(--color-base-25);
  --titlebar-background: var(--color-base-20);
  --titlebar-background-focused: var(--color-base-20);
  --background-modifier-active-hover: rgb(250, 240, 240);
  --interactive-accent: var(--color-accent);
  --blockquote-background-color: var(--color-base-05);
  --blockquote-border-color: var(--color-accent);
  --prompt-border-color: var(--color-accent);
  --tab-text-color-active: var(--color-base-100);
  --tab-text-color-focused-active: var(--color-base-100);
  --tab-text-color-focused-active-current: var(--color-base-100);
  --table-header-background: var(--color-base-20);
  --code-background: var(--color-base-20);
  --code-normal: var(--color-base-80);
  --code-comment: var(--color-base-40);
  --code-function: hsl(0, 50%, 55%);
  --code-important: hsl(0, 50%, 55%);
  --code-keyword: hsl(29, 57%, 55%);
  --code-operator: var(--color-base-60);
  --code-property: hsl(197, 53%, 55%);
  --code-punctuation: var(--color-base-40);
  --code-string: hsl(93, 30%, 65%);
  --code-tag: hsl(0, 50%, 60%);
  --code-value: hsl(29, 50%, 55%);
  --tag-color: var(--color-base-10);
  --tag-color-hover: var(--color-base-00);
  --tag-background: var(--color-accent);
  --tag-background-hover: var(--color-accent-2);
  --nav-item-color-hover: var(--color-base-20);
  --nav-item-background-hover: var(--color-accent);
  --nav-item-color-active: var(--color-base-20);
  --nav-item-background-active: var(--color-accent);

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
