,
.theme-light {
  --outer-bar: #eef3fd;
  --dark-sidebar: #e8f9f7;
  --accent-color: 67, 193, 165;
  --accent: #43c1a5;
  --lite-accent: #51a38e;
  --dark-accent: #25a99e;
  --deep-dark-accent: #102f26;
  --accent2: #d6eae3;
  --accent2-lite: #75c8b9;
  --headers: #40b1a4;
  --text: #697580;
  --soft-text: #4ed0b8;
  --code-text: #69cfd2;
  --i-at: #43c1ae;
  --footnote: #89a09e;
  --inactive: #a6ded4;
  --tag-text: var(--accent);
  --folder: var(--headers);
  --folder-open: #a1d9ff;
  --folder-text-color: #7ea3a2;
  --file-icon-color: #a6ded8;
  --fg: #2e918a;
  --bg: var(--table);
  --embed-bg: #f1f5ff;
  --tag: #49b99d;
  --th: var(--headers);
  --td: rgba(145, 212, 199, 0.27);
  --table: #ccebe2;
  --hr: #d6eae9;
  --lines: #b8e5e7;
  --drop-shadow: rgba(0, 74, 52, 0.08);
  --highlight: rgba(144, 237, 231, 0.5);
  --hvr: rgba(131, 240, 207, 0.3);
  --hvr-active: rgba(119, 220, 193, 0.5);
  --theme-rainbow-1: var(--code-text);
  --theme-rainbow-2: var(--accent2-lite);
  --theme-rainbow-3: var(--accent);
  --theme-rainbow-4: var(--lite-accent);
  --theme-rainbow-5: var(--fg);
  --theme-rainbow-6: var(--deep-dark-accent);
}
