:root[saved-theme="dark"] {
  --color-red-rgb: 192, 60, 64;
  --color-red: #c03c40;
  --color-orange-rgb: 168, 111, 50;
  --color-orange: #a86f32;
  --color-yellow-rgb: 141, 139, 29;
  --color-yellow: #8d8b1d;
  --color-green-rgb: 51, 165, 85;
  --color-green: #33a555;
  --color-cyan-rgb: 51, 150, 148;
  --color-cyan: rgb(51, 150, 148);
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 16135, 110, 196;
  --color-purple: #876ec4;
  --color-pink-rgb: 175, 96, 138;
  --color-pink: #af608a;
  --color-base-00: #171b21;
  --color-base-10: #262c36;
  --color-base-20: #262c36;
  --color-base-25: #303845;
  --color-base-30: #455063;
  --color-base-35: #546178;
  --color-base-40: #647590;
  --color-base-50: #7b89a3;
  --color-base-60: #939fb4;
  --color-base-70: #aeb7c7;
  --color-base-100: #ccd2db;
  --titlebar-background: var(--color-base-25);
  --line-number-color: var(--color-base-50);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
