:root[saved-theme="light"] {
  --shadow-color: 0deg 5% 59%;
  --color-accent-rgb: var(--color-accent-rgb-l);
  --background: rgb(var(--gray-10));
  --background-hover: rgba(var(--gray-50), 0.12);
  --background-active: rgba(var(--gray-50), 0.32);
  --background-selected: rgba(var(--gray-50), 0.2);
  --background-selected-hover: rgba(var(--gray-50), 0.32);
  --background-inverse: rgb(var(--gray-80));
  --background-inverse-hover: rgba(var(--gray-70), 0.5);
  --layer-1: rgb(var(--white));
  --layer-2: rgb(var(--gray-10));
  --layer-hover-1: rgb(var(--gray-10));
  --layer-hover-2: rgba(var(--gray-20), 0.5);
  --layer-active-1: rgb(var(--gray-30));
  --layer-active-2: rgb(var(--gray-30));
  --layer-selected-1: rgb(var(--gray-20));
  --layer-selected-2: rgb(var(--gray-20));
  --layer-selected-hover-1: rgba(var(--gray-30), 0.5);
  --layer-selected-hover-2: rgba(var(--gray-30), 0.5);
  --field-1: rgb(var(--white));
  --field-hover-1: rgb(var(--gray-20));
  --border-subtle-0: rgb(var(--gray-20));
  --border-subtle-1: rgb(var(--gray-20));
  --border-subtle-2: rgb(var(--gray-20));
  --border-subtle-selected-1: rgb(var(--gray-30));
  --border-subtle-selected-2: rgb(var(--gray-30));
  --border-strong-1: rgb(var(--gray-50));
  --border-strong-2: rgb(var(--gray-50));
  --border-inverse: rgb(var(--gray-100));
  --text-code: var(--pink-60);
  --text-primary: rgb(var(--gray-100));
  --text-secondary: rgb(var(--gray-70));
  --text-placeholder: rgb(var(--gray-40));
  --icon-primary: rgb(var(--gray-100));
  --icon-secondary: rgb(var(--gray-70));
  --icon-on-color: rgb(var(--white));
  --icon-inverse: rgb(var(--white));
  --focus: var(--cyan-60);
  --focus-inset: rgb(var(--white));
  --focus-inverse: rgb(var(--white));
  --interactive: rgb(var(--color-accent-rgb));
  --highlight: rgba(var(--color-accent-rgb), 0.7);
  --overlay: rgba(var(--gray-100), 0.5);
  --background: rgb(var(--white));
  --layer-1: rgb(var(--gray-10));
  --layer-2: rgb(var(--white));
  --layer-hover-1: rgba(var(--gray-20), 0.5);
  --highlight: rgba(var(--color-accent-rgb), 0.7);
  --field-1: rgb(var(--gray-10));
  --field-hover-1: rgb(var(--white));
  --background-primary: rgb(var(--white));
  --color-red-rgb: 197, 65, 40;
  --color-green-rgb: 102, 153, 97;
  --color-yellow-rgb: 243, 189, 79;
  --text-highlight-bg: var(--highlight);
  --text-highlight-bg-active: var(--highlight);
  --color-accent: var(--interactive);
  --color-accent-1: var(--interactive);
  --color-accent-2: var(--interactive);
  --background-primary: var(--background);
  --background-primary-alt: var(--layer-1);
  --background-secondary: var(--background);
  --background-secondary-alt: var(--background);
  --background-modifier-hover: var(--background-hover);
  --background-modifier-active-hover: rgba(var(--color-accent-rgb), 0.15);
  --background-modifier-border: var(--border-subtle-0);
  --background-modifier-border-hover: var(--border-subtle-1);
  --background-modifier-border-focus: var(--focus);
  --background-modifier-error-rgb: var(--color-red-rgb);
  --background-modifier-error: var(--red);
  --background-modifier-error-hover: var(--red);
  --background-modifier-success-rgb: var(--color-green-rgb);
  --background-modifier-success: var(--green);
  --background-modifier-message: var(--layer-1);
  --background-modifier-form-field: var(--field-1);
  --text-normal: var(--text-primary);
  --text-muted: var(--text-secondary);
  --text-faint: var(--text-placeholder);
  --text-on-accent: rgb(var(--white));
  --text-error: var(--red);
  --text-success: var(--green);
  --text-selection: rgba(var(--color-accent-rgb), 0.5);
  --code-background: var(--layer-hover-2);
  --code-normal: var(--text-muted);
  --code-comment: var(--text-faint);
  --code-punctuation: var(--text-muted);
  --code-tag: var(--red);
  --code-value: var(--lavender);
  --code-string: var(--green);
  --code-property: var(--cyan);
  --code-function: var(--orange);
  --code-keyword: var(--pink);
  --code-important: var(--lavender);
  --indentation-guide: rgba(var(--mono-rgb-100), 0.15);
  --indentation-guide-active: rgba(var(--mono-rgb-100), 0.3);
  --shadow-color: 60deg 5% 59%;
  --background-modifier-cover: var(--background-hover);
  --shadow-color: 60deg 5% 59%;
  --shadow-color: 60deg 5% 59%;
  --shadow-color: 60deg 5% 59%;
  --shadow-color: 60deg 5% 59%;
  --shadow-color: 60deg 5% 59%;
  --shadow-color: 60deg 5% 59%;
}
