:root:root {
  --background-primary-alt: var(--black);
  --background-primary: var(--black);
  --background-secondary-alt: var(--black);
  --background-secondary: var(--black);
  --text-normal: var(--white);
  --text-on-accent: var(--white);
  --text-selection: var(--darkslateblue);

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
