body .markdown-rendered hr,
body .cm-line.hr hr {
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--hr-color) 30%,
    var(--hr-color) 70%,
    transparent
  );
  border: none;
}
