:root[saved-theme="dark"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #111111;
  --color-base-05: #212121;
  --color-base-10: #782b1d52;
  --color-base-20: #111111;
  --color-base-25: #2a2a2a;
  --color-base-30: #212121;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #782a1d;
  --color-base-60: #999999;
  --color-base-70: #a27f47;
  --color-base-100: #ebca97;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: #a27f47;
  --color-accent-2: #ebca97;
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-accent: var(--color-accent-1);
  --interactive-accent: #782a1d;
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: #782b1d52;
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --hr-color: #782a1d;
}
