@font-face {
  font-family: "Avenir Next";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/94f2f163d4b698242fef.otf);
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(public/fonts/72505e6a122c6acd5471.woff2) format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(public/fonts/2d5198822ab091ce4305.woff2) format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/c8ba52b05a9ef10f4758.woff2);
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(public/fonts/cb10ffd7684cd9836a05.woff2);
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/b5f0f109bc88052d4000.woff2);
}
@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/cbe0ae49c52c920fd563.woff2);
}
@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url(public/fonts/535a6cf662596b3bd6a6.woff2);
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/70cc7ff27245e82ad414.ttf);
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url(public/fonts/454577c22304619db035.ttf);
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/52ac8f3034507f1d9e53.ttf);
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url(public/fonts/05b618077343fbbd92b7.ttf);
}
@font-face {
  font-family: "Flow Circular";
  font-display: swap;
  src: url(public/fonts/4bb6ac751d1c5478ff3a.woff2);
}
@font-face {
  font-family: "??";
  unicode-range: U+0;
}
