:root[saved-theme="dark"] {
  --color-dark1-rgb: var(--color-dark1);
  --color-light1-rgb: var(--color-light1);
  --background-primary: var(--color-dark1-rgb);
  --background-secondary: var(--color-dark1-rgb);
  --text-normal: var(--color-light1);
  --text-muted: rgba(var(--color-light1-rgb), 0.8);
  --text-faint: rgba(var(--color-light1-rgb), 0.5);
  --link-color: var(--color-salmon);
  --h1-color: var(--sandover-purple);
  --text-highlight-bg: rgba(var(--color-yellow-light-rgb), 0.3);
  --text-accent: var(--color-salmon);
  --tag-color: var(--color-salmon);
  --list-marker-color: var(--color-light1);
  --blockquote-border-color: none;
  --blockquote-color: var(--color-cyan);
  --indentation-guide-color: var(--color-base-25);
  --indentation-guide-color-active: var(--sandover-purple);
  --ribbon-background: rgba(var(--color-dark1-rgb), 0.5);
  --ribbon-background-collapsed: rgba(var(--color-dark1-rgb), 0.5);
  --titlebar-background: var(--color-salmon);
  --titlebar-background-focused: var(--color-salmon);
  --titlebar-text-color: #000000;
  --titlebar-text-color-focused: #000000;
  --titlebar-text-weight: 300;
  --status-bar-border-color: #141300;
  --background-modifier-active-hover: var(--color-salmon);
  --titlebar-text-color-focused: var(--color-light1);
  --accent-h: 9;
  --accent-s: 89%;
  --accent-l: 66%;
  --code-normal: var(--text-normal);
  --code-comment: var(--sandover-purple);
  --code-function: var(--color-cyan);
  --code-important: var(--color-orange);
  --code-keyword: var(--color-green);
  --code-operator: var(--code-normal);
  --code-property: var(--code-normal);
  --code-punctuation: var(--code-normal);
  --code-string: var(--color-cyan);
  --code-tag: var(--color-red);
  --code-value: var(--color-blue);
  --table-header-size: inherit;
  --table-header-weight: var(--font-bold);
  --table-header-color: inherit;
  --background-modifier-border-focus: var(--interactive-accent);

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
