:root[saved-theme="light"] {
  --accent-h: 9;
  --accent-s: 89%;
  --accent-l: 66%;
  --interactive-accent: var(--color-accent);
  --background-primary: var(--color-light1);
  --background-primary-alt: var(--color-light1);
  --background-secondary: var(--color-light1);
  --text-normal: #000000;
  --text-muted: #000000;
  --text-faint: #000000;
  --link-color: var(--color-salmon);
  --text-accent: var(--color-salmon);
  --tag-color: var(--color-salmon);
  --h1-color: var(--sandover-purple);
  --text-highlight-bg: var(--color-yellow-light);
  --titlebar-text-color-focused: #000000;
  --nav-item-color-hover: #000000;
  --interactive-hover: rgba(var(--color-salmon), 0.5);
  --interactive-accent-hover: var(--color-salmon);
  --text-error: var(--color-red);
  --blockquote-border-color: none;
  --blockquote-color: var(--color-blue);
  --indentation-guide-color: var(--color-base-25);
  --indentation-guide-color-active: var(--sandover-purple);
  --list-marker-color: #000000;
  --ribbon-background: var(--color-light1);
  --ribbon-background-collapsed: var(--color-light1);
  --titlebar-background: var(--color-salmon-lighter);
  --titlebar-background-focused: var(--color-salmon-lighter);
  --titlebar-text-color: #fffcf4;
  --titlebar-text-color-focused: #000000;
  --titlebar-text-weight: 300;
  --status-bar-border-color: #141300;
  --background-modifier-active-hover: var(--color-salmon-lighter);
  --color-base-35: #fffcf4;
  --icon-color-hover: var(--color-salmon);
  --accent-h: 9;
  --accent-s: 89%;
  --accent-l: 66%;
  --code-normal: var(--text-normal);
  --code-comment: var(--sandover-purple);
  --code-function: var(--color-cyan);
  --code-important: var(--color-orange);
  --code-keyword: var(--color-green);
  --code-operator: var(--code-normal);
  --code-property: var(--code-normal);
  --code-punctuation: var(--code-normal);
  --code-string: var(--color-cyan);
  --code-tag: var(--color-red);
  --code-value: var(--color-blue);
  --table-header-size: inherit;
  --table-header-weight: var(--font-bold);
  --table-header-color: inherit;
  --background-modifier-border-focus: var(--interactive-accent);

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
