:root:root {
  --interactive-accent: #00aaad;
  --text-accent: #00aaad;
  --text-accent-hover: #00aaad;
  --interactive-accent-hover: #00aaad;
  --background-primary: #111827;
  --background-primary-alt: #111827;
  --background-secondary: #1f2937;
  --background-secondary-alt: #1f2937;
  --text-normal: #d1d5db;
  --text-faint: #d1d5db;
  --text-title-h1: #d1d5db;
  --text-title-h2: #d1d5db;
  --text-title-h3: #d1d5db;
  --text-title-h4: #d1d5db;
  --text-title-h5: #d1d5db;
  --text-title-h6: #d1d5db;
  --text-highlight-bg: #374151;
  --text-link: #d1d5db;
  --text-a-hover: #d1d5db;
  --inline-code: #d1d5db;
  --code-block: #d1d5db;
  --text-a: #d1d5db;
  --text-on-accent: #d1d5db;
  --interactive-accent-rgb: #d1d5db;
  --vim-cursor: #d1d5db;
  --pre-code: #000000;
  --interactive-before: #374151;
  --background-modifier-border: #374151;
  --text-selection: #374151;
  --text-faint: #4b5563;
  --file-line-width: 750px;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
