:root[saved-theme="dark"] {
  --main-node: #ffbe00;
  --main-node-hover: #fe6a26;
  --tags: #f1ee26;
  --external-link: #82d2e8;
  --external-link-hidden: rgba(131, 197, 235, 0.3);
  --main-background: rgb(36, 36, 36);
  --secondary-background: rgb(27, 27, 27);
  --secondary-background-low-opacity: rgba(27, 27, 27, 0.329);
  --attachments: rgb(105, 188, 235);
  --accent-1: #f07128;
  --accent-2: #eb9239;
  --accent-3: #f1b125;
  --accent-4: #a0e73c;
  --accent-5: #62deac;
  --accent-6: #62b7de;
  --text-normal: rgb(201, 201, 201);
  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);
  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);
  --interactive-accent: var(--main-node);
  --interactive-accent-hover: var(--main-node-hover);
  --text-on-accent: black;
  --background-modifier-error: #cf2d2d;
  --background-modifier-error-hover: #a72020;
  --text-highlight-bg: #e9b35f;
  --h1-gradient: #d72, #810, #e52, #c12;
  --h2-gradient: #f82, #922, #222;
  --h2-icon-color: #da6212;
  --h3-h6-icon-color: #ff6a6a;
  --main-node: #4a90e2;
  --main-node-hover: #2c78d4;
  --tags: #61dafb;
  --external-link: #82d2e8;
  --external-link-hidden: rgba(131, 197, 235, 0.3);
  --main-background: rgb(36, 36, 36);
  --secondary-background: rgb(27, 27, 27);
  --secondary-background-low-opacity: rgba(27, 27, 27, 0.329);
  --attachments: rgb(105, 188, 235);
  --accent-1: #3498db;
  --accent-2: #2980b9;
  --accent-3: #1abc9c;
  --accent-4: #080e0c;
  --accent-5: #2ecc71;
  --accent-6: #27ae60;
  --text-normal: rgb(201, 201, 201);
  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);
  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);
  --interactive-accent: var(--main-node);
  --interactive-accent-hover: var(--main-node-hover);
  --text-on-accent: white;
  --background-modifier-error: #e74c3c;
  --background-modifier-error-hover: #c0392b;
  --text-highlight-bg: #3498db;
  --h1-gradient: #4a90e2, #0a2c57, #3498db, #2980b9;
  --h2-gradient: #61dafb, #3498db, #222;
  --h2-icon-color: #4a90e2;
  --h3-h6-icon-color: #61dafb;
  --main-node: #2ecc71;
  --main-node-hover: #27ae60;
  --tags: #a0e73c;
  --external-link: #82d2e8;
  --external-link-hidden: rgba(131, 197, 235, 0.3);
  --main-background: rgb(36, 36, 36);
  --secondary-background: rgb(27, 27, 27);
  --secondary-background-low-opacity: rgba(27, 27, 27, 0.329);
  --attachments: rgb(105, 188, 235);
  --accent-1: #1abc9c;
  --accent-2: #16a085;
  --accent-3: #3498db;
  --accent-4: #2980b9;
  --accent-5: #f1c40f;
  --accent-6: #f39c12;
  --text-normal: rgb(201, 201, 201);
  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);
  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);
  --interactive-accent: var(--main-node);
  --interactive-accent-hover: var(--main-node-hover);
  --text-on-accent: black;
  --background-modifier-error: #e74c3c;
  --background-modifier-error-hover: #c0392b;
  --text-highlight-bg: #2ecc71;
  --h1-gradient: #2ecc71, #083119, #1abc9c, #16a085;
  --h2-gradient: #a0e73c, #2ecc71, #222;
  --h2-icon-color: #2ecc71;
  --h3-h6-icon-color: #a0e73c;
  --main-node: #9b59b6;
  --main-node-hover: #8e44ad;
  --tags: #d2a8ff;
  --external-link: #82d2e8;
  --external-link-hidden: rgba(131, 197, 235, 0.3);
  --main-background: rgb(36, 36, 36);
  --secondary-background: rgb(27, 27, 27);
  --secondary-background-low-opacity: rgba(27, 27, 27, 0.329);
  --attachments: rgb(105, 188, 235);
  --accent-1: #8e44ad;
  --accent-2: #9b59b6;
  --accent-3: #3498db;
  --accent-4: #2980b9;
  --accent-5: #1abc9c;
  --accent-6: #16a085;
  --text-normal: rgb(201, 201, 201);
  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);
  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);
  --interactive-accent: var(--main-node);
  --interactive-accent-hover: var(--main-node-hover);
  --text-on-accent: white;
  --background-modifier-error: #e74c3c;
  --background-modifier-error-hover: #c0392b;
  --text-highlight-bg: #9b59b6;
  --h1-gradient: #9b59b6, #8e44ad, #d2a8ff, #8e44ad;
  --h2-gradient: #d2a8ff, #9b59b6, #222;
  --h2-icon-color: #9b59b6;
  --h3-h6-icon-color: #d2a8ff;
  --code-block-fg: #928b78;
  --code-block-bg: #303030;
  --table-border-color: rgba(255, 255, 255, 0.1);
  --statblock-primary-color: hsl(10, 79%, 81%);
  --statblock-rule-color: hsl(10, 75%, 65%);
  --statblock-bar-color: var(--statblock-rule-color);
  --statblock-background-color: #383530;
}
