:root[saved-theme="light"] {
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.05);
  --interactive-accent: vaR(--color-accent-1);
  --color-base-00: hsl(var(--theme-tint), var(--theme-sat), var(--c-00));
  --color-base-05: hsl(var(--theme-tint), var(--theme-sat-secondary), var(--c-05));
  --color-base-10: hsl(var(--theme-tint), var(--theme-sat-secondary), var(--c-10));
  --color-base-20: hsl(var(--theme-tint-secondary), var(--theme-sat-secondary), var(--c-20));
  --color-base-25: hsl(var(--theme-tint-secondary), var(--theme-sat-secondary), var(--c-25));
  --color-base-30: hsl(var(--theme-tint), calc(var(--theme-sat-text) - 5%), var(--c-30));
  --color-base-35: hsl(var(--theme-tint), calc(var(--theme-sat-text) - 5%), var(--c-35));
  --color-base-40: hsl(var(--theme-tint), var(--theme-sat-text), var(--c-40));
  --color-base-50: hsl(var(--theme-tint-text), var(--theme-sat-text), var(--c-50));
  --color-base-60: hsl(var(--theme-tint-text), var(--theme-sat-text), var(--c-60));
  --color-base-70: hsl(var(--theme-tint-text), var(--theme-sat-text), var(--c-70));
  --color-base-100: hsl(var(--theme-tint-text), var(--theme-sat-text), var(--c-100));
  --background-modifier-message: var(--color-accent-1);
  --text-base: 15%;
  --color-muted: #797593;
  --color-muted-rgb: 121, 117, 147;
  --base-c: 100%;
  --accent-h: 228;
  --accent-s: 70%;
  --accent-l: 66%;
  --color-red: #f45757;
  --color-red-rgb: 244, 87, 87;

  code[data-theme*=" "] {
    --shiki-dark: var(--shiki-light) !important;
    --shiki-dark-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-dark: var(--shiki-light) !important;
      --shiki-dark-bg: var(--shiki-light-bg) !important;
    }
  }
}
