.theme-dark.w95-scheme-rainy-day,
.w95-scheme-rainy-day {
  --background-primary: #7b95ac;
  --background-secondary: #7b95ac;
  --border-highlight: #bdcad5;
  --border-shadow: #4a617b;
  --scrollbar-track: #b0c2d3;
  --scrollbar-thumb: #9ab4cc;
  --nav-item-background-active: #4a617b;
  --interactive-accent: #4a617b;
}
