:root[saved-theme="dark"] {
  --accent-h: 181;
  --accent-s: 37%;
  --accent-l: 51%;
  --mono-rgb-100: 205, 206, 207;
  --mono-rgb-0: 19, 26, 36;
  --color-base-110: #d6d6d7;
  --color-base-100: #cdcecf;
  --color-base-70: #aeafb0;
  --color-base-60: #71839b;
  --color-base-35: #39506d;
  --color-base-30: #29394f;
  --color-base-25: #243347;
  --color-base-20: #212e3f;
  --color-base-10: #192330;
  --color-base-05: #151d28;
  --color-base-00: #131a24;
  --color-cyan: #63cdcf;
  --color-cyan-bright: #7ad5d6;
  --color-cyan-dim: #54aeb0;
  --color-pink: #d67ad2;
  --color-pink-bright: #dc8ed9;
  --color-pink-dim: #b668b3;
  --color-purple: #9d79d6;
  --color-purple-bright: #baa1e2;
  --color-purple-dim: #8567b6;
  --color-blue: #719cd6;
  --color-blue-bright: #86abdc;
  --color-blue-dim: #6085b6;
  --color-orange: #f4a261;
  --color-orange-bright: #f6b079;
  --color-orange-dim: #cf8a52;
  --color-red: #c94f6d;
  --color-red-bright: #d16983;
  --color-red-dim: #ab435d;
  --color-yellow: #dbc074;
  --color-yellow-bright: #e0c989;
  --color-yellow-dim: #baa363;
  --color-green: #81b29a;
  --color-green-bright: #8ebaa4;
  --color-green-dim: #6e9783;
  --color-cyan-rgb: 99, 205, 207;
  --color-pink-rgb: 214, 122, 210;
  --color-purple-rgb: 157, 121, 214;
  --color-blue-rgb: 113, 156, 214;
  --color-orange-rgb: 244, 162, 97;
  --color-red-rgb: 201, 79, 109;
  --color-yellow-rgb: 219, 192, 116;
  --color-green-rgb: 129, 178, 154;
  --graph-node-tag: #4f9c77;
  --code-comment: #738091;
  --code-inline-background: var(--color-base-00);
}
