:root[saved-theme="light"] {
  --accent-h: 185;
  --accent-s: 34%;
  --accent-l: 43%;
  --mono-rgb-100: 61, 43, 90;
  --mono-rgb-0: 228, 220, 212;
  --color-base-110: #302b5d;
  --color-base-100: #3d2b5a;
  --color-base-70: #643f61;
  --color-base-60: #824d5b;
  --color-base-30: #aab0ad;
  --color-base-25: #d3c7bb;
  --color-base-20: #dbd1dd;
  --color-base-10: #f6f2ee;
  --color-base-05: #eae3dc;
  --color-base-00: #e4dcd4;
  --color-cyan: #287980;
  --color-cyan-bright: #488d93;
  --color-cyan-dim: #22676d;
  --color-pink: #a440b5;
  --color-pink-bright: #b25dc0;
  --color-pink-dim: #8b369a;
  --color-purple: #6e33ce;
  --color-purple-bright: #8452d5;
  --color-purple-dim: #5e2baf;
  --color-blue: #2848a9;
  --color-blue-bright: #4863b6;
  --color-blue-dim: #223d90;
  --color-orange: #955f61;
  --color-orange-bright: #a57779;
  --color-orange-dim: #7f5152;
  --color-red: #a5222f;
  --color-red-bright: #b3434e;
  --color-red-dim: #8c1d28;
  --color-yellow: #ac5402;
  --color-yellow-bright: #b86e28;
  --color-yellow-dim: #924702;
  --color-green: #396847;
  --color-green-bright: #577f63;
  --color-green-dim: #30583c;
  --color-cyan-bright-rgb: 122, 213, 214;
  --color-cyan-rgb: 40, 121, 128;
  --color-pink-bright-rgb: 220, 142, 217;
  --color-pink-rgb: 164, 64, 181;
  --color-purple-bright-rgb: 186, 161, 226;
  --color-purple-rgb: 110, 51, 206;
  --color-blue-bright-rgb: 134, 171, 220;
  --color-blue-rgb: 40, 72, 169;
  --color-orange-bright-rgb: 246, 176, 121;
  --color-orange-rgb: 149, 95, 97;
  --color-red-bright-rgb: 209, 105, 131;
  --color-red-rgb: 165, 34, 47;
  --color-yellow-bright-rgb: 224, 201, 137;
  --color-yellow-rgb: 172, 84, 2;
  --color-green-bright-rgb: 142, 186, 164;
  --color-green-rgb: 87, 127, 99;
  --graph-line: var(--color-base-20);
  --graph-node-tag: #19ae5b;
  --graph-node-attachment: #e0af0f;
  --canvas-color-1: var(--color-red-bright-rgb);
  --canvas-color-2: var(--color-orange-bright-rgb);
  --canvas-color-3: var(--color-yellow-bright-rgb);
  --canvas-color-4: var(--color-green-bright-rgb);
  --canvas-color-5: var(--color-cyan-bright-rgb);
  --canvas-color-6: var(--color-purple-bright-rgb);
  --code-comment: #837a72;
  --callout-warning: var(--color-yellow-rgb);
  --text-warning: var(--color-yellow);
}
