.view-content:has(.markdown-reading-view) {
  background-color: transparent !important;
}
.view-content .cm-sizer,
.view-content
  > .markdown-reading-view
  > .markdown-rendered
  > .markdown-preview-sizer {
  box-sizing: content-box;
  padding-inline: 2rem;
  padding-top: 2rem;
  border-radius: 1rem;
  background-color: var(--background-transparent) !important;
}
.view-content .cm-sizer:has(.cm-gutters) {
  padding-left: calc(2rem + 24px);
}
:root .view-header {
  background-color: var(--background-partially-transparent) !important;
}
:root .view-content:has(> .empty-state) {
  width: fit-content;
  height: unset;
  margin: auto;
  padding: clamp(2rem, 5vw, 4rem);
  border-radius: 1rem;
}
