:root[saved-theme="light"] {
  --background-primary: hsl(0, 0%, 92%);
  --background-modifier-border: #ada7a4;
  --background-modifier-cover: hsl(0, 0%, 85%);
  --background-modifier-form-field: #e6e6e6;
  --he-title-bar-active-bg: #eaa4a4;
  --he-title-bar-inactive-bg: #eaa4a4;
  --he-title-bar-active-pinned-bg: #a7b3a1;
  --he-title-bar-inactive-pinned-bg: #a7b3a1;
  --text-muted: #1a1a1a;
  --text-faint: #808080;
  --h1-color: hsl(217, 22%, 30%);
  --h2-color: hsl(217, 22%, 40%);
  --h3-color: hsl(217, 22%, 50%);
  --h4-color: hsl(45, 45%, 40%);
  --h5-color: hsl(45, 45%, 30%);
  --h6-color: hsl(45, 45%, 20%);
  --text-selection: DarkGray;
}
