:root[saved-theme="dark"] {
  --col-base-background: #030308;
  --col-base: #e4e5e0;
  --col-accent: #d92926;
  --col-accent-plus: #ff4949;
  --col-muted: #83888c;
  --col-muted-plus: #232221;
  --col-muted-plus-plus: #191919;
  --col-important: #d8b131;
  --col-important-muted: #9b7f31;
  --col-important-plus: #ffd059;
  --col-safety: #232221;
  --col-danger: #232221;
  --col-txt-titlebars: #232221;
  --col-bckg-mainpanels: var(--col-muted-plus-plus);
  --col-bckg-filetreeheader: var(--col-base-background);
  --col-txt-titlebars: var(--col-base-background);
  --col-icons: var(--col-muted);
  --col-txt-selectedtitles: var(--col-muted-plus);
  --col-bckg-selectedtitles: var(--col-important);
  --col-txt-titles: var(--col-accent);
  --col-txt-files: var(--col-base);
  --col-menucheckbox: var(--col-accent);
  --col-txt-menudropdowns: var(--col-accent);
  --col-bckg-menudropdowns: var(--col-muted-plus-plus);
  --col-txt-menudropdownhover: var(--col-accent);
  --col-bckg-menudropdownhover: var(--col-muted-plus);
  --background-primary: var(--col-base-background);
  --background-primary-alt: black;
  --background-secondary: var(--col-base-background);
  --background-secondary-alt: var(--col-base-background);
  --background-modifier-hover: var(--col-important);
  --background-modifier-active-hover: var(--col-important);
  --background-modifier-border: var(--col-muted-plus);
  --background-modifier-border-hover: var(--col-muted-plus);
  --background-modifier-border-focus: var(--col-important);
  --background-modifier-error-rgb: var(--col-important);
  --background-modifier-error: var(--col-muted-plus-plus);
  --background-modifier-error-hover: var(--col-accent);
  --background-modifier-success-rgb: var(--col-accent-plus);
  --background-modifier-success: var(--col-muted-plus);
  --background-modifier-message: var(--col-accent);
  --background-modifier-form-field: var(--col-muted-plus-plus);
  --text-normal: var(--col-muted);
  --text-muted: var(--col-muted);
  --text-faint: var(--col-muted);
  --text-on-accent: var(--col-muted-plus);
  --text-error: var(--col-important);
  --text-success: var(--col-accent);
  --text-selection: var(--col-muted);
  --text-accent: var(--col-accent-plus);
  --text-accent-hover: var(--col-important-plus);
  --interactive-normal: var(--col-base);
  --interactive-hover: var(--col-important);
  --interactive-accent-hsl: var(--col-accent);
  --interactive-accent: var(--col-accent);
  --interactive-accent-hover: var(--col-important);
}
