.folder-title-blue .nav-folder:nth-of-type(1) .nav-folder-title {
  color: color-mix(in srgb, var(--color-blue) 100%, var(--color-000) 0%);
}

.folder-title-blue .nav-folder:nth-of-type(2) .nav-folder-title {
  color: color-mix(in srgb, var(--color-blue) 90%, var(--color-000) 10%);
}

.folder-title-blue .nav-folder:nth-of-type(3) .nav-folder-title {
  color: color-mix(in srgb, var(--color-blue) 80%, var(--color-000) 20%);
}

.folder-title-blue .nav-folder:nth-of-type(4) .nav-folder-title {
  color: color-mix(in srgb, var(--color-blue) 70%, var(--color-000) 30%);
}

.folder-title-blue .nav-folder:nth-of-type(5) .nav-folder-title {
  color: color-mix(in srgb, var(--color-blue) 60%, var(--color-000) 40%);
}

.folder-title-blue .nav-folder:nth-of-type(6) .nav-folder-title {
  color: color-mix(in srgb, var(--color-blue) 50%, var(--color-000) 50%);
}

.folder-title-blue .nav-folder:nth-of-type(7) .nav-folder-title {
  color: color-mix(in srgb, var(--color-blue) 40%, var(--color-000) 60%);
}

.folder-title-blue .nav-folder:nth-of-type(8) .nav-folder-title {
  color: color-mix(in srgb, var(--color-blue) 30%, var(--color-000) 70%);
}

.folder-title-blue .nav-folder:nth-of-type(9) .nav-folder-title {
  color: color-mix(in srgb, var(--color-blue) 20%, var(--color-000) 80%);
}

.folder-title-blue .nav-folder:nth-of-type(10) .nav-folder-title {
  color: color-mix(in srgb, var(--color-blue) 10%, var(--color-000) 90%);
}

.folder-title-blue .nav-folder:nth-of-type(11) .nav-folder-title {
  color: color-mix(in srgb, var(--color-blue) 0%, var(--color-000) 100%);
}

.folder-title-blue .nav-folder:nth-of-type(n + 12) .nav-folder-title {
  color: color-mix(in srgb, var(--color-blue) 0%, var(--color-000) 100%);
}
