:root[saved-theme="dark"] {
  --nav-item-background-selected: var(--Axt);
  --background-primary: var(--EBgnd);
  --color-scheme: dark;
  --Bgnd: #2c1c27;
  --background-table-rows: var(--Bgnd);
  --ribbon-background: var(--Bgnd);
  --search-result-background: var(--EBgnd);
  --titlebar-background: var(--Bgnd);
  --titlebar-background-focused: var(--Bgnd);
  --titlebar-border-color: var(--Bgnd);
  --background-secondary: var(--Bgnd);
  --EBgnd: #211f23;
  --background-modifier-form-field-highlighted: var(--EBgnd);
  --background-modifier-form-field: var(--EBgnd);
  --Bgcl: #a32d7f52;
  --background-modifier-hover: var(--Bgcl);
  --background-modifier-active-hover: var(--Bgcl);
  --nav-item-background-active: var(--Bgcl);
  --nav-item-background-hover: var(--Bgcl);
  --text-highlight-bg: var(--Bgcl);
  --AccentA1: #a32d7f;
  --background-modifier-border-focus: var(--AccentA1);
  --checkbox-color: var(--AccentA1);
  --prompt-border-color: var(--AccentA1);
  --scrollbar-active-thumb-bg: var(--AccentA1);
  --interactive-accent: var(--AccentA1);
  --Axt: #a32d7f36;
  --divider-color: var(--Axt);
  --interactive-hover: var(--Axt);
  --modal-border-color: var(--Axt);
  --background-modifier-border: var(--Axt);
  --frame-divider-color: var(--Axt);
  --nav-indentation-guide-color: var(--Axt);
  --scrollbar-thumb-bg: var(--Axt);
  --tab-outline-color: var(--Axt);
  --AccentA2: #d560b1;
  --background-modifier-accent: var(--AccentA2);
  --interactive-accent-hover: var(--AccentA2);
  --text-accent-hover: var(--AccentA2);
  --text-accent: var(--AccentA2);
  --txt: #d8bcd8;
  --nav-item-color: var(--txt);
  --nav-item-color-active: var(--txt);
  --nav-item-color-hover: var(--txt);
  --text-normal: var(--txt);
  --text-code: var(--txi);
  --text-italic: var(--txt);
  --text-bold: var(--txt);
  --tab-text-color-focused-active: var(--txt);
  --icon-color-active: var(--txt);
  --icon-color-focused: var(--txt);
  --code-normal: var(--txi);
  --titlebar-text-color: var(--txt);
  --titlebar-text-color-focused: var(--txt);
  --txi: #e499e4a2;
  --icon-color-hover: var(--txi);
  --icon-color: var(--txi);
  --nav-collapse-icon-color: var(--txi);
  --nav-collapse-icon-color-collapsed: var(--txi);
  --list-marker-color: var(--txi);
  --text-selection: var(--txi);
  --text-formatting: var(--txi);
  --text-muted: #e499e4a2;
  --text-faint: #e499e4a2;
  --text-error: #f1637d;
  --text-blockquote: var(--txi);
  --Axt2: #50125a94;
  --background-modifier-border-hover: var(--Axt2);
  --quote-opening-modifier: var(--Axt2);
  --bold-color: #9c4296;
  --italic-color: #f3967a;
  --text-formatting: #9c4296;
  --icon-color: #d8bcd8;
  --h1-color: #d8bcd8;
  --h2-color: #c4a5c4;
  --h3-color: #ac81ac;
  --h4-color: #946a94;
  --h5-color: #835783;
  --h6-color: #805380;
  --scrollbar-bg: transparent;
  --color-base-00: var(--EBgnd);
  --color-base-05: var(--EBgnd);
  --color-base-10: var(--EBgnd);
  --color-base-20: var(--Bgnd);
  --color-base-25: #252429;
  --color-base-30: var(--Axt);
  --color-base-35: #a540a55f;
  --color-base-40: var(--Axt);
  --color-base-50: var(--txi);
  --color-base-60: #d8bcd8;
  --color-base-70: #d8bcd8;
  --color-base-100: #d8bcd8;
  --graph-controls-width: 240px;
  --graph-text: var(--text-normal);
  --graph-line: var(--color-base-35, var(--background-modifier-border-focus));
  --graph-node: #d8bcd8;
  --graph-node-unresolved: var(--text-faint);
  --graph-node-focused: var(--text-accent);
  --graph-node-tag: #c8d89bdb;
  --graph-node-attachment: #d6d89b;
  --dropdown-background: var(--Bgnd);
  --dropdown-background-normal: var(--Bgnd);
  --dropdown-background-hover: var(--Bgnd);
  --chbx-q: 243, 150, 122;
  --chbx-h: 216, 188, 216;
  --chbx-d: 163, 45, 127;
  --chbx-i: 241, 99, 125;
  --chbx-a: 241, 99, 125;
  --chbx-R: 200, 216, 155;
  --chbx-id: 243, 150, 122;
  --chbx-B: 216, 188, 216;
  --chbx-P: 200, 216, 155;
  --chbx-C: 241, 99, 125;
  --chbx-N: 216, 188, 216;
  --chbx-b: 243, 150, 122;
  --chbx-I: 243, 150, 122;
  --chbx-c: 163, 45, 127;
  --chbx-r: 243, 150, 122;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
