:root[saved-theme="light"] {
  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 233, 49, 71;
  --color-red: #e93147;
  --color-orange-rgb: 236, 117, 0;
  --color-orange: #ec7500;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-green-rgb: 8, 185, 78;
  --color-green: #08b94e;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-blue-rgb: 8, 109, 221;
  --color-blue: #086ddd;
  --color-purple-rgb: 120, 82, 238;
  --color-purple: #7852ee;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-base-00: var(--EBgnd);
  --color-base-05: var(--EBgnd);
  --color-base-10: var(--EBgnd);
  --color-base-20: var(--Bgnd);
  --color-base-25: #412438;
  --color-base-30: var(--Axt);
  --color-base-35: #c8a2c85f;
  --color-base-40: var(--Axt);
  --color-base-50: var(--txi);
  --color-base-60: #412438;
  --color-base-70: #412438;
  --color-base-100: #412438;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 1),
    calc(var(--accent-s) * 1.01),
    calc(var(--accent-l) * 1.075)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.05),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042),
    0px 15px 30px rgba(0, 0, 0, 0.07);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --nav-item-background-selected: var(--Axt);
  --background-primary: var(--EBgnd);
  --color-scheme: light;
  --Bgnd: hsla(300, 30%, 92%, 1);
  --background-table-rows: var(--Bgnd);
  --ribbon-background: var(--Bgnd);
  --search-result-background: var(--EBgnd);
  --titlebar-background: var(--Bgnd);
  --titlebar-background-focused: var(--Bgnd);
  --titlebar-border-color: var(--Bgnd);
  --background-secondary: var(--Bgnd);
  --EBgnd: hsla(89, 58%, 95%, 1);
  --background-modifier-form-field-highlighted: var(--EBgnd);
  --background-modifier-form-field: var(--EBgnd);
  --Bgcl: #a32d7f52;
  --background-modifier-hover: var(--Bgcl);
  --background-modifier-active-hover: var(--Bgcl);
  --nav-item-background-active: var(--Bgcl);
  --nav-item-background-hover: var(--Bgcl);
  --text-highlight-bg: var(--Bgcl);
  --AccentA1: #a32d7f;
  --background-modifier-border-focus: var(--AccentA1);
  --checkbox-color: var(--AccentA1);
  --prompt-border-color: var(--AccentA1);
  --scrollbar-active-thumb-bg: var(--AccentA1);
  --interactive-accent: var(--AccentA1);
  --Axt: #a32d7f36;
  --divider-color: var(--Axt);
  --interactive-hover: var(--Axt);
  --modal-border-color: var(--Axt);
  --background-modifier-border: var(--Axt);
  --frame-divider-color: var(--Axt);
  --nav-indentation-guide-color: var(--Axt);
  --scrollbar-thumb-bg: var(--Axt);
  --tab-outline-color: var(--Axt);
  --AccentA2: #d560b1;
  --background-modifier-accent: var(--AccentA2);
  --interactive-accent-hover: var(--AccentA2);
  --text-accent-hover: var(--AccentA2);
  --text-accent: var(--AccentA2);
  --txt: #30222b;
  --nav-item-color: var(--txt);
  --nav-item-color-active: var(--txt);
  --nav-item-color-hover: var(--txt);
  --text-normal: var(--txt);
  --text-code: var(--txi);
  --text-italic: var(--txt);
  --text-bold: var(--txt);
  --tab-text-color-focused-active: var(--txt);
  --icon-color-active: var(--txt);
  --icon-color-focused: var(--txt);
  --code-normal: var(--txi);
  --titlebar-text-color: #30222b;
  --titlebar-text-color-focused: #30222b;
  --txi: #412438cd;
  --icon-color-hover: var(--txi);
  --icon-color: #24262a;
  --nav-collapse-icon-color: var(--txi);
  --nav-collapse-icon-color-collapsed: var(--txi);
  --list-marker-color: var(--txi);
  --text-selection: #a32d8053;
  --text-formatting: #635e6a;
  --text-muted: var(--txi);
  --text-faint: var(--txi);
  --text-error: #f1637d;
  --text-blockquote: var(--txi);
  --Axt2: #d5acdc94;
  --background-modifier-border-hover: var(--Axt2);
  --quote-opening-modifier: var(--Axt2);
  --bold-color: #24262a;
  --italic-color: #fca287;
  --scrollbar-bg: transparent;
  --graph-controls-width: 240px;
  --graph-text: var(--text-normal);
  --graph-line: var(--color-base-35, var(--background-modifier-border-focus));
  --graph-node: #c8a2c8;
  --graph-node-unresolved: var(--text-faint);
  --graph-node-focused: var(--text-accent);
  --graph-node-tag: #c8d89bdb;
  --graph-node-attachment: #412438;
  --dropdown-background: var(--Bgnd);
  --dropdown-background-normal: var(--Bgnd);
  --dropdown-background-hover: var(--Bgnd);
  --chbx-q: 243, 150, 122;
  --chbx-h: 216, 188, 216;
  --chbx-d: 163, 45, 127;
  --chbx-i: 241, 99, 125;
  --chbx-a: 241, 99, 125;
  --chbx-R: 200, 216, 155;
  --chbx-id: 243, 150, 122;
  --chbx-B: 216, 188, 216;
  --chbx-P: 200, 216, 155;
  --chbx-C: 241, 99, 125;
  --chbx-N: 216, 188, 216;
  --chbx-b: 243, 150, 122;
  --chbx-I: 243, 150, 122;
  --chbx-c: 163, 45, 127;
  --chbx-r: 243, 150, 122;
}
