.floating-sides {
  --floating-sides-animation-duration: 0.5s;
  --margin-top: calc(var(--header-height));
  --workspace-split-left-offset: var(--ribbon-width);
}

.floating-sides.smooth-mode {
  --margin-top: calc(var(--header-height) + 5px);
}

.floating-sides.minimal-mode.sidebar-hide {
  --workspace-split-left-offset: 0px;
}

.floating-sides,
.floating-sides.minimal-mode.root-tabs-hover .workspace {
  --margin-top-animation-delay: 0s;
}

.floating-sides.minimal-mode.root-tabs-hover
  .workspace:has(
    .workspace-tabs.mod-active.mod-top
      .workspace-tab-header-container:not(:hover)
  ) {
  --margin-top: calc(var(--header-height) / 3);
  --margin-top-animation-delay: 1s;
}

.floating-sides.minimal-mode.sidebar-hover
  .workspace.is-left-sidedock-open:has(
    .workspace-ribbon.side-dock-ribbon.mod-left:not(:hover)
  ) {
  --workspace-split-left-offset: 10px;
}

.floating-sides .workspace-ribbon.side-dock-ribbon.mod-left * {
  transition: opacity var(--floating-sides-animation-duration) ease-in-out;
}

.floating-sides .workspace-split.mod-horizontal {
  position: absolute;
  height: calc(100% - var(--margin-top));
  margin-top: var(--margin-top);
  transition: margin-top var(--default-animation-duration) ease-in-out
    var(--margin-top-animation-delay);
  z-index: 10;
}

.floating-sides .workspace-split.mod-horizontal.is-sidedock-collapsed {
  display: flex !important;
  visibility: visible;
  transition: all var(--floating-sides-animation-duration) !important;
}

.floating-sides .workspace-split.mod-horizontal.mod-left-split {
  transition:
    left var(--default-animation-duration) ease-in-out,
    margin-top var(--default-animation-duration) ease-in-out
      var(--margin-top-animation-delay);
  left: var(--workspace-split-left-offset);
  animation: workspace-split-left-slide-in
    var(--floating-sides-animation-duration);
}

.floating-sides
  .workspace-split.mod-horizontal.mod-left-split.is-sidedock-collapsed {
  animation: workspace-split-left-slide-out
    var(--floating-sides-animation-duration);
}

.floating-sides .workspace-split.mod-horizontal.mod-right-split {
  right: 0;
  animation: workspace-split-right-slide-in
    var(--floating-sides-animation-duration);
}

.floating-sides
  .workspace-split.mod-horizontal.mod-right-split.is-sidedock-collapsed {
  animation: workspace-split-right-slide-out
    var(--floating-sides-animation-duration);
}
