.headers-gradient-blue-to-red {
  --h1-color: var(--light-blue);
  --h2-color: var(--blue);
  --h3-color: var(--violet);
  --h4-color: var(--purple);
  --h5-color: var(--magenta);
  --h6-color: var(--hot-red);
}
