@import "fonts";

:root {
}

body {
}

:root[saved-theme="dark"] {
  --accent-h: 219;
  --accent-s: 56%;
  --accent-l: 55%;
  --background-primary: #272b34;
  --background-primary-alt: #20242b;
  --background-secondary: #20242b;
  --background-secondary-alt: #1a1e24;
  --background-accent: #000;
  --background-modifier-border: #424958;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #539126;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #61afef;
  --text-accent-hover: #70bdfc;
  --text-normal: #dcddde;
  --text-muted: #888;
  --text-faint: rgb(81, 86, 99);
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --panel-border-color: #18191e;
  --gray-1: #5c6370;
  --gray-2: #abb2bf;
  --red: #e06c75;
  --orange: #d19a66;
  --green: #98c379;
  --aqua: #56b6c2;
  --purple: #c678dd;
  --blue: #61afef;
  --yellow: #e5c07b;
  --divider-color-hover: #404754;
  --ribbon-background: var(--background-primary);
  --drag-ghost-background: var(--background-secondary-alt);
  --background-modifier-message: var(--background-secondary-alt);
  --tab-outline-color: transparent;
  --divider-color: transparent;
  --prompt-border-color: var(--panel-border-color);
  --modal-border-color: var(--panel-border-color);
  --background-modifier-border-hover: var(--interactive-hover);
  --background-modifier-border-focus: var(--interactive-hover);
  --checkbox-color: var(--text-accent);
  --checkbox-color-hover: var(--text-accent-hover);
  --nav-item-background-active: var(--interactive-accent);
  --nav-item-color-active: #ffffff;
  --tag-color: var(--yellow);
  --tag-background: var(--background-primary-alt);
  --tag-color-hover: var(--yellow);
  --tag-background-hover: var(--background-primary-alt);
  --tag-padding-x: 4px;
  --tag-padding-y: 2px;
  --tag-radius: 4px;
  --inline-title-weight: var(--bold-weight);
  --link-decoration: none;
  --link-external-decoration: none;
  --embed-padding: 0 0 0 var(--size-4-4);
  --background-modifier-error: #d42020;
  --background-modifier-error-hover: #b01515;
}

:root[saved-theme="light"] {
  --accent-h: 230;
  --accent-s: 83%;
  --accent-l: 64%;
  --background-primary: #fafafa;
  --background-primary-alt: #eaeaeb;
  --background-secondary: #eaeaeb;
  --background-secondary-alt: #dbdbdc;
  --background-accent: #fff;
  --background-modifier-border: #dbdbdc;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: #e68787;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #ff9494;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: #1592ff;
  --text-accent-hover: #097add;
  --text-normal: #383a42;
  --text-muted: #8e8e90;
  --text-faint: #999999;
  --text-error: #e75545;
  --text-error-hover: #f86959;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: rgba(0, 122, 255, 0.15);
  --text-on-accent: #f2f2f2;
  --interactive-normal: #eaeaeb;
  --interactive-hover: #dbdbdc;
  --interactive-accent-rgb: 21, 146, 255;
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --panel-border-color: #dbdbdc;
  --gray-1: #383a42;
  --gray-2: #383a42;
  --red: #e75545;
  --green: #4ea24c;
  --blue: #3d74f6;
  --purple: #a625a4;
  --aqua: #0084bc;
  --yellow: #e35649;
  --orange: #986800;
  --ribbon-background: var(--background-primary);
  --drag-ghost-background: var(--background-secondary-alt);
  --background-modifier-message: var(--background-secondary-alt);
  --tab-outline-color: transparent;
  --divider-color: transparent;
  --prompt-border-color: var(--panel-border-color);
  --modal-border-color: var(--panel-border-color);
  --background-modifier-border-hover: var(--interactive-hover);
  --background-modifier-border-focus: var(--interactive-hover);
  --checkbox-color: var(--text-accent);
  --checkbox-color-hover: var(--text-accent-hover);
  --nav-item-background-active: var(--interactive-accent);
  --nav-item-color-active: #ffffff;
  --tag-color: var(--yellow);
  --tag-background: var(--background-primary-alt);
  --tag-color-hover: var(--yellow);
  --tag-background-hover: var(--background-primary-alt);
  --tag-padding-x: 4px;
  --tag-padding-y: 2px;
  --tag-radius: 4px;
  --inline-title-weight: var(--bold-weight);
  --link-decoration: none;
  --link-external-decoration: none;
  --embed-padding: 0 0 0 var(--size-4-4);
  --background-modifier-error: #f23f3f;
  --background-modifier-error-hover: #d72020;
}
