.eis-empty-bg .empty-state:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vmin;
  background-size: cover;
}

.eis-empty-bg .empty-state:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vmin;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
