.sQdthOne-hide-view-header-title .view-header-title {
  font-size: 0px;
}

.sQdthOne-hide-view-header-title .view-header-title-parent {
  font-size: 0px;
}

.sQdthOne-hide-view-header-title .view-header-breadcrumb-separator {
  font-size: 0px;
}
