.folder-notebooks {
  --folder-icon-size: 1.6em;
  --normal-folder-1-open: "📖";
  --normal-folder-1: "📒";
  --normal-folder-2-open: "📑";
  --normal-folder-2: "📑";
  --normal-folder-3: "🔖";
  --normal-folder-3-open: "🔖";
}
