.vercel-dark {
  /* Explicitly set dark theme variables */
  --background-1: var(--vercel-gray-900);
  --background-2: var(--vercel-gray-900);
  --background-3: var(--vercel-gray-700);
  --text-1: var(--vercel-gray-100);
  --text-2: var(--vercel-gray-400);
}
