:root[saved-theme="light"],
html[saved-theme="light"] {
  color-scheme: light;

  .callout {
    --callout-blend-mode: darken;
  }

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }

  --background-active: #8e8c8b52;
  --background-hover: #8e8c8b1f;

  --background-inverse-hover: #54515180;
  --background-modifier-box-shadow: #0000001a;
  --background-modifier-cover: #dcdcdc66;

  --background-selected: #8e8c8b33;
  --background-selected-hover: #8e8c8b52;

  --color-blue-rgb: 8, 109, 221;

  --color-cyan-rgb: 0, 191, 188;

  --color-green-rgb: 8, 185, 78;

  --color-orange-rgb: 236, 117, 0;

  --color-pink-rgb: 213, 57, 132;

  --color-purple-rgb: 120, 82, 238;

  --color-red-rgb: 233, 49, 71;

  --color-yellow-rgb: 224, 172, 0;

  --highlight: #669961b3;
  --highlight-mix-blend-mode: darken;

  --input-shadow:
    inset 0 0 0 1px #0000001f, 0px 0.5px 0.4px hsl(0deg 0% 1% / 0.47),
    0px 0.8px 0.7px -1px hsl(0deg 0% 1% / 0.4),
    0px 1.9px 1.7px -2px hsl(0deg 0% 1% / 0.32),
    0px 4.5px 4px -3px hsl(0deg 0% 1% / 0.25),
    0.1px 9.4px 8.4px -4.1px hsl(0deg 0% 1% / 0.18);
  --input-shadow-hover:
    inset 0 0 0 1px #0000002b, 0px 0.5px 0.5px hsl(0deg 0% 1% / 0.47),
    0px 0.9px 0.8px -1px hsl(0deg 0% 1% / 0.4),
    0px 1.9px 1.7px -2px hsl(0deg 0% 1% / 0.33),
    0px 4.5px 4.1px -3px hsl(0deg 0% 1% / 0.26),
    0.1px 9.4px 8.5px -4px hsl(0deg 0% 1% / 0.19);

  --layer-hover-1: #f4f4f0;
  --layer-hover-2: #e2e0dc80;

  --layer-selected-hover-1: #c7c5c280;
  --layer-selected-hover-2: #c7c5c280;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --overlay: #16161680;
  --shadow-color: 0deg 5% 59%;
  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #00000007, 0px 3.4px 6.7px #0000000b, 0px 15px 30px #00000012;

  --background-active: #8e8c8b52;
  --background-hover: #8e8c8b1f;

  --background-inverse-hover: #54515180;
  --background-modifier-box-shadow: #0000001a;
  --background-modifier-cover: #dcdcdc66;

  --background-selected: #8e8c8b33;
  --background-selected-hover: #8e8c8b52;

  --color-blue-rgb: 8, 109, 221;

  --color-cyan-rgb: 0, 191, 188;

  --color-green-rgb: 8, 185, 78;

  --color-orange-rgb: 236, 117, 0;

  --color-pink-rgb: 213, 57, 132;

  --color-purple-rgb: 120, 82, 238;

  --color-red-rgb: 233, 49, 71;

  --color-yellow-rgb: 224, 172, 0;

  --highlight: #669961b3;
  --highlight-mix-blend-mode: darken;

  --input-shadow:
    inset 0 0 0 1px #0000001f, 0px 0.5px 0.4px hsl(0deg 0% 1% / 0.47),
    0px 0.8px 0.7px -1px hsl(0deg 0% 1% / 0.4),
    0px 1.9px 1.7px -2px hsl(0deg 0% 1% / 0.32),
    0px 4.5px 4px -3px hsl(0deg 0% 1% / 0.25),
    0.1px 9.4px 8.4px -4.1px hsl(0deg 0% 1% / 0.18);
  --input-shadow-hover:
    inset 0 0 0 1px #0000002b, 0px 0.5px 0.5px hsl(0deg 0% 1% / 0.47),
    0px 0.9px 0.8px -1px hsl(0deg 0% 1% / 0.4),
    0px 1.9px 1.7px -2px hsl(0deg 0% 1% / 0.33),
    0px 4.5px 4.1px -3px hsl(0deg 0% 1% / 0.26),
    0.1px 9.4px 8.5px -4px hsl(0deg 0% 1% / 0.19);

  --layer-hover-1: #f4f4f0;
  --layer-hover-2: #e2e0dc80;

  --layer-selected-hover-1: #c7c5c280;
  --layer-selected-hover-2: #c7c5c280;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --overlay: #16161680;
  --shadow-color: 0deg 5% 59%;
  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #00000007, 0px 3.4px 6.7px #0000000b, 0px 15px 30px #00000012;

  --text-secondary: #545151;
}
