:root,
body {
  --italic-color: rgb(var(--anp-italic-color, var(--text-normal)));
  --bold-color: rgb(var(--anp-bold-color, var(--text-normal)));
  --text-highlight-bg: rgba(var(--anp-highlight-color, var(--ctp-yellow)), 0.2);
}
