.theme-ayu-s {
  --text-on-accent: black;
  --accent-h: 40 !important;
  --accent-s: 100% !important;
  --accent-l: 70% !important;
  --base-c: 22%;
  --theme-tint-text: 223;
  --theme-sat-text: 22%;
  --theme-tint-secondary: 223;
  --theme-sat-secondary: 25%;
  --theme-sat: 20%;
  --theme-tint: 40;
  --color-red-rgb: 242, 135, 121;
  --color-red: rgb(242, 135, 121);
  --color-green-rgb: 213, 255, 128;
  --color-green: rgb(213, 255, 128);
  --color-orange-rgb: 255, 173, 102;
  --color-orange: rgb(255, 173, 102);
  --color-yellow-rgb: 255, 209, 115;
  --color-yellow: rgb(255, 209, 115);
  --color-cyan-rgb: 149, 230, 203;
  --color-cyan: rgb(149, 230, 203);
  --color-blue-rgb: 92, 207, 230;
  --color-blue: #5ccfe6;
  --color-purple-rgb: 128, 191, 255;
  --color-purple: rgb(128, 191, 255);
  --color-pink-rgb: 223, 191, 255;
  --color-pink: rgb(223, 191, 255);
}
