body.notebook-liked-markdown-page-grid-notebook-1
  .setting-item[data-id="grid-notebook-line-color-1"] {
  display: block !important;
}
body.background-notebook-liked-switch.notebook-liked-markdown-page-grid-notebook-1
  .markdown-preview-view.markdown-rendered,
body.background-notebook-liked-switch.notebook-liked-markdown-page-grid-notebook-1
  .cm-s-obsidian
  .cm-scroller {
  background: var(--bg-color-notebook);
  background-image:
    linear-gradient(90deg, var(--grid-notebook-line-color-1) 3%, transparent 0),
    linear-gradient(var(--grid-notebook-line-color-1) 3%, transparent 0);
  background-size: 20px 20px;
}
