:root[saved-theme="light"] {
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --background-primary: var(--grey-light);
  --background-primary-alt: var(--grey-mid);
  --background-secondary: var(--grey-mid);
  --background-secondary-alt: var(--grey-mid);
  --bar-color: var(--green-mid-mid);
  --blockquote-border-thickness: 5px;
  --bold-color: var(--green-forest);
  --checklist-done-color: var(--grey-dark);
  --checklist-done-decoration: none;
  --code-builtin-color: var(--green-forest);
  --code-comment-color: var(--grey-dark);
  --code-function-color: var(--green-forest);
  --code-operator-color: var(--green-forest);
  --code-string-color: var(--grey-dark);
  --code-variable-color: var(--black-light-light);
  --codeblock-background: var(--grey);
  --codeblock-color: var(--black-light);
  --color-accent: var(--green-bright);
  --color-accent-1: hsl(
    calc(var(--accent-h) - 1),
    calc(var(--accent-s) * 1.01),
    calc(var(--accent-l) * 1.075)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-100: #222222;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5c5c5c;
  --color-blue: #086ddd;
  --color-blue-rgb: 8, 109, 221;
  --color-cyan: #00bfbc;
  --color-cyan-rgb: 0, 191, 188;
  --color-green: #08b94e;
  --color-green-rgb: 8, 185, 78;
  --color-orange: #ec7500;
  --color-orange-rgb: 236, 117, 0;
  --color-pink: #d53984;
  --color-pink-rgb: 213, 57, 132;
  --color-purple: #7852ee;
  --color-purple-rgb: 120, 82, 238;
  --color-red: #e93147;
  --color-red-rgb: 233, 49, 71;
  --color-yellow: #e0ac00;
  --color-yellow-rgb: 224, 172, 0;
  --divider-color: var(--green-mid-mid);
  --file-line-width: var(--line-width);
  --file-title-color: var(--black-light-light);
  --folder-filter: invert(52%) sepia(95%) saturate(856%) hue-rotate(67deg) brightness(118%)
    contrast(117%);
  --folder-title-color: var(--black-light-light);
  --h1-color: var(--green-forest);
  --h2-color: var(--green-forest);
  --h3-color: var(--green-forest);
  --h4-color: var(--green-forest);
  --h5-color: var(--green-forest);
  --h6-color: var(--green-forest);
  --hashtag-background: var(--grey);
  --hashtag-color: var(--green-forest);
  --highlight-color: var(--green-mid);
  --highlight-mix-blend-mode: darken;
  --hr-thickness: var(--hr-height);
  --inline-code-background: var(--grey);
  --inline-code-color: var(--green-forest);
  --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.05),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --interactive-accent: var(--green-bright);
  --link-color: var(--green-forest);
  --links-color: var(--green-forest);
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --quote-background: var(--grey);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042),
    0px 15px 30px rgba(0, 0, 0, 0.07);
  --tab-divider-color: var(--green-mid-mid);
  --tab-outline-color: var(--green-mid-mid);
  --text-accent: var(--green-bright);
  --text-normal: var(--black-light-light);
  --underline-line-color: var(--green-bright);
  color-scheme: light;
}
