:root:root {
  --color-base-00: #1a1b26;
  --header-color: #7aa2f7;
  --bold-color: #bb9af7;
  --italic-color: #9aa5ce;
  --text-highlight-bg: #9ece6a66;
  --text-faint: #565f8988;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
