:root[saved-theme="dark"] {
  --background-primary: var(--medium-dark-grey);
  --background-primary-alt: var(--dark-grey-2);
  --background-secondary: var(--dark-grey-1);
  --background-secondary-alt: var(--dark-grey-3);
  --interactive-accent: var(--green-11);
  --interactive-accent-hsl: var(--green-11);
  --interactive-accent-hover: var(--green-10);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
  --background-modifier-active-hover: ((var(--green-10)), 0.15);
  --background-modifier-border: var(--dark-white);
  --background-modifier-border-hover: var(--dark-white);
  --background-modifier-border-focus: var(--dark-white);
  --background-modifier-error-rgb: var(--color-red-rgb);
  --background-modifier-error: var(--color-red);
  --background-modifier-error-hover: var(--color-red);
  --background-modifier-success-rgb: var(--color-green-rgb);
  --background-modifier-success: var(--green-11);
  --background-modifier-message: var(--black);
  --checkbox-marker-color: var(--green-11);
  --checkbox-color: none;
  --checkbox-color-hover: var(--dark-grey-2);
  --checkbox-border-color: var(--green-11);
  --checkbox-border-color-hover: var(--green-11);
  --checklist-done-color: var(--text-faint);
  --drag-ghost-background: var(--medium-grey-5);
  --drag-ghost-text-color: var(--medium-light-grey-3);
  --indentation-guide-color: var(--medium-grey-4);
  --indentation-guide-color-active: var(--green-11);
  --pill-color: var(--background-primary);
  --pill-color-hover: var(--background-primary);
  --pill-color-remove: none;
  --pill-color-remove-hover: none;
  --pill-decoration: var(--dark-white);
  --pill-decoration-hover: var(--dark-grey-3);
  --pill-background: var(--green-11);
  --pill-background-hover: var(--green-08);
  --pill-border-color: var(--green-11);
  --pill-border-color-hover: var(--green-08);
  --nav-item-color-active: var(--green-11);
  --nav-item-color-selected: var(--green-11);
  --nav-item-color-highlighted: var(--green-11);
  --blockquote-border-color: var(--green-11);
  --callout-title-color: inherit;
  --callout-bug: 223, 191, 116;
  --callout-default: 145, 168, 110;
  --callout-error: 142, 70, 70;
  --callout-example: 155, 122, 209;
  --callout-fail: 142, 70, 70;
  --callout-important: 145, 168, 110;
  --callout-info: 123, 171, 212;
  --callout-question: 155, 122, 209;
  --callout-success: 145, 168, 110;
  --callout-summary: 223, 191, 116;
  --callout-tip: 155, 122, 209;
  --callout-todo: 123, 171, 212;
  --callout-warning: 142, 70, 70;
  --callout-quote: 223, 191, 116;
  --heading-formatting: var(--dark-white);
  --h1-color: var(--green-11);
  --h2-color: var(--gold-06);
  --h3-color: var(--green-10);
  --h4-color: var(--gold-05);
  --h5-color: var(--green-09);
  --h6-color: var(--gold-04);
  --hr-color: var(--medium-grey-5);
  --link-color: var(--green-11);
  --link-color-hover: var(--green-08);
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-decoration-thickness: none;
  --link-unresolved-color: var(--gold-05);
  --link-unresolved-opacity: 100%;
  --link-unresolved-filter: none;
  --link-unresolved-decoration-style: none;
  --link-unresolved-decoration-color: none;
  --link-external-color: var(--medium-grey-2);
  --link-external-color-hover: var(--dark-white);
  --link-external-decoration: none;
  --link-external-decoration-hover: none;
  --accent-h: 84;
  --accent-s: 25%;
  --accent-1: 45%;
  --color-accent-hsl: var(--green-11);
  --interactive-accent-hsl: var(--green-11);
  --text-normal: var(--dark-white);
  --text-muted: var(--medium-grey-1);
  --text-faint: var(--medium-grey-2);
  --text-on-accent: var(--dark-grey-3);
  --text-on-accent-inverted: var(--dark-white);
  --text-success: var(--green-11);
  --text-warning: var(--color-red);
  --text-error: var(--color-red);
  --text-accent: var(--green-11);
  --text-accent-hover: var(--green-08);
  --text-selection: var(--medium-grey-4);
  --text-highlight-bg: var(--medium-grey-4);
  --table-header-color: var(--green-11);
  --table-header-background: var(--dark-grey-2);
  --table-header-background-hover: var(--dark-grey-3);
  --table-selection: var(--medium-grey-4);
  --tag-background: var(--green-11);
  --tag-background-hover: var(--green-08);
  --tag-border-color: var(--green-11);
  --tag-border-color-hover: var(--green-08);
  --icon-color: var(--green-11);
  --icon-color-hover: var(--green-08);
  --icon-color-active: var(--green-08);
  --icon-color-focused: var(--green-08);
  --bold-color: var(--green-11);
  --italic-color: var(--gold-03);
  --divider-color-hover: var(--green-11);
  --scrollbar-bg: var(--black);
  --titlebar-text-color: var(--medium-light-grey-3);
  --titlebar-text-focused: var(--medium-light-grey-2);
  --canvas-card-label-color: var(--medium-grey-1);
  --canvas-dot-pattern: var(--medium-grey-5);
  --vault-name-color: var(--medium-light-grey-3);
  --graph-text: var(--medium-grey-3);
  --graph-line: var(--medium-grey-5);
  --graph-node: var(--green-11);
  --graph-node-unresolved: var(--medium-light-grey-3);
  --graph-node-tag: var(--medium-grey-4);
  --graph-node-attachment: var(--medium-grey-1);
  --search-icon-color: var(--green-11);
}
