:root[saved-theme="dark"],
html[saved-theme="dark"] {
  color-scheme: dark;

  .callout {
    --callout-blend-mode: lighten;
  }

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }

  --accent-1: 45%;

  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);

  --background-modifier-form-field: #2a2a2a;

  --callout-bug: 223, 191, 116;
  --callout-default: 145, 168, 110;
  --callout-error: 142, 70, 70;
  --callout-example: 155, 122, 209;
  --callout-fail: 142, 70, 70;
  --callout-important: 145, 168, 110;
  --callout-info: 123, 171, 212;
  --callout-question: 155, 122, 209;
  --callout-quote: 223, 191, 116;
  --callout-success: 145, 168, 110;
  --callout-summary: 223, 191, 116;
  --callout-tip: 155, 122, 209;
  --callout-title-color: inherit;
  --callout-todo: 123, 171, 212;
  --callout-warning: 142, 70, 70;

  --checkbox-color: none;

  --color-blue-rgb: rgb(123, 171, 212);

  --color-cyan-rgb: rgb(127, 187, 184);

  --color-green-rgb: rgb(145, 168, 110);

  --color-orange-rgb: rgb(207, 132, 79);

  --color-pink-rgb: rgb(185, 107, 136);

  --color-purple-rgb: rgb(155, 122, 209);

  --color-red-rgb: rgb(142, 70, 70);

  --color-yellow-rgb: rgb(223, 191, 116);

  --highlight-mix-blend-mode: darken;

  --input-shadow:
    inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;

  --interactive-accent-hsl: #778e55;
  --interactive-hover: #3f3f3f;
  --interactive-normal: #363636;

  --link-decoration: none;
  --link-decoration-hover: none;
  --link-decoration-thickness: none;

  --link-unresolved-filter: none;
  --link-unresolved-opacity: 100%;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;

  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;

  --pill-color-remove: none;
  --pill-color-remove-hover: none;

  --shadow-l:
    0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s:
    0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);

  --accent-1: 45%;

  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);

  --background-modifier-form-field: #2a2a2a;

  --callout-bug: 223, 191, 116;
  --callout-default: 145, 168, 110;
  --callout-error: 142, 70, 70;
  --callout-example: 155, 122, 209;
  --callout-fail: 142, 70, 70;
  --callout-important: 145, 168, 110;
  --callout-info: 123, 171, 212;
  --callout-question: 155, 122, 209;
  --callout-quote: 223, 191, 116;
  --callout-success: 145, 168, 110;
  --callout-summary: 223, 191, 116;
  --callout-tip: 155, 122, 209;
  --callout-title-color: inherit;
  --callout-todo: 123, 171, 212;
  --callout-warning: 142, 70, 70;

  --checkbox-color: none;

  --color-blue-rgb: rgb(123, 171, 212);

  --color-cyan-rgb: rgb(127, 187, 184);

  --color-green-rgb: rgb(145, 168, 110);

  --color-orange-rgb: rgb(207, 132, 79);

  --color-pink-rgb: rgb(185, 107, 136);

  --color-purple-rgb: rgb(155, 122, 209);

  --color-red-rgb: rgb(142, 70, 70);

  --color-yellow-rgb: rgb(223, 191, 116);

  --highlight-mix-blend-mode: darken;

  --input-shadow:
    inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;

  --interactive-accent-hsl: #778e55;
  --interactive-hover: #3f3f3f;
  --interactive-normal: #363636;

  --link-decoration: none;
  --link-decoration-hover: none;
  --link-decoration-thickness: none;

  --link-unresolved-filter: none;
  --link-unresolved-opacity: 100%;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;

  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;

  --pill-color-remove: none;
  --pill-color-remove-hover: none;

  --shadow-l:
    0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s:
    0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);

  --vault-name-color: #c4c4c4;
}
