:root[saved-theme="light"] {
  --background-primary: var(--light-grey);
  --background-primary-alt: var(--medium-light-grey-2);
  --background-secondary: var(--medium-light-grey-1);
  --background-secondary-alt: var(--medium-light-grey-3);
  --interactive-accent: var(--green-04);
  --interactive-accent-hsl: var(--green-04);
  --interactive-accent-hover: var(--green-05);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
  --background-modifier-active-hover: ((var(--green-05)), 0.15);
  --background-modifier-border: var(--light-black);
  --background-modifier-border-hover: var(--light-black);
  --background-modifier-border-focus: var(--light-black);
  --background-modifier-error-rgb: var(--color-red-rgb);
  --background-modifier-error: var(--color-red);
  --background-modifier-error-hover: var(--color-red);
  --background-modifier-success-rgb: var(--color-green-rgb);
  --background-modifier-success: var(--green-04);
  --background-modifier-message: var(--white);
  --checkbox-marker-color: var(--green-04);
  --checkbox-color: none;
  --checkbox-color-hover: var(--medium-light-grey-2);
  --checkbox-border-color: var(--green-04);
  --checkbox-border-color-hover: var(--green-04);
  --checklist-done-color: var(--text-faint);
  --drag-ghost-background: var(--medium-grey-3);
  --drag-ghost-text-color: var(--light-grey);
  --indentation-guide-color: var(--medium-light-grey-3);
  --indentation-guide-color-active: var(--green-04);
  --pill-color: var(--background-primary);
  --pill-color-hover: var(--background-primary);
  --pill-color-remove: none;
  --pill-color-remove-hover: none;
  --pill-decoration: var(--dark-white);
  --pill-decoration-hover: var(--dark-grey-3);
  --pill-background: var(--green-04);
  --pill-background-hover: var(--green-06);
  --pill-border-color: var(--green-04);
  --pill-border-color-hover: var(--green-06);
  --nav-item-color-active: var(--green-04);
  --nav-item-color-selected: var(--green-04);
  --nav-item-color-highlighted: var(--green-04);
  --blockquote-border-color: var(--green-04);
  --callout-title-color: inherit;
  --callout-bug: 211, 152, 12;
  --callout-default: 89, 109, 58;
  --callout-error: 128, 32, 32;
  --callout-example: 69, 44, 108;
  --callout-fail: 128, 32, 32;
  --callout-important: 89, 109, 58;
  --callout-info: 49, 103, 147;
  --callout-question: 69, 44, 108;
  --callout-success: 89, 109, 58;
  --callout-summary: 211, 152, 12;
  --callout-tip: 69, 44, 108;
  --callout-todo: 49, 103, 147;
  --callout-warning: 128, 32, 32;
  --callout-quote: 211, 152, 12;
  --heading-formatting: var(--light-black);
  --h1-color: var(--green-04);
  --h2-color: var(--medium-grey-4);
  --h3-color: var(--green-05);
  --h4-color: var(--medium-grey-5);
  --h5-color: var(--green-06);
  --h6-color: var(--medium-grey-6);
  --hr-color: var(--medium-light-grey-3);
  --link-color: var(--green-04);
  --link-color-hover: var(--green-07);
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-decoration-thickness: none;
  --link-unresolved-color: var(--green-06);
  --link-unresolved-opacity: 100%;
  --link-unresolved-filter: none;
  --link-unresolved-decoration-style: none;
  --link-unresolved-decoration-color: none;
  --link-external-color: var(--medium-grey-2);
  --link-external-color-hover: var(--light-black);
  --link-external-decoration: none;
  --link-external-decoration-hover: none;
  --accent-h: 84;
  --accent-s: 31%;
  --accent-1: 33%;
  --color-accent-hsl: var(--green-04);
  --interactive-accent-hsl: var(--green-04);
  --text-normal: var(--light-black);
  --text-muted: var(--medium-grey-3);
  --text-faint: var(--medium-grey-2);
  --text-on-accent: var(--light-grey);
  --text-on-accent-inverted: var(--light-black);
  --text-success: var(--green-04);
  --text-warning: var(--color-red);
  --text-error: var(--color-red);
  --text-accent: var(--green-04);
  --text-accent-hover: var(--green-07);
  --text-selection: var(--medium-light-grey-2);
  --text-highlight-bg: var(--light-green);
  --table-header-color: var(--green-04);
  --table-header-background: var(--medium-light-grey-2);
  --table-header-background-hover: var(--medium-light-grey-3);
  --table-selection: var(--light-green);
  --tag-background: var(--green-04);
  --tag-background-hover: var(--green-07);
  --tag-border-color: var(--green-04);
  --tag-border-color-hover: var(--green-07);
  --icon-color: var(--green-04);
  --icon-color-hover: var(--green-07);
  --icon-color-active: var(--green-07);
  --icon-color-focused: var(--green-07);
  --bold-color: var(--green-04);
  --italic-color: var(--medium-grey-2);
  --divider-color-hover: var(--green-04);
  --scrollbar-bg: var(--white);
  --titlebar-text-color: var(--medium-grey-2);
  --titlebar-text-focused: var(--medium-grey-3);
  --canvas-card-label-color: var(--medium-grey-2);
  --canvas-dot-pattern: var(--medium-light-grey-2);
  --vault-name-color: var(--dark-grey-3);
  --graph-text: var(--medium-grey-3);
  --graph-line: var(--medium-light-grey-3);
  --graph-node: var(--green-04);
  --graph-node-unresolved: var(--dark-grey-3);
  --graph-node-tag: var(--medium-grey-1);
  --graph-node-attachment: var(--medium-grey-2);
  --search-icon-color: var(--green-04);

  code[data-theme*=" "] {
    --shiki-dark: var(--shiki-light) !important;
    --shiki-dark-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-dark: var(--shiki-light) !important;
      --shiki-dark-bg: var(--shiki-light-bg) !important;
    }
  }
}
