:root[saved-theme="light"] {
  --background-primary: #ffffff;
  --background-secondary: #fafafa;
  --table-background: #ffffff;
  --table-border-color: #222222;
  --bold-color: #8a5cf5;
  --link-color: #2c54f2;
  --link-unresolved-color: #2c54f2;
  --link-color-hover: #5c7bf5;
  --link-external-color: #2c54f2;
  --link-external-color-hover: #5c7bf5;
  --h4-color: #8a5cf5;

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
