.pathfinder-remaster {
  --font: 'Taroca';
  --header-weight: 100;
  --h1-font: 'Taroca';
  --h2-font: var(--h1-font);
  --h3-font: 'Norwester';
  --h4-font: var(--h3-font);
  --h5-font: var(--h3-font);
  --h6-font: var(--h3-font);
  --h1-border-line-height: 1.5px;
  --h2-border-line-height: 1.5px;
  --h3-border-line-height: 2px;
  --h4-border-line-height: 0;
  --h5-border-line-height: 0;
  --h6-border-line-height: 0;
  --h1-border-line-color: var(--header-border-line-color);
  --h2-border-line-color: var(--header-border-line-color);
  --h3-border-line-color: var(--header-border-line-color);
  --h4-border-line-color: var(--header-border-line-color);
  --h5-border-line-color: var(--header-border-line-color);
  --h6-border-line-color: var(--header-border-line-color);
  --h1-border-left-color: var(--h1-border-line-color);
  --h2-border-left-color: var(--h2-border-line-color);
  --h3-border-left-color: var(--h3-border-line-color);
  --h4-border-left-color: var(--h4-border-line-color);
  --h5-border-left-color: var(--h5-border-line-color);
  --h6-border-left-color: var(--h6-border-line-color);
  --h1-border-right-color: var(--h1-border-line-color);
  --h2-border-right-color: var(--h2-border-line-color);
  --h3-border-right-color: var(--h3-border-line-color);
  --h4-border-right-color: var(--h4-border-line-color);
  --h5-border-right-color: var(--h5-border-line-color);
  --h6-border-right-color: var(--h6-border-line-color);
  --vault-name-font-weight: 100;
  --dataview-th-background: var(--th);
  --dataview-th-alt-color: var(--hvr);
  --dataview-th-color: var(--text-dl);
  --dataview-th-border-bottom: var(--th);
  --hr-image: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 1000 204' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(1,0,0,1,1.7053e-13,-398.169)'%3E%3Crect id='Artboard1' x='-0' y='398.169' width='1000' height='203.661' style='fill:none;'/%3E%3CclipPath id='_clip1'%3E%3Crect id='Artboard11' serif:id='Artboard1' x='-0' y='398.169' width='1000' height='203.661'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23_clip1)'%3E%3Cg transform='matrix(4.31034,0,0,4.31034,-267.917,-1094.41)'%3E%3Cpath d='M178.389,380.983C175.751,387.924 169.433,393.494 159,393.565C127.289,393.78 136.335,361.89 118,362C108.448,361.996 110.806,374.866 115,377C114.833,377.167 100.762,372.819 105,357C76.617,370.354 62.389,358 62.389,358C62.389,358 80.399,363.885 90.791,357.333C109.271,345.683 133.119,337.401 142,364C147.001,347.144 172.305,357.468 163,370.565C163.721,364.587 151.808,358.708 151,370.565C150.447,378.68 162.397,385.825 170.144,377.076C176.411,369.999 170.344,356.114 162,354C170.327,353.643 175.921,358.556 178.389,365.031C180.857,358.556 186.45,353.643 194.777,354C186.434,356.114 180.367,369.999 186.634,377.076C194.38,385.825 206.33,378.68 205.777,370.565C204.97,358.708 193.056,364.587 193.777,370.565C184.472,357.468 209.776,347.144 214.777,364C223.658,337.401 247.507,345.683 265.986,357.333C276.379,363.885 294.389,358 294.389,358C294.389,358 280.16,370.354 251.777,357C256.015,372.819 241.944,377.167 241.777,377C245.971,374.866 248.329,361.996 238.777,362C220.443,361.89 229.488,393.78 197.777,393.565C187.344,393.494 181.027,387.924 178.389,380.983Z' style='fill:rgb(139,38,45);'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  --hr-image-height: 16px;
  --hr-thickness: 2px;
  --highlight: rgba(191, 0, 0, 0.2);
  --hvr: rgba(191, 0, 0, 0.2);
  --hvr-active: #e5800040;
}

.pathfinder-remaster {
  --h1-font: var(--font);
  --h2-font: var(--font);
  --h3-font: var(--font);
  --h4-font: var(--font);
  --h5-font: var(--font);
  --h6-font: var(--font);
  --h1-weight: var(--header-weight);
  --h2-weight: var(--header-weight);
  --h3-weight: var(--header-weight);
  --h4-weight: var(--header-weight);
  --h5-weight: var(--header-weight);
  --h6-weight: var(--header-weight);
  --h1-color: var(--headers);
  --h2-color: var(--headers);
  --h3-color: var(--headers);
  --h4-color: var(--headers);
  --h5-color: var(--headers);
  --h6-color: var(--headers);
  --illusion-h1-background: var(--theme-rainbow-1);
  --illusion-h2-background: var(--theme-rainbow-2);
  --illusion-h3-background: var(--theme-rainbow-3);
  --illusion-h4-background: var(--theme-rainbow-4);
  --illusion-h5-background: var(--theme-rainbow-5);
  --illusion-h6-background: var(--theme-rainbow-6);
  --h1-border-line-height: var(--header-border-line-height);
  --h2-border-line-height: var(--header-border-line-height);
  --h3-border-line-height: var(--header-border-line-height);
  --h4-border-line-height: var(--header-border-line-height);
  --h5-border-line-height: var(--header-border-line-height);
  --h6-border-line-height: var(--header-border-line-height);
  --header-border-line-color: var(--table);
  --h1-border-line-color: var(--header-border-line-color);
  --h2-border-line-color: var(--header-border-line-color);
  --h3-border-line-color: var(--header-border-line-color);
  --h4-border-line-color: var(--header-border-line-color);
  --h5-border-line-color: var(--header-border-line-color);
  --h6-border-line-color: var(--header-border-line-color);
  --h1-border-left-color: var(--h1-border-line-color);
  --h2-border-left-color: var(--h2-border-line-color);
  --h3-border-left-color: var(--h3-border-line-color);
  --h4-border-left-color: var(--h4-border-line-color);
  --h5-border-left-color: var(--h5-border-line-color);
  --h6-border-left-color: var(--h6-border-line-color);
  --h1-border-right-color: var(--h1-border-line-color);
  --h2-border-right-color: var(--h2-border-line-color);
  --h3-border-right-color: var(--h3-border-line-color);
  --h4-border-right-color: var(--h4-border-line-color);
  --h5-border-right-color: var(--h5-border-line-color);
  --h6-border-right-color: var(--h6-border-line-color);
  --font-print-override: var(--font-default);
  --icon-color: var(--soft-text);
  --metadata-icon-color: var(--icon-color);
  --metadata-button-text-color: var(--inactive);
  --inline-title-color: var(--headers);
  --inline-title-font: var(--h1-font);
  --inline-title-weight: var(--h1-weight);
  --link-color: var(--accent2-lite);
  --link-color-hover: var(--lite-accent);
  --link-external-color: var(--text-accent);
  --link-external-color-hover: var(--text-accent-hover);
  --link-unresolved-color: var(--inactive);
  --embed-border-left-color: var(--headers);
  --embed-border-color-hover: var(--outline);
  --embed-border-left-color-hover: var(--embed-border-left-color);
  --embed-border-right-color-hover: var(--embed-border-color-hover);
  --embed-border-top-color-hover: var(--embed-border-color-hover);
  --embed-border-bottom-color-hover: var(--embed-border-color-hover);
  --code-normal: var(--code-text);
  --code-background: var(--code-bg);
  --checkbox-color: var(--accent);
  --checkbox-border-color: var(--accent);
  --checkbox-color-hover: var(--dark-accent);
  --lines: var(--hr);
  --indentation-guide-color: var(--lines);
  --indentation-guide-color-active: var(--accent);
  --list-color-1: var(--indentation-guide-color);
  --list-color-2: var(--indentation-guide-color);
  --list-color-3: var(--indentation-guide-color);
  --list-color-4: var(--indentation-guide-color);
  --list-color-5: var(--indentation-guide-color);
  --list-color-6: var(--indentation-guide-color);
  --list-marker-color: var(--accent);
  --list-numbered-color: var(--lite-accent);
  --th: var(--dark-accent);
  --table-header-background: var(--th);
  --table-header-background-hover: var(--accent);
  --table-column-alt-background: var(--td);
  --table-row-alt-background: var(--td);
  --table-row-background-hover: var(--highlight);
  --table-border-color: var(--note);
  --dataview-th-count-color: var(--dataview-th-color);
  --dataview-th-background: var(--outer-bar);
  --dataview-th-alt-color: rgba(var(--accent-color), 10%);
  --dataview-th-color: var(--headers);
  --dataview-th-border-bottom: 2px solid var(--headers);
  --tag: var(--dark-accent);
  --tag-background: var(--tag);
  --tag-background-hover: var(--accent);
  --tag-border-color: var(--tag);
  --tag-border-color-hover: var(--accent);
  --embed-border-left: 2px solid var(--headers);
  --embed-border-start: 2px solid var(--interactive-accent);
  --hr-color: var(--hr);
  --hr-icon-color: var(--headers);
  --hr-icon-background: var(--note);
  --blockquote-border-color: var(--bg);
  --blockquote-background-color: var(--embed-bg);
  --folder: var(--headers);
  --nav-item-background-hover: var(--dark-accent);
  --sidebar-tab-background-color-hover: var(--accent);
  --latex-color: var(--lite-accent);
  --latex-format-color: var(--inactive);
  --latex-syntax-color: var(--soft-text);
  --i-at: var(--soft-text);
  background-color: var(--background-primary);
  --background-primary: var(--note);
  --background-primary-alt: var(--deep-dark-accent);
  --background-secondary: var(--side-bar);
  --background-secondary-alt: var(--outer-bar);
  --background-modifier-border: var(--table);
  --background-modifier-border-hover: var(--bg);
  --background-modifier-hover: var(--hvr-active);
  --background-modifier-form-field: var(--td);
  --text-highlight-bg: var(--hvr);
  --text-highlight-bg-active: var(--hvr-active);
  --text-selection: var(--highlight);
  --text-normal: var(--text);
  --text-muted: var(--soft-text);
  --text-accent: var(--accent2-lite);
  --text-accent-hover: var(--accent2);
  --interactive-normal: var(--outer-bar);
  --interactive-hover: var(--inactive);
  --interactive-accent: var(--dark-accent);
  --interactive-accent-hover: var(--inactive);
  --scrollbar-bg: var(--bg);
  --scrollbar-thumb-bg: var(--tag);
  --graph-bg: var(--note);
  --graph-lines: var(--highlight);
  --graph-node: var(--text);
  --graph-fill: var(--lite-accent);
  --graph-404: var(--inactive);
  --graph-img: var(--accent2);
  --graph-tag: var(--dark-accent);
  --graph-focused: var(--accent2-lite);
  --scrollbar-track-bg: var(--note);
  --shadow-s: 2px 2px 0 var(--outline);
  --shadow-m: 3px 3px 0 var(--outline);
  --shadow-ml: 4px 4px 0 var(--outline);
  --shadow-l: 5px 5px 0 var(--outline);
  --box-border-s: 1px solid var(--outline);
  --box-border: 2px solid var(--outline);
  --box-border-m: 3px solid var(--outline);
  --input-shadow: var(--shadow-s);
  --input-shadow-hover: var(--shadow-m);
  --embed-block-shadow-hover: var(--input-shadow);
  --kanban-card-border: var(--box-border);
  --kanban-card-title-border: 0 1px 0 var(--outline);
  --kanban-card-text-color: var(--text-normal);
}
