.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder.mod-root
  .nav-folder
  .nav-folder {
  background-color: inherit;
}
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .is-collapsed
  .nav-folder-collapse-indicator
  svg,
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder-collapse-indicator
  svg,
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder.mod-root
  > .nav-folder-children
  > .nav-folder
  .nav-file-title,
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder.mod-root
  > .nav-folder-children
  > .nav-folder
  .nav-folder-title {
  color: var(--nav-folder-title-color);
}
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder-children
  > .nav-folder:nth-child(10n + 2),
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder-children
  > .nav-folder:nth-child(10n + 8) {
  background-color: rgba(var(--sea), 0.9);
  opacity: var(--shib-colorful-folders-opacity);
  border-radius: var(--shib-colorful-folders-radius, 2px);
  margin-bottom: 2px;
}
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder-children
  > .nav-folder:nth-child(10n + 3),
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder-children
  > .nav-folder:nth-child(10n + 7) {
  background-color: rgba(var(--turquoise), 0.9);
  opacity: var(--shib-colorful-folders-opacity);
  border-radius: var(--shib-colorful-folders-radius, 2px);
  margin-bottom: 2px;
}
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder-children
  > .nav-folder:nth-child(10n + 11),
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder-children
  > .nav-folder:nth-child(10n + 4),
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder-children
  > .nav-folder:nth-child(10n + 6),
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder-children
  > .nav-folder:nth-child(10n + 9) {
  background-color: rgba(var(--cyan), 0.9);
  opacity: var(--shib-colorful-folders-opacity);
  border-radius: var(--shib-colorful-folders-radius, 2px);
  margin-bottom: 2px;
}
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder-children
  > .nav-folder:nth-child(10n + 10),
.shiba-color-folder-background.folder-colorful-three:not(
    .shiba-color-folder-default
  )
  .nav-folder-children
  > .nav-folder:nth-child(10n + 5) {
  background-color: rgba(var(--blue), 0.9);
  opacity: var(--shib-colorful-folders-opacity);
  border-radius: var(--shib-colorful-folders-radius, 2px);
  margin-bottom: 2px;
}
.shiba-color-folder-title.folder-colorful-three:not(.shiba-color-folder-default)
  .nav-folder-children
  > .nav-folder:nth-child(10n + 10)
  .nav-folder-title,
.shiba-color-folder-title.folder-colorful-three:not(.shiba-color-folder-default)
  .nav-folder-children
  > .nav-folder:nth-child(10n + 4)
  .nav-folder-title,
.shiba-color-folder-title.folder-colorful-three:not(.shiba-color-folder-default)
  .nav-folder-children
  > .nav-folder:nth-child(10n + 6)
  .nav-folder-title {
  color: rgba(var(--turquoise), 0.9);
  opacity: 0.9;
  font-weight: 700;
}
.shiba-color-folder-title.folder-colorful-three:not(.shiba-color-folder-default)
  .nav-folder-children
  > .nav-folder:nth-child(10n + 11)
  .nav-folder-title {
  color: rgba(var(--sea), 0.9);
  opacity: 0.9;
  font-weight: 700;
}
.shiba-color-folder-title.folder-colorful-three:not(.shiba-color-folder-default)
  .nav-folder-children
  > .nav-folder:nth-child(10n + 3)
  .nav-folder-title,
.shiba-color-folder-title.folder-colorful-three:not(.shiba-color-folder-default)
  .nav-folder-children
  > .nav-folder:nth-child(10n + 7)
  .nav-folder-title,
.shiba-color-folder-title.folder-colorful-three:not(.shiba-color-folder-default)
  .nav-folder-children
  > .nav-folder:nth-child(10n + 9)
  .nav-folder-title {
  color: rgba(var(--cyan), 0.9);
  opacity: 0.9;
  font-weight: 700;
}
.shiba-color-folder-title.folder-colorful-three:not(.shiba-color-folder-default)
  .nav-folder-children
  > .nav-folder:nth-child(10n + 2)
  .nav-folder-title,
.shiba-color-folder-title.folder-colorful-three:not(.shiba-color-folder-default)
  .nav-folder-children
  > .nav-folder:nth-child(10n + 8)
  .nav-folder-title {
  color: rgba(var(--blue), 0.9);
  opacity: 0.9;
  font-weight: 700;
}
.shiba-color-folder-title.folder-colorful-three:not(.shiba-color-folder-default)
  .nav-folder-children
  > .nav-folder:nth-child(10n + 5)
  .nav-folder-title {
  color: rgba(var(--cyan), 0.9);
  opacity: 0.8;
  font-weight: 700;
}
