:root:root {
  --background-primary: var(--dark-blue);
  --background-primary-alt: var(--soft-dark-blue);
  --background-secondary: var(--dark-blue);
  --background-secondary-alt: var(--soft-dark-blue);
  --background-modifier-hover: var(--mid-blue);
  --background-modifier-active-hover: var(--dark-blue);
  --background-modifier-border: none;
  --background-modifier-border-hover: none;
  --background-modifier-border-focus: none;
  --background-modifier-error-rgb: var(--bright-red-rgb);
  --background-modifier-error: var(--bright-red);
  --background-modifier-error-hover: var(--bright-red);
  --background-modifier-success-rgb: var(--bright-green-rgb);
  --background-modifier-success: var(--bright-green);
  --background-modifier-message: var(--bright-orange);
  --background-modifier-form-field: var(--light-blue);
  --color-red: var(--bright-red);
  --color-orange: var(--bright-orange);
  --color-yellow: var(--bright-yellow);
  --color-green: var(--bright-green);
  --color-cyan: var(--bright-blue);
  --color-blue: var(--ocean-blue);
  --color-purple: var(--bright-purple);
  --color-pink: var(--bright-orange);
  --color-red-rgb: var(--bright-red-rgb);
  --color-orange-rgb: var(--bright-orange-rgb);
  --color-yellow-rgb: var(--soft-yellow-rgb);
  --color-green-rgb: var(--bright-green-rgb);
  --color-cyan-rgb: var(--percy-blue-rgb);
  --color-blue-rgb: var(--bright-blue-rbg);
  --color-purple-rgb: var(--bright-purple-rgb);
  --color-pink-rgb: var(--bright-orange-rgb);
  --interactive-normal: var(--bright-orange);
  --interactive-hover: rgba(var(--bright-orange-rgb), 0.9);
  --interactive-accent: var(--bright-blue);
  --interactive-accent-hsl: hsl(202.5, 38.89%, 28.24%);
  --interactive-accent-hover: rgba(var(--ocean-blue-rgb), 0.8);
  --accent-h: 140;
  --accent-s: 56%;
  --accent-l: 69%;
  --bold-color: var(--bright-green);
  --code-normal: var(--blue-gray);
  --italic-color: var(--bright-yellow);
  --italic-weight: bold;
  --text-normal: var(--soft-white);
  --text-muted: var(--basic-gray);
  --text-faint: var(--bright-blue);
  --text-on-accent: var(--ocean-blue);
  --text-on-accent-inverted: var(--ocean-blue);
  --text-error: var(--bright-red);
  --text-success: var(--bright-green);
  --text-selection: var(--bright-red);
  --text-highlight-bg: rgba(var(--percy-blue-rgb), 0.5);
  --h1-color: var(--bright-red);
  --h2-color: var(--bright-orange);
  --h3-color: var(--bright-yellow);
  --h4-color: var(--bright-green);
  --h5-color: var(--percy-blue);
  --h6-color: var(--bright-blue);
  --h1-size: 2.3em;
  --h2-size: 2.1em;
  --h3-size: 1.9em;
  --h4-size: 1.7em;
  --h5-size: 1.6em;
  --h6-size: 1.5em;
  --blockquote-border-color: var(--percy-blue);
  --blockquote-border-thickness: 0.2em;
  --blockquote-background-color: var(--background-primary-alt);
  --canvas-color: var(--percy-blue-rgb) !important;
  --canvas-card-label-color: var(--washed-blue);
  --canvas-dot-pattern: var(--ocean-blue);
  --canvas-color-1: var(--bright-red-rgb);
  --canvas-color-2: var(--bright-orange-rgb);
  --canvas-color-3: var(--soft-yellow-rgb);
  --canvas-color-4: var(--bright-green-rgb);
  --canvas-color-5: var(--bright-blue-rbg);
  --canvas-color-6: var(--bright-purple-rgb);
  --checkbox-color: var(--soft-yellow);
  --checkbox-color-hover: rgba(var(--soft-yellow-rgb), 0.8);
  --checkbox-border-color: rgba(var(--soft-yellow-rgb), 0.8);
  --checkbox-border-color-hover: rgba(var(--soft-yellow-rgb), 0.6);
  --checklist-done-color: var(--washed-blue);
  --checkbox-marker-color: var(--background-primary);
  --checklist-done-decoration: unset;
  --list-marker-color: var(--percy-blue);
  --list-marker-color-collapsed: var(--list-marker-color);
  --indentation-guide-width: 2px;
  --indentation-guide-color: rgba(var(--ocean-blue-rgb), 0.4);
  --indentation-guide-width-active: 2px;
  --indentation-guide-color-active: rgba(var(--ocean-blue-rgb), 1);
  --tab-container-background: var(--background-primary-alt);
  --tab-radius: 5px;
  --tab-radius-active: 5px;
  --tab-curve: none;
  --tab-text-color: var(--washed-blue);
  --link-color: var(--bright-orange);
  --link-color-hover: rgba(var(--bright-orange-rgb), 0.8);
  --link-unresolved-color: var(--basic-gray);
  --link-external-color: var(--bright-blue);
  --link-external-color-hover: rgba(var(--bright-blue-rbg), 0.8);
  --callout-border-width: 2px;
  --callout-border-opacity: 0.05;
  --callout-radius: 10px;
  --callout-title-color: none;
  --callout-bug: var(--bright-purple-rgb);
  --callout-default: var(--bright-blue-rbg);
  --callout-error: var(--bright-red-rgb);
  --callout-example: var(--bright-purple-rgb);
  --callout-fail: var(--bright-red-rgb);
  --callout-important: var(--bright-orange-rgb);
  --callout-info: var(--bright-blue-rbg);
  --callout-question: var(--soft-yellow-rgb);
  --callout-success: var(--bright-green-rgb);
  --callout-summary: var(--washed-blue-rgb);
  --callout-tip: var(--bright-orange-rgb);
  --callout-todo: var(--bright-blue-rbg);
  --callout-warning: var(--bright-red-rgb);
  --callout-quote: var(--soft-yellow-rgb);
  --tag-background: var(--ocean-blue);
  --tag-background-hover: var(--light-blue);
  --tag-color: var(--bright-green);
  --tag-color-hover: var(--percy-blue);
  --tag-border-color: none;
  --tag-border-width: 0px;
  --tag-radius: 15px;
  --tag-weight: 600;
  --scrollbar-thumb-bg: var(--mid-blue);
  --scrollbar-active-thumb-bg: var(--percy-blue);
  --graph-text: var(--washed-blue);
  --graph-line: var(--light-blue);
  --graph-node: var(--soft-yellow);
  --graph-node-unresolved: var(--washed-blue);
  --graph-node-focused: var(--bright-orange);
  --graph-node-tag: var(--bright-blue);
  --graph-node-attachment: var(--bright-red);
  --code-comment: var(--washed-blue);
  --divider-color: var(--background-primary-alt);
  --file-header-active: var(--almost-white);
  --hr-color: var(--percy-blue);
  --icon-color-focused: var(--bright-blue);
  --icon-color-hover: var(--soft-yellow);
  --ribbon-background: var(--background-primary-alt);
  --nav-collapse-icon-color: var(--percy-blue);
  --slider-track-background: var(--ocean-blue);

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
