.ct-reporter {
  --background-primary: #fffdf8;
  --background-primary-alt: #ebe4d6;
  --background-secondary: #f5f0e5;
  --code-background: #f3ede2;
  --background-modifier-border: hsl(41, 18%, 82%);
  --background-modifier-border-hover: hsl(41, 20%, 88%);
  --indentation-guide-color-active: hsl(41, 5%, 65%);
  --interactive-normal: var(--background-primary-alt);
  --interactive-hover: #f2ede4;
  --text-normal: #353132;
  --text-muted: #7d7c7d;
  --text-faint: #a7a7a7;
}
