:root:root {
  --background-primary: #fcfef3;
  --background-secondary: #f8f6ea;
  --background-secondary-alt: #a3d5aa;
  --background-modifier-hover: #a3d5aa;
  --nav-item-color-active: #edf4f0;
  --nav-item-color-hover: #edf4f0;
  --tab-container-background: #a3d5aa;
  --input-shadow: none;
  --interactive-normal: #eff1df;
  --interactive-hover: #e5e8c2;
  --input-shadow-hover: none;
  --text-normal: #6f6e6a;
  --text-muted: #8d9c8d;
  --background-modifier-cover: #f9fcef;
  --background-modifier-cover: #f6f9ec;
  --background-modifier-error-hover: #e5bec5;
  --background-modifier-error: #f1d4d9;
  --panel-border-color: rgba(0, 0, 0, 0);
  --gray-1: #b0c0aa;
  --gray-2: #a0a5b8;
  --red: #cd8f88;
  --green: #afe4ae;
  --blue: #3d74f6;
  --purple: #ce82cd;
  --aqua: #89bace;
  --yellow: #e1d5ac;
  --orange: #c1a58c;
  --slider-track-background: #eff1e1;
  --toggle-radius: 4px;
}
