body:not(.longform-left-aligned) :is(.writing, .longform-leaf) {
  hyphens: auto;
  text-align: justify;
}

body:not(.longform-left-aligned)
  :is(.writing, .longform-leaf)
  :is(
    .HyperMD-codeblock,
    .HyperMD-header,
    .inline-title,
    .cm-hmd-frontmatter,
    .HyperMD-table-2,
    .table-cell-wrapper
  ) {
  text-align: left;
}
