:root:root {
  --color-base-00: #0e0e0e;
  --color-base-05: #343434;
  --color-base-10: #242424;
  --color-base-20: #1a1a1a;
  --color-base-25: #262626;
  --color-base-30: #333333;
  --color-base-35: #363636;
  --color-base-40: #4a4a4a;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #bbbbbb;
  --color-base-80: #dddddd;
  --color-base-90: #eeeeee;
  --color-base-100: #ffffff;
  --background-primary: var(--color-base-00);
  --background-secondary: var(--color-base-00);
  --titlebar-background: var(--color-base-00);
  --titlebar-background-focused: var(--color-base-10);
  --red_x: 191, 97, 106;
  --red: rgb(var(--red_x));
  --orange_x: 208, 135, 112;
  --orange: rgb(var(--orange_x));
  --yellow_x: 235, 203, 139;
  --yellow: rgb(var(--yellow_x));
  --green_x: 163, 190, 140;
  --green: rgb(var(--green_x));
  --purple_x: 180, 142, 173;
  --purple: rgb(var(--purple_x));
  --frost0_x: 143, 188, 187;
  --frost0: rgb(var(--frost0_x));
  --frost2_x: 129, 161, 193;
  --frost2: rgb(var(--frost2_x));
  --h1-color: var(--red);
  --h2-color: var(--yellow);
  --h3-color: var(--green);
  --h4-color: var(--purple);
  --h5-color: var(--frost0);
  --h6-color: var(--frost2);
  --text-primary: var(--color-base-80);
  --text-secondary: var(--color-base-50);
  --text-error: var(--red);
  --text-warning: var(--yellow);
  --button-background: var(--background-primary);
  --button-text: var(--color-base-80);
  --button-border: var(--background-primary);
  --focus-border: var(--purple);
  --selection-background: rgba(var(--green_x), 0.35);
  --status-bar-background: var(--color-base-05);
  --status-bar-foreground: var(--color-base-100);
  --style-settings-section-colors: "Base Colors";
  --style-settings-var-color-base-00: [color, Base Dark, #0e0e0e];
  --style-settings-var-color-base-05: [color, Darker Secondary, #343434];
  --style-settings-var-color-base-10: [color, Slightly Lighter Dark, #242424];
  --style-settings-var-color-base-20: [color, Even Lighter Dark, #1a1a1a];
  --style-settings-var-color-base-25: [color, Soft Highlight Color, #262626];
  --style-settings-var-color-base-30: [color, Dark Gray, #333333];
  --style-settings-var-color-base-35: [color, Medium Dark, #363636];
  --style-settings-var-color-base-40: [color, Mid-Tone Gray, #4a4a4a];
  --style-settings-var-color-base-50: [color, Light Gray, #666666];
  --style-settings-var-color-base-60: [color, Lighter Gray, #999999];
  --style-settings-var-color-base-70: [color, Almost White Gray, #bbbbbb];
  --style-settings-var-color-base-80: [color, Very Light Gray, #dddddd];
  --style-settings-var-color-base-90: [color, Almost White, #eeeeee];
  --style-settings-var-color-base-100: [color, Pure White, #ffffff];
  --style-settings-section-accent-colors: "Accent Colors";
  --style-settings-var-red_x: [color, Red Base, #bf616a];
  --style-settings-var-orange_x: [color, Orange Base, #d08770];
  --style-settings-var-yellow_x: [color, Yellow Base, #ebcb8b];
  --style-settings-var-green_x: [color, Green Base, #a3be8c];
  --style-settings-var-purple_x: [color, Purple Base, #b48ead];
  --style-settings-var-frost0_x: [color, Cyan Frost, #8fbcbb];
  --style-settings-var-frost2_x: [color, Blue Frost, #81a1c1];
  --style-settings-section-headings: "Headings";
  --style-settings-var-h1-color: [color, Heading 1 Color, var(--red)];
  --style-settings-var-h2-color: [color, Heading 2 Color, var(--yellow)];
  --style-settings-var-h3-color: [color, Heading 3 Color, var(--green)];
  --style-settings-var-h4-color: [color, Heading 4 Color, var(--purple)];
  --style-settings-var-h5-color: [color, Heading 5 Color, var(--frost0)];
  --style-settings-var-h6-color: [color, Heading 6 Color, var(--frost2)];
  --style-settings-section-text-colors: "Text Colors";
  --style-settings-var-text-primary: [color, Primary Text Color, var(--color-base-80)];
  --style-settings-var-text-secondary: [color, Secondary Text Color, var(--color-base-50)];
  --style-settings-var-text-error: [color, Error Text Color, var(--red)];
  --style-settings-var-text-warning: [color, Warning Text Color, var(--yellow)];
  --style-settings-section-buttons: "Buttons";
  --style-settings-var-button-text: [color, Button Text Color, var(--color-base-80)];
  --style-settings-var-button-border: [color, Button Border Color, var(--background-primary)];
  --style-settings-section-selection-focus: "Selections and Focus";
  --style-settings-var-focus-border: [color, Focus Border Color, var(--purple)];
  --style-settings-section-status-bar: "Status Bar";
  --style-settings-var-status-bar-background: [color, Status Bar Background, var(--color-base-05)];
  --style-settings-var-status-bar-foreground: [color, Status Bar Foreground, var(--color-base-100)];
  --header-font: "Inter";
  --h1-font: var(--header-font);
  --h2-font: var(--header-font);
  --h3-font: var(--header-font);
  --h4-font: var(--header-font);
  --h5-font: var(--header-font);
  --h6-font: var(--header-font);
  --body-font: "Inter";
  --font-text-theme: var(--body-font);
  --file-header-font: var(--body-font);
  --code-size: var(--font-smaller);
  --code-background: var(--background-primary);
  --code-normal: var(--color-base-80);
  --code-comment: var(--color-base-50);
  --code-function: var(--yellow);
  --code-important: var(--orange);
  --code-keyword: var(--purple);
  --code-property: var(--frost0);
  --code-punctuation: var(--color-base-60);
  --code-string: var(--green);
  --code-tag: var(--red);
  --code-value: var(--purple);
}
