.theme-gruvbox-s {
  --base-c: 88%;
}

.low-contrast-light {
  --color-base-35: hsl(
    var(--theme-tint),
    calc(var(--theme-sat-text) + 5%),
    50%,
    0.18
  ) !important;
  --color-base-30: hsl(var(--theme-tint), 60%, 75%) !important;
}
