:root:root {
  --background-primary: var(--base);
  --background-secondary: var(--surface);
  --table-row: var(--gray);
  --site-name-color: var(--red);
  --background-modifier-border: var(--overlay);
  --tab-text-color: var(--love);
  --modal-background: var(--puple);
  --modal-border-color: var(--black);
  --status-bar-background: var(--gray);
  --titlebar-background: var(--gray);
  --titlebar-background-focused: var(--mutted);
  --scrollbar-thumb-bg: var(--red2);
  --scrollbar-active-thumb-bg: var(--red);
  --sidebar-active: var(--red);
  --font-text-theme: var(--family);
  --text-normal: var(--text);
  --text-muted: var(--muted);
  --text-accent: var(--red);
  --text-accent-hover: var(--red2);
  --tag-color: var(--red);
  --tag-color-hover: var(--red2);
  --tag-background: var(--overlay);
  --graph-node: var(--red);
  --graph-node-unresolved: var(--red);
  --graph-node-focused: var(--red2);
  --graph-text: var(--rose);
  --h1-color: var(--red);
  --h2-color: var(--red);
  --h3-color: var(--red);
  --h4-color: var(--red);
  --h5-color: var(--red);
  --h6-color: var(--red);
  --code-normal: var(--subtle);
  --code-background: var(--gray);
  --text-selection: rgba(49, 116, 143, 0.6);
  --flashing-background: rgba(235, 111, 146, 0.3);
  --link-color: var(--red);
  --link-url-hover: var(--red2);
  --bold-color: var(--bold);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
