.hide-callout-title
  .callout[data-callout='info']
  .callout-content
  p:first-of-type {
  margin: 0px;
  /* close gaps in infobox when info callout title is hidden */
}

.hide-callout-title .callout[data-callout='info'] .callout-title {
  display: none;
}
