body.no-wrapped-table-cell table:not([class*='table-view-table']) {
  width: 100%;
  table-layout: fixed;
}
body.no-wrapped-table-cell table:not([class*='table-view-table']) :is(th, td) {
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: ellipsis;
}
body.no-wrapped-table-cell
  table:not([class*='table-view-table'])
  :is(th, td):hover {
  text-overflow: clip;
}
