:root,
body {
  --background-primary: rgba(var(--cpt-crust), 0.7);
  --background-primary-alt: rgba(var(--cpt-core-alt), 0.7);
  --background-secondary: rgba(var(--cpt-mantle), 0.5);
  --background-secondary-alt: rgba(var(--cpt-mantle-alt), 0.5);
  --modal-background: rgba(var(--cpt-mantle), 0.9);
  body.aura-disable-borders-image-dark-toggle {
    --divider-color: transparent;
  }
  .aura-card-layout {
    --card-background-color: rgba(
      var(--cpt-crust),
      var(--workspace-slider-dark)
    );
  }
  .popover {
    background-color: rgba(var(--cpt-core), var(--workspace-slider-dark));
  }
  .horizontal-main-container {
    background: var(--workspace-background-image);
    background-color: transparent;
    background-size: cover;
  }
  .workspace
    .mod-root
    .workspace-tabs.mod-stacked
    .workspace-tab-container
    .workspace-tab-header {
    --background-primary: rgba(var(--cpt-crust), 0.7);
  }
  .workspace-leaf.is-hidden {
    --background-primary: transparent !important;
  }
  .workspace-fake-target-overlay:not(.is-in-sidebar)
    .workspace-tabs
    .workspace-leaf,
  .mod-root .workspace-tabs .workspace-leaf {
    --background-primary: rgba(var(--cpt-crust), var(--workspace-slider-dark));
  }
}
.prompt {
  background-color: var(--background-secondary);
}
