.everforest-light {
  /*PALETTE*/
  --love-rgb: 248, 85, 82;
  /*statusline3*/
  --gold-rgb: 223, 160, 0;
  /*yellow*/
  --rose-rgb: 245, 125, 38;
  /*orange*/
  --pine-rgb: 53, 167, 124;
  /*aqua*/
  --foam-rgb: 58, 148, 197;
  /*blue*/
  --iris-rgb: 223, 105, 186;
  /*purple*/
  --base: #efebd4;
  /*bg_dim*/
  --surface-rgb: 253, 246, 227;
  /*bg0*/
  --overlay: #eaedc8;
  /*bg_visual*/
  --muted: #939f91;
  /*gray1*/
  --subtle: #829181;
  /*gray2*/
  --text: #5c6a72;
  /*fg*/
  --highlight-low: #efebd4;
  /*bg2*/
  --highlight-med-rgb: 230, 226, 204;
  /*bg3*/
  --highlight-high: #e0dcc7;
  /*bg4*/
  /*override accent color !*/
  --accent-h: 97;
  --accent-s: 38%;
  --accent-l: 53%;
  --color-accent-hsl: 97, 38%, 53%;
  /*green/statusline1*/
}
