:root[saved-theme="dark"] {
  --my-link-color: #59a2c5;
  --my-link-color-hover: #b3a14b;
  --background-primary: #2f3136;
  --background-primary-alt: #36393f;
  --background-secondary: #202225;
  --background-secondary-alt: #0c1018d1;
  --background-modifier-border: #92a1a17a;
  --text-normal: #bbc0c5;
  --text-faint: #a09b80;
  --text-accent: #ff9640ba;
  --text-accent-hover: #b3a14b;
  --bold-color: #b5c7c7;
  --italic-color: #b8cece;
  --interactive-accent: #92a1a1;
  --text-highlight-bg: #ffff0033;

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
