:root[saved-theme="light"] {
  --my-link-color: #59a2c5;
  --my-link-color-hover: #b3a14b;
  --background-primary: #e0e2e5;
  --background-primary-alt: #d6d9dc;
  --background-secondary: #f0f1f2;
  --background-secondary-alt: #ffffff;
  --background-modifier-border: #92a1a17a;
  --text-normal: #2f3136;
  --text-faint: #5f615e;
  --text-accent: #ff9640ba;
  --text-accent-hover: #b3a14b;
  --bold-color: #4a4c4f;
  --italic-color: #474a4d;
  --interactive-accent: #92a1a1;
  --text-highlight-bg: #00000033;

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
