/* Blossom Theme for Obsidian */
    :root {
        --font-monospace: "Source Code Pro", monospace;
    }
    
    .theme-dark {
        --background-primary: #10111b;
        --background-primary-alt: #10111b;
        --background-secondary: #090a0f;
        --background-secondary-alt: #090a0f;
        --text-normal: #f9f7f2;
        --text-faint: #eeeeee;
        --text-title-h1: #9200ff;
        --text-title-h2: #9200ff;
        --text-title-h3: #9200ff;
        --text-title-h4: #9200ff;
        --text-title-h5: #9200ff;
        --text-title-h6: #9200ff;
        --text-highlight-bg: #640211;
        --text-link: #00ff7d;
        --text-a-hover: #00ff7d;
        --text-accent-hover: #26b3d2;
        /* ^^^ added for hover over bracket internal links */
        --inline-code: #00ff7d;
        --code-block: #00ff7d;
        --text-a: #FF058D;
        --interactive-accent: #FF058D;
        --text-accent: #FF058D;
        --text-on-accent: #ffffff;
        --interactive-accent-rgb: #FF058D;
        --vim-cursor: #FF058D;
        /*  --text-mark:                  add text-mark if needed, this should work together with 'mark' */
        --pre-code: #;
        --interactive-before: #ea748f;
        --background-modifier-border: #FF058D;
        --text-selection: #b80034;
    }
    
    .theme-dark .cm-s-obsidian span.obsidian-search-match-highlight {
        color: var(--text-normal);
        background-color: #483699;
    }
    
    .theme-light {
        --background-primary: #EDEDED;
        --background-secondary: #C4C4C4;
        /* thick menu border */
        --background-primary-alt: #;
        --background-secondary-alt: #707070;
        /* ← ↓  corner */
        --text-normal: #1A2023;
        --text-faint: #DEDEDE;
        --text-title-h1: #26b3d2;
        --text-title-h2: #26b3d2;
        --text-title-h3: #26b3d2;
        --text-title-h4: #26b3d2;
        --text-title-h5: #26b3d2;
        --text-link: #26b3d2;
        --text-a-hover: #26b3d2;
        --text-accent-hover: #26b3d2;
        /* ^^^ added for hover over bracket internal links */
        --inline-code: #f46e00;
        /*  --text-mark:                  add if needed */
        --pre-code: #bebebe;
        /*  --text-highlight-bg:          add if needed */
        --interactive-before: #a89984;
        --background-modifier-border: #26b3d2;
        --text-a: #961327;
        --interactive-accent: #FF058D;
        --text-accent: #961327;
        --interactive-accent-rgb: #961327;
        --vim-cursor: #961327;
        --text-selection: #EDC180;
        --text-white: #ffffff;
    }
    
    .nav-file-title,
    .nav-folder-title {
        color: var(--text-normal);
    }
    
    .nav-file-title.is-active,
    .nav-folder-title.is-active,
    body:not(.is-grabbing) .nav-file-title:hover,
    body:not(.is-grabbing) .nav-folder-title:hover {
        background-color: var(--background-modifier-border);
        color: white;
    }
    
    .cm-s-obsidian span.cm-formatting-link {
        color: var(--text-normal);
    }
    
    .CodeMirror-guttermarker-subtle {
        color: var(--text-normal) !important;
    }
    
    button.mod-cta {
        background-color: var(--interactive-accent);
        color: var(--text-normal);
    }
    
    .vertical-tab-header-group-title {
        color: var(--text-white);
    }
    
    .cm-header-1 {
        font-size: 18px;
        color: var(--text-title-h1) !important;
    }
    
    .cm-header-2 {
        font-size: 18px;
        color: var(--text-title-h2) !important;
    }
    
    .cm-header-3 {
        font-size: 18px;
        color: var(--text-title-h3) !important;
    }
    
    .cm-header-4 {
        font-size: 18px;
        color: var(--text-title-h4) !important;
    }
    
    .cm-header-5 {
        font-size: 18px;
        color: var(--text-title-h5) !important;
    }
    
    .cm-header-6 {
        font-size: 18px;
        color: --text-normal;
        color: var(--text-title-h6) !important;
    }
    
    .markdown-preview-view h1 {
        font-size: 20px;
        line-height: 24px;
        color: var(--text-title-h1) !important;
    }
    
    .markdown-preview-view h2 {
        font-size: 20px;
        line-height: 24px;
        color: var(--text-title-h2) !important;
    }
    
    .markdown-preview-view h3 {
        font-size: 20px;
        line-height: 24px;
        color: var(--text-title-h3) !important;
    }
    
    .markdown-preview-view h4 {
        font-size: 20px;
        line-height: 24px;
        color: var(--text-title-h4) !important;
    }
    
    .markdown-preview-view h5 {
        font-size: 20px;
        line-height: 24px;
        color: var(--text-title-h5) !important;
    }
    
    .markdown-preview-view h6 {
        font-size: 20px;
        line-height: 24px;
        color: --text-normal;
        color: var(--text-title-h6) !important;
    }
    /*-----------------------------------------*/
    /* End of main theme, extra functionality can be added below */
    
    .markdown-source-view {
        font-family: var(--font-monospace)
    }
    
    .cm-fat-cursor .CodeMirror-cursor {
        background-color: #FF058D !important;
        opacity: 80% !important;
        width: 9px !important;
        visibility: visible !important
    }
    
    .plugin-tabs .stayopen .view-header {
        border-bottom: 2px solid var(--interactive-accent)!important;
    }
    
    .plugin-tabs .mod-root.workspace-split.mod-vertical div.workspace-leaf:not(.stayopen)>.workspace-leaf-content>.view-header .view-header-title::before {
        background-color: transparent!important
    }
    
    .plugin-tabs .mod-root.workspace-split.mod-vertical .workspace-split.mod-vertical>div.workspace-leaf:not(.stayopen),
    .plugin-tabs .mod-root.workspace-split.mod-vertical>div.workspace-leaf:not(.stayopen) {
        border-radius: 5px 5px 0px 0px!important;
    }
    
    .plugin-tabs .mod-root.workspace-split.mod-vertical div.workspace-leaf {
        border-color: var(--background-secondary-alt)!important;
        border-bottom-width: 0px!important;
        border-right-width: 0px!important
    }
    
    .theme-light.plugin-tabs .mod-root.workspace-split.mod-vertical div.workspace-leaf {
        border-color: var(--background-secondary-alt)!important;
        border-left-width: 3px!important;
        border-bottom-width: 0px!important;
        border-right-width: 0px!important
    }
    
    .plugin-tabs .mod-root.workspace-split.mod-vertical>div.workspace-leaf hr.workspace-leaf-resize-handle,
    .plugin-tabs .mod-root.workspace-split.mod-vertical>.mod-vertical hr.workspace-leaf-resize-handle {
        display: none;
    }
    
    .plugin-tabs .mod-root.workspace-split.mod-vertical div.workspace-leaf .view-header {
        border-left-color: transparent!important
    }
    
    .plugin-tabs .workspace-split.mod-root>.workspace-leaf:last-of-type .workspace-leaf-content,
    .plugin-tabs .workspace-split.mod-root>.workspace-leaf:first-of-type .workspace-leaf-content {
        border-radius: 0px!important;
    }
    
    .plugin-tabs .theme-dark .mod-root.workspace-split.mod-vertical .workspace-split.mod-vertical>div.workspace-leaf.mod-active,
    .plugin-tabs .theme-dark .mod-root.workspace-split.mod-vertical>div.workspace-leaf.mod-active {
        border: 0!important;
        border-radius: 0px 0px 0px 0px!important;
    }