.pln-hdcl {
  --pln-hdcl-1: #bf616a;
  --pln-hdcl-2: #d08770;
  --pln-hdcl-3: #ebcb8b;
  --pln-hdcl-4: #a3be8c;
  --pln-hdcl-5: #8fbcbb;
  --pln-hdcl-6: #88c0d0;
  --h1-color: var(--pln-hdcl-1);
  --h2-color: var(--pln-hdcl-2);
  --h3-color: var(--pln-hdcl-3);
  --h4-color: var(--pln-hdcl-4);
  --h5-color: var(--pln-hdcl-5);
  --h6-color: var(--pln-hdcl-6);
}
