@import "../../../default";

$background: #24273a;
$border: #494d64;
$lines: #b7bdf8;
$text: #cad3f5;
$header-text: #a5adcb;
$special-text: #8aadf4;
$hover: #7dc4e4;
$links-background: #8aadf433;
$highlight: #939ab74d;

$callouts: (
  "note": (
    "color": #8aadf4,
    "border": #8aadf444,
    "background": #8aadf410,
  ),
  "abstract": (
    "color": #7dc4e4,
    "border": #7dc4e444,
    "background": #7dc4e410,
  ),
  "info": (
    "color": #8aadf4,
    "border": #8aadf444,
    "background": #8aadf410,
  ),
  "todo": (
    "color": #8aadf4,
    "border": #8aadf444,
    "background": #8aadf410,
  ),
  "tip": (
    "color": #7dc4e4,
    "border": #7dc4e444,
    "background": #7dc4e410,
  ),
  "success": (
    "color": #a6da95,
    "border": #a6da9544,
    "background": #a6da9510,
  ),
  "question": (
    "color": #eed49f,
    "border": #eed49f44,
    "background": #eed49f10,
  ),
  "warning": (
    "color": #f5a97f,
    "border": #f5a97f44,
    "background": #f5a97f10,
  ),
  "failure": (
    "color": #ed8796,
    "border": #ed879644,
    "background": #ed879610,
  ),
  "danger": (
    "color": #ed8796,
    "border": #ed879644,
    "background": #ed879610,
  ),
  "bug": (
    "color": #ed8796,
    "border": #ed879644,
    "background": #ed879610,
  ),
  "example": (
    "color": #c6a0f6,
    "border": #c6a0f644,
    "background": #c6a0f610,
  ),
  "quote": (
    "color": #939ab7,
    "border": #939ab744,
    "background": #939ab710,
  ),
);
