:root:root,
html[saved-theme="dark"] {
  color-scheme: dark;

  .callout {
    --callout-blend-mode: lighten;
  }

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }

  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(36, 40, 59, 0.8);

  --background-modifier-form-field: rgb(36, 40, 59);
  --background-modifier-form-field-highlighted: rgb(36, 40, 59);

  --background-modifier-message: rgba(65, 72, 104, 0.9);

  --bg: rgb(36, 40, 59);
  --bg_dark: rgb(36, 40, 59);
  --bg_dark_x: 36, 40, 59;
  --bg_dark2: rgb(18, 18, 24);
  --bg_dark2_x: 18, 18, 24;
  --bg_highlight: rgb(65, 72, 104);
  --bg_highlight_dark: rgb(35, 35, 55);
  --bg_highlight_dark_x: 35, 35, 55;
  --bg_highlight_x: 65, 72, 104;
  --bg_x: 36, 40, 59;
  --blockquote-background-color: rgb(36, 40, 59);
  --blue: rgb(122, 162, 247);
  --blue_x: 122, 162, 247;
  --blue0: rgb(61, 89, 161);
  --blue0_x: 61, 89, 161;
  --bold-color: hsl(202, 100%, 75%);
  --border-width: 2px;
  --callout-quote: rgb(169, 177, 214);
  --canvas-color: 65, 72, 104;
  --checkbox-border-color: rgb(86, 95, 137);
  --checkbox-border-color-hover: rgb(86, 95, 137);
  --checkbox-color: rgb(86, 95, 137);
  --checkbox-color-hover: rgb(86, 95, 137);
  --checklist-done-color: rgba(rgb(158, 206, 106), 0.5);

  --color_blue_rgb: 122, 162, 247;
  --color_cyan_rgb: 125, 207, 255;
  --color_green_rgb: 158, 206, 106;
  --color_orange_rgb: 255, 158, 100;
  --color_pink_rgb: 187, 154, 247;
  --color_purple_rgb: 157, 124, 21;
  --color_red_rgb: 255, 117, 127;
  --color_yellow_rgb: 224, 175, 104;

  --color-blue-rgb: 2, 122, 255;

  --color-cyan-rgb: 83, 223, 221;

  --color-green-rgb: 68, 207, 110;

  --color-orange-rgb: 233, 151, 63;

  --color-pink-rgb: 250, 153, 205;

  --color-purple-rgb: 168, 130, 255;

  --color-red-rgb: 251, 70, 76;

  --color-yellow-rgb: 224, 222, 113;
  --comment: rgb(86, 95, 137);
  --comment_x: 86, 95, 137;
  --cyan: rgb(125, 207, 255);
  --cyan_hsl: 202 100% 75%;
  --cyan_x: 125, 207, 255;
  --embed-background: rgb(36, 40, 59);
  --embed-padding: 1.5rem 1.5rem 0.5rem;
  --external-link-filter: invert(35%) sepia(28%) saturate(681%)
    hue-rotate(192deg) brightness(94%) contrast(85%);
  --fg: rgb(192, 202, 245);
  --fg_dark: rgb(169, 177, 214);
  --fg_dark_x: 169, 177, 214;
  --fg_x: 192, 202, 245;
  --flashing-background: rgba(61, 89, 161, 0.3);
  --graph-line: rgb(86, 95, 137);
  --graph-node: rgb(192, 202, 245);
  --graph-node-attachment: rgb(122, 162, 247);
  --graph-node-tag: rgb(255, 158, 100);
  --green: rgb(158, 206, 106);
  --green_x: 158, 206, 106;
  --h1-color: rgb(255, 117, 127);
  --h2-color: rgb(224, 175, 104);
  --h3-color: rgb(158, 206, 106);
  --h4-color: rgb(125, 207, 255);
  --h5-color: rgb(122, 162, 247);
  --h6-color: rgb(187, 154, 247);
  --highlight-mix-blend-mode: darken;

  --indentation-guide-color: rgb(86, 95, 137);
  --indentation-guide-color-active: rgb(86, 95, 137);
  --inline-title-color: rgb(187, 154, 247);
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --interactive-accent: hsl(202, 100%, 75%);
  --interactive-accent-hover: hsl(199, 102%, 86.25%);
  --interactive-hover: rgb(36, 40, 59);
  --interactive-normal: rgb(36, 40, 59);
  --interactive-success: rgb(158, 206, 106);
  --italic-color: hsl(202, 100%, 75%);
  --magent_hsl: 261 85% 79%;
  --magenta: rgb(187, 154, 247);
  --magenta_x: 187, 154, 247;
  --mermaid-actor: rgb(169, 177, 214);
  --mermaid-loopline: rgb(122, 162, 247);
  --mermaid-note: rgb(61, 89, 161);
  --modal-border-color: rgb(65, 72, 104);
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --nav-file-tag: rgba(224, 175, 104, 0.9);
  --nav-indentation-guide-color: rgb(65, 72, 104);
  --nav-item-background-active: rgb(65, 72, 104);
  --nav-item-background-hover: rgb(65, 72, 104);
  --nav-item-color-active: rgb(255, 117, 127);
  --nav-item-color-hover: rgb(192, 202, 245);
  --orange: rgb(255, 158, 100);
  --orange_x: 255, 158, 100;
  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;
  --prompt-border-color: rgb(65, 72, 104);
  --purple: rgb(157, 124, 21);
  --purple_x: 157, 124, 21;
  --red: rgb(255, 117, 127);
  --red_x: 255, 117, 127;
  --red1: rgb(219, 75, 75);
  --red1_x: 219, 75, 75;
  --shadow-l:
    0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s:
    0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
  --slider-track-background: rgb(65, 72, 104);
  --tab-text-color-focused-active: rgba(255, 117, 127, 0.8);
  --tab-text-color-focused-active-current: rgb(255, 117, 127);
  --table-header-background: rgb(36, 40, 59);
  --table-header-background-hover: rgb(18, 18, 24);
  --table-row-alt-background: rgb(36, 40, 59);
  --table-row-background-hover: var(--bg_dark3);
  --tag-background: rgba(187, 154, 247, 0.15);
  --tag-color: rgb(187, 154, 247);
  --teal: rgb(26, 188, 156);
  --teal_x: 26, 188, 156;
  --terminal_black: rgb(65, 72, 104);
  --terminal_black_x: 65, 72, 104;
  --text-accent: hsl(199, 102%, 86.25%);
  --text-error: rgb(219, 75, 75);
  --text-error-hover: rgb(255, 117, 127);

  --text-highlight-bg: rgba(255, 158, 100, 0.4);
  --text-highlight-fg: rgb(36, 40, 59);

  --text-on-accent: rgb(36, 40, 59);
  --text-selection: rgba(61, 89, 161, 0.6);
  --titlebar-text-color-focused: rgb(187, 154, 247);
  --unknown: #ffffff;
  --yellow: rgb(224, 175, 104);
  --yellow_x: 224, 175, 104;

  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(36, 40, 59, 0.8);

  --background-modifier-form-field: rgb(36, 40, 59);
  --background-modifier-form-field-highlighted: rgb(36, 40, 59);

  --background-modifier-message: rgba(65, 72, 104, 0.9);

  --bg: rgb(36, 40, 59);
  --bg_dark: rgb(36, 40, 59);
  --bg_dark_x: 36, 40, 59;
  --bg_dark2: rgb(18, 18, 24);
  --bg_dark2_x: 18, 18, 24;
  --bg_highlight: rgb(65, 72, 104);
  --bg_highlight_dark: rgb(35, 35, 55);
  --bg_highlight_dark_x: 35, 35, 55;
  --bg_highlight_x: 65, 72, 104;
  --bg_x: 36, 40, 59;
  --blockquote-background-color: rgb(36, 40, 59);
  --blue: rgb(122, 162, 247);
  --blue_x: 122, 162, 247;
  --blue0: rgb(61, 89, 161);
  --blue0_x: 61, 89, 161;
  --bold-color: hsl(202, 100%, 75%);
  --border-width: 2px;
  --callout-quote: rgb(169, 177, 214);
  --canvas-color: 65, 72, 104;
  --checkbox-border-color: rgb(86, 95, 137);
  --checkbox-border-color-hover: rgb(86, 95, 137);
  --checkbox-color: rgb(86, 95, 137);
  --checkbox-color-hover: rgb(86, 95, 137);
  --checklist-done-color: rgba(rgb(158, 206, 106), 0.5);

  --color_blue_rgb: 122, 162, 247;
  --color_cyan_rgb: 125, 207, 255;
  --color_green_rgb: 158, 206, 106;
  --color_orange_rgb: 255, 158, 100;
  --color_pink_rgb: 187, 154, 247;
  --color_purple_rgb: 157, 124, 21;
  --color_red_rgb: 255, 117, 127;
  --color_yellow_rgb: 224, 175, 104;

  --color-blue-rgb: 2, 122, 255;

  --color-cyan-rgb: 83, 223, 221;

  --color-green-rgb: 68, 207, 110;

  --color-orange-rgb: 233, 151, 63;

  --color-pink-rgb: 250, 153, 205;

  --color-purple-rgb: 168, 130, 255;

  --color-red-rgb: 251, 70, 76;

  --color-yellow-rgb: 224, 222, 113;
  --comment: rgb(86, 95, 137);
  --comment_x: 86, 95, 137;
  --cyan: rgb(125, 207, 255);
  --cyan_hsl: 202 100% 75%;
  --cyan_x: 125, 207, 255;
  --embed-background: rgb(36, 40, 59);
  --embed-padding: 1.5rem 1.5rem 0.5rem;
  --external-link-filter: invert(35%) sepia(28%) saturate(681%)
    hue-rotate(192deg) brightness(94%) contrast(85%);
  --fg: rgb(192, 202, 245);
  --fg_dark: rgb(169, 177, 214);
  --fg_dark_x: 169, 177, 214;
  --fg_x: 192, 202, 245;
  --flashing-background: rgba(61, 89, 161, 0.3);
  --graph-line: rgb(86, 95, 137);
  --graph-node: rgb(192, 202, 245);
  --graph-node-attachment: rgb(122, 162, 247);
  --graph-node-tag: rgb(255, 158, 100);
  --green: rgb(158, 206, 106);
  --green_x: 158, 206, 106;
  --h1-color: rgb(255, 117, 127);
  --h2-color: rgb(224, 175, 104);
  --h3-color: rgb(158, 206, 106);
  --h4-color: rgb(125, 207, 255);
  --h5-color: rgb(122, 162, 247);
  --h6-color: rgb(187, 154, 247);
  --highlight-mix-blend-mode: darken;

  --indentation-guide-color: rgb(86, 95, 137);
  --indentation-guide-color-active: rgb(86, 95, 137);
  --inline-title-color: rgb(187, 154, 247);
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --interactive-accent: hsl(202, 100%, 75%);
  --interactive-accent-hover: hsl(199, 102%, 86.25%);
  --interactive-hover: rgb(36, 40, 59);
  --interactive-normal: rgb(36, 40, 59);
  --interactive-success: rgb(158, 206, 106);
  --italic-color: hsl(202, 100%, 75%);
  --magent_hsl: 261 85% 79%;
  --magenta: rgb(187, 154, 247);
  --magenta_x: 187, 154, 247;
  --mermaid-actor: rgb(169, 177, 214);
  --mermaid-loopline: rgb(122, 162, 247);
  --mermaid-note: rgb(61, 89, 161);
  --modal-border-color: rgb(65, 72, 104);
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --nav-file-tag: rgba(224, 175, 104, 0.9);
  --nav-indentation-guide-color: rgb(65, 72, 104);
  --nav-item-background-active: rgb(65, 72, 104);
  --nav-item-background-hover: rgb(65, 72, 104);
  --nav-item-color-active: rgb(255, 117, 127);
  --nav-item-color-hover: rgb(192, 202, 245);
  --orange: rgb(255, 158, 100);
  --orange_x: 255, 158, 100;
  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;
  --prompt-border-color: rgb(65, 72, 104);
  --purple: rgb(157, 124, 21);
  --purple_x: 157, 124, 21;
  --red: rgb(255, 117, 127);
  --red_x: 255, 117, 127;
  --red1: rgb(219, 75, 75);
  --red1_x: 219, 75, 75;
  --shadow-l:
    0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --shadow-s:
    0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
  --slider-track-background: rgb(65, 72, 104);
  --tab-text-color-focused-active: rgba(255, 117, 127, 0.8);
  --tab-text-color-focused-active-current: rgb(255, 117, 127);
  --table-header-background: rgb(36, 40, 59);
  --table-header-background-hover: rgb(18, 18, 24);
  --table-row-alt-background: rgb(36, 40, 59);
  --table-row-background-hover: var(--bg_dark3);
  --tag-background: rgba(187, 154, 247, 0.15);
  --tag-color: rgb(187, 154, 247);
  --teal: rgb(26, 188, 156);
  --teal_x: 26, 188, 156;
  --terminal_black: rgb(65, 72, 104);
  --terminal_black_x: 65, 72, 104;
  --text-accent: hsl(199, 102%, 86.25%);
  --text-error: rgb(219, 75, 75);
  --text-error-hover: rgb(255, 117, 127);

  --text-highlight-bg: rgba(255, 158, 100, 0.4);
  --text-highlight-fg: rgb(36, 40, 59);

  --text-on-accent: rgb(36, 40, 59);
  --text-selection: rgba(61, 89, 161, 0.6);
  --titlebar-text-color-focused: rgb(187, 154, 247);
  --unknown: #ffffff;
  --yellow: rgb(224, 175, 104);
  --yellow_x: 224, 175, 104;
}
