.lightPalette-beige {
  --OT-theme-reference-color: #c89947;
  --color-base-00: #fcf3e5;
  --color-base-20: #faecd5;
  --color-base-35: #ebb553;
  --color-base-40: #c3913a;
  --color-base-50: #c5ac94;
  --color-base-70: #7a6556;
  --color-base-05: #f6deb7;
  --icon-color: var(--color-base-100);
  --code-background: #faedd7;
  --OT-button-OFF-bg: #f8e5c6;
  --color-base-100: #71573e;
  --link-color: #698bac;
  /*    --h1-color:                #9D7956; */
  /*    --h3-color:                #6B523B; */
  /*    --h5-color:                #44607C; */
  --OT-color-muted-on-base-20: var(--color-base-40);
  --OT-color-on-base-20: #7d6754;
  --OT-setting-item-description: #927050;
  --OT-stabilo-mark: #9fcba4;
}
