.warm-dark {
  --text: 197, 207, 245;
  --subtext1: 179, 188, 224;
  --subtext0: 161, 170, 203;
  --overlay2: 143, 151, 183;
  --overlay1: 125, 132, 162;
  --overlay0: 108, 114, 141;
  --surface2: 90, 95, 120;
  --surface1: 72, 76, 100;
  --surface0: 54, 58, 79;
  --base: 32, 36, 51;
  --side: 30, 32, 48;
  --exterior: 28, 29, 42;
}

.warm-dark {
  --lily: 235, 188, 186;
  --red: 255, 98, 107;
  --rose: 243, 137, 143;
  --violet: 196, 167, 231;
  --blue: 147, 183, 245;
  --sea: 104, 188, 204;
  --cyan: 137, 199, 223;
  --turquoise: 128, 216, 220;
  --green: 56, 198, 141;
  --yellow: 249, 226, 175;
  --lemon: 246, 193, 119;
  --orange: 247, 157, 124;
}
