:root[saved-theme="dark"],
html[saved-theme="dark"] {

  color-scheme: dark;

  .callout {
    --callout-blend-mode: lighten;
  }

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }

  .theme-light { --modal-border-color: #e1e9f6;
--modal-border-width: 3px;
--modal-community-sidebar-width: 310px;
--modal-sidebar-background: #f1f5ff;
--modal-nav-item-background: transparent;
--modal-nav-item-background-hover: #d0ddef62;
--setting-item-padding: 10px 15px;
--setting-item-background: transparent;
--setting-item-alt-background: transparent;
--setting-item-alt-background-hover: #d0ddef62;
--setting-item-heading-background: transparent;
--setting-item-background-hover: #ff0000;
--setting-item-heading-border: 2px solid #c14343;
--setting-item-border-color: #ccd6eb;
--toggle-width: 20px;
--toggle-s-width: 20px;
--toggle-border-width: 1px;
--status-bar-text-color: #697580;
--status-bar-background: #eef3fd;
--status-bar-border-color: #912e2e;
--status-bar-gap: 4px;
--status-bar-padding: 4px;
--sidebar-markdown-font-size: 16px;
--sidebar-tab-text-display: none;
--sidebar-tab-background-color: #c14343;
--ribbon-background: #eef3fd;
--ribbon-background-collapsed: #f8fbff;
--ribbon-width: 40px;
--ribbon-border-width: 0;
--ribbon-border-color: #eef3fd;
--ribbon-icon-size: 24px;
--ribbon-icon-stroke: 1.75px;
--ribbon-icon-gap: 15px;
--sidebar-icon-color: #30353a;
--sidebar-icon-color-active: white;
--sidebar-tab-icon-size: 24px;
--sidebar-tab-icon-stroke: 1.75px;
--sidebar-tab-background-color-hover: #912e2e;
--sidebar-tab-color-hover: white;
--sidebar-tab-border-color: transparent;
--sidebar-tab-border-color-active: #c14343;
--sidebar-tab-border-width: 0;
--sidebar-tab-padding: 0 12px;
--checkbox-size: 16px;
--checkbox-color: #912e2e;
--checkbox-color-hover: #c35c5c;
--checkbox-border-color: #912e2e;
--checkbox-border-color-hover: #c35c5c;
--checklist-done-color: #a6bbde;
--checklist-done-decoration: none;
--checklist-done-weight: 900;
--bullet: "";
--bullet-font: "its";
--list-indent: 25px;
--list-spacing: 1px;
--root-list-spacing: 10px;
--root-list-bullet-spacing: 0;
--list-marker-min-width: 0;
--list-marker-color: #912e2e;
--list-marker-color-other: #aac1d3;
--list-marker-color-collapsed: #a6bbde;
--list-numbered-color: #c14343;
--list-bullet-size: calc(16px / 2.5);
--list-bullet-transform: rotate(45deg);
--list-bullet-radius: calc(0 / 0.5);
--list-bullet-box-shadow-color: #ccd6eb;
--collapse-icon-color-collapsed: #a6bbde;
--indentation-guide-color: #b5c2d8;
--indentation-guide-width: 2px;
--indentation-guide-width-active: 2px;
--indentation-guide-color-active: #912e2e;
--indentation-guide-source-indent: calc( 16px / 3 * -1 + 16px / 2.5 );
--indentation-guide-editing-indent: calc(16px / 3);
--indentation-guide-reading-indent: calc(16px * -1 + 2px);
--list-color-1: #b5c2d8;
--list-color-2: #b5c2d8;
--list-color-3: #b5c2d8;
--list-color-4: #b5c2d8;
--list-color-5: #b5c2d8;
--list-color-6: #b5c2d8;
--table-header-weight: 700;
--table-header-size: "??", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
--table-header-color: white;
--table-header-text-color: #cd2626;
--table-header-background: #c14343;
--table-header-background-hover: #912e2e;
--table-border-color: #f8fbff;
--table-column-alt-background: #d0ddef62;
--table-row-alt-background: #d0ddef62;
--table-row-background-hover: #e59595;
--table-row-alt-background-hover: #e59595;
--table-row-edit-font-size: 1.5em;
--table-add-button-background: #c14343;
--table-add-button-color: white;
--table-add-button-size: 24px;
--table-add-button-col-width: 24px;
--table-add-button-row-height: 24px;
--table-add-button-border-color: #f8fbff;
--table-cell-padding-x: 8px;
--table-cell-padding-y: 4px;
--table-header-padding-x: 8px;
--table-header-padding-y: 4px;
--table-column-min-width: 3ch;
--table-selection-border-radius: 0;
--tag-color: white;
--tag-color-hover: white;
--tag-background: #c65656;
--tag-background-hover: #912e2e;
--tag-border-color: #c65656;
--tag-border-color-hover: #912e2e;
--tag-decoration-hover: underline;
--tag-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;

}
