:root[saved-theme="light"] {
  --accent-h: 0;
  --accent-s: 49%;
  --accent-l: 49%;
  --background-primary: var(--note);
  --background-primary-alt: var(--outer-bar);
  --background-secondary: var(--side-bar);
  --background-secondary-alt: var(--outer-bar);
  --background-modifier-form-field: var(--input-bg);
  --background-modifier-message: var(--dark-accent);
  --toggle-thumb-color: transparent;
  --popover-background: var(--background-primary);
  --background-modifier-border: var(--lines);
  --background-modifier-border-hover: var(--bg);
  --background-modifier-border-focus: var(--accent);
  --divider-color: var(--outer-bar);
  --divider-color-hover: var(--accent);
  --prompt-border-color: var(--outline);
  --text-on-accent: var(--text-dl);
  --text-normal: var(--text);
  --text-accent: var(--accent2-lite);
  --text-accent-hover: var(--lite-accent);
  --text-muted: var(--soft-text);
  --text-faint: var(--faint-text);
  --text-highlight-bg: var(--hvr);
  --text-highlight-bg-active: var(--hvr-active);
  --text-selection: var(--highlight);
  --interactive-normal: var(--code-bg);
  --interactive-hover: var(--embed-bg);
  --interactive-accent: var(--bttn);
  --interactive-accent-hover: var(--bg);
  --interactive-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --background-modifier-hover: var(--hvr-active);
  --background-modifier-success: var(--success-bg);
  --background-modifier-error: var(--failure-bg);
  --background-modifier-active-hover: var(--dark-accent);
  --background-modifier-cover: var(--td);
  --icon-opacity: 1;
  --icon-color: var(--soft-text);
  --icon-color-active: var(--text-dl);
  --icon-color-hover: var(--text);
  --icon-color-focused: var(--text);
  --drag-ghost-background: var(--dark-accent);
  --drag-ghost-text-color: var(--text-dl);
  --tooltip-color: var(--text-dl);
  --italic-color: inherit;
  --bold-color: inherit;
  --text-dl: #e5ebee;
  --accent-text: #dcddde;
  --list-color-1: var(--rainbow-1);
  --list-color-2: var(--rainbow-2);
  --list-color-3: var(--rainbow-3);
  --list-color-4: var(--rainbow-4);
  --list-color-5: var(--rainbow-5);
  --list-color-6: var(--rainbow-6);
  --deep-dark-accent: #2f1010;
  --dark-accent: #c35c5c;
  --lite-accent: #cd2626;
  --accent: #912e2e;
  --accent2: #aac1d3;
  --accent2-lite: #5599d0;
  --side-bar: var(--note);
  --side-bar-bg: var(--outer-bar);
  --outer-bar: #eef3fd;
  --dark-sidebar: #f1f5ff;
  --bttn: var(--headers);
  --input-bg: var(--td);
  --hvr: rgba(255, 0, 0, 0.212);
  --hvr2: var(--highlight);
  --hvr-active: rgba(253, 115, 115, 0.4);
  --highlight: rgba(229, 149, 149, 0.37);
  --bg: #e1e9f6;
  --fg: var(--accent);
  --success-bg: #599049;
  --failure-bg: #772d2d;
  --inactive: #a6bbde;
  --outline: var(--bg);
  --folder: var(--accent);
  --file-icon-color: #7e8ea3;
  --file-icon-color: var(--inactive);
  --folder-open: #ce6d6d;
  --lines: #b5c2d8;
  --icons: #d04e4e;
  --note: #f8fbff;
  --note-rgb: 248, 251, 255;
  --text: #30353a;
  --headers: #c14343;
  --faint-text: #4e5b6f;
  --soft-text: #697580;
  --code-text: #ea4262;
  --footnote: #8996a0;
  --code-bg: var(--embed-bg);
  --embed-bg: var(--dark-sidebar);
  --aside-bg: var(--dark-sidebar);
  --th: var(--headers);
  --th-text: var(--text-dl);
  --td: #d0ddef62;
  --drop-shadow: #d0ddef62;
  --tag: #c65656;
  --tag-text: var(--lite-accent);
  --table: #ccd6eb;
  --hr: #d6deea;
  --i-at: var(--folder);
  --progress: var(--accent);
  --progress-bg: var(--bg);
  --graph-bg: var(--note);
  --graph-lines: #e4e7f8;
  --graph-node: var(--headers);
  --graph-fill: var(--folder);
  --graph-404: #727e93;
  --graph-img: #4c78cc;
  --graph-tag: #000000;
  --graph-focused: var(--text-highlight-bg-active);
  --theme-rainbow-1: #bb5555;
  --theme-rainbow-2: #a53f3f;
  --theme-rainbow-3: #862c2c;
  --theme-rainbow-4: #662828;
  --theme-rainbow-5: #697795;
  --theme-rainbow-6: #a4aec2;
  --rainbow-1: #dd3c3c;
  --rainbow-2: #f1ab27;
  --rainbow-3: #118811;
  --rainbow-4: #3333cc;
  --rainbow-5: #a824a8;
  --rainbow-6: #e83b94;
  --modal-border-color: var(--outline);
  --modal-border-width: 3px;
  --modal-community-sidebar-width: 310px;
  --modal-sidebar-background: var(--dark-sidebar);
  --modal-nav-item-background: transparent;
  --modal-nav-item-background-hover: var(--td);
  --setting-item-padding: 10px 15px;
  --setting-item-background: transparent;
  --setting-item-alt-background: var(--setting-item-background);
  --setting-item-alt-background-hover: var(--td);
  --setting-item-heading-background: transparent;
  --setting-item-background-hover: var(--hvr);
  --setting-item-heading-border: 2px solid var(--headers);
  --setting-item-border-color: var(--table);
  --toggle-width: 20px;
  --toggle-s-width: 20px;
  --toggle-border-width: 1px;
  --status-bar-text-color: var(--text-muted);
  --status-bar-background: var(--outer-bar);
  --status-bar-border-color: var(--accent);
  --status-bar-gap: var(--size-4-1);
  --status-bar-padding: var(--size-4-1);
  --sidebar-markdown-font-size: var(--font-text-size);
  --sidebar-tab-text-display: none;
  --sidebar-tab-background-color: var(--bttn);
  --ribbon-background: var(--outer-bar);
  --ribbon-background-collapsed: var(--note);
  --ribbon-width: 40px;
  --ribbon-border-width: 0;
  --ribbon-border-color: var(--outer-bar);
  --ribbon-icon-size: var(--icon-l);
  --ribbon-icon-stroke: var(--icon-l-stroke-width);
  --ribbon-icon-gap: 15px;
  --sidebar-icon-color: var(--text);
  --sidebar-icon-color-active: var(--text-dl);
  --sidebar-tab-icon-size: var(--icon-l);
  --sidebar-tab-icon-stroke: var(--icon-l-stroke-width);
  --sidebar-tab-background-color-hover: var(--accent);
  --sidebar-tab-color-hover: var(--text-on-accent);
  --sidebar-tab-border-color: transparent;
  --sidebar-tab-border-color-active: var(--bttn);
  --sidebar-tab-border-width: 0;
  --sidebar-tab-padding: 0 var(--size-4-3);
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-external-decoration: none;
  --link-unresolved-opacity: 1;
  --link-unresolved-color: var(--inactive);
  --link-color-hover: var(--lite-accent);
  --link-external-color-hover: var(--text-accent-hover);
  --link-font: inherit;
  --link-external-font: var(--link-font);
  --link-weight: inherit;
  --link-border: none;
  --link-transform: none;
  --link-background: transparent;
  --link-background-hover: var(--link-background);
  --checkbox-size: var(--font-text-size);
  --checkbox-color: var(--accent);
  --checkbox-color-hover: var(--dark-accent);
  --checkbox-border-color: var(--accent);
  --checkbox-border-color-hover: var(--dark-accent);
  --checklist-done-color: var(--inactive);
  --checklist-done-decoration: none;
  --checklist-done-weight: 900;
  --bullet: "î ‚";
  --bullet-font: var(--its);
  --list-indent: 25px;
  --list-spacing: 1px;
  --root-list-spacing: 10px;
  --root-list-bullet-spacing: 0;
  --list-marker-min-width: 0;
  --list-marker-color: var(--accent);
  --list-marker-color-other: var(--accent2);
  --list-marker-color-collapsed: var(--inactive);
  --list-numbered-color: var(--headers);
  --list-bullet-size: calc(var(--font-text-size) / 2.5);
  --list-bullet-transform: rotate(45deg);
  --list-bullet-radius: var(--radius-h);
  --list-bullet-box-shadow-color: var(--table);
  --collapse-icon-color-collapsed: var(--inactive);
  --indentation-guide-color: var(--lines);
  --indentation-guide-width: 2px;
  --indentation-guide-width-active: var(--indentation-guide-width);
  --indentation-guide-color-active: var(--accent);
  --indentation-guide-source-indent: calc(
    var(--checkbox-size) / 3 * -1 + (var(--checkbox-size) / 2.5)
  );
  --indentation-guide-editing-indent: calc(var(--checkbox-size) / 3);
  --indentation-guide-reading-indent: calc(var(--checkbox-size) * -1 + 2px);
  --list-color-1: var(--indentation-guide-color);
  --list-color-2: var(--indentation-guide-color);
  --list-color-3: var(--indentation-guide-color);
  --list-color-4: var(--indentation-guide-color);
  --list-color-5: var(--indentation-guide-color);
  --list-color-6: var(--indentation-guide-color);
  --table-header-weight: var(--font-bold);
  --table-header-size: var(--font-text);
  --table-header-color: var(--th-text);
  --table-header-text-color: var(--lite-accent);
  --table-header-background: var(--th);
  --table-header-background-hover: var(--accent);
  --table-border-color: var(--note);
  --table-column-alt-background: var(--td);
  --table-row-alt-background: var(--td);
  --table-row-background-hover: var(--highlight);
  --table-row-alt-background-hover: var(--highlight);
  --table-row-edit-font-size: var(--font-small);
  --table-add-button-background: var(--bttn);
  --table-add-button-color: var(--text-dl);
  --table-add-button-size: var(--size-4-6);
  --table-add-button-col-width: var(--table-add-button-size);
  --table-add-button-row-height: var(--table-add-button-size);
  --table-add-button-border-color: var(--note);
  --table-cell-padding-x: var(--size-4-2);
  --table-cell-padding-y: var(--size-2-2);
  --table-header-padding-x: var(--size-4-2);
  --table-header-padding-y: var(--size-2-2);
  --table-column-min-width: 3ch;
  --table-selection-border-radius: var(--radius-s);
  --tag-color: var(--text-dl);
  --tag-color-hover: var(--text-dl);
  --tag-background: var(--tag);
  --tag-background-hover: var(--accent);
  --tag-border-color: var(--tag);
  --tag-border-color-hover: var(--accent);
  --tag-decoration-hover: underline;
  --tag-font: var(--font-default);
  --tag-font-weight: inherit;
  --chbx-q: 253, 175, 0;
  --chbx-h: 168, 177, 189;
  --chbx-d: 203, 212, 235;
  --chbx-i: 219, 1, 1;
  --chbx-a: 248, 114, 181;
  --chbx-R: 159, 186, 223;
  --chbx-id: 202, 199, 0;
  --chbx-B: 182, 118, 255;
  --chbx-P: 79, 165, 79;
  --chbx-C: 214, 108, 108;
  --chbx-N: 161, 106, 73;
  --chbx-b: 251, 146, 76;
  --chbx-I: 82, 139, 212;
  --chbx-c: 149, 217, 238;
  --chbx-r: 249, 190, 123;
}
