:root {
  --cursor: default;
  --text: "monolisa", menlo, SFMono-Regular, Consolas, monospace;
  --text-editor: var(--text);
  --font-monospace: var(--text);
  --font-ui: var(--text);
  --font-normal: 16px;
  --font-small: 13px;
  --font-smaller: 11px;
  --font-smallest: 10px;
  --h1: 1.125em;
  --h2: 1em;
  --h3: 1em;
  --h4: 0.9em;
  --h5: 0.85em;
  --h6: 0.85em;
  --h1-weight: 600;
  --h2-weight: 600;
  --h3-weight: 500;
  --h4-weight: 500;
  --h5-weight: 500;
  --h6-weight: 400;
  --line-height: 1.5;
  --icon-muted: 0.4;
  --border-width: 1px;
  --border-width-alt: 1px;
  --font-settings: 14px;
  --font-settings-small: 12px;
}

body {
  --theme-ui-colors-primary: var(--theme-ui-colors-modes-night-owl-primary, #c792ea);
  --theme-ui-colors-secondary: var(--theme-ui-colors-modes-night-owl-secondary, #f78c6c);
  --theme-ui-colors-muted: var(--theme-ui-colors-modes-night-owl-muted, #03243e);
  --theme-ui-colors-backdrop: var(--theme-ui-colors-modes-night-owl-backdrop, rgba(3, 36, 62, 0.5));
  --theme-ui-colors-background: var(--theme-ui-colors-modes-night-owl-background, #011627);
  --theme-ui-colors-text: var(--theme-ui-colors-modes-night-owl-text, #abb2bf);
  --theme-ui-colors-variable: var(--theme-ui-colors-modes-night-owl-variable, #82aaff);
  --theme-ui-colors-attribute: var(--theme-ui-colors-modes-night-owl-attribute, #f78c6c);
  --theme-ui-colors-definition: var(--theme-ui-colors-modes-night-owl-definition, #82aaff);
  --theme-ui-colors-keyword: var(--theme-ui-colors-modes-night-owl-keyword, #c792ea);
  --theme-ui-colors-operator: var(--theme-ui-colors-modes-night-owl-operator, #c792ea);
  --theme-ui-colors-property: var(--theme-ui-colors-modes-night-owl-property, #fff);
  --theme-ui-colors-number: var(--theme-ui-colors-modes-night-owl-number, #f78c6c);
  --theme-ui-colors-string: var(--theme-ui-colors-modes-night-owl-string, #ecc48d);
  --theme-ui-colors-comment: var(--theme-ui-colors-modes-night-owl-comment, #717a8a);
  --theme-ui-colors-meta: var(--theme-ui-colors-modes-night-owl-meta, #7fdbca);
  --theme-ui-colors-tag: var(--theme-ui-colors-modes-night-owl-tag, #7fdbca);
  --font-adaptive-normal: var(--font-normal);
  --font-adaptive-small: var(--font-small);
  --font-adaptive-smaller: var(--font-smaller);
  --font-adaptive-smallest: var(--font-smallest);
  --line-width-adaptive: var(--line-width);
  --header-width: 40px;
  --interactive-accent: var(--text-selection);
  --interactive-accent-hover: var(--background-tertiary);
  --text-on-accent: var(--text-normal);
}
