:root[saved-theme="light"] {
  --text-normal: hsl(var(--accent-h), 6%, 12%);
  --text-muted: hsl(var(--accent-h), 9%, 36%);
  --text-faint: hsl(var(--accent-h), 12%, 64%);
  --text-accent: var(--color-accent-1);
  --text-accent-hover: var(--color-accent-2);
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 221, 44, 56;
  --color-red: rgb(var(--color-red-rgb));
  --color-green-rgb: 29, 165, 29;
  --color-green: rgb(var(--color-green-rgb));
  --color-orange-rgb: 222, 116, 23;
  --color-orange: rgb(var(--color-orange-rgb));
  --color-yellow-rgb: 192, 156, 12;
  --color-yellow: rgb(var(--color-yellow-rgb));
  --color-cyan-rgb: 22, 166, 171;
  --color-cyan: rgb(var(--color-cyan-rgb));
  --color-blue-rgb: 23, 117, 217;
  --color-blue: rgb(var(--color-blue-rgb));
  --color-purple-rgb: 143, 71, 225;
  --color-purple: rgb(var(--color-purple-rgb));
  --color-pink-rgb: 221, 19, 153;
  --color-pink: rgb(var(--color-pink-rgb));
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-15: #f7f7f7;
  --color-base-20: #f0f0f0;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5a5a5a;
  --color-base-100: #222222;
  --accent-h: var(--accent-light-h);
  --accent-s: var(--accent-light-s);
  --accent-l: var(--accent-light-l);
  --accent-light-h: 232;
  --accent-light-s: 96%;
  --accent-light-l: 60%;
  --color-accent-hsl: var(--color-accent-hsl-light);
  --color-accent: var(--color-accent-light);
  --color-accent-1: var(--color-accent-1-light);
  --color-accent-2: var(--color-accent-2-light);
  --color-accent-3: var(--color-accent-3-light);
  --color-accent-light: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1-light: hsl(
    calc(var(--accent-h) - 1),
    calc(var(--accent-s) * 1.01),
    calc(var(--accent-l) * 1.075)
  );
  --color-accent-2-light: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-3-light: hsla(var(--accent-h), calc(0.4 * var(--accent-s)), calc(var(--accent-l)));
  --background-modifier-border: hsla(
    var(--accent-h),
    calc(0.4 * var(--accent-s)),
    calc(var(--accent-l)),
    0.2
  );
  --background-modifier-border-hover: hsla(
    var(--accent-h),
    calc(0.4 * var(--accent-s)),
    calc(var(--accent-l)),
    0.25
  );
  --background-modifier-border-focus: hsla(
    var(--accent-h),
    calc(0.4 * var(--accent-s)),
    calc(var(--accent-l)),
    0.3
  );
  --background-primary: var(--color-base-00);
  --background-primary-alt: var(--color-base-10);
  --background-secondary-alt: var(--color-base-05);
  --workspace-background-translucent: rgba(246, 246, 246, 0.8);
  --background-modifier-hover: hsla(var(--accent-h), 6%, 64%, 0.15);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --background-modifier-form-field: transparent;
  --search-result-background: transparent;
  --text-highlight-bg: rgba(255, 208, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --border-radius-activated-file-light: var(--radius-s);
  --color-activated-file-light: var(--nav-item-color-active);
  --background-activated-file-light: var(--nav-item-background-active);
  --shadow-activated-file-light: none;
  --toggle-thumb-color: var(--toggle-thumb-color-light);
  --toggle-thumb-enabled-color: var(--toggle-thumb-enabled-color-light);
  --toggle-thumb-color-light: white;
  --toggle-thumb-enabled-color-light: white;
  --toggle-thumb-shadow: var(--toggle-thumb-shadow-light);
  --toggle-thumb-enabled-shadow: var(--toggle-thumb-enabled-shadow-light);
  --toggle-thumb-shadow-light: 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.2),
    inset 0px -1px 1px rgba(255, 255, 255, 0.4), inset 0px -4px 4px rgba(0, 0, 0, 0.05);
  --toggle-thumb-enabled-shadow-light: 0px 4px 4px rgba(0, 0, 0, 0.05),
    0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px -1px 1px rgba(255, 255, 255, 0.4),
    inset 0px -4px 4px hsla(var(--interactive-accent-hsl), 0.15);
  --toggle-track-color: var(--toggle-track-color-light);
  --toggle-track-enabled-color: var(--toggle-track-enabled-color-light);
  --toggle-track-color-light: var(--background-modifier-border-hover);
  --toggle-track-enabled-color-light: var(--interactive-accent);
  --toggle-track-shadow: var(--toggle-track-shadow-light);
  --toggle-track-hovered-shadow: var(--toggle-track-hovered-shadow-light);
  --toggle-track-shadow-light: inset 0px 1px 2px rgba(0, 0, 0, 0.25),
    0px 1px 0px var(--background-primary), 0px 2px 4px rgba(0, 0, 0, 0.04);
  --toggle-track-hovered-shadow-light: inset 0px 1px 2px rgba(0, 0, 0, 0.25),
    0px 1px 0px var(--background-primary), 0px 2px 4px rgba(0, 0, 0, 0.04);
  --interactive-normal: var(--color-base-05);
  --interactive-hover: var(--color-base-15);
  --input-radius: var(--input-radius-light);
  --input-shadow: var(--input-shadow-light);
  --input-shadow-hover: var(--input-shadow-hover-light);
  --input-radius-light: 5px;
  --input-shadow-light: 0px 4px 8px -4px rgba(0, 0, 0, 0.16),
    inset 0px -1px 0px rgba(0, 0, 0, 0.04), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.12),
    inset 0px 2px 0.75px rgba(255, 255, 255, 0.4), inset 0px -3px 0.75px rgba(0, 0, 0, 0.04);
  --input-shadow-hover-light: 0px 4px 8px -4px rgba(0, 0, 0, 0.16),
    inset 0px -1px 0px rgba(0, 0, 0, 0.04), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.12),
    inset 0px 2px 0.75px rgba(255, 255, 255, 0.4), inset 0px -3px 0.75px rgba(0, 0, 0, 0.04);
  --code-background: var(--code-background-light);
  --code-border: var(--code-border-light);
}
