:root[saved-theme="dark"] {
  --background-primary: #2e3440;
  --background-primary-alt: #2a2c32;
  --background-secondary: #3b4252;
  --background-secondary-alt: #292c33;
  --background-accent: #f8f8f2;
  --background-header-one: var(--background-primary);
  --background-header-two: var(--forest-green-dark);
  --background-modal: rgba(0, 0, 0, 0.6);
  --background-modifier-border: var(--forest-green-light);
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --background-nav: var(--background-primary);
  --background-nav-alt: var(--background-primary-alt);
  --background-code: var(--background-secondary-alt);
  --graph-background: var(--background-primary-alt);
  --graph-links: rgba(157, 212, 207, 0.75);
  --graph-dots: var(--off-white);
  --text-accent: #f2bd77;
  --text-accent-hover: #c72e6e;
  --text-normal: #f8f8f2;
  --text-muted: #f8f8f2;
  --text-muted-real: #f8f8f2;
  --text-faint: #759e93;
  --text-highlight: #ad3266;
  --text-highlight-bg: #d5548a60;
  --text-error: #ab687e;
  --text-error-hover: #ff79c6;
  --text-selection: rgba(157, 212, 207, 0.75);
  --text-status-bar: var(--off-white-dark);
  --text-on-accent: #eddee3;
  --text-nav: var(--forest-green-faded);
  --interactive-normal: #ffffff;
  --interactive-hover: #d47d7d;
  --interactive-accent: #548a7b;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #d47d7d;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --horizontal-line: #759e93;
  --horizontal-line-element: #9fd4d6;
  --menu-item-hover: var(--background-primary);
  --calendar-days: var(--off-white-dark);
  --calendar-days-hover: var(--off-white);
  --checklist-done-color: var(--off-white-darker);
  --active-header-border: var(--forest-green-light);
  --active-header-buttons: var(--off-white);
  --selected-item: var(--forest-green-light);
  --text-title-h1: #c72e6e;
  --text-title-h2: #ffffff;
  --text-title-h3: #95bab0;
  --text-title-h4: #759e93;
  --text-title-h5: #548a7b;
  --text-title-h6: #377362;
  --inline-code: #759e93;
  --code-block: #759e93;
  --pre-code: #2e3440;
  --blockquote-border: #ffb86c;
  --vim-cursor: #ff5555;
  --border-color: #2b2727;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
