:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 233, 49, 71;
  --color-red: #e93147;
  --color-orange-rgb: 236, 117, 0;
  --color-orange: #ec7500;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-green-rgb: 8, 185, 78;
  --color-green: #08b94e;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-blue-rgb: 8, 109, 221;
  --color-blue: #086ddd;
  --color-purple-rgb: 120, 82, 238;
  --color-purple: #7852ee;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5c5c5c;
  --color-base-100: #222222;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --background-secondary-alt: var(--forest-green-faded);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --background-primary: var(--off-white);
  --background-primary-faded: var(--off-white-faded);
  --background-primary-alt: var(--off-white-alt);
  --background-dark: var(--blue-gray-dark);
  --background-header-one: var(--background-primary);
  --background-header-two: var(--forest-green-faded);
  --background-secondary: var(--off-white);
  --background-secondary-real: var(--off-white-dark);
  --background-accent: var(--forest-green-dark);
  --background-modal: rgba(0, 0, 0, 0.3);
  --background-modifier-border: var(--forest-green-light);
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-nav: var(--background-primary);
  --background-nav-alt: var(--background-primary-alt);
  --background-code: var(--off-white-alt);
  --graph-background: var(--background-primary);
  --graph-links: rgba(117, 158, 147, 0.7);
  --graph-dots: var(--forest-green-dark);
  --text-accent: var(--orange-yellow-dark);
  --text-accent-hover: var(--berry-red-strong);
  --text-normal-alt: var(--blue-gray-dark);
  --text-normal: var(--blue-gray-darkest);
  --text-muted: var(--off-white-darker);
  --text-muted-real: var(--off-white-dark);
  --text-faint: var(--forest-green-light);
  --text-highlight-bg: #f2bd7746;
  --text-highlight: #ad3266;
  --text-error: var(--berry-red-faded);
  --text-error-hover: var(--berry-red-faded);
  --text-selection: rgba(157, 212, 207, 0.5);
  --text-status-bar: var(--forest-green-dark);
  --text-on-accent: var(--off-white);
  --text-nav: var(--forest-green-light);
  --interactive-normal: var(--forest-green-light);
  --interactive-hover: var(--orange-yellow-dark);
  --interactive-accent: var(--forest-green-light);
  --interactive-accent-rgb: rgba(117, 158, 147);
  --interactive-accent-hover: var(--orange-yellow-dark);
  --scrollbar-active-thumb-bg: rgba(194, 208, 204, 0.2);
  --scrollbar-bg: rgba(194, 208, 204, 0.05);
  --scrollbar-thumb-bg: rgba(126, 147, 157, 0.1);
  --horizontal-line: var(--forest-green-faded);
  --horizontal-line-element: var(--forest-green-dark);
  --menu-item-hover: var(--off-white);
  --calendar-days: var(--forest-green-dark);
  --calendar-days-hover: var(--text-normal);
  --checklist-done-color: var(--off-white-darker);
  --checkbox-marker-color: var(--background-dark);
  --active-header-border: var(--orange-yellow);
  --active-header-buttons: var(--forest-green-dark);
  --selected-item: var(--forest-green-light);
  --text-title-h1: #c72e6e;
  --text-title-h2: #548a7b;
  --text-title-h3: #95bab0;
  --text-title-h4: #759e93;
  --text-title-h5: #548a7b;
  --text-title-h6: #377362;
  --inline-code: #c72e6e;
  --code-block: #c72e6e;
  --pre-code: var(--forest-green-faded);
  --blockquote-border: var(--forest-green-dark);
  --vim-cursor: var(--forest-green-dark);
  --border-color: var(--forest-green-dark);
}
