body.flexcyon-editor-dots .view-content [class*="markdown-"] {
  background-image: radial-gradient(
    var(--color-base-00) var(--flexcyon-editor-dot-size),
    transparent 1px
  );
  background-repeat: repeat;
  background-size: var(--flexcyon-editor-bg-width)
    var(--flexcyon-editor-bg-width);
}

body.flexcyon-editor-dots .view-content [class*="markdown-"] * {
  background-image: none;
}
