/* Quartz imports */
@use "../variables.scss" as *;

/* quartz themes */
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "sass:list";
@use "sass:color";


//%%EXTRAS%%


:root {

  //%%ROOT%%

}

body {

  //%%BODY%%

}

/* START DARK */
:root[saved-theme="dark"],
html[saved-theme="dark"] {

  //%%DARK%%

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
/* END DARK */

/* START LIGHT */
:root[saved-theme="light"],
html[saved-theme="light"] {

  //%%LIGHT%%

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
/* END LIGHT */

body {
  --quartz-text-highlight: var(--text-highlight-bg, var(--background-modifier-hover)) !important;

  background-color: var(--background-primary);

  .highlight,
  ::selection,
  ::-moz-selection {
    background: var(--quartz-text-highlight, var(--tertiary));
  }

  /* LINKS */
  a,
  footer a {
    --font-weight: var(--link-weight);
    color: var(--text-a, var(--link-color));
    font-weight: var(--link-weight);
    outline: none;
    /* text-decoration-line: var(--link-decoration); */
    /* text-decoration-thickness: var(--link-decoration-thickness); */
    cursor: var(--cursor-link);
    transition: opacity 0.15s ease-in-out;
    background-position: center right;
    background-repeat: no-repeat;
    &:hover {
      color: var(--text-a-hover, var(--link-color-hover));
      /* text-decoration-line: var(--link-decoration-hover); */
    }
    &.internal {
      color: var(--text-a, var(--link-color));
      background-color: color-mix(in srgb, var(--text-a, var(--link-color)), #0000 85%);
      &.tag-link {
        --highlight-fallback: 258, 88%, 66%;
        --textHighlight-fallback: 255, 208, 0;
        color: var(--tag-color, var(--text-accent));
        text-decoration: var(--tag-decoration, none);
        background-color: var(
          --tag-background,
          hsla(
            var(--interactive-accent-hsl, var(--color-accent-hsl, var(--highlight-fallback))),
            0.1
          )
        );
        &:hover {
          color: var(--tag-color-hover, var(--text-accent));
          text-decoration: var(--tag-decoration-hover, none);
          background-color: var(
            --tag-background-hover,
            hsla(var(--interactive-accent-hsl, var(--highlight-fallback)), 0.2)
          );
        }
      }
    }
    &.external {
      color: var(--link-external-color);
      /* text-decoration-line: var(--link-external-decoration); */
      background-position: center right;
      background-repeat: no-repeat;
      background-image: linear-gradient(transparent, transparent);
      background-color: transparent;
      /* background-size: 13px; */
      /* padding-inline-end: 16px; */
      /* background-position-y: 4px; */
      cursor: var(--cursor-link);
      filter: var(--link-external-filter);
      transition: opacity 0.15s ease-in-out;
      &:hover {
        color: var(--link-external-color-hover);
        /* text-decoration-line: var(--link-external-decoration-hover); */
      }
    }
  }

  /* TAGS */
  a.tag {
    background-color: var(--tag-background);
    border: var(--tag-border-width) solid var(--tag-border-color);
    border-radius: var(--tag-radius);
    color: var(--tag-color);
    /* font-size: var(--tag-size); */
    font-weight: var(--tag-weight);
    /* text-decoration: var(--tag-decoration); */
    /* padding: var(--tag-padding-y) var(--tag-padding-x); */
    /* line-height: 1; */
    &:hover {
      background-color: var(--tag-background-hover);
      border: var(--tag-border-width) solid var(--tag-border-color-hover);
      color: var(--tag-color-hover);
      text-decoration: var(--tag-decoration-hover);
    }
  }
  input[type="checkbox"] {
    appearance: none;
    appearance: none;
    border-radius: var(--checkbox-radius);
    border: 1px solid var(--checkbox-border-color);
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    margin-inline-end: 6px;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    position: relative;
    transition: box-shadow 0.15s ease-in-out;
  }
  input[type="checkbox"]:hover,
  input[type="checkbox"]:active,
  input[type="checkbox"]:focus {
    outline: 0;
    border-color: var(--checkbox-border-color-hover);
  }
  input[type="checkbox"]:focus-visible {
    box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
  }
  input[type="checkbox"]:checked:after {
    content: "";
    top: -1px;
    inset-inline-start: -1px;
    position: absolute;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    display: block;
    background-color: var(--checkbox-marker-color);
    mask-position: 52% 52%;
    mask-size: 65%;
    mask-repeat: no-repeat;
    mask-image: url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23000000"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
  }
  input[type="checkbox"]:checked {
    background-color: var(--checkbox-color);
    border-color: var(--checkbox-color);
  }
  @media (hover: hover) {
    input[type="checkbox"]:checked:hover {
      background-color: var(--checkbox-color-hover);
      border-color: var(--checkbox-color-hover);
    }
  }
  input[type="checkbox"][data-indeterminate="true"]:not(:checked):after {
    content: "";
    position: absolute;
    top: calc(var(--checkbox-size) / 2 - 2px);
    width: calc(var(--checkbox-size) - 6px);
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
    display: block;
    border-radius: 2px;
    background-color: var(--text-normal);
  }

  /* HEADINGS */
  h1 {

    //%%H1%%
  
  }
  h1 a {

    //%%H1 A%%

  }
  h2 {

    //%%H2%%

  }
  h2 a {

    //%%H2 A%%

  }
  h3 {

    //%%H3%%

  }
  h3 a {

    //%%H3 A%%

  }
  h4 {

    //%%H4%%

  }
  h4 a {

    //%%H4 A%%

  }
  h5 {

    //%%H5%%

  }
  h5 a {

    //%%H5 A%%

  }
  h6 {

    //%%H6%%

  }
  h6 a {

    //%%H6 A%%

  }

  /* CODE */
  pre {

    //%%PRE%%

    & > code {

      //%%CODE%%

    }
  }

  code {

    //%%CODE INLINE%%

    background-color: var(--code-background) !important;
    span[style="--shiki-light:#6F42C1;--shiki-dark:#B392F0;"] {
      color: var(--code-value) !important;
    }
    span[style="--shiki-light:#005CC5;--shiki-dark:#79B8FF;"] {
      color: var(--code-function) !important;
    }
    span[style="--shiki-light:#032F62;--shiki-dark:#9ECBFF;"] {
      color: var(--code-string) !important;
    }
    span[style="--shiki-light:#032F62;--shiki-dark:#DBEDFF;"] {
      color: var(--code-property) !important;
    }
    span[style="--shiki-light:#24292E;--shiki-dark:#E1E4E8;"] {
      color: var(--code-normal) !important;
    }
    span[style="--shiki-light:#586069;--shiki-dark:#D1D5DA;"] {
      color: var(--code-punctuation) !important;
    }
    span[style="--shiki-light:#F6F8FA;--shiki-dark:#2F363D;"] {
      color: var(--code-comment) !important;
    }
    span[style="--shiki-light:#6A737D;--shiki-dark:#6A737D;"] {
      color: var(--code-comment) !important;
    }
    span[style="--shiki-light:#22863A;--shiki-dark:#85E89D;"] {
      color: var(--code-tag) !important;
    }
    span[style="--shiki-light:#E36209;--shiki-dark:#FFAB70;"] {
      color: var(--code-important) !important;
    }
    span[style="--shiki-light:#B31D28;--shiki-dark:#FDAEB7;"] {
      color: var(--text-operator) !important;
    }
    span[style="--shiki-light:#D73A49;--shiki-dark:#F97583;"] {
      color: var(--code-keyword) !important;
    }
  }
  .clipboard-button {

    //%%CLIPBOARD BUTTON%%

    &:hover {

      //%%CLIPBOARD BUTTON HOVER%%

    }
    & > svg {
      fill: var(--search-icon-color, var(--text-muted, var(--darkgray)));
    }
  }

  /* METADATA */
  .content-meta {

    //%%CONTENT META%%

  }

  /* EXPLORER, TOC, BACKLINKS */
  .toc-content,
  .explorer-content,
  .backlinks {
    ul {
      li > a {
        color: var(--nav-item-color, var(--text-muted, var(--dark)));
        &:hover {
          color: var(--nav-item-color-hover, var(--text-normal, var(--tertiary)));
        }
      }
    }
  }

  .backlinks,
  .explorer,
  .graph,
  .toc {
    h3 {
      color: var(--component-title-color, var(--h1-color, var(--nav-heading-color,)));
    }
  }

  .backlinks:after {
    background: unset;
  }

  .explorer {
    &:after {
      background: unset;
    }
    button.explorer {
      color: var(--collapse-icon-color-collapsed, var(--nav-heading-color-collapsed));
    }
    .explorer-content {
      background-color: var(--background-primary);
      & ul {
        & li a {
          color: var(--nav-item-color, var(--nav-heading-color-collapsed));
        }
      }
      .folder-outer > ul {
        border-left: 1px solid var(--nav-item-border-color, var(--background-modifier-border));
        & > li:has(.active) {
          border-left: 1px solid
            var(--nav-item-border-color-active, var(--background-modifier-border-focus));
        }
      }
    }
  }

  .folder-container {
    .folder-icon {
      color: var(--collapse-icon-color-collapsed, var(--nav-heading-color-collapsed));
      &:hover {
        .folder-icon {
          color: var(--collapse-icon-color-collapsed, var(--nav-heading-color-collapsed-hover));
        }
      }
    }
    div > a,
    div > button,
    div > button > span {
      color: var(--nav-item-color, var(--nav-heading-color-collapsed));
      &:hover {
        color: var(--nav-item-color-hover, var(--nav-heading-color-collapsed-hover));
      }
    }
    &:has(+ div.folder-outer.open) {
      .folder-icon {
        color: var(--collapse-icon-color, var(--nav-heading-color));
        &:hover {
          color: var(--collapse-icon-color, var(--nav-heading-color-hover));
        }
      }
      div > a,
      div > button,
      div > button > span {
        color: var(--nav-heading-color);
        &:hover {
          color: var(--nav-heading-color-hover);
        }
      }
    }
  }

  /* SEARCH */
  .search {
    & > .search-button {
      //%%SEARCH BUTTON%%
      svg {
        color: var(--search-icon-color, var(--text-muted, var(--darkgray)));
        stroke: var(--search-icon-color, var(--text-muted, var(--darkgray)));
      }
    }
    & > .search-container {
      & > .search-space {
          //%%SEARCH BACKGROUND COLOR%%
          //%%SEARCH BORDER%%
          //%%SEARCH BORDER RADIUS%%
          //%%SEARCH SHADOW%%

          margin: 12vh auto;
        & > input {
          //%%SEARCH INPUT%%

          margin-bottom: 0;
          border-bottom: none;
          background: transparent;
        }
        & > * {
          //%%BODY COLOR%%
          background: transparent;
          margin-bottom: 0;
          box-shadow: none;
        }
        & > .search-layout {
          &.display-results {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
          & .highlight {
            //%%SEARCH HIGHLIGHT%%
            //%%SEARCH HIGHLIGHT BACKGROUND%%
          }
          & > .preview-container {
            color: var(--text-normal);
          }
          & > .results-container {
            & .result-card {
              @media all and not ($mobile) {
                display: flex;
              }
              &:hover,
              &:focus,
              &.focus {
                //%%SEARCH RESULT HOVER BACKGROUND%%
              }
              & > ul > li > p {
                background-color: transparent;
                //%%BODY COLOR%%
                &.match-tag {
                  //%%SEARCH RESULT TAG COLOR%%
                }
              }
            }
          }
        }
      }
    }
  }

  /* DARKMODE */
  .darkmode {
    & svg {
      color: var(--search-icon-color, var(--text-muted, var(--darkgray)));
      fill: var(--search-icon-color, var(--text-muted, var(--darkgray)));
    }
  }

  /* PAGE TITLE */
  .page-title,
  .page-title a {
    color: var(--h2-color, var(--link-color, var(--darkgray)));
    font-family: var(--inline-title-font, var(--h2-font, var(--font-text, inherit)));
  }

  /* GRAPH */
  .graph {
    & > .graph-outer {
      border: 1px solid var(--background-modifier-border-hover, var(--color-base-35));
      --background-modifier-border-focus: var(--color-base-40);
      & > .global-graph-icon {
        color: var(--search-icon-color, var(--text-muted, var(--darkgray)));
        &:hover {
          background-color: var(--background-modifier-hover);
        }
      }
    }
    & > .global-graph-outer {
      & > .global-graph-container {
        border: 1px solid var(--background-modifier-border-hover, var(--color-base-35));
        background-color: var(--background-primary);
      }
    }
  }

  /* MISC */
  hr {
    border: none;
    border-top: var(--hr-thickness, 2px) solid;
    border-color: var(--hr-color, var(--background-modifier-border, var(--lightgray)));
  }

  details.toc {
    & summary {
      cursor: pointer;

      &::marker {
        color: var(--text-muted);
      }
    }
  }

  /* POPOVER */
  .popover {
    
    //%%POPOVER%%

    display: block;
    position: fixed;
    z-index: 999;
    background-color: unset;
    border: unset;
    & .popover-inner {

      //%%POPOVER BORDER%%

      //%%POPOVER BACKGROUND%%
      
      //%%POPOVER BORDER RADIUS%%

    }
  }

  /* BACKGROUNDS */
  section {
    background-color: var(--background-primary);
  }
  .page > #quartz-body {
    .sidebar {
      background-color: var(--background-primary);
      &.left:has(.explorer) {
        background-color: var(--background-primary);
      }
    }
  }

  /* TEXT */
  strong {
    color: var(--bold-color);
  }
  i,
  em {
    color: var(--italic-color);
  }
  p,
  ul,
  text,
  a,
  tr,
  td,
  li,
  ol,
  ul,
  .katex,
  .math {
    color: var(--text-normal);
  }
}

/* START CANVAS GRAPH WORKAROUND */

/* START LIGHT GRAPH */
:root:root[saved-theme="light"] {
  --highlight-fallback: 258, 88%, 66%;
  --textHighlight-fallback: 255, 208, 0;
  --light: var(
    --graph-node,
    var(--text-muted, var(--background-primary, var(--color-base-00, #ffffff)))
  ) !important;
  --lightgray: var(
    --graph-line,
    var(
      --color-base-35,
      var(
        --background-modifier-border-focus,
        var(--background-modifier-border, var(--color-base-30, #e0e0e0))
      )
    )
  ) !important;
  --gray: var(
    --graph-node,
    var(
      --text-muted,
      var(
        --graph-text,
        var(--text-normal, var(--checkbox-border-color, var(--text-faint, #ababab)))
      )
    )
  ) !important;
  --darkgray: var(
    --graph-node-unresolved,
    var(--text-faint, var(--text-normal, var(--color-base-100, #222222)))
  ) !important;
  --dark: var(--h1-color, var(--text-faint, #ababab)) !important;
  --secondary: var(
    --graph-node-focused,
    var(--text-accent, var(--link-color, var(--text-accent, var(--color-accent, #8a5cf5))))
  ) !important;
  --tertiary: var(
    --graph-node-tag,
    var(
      --color-green,
      var(--link-color-hover, var(--text-accent-hover, var(--color-accent-2, #a386f9)))
    )
  ) !important;
  --highlight: var(
    --tag-background,
    hsla(var(--interactive-accent-hsl, var(--color-accent-hsl, var(--highlight-fallback))), 0.1)
  ) !important;
  --textHighlight: var(
    --text-highlight-bg,
    rgba(var(--text-highlight-bg-rgb, var(--textHighlight-fallback)), 0.4)
  ) !important;
}
/* END LIGHT GRAPH */

/* START DARK GRAPH */
:root:root[saved-theme="dark"] {
  --highlight-fallback: 258, 88%, 66%;
  --textHighlight-fallback: 255, 208, 0;
  --light: var(
    --graph-node,
    var(--text-muted, var(--background-primary, var(--color-base-00, #1e1e1e)))
  ) !important;
  --lightgray: var(
    --graph-line,
    var(
      --color-base-35,
      var(
        --background-modifier-border-focus,
        var(--background-modifier-border, var(--color-base-30, #363636))
      )
    )
  ) !important;
  --gray: var(
    --graph-node,
    var(
      --text-muted,
      var(
        --graph-text,
        var(--text-normal, var(--checkbox-border-color, var(--text-faint, #666666)))
      )
    )
  ) !important;
  --darkgray: var(
    --graph-node-unresolved,
    var(--text-faint, var(--text-normal, var(--color-base-100, #dadada)))
  ) !important;
  --dark: var(--h1-color, var(--text-faint, #666666)) !important;
  --secondary: var(
    --graph-node-focused,
    var(--text-accent, var(--link-color, var(--text-accent, var(--color-accent-1, #a386f9))))
  ) !important;
  --tertiary: var(
    --graph-node-tag,
    var(
      --color-green,
      var(--link-color-hover, var(--text-accent-hover, var(--color-accent-2, #c5b6fc)))
    )
  ) !important;
  --highlight: var(
    --tag-background,
    hsla(var(--interactive-accent-hsl, var(--color-accent-hsl, var(--highlight-fallback))), 0.2)
  ) !important;
  --textHighlight: var(
    --text-highlight-bg,
    rgba(var(--text-highlight-bg-rgb, var(--textHighlight-fallback)), 0.4)
  ) !important;
}
/* END DARK GRAPH */

/* END CANVAS GRAPH WORKAROUND */

