:root[saved-theme="dark"] {
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-orange: #e9973f;
  --color-yellow: #e0de71;
  --color-cyan: #53dfdd;
  --color-blue: #027aff;
  --color-purple: #a882ff;
  --color-pink: #fa99cd;
  --color-base-00: #1c2127;
  --color-base-10: #282c34;
  --color-base-20: #181c20;
  --color-base-25: #2c313c;
  --color-base-30: #35393e;
  --color-base-35: #3f3f3f;
  --color-base-40: #555;
  --color-base-50: #666;
  --color-base-60: #999;
  --color-base-70: #bababa;
  --color-base-100: #dadada;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 3.8%));
  --titlebar-background-focused: var(--color-base-10);
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-highlight-bg-d: rgba(255, 208, 0, 0.4);
  --text-highlight-bg: var(--text-highlight-bg-d);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --tag-background: var(--tag-background-color-d);
  --tag-color: var(--tag-font-color-d);
  --text-muted: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 65%));
  --text-faint: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 30%));
  --text-formatted: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 50%));
  --text-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-d));
  --text-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-d) + 12%));
  --atom-gray-1: #5c6370;
  --atom-gray-2: #abb2bf;
  --atom-red: #e06c75;
  --atom-orange: #d19a66;
  --atom-green: #98c379;
  --atom-aqua: #56b6c2;
  --atom-purple: #c678dd;
  --atom-blue: #61afef;
  --atom-yellow: #e5c07b;
}
