.magicuser-accent-theme {
  --mu-accent-color: hsla(var(--color-accent-hsl), 1);
  --mu-accent-details: hsla(var(--color-accent-hsl), 0.2);
  --mu-accent-light-mode: hsl(var(--accent-h), 78%, 38%);
  --mu-accent-icons: hsl(var(--accent-h), 78%, 55%);
  --mu-background-color-1: #fff;
  --mu-background-color-2: #e1e1e1;
  --mu-titlebar-background: #080808;
  --mu-caret-color: hsl(var(--accent-h), 82%, 52%);
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #fff;
  --mu-text-title: #0072d3;
  --mu-vault-title: #0072d3;
  --code-background: #f1f1f1;
  --code-punctuation: var(--mu-accent-icons);
  --mu-folder-text-color: #000;
  --mu-file-icon-color: var(--mu-accent-light-mode);
  --mu-folder-icon-color: #828282;
  --mu-folder-icon-color-active: var(--mu-accent-light-mode);
  --mu-h1: var(--mu-accent-light-mode);
  --mu-h2: var(--mu-accent-light-mode);
  --mu-h3: var(--mu-accent-light-mode);
  --mu-h4: var(--mu-accent-light-mode);
  --mu-h5: var(--mu-accent-light-mode);
  --mu-h6: var(--mu-accent-light-mode);
  --mu-text-selection: #0088ff53;
  --mu-suggestion-color: var(--mu-accent-color);
  --mu-dark-sidebar-color: #111111;
  --mu-icon: hsl(var(--accent-h), 78%, 38%);
  --mu-icon-hover: var(--mu-accent-icons);
  --mu-icon-active: var(--mu-accent-icons);
  --mu-icon-focused: var(--mu-accent-icons);
  --search-icon-color: var(--mu-accent-icons);
  --mu-icon-statusbar-menu: hsl(var(--accent-h), 78%, 38%);
  --mu-folder-area-background: hsla(var(--color-accent-hsl), 0.1);
  --mu-folder-area-border: hsla(var(--color-accent-hsl), 0.3);
  --checkbox-border-color: #828282;
  --checkbox-border-color-hover: var(--mu-accent-color);
  --text-normal: #000;
  --mu-default-mode-border-color: var(--mu-accent-color);
  --mu-stacked-mode-border-color: var(--mu-accent-color);
  --mu-blockquote-border: var(--mu-accent-color);
  --mu-hr-color: var(--mu-accent-color);
  --list-marker-color: var(--mu-accent-light-mode);
  --nav-collapse-icon-color: #a3a3a3;
  --background-modifier-hover: var(--mu-accent-details);
  --nav-item-background-active: var(--mu-accent-details);
  --mu-bookmarked-note-icon-bg: var(--mu-accent-details);
  --background-modifier-border-hover: var(--mu-accent-details);
  --mu-table-th-background: #080808;
  --mu-table-th-foreground-main: var(--text-accent);
  --mu-file-header-border-color: hsla(var(--color-accent-hsl), 0.5);
  --mu-file-header-border-width: 2px;
  --background-modifier-border: var(--mu-accent-details);
  --modal-border-color: var(--mu-accent-details);
  --prompt-border-color: var(--mu-accent-details);
  --mu-indent-color-level-1: var(--mu-accent-details);
  --mu-indent-color-level-2: var(--mu-accent-details);
  --mu-indent-color-level-3: var(--mu-accent-details);
  --mu-indent-color-level-4: var(--mu-accent-details);
  --mu-indent-color-level-5: var(--mu-accent-details);
  --mu-indent-color-level-6: var(--mu-accent-details);
  --mu-label-h1: #979797;
  --mu-label-h2: #979797;
  --mu-label-h3: #979797;
  --mu-label-h4: #979797;
  --mu-label-h5: #979797;
  --mu-label-h6: #979797;
  --divider-color-hover: var(--mu-accent-color);
}

body:not(.mu-cards-interface).mu-sidebar-dark.magicuser-accent-theme {
  --mu-folder-text-color: #979797;
  --mu-bg-search-results: #181818;
  --nav-collapse-icon-color: #484848;
}
