:is(.table-alto, .tables-alt-original)
  .markdown-rendered
  tbody
  tr
  > td:nth-child(2n + 2),
:is(.table-alto, .tables-alt-original)
  .markdown-rendered
  tbody
  tr:nth-child(odd) {
  background-color: transparent;
}
:is(.table-alto, .tables-alt-original)
  .markdown-rendered
  tbody
  tr
  > td:nth-child(odd) {
  background-color: var(--table-column-alt-background);
}
:is(.table-alto, .tables-alt-original)
  .markdown-rendered
  tbody
  tr:nth-child(even) {
  background-color: var(--table-row-alt-background);
}
