:root[saved-theme="light"] {
  --col-base-background: #d7ddd9;
  --col-base: #64a055;
  --col-accent: #437a41;
  --col-accent-plus: #20542c;
  --col-muted: #86c66c;
  --col-muted-plus: #c9d3cb;
  --col-important: #0457e5;
  --col-important-muted: #3f8cff;
  --col-important-plus: #011f64;
  --col-safety: #acd580;
  --col-danger: #86c66c;
  --col-bckg-mainpanels: var(--col-muted-plus);
  --col-bckg-filetreeheader: var(--col-base-background);
  --col-txt-titlebars: #e5eae7;
  --col-icons: var(--col-accent-plus);
  --col-txt-selectedtitles: var(--col-accent-plus);
  --col-bckg-selectedtitles: var(--col-muted);
  --col-txt-titles: var(--col-accent);
  --col-menucheckbox: var(--col-accent);
  --col-txt-menudropdowns: var(--col-accent);
  --col-bckg-menudropdowns: var(--col-muted);
  --col-txt-menudropdownhover: var(--col-accent);
  --col-bckg-menudropdownhover: var(--col-muted);
  --background-primary: var(--col-base-background);
  --background-primary-alt: black;
  --background-secondary: var(--col-base-background);
  --background-secondary-alt: var(--col-base-background);
  --background-modifier-hover: var(--col-muted);
  --background-modifier-active-hover: var(--col-muted);
  --background-modifier-border: var(--col-muted-plus);
  --background-modifier-border-hover: var(--col-accent);
  --background-modifier-border-focus: var(--col-accent-plus);
  --background-modifier-error-rgb: var(--col-accent);
  --background-modifier-error: var(--col-muted-plus);
  --background-modifier-error-hover: var(--col-accent);
  --background-modifier-success-rgb: var(--col-accent-plus);
  --background-modifier-success: var(--col-muted-plus);
  --background-modifier-message: var(--col-base);
  --background-modifier-form-field: var(--col-muted-plus);
  --text-normal: var(--col-accent-plus);
  --text-muted: var(--col-accent-plus);
  --text-faint: var(--col-accent-plus);
  --text-on-accent: var(--col-muted-plus);
  --text-error: var(--col-important);
  --text-success: var(--col-accent);
  --text-selection: var(--col-text-selection);
  --text-accent: var(--col-accent-plus);
  --text-accent-hover: var(--col-important-plus);
  --interactive-normal: var(--col-base);
  --interactive-hover: var(--col-muted);
  --interactive-accent-hsl: var(--col-accent);
  --interactive-accent: var(--col-accent);
  --interactive-accent-hover: var(--col-accent-plus);

  code[data-theme*=" "] {
    --shiki-dark: var(--shiki-light) !important;
    --shiki-dark-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-dark: var(--shiki-light) !important;
      --shiki-dark-bg: var(--shiki-light-bg) !important;
    }
  }
}
