body.ribbon-slideout:not(.is-mobile) .workspace-ribbon.mod-left:before {
  visibility: hidden;
}
body.ribbon-slideout:not(.is-mobile) .workspace-ribbon.workspace-ribbon {
  --ribbon-background: var(--ribbon-slideout-background);
  --titlebar-background-focused: var(--ribbon-background);
  --ribbon-background-collapsed: var(--ribbon-background);
  position: absolute;
  left: calc(-1 * var(--ribbon-width) / 4);
  opacity: 0;
  transition: var(--anim-motion-jumpy) var(--anim-duration-moderate);
  box-shadow: var(--ribbon-slideout-shadow);
}
body.ribbon-slideout:not(.is-mobile) .workspace-ribbon.workspace-ribbon:hover {
  left: 0;
  opacity: 1;
  transition: var(--anim-motion-jumpy) var(--anim-duration-moderate);
}
body.ribbon-slideout:not(.is-mobile) .sidebar-toggle-button.mod-left {
  background: var(--ribbon-background);
  --tab-container-background: var(--ribbon-background);
}
body.ribbon-slideout:not(.is-mobile).is-hidden-frameless:not(.is-fullscreen)
  .workspace-tabs.mod-top-left-space
  .workspace-tab-header-container {
  padding-left: calc(
    var(--size-4-2) + var(--frame-left-space) + var(--ribbon-width)
  );
}
body.ribbon-slideout:not(.is-mobile):not(.is-hidden-frameless.is-frameless)
  .side-dock-actions {
  margin-top: var(--header-height);
}
