:root:root {
  --file-line-width: 52vw;
  --color-base-00: hsl(205, 23%, 10%);
  --color-base-10: hsl(205, 23%, 8%);
  --color-base-25: hsl(205, 23%, 13%);
  --color-base-20: hsl(205, 20%, 9%);
  --color-base-30: hsl(197, 20%, 7%);
  --color-base-70: hsl(210, 5%, 67%);
  --background-modifier-hover: hsla(200, 70%, 45%, 0.173);
  --titlebar-background: hsl(197, 20%, 7%);
  --titlebar-background-focused: hsl(197, 20%, 7%);
  --background-modifier-border: hsl(240, 5%, 25%);
  --tab-text-color-focused-active-current: hsl(160, 84%, 49%);
  --link-color: hsl(171, 88%, 38%);
  --link-color-hover: hsl(171, 95%, 48%);
  --link-unresolved-color: hsl(171, 88%, 38%);
  --link-external-color: hsl(171, 88%, 38%);
  --link-external-color-hover: hsl(171, 95%, 48%);
  --code-normal: #7095c2;
  --bold-weight: 600;
  --bold-color: white;
  --tag-color: hsl(187, 92%, 48%);
  --tag-color-hover: hsl(187, 92%, 58%);
  --tag-background: #228ec31a;
  --tag-background-hover: #228ec333;
  --tag-border-color: #228ec326;
  --tag-border-color-hover: #228ec326;
  --tag-padding-x: 0.55em;
  --tag-padding-y: 0.25em;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 10px;
  --radius-xl: 16px;
  --inline-title-color: unset;
  --h1-color: hsl(205, 75%, 60%);
  --h2-color: #34daa5;
  --h3-color: hsl(180, 75%, 55%);
  --h4-color: #e3e363;
  --h5-color: hsl(0, 75%, 65%);
  --h6-color: hsl(313, 65%, 65%);
  --heading-formatting: unset;
  --interactive-accent: hsl(165, 65%, 25%);
  --interactive-accent-hover: hsl(165, 65%, 35%);
  --text-on-accent: rgb(250, 250, 250);
  --text-accent: hsl(160, 88%, 40%);
  --text-accent-hover: hsl(160, 88%, 55%);
  --accent-h: 160;
  --accent-s: 73%;
  --accent-l: 26%;
  --text-highlight-bg: #075dc7;
  --text-selection: hsl(205, 53%, 17%);
  --modal-border-color: unset;
  --blockquote-color: #3eb4bf;
  --blockquote-background-color: unset;
  --blockquote-border-thickness: 5px;
  --blockquote-border-color: rgb(0, 162, 255);
  --blockquote-font-style: italic;
  --search-match-color: #ffff00;
  --search-match-color-other: #ffff00;
  --nav-collapse-icon-color-collapsed: #61afef;
  --nav-collapse-icon-color: #61afef;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
