:root[saved-theme="dark"] {
  --htb-text-color: #a4b1cd;
  --background-primary: #141d2b;
  --background-secondary: #1a2331;
  --htb-lime: #9fef00;
  --htb-heading: #cad2e2;
  --htb-divider-color: #1a2332;
  --htb-border: #4a5466;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
