:root[saved-theme="dark"] {
  --color-white: var(--day3);
  --color-pink: var(--pink5);
  --color-purple: var(--indigo3);
  --color-red: var(--crimson1);
  --color-orange: var(--peach3);
  --color-yellow: var(--yellow0);
  --color-green: var(--green2);
  --color-teal: var(--teal3);
  --color-cyan: var(--moonstone4);
  --color-blue: var(--frost3);
  --color-black: var(--night3);
  --color-base-0: var(--night0);
  --color-base-1: var(--night1);
  --color-base-2: var(--night2);
  --color-base-3: var(--night3);
  --color-base-4: var(--night4);
  --color-base-5: var(--night5);
  --color-selected: var(--color-orange);
  --color-hovered: var(--color-purple);
  --color-stop: var(--color-red);
  --color-caution: var(--color-yellow);
  --color-interactable: var(--color-blue);
  --color-alternate: var(--color-pink);
  --color-content: var(--color-teal);
  --color-confirmed: var(--color-green);
  --color-text-normal: var(--teal1);
  --color-text-muted: var(--teal3);
  --color-text-faint: var(--teal5);
  --color-text-bold: var(--color-cyan);
  --color-text-italic: var(--color-green);
  --color-text-strikethrough: var(--color-red);
  --color-text-highlight: var(--color-white);
  --color-text-highlight-background: var(--color-yellow);
  --color-text-highlight-active-background: var(--color-orange);
  --color-text-title: var(--color-pink);
  --color-text-h1: var(--color-red);
  --color-text-h2: var(--color-orange);
  --color-text-h3: var(--frost0);
  --color-text-h4: var(--frost1);
  --color-text-h5: var(--frost2);
  --color-text-h6: var(--frost3);
  --color-horizontal-rule: var(--color-alternate);
  --color-list-bullets: var(--color-pink);
  --color-list-indentation-indicator: magenta;
  --color-list-indentation-indicator-hover: var(--color-pink);
  --color-checklist-empty: var(--color-stop);
  --color-checklist-empty-border: var(--color-stop);
  --color-checklist-full: var(--color-green);
  --color-checklist-full-border: var(--color-green);
  --color-tag: var(--color-yellow);
  --color-tag-hover: var(--yellow0);
  --color-code-normal: var(--color-text-muted);
  --color-code-comment: var(--color-text-faint);
  --color-code-function: var(--color-yellow);
  --color-code-important: var(--color-orange);
  --color-code-keyword: var(--color-pink);
  --color-code-property: var(--color-blue);
  --color-code-punctuation: var(--color-text-muted);
  --color-code-string: var(--color-green);
  --color-code-tag: var(--color-red);
  --color-code-value: var(--color-purple);
  --background-primary: hsl(var(--color-base-1));
  --background-primary-alt: hsl(var(--color-base-2));
  --background-secondary: hsl(var(--color-base-2));
  --background-secondary-alt: hsl(var(--color-base-3));
  --text-selection: hsl(var(--color-white));
  --tab-text-color-focused-active-current: hsl(var(--color-selected));
  --tab-text-color-active: hsl(var(--color-hovered));
  --titlebar-background: hsl(var(--color-base-3));
  --titlebar-background-focused: hsl(var(--color-base-2));

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
