:root[saved-theme="light"] {
  --color-white: var(--day2);
  --color-pink: var(--pink2);
  --color-purple: var(--indigo2);
  --color-red: var(--crimson2);
  --color-orange: var(--peach0);
  --color-yellow: var(--yellow0);
  --color-green: var(--green2);
  --color-teal: var(--teal1);
  --color-cyan: var(--moonstone2);
  --color-blue: var(--frost2);
  --color-black: var(--night2);
  --color-base-0: var(--day0);
  --color-base-1: var(--day1);
  --color-base-2: var(--day2);
  --color-base-3: var(--day3);
  --color-base-4: var(--day4);
  --color-base-5: var(--day5);
  --color-selected: var(--color-orange);
  --color-hovered: var(--color-purple);
  --color-stop: var(--color-red);
  --color-caution: var(--color-yellow);
  --color-interactable: var(--color-blue);
  --color-alternate: var(--color-pink);
  --color-content: var(--color-teal);
  --color-confirmed: var(--color-green);
  --color-text-normal: var(--night1);
  --color-text-muted: var(--night3);
  --color-text-faint: var(--night5);
  --color-text-bold: var(--color-cyan);
  --color-text-italic: var(--color-green);
  --color-text-strikethrough: var(--color-red);
  --color-text-highlight: var(--color-white);
  --color-text-highlight-background: var(--color-yellow);
  --color-text-highlight-active-background: var(--color-orange);
  --color-text-title: var(--color-cyan);
  --color-text-h1: var(--frost0);
  --color-text-h2: var(--frost1);
  --color-text-h3: var(--frost2);
  --color-text-h4: var(--frost3);
  --color-text-h5: var(--frost4);
  --color-text-h6: var(--frost5);
  --color-horizontal-rule: var(--color-alternate);
  --color-list-bullets: var(--color-pink);
  --color-list-indentation-indicator: magenta;
  --color-list-indentation-indicator-hover: var(--color-pink);
  --color-checklist-empty: var(--color-stop);
  --color-checklist-empty-border: var(--color-stop);
  --color-checklist-full: var(--color-green);
  --color-checklist-full-border: var(--color-green);
  --color-tag: var(--color-yellow);
  --color-tag-hover: var(--yellow0);
  --color-code-normal: var(--color-text-muted);
  --color-code-comment: var(--color-text-faint);
  --color-code-function: var(--color-yellow);
  --color-code-important: var(--color-orange);
  --color-code-keyword: var(--color-pink);
  --color-code-property: var(--color-blue);
  --color-code-punctuation: var(--color-text-muted);
  --color-code-string: var(--color-green);
  --color-code-tag: var(--color-red);
  --color-code-value: var(--color-purple);
  --background-primary: hsl(var(--color-base-1));
  --background-primary-alt: hsl(var(--color-base-2));
  --background-secondary: hsl(var(--color-base-2));
  --background-secondary-alt: hsl(var(--color-base-3));
  --text-selection: hsl(var(--color-yellow));
  --tab-text-color-focused-active-current: hsl(var(--color-selected));
  --tab-text-color-active: hsl(var(--color-hovered));
  --titlebar-background: hsl(var(--color-base-3));
  --titlebar-background-focused: hsl(var(--color-base-2));

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
