body.theme-dark {
  --background-code: #1111118c;
  --code-variable: #db7c84;
  --code-normal: #ebdbb2;
  --code-comment: #568060;
  --code-function: #cac685;
  --code-important: #478fee;
  --code-keyword: #478fee;
  --code-operator: #a89984;
  --code-property: #a0c7e9;
  --code-punctuation: #abb2bf;
  --code-string: #abd58e;
  --code-tag: #db7c84;
  --code-value: #abd58e;
  --code-string-2: #d6b87f;
  --code-active-line-background-color: #111111eb;
  --background-code-2: #4c4c4cb0;
  --text-color-code: #d58000;
}
