:root[saved-theme="dark"] {
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 247, 69, 69;
  --color-red: #f74545;
  --color-red-hsl: 0, 92%, 62%;
  --color-orange-rgb: 247, 138, 69;
  --color-orange: #f78a45;
  --color-orange-hsl: 23, 92%, 62%;
  --color-yellow-rgb: 247, 204, 68;
  --color-yellow: #f7cc44;
  --color-yellow-hsl: 46, 92%, 62%;
  --color-green-rgb: 51, 255, 51;
  --color-green: #95f745;
  --color-green-hsl: 120, 100%, 60%;
  --color-cyan-rgb: 69, 206, 247;
  --color-cyan: #45cef7;
  --color-cyan-hsl: 194, 92%, 62%;
  --color-blue-rgb: 90, 100, 248;
  --color-blue: #5a64f8;
  --color-blue-hsl: 216, 95%, 68%;
  --color-purple-rgb: 170, 69, 247;
  --color-purple-hsl: 274, 92%, 62%;
  --color-purple: #aa45f7;
  --color-pink-rgb: 251, 94, 216, 1;
  --color-pink: #fb5ed8;
  --color-pink-hsl: 313, 95%, 68%;
  --canvas-color: 246, 129, 135;
  --canvas-dot-pattern: var(--color-base-50);
  --color-base-00: #202020;
  --color-base-05: #333333;
  --color-base-10: #444444;
  --color-base-20: #555555;
  --color-base-25: #757575;
  --color-base-30: #555555;
  --color-base-35: #3f3f3f;
  --color-base-40: #606060;
  --color-base-50: #707070;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: #dadada;
  --shadow-s: 0px 10px 21px 13px rgba(0, 0, 0, 0.1);
  --shadow-l: rgb(0 0 0 / 20%) 0px 8px 24px;
  --shadow-lm-only: none;
  --text-on-button: var(--color-base-00);
  --background-transparent: #55555599;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
