:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 255, 94, 35;
  --color-red: #ff5e23;
  --color-red-hsl: 16, 100%, 57%;
  --color-green-rgb: 104, 156, 43;
  --color-green: #689c2b;
  --color-green-hsl: 88, 57%, 39%;
  --color-orange-rgb: 253, 145, 44;
  --color-orange: #fd912c;
  --color-orange-hsl: 29, 98%, 58%;
  --color-yellow-rgb: 252, 220, 55;
  --color-yellow: #fcdc37;
  --color-yellow-hsl: 50, 97%, 60%;
  --color-cyan-rgb: 66, 163, 173;
  --color-cyan: #42a3ad;
  --color-cyan-hsl: 186, 45%, 47%;
  --color-blue-rgb: 112, 180, 249;
  --color-blue: #70b4f9;
  --color-blue-hsl: 210, 92%, 71%;
  --color-purple-rgb: 116, 76, 180;
  --color-purple: #744cb4;
  --color-purple-hsl: 263, 41%, 50%;
  --color-pink-rgb: 251, 94, 216, 1;
  --color-pink: #f9a7e8;
  --color-pink-hsl: 313, 95%, 68%;
  --canvas-color: 20, 20, 20;
  --canvas-dot-pattern: var(--color-base-50);
  --color-base-00: #fefefe;
  --color-base-05: #fcfcfc;
  --color-base-10: #e2e2e2;
  --color-base-20: #e9e9e9;
  --color-base-25: #d3d3d3;
  --color-base-30: #d3d3d3;
  --color-base-35: #c7c7c7;
  --color-base-40: #dddddd;
  --color-base-50: #b3b3b3;
  --color-base-60: #6b6b6b;
  --color-base-70: #222222;
  --color-base-100: #000;
  --shadow-s: rgb(0 0 0 / 4%) 0px 3px 5px;
  --shadow-l: rgb(149 157 165 / 20%) 0px 8px 24px;
  --shadow-lm-only: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  --text-on-button: var(--color-base-00);
  --text-on-accent: var(--color-base-100);
  --background-scondary-alt: var(--color-base-60) !important;

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
