:root[saved-theme="light"] {
  --cm-active: #f0f09839;
  --active-bg: #edffd19e;
  --background-primary: #fefff6;
  --background-secondary: var(--background-primary);
  --primary-90: rgb(254 255 246 / 0.9);
  --blockquote-background-color: #dae6c5a4;
  --blockquote-background-hover: rgba(246, 246, 199, 0.937);
  --text-stroke-color: var(--color-base-100);
  --muted-accent-rgb: 110 102 3;
  --muted-accent: rgb(var(--muted-accent-rgb));

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
