:root[saved-theme="dark"] {
  --background-primary: #17191a;
  --background-modifier-border: rgb(0, 0, 0);
  --background-modifier-cover: rgba(5, 20, 1, 0.842);
  --background-primary-alt: rgb(5, 5, 5);
  --background-secondary: #0f5172;
  --background-secondary-alt: rgb(0, 0, 0);
  --background-accent: rgb(38, 72, 95);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.5);
  --text-accent: #28b0ff;
  --text-accent2: #00ff37;
  --text-accent-hover: #77d47c;
  --text-normal: #dcddde;
  --text-muted: #898b85;
  --text-faint: #666;
  --text-error: #ff0000;
  --text-error-hover: #990000;
  --text-matched: #bbce16;
  --text-on-accent: #dcddde;
  --text-selection: rgba(6, 66, 113, 0.99);
  --text-highlight-bg: #1c2b0b;
  --interactive-normal: #2a2a2a;
  --interactive-hover: #286c91;
  --interactive-accent: rgb(32, 171, 233);
  --interactive-accent-rgb: 32, 171, 233;
  --interactive-accent-hover: #1da3d6;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0);
  --scrollbar-thumb-bg: rgb(20, 50, 70);
  --scrollbar-active-thumb-bg: #ff3392;
  --accent-strong: #e60953;
  --accent-mild: #d39f2f;
  --bw: #ffffff;
  --border: #0c496d;
  --border-accent: #a00f3f;
  --border-muted: #272727;
  --tagsbgcolor: rgb(10, 54, 134);
  --tagspanetag: rgb(238, 54, 238);
  --graph-circle: #ff2882;
  --graph-line: #0c496d;
  --graph-bg: black;
  --graph-text: #ff3333;
  --graphtag: #0b9ba5;
  --graph-attach: #4cf15a;
  --graph-menutext: #898b85;
  --checkboxbg: -23deg;
  --opacity-translucency: 0.7;

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
