:root[saved-theme="light"] {
  --background-primary: #d1cabf;
  --background-primary-alt: #e0ded2;
  --background-secondary: #eeb157;
  --background-secondary-alt: #beb6aa;
  --background-accent: rgb(136, 43, 90);
  --background-modifier-border: rgb(75, 110, 139);
  --background-modifier-cover: rgba(163, 221, 158, 0.842);
  --background-modifier-form-field: rgb(189, 216, 218);
  --background-modifier-form-field-highlighted: rgb(182, 213, 221);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: #e68787;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #ff9494;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: #914a29;
  --text-accent2: #4d5c8b;
  --text-accent-hover: #cc0202;
  --text-normal: #2e3338;
  --text-muted: #694f3a;
  --text-faint: #9c735c;
  --text-error: #0d6f8d;
  --text-error-hover: #cb2c2;
  --text-highlight-bg: rgba(232, 255, 27, 0.76);
  --text-selection: rgba(247, 220, 162, 0.99);
  --text-on-accent: #f2f2f2;
  --text-matched: #b90303;
  --interactive-normal: #f2f3f5;
  --interactive-hover: #e9e9e9;
  --interactive-accent: rgb(226, 72, 34);
  --interactive-accent-rgb: 226, 72, 34;
  --interactive-accent-hover: #f3bf14;
  --scrollbar-active-thumb-bg: rgb(247, 214, 29);
  --scrollbar-bg: rgba(0, 0, 0, 0);
  --scrollbar-thumb-bg: #914a29;
  --scrollbar-active-thumb-bg: #ff3333;
  --accent-strong: #1a7ca3;
  --accent-mild: #912771;
  --bw: #000000;
  --border: #664424;
  --border-accent: #a00f3f;
  --border-muted: #272727;
  --tagsbgcolor: rgb(141, 81, 128);
  --tagspanetag: rgb(53, 53, 53);
  --graph-circle: #0cd2ec;
  --graph-line: #11683f;
  --graph-bg: black;
  --graph-text: #ff3333;
  --graphtag: #d8fa41;
  --graph-menutext: #898b85;
  --graph-attach: #77f581;
  --checkboxbg: 183deg;
  --opacity-translucency: 0.5;

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
