:root[saved-theme="dark"] {
  --color-00-l: 10%;
  --color-05-l: 11.4%;
  --color-10-l: 13.6%;
  --color-15-l: 16.3%;
  --color-20-l: 19.5%;
  --color-25-l: 22.9%;
  --color-30-l: 26.7%;
  --color-35-l: 30.7%;
  --color-40-l: 34.9%;
  --color-50-l: 44.1%;
  --color-60-l: 54%;
  --color-70-l: 64.6%;
  --color-80-l: 75.9%;
  --color-90-l: 87.7%;
  --color-100-l: 100%;
  --color-base-00-transp: #1e1e1e80;
  --color-base-10-transp: #24242480;
  --color-base-20-transp: #26262680;
  --color-base-30-transp: #36363680;
  --accent-s-alt: max(calc(var(--accent-s) * 0.75), 75%);
  --accent-l-alt: max(var(--accent-l), 75%);
  --min-highlight: 35%;
  --max-highlight: 45%;

  --shiki-light: var(--shiki-dark) !important;
  --shiki-light-bg: var(--shiki-light-bg) !important;
}
