:root {
  --800: #08090e;
  --800-RGB: 8, 9, 14;
  --700: #17181e;
  --700-RGB: 23, 24, 30;
  --600: #292a2f;
  --600-RGB: 41, 42, 47;
  --500: #4f5053;
  --500-RGB: 79, 80, 83;
  --400: #68696c;
  --400-RGB: 104, 105, 108;
  --300: #818184;
  --300-RGB: 129, 129, 132;
  --200: #e1e2e9;
  --200-RGB: 225, 226, 233;
  --100: #f1f2f5;
  --100-RGB: 241, 242, 245;
  --000: #fbfcfc;
  --000-RGB: 251, 252, 252;
  --C001: #f18196;
  --C001-RGB: 241, 129, 150;
  --C002: #f19a81;
  --C002-RGB: 241, 154, 129;
  --C003: #ebcb8b;
  --C003-RGB: 241, 201, 129;
  --C004: #e3eb8b;
  --C004-RGB: 227, 235, 139;
  --C005: #bcf181;
  --C005-RGB: 188, 241, 129;
  --C006: #8df181;
  --C006-RGB: 141, 241, 129;
  --C007: #81f1a4;
  --C007-RGB: 129, 241, 164;
  --C008: #8be3eb;
  --C008-RGB: 139, 227, 235;
  --C009: #ab8beb;
  --C009-RGB: 171, 139, 235;
  --C010: #ee81f1;
  --C010-RGB: 238, 129, 241;
  --C011: #f181c5;
  --C011-RGB: 241, 129, 197;
}

body {
  --icon-color: var(--800);
  --colorful: var(--C000-RGB);
  --text-color: var(--000) !important;
  --icon-color: var(--000);
  --colorful: var(--C001-RGB);
  --colorful: var(--C002-RGB);
  --colorful: var(--C003-RGB);
  --colorful: var(--C004-RGB);
  --colorful: var(--C005-RGB);
  --colorful: var(--C006-RGB);
  --colorful: var(--C007-RGB);
  --colorful: var(--C008-RGB);
  --colorful: var(--C009-RGB);
  --colorful: var(--C010-RGB);
  --colorful: var(--C011-RGB);
}
