.fas-chocolate {
  --color-space: lab;
  --color-base-00: #231e1a;
  --color-base-100: #d7c0a3;
  --middle-color: hsl(32, 70%, 60%);
  --middle-color-complement: #5294e0;
  --color-gray: #b5b5b5;
  --color-gray-rgb: 181, 181, 181;
  --color-brown: #be8449;
  --color-brown-rgb: 190, 132, 73;
  --color-red: #f26a58;
  --color-red-rgb: 242, 106, 88;
  --color-orange: #f0a03b;
  --color-orange-rgb: 240, 160, 59;
  --color-yellow: #fff000;
  --color-yellow-rgb: 255, 240, 0;
  --color-green: #75d054;
  --color-green-rgb: 117, 208, 84;
  --color-cyan: #8cd6c5;
  --color-cyan-rgb: 140, 214, 197;
  --color-blue: #7b93cb;
  --color-blue-rgb: 123, 147, 203;
  --color-purple: #cc8bd3;
  --color-purple-rgb: 204, 139, 211;
  --color-pink: #f8b6d8;
  --color-pink-rgb: 248, 182, 216;
}

.fas-chocolate {
  --color-rainbow-1: #ffa897;
  --color-rainbow-1-rgb: 255, 168, 151;
  --color-rainbow-2: #ffcc8e;
  --color-rainbow-2-rgb: 255, 204, 142;
  --color-rainbow-3: #fdf0a0;
  --color-rainbow-3-rgb: 253, 240, 160;
  --color-rainbow-4: #cff0a4;
  --color-rainbow-4-rgb: 207, 240, 164;
  --color-rainbow-5: #a2dcde;
  --color-rainbow-5-rgb: 162, 220, 222;
  --color-rainbow-6: #abbbde;
  --color-rainbow-6-rgb: 171, 187, 222;
  --color-rainbow-7: #c6adde;
  --color-rainbow-7-rgb: 198, 173, 222;
  --color-rainbow-8: #e2b6de;
  --color-rainbow-8-rgb: 226, 182, 222;
  --color-rainbow-9: #ffbfde;
  --color-rainbow-9-rgb: 255, 191, 222;
  --color-rainbow-10: #ffa4bf;
  --color-rainbow-10-rgb: 255, 164, 191;
}
