body:not(.is-mobile):is(:not(.css-settings-manager), ) .titlebar {
  opacity: 0;
  transition: opacity 0.1s;
}
body:not(.is-mobile).is-hidden-frameless:is(:not(.css-settings-manager), ):not(
    .toggle-topright-opacity
  )
  .titlebar-button-container:is(.mod-right, .mod-left) {
  top: calc(1px + var(--hovering-trigger-size) - var(--header-height));
  background: var(--background-secondary);
  border: var(--border);
  border-top: none;
  border-right: none;
  border-bottom-left-radius: var(--button-radius);
  border-bottom-right-radius: var(--button-radius);
  box-shadow: var(--panel-shadow);
  z-index: 1;
  -webkit-app-region: no-drag;
  transition:
    top 0.2s,
    opacity 0.1s;
  opacity: 0;
}
body:is(:not(.css-settings-manager), ):not(.toggle-topright-opacity)
  .workspace
  .workspace-tabs.mod-top:is(.mod-top-right-space, .mod-top-left-space)
  .workspace-tab-header-container:after {
  height: var(--hovering-trigger-size);
}
body:is(:not(.css-settings-manager), ):not(.toggle-topright-opacity)
  .titlebar:hover
  ~ .app-container
  .workspace
  .workspace-tabs.mod-top:is(.mod-top-right-space, .mod-top-left-space)
  .workspace-tab-header-container:after {
  height: var(--header-height);
}
body:not(.mod-macos):not(.is-mobile).is-hidden-frameless:not(.is-fullscreen):is(
    :not(.css-settings-manager),

  ):not(.toggle-topright-opacity)
  .workspace-tabs.mod-top.mod-top-right-space
  .workspace-tab-header-container {
  padding-right: 0;
}
body:not(.mod-macos):not(.is-mobile).is-hidden-frameless:not(.is-fullscreen):is(
    :not(.css-settings-manager),

  )
  .workspace-tabs.mod-top.mod-top-left-space
  .workspace-tab-header-container {
  padding-left: 0;
}
