:root[saved-theme="light"] {
  --syntax-tag: 85 180 212;
  --syntax-func: 242 174 73;
  --syntax-entity: 57 158 230;
  --syntax-string: 134 179 0;
  --syntax-regexp: 76 191 153;
  --syntax-markup: 240 113 113;
  --syntax-keyword: 250 141 62;
  --syntax-special: 230 186 126;
  --syntax-comment: 120 123 128 / 0.6;
  --syntax-constant: 163 122 204;
  --syntax-operator: 237 147 102;
  --vcs-added: 108 191 67;
  --vcs-modified: 71 138 204;
  --vcs-removed: 255 115 131;
  --editor-fg: 92 97 102;
  --editor-bg: 252 252 252;
  --editor-line: 138 145 153 / 0.1;
  --editor-selection-active: 3 91 214 / 0.15;
  --editor-selection-inactive: 3 91 214 / 0.07;
  --editor-match-active: 159 64 255 / 0.17;
  --editor-match-inactive: 159 64 255 / 0.8;
  --editor-gutter-active: 138 145 153 / 0.8;
  --editor-gutter-normal: 138 145 153 / 0.4;
  --editor-guide-active: 138 145 153 / 0.35;
  --editor-guide-normal: 138 145 153 / 0.18;
  --ui-fg: 138 145 153;
  --ui-bg: 248 249 250;
  --ui-line: 107 125 143 / 0.12;
  --ui-selection-active: 86 114 143 / 0.12;
  --ui-selection-normal: 107 125 143 / 0.12;
  --ui-panel-bg: 243 244 245;
  --ui-panel-shadow: 0 0 0 / 0.15;
  --common-accent: 255 170 51;
  --common-error: 230 80 80;
  --accent-h: 35;
  --accent-s: 100%;
  --accent-l: 60%;

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
