:root:root {
  --color-base-00: #0f111a;
  --color-base-05: red;
  --color-base-10: #0f111a;
  --color-base-20: #0f111a;
  --color-base-25: #4b4f62;
  --color-base-30: #0f111a;
  --color-base-35: #393e50;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #bababa;
  --color-base-100: #a6accd;
  --table-border-color: #a6accd;
  --interactive-normal: #393e50;
  --slider-track-background: #393e50;
  --icon-color: #4b4f62;
  --icon-color-hover: #a6accd;
  --icon-color-focused: #a6accd;
  --code-background: none;
  --nav-item-color: #a6accd;
  --nav-item-color-active: #2979ff;
  --nav-item-color-hover: white;
  --nav-item-background-active: none;
  --nav-item-background-hover: none;
}
