:root[saved-theme="dark"] {
  --h1-color: var(--color-bright-gray);
  --h2-color: var(--color-bright-gray);
  --h3-color: var(--color-bright-gray);
  --h4-color: var(--color-bright-gray);
  --h5-color: var(--color-bright-gray);
  --h6-color: var(--color-bright-gray);
  --text-highlight-bg: var(--color-light-carmine-pink);
  --text-selection: var(--color-light-carmine-pink);
  --table-border-color: #ffffff;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
