:root[saved-theme="light"] {
  --h1-color: var(--color-tulip);
  --h2-color: var(--color-tulip);
  --h3-color: var(--color-tulip);
  --h4-color: var(--color-tulip);
  --h5-color: var(--color-tulip);
  --h6-color: var(--color-tulip);
  --background-primary: var(--color-timberwolf);
  --background-secondary: var(--color-bright-gray);
  --text-highlight-bg: var(--color-tulip);
  --text-selection: var(--color-tulip);
  --table-border-color: #000000;

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
