:root,
body {
  --italic-color: rgb(var(--anp-italic-color, var(--ctp-green)));
  --bold-color: rgb(var(--anp-bold-color, var(--ctp-red)));
  --text-highlight-bg: rgba(var(--anp-highlight-color, var(--ctp-yellow)), 0.2);
}
