:root:root {
  --color-base-00: #0c0c11ee;
  --color-base-30: #191926;
  --color-base-40: #151520;
  --background-primary: transparent;
  --background-secondary: transparent;
  --code-background: #22223333;
  --modal-background: var(--color-base-00);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
