.callout[data-callout='abstract'],
.callout[data-callout='note'],
.callout[data-callout='seealso'],
.callout[data-callout='summary'],
.callout[data-callout='tldr'] {
  --callout-color: var(--blue);
}
.callout[data-callout='hint'],
.callout[data-callout='important'],
.callout[data-callout='info'],
.callout[data-callout='tip'],
.callout[data-callout='todo'] {
  --callout-color: var(--sea);
}
.callout[data-callout='check'],
.callout[data-callout='done'],
.callout[data-callout='faq'],
.callout[data-callout='help'],
.callout[data-callout='question'],
.callout[data-callout='success'] {
  --callout-color: var(--green);
}
.callout[data-callout='attention'],
.callout[data-callout='caution'],
.callout[data-callout='warning'] {
  --callout-color: var(--yellow);
}
.callout[data-callout='bug'],
.callout[data-callout='danger'],
.callout[data-callout='error'] {
  --callout-color: var(--red);
}
.callout[data-callout='example'] {
  --callout-color: var(--violet);
}
.callout[data-callout='cite'],
.callout[data-callout='quote'] {
  --callout-color: var(--surface1);
}
.shiba-accent-style .callout[data-callout='note'] {
  --callout-color: var(--accent);
}
