:root:root {
  --text: #dfece8;
  --background-primary: #050c0a;
  --primary: #a5d5c5;
  --secondary: #30735d;
  --accent: #4cbd97;
  --highlight-hue: 60;
  --italic-color: var(--accent);
  --bold-color: var(--accent);
  --h1-color: var(--accent);
  --h2-color: var(--accent);
  --h3-color: var(--accent);
  --h4-color: var(--accent);
  --h5-color: var(--accent);
  --h6-color: var(--accent);
}
