body :is(.markdown-preview-view, .markdown-rendered) h6,
body
  .markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-6.cm-line {
  border-bottom: var(--h6-underline-width, 1px) var(--h6-underline-style, solid)
    var(--h6-underline-color, var(--h6-color));
}
body .markdown-source-view.mod-cm6 .HyperMD-header-6 + .cm-line {
  padding-top: 0.5em !important;
}
body .cm-s-obsidian .cm-line.HyperMD-header-6 {
  padding-top: 0.5rem;
}
