.ulu-blue-l.theme-light {
  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --canvas-color: 10, 10, 10;
  --color-base-00: #b7cddc;
  /* background-primary */
  --color-base-05: #fefefe;
  /* background-secondary-alt in light mode, for some reason */
  --color-base-10: #c0d8e8;
  /* background-primary-alt */
  --color-base-20: #b3c6d6;
  /* background-secondary */
  --color-base-25: #c7d5e1;
  /* idk lol */
  --color-base-30: #8aa3b1;
  /* background-modifier-border */
  --color-base-35: #3a4c5a;
  /* background-modifier-border-hover */
  --color-base-40: var(--color-base-30);
  /* background-modifier-border-focus */
  --color-base-50: #3a4d5a;
  /* text-faint */
  --color-base-60: #34414e;
  /* also no clue */
  --color-base-70: #1a1f23;
  /* text-muted */
  --color-base-100: #090a0b;
  /* text-normal */
  --gradient-bg-primary: linear-gradient(
    135deg,
    #c0d8e8 1.62%,
    #b7cddc 50.72%
  ) !important;
  --gradient-bg-secondary: linear-gradient(
    135deg,
    #c7d5e1 1.62%,
    #b3c6d6 50.72%
  ) !important;
  --background-modifier-border-alt: #a6d6f2 !important;
}
.ulu-blue {
  --color-accent: hsl(var(--color-blue-hsl));
  --color-accent-rgb: var(--color-blue-rgb);
  --color-accent-hsl: var(--color-blue-hsl);
  --color-accent-1: var(--color-pink);
  --color-accent-1-rgb: var(--color-pink-rgb);
}
.ulu-accent-bg-l.ulu-blue {
  --color-base-00: #fbfcfc;
  --color-base-20: #f1f5f5;
  --gradient-bg-primary: linear-gradient(
    135deg,
    #fff 20.62%,
    #fbfcfc 90.72%
  ) !important;
  --gradient-bg-secondary: linear-gradient(
    135deg,
    #f8f6f6 20.62%,
    #f1f5f5 90.72%
  ) !important;
  --background-modifier-border-alt: #fff !important;
}
.ulu-accent-bg-lowcon-l.ulu-blue {
  --color-base-00: #f1f5f5;
  --color-base-20: #f1f5f5;
  --gradient-bg-primary: linear-gradient(
    135deg,
    #f1f5f5 20.62%,
    #f1f5f5 90.72%
  ) !important;
  --gradient-bg-secondary: linear-gradient(
    135deg,
    #f1f5f5 20.62%,
    #f1f5f5 90.72%
  ) !important;
  --background-modifier-border-alt: #fff !important;
}
