.outline-style-headers .is-live-preview .HyperMD-header-1 .cm-header-1,
.outline-style-headers .markdown-rendered h1,
.outline-style-headers .is-live-preview .HyperMD-header-2 .cm-header-2,
.outline-style-headers .markdown-rendered h2,
.outline-style-headers .is-live-preview .HyperMD-header-3 .cm-header-3,
.outline-style-headers .markdown-rendered h3,
.outline-style-headers .is-live-preview .HyperMD-header-4 .cm-header-4,
.outline-style-headers .markdown-rendered h4,
.outline-style-headers .is-live-preview .HyperMD-header-5 .cm-header-5,
.outline-style-headers .markdown-rendered h5,
.outline-style-headers .is-live-preview .HyperMD-header-6 .cm-header-6,
.outline-style-headers .markdown-rendered h6 {
  position: relative;
  padding: 0;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  text-align: center;
  padding: 5px 0;
}

.outline-style-headers .is-live-preview .HyperMD-header-1 .cm-header-1,
.outline-style-headers .markdown-rendered h1 {
  position: relative !important;
  background-color: rgba(var(--h1-new-color), 0.1);
  padding: 10px 20px;
  border: 2px solid rgba(var(--h1-new-color), 0.1);
  box-shadow: 0 0 0 5px inset
    var(--glass-background-color-settings, var(--s-bg-primary-color));
}

.outline-style-headers .is-live-preview .HyperMD-header-1,
.outline-style-headers .markdown-rendered h1 {
  padding: 14px 0px;
}

.outline-style-headers .HyperMD-header.HyperMD-header-1.cm-line[dir="rtl"] {
  padding: 14px 0px;
}

.outline-style-headers .is-live-preview .HyperMD-header-2 .cm-header-2,
.outline-style-headers .markdown-rendered h2 {
  position: relative !important;
  background-color: rgba(var(--h2-new-color), 0.1);
  padding: 8px 18px;
  border: 2px solid rgba(var(--h2-new-color), 0.1);
  box-shadow: 0 0 0 4px inset
    var(--glass-background-color-settings, var(--s-bg-primary-color));
}

.outline-style-headers .is-live-preview .HyperMD-header-2,
.outline-style-headers .markdown-rendered h2 {
  padding: 11px 0px;
}

.outline-style-headers .HyperMD-header.HyperMD-header-2.cm-line[dir="rtl"] {
  padding: 11px 0px;
}

.outline-style-headers .is-live-preview .HyperMD-header-3 .cm-header-3,
.outline-style-headers .markdown-rendered h3 {
  position: relative !important;
  background-color: rgba(var(--h3-new-color), 0.1);
  padding: 6px 16px;
  border: 2px solid rgba(var(--h3-new-color), 0.1);
  box-shadow: 0 0 0 3px inset
    var(--glass-background-color-settings, var(--s-bg-primary-color));
}

.outline-style-headers .is-live-preview .HyperMD-header-3,
.outline-style-headers .markdown-rendered h3 {
  padding: 8px 0px;
}

.outline-style-headers .HyperMD-header.HyperMD-header-3.cm-line[dir="rtl"] {
  padding: 8px 0px;
}

.outline-style-headers .is-live-preview .HyperMD-header-4 .cm-header-4,
.outline-style-headers .markdown-rendered h4 {
  position: relative !important;
  background-color: rgba(var(--h4-new-color), 0.1);
  padding: 5px 14px;
  border: 2px solid rgba(var(--h4-new-color), 0.1);
  box-shadow: 0 0 0 2px inset
    var(--glass-background-color-settings, var(--s-bg-primary-color));
}

.outline-style-headers .is-live-preview .HyperMD-header-4,
.outline-style-headers .markdown-rendered h4 {
  padding: 6px 0px;
}

.outline-style-headers .HyperMD-header.HyperMD-header-4.cm-line[dir="rtl"] {
  padding: 6px 0px;
}

.outline-style-headers .is-live-preview .HyperMD-header-5 .cm-header-5,
.outline-style-headers .markdown-rendered h5 {
  position: relative !important;
  background-color: rgba(var(--h5-new-color), 0.1);
  padding: 4px 12px;
  border: 2px solid rgba(var(--h5-new-color), 0.1);
  box-shadow: 0 0 0 1px inset
    var(--glass-background-color-settings, var(--s-bg-primary-color));
}

.outline-style-headers .is-live-preview .HyperMD-header-5,
.outline-style-headers .markdown-rendered h5 {
  padding: 5px 0px;
}

.outline-style-headers .HyperMD-header.HyperMD-header-5.cm-line[dir="rtl"] {
  padding: 5px 0px;
}

.outline-style-headers .is-live-preview .HyperMD-header-6 .cm-header-6,
.outline-style-headers .markdown-rendered h6 {
  position: relative !important;
  background-color: rgba(var(--h6-new-color), 0.1);
  padding: 3px 10px;
  border: 2px solid rgba(var(--h6-new-color), 0.1);
  box-shadow: 0 0 0 1px inset
    var(--glass-background-color-settings, var(--s-bg-primary-color));
}

.outline-style-headers .is-live-preview .HyperMD-header-6,
.outline-style-headers .markdown-rendered h6 {
  padding: 3px 0px;
}

.outline-style-headers .HyperMD-header.HyperMD-header-6.cm-line[dir="rtl"] {
  padding: 3px 0px;
}
