:root[saved-theme="dark"] {
  --background-primary: #212121;
  --background-modifier-border: #303030;
  --background-primary-alt: #171717;
  --background-secondary: #212121;
  --background-secondary-alt: #000000;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.85);
  --background-nav-alt: rgb(58, 62, 63);
  --background-nav-file-tag: rgb(116, 190, 247);
  --background-nav-selected: #3e93d8;
  --background-nav: rgb(41, 44, 46);
  --text-accent: #3e93d8;
  --text-accent-hover: #2b60af;
  --text-normal: #dcddde;
  --text-normal-original: #dcddde;
  --text-muted: #999;
  --text-faint: #666;
  --text-error: #ff3333;
  --text-error-hover: #990000;
  --text-matched: #0cf32b;
  --text-on-accent: #dcddde;
  --text-selection: rgba(6, 66, 113, 0.99);
  --text-highlight-bg: rgba(26, 73, 100, 0.66);
  --text-nav-selected: rgb(255, 255, 255);
  --text-nav: rgb(190, 190, 190);
  --interactive-normal: #2a2a2a;
  --interactive-hover: #303030;
  --interactive-accent: rgb(32, 171, 233);
  --interactive-accent-rgb: 32, 171, 233;
  --interactive-accent-hover: #1da3d6;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0);
  --scrollbar-thumb-bg: rgba(81, 144, 175, 0.36);
  --accent-strong: #3e93d8;
  --accent-mild: #3e93d8;
  --bw: #ffffff;
  --graph-circle: #fcf601;
  --graph-line: #26798c;
  --graph-bg: rgb(22, 22, 22);
  --graph-text: #cccccc;
  --graphtag: #5dbcd2;
  --graph-attach: #d669bc;
  --graph-unresolved: #9e8aff;
  --checklist-done-decoration: none;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
