:root,
body {
  --line-height-normal: 2.15;
  --line-height-tight: 1.6;
}
.markdown-rendered h1,
.HyperMD-header-1,
.markdown-rendered h2,
.HyperMD-header-2,
.markdown-rendered h3,
.HyperMD-header-3,
.markdown-rendered h4,
.HyperMD-header-4,
.markdown-rendered h5,
.HyperMD-header-5,
.markdown-rendered h6,
.HyperMD-header-6 {
  margin-top: 2.2em;
}
.markdown-preview-view br,
.markdown-preview-view br {
  content: "";
  display: block;
  margin-top: 0.5em !important;
}
