:root:root {
  --background-primary: #2f3136;
  --background-primary-alt: #36393f;
  --background-secondary: #202225;
  --background-secondary-alt: #0c1018d1;
  --text-normal: #bbc0c5;
  --text-faint: #a09b80;
  --text-title-h1: #a79645;
  --text-title-h2: #939bd6;
  --text-title-h3: #ba6ea0;
  --text-title-h4: #b78b60;
  --text-title-h5: #859679;
  --text-link: #59a2c5;
  --text-a: #59a2c5;
  --text-a-hover: #b3a14b;
  --text-mark: #d79921;
  --pre-code: #272524d9;
  --text-highlight-bg: rgba(255, 255, 0, 0.2);
  --interactive-accent: #92a1a1;
  --interactive-before: #5e6565;
  --background-modifier-border: #92a1a17a;
  --blockquote-border: rgba(77, 60, 166, 0.6);
  --text-accent: #ff9640ba;
  --interactive-accent-rgb: #fe8019;
  --font-family-editor: Avenir;
  --font-family-preview: Avenir;

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
