.workspace-tab-header.is-active.mod-active .workspace-tab-header-inner,
.workspace-tab-header.is-active.mod-active
  .workspace-tab-header-inner-close-button,
.workspace-tab-header.is-active.mod-active .workspace-tab-header-status-icon {
  --tab-text-color-focused-active-current: var(--OT-color-on-accent-2);
  color: var(--OT-color-on-accent-2);
  background-color: var(--color-accent-2);
}
