body.titlebar-vintage-style .titlebar .mod-close {
  background-color: #db9452;
}
body.titlebar-vintage-style .titlebar .mod-maximize {
  background-color: #e9d78f;
}
body.titlebar-vintage-style .titlebar .mod-minimize {
  background-color: #72b998;
}
