-toggle.sky {
  --background-default: #5a6f87;
  --background-primary: #495b6e;
  --card-bg: #495b6e;
  --color-panel: #5a6f87;
  --text-color: #0c0c0c;
  --background-primary-alt: var(--background-primary);
  --background-secondary: var(--background-primary);
  --background-secondary-alt: var(--background-primary);
  --background-modifier-border: var(--card-border-color);
  --blockquote-radius: 8px;
  --blockquote-bg: var(--background-default);
  --blockquote-border-color: #080a0c;
  --citation-bg: var(--color-accent);
  --graph-bg: var(--background-default);
  --graph-line-color: #080a0c2c;
  --tab-background-active: rgba(255, 255, 255, 0.1);
  --caret-color: var(--text-color);
  --card-border-color: #080a0c84;
  --table-header-background: var(--color-accent);
  --custom-color-accent-light: #415262;
  --icon-color: var(--card-border-color);
}
