/* latin-ext */
@font-face {
  font-family: "Special Elite";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/specialelite/v19/XLYgIZbkc4JPUL5CVArUVL0ntn4OSFNuQsI3GA.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Special Elite";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/specialelite/v19/XLYgIZbkc4JPUL5CVArUVL0ntnAOSFNuQsI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body .markdown-rendered a.external-link {
  background-color: rgba(0, 0, 0, 0);
  color: light-dark(rgb(138, 92, 245), rgb(166, 138, 249));
  cursor: pointer;
  filter: none;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  outline: inherit;
  text-decoration: underline solid rgb(166, 138, 249);
  text-decoration-color: light-dark(rgb(138, 92, 245), rgb(166, 138, 249));
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: inherit;
  transition: inherit;
  user-select: none;
}
body .markdown-rendered a.internal-link {
  background-color: rgba(0, 0, 0, 0);
  color: light-dark(rgb(138, 92, 245), rgb(166, 138, 249));
  cursor: pointer;
  filter: none;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  outline: inherit;
  text-decoration: underline solid rgb(166, 138, 249);
  text-decoration-color: light-dark(rgb(138, 92, 245), rgb(166, 138, 249));
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: inherit;
  transition: inherit;
  user-select: none;
}
body .markdown-rendered a.internal-link.is-unresolved {
  background-color: rgba(0, 0, 0, 0);
  color: light-dark(rgb(138, 92, 245), rgb(166, 138, 249));
  cursor: pointer;
  filter: none;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  outline: inherit;
  text-decoration: underline solid rgb(166, 138, 249);
  text-decoration-color: light-dark(rgb(138, 92, 245), rgb(166, 138, 249));
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: inherit;
  transition: inherit;
  user-select: none;
}
body .markdown-rendered p {
  background-color: rgba(0, 0, 0, 0);
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  cursor: auto;
  filter: none;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  outline: inherit;
  text-decoration: none solid rgb(218, 218, 218);
  text-decoration-color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: inherit;
  transition: inherit;
  user-select: none;
}
body strong {
  background-color: rgba(0, 0, 0, 0);
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  cursor: auto;
  filter: none;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 600;
  outline: inherit;
  text-decoration: none solid rgb(218, 218, 218);
  text-decoration-color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: inherit;
  transition: inherit;
  user-select: none;
}
body b {
  background-color: rgba(0, 0, 0, 0);
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  cursor: auto;
  filter: none;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 600;
  outline: inherit;
  text-decoration: none solid rgb(218, 218, 218);
  text-decoration-color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: inherit;
  transition: inherit;
  user-select: none;
}
body em {
  background-color: rgba(0, 0, 0, 0);
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  cursor: auto;
  filter: none;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  outline: inherit;
  text-decoration: none solid rgb(218, 218, 218);
  text-decoration-color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: inherit;
  transition: inherit;
  user-select: none;
}
body i {
  background-color: rgba(0, 0, 0, 0);
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  cursor: auto;
  filter: none;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  outline: inherit;
  text-decoration: none solid rgb(218, 218, 218);
  text-decoration-color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: inherit;
  transition: inherit;
  user-select: none;
}
body .markdown-rendered mark {
  background-color: rgb(255, 255, 0);
  color: rgb(0, 0, 0);
  cursor: auto;
  filter: none;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  outline: inherit;
  text-decoration: none solid rgb(0, 0, 0);
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: inherit;
  transition: inherit;
  user-select: none;
}
body del {
  background-color: rgba(0, 0, 0, 0);
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  cursor: auto;
  filter: none;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  outline: inherit;
  text-decoration: line-through solid rgb(218, 218, 218);
  text-decoration-color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-thickness: inherit;
  transition: inherit;
  user-select: none;
}
body .suggestion-item.is-selected {
  background-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
}
body div.suggestion-item {
  background-color: rgba(0, 0, 0, 0);
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
}
body .markdown-rendered hr {
  border: 0px light-dark(rgb(224, 224, 224), rgb(54, 54, 54));
  border-top: 2px solid light-dark(rgb(224, 224, 224), rgb(54, 54, 54));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  box-shadow: none;
  margin: 32px 0px;
  margin-block-end: 32px;
  margin-block-start: 32px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}
body div.multi-select-pill {
  align-items: normal;
  background-color: rgba(0, 0, 0, 0);
  display: block;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  margin-inline-start: 0px;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body div.multi-select-pill > div.multi-select-pill-content {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
}
body .markdown-rendered ul > li {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  text-align: left;
}
body .markdown-rendered ul > li::marker {
  background-color: rgba(0, 0, 0, 0);
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  content: normal;
  pointer-events: auto;
  transform: none;
  transition: inherit;
}
body .markdown-rendered ol > li {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  text-align: left;
}
body .markdown-rendered ol > li::marker {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
}
body .markdown-rendered code {
  background-color: rgba(0, 0, 0, 0);
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  font-family: monospace;
  padding: 0px;
}
body .markdown-rendered pre > code {
  background-color: rgba(0, 0, 0, 0);
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  overflow-x: visible;
  padding: 0px;
  white-space-collapse: preserve;
  text-wrap-mode: nowrap;
}
body :not(pre) > code[class*=language-], body pre[class*=language-] {
  background-color: rgba(0, 0, 0, 0);
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  overflow-x: visible;
  padding: 0px;
  white-space-collapse: preserve;
  text-wrap-mode: nowrap;
}
body ul.contains-task-list > li.task-list-item > .task-list-item-checkbox {
  appearance: auto;
  border: 2px inset light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  padding: 1px 2px;
  margin: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  width: auto;
  transition: inherit;
  position: static;
  top: auto;
}
body ul.contains-task-list > li.task-list-item {
  list-style: inherit;
  text-align: left;
  display: list-item;
}
body ul.contains-task-list > li.task-list-item > input[type=checkbox]:checked {
  content: normal;
  top: auto;
  inset-inline-start: auto;
  position: static;
  width: auto;
  display: list-item;
  background-color: rgba(0, 0, 0, 0);
  -webkit-mask-position: inherit;
  -webkit-mask-size: inherit;
  -webkit-mask-repeat: inherit;
  -webkit-mask-image: inherit;
}
body ul > li.task-list-item[data-task=x] {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  text-decoration: none solid rgb(218, 218, 218);
  text-decoration-color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
}
body .markdown-rendered blockquote {
  background-color: rgba(0, 0, 0, 0);
  border-inline-start: inherit;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-style: normal;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-inline-start: 0px;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
body .footnote-backref {
  color: light-dark(rgb(138, 92, 245), rgb(166, 138, 249));
  text-decoration: underline solid rgb(166, 138, 249);
}
body .site-body-left-column input.search-bar {
  background-color: light-dark(rgb(255, 255, 255), rgb(18, 18, 18));
  border: 2px inset light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
  font-family: Arial;
}
body .search-results {
  background-color: rgba(0, 0, 0, 0);
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  box-shadow: none;
}
body .search-results > * {
  background-color: rgba(0, 0, 0, 0);
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  cursor: auto;
  filter: none;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  outline: inherit;
  text-decoration: none solid rgb(218, 218, 218);
  text-decoration-color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: inherit;
  transition: inherit;
  user-select: none;
}
body div.search-results {
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .search-results .suggestion-item {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
}
body div.search-results .suggestion-item {
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .search-results .suggestion-item.is-selected {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
}
body div.search-results .suggestion-item.is-selected {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
}
body .published-container .markdown-rendered h1 {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  text-shadow: none;
}
body .published-container .markdown-rendered h2 {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  text-shadow: none;
}
body .published-container .markdown-rendered h3 {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  text-shadow: none;
}
body .published-container .markdown-rendered h4 {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  text-shadow: none;
}
body .published-container .markdown-rendered h5 {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  text-shadow: none;
}
body .published-container .markdown-rendered h6 {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  text-shadow: none;
}
body .outline-view-outer .outline-view .tree-item > .tree-item-self {
  font-weight: 400;
}
body .outline-view-outer .outline-view .tree-item > .tree-item-children {
  margin-inline-start: 0px;
  padding-inline-start: 0px;
  border-inline-start: inherit;
}
body .markdown-preview-sizer {
  background-color: rgba(0, 0, 0, 0);
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  box-shadow: none;
}
body .callout[data-callout=note] {
  --callout-color: inherit;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  mix-blend-mode: normal;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
}
body .callout[data-callout=note] > .callout-title {
  gap: inherit;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  padding: 0px;
}
body .callout[data-callout=note] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .callout > .callout-title > .callout-title-inner {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  font-weight: 400;
}
body .callout > .callout-content {
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
}
body .callout[data-callout=abstract] {
  --callout-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  mix-blend-mode: normal;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .callout[data-callout=abstract] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .callout[data-callout=info] {
  --callout-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  mix-blend-mode: normal;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .callout[data-callout=info] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .callout[data-callout=todo] {
  --callout-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  mix-blend-mode: normal;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .callout[data-callout=todo] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .callout[data-callout=tip] {
  --callout-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  mix-blend-mode: normal;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .callout[data-callout=tip] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .callout[data-callout=success] {
  --callout-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  mix-blend-mode: normal;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .callout[data-callout=success] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .callout[data-callout=question] {
  --callout-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  mix-blend-mode: normal;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .callout[data-callout=question] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .callout[data-callout=warning] {
  --callout-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  mix-blend-mode: normal;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .callout[data-callout=warning] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .callout[data-callout=danger] {
  --callout-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  mix-blend-mode: normal;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .callout[data-callout=danger] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .callout[data-callout=failure] {
  --callout-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  mix-blend-mode: normal;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .callout[data-callout=failure] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .callout[data-callout=bug] {
  --callout-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  mix-blend-mode: normal;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .callout[data-callout=bug] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .callout[data-callout=example] {
  --callout-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  mix-blend-mode: normal;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .callout[data-callout=example] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .callout[data-callout=quote] {
  --callout-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  mix-blend-mode: normal;
  border: 0px light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}
body .callout[data-callout=quote] > .callout-title > .callout-icon > svg.svg-icon {
  fill: rgb(0, 0, 0);
  stroke: none;
}
body .math-block > mjx-container.MathJax {
  display: inline;
  text-align: start;
  white-space-collapse: collapse;
  text-wrap-mode: wrap;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
body div.math-block > mjx-container.MathJax {
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
body .math-inline > mjx-container.MathJax > mjx-math {
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
body .nav-view-outer .tree-item-self a {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  cursor: auto;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  text-decoration: none solid rgb(218, 218, 218);
}
body .nav-view-outer .tree-item-self.mod-active {
  background-color: rgba(0, 0, 0, 0);
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  cursor: auto;
}
body .nav-view-outer .nav-view > .tree-item.is-collapsed > .tree-item-children > .tree-item > .tree-item-self {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  cursor: auto;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  text-decoration: none solid rgb(218, 218, 218);
}
body .nav-view-outer .nav-view > .tree-item > .tree-item-children > .tree-item > .tree-item-self {
  color: light-dark(rgb(34, 34, 34), rgb(218, 218, 218));
  cursor: auto;
  font-family: ui-sans-serif, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  text-decoration: none solid rgb(218, 218, 218);
}