.editor-grid-background-pattren .workspace-leaf-content[data-type='markdown'],
.editor-grid-background-pattren
  .export-image-preview-container.markdown-rendered {
  background-image:
    linear-gradient(
      to right,
      var(--grid-background-pattern-color) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      var(--grid-background-pattern-color) 1px,
      transparent 1px
    );
  background-size: var(--grid-background-pattern-size)
    var(--grid-background-pattern-size);
  background-position: center;
}
