:root[saved-theme="dark"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: var(--edit-view-background-color-dark);
  --color-base-05: #212121;
  --color-base-10: var(--code-block-background-color-dark);
  --color-base-20: var(--nav-background-color-dark);
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: var(--text-color-dark);
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: var(--text-color-dark);
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-accent: var(--color-accent-1);
  --interactive-accent: var(--my-accent-color-dark);
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: var(--my-accent-color-dark);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --tab-background-active: var(--edit-view-background-color-dark);
  --nav-item-background-active: var(--nav-activer-color-dark);
  --background-primary: var(--edit-view-background-color-dark);
  --list-marker-color-collapsed: var(--text-color-dark);
  --collapse-icon-color-collapsed: var(--text-color-dark);
  --tag-color: var(--text-color-dark);
  --checkbox-border-color: var(--text-color-dark);
  --checklist-done-color: var(--list-done-color-dark);
  --accent-h: 196;
  --accent-s: 61.5%;
  --accent-l: 20.4%;
}
