:root[saved-theme="light"] {
  --color-base-00: var(--edit-view-background-color);
  --color-base-10: var(--code-block-background-color);
  --color-base-20: var(--nav-background-color);
  --color-base-100: var(--text-color);
  --color-accent: var(--text-color);
  --accent-h: 201;
  --accent-s: 93%;
  --accent-l: 66%;
  --text-selection: var(--my-accent-color);
  --tab-background-active: var(--edit-view-background-color);
  --background-primary: var(--edit-view-background-color);

  code[data-theme*=" "] {
    --shiki-dark: var(--shiki-light) !important;
    --shiki-dark-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-dark: var(--shiki-light) !important;
      --shiki-dark-bg: var(--shiki-light-bg) !important;
    }
  }
}
