:scope.fas-status-bar-ribbon {
  --status-bar-radius: 0;
  --status-bar-text-color: var(--workspace-foreground-muted);
}

:scope.fas-status-bar-ribbon .status-bar {
  right: unset;
  left: 0;
  flex-direction: row;
  height: 50vh;
  width: var(--ribbon-width);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background: none;
  opacity: var(--icon-opacity-inactive);
}

:scope.fas-status-bar-ribbon .status-bar-item {
  transform: rotate(180deg);
}

:scope.fas-status-bar-ribbon .status-bar-item svg {
  transform: rotate(-180deg);
}

:scope.fas-status-bar-ribbon .status-bar:hover {
  border-top: 1px dashed var(--color-base-40);
  opacity: 1;
}

:scope.fas-status-bar-ribbon .workspace-ribbon {
  height: calc(50vh - var(--header-height) + 1px);
}

:scope.fas-status-bar-ribbon .workspace-ribbon:hover {
  border-bottom: 1px dashed var(--color-base-40);
}
