:root:root {
  --background-primary: #272b34;
  --background-primary-alt: #20242b;
  --background-secondary: #20242b;
  --background-secondary-alt: #1a1e24;
  --background-accent: #000;
  --background-modifier-border: #424958;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #539126;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --accent-h: 219;
  --accent-s: 56%;
  --accent-d: 55%;
  --accent-l: 58%;
  --text-normal: #dcddde;
  --text-muted: #888;
  --text-faint: rgb(81, 86, 99);
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: rgba(189, 195, 199, 0.1);
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --panel-border-color: #18191e;
  --gray-1: #5c6370;
  --gray-2: #abb2bf;
  --red: #e06c75;
  --aqua: #56b6c2;
  --purple: #c678dd;
  --blue: #61afef;
  --yellow: #e5c07b;
  --pink: #ff79c6;
  --pink-two: #ff77cc;
  --green: #50fa7b;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --yellow-code: #f1fa8c;
  --purple-code: #bd93f9;
  --table-header-background: var(--background-secondary-alt);
  --table-header-background-hover: var(--background-secondary-alt);
  --table-row-alt-background: transparent;
  --table-border-color: var(--gray-1);
}
