body.flexcyon-status-hide-until-hover .status-bar {
  font-size: 0.825rem;
  border: unset;
  z-index: 1;
  transform: translateX(1000px);
  transition: transform var(--flexcyon-status-hide-hover-duration)
    var(--flexcyon-status-hide-hover-function);
}

body.flexcyon-status-hide-until-hover .status-bar::before {
  content: var(--flexcyon-status-hide-until-hover-text);
  background-color: var(--color-base-00);
  border-radius: inherit;
  margin-right: 8px;
  padding: 8px;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translateX(-1000px);
  transition: transform var(--flexcyon-status-hide-hover-duration)
    var(--flexcyon-status-hide-hover-function);
}

body.flexcyon-status-hide-until-hover .status-bar:hover::before {
  transform: translateY(50px);
  transition: transform var(--flexcyon-status-hide-hover-duration)
    var(--flexcyon-status-hide-hover-function);
}

body.flexcyon-status-hide-until-hover .status-bar:hover {
  transform: unset;
  transition: transform var(--flexcyon-status-hide-hover-duration)
    var(--flexcyon-status-hide-hover-function);
}
