@font-face {
  font-family: 'Computer Modern Bright';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/vsalvino/computer-modern@main/fonts/CMUBright-Roman.woff2');
}
@font-face {
  font-family: 'Computer Modern Bright';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/vsalvino/computer-modern@main/fonts/CMUBright-Oblique.woff2');
}
@font-face {
  font-family: 'Computer Modern Bright';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/vsalvino/computer-modern@main/fonts/CMUBright-SemiBold.woff2');
}
@font-face {
  font-family: 'Computer Modern Bright';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/vsalvino/computer-modern@main/fonts/CMUBright-SemiBoldOblique.woff2');
}
@font-face {
  font-family: 'Computer Modern Bright';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/vsalvino/computer-modern@main/fonts/CMUBright-Bold.woff2');
}
@font-face {
  font-family: 'Computer Modern Bright';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/vsalvino/computer-modern@main/fonts/CMUBright-BoldOblique.woff2');
}
