body:not(.show-canvas-ui) .canvas-controls,
body:not(.show-canvas-ui) .canvas-card-menu {
  opacity: 0;
  transition: opacity 1s ease-out;
}

body:not(.show-canvas-ui) .canvas-controls:hover,
body:not(.show-canvas-ui) .canvas-card-menu:hover {
  opacity: 1;
}

body:not(.show-canvas-ui) .canvas-card-menu:hover {
  color: var(--light-tone);
}
