:root:root {
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 255, 107, 129;
  --color-red: #ff6b81;
  --color-orange-rgb: 255, 127, 80;
  --color-orange: #ff7f50;
  --color-yellow-rgb: 251, 211, 81;
  --color-yellow: hsl(46deg, 95%, 65%);
  --color-green-rgb: 123, 237, 159;
  --color-green: #7bed9f;
  --color-cyan-rgb: 112, 161, 255;
  --color-cyan: #70a1ff;
  --color-blue-rgb: 83, 82, 237;
  --color-blue: #5352ed;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #202020;
  --color-base-05: #242424;
  --color-base-10: #282828;
  --color-base-20: #303030;
  --color-base-25: #383838;
  --color-base-30: #404040;
  --color-base-35: #484848;
  --color-base-40: #505050;
  --color-base-50: #707070;
  --color-base-60: #909090;
  --color-base-70: #a0a0a0;
  --color-base-100: #ffffff;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 3.8%));
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-25);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-accent: var(--color-accent-1);
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: rgba(255, 255, 255, 0.2);
  --input-shadow: 0 0 0 0 transparent;
  --input-shadow-hover: 0 0 0 0 transparent;
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --color-base-15: #2b2b2b;
  --color-base-80: #c0c0c0;
  --color-base-90: #e0e0e0;
  --text-highlight-bg: rgba(255, 208, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
}
