.lightPalette-violet {
  --OT-theme-reference-color: #c58df7;
  --color-base-00: #f5ecfe;
  --color-base-20: #e5cdfb;
  --color-base-35: #9736f0;
  --color-base-40: #9736f0;
  --color-base-50: #b97ef5;
  --color-base-70: #650cb4;
  --color-base-05: #ddbdfa;
  --code-background: #e9d4fc;
  --OT-button-OFF-bg: #d9b4fa;
  --color-base-100: #4b0b8b;
  --link-color: var(--obsidian-violet);
  /*    --h1-color:            #470A84; */
  /*    --h3-color:            #5E3B93; */
  /*    --h5-color:            #9283B1; */
  --OT-color-on-base-20: #7111d2;
  --OT-metadata-background: #f9deff;
  --OT-table-header-background: #ddbdfa;
  --OT-table-background: #e8d6fc;
}
