:root[saved-theme="dark"] {
  --bgcolor-h: 215;
  --bgcolor-s: 17%;
  --bgcolor-l: 19%;
  --color-base-00: hsla(
    calc(var(--bgcolor-h) - 0),
    calc(var(--bgcolor-s) - 0%),
    calc(var(--bgcolor-l) - 0%),
    1
  );
  --color-base-10: hsla(
    calc(var(--bgcolor-h) - 1),
    calc(var(--bgcolor-s) + 7%),
    calc(var(--bgcolor-l) - 4%),
    1
  );
  --color-base-05: hsla(
    calc(var(--bgcolor-h) - 8),
    calc(var(--bgcolor-s) - 0%),
    calc(var(--bgcolor-l) - 9%),
    0.5
  );
  --color-base-20: hsla(
    calc(var(--bgcolor-h) - 1),
    calc(var(--bgcolor-s) + 7%),
    calc(var(--bgcolor-l) - 4%),
    1
  );
  --color-base-00-trans: hsla(
    calc(var(--bgcolor-h) - 0),
    calc(var(--bgcolor-s) - 0%),
    calc(var(--bgcolor-l) - 0%),
    0.5
  );
  --color-base-00-trans-alt: hsla(
    calc(var(--bgcolor-h) - 0),
    calc(var(--bgcolor-s) - 0%),
    calc(var(--bgcolor-l) - 6%),
    0.8
  );
  --color-base-20-trans: hsla(
    calc(var(--bgcolor-h) - 1),
    calc(var(--bgcolor-s) + 7%),
    calc(var(--bgcolor-l) - 4%),
    0.5
  );
  --color-base-00-0: hsla(
    calc(var(--bgcolor-h) - 0),
    calc(var(--bgcolor-s) - 0%),
    calc(var(--bgcolor-l) + 3%),
    0.9
  );
  --color-base-20-0: hsla(
    calc(var(--bgcolor-h) - 0),
    calc(var(--bgcolor-s) - 7%),
    calc(var(--bgcolor-l) - 9%),
    0.1
  );
  --color-base-00-0-trans: hsla(
    calc(var(--bgcolor-h) - 0),
    calc(var(--bgcolor-s) - 0%),
    calc(var(--bgcolor-l) + 3%),
    0.5
  );
  --color-base-shadow: hsla(207, 10%, 10%, 0.1);
  --color-base-shadow-hover: hsla(212, 17%, 0%, 0.3);
  --color-base-hover: var(--color-base-05);
  --color-base-30: hsla(215, 22%, 13%, 1);
  --color-base-35: hsla(210, 15%, 33%, 1);
  --color-base-50: hsla(217, 18%, 50%, 0.7);
  --color-base-70: hsl(218, 17%, 58%);
  --color-base-100: hsla(0, 0%, 73%, 1);
  --color-accent: hsl(
    calc(var(--accent-h) - 0),
    calc(var(--accent-s) + 13%),
    calc(var(--accent-l) + 3%)
  );
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) - 13%),
    calc(var(--accent-l) - 3%)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 0),
    calc(var(--accent-s) + 7%),
    calc(var(--accent-l) + 2%)
  );
  --color-red: hsla(365, 90%, 65%, 1);
  --color-muted: hsl(218, 17%, 62%);
  --color-italic: hsla(215, 33%, 60%, 1);
  --color-highlight: hsla(45, 63%, 63%, 1);
  --text-highlight-bg: hsla(45, 53%, 53%, 1);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
