:root[saved-theme="light"],
html[saved-theme="light"] {
  color-scheme: light;

  .callout {
    --callout-blend-mode: darken;
  }

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }

  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 233, 49, 71;
  --color-orange-rgb: 236, 117, 0;
  --color-orange: #ec7500;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-green-rgb: 8, 185, 78;
  --color-green: #08b94e;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-blue-rgb: 8, 109, 221;
  --color-blue: #086ddd;
  --color-purple-rgb: 120, 82, 238;
  --color-purple: #7852ee;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-40: #bdbdbd;
  --color-base-60: #707070;
  --color-accent-hsl: 224, 12%, 63%;
  --color-accent: hsl(224, 12%, 63%);
  --background-secondary-alt: hsla(
    calc(215 + 3),
    calc(17% - 28%),
    calc(19% - 7%),
    1
  );
  --background-modifier-box-shadow: #000000;
  --background-modifier-cover: #dcdcdc;
  --input-shadow:
    inset 0 0 0 1px #000000, 0 2px 3px 0 #000000, 0 1px 1.5px 0 #000000,
    0 1px 2px 0 #000000, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0 0 1px #000000, 0 2px 3px 0 #000000, 0 1px 1.5px 0 #000000,
    0 1px 2px 0 #000000, 0 0 0 0 transparent;
  --shadow-s:
    0px 1px 2px #000000, 0px 3.4px 6.7px #000000, 0px 15px 30px #000000;
  --shadow-l:
    0px 1.8px 7.3px #000000, 0px 6.3px 24.7px #000000, 0px 30px 90px #000000;
  --color-accent-1: hsl(calc(224), calc(12%), calc(63% + 10%));
  --color-accent-2: hsl(calc(224), calc(12%), calc(63% - 5%));
  --color-base-00: hsla(calc(215), calc(17%), calc(19%), 1);
  --color-base-00-0: hsla(calc(215 - 27), calc(17% - 12%), calc(19% + 2%), 1);
  --color-base-00-0-trans: hsla(
    calc(215 - 20),
    calc(17% - 12%),
    calc(19% + 2%),
    0.5
  );
  --color-base-00-trans: hsla(calc(215), calc(17%), calc(19%), 0.5);
  --color-base-00-trans-alt: hsla(
    calc(215),
    calc(17% - 35%),
    calc(19% - 7%),
    0.8
  );
  --color-base-05: hsla(calc(215 + 3), calc(17% - 28%), calc(19% - 7%), 1);
  --color-base-10: hsla(calc(215 + 6), calc(17% - 6%), calc(19% - 4%), 1);
  --color-base-100: hsla(0, 0%, 13%, 1);
  --color-base-20: hsla(calc(215 + 9), calc(17%), calc(19% - 2%), 1);
  --color-base-20-0: hsla(calc(215 + 3), calc(17% - 27%), calc(19% - 7%), 0.1);
  --color-base-20-trans: hsla(
    calc(215 + 6),
    calc(17% - 8%),
    calc(19% - 2%),
    0.5
  );
  --color-base-35: hsla(210, 15%, 73%, 1);
  --color-base-50: hsla(217, 15%, 73%, 1);
  --color-base-70: hsla(218, 19%, 39%, 1);
  --color-base-hover: hsla(212, 17%, 80%, 0.3);
  --color-base-shadow: hsla(212, 17%, 80%, 0.2);
  --color-base-shadow-hover: hsla(212, 17%, 80%, 0.3);
  --color-highlight: hsla(0, 0%, 13%, 1);
  --color-italic: hsla(215, 43%, 63%, 1);
  --color-muted: hsla(218, 19%, 39%, 1);
  --color-red: hsla(365, 85%, 55%, 1);
}
