:root[saved-theme="dark"] {
  --mono-rgb-0: 29, 31, 33;
  --mono-rgb-100: 226, 224, 226;
  --color-red_rgb: 182, 94, 103;
  --color-red: #b65e67;
  --color-orange_rgb: 188, 135, 98;
  --color-orange: #bc8762;
  --color-yellow-rgb: 188, 156, 98;
  --color-yellow: #bcab62;
  --color-green-rgb: 136, 188, 125;
  --color-green: #88bc7d;
  --color-teal-rgb: 94, 141, 135;
  --color-teal: #5e8d87;
  --color-cyan: var(--color-teal);
  --color-cyan-rgb: var(--color-teal-rgb);
  --color-blue_rgb: 196, 202, 214;
  --color-blue: #c4cad6;
  --color-purple-rgb: 156, 151, 183;
  --color-purple: #9c97b7;
  --color-pink-rgb: 174, 116, 153;
  --color-pink: #ae7499;
  --color-base-00: #1d1f21;
  --color-base-05: #27292b;
  --color-base-10: #313234;
  --color-base-20: #444648;
  --color-base-25: #4e4f51;
  --color-base-30: #58595b;
  --color-base-35: #626365;
  --color-base-40: #6c6c6e;
  --color-base-50: #808082;
  --color-base-60: #939395;
  --color-base-70: #a7a6a8;
  --color-base-100: #e2e0d2;
  --background-secondary-alt: var(--color-base-20);
  --checkbox-border-color-unchecked: var(--color-base-50);
  --checkbox-border-color-hover: var(--checkbox-color);
  --h1-weight: 300;
  --h2-weight: 300;
  --h3-weight: 300;
  --h4-weight: 300;
  --h5-weight: 300;
  --h6-weight: 300;

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
