:root[saved-theme="light"] {
  --color-caret: var(--color-slate-500);
  --md-color-text: var(--color-cyan-530);
  --md-color-text-muted: var(--color-cyan-700);
  --md-color-text-faint: var(--color-cyan-900);
  --md-color-bold: var(--color-yellow-500);
  --md-color-italic: var(--color-purple-500);
  --md-color-bolditalic: var(--color-gray-10);
  --md-color-strikethrough: var(--text-faint);
  --md-color-highlight-text: var(--color-highlight-text);
  --md-color-highlight-bg: var(--color-highlight-gradient);
  --md-color-comment: var(--color-gray-15);
  --md-color-footnote: var(--color-gray-50);
  --md-color-link: var(--color-magenta-700);
  --md-color-link-hover: var(--color-magenta-310);
  --md-color-link-active: var(--color-magenta-900);
  --md-color-blockquotes: var(--md-color-text);
  --md-color-blockquotes-border: var(--color-purple-900);
  --md-color-tag: var(--color-green-700);
  --md-color-tag-hover: var(--color-green-300);
  --md-color-tag-active: var(--color-green-900);
  --md-color-code-cyan: var(--color-cyan-300);
  --md-color-code-magenta: var(--color-magenta-300);
  --md-color-code-yellow: var(--color-yellow-310);
  --md-color-code-purple: var(--color-purple-910);
  --md-color-code-green: var(--color-green-500);
  --md-color-code-slate: var(--color-slate-900);
  --md-color-code-gray: var(--color-slate-500);
  --md-color-code-white: var(--color-slate-300);
  --md-color-border: rgb(66, 71, 80);
  --graph-color-node-resolved: var(--color-yellow-700);
  --graph-color-node-unresolved: var(--color-purple-900);
  --graph-color-node-tag: var(--color-cyan-700);
  --graph-color-node-attachment: var(--color-slate-500);
  --graph-color-node-focused: var(--color-magenta-900);
  --graph-color-node-border-hover: var(--color-white);
  --graph-color-arrow: var(--graph-color-line);
  --graph-color-line: var(--color-cyan-900);
  --graph-color-line-hover: var(--color-gray-40);
  --graph-color-text: var(--color-slate-300);
}
