.hide-sidebar-ribbon .side-dock-ribbon:is(.mod-left, .mod-right):not(:hover) {
  opacity: 0;
  flex: 0 0 10px;
  padding: 0;
}

.hide-sidebar-ribbon-icons
  .side-dock-ribbon:is(.mod-left, .mod-right):not(:hover)
  :is(.side-dock-actions, .side-dock-settings) {
  display: none;
}
