h1 .sQdthOne-center-headers,
.markdown-rendered h1 .sQdthOne-center-headers,
.HyperMD-header-1 .sQdthOne-center-headers,
.HyperMD-list-line .cm-header-1 .sQdthOne-center-headers,
.cm-header-1.cm-header-1 .sQdthOne-center-headers,
.markdown-preview-section h1 .sQdthOne-center-headers {
  align-content: center;
}

h2 .sQdthOne-center-headers,
.markdown-rendered h2 .sQdthOne-center-headers,
.HyperMD-header-2 .sQdthOne-center-headers,
.HyperMD-list-line .cm-header-2 .sQdthOne-center-headers,
.cm-header-2 .sQdthOne-center-headers,
.markdown-preview-section h2 .sQdthOne-center-headers {
  align-content: center;
}

h3 .sQdthOne-center-headers,
.markdown-rendered h3 .sQdthOne-center-headers,
.HyperMD-header-3 .sQdthOne-center-headers,
.HyperMD-list-line .cm-header-3 .sQdthOne-center-headers,
.cm-header-3 .sQdthOne-center-headers,
.markdown-preview-section h3 .sQdthOne-center-headers {
  align-content: center;
}

h4 .sQdthOne-center-headers,
.markdown-rendered h4 .sQdthOne-center-headers,
.HyperMD-header-4 .sQdthOne-center-headers,
.HyperMD-list-line .cm-header-4 .sQdthOne-center-headers,
.cm-header-4 .sQdthOne-center-headers,
.markdown-preview-section h4 .sQdthOne-center-headers {
  align-content: center;
}

h5 .sQdthOne-center-headers,
.markdown-rendered h5 .sQdthOne-center-headers,
.HyperMD-header-5 .sQdthOne-center-headers,
.HyperMD-list-line .cm-header-5 .sQdthOne-center-headers,
.cm-header-5 .sQdthOne-center-headers,
.markdown-preview-section h5 .sQdthOne-center-headers {
  align-content: center;
}

h6 .sQdthOne-center-headers,
.markdown-rendered h6 .sQdthOne-center-headers,
.HyperMD-header-6 .sQdthOne-center-headers,
.HyperMD-list-line .cm-header-6 .sQdthOne-center-headers,
.cm-header-6 .sQdthOne-center-headers,
.markdown-preview-section h6 .sQdthOne-center-headers {
  align-content: center;
}
