:root:root {
  --color-pink: #ff22b1;
  --color-yellow: #e9e90c;
  --color-cyan: #00ffff;
  --background-primary: #020517;
  --background-primary-alt: #44475a;
  --background-secondary: #020517;
  --background-secondary-alt: #282a36;
  --background-accent: #f8f8f2;
  --background-dracula-border: #f8f8f2;
  --divider-color: white;
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #50fa7b;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #ffb86c;
  --text-accent-hover: #8be9fd;
  --text-normal: #f8f8f2;
  --text-muted: #f8f8f2;
  --text-faint: #bd93f9;
  --text-highlight-bg: #ff5555ce;
  --text-error: #ff79c6;
  --text-error-hover: #ff79c6;
  --text-selection: #6272a4;
  --interactive-normal: #44475a;
  --interactive-hover: #ff5555;
  --interactive-accent-rgb: 123, 108, 217;
  --inline-code: #e9e90c;
  --code-block: #8be9fd;
  --pre-code: #1d1c39;
  --code-background: #1d1c39;
  --blockquote-border: #ffb86c;
  --vim-cursor: #ff5555;
  --border-color: #2b2727;
  --border-modified-color: #f8f8f2;
  --vtcolor1: rgb(130, 57, 226);
  --vtcolor2: rgb(82, 236, 247);
  --empty-line-height: 1em;
  --checkbox-color: #bd93f9;
  --hr-color: white;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
