:root[saved-theme="dark"],
html[saved-theme="dark"] {
  color-scheme: dark;

  .callout {
    --callout-blend-mode: lighten;
  }

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }

  --background-modifier-box-shadow: #0000004d;
  --background-modifier-cover: #0a0a0a66;
  --background-modifier-form-field: #282726;

  --color-blue-rgb: 67, 133, 190;

  --color-cyan-rgb: 58, 169, 159;

  --color-green-rgb: 135, 154, 57;

  --color-orange-rgb: 218, 112, 44;

  --color-pink-rgb: 206, 93, 151;

  --color-purple-rgb: 139, 126, 200;

  --color-red-rgb: 209, 77, 65;

  --color-yellow-rgb: 208, 162, 21;
  --highlight-mix-blend-mode: darken;
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px #ffffff17, 0 2px 4px 0 #00000026,
    0 1px 1.5px 0 #0000001a, 0 1px 2px 0 #00000033, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px #ffffff29, 0 2px 3px 0 #0000004d,
    0 1px 1.5px 0 #00000033, 0 1px 2px 0 #00000066, 0 0 0 0 transparent;
  --interactive-accent: #24847c;
  --interactive-accent-hover: #29998a;
  --interactive-hover: #343331;
  --interactive-normal: #282726;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;
  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #0000001f, 0px 3.4px 6.7px #0000002e, 0px 15px 30px #0000004d;
  --text-accent: #29998a;
  --text-selection: #24847c54;

  --background-modifier-box-shadow: #0000004d;
  --background-modifier-cover: #0a0a0a66;
  --background-modifier-form-field: #282726;

  --color-blue-rgb: 67, 133, 190;

  --color-cyan-rgb: 58, 169, 159;

  --color-green-rgb: 135, 154, 57;

  --color-orange-rgb: 218, 112, 44;

  --color-pink-rgb: 206, 93, 151;

  --color-purple-rgb: 139, 126, 200;

  --color-red-rgb: 209, 77, 65;

  --color-yellow-rgb: 208, 162, 21;
  --highlight-mix-blend-mode: darken;
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px #ffffff17, 0 2px 4px 0 #00000026,
    0 1px 1.5px 0 #0000001a, 0 1px 2px 0 #00000033, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px #ffffff29, 0 2px 3px 0 #0000004d,
    0 1px 1.5px 0 #00000033, 0 1px 2px 0 #00000066, 0 0 0 0 transparent;
  --interactive-accent: #24847c;
  --interactive-accent-hover: #29998a;
  --interactive-hover: #343331;
  --interactive-normal: #282726;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;
  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #0000001f, 0px 3.4px 6.7px #0000002e, 0px 15px 30px #0000004d;
  --text-accent: #29998a;
  --text-selection: #24847c54;
}
