:root[saved-theme="dark"],
html[saved-theme="dark"] {

  color-scheme: dark;

  .callout {
    --callout-blend-mode: lighten;
  }

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }

  .theme-light { --text-on-accent: #08090e;
--tab-outline-width: 0px;
--radius-xl: 16px;
--h1-size: 1.8em;
--h2-size: 1.8em;
--h3-size: 1.8em;
--h4-size: 1.8em;
--h5-size: 1.8em;
--h6-size: 1.8em;
--hr-thickness: 3px;
--file-line-width: 960px;
--ribbon-width: 48px;
--callout-title-padding: 4px 12px;
--callout-padding: 0;
--link-decoration-hover: none;
--link-decoration: none;
--divider-width: 4px;
--divider-width-hover: 4px;
--ribbon-padding: 16px 0 0px 0;
--tab-stacked-pane-width: 800px;
--tab-radius-active: 0 0 0 0;
--checklist-done-decoration: none;
--tag-border-width: 1px;
--tag-border-color: transparent;
--tag-padding-x: 0.56em;
--tag-padding-y: 0.16em;
--tag-radius: 16px;
--callout-radius: 8px;
--code-radius: 8px;
--font-use-default: var(--default-font);
--font-size-use-default: var(--editor-font-size);
--indent-use-default: 3.5ch;
--vicious-indent-font-family: var(--default-font);
--vicious-indent-font-size: var(--editor-font-size);
--vicious-indent-width: 4.2ch;
--vicious-left-offset: 2ch;
--vicious-line-width: 3px;
--vicious-color-count: 11;
--vicious-indent-11: #f181c5;
--vicious-indent-10: #ee81f1;
--vicious-indent-9: #ab8beb;
--vicious-indent-8: #8be3eb;
--vicious-indent-7: #81f1a4;
--vicious-indent-6: #8df181;
--vicious-indent-5: #bcf181;
--vicious-indent-4: #e3eb8b;
--vicious-indent-3: #ebcb8b;
--vicious-indent-2: #f19a81;
--vicious-indent-1: #f18196;
--link-color: #f18196;
--link-unresolved-color: #8be3eb;
--indentation-guide-width: 0px;
--vicious-indent-bg-size: calc( 11 * 4.2ch ) 1px;
--vicious-indent-colorful-bg: linear-gradient( to right, #f18196 0 3px, transparent 3px calc(4.2ch * 1), #f19a81 calc(4.2ch * 1) calc(4.2ch * 1 + 3px), transparent calc(4.2ch * 1 + 3px) calc(4.2ch * 2), #ebcb8b calc(4.2ch * 2) calc(4.2ch * 2 + 3px), transparent calc(4.2ch * 2 + 3px) calc(4.2ch * 3), #e3eb8b calc(4.2ch * 3) calc(4.2ch * 3 + 3px), transparent calc(4.2ch * 3 + 3px) calc(4.2ch * 4), #bcf181 calc(4.2ch * 4) calc(4.2ch * 4 + 3px), transparent calc(4.2ch * 4 + 3px) calc(4.2ch * 5), #8df181 calc(4.2ch * 5) calc(4.2ch * 5 + 3px), transparent calc(4.2ch * 5 + 3px) calc(4.2ch * 6), #81f1a4 calc(4.2ch * 6) calc(4.2ch * 6 + 3px), transparent calc(4.2ch * 6 + 3px) calc(4.2ch * 7), #8be3eb calc(4.2ch * 7) calc(4.2ch * 7 + 3px), transparent calc(4.2ch * 7 + 3px) calc(4.2ch * 8), #ab8beb calc(4.2ch * 8) calc(4.2ch * 8 + 3px), transparent calc(4.2ch * 8 + 3px) calc(4.2ch * 9), #ee81f1 calc(4.2ch * 9) calc(4.2ch * 9 + 3px), transparent calc(4.2ch * 9 + 3px) calc(4.2ch * 10), #f181c5 calc(4.2ch * 10) calc(4.2ch * 10 + 3px), transparent calc(4.2ch * 7 + 3px) calc(4.2ch * 8) );

}
