:root[saved-theme="dark"] {
  --text-on-accent: var(--800);
  --tab-outline-width: 0px;
  --radius-xl: 16px;
  --h1-size: 1.8em;
  --h2-size: 1.8em;
  --h3-size: 1.8em;
  --h4-size: 1.8em;
  --h5-size: 1.8em;
  --h6-size: 1.8em;
  --hr-thickness: 3px;
  --file-line-width: 960px;
  --ribbon-width: 48px;
  --ribbon-padding: 24px 0px;
  --callout-title-padding: 4px 12px;
  --callout-padding: 0;
  --link-decoration-hover: none;
  --link-decoration: none;
  --divider-width: 4px;
  --divider-width-hover: 4px;
  --ribbon-padding: 16px 0 0px 0;
  --tab-stacked-pane-width: 800px;
  --tab-radius-active: 0 0 0 0;
  --checklist-done-decoration: none;
  --tag-border-width: 1px;
  --tag-border-color: transparent;
  --tag-padding-x: 0.56em;
  --tag-padding-y: 0.16em;
  --tag-radius: var(--radius-xl);
  --callout-radius: var(--radius-m);
  --code-radius: var(--radius-m);
  --font-use-default: var(--default-font);
  --font-size-use-default: var(--editor-font-size);
  --indent-use-default: 3.5ch;
  --vicious-indent-font-family: var(--font-use-default);
  --vicious-indent-font-size: var(--font-size-use-default);
  --vicious-indent-width: 4.2ch;
  --vicious-left-offset: 2ch;
  --vicious-line-width: 3px;
  --vicious-color-count: 11;
  --vicious-indent-11: var(--C011);
  --vicious-indent-10: var(--C010);
  --vicious-indent-9: var(--C009);
  --vicious-indent-8: var(--C008);
  --vicious-indent-7: var(--C007);
  --vicious-indent-6: var(--C006);
  --vicious-indent-5: var(--C005);
  --vicious-indent-4: var(--C004);
  --vicious-indent-3: var(--C003);
  --vicious-indent-2: var(--C002);
  --vicious-indent-1: var(--C001);
  --link-color: var(--C001);
  --link-unresolved-color: var(--C008);
  --indentation-guide-width: 0px;
  --background-secondary-alt: var(--800);
  --background-primary: var(--800);
  --ribbon-background: var(--800);
  --background-secondary: var(--800);
  --callout-content-background: var(--800);
  --interactive-normal: var(--800);
  --modal-Color: var(--800-RGB);
  --input-color: var(--800);
  --shadow-open-tabs: var(--800);
  --metadata-background-color: var(--800);
  --tab-container-background: var(--800);
  --tab-outline-color: var(--800);
  --mono-rgb-0: var(--800-RGB);
  --color-base-00: var(--800);
  --color-base-05: var(--800);
  --color-base-10: var(--700);
  --color-base-20: var(--700);
  --blockquote-background-color: var(--700);
  --th-bg: var(--700);
  --file-color-RGB: var(--700-RGB);
  --nav-color: var(--800-RGB);
  --card-color: var(--700);
  --side-dock-color: var(--700);
  --pill-background: var(--700);
  --text-selection: var(--500);
  --code-background: var(--700);
  --hr-color: var(--700);
  --background-modifier-cover: rgba(var(--800-RGB), 1);
  --background-modifier-hover: var(--700);
  --line-highlight-color: rgba(var(--700-RGB), 0);
  --heading-count-bg-color: var(--700);
  --table-border-color: var(--600);
  --color-base-25: var(--600);
  --color-base-30: var(--600);
  --interactive-hover: var(--600);
  --tab-outline-color: var(--600);
  --select-color: var(--600);
  --collapse-icon-color: var(--500);
  --color-base-35: var(--500);
  --color-base-40: var(--500);
  --text-faint: var(--400);
  --color-base-50: var(--400);
  --text-highlight-bg-rgb: var(--400-RGB);
  --color-base-60: var(--300);
  --text-muted: var(--300);
  --color-base-70: var(--200);
  --color-base-100: var(--100);
  --text-normal: var(--000);
  --metadata-label-text-color: var(--000);
  --checklist-textColor: var(--000);
  --list-marker-color: var(--000);
  --collapse-icon-color-collapsed: var(--000);
  --checklist-textColor1: var(--000) !important;
  --mono-rgb-100: var(--000-RGB);
  --callout-default: var(--000-RGB);
  --callout-error: var(--C001-RGB);
  --callout-warning: var(--C001-RGB);
  --color-red-rgb: var(--C001-RGB);
  --color-red: var(--C001);
  --callout-help: var(--C002-RGB);
  --callout-faq: var(--C002-RGB);
  --callout-question: var(--C002-RGB);
  --color-orange-rgb: var(--C002-RGB);
  --color-orange: var(--C002);
  --callout-tip: var(--C003-RGB);
  --callout-hint: var(--C003-RGB);
  --callout-bug: var(--C003-RGB);
  --color-yellow-rgb: var(--C003-RGB);
  --color-yellow: var(--C003);
  --callout-abstract: var(--C004-RGB);
  --callout-summary: var(--C004-RGB);
  --callout-tldr: var(--C004-RGB);
  --callout-info: var(--C005-RGB);
  --color-blue-rgb: var(--C005-RGB);
  --color-blue: var(--C005);
  --callout-important: var(--C006-RGB);
  --callout-success: var(--C007-RGB);
  --color-green-rgb: var(--C007-RGB);
  --color-green: var(--C007);
  --callout-todo: var(--C008-RGB);
  --callout-quote: var(--C008-RGB);
  --color-cyan-rgb: var(--C008-RGB);
  --color-cyan: var(--C008);
  --color-purple-rgb: var(--C009-RGB);
  --color-purple: var(--C009);
  --callout-example: var(--C009-RGB);
  --color-pink-rgb: var(--C010-RGB);
  --color-pink: var(--C010);
  --callout-fail: var(--C011-RGB);
  --divider-color: transparent;
  --metadata-label-background-active: transparent;
  --tab-outline-color: transparent;
  --accent-h: 39;
  --accent-s: 80%;
  --accent-l: 73%;
  --heading-count-color: var(--text-muted);
  --list-marker-color: var(--text-muted);
  --checkbox-border-color: var(--text-muted);
  --icon-color: var(--000);
  --callout-RGB: var(--600-RGB);
  --nav-item-color: var(--000);

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
