.magicuser-accent-theme {
  --mu-accent-color: hsla(var(--color-accent-hsl), 1);
  --mu-accent-details: hsla(var(--color-accent-hsl), 0.2);
  --mu-background-color-1: #181818;
  --mu-background-color-2: #111111;
  --mu-titlebar-background: #080808;
  --mu-caret-color: hsla(var(--color-accent-hsl), 1);
  --mu-divider-color: #00000000;
  --mu-input-bg-color: #000;
  --mu-text-title: #0072d3;
  --mu-vault-title: #0072d3;
  --code-background: #000;
  --code-punctuation: var(--mu-accent-color);
  --mu-folder-text-color: #979797;
  --mu-file-icon-color: var(--mu-accent-color);
  --mu-folder-icon-color: #484848;
  --mu-folder-icon-color-active: var(--mu-accent-color);
  --mu-h1: hsl(var(--accent-h), 78%, 72%);
  --mu-h2: hsl(var(--accent-h), 78%, 72%);
  --mu-h3: hsl(var(--accent-h), 78%, 72%);
  --mu-h4: hsl(var(--accent-h), 78%, 72%);
  --mu-h5: hsl(var(--accent-h), 78%, 72%);
  --mu-h6: hsl(var(--accent-h), 78%, 72%);
  --mu-text-selection: #0088ff53;
  --mu-suggestion-color: var(--mu-accent-color);
  --mu-dark-sidebar-color: #1f1f1f;
  --text-selection: hsla(var(--color-accent-hsl), 0.3);
  --mu-icon: hsla(var(--color-accent-hsl), 0.7);
  --mu-icon-hover: var(--mu-accent-color);
  --mu-icon-active: var(--mu-accent-color);
  --mu-icon-focused: var(--mu-accent-color);
  --search-icon-color: var(--mu-accent-color);
  --mu-icon-statusbar-menu: var(--mu-accent-color);
  --mu-folder-area-background: hsla(var(--color-accent-hsl), 0.1);
  --mu-folder-area-border: hsla(var(--color-accent-hsl), 0.3);
  --checkbox-border-color: #828282;
  --checkbox-border-color-hover: var(--mu-accent-color);
  --text-normal: #cfcfcf;
  --mu-default-mode-border-color: var(--mu-accent-color);
  --mu-stacked-mode-border-color: var(--mu-accent-color);
  --mu-blockquote-border: var(--mu-accent-color);
  --mu-hr-color: var(--mu-accent-color);
  --list-marker-color: var(--mu-accent-color);
  --nav-collapse-icon-color: #484848;
  --background-modifier-hover: var(--mu-accent-details);
  --nav-item-background-active: var(--mu-accent-details);
  --mu-bookmarked-note-icon-bg: var(--mu-accent-details);
  --background-modifier-border-hover: var(--mu-accent-details);
  --mu-table-th-background: #080808;
  --mu-table-th-foreground-main: var(--text-accent);
  --mu-file-header-border-color: hsla(var(--color-accent-hsl), 0.5);
  --mu-file-header-border-width: 2px;
  --background-modifier-border: var(--mu-accent-details);
  --modal-border-color: var(--mu-accent-details);
  --prompt-border-color: var(--mu-accent-details);
  --mu-indent-color-level-1: var(--mu-accent-details);
  --mu-indent-color-level-2: var(--mu-accent-details);
  --mu-indent-color-level-3: var(--mu-accent-details);
  --mu-indent-color-level-4: var(--mu-accent-details);
  --mu-indent-color-level-5: var(--mu-accent-details);
  --mu-indent-color-level-6: var(--mu-accent-details);
  --mu-label-h1: #484848;
  --mu-label-h2: #484848;
  --mu-label-h3: #484848;
  --mu-label-h4: #484848;
  --mu-label-h5: #484848;
  --mu-label-h6: #484848;
  --divider-color-hover: var(--mu-accent-color);
}
