.theme-light {
  --border-radius-activated-file-light: var(
    --border-radius-activated-tab-header-light
  ) !important;
  --color-activated-file-light: var(
    --color-activated-tab-header-light
  ) !important;
  --background-activated-file-light: var(
    --background-activated-tab-header-light
  ) !important;
  --shadow-activated-file-light: var(
    --shadow-activated-tab-header-light
  ) !important;
}
.theme-light .nav-file-title.is-active .nav-file-tag,
.theme-light .tree-item-self.is-active svg {
  color: var(--color-activated-file-light) !important;
}
