:root[saved-theme="dark"] {
  --background-modifier-border: hsl(345, 3%, 28%);
  --background-modifier-border-focus: var(--background-modifier-border);
  --background-modifier-border-hover: hsl(345, 3%, 30%);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --background-modifier-form-field: var(--background-primary);
  --background-modifier-hover: var(--background-primary-alt);
  --background-primary: #322f30;
  --background-primary-alt: #413e3e;
  --background-secondary: #322f30;
  --background-secondary-alt: var(--background-secondary);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 5),
    calc(var(--accent-s) * 1.05),
    calc(var(--accent-l) * 1.29)
  );
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-100: #dadada;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-blue: #027aff;
  --color-blue-rgb: 2, 122, 255;
  --color-cyan: #53dfdd;
  --color-cyan-rgb: 83, 223, 221;
  --color-green: #44cf6e;
  --color-green-rgb: 68, 207, 110;
  --color-orange: #e9973f;
  --color-orange-rgb: 233, 151, 63;
  --color-pink: #fa99cd;
  --color-pink-rgb: 250, 153, 205;
  --color-purple: #a882ff;
  --color-purple-rgb: 168, 130, 255;
  --color-red: #fb464c;
  --color-red-rgb: 251, 70, 76;
  --color-yellow: #e0de71;
  --color-yellow-rgb: 224, 222, 113;
  --highlight-mix-blend-mode: darken;
  --indentation-guide-color: var(--background-modifier-border);
  --indentation-guide-color-active: hsl(345, 3%, 45%);
  --input-shadow: none;
  --input-shadow-hover: none;
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --interactive-hover: #4a4546;
  --interactive-normal: #433f40;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --shadow-l: none;
  --shadow-s: none;
  --text-accent: var(--color-accent-1);
  --text-faint: #807b7b;
  --text-muted: #b7b2b2;
  --text-normal: #e1e1e1;
  --text-selection: hsla(var(--interactive-accent-hsl), 0.33);
  color-scheme: dark;
}
