:root {
  --dark0: #0f1619;
  --dark1: #141b1e;
  --dark2: #1e2528;
  --dark3: #454c4e;
  --darker: #0a1114;
  --light0: #cbcbcb;
  --light1: #d0d0d0;
  --light2: #d5d5d5;
  --light3: #dadada;
  --red: #e06e6e;
  --orange: #f3a368;
  --yellow: #e5c76b;
  --green: #8ccf7e;
  --purple: #c47fd5;
  --lavender: #bab3e5;
  --teal: #9bdead;
}

body {
}
