:root[saved-theme="light"] {
  --text-normal: #34495e;
  --background-secondary: #ffffff;
  --code-background: #f8f8f8;
  --cus-inline-code-text: #e96900;
  --cus-code-block-border: #f4f4f4;
  --cus-table-header: #f2f2f2;
  --cus-table-gap-tr: #fafafa;
  --table-row-background-hover: #f2f2f2;
  --cus-highlight-cursor-line: rgba(245, 204, 142, 0.12);

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
