:root[saved-theme="light"],
html[saved-theme="light"] {

  color-scheme: light;

  .callout {
    --callout-blend-mode: darken;
  }

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }

  .theme-dark { --font-text-theme: "??", "Lexend", "Inter", ui-sans-serif, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, sans-serif;

}

