body.theme-dark {
  --color-red-rgb: 253, 172, 84;
  --color-red: #fdac54;
  --color-green-rgb: 165, 214, 255;
  --color-green: #a3d6ff;
  --color-orange: #fdac54;
  --color-btn-primary-bg: #1f6feb;
  --color-btn-primary-hover-bg: #388bfd;
}
