:root[saved-theme="dark"] {
  --base-hue: 230;
  --accent-h: 250;
  --accent-s: 80%;
  --accent-l: 75%;
  --text-normal: var(--base-15);
  --text-muted: var(--base-20);
  --text-faint: var(--base-35);
  --bold-color: var(--base-10);
  --background-primary: var(--base-60);
  --background-primary-alt: var(--base-55);
  --background-secondary: var(--base-55);
  --background-secondary-alt: var(--base-55);
  --code-background: var(--background-secondary);
  --code-normal: var(--text-normal);
  --code-comment: var(--text-faint);
  --code-important: var(--color-red);
  --code-value: var(--color-cyan);
  --code-tag: var(--color-yellow);
  --code-string: var(--color-green);
  --code-punctuation: var(--color-pink);
  --code-function: var(--color-cyan);
  --code-keyword: var(--color-purple);
  --code-operator: var(--color-orange);
  --code-property: var(--color-blue);
  --inline-title-color: var(--base-05);
  --tab-active-color: var(--base-45);
  --prompt-border-width: 1px;
  --prompt-border-color: var(--base-50);
  --indentation-guide-color: var(--base-45);
  --indentation-guide-color-active: var(--base-35);
  --modal-border-width: 1px;
  --modal-border-color: var(--base-45);
  --ribbon-background: var(--background-secondary);
  --ribbon-background-collapsed: var(--background-secondary);
  --interactive-accent-hsl: var(--color-accent-hsl);
  --interactive-accent: var(--color-accent-1);
  --interactive-accent-hover: var(--color-accent-2);
  --base-05: hsl(var(--base-hue), var(--base-sat, 2%), 93%);
  --base-10: hsl(var(--base-hue), var(--base-sat, 3%), 82%);
  --base-15: hsl(var(--base-hue), var(--base-sat, 4%), 75%);
  --base-20: hsl(var(--base-hue), var(--base-sat, 5%), 65%);
  --base-25: hsl(var(--base-hue), var(--base-sat, 6%), 56%);
  --base-30: hsl(var(--base-hue), var(--base-sat, 6%), 46%);
  --base-35: hsl(var(--base-hue), var(--base-sat, 7%), 35%);
  --base-40: hsl(var(--base-hue), var(--base-sat, 8%), 25%);
  --base-45: hsl(var(--base-hue), var(--base-sat, 10%), 19%);
  --base-50: hsl(var(--base-hue), var(--base-sat, 11%), 15%);
  --base-55: hsl(var(--base-hue), var(--base-sat, 12%), 12%);
  --base-60: hsl(var(--base-hue), var(--base-sat, 16%), 9%);
  --color-black: rgb(14 19 25);
  --color-white: rgb(230 230 230);
  --color-muted: rgb(139 148 158);
  --color-cyan: rgb(82 183 213);
  --color-blue: rgb(122 162 247);
  --color-pink: rgb(255 151 207);
  --color-teal: rgb(62 180 191);
  --color-green: rgb(34 208 162);
  --color-yellow: rgb(230 232 118);
  --color-orange: rgb(237 139 79);
  --color-red: rgb(219 75 75);
  --color-purple: rgb(149, 128, 255);
  --color-black-rgb: 14, 19, 25;
  --color-white-rgb: 230, 230, 230;
  --color-muted-rgb: 139, 148, 158;
  --color-cyan-rgb: 82, 183, 213;
  --color-blue-rgb: 122, 162, 247;
  --color-pink-rgb: 250, 153, 205;
  --color-teal-rgb: 62, 180, 191;
  --color-green-rgb: 34, 208, 162;
  --color-yellow-rgb: 224, 222, 113;
  --color-orange-rgb: 237, 139, 79;
  --color-red-rgb: 219, 75, 75;
  --color-purple-rgb: 149, 128, 255;
  --text-accent: hsl(var(--accent-h), 85%, 75%);
  --text-accent-hover: hsl(var(--accent-h), 90%, 84%);
  --text-highlight-bg: var(--base-40);
  --text-selection: var(--base-50);
  --background-modifier-border: var(--base-45);
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-border-focus: var(--base-35);
  --background-modifier-border-hover: var(--base-40);
  --background-modifier-hover: hsla(var(--base-hue), 50%, 80%, 0.05);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --color-accent-hsl: var(--accent-h), var(--accent-s), 70%;
  --color-accent: hsl(var(--color-accent-hsl));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), 70%);
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), 75%);
  --interactive-normal: var(--base-45);
  --interactive-hover: var(--base-40);
  --mono-rgb-100: 255, 255, 255;

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
