:root {
}

body {
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --accent-h: 354;
  --accent-s: 100%;
  --accent-l: 64%;
  --color-red-rgb: 255, 71, 90;
  --color-red: rgb(var(--color-red-rgb));
  --color-green-rgb: 163, 190, 140;
  --color-green: rgb(var(--color-green-rgb));
  --color-orange: #fde3c0;
  --color-yellow: #ffcb6b;
  --color-cyan: #89ddff;
  --color-blue: #82aaff;
  --color-purple: #c792ea;
  --color-pink: #ffc0cb;
  --color-base-00: #0f111a;
  --color-base-10: #0b0d13;
  --color-base-20: #090b10;
  --color-base-25: #0b0d13;
  --color-base-30: #1e2537;
  --color-base-35: #11131e;
  --color-base-40: #1e2537;
  --color-base-50: #697086;
  --color-base-60: #697086;
  --color-base-70: #9093a2;
  --color-base-100: #b6b7be;
  --blockquote-color: var(--text-muted);
  --h1-color: var(--text-accent);
  --h2-color: var(--text-accent);
  --h3-color: var(--text-accent);
  --h4-color: var(--text-accent);
  --h5-color: var(--text-accent);
  --h6-color: var(--text-accent);
  --list-marker-color: var(--text-muted);
  --list-marker-color-collapsed: var(--text-muted);
  --collapse-icon-color: var(--text-faint);
  --collapse-icon-color-collapsed: var(--text-faint);
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: #00010a;
  --scrollbar-active-thumb-bg: var(--color-accent);
  --graph-line: var(--color-base-30);
  --interactive-normal: var(--color-base-30);
  --background-modifier-hover: var(--color-base-35);
  --table-header-background: var(--background-modifier-hover);
  --table-header-background-hover: var(--background-modifier-hover);
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary);
  --modal-background: var(--background-primary);
  --text-highlight-bg: var(--text-accent);
  --tag-padding-y: 0.23em;
  --callout-padding: var(--size-4-4) var(--size-4-4) var(--size-4-4) var(--size-4-5);
  --lucide-x: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  --lucide-minus: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
  --lucide-maximize: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M8 3H5a2 2 0 0 0-2 2v3'%3E%3C/path%3E%3Cpath d='M21 8V5a2 2 0 0 0-2-2h-3'%3E%3C/path%3E%3Cpath d='M3 16v3a2 2 0 0 0 2 2h3'%3E%3C/path%3E%3Cpath d='M16 21h3a2 2 0 0 0 2-2v-3'%3E%3C/path%3E%3C/svg%3E");
  --lucide-calendar-days: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3Cpath d='M8 14h.01'%3E%3C/path%3E%3Cpath d='M12 14h.01'%3E%3C/path%3E%3Cpath d='M16 14h.01'%3E%3C/path%3E%3Cpath d='M8 18h.01'%3E%3C/path%3E%3Cpath d='M12 18h.01'%3E%3C/path%3E%3Cpath d='M16 18h.01'%3E%3C/path%3E%3C/svg%3E");
  --background-modifier-hover: var(--color-accent-1);
  --fc-now-indicator-color: var(--color-accent);
  --fc-small-font-size: var(--font-ui-small);
  --fc-border-color: var(--interactive-normal);
  --fc-button-bg-color: var(--color-base-20);
  --fc-button-border-color: transparent;
  --fc-neutral-bg-color: var(--color-base-20);
}
