.theme-dark .dialogue-plugin-message .dialogue-plugin-message-content {
  background: #343434;
}

.theme-dark .dialogue-plugin-message .dialogue-plugin-message-content:after {
  background: #343434;
}

body.theme-dark .chat-view-align-left .chat-view-message {
  background: #343434;
}

body.theme-dark .chat-view-align-center .chat-view-message {
  background: #3cb676;
  color: black;
}

body.theme-dark .chat-view-align-center .chat-view-message:after {
  background: #3cb676;
}

body.theme-dark .chat-view-align-left .chat-view-message:after {
  background: #343434;
}
