.color-scheme-dracula-soft {
  --bg: #292a35;
  --fg: #f6f6f5;
  --selection: #7c7f8a;
  --comment: #70747f;
  --orange: #fdc38e;
  --black: #1c1c1c;
  --red: #dd6e6b;
  --green: #87e58e;
  --yellow: #e8eda2;
  --purple: #baa0e8;
  --pink: #e48cc1;
  --cyan: #a7dfef;
  --white: #f6f6f5;
  --bright-red: #e1837f;
  --bright-green: #97eda2;
  --bright-yellow: #f6f6b6;
  --bright-blue: #d0b5f3;
  --bright-magenta: #e7a1d7;
  --bright-cyan: #bcf4f5;
  --bright-white: #ffffff;
  --menu: #21222c;
  --visual: #3e4452;
  --gutter-fg: #4b5263;
  --nontext: #3b4048;
  --color-red: var(--red);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-cyan: var(--cyan);
  --color-blue: var(--comment);
  --color-purple: var(--purple);
  --color-pink: var(--pink);
  --h2-color: var(--pink);
  --background-primary: var(--bg);
  --background-secondary: var(--menu);
  --selection-background-color: var(--selection);
  --border-color-primary: var(--gutter-fg);
  --border-color-secondary: var(--visual);
  --text-color: var(--fg);
  --text-color-accent: white;
  --text-color-muted-dark: var(--nontext);
  --text-color-muted-light: var(--gutter-fg);
  --accent-color-dark: var(--purple);
  --accent-color-light: var(--pink);
  --accent-color-hover: var(--green);
  --accent-h: 262;
  --accent-s: 61%;
  --accent-l: 77%;
  --canvas-color: 186, 160, 232 !important;
  --code-important: var(--color-yellow);
  --code-boolean: var(--purple);
  --code-builtin: var(--green);
  --code-comment: var(--comment);
  --code-definition: var(--text-color);
  --code-keyword: var(--pink);
  --code-operator: var(--pink);
  --code-property: var(--green);
  --code-parentheses: var(--cyan);
  --code-string: var(--yellow);
  --code-value: var(--purple);
  --code-variable: var(--purple);
}
