:root,
body {
  --1: #bf616a;
  --2: #d08770;
  --3: #ebcb8b;
  --4: #a3be8c;
  --5: #8fbcbb;
  --6: #88c0d0;
  --h1-color: var(--1);
  --h2-color: var(--2);
  --h3-color: var(--3);
  --h4-color: var(--4);
  --h5-color: var(--5);
  --h6-color: var(--6);
}
