:root:root {
  --background-primary: #1e1e1e;
  --background-primary-alt: #1e2127;
  --background-secondary: #15111e;
  --background-secondary-alt: #0a080f;
  --text-normal: #b7b7b7;
  --text-accent: rgba(184, 71, 255, 0.8);
  --text-sub-accent: rgba(255, 40, 137, 0.8);
  --text-dim: rgba(69, 170, 255, 0.8);
  --text-faint: rgba(122, 162, 247, 0.8);
  --text-title-1: rgba(216, 253, 7, 0.8);
  --text-title-2: rgba(253, 49, 6, 0.8);
  --code-background: var(--background-secondary);
  --quote-background: var(--background-primary-alt);
  --text-highlight-bg: rgba(192, 205, 14, 0.8);
  --nightingale-red: rgba(203, 16, 16, 0.8);
  --nightingale-green: rgba(15, 197, 85, 0.8);
  --nightingale-blue: rgba(1, 65, 203, 1);
  --nightingale-darkblue: rgba(0, 26, 112, 1);
  --nightingale-skyblue: rgba(69, 170, 255, 1);
  --nightingale-yellow: rgba(173, 144, 1, 0.8);
  --nightingale-pink: rgba(251, 169, 245, 0.7);
  --nightingale-cyan: rgba(23, 255, 221, 0.7);
  --nightingale-orange: rgba(252, 123, 30, 0.8);
  --nightingale-brown: rgba(127, 60, 0, 1);
  --nightingale-golden: rgba(255, 200, 0, 0.8);
  --nightingale-transparent-blue: rgba(69, 170, 255, 0.18);
  --nightingale-transparent-darkblue: rgba(0, 26, 112, 0.2);
  --interactive-accent: rgba(27, 128, 210, 0.842);
  --interactive-accent-hover: rgba(14, 210, 247, 0.8);
  --interactive-before: #5e6565;
  --interactive-accent-rgb: #3dd7fb;
  --background-modifier-border: rgba(14, 210, 247, 0.05);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
