@font-face {
  font-family: "Deadhead Script";
  font-style: normal;
  font-weight: 400;
  src:
    local("Deadhead Script"),
    url("https://fonts.cdnfonts.com/s/16790/Deadhead Script.woff")
      format("woff");
}
@font-face {
  font-family: "Deadhead Script";
  font-style: normal;
  font-weight: 400;
  src:
    local("Deadhead Script"),
    url("https://fonts.cdnfonts.com/s/16790/Deadhead Script.woff")
      format("woff");
}
@font-face {
  font-family: "Deadhead Rough";
  font-style: normal;
  font-weight: 400;
  src:
    local("Deadhead Script"),
    url("https://fonts.cdnfonts.com/s/16790/Deadhead Script.woff")
      format("woff");
}
@font-face {
  font-family: "Deadhead Rough";
  font-style: normal;
  font-weight: 400;
  src:
    local("Deadhead Script"),
    url("https://fonts.cdnfonts.com/s/16790/Deadhead Script.woff")
      format("woff");
}
