:root:root {
  --background-primary: #2c333d;
  --background-primary-alt: #232932;
  --background-secondary: #232932;
  --background-secondary-alt: #2c333d;
  --background-accent: #d2d8e1;
  --background-modifier-border: #d2d8e1;
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #61d29d;
  --background-modifier-error: #ef4d44;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #ef4d44;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #61d29d;
  --text-accent-second: #f0d879;
  --text-accent-hover: #c9a9f9;
  --text-normal: #d2d8e1;
  --text-muted: #d2d8e1;
  --text-faint: #909fb5;
  --text-highlight-bg: #4271ae;
  --text-error: #ef4d44;
  --text-error-hover: #ef4d44;
  --text-selection: #434d5b;
  --text-on-accent: #434d5b;
  --interactive-normal: #facb68;
  --interactive-hover: #ef4d44;
  --interactive-accent: #61d29d;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #c9a9f9;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --accent-h: 152;
  --accent-s: 56%;
  --accent-l: 60%;
  --text-title-h1: #f0d879;
  --text-title-h2: #61d29d;
  --text-title-h3: #ec9076;
  --text-title-h4: #6ab8e5;
  --text-title-h5: #7dcbc4;
  --text-title-h6: #4271ae;
  --inline-code: #6ab8e5;
  --code-block: #6ab8e5;
  --pre-code: #434d5b;
  --blockquote-border: #facb68;
  --vim-cursor: #ec9076;
  --border-color: #232932;

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
