:root[saved-theme="dark"] {
  --text: rgb(221, 221, 253);
  --background-primary: rgb(2, 4, 34);
  --background-secondary: rgb(0, 0, 0);
  --primary: rgb(119, 248, 194);
  --secondary: rgb(7, 151, 57);
  --accent: rgb(155, 182, 47);
  --highlight-hue: 30;
  --italic-color: #82c0e9;
  --bold-color: #d86679;
  --h1-color: #ffc444;
  --h2-color: #faa250;
  --h3-color: #f88765;
  --h4-color: #f88773;
  --h5-color: #f88773;
  --h6-color: #f88773;

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
