:root[saved-theme="light"] {
  --text: rgb(2, 2, 34);
  --background-primary: rgb(221, 223, 253);
  --background-secondary: rgb(255, 255, 255);
  --primary: rgb(7, 136, 82);
  --secondary: rgb(104, 248, 154);
  --accent: rgb(181, 208, 73);
  --highlight-hue: 30;
  --italic-color: #82c0e9;
  --bold-color: #d86679;
  --h1-color: #ffc444;
  --h2-color: #faa250;
  --h3-color: #f88765;
  --h4-color: #f88773;
  --h5-color: #f88773;
  --h6-color: #f88773;

  code[data-theme*=" "] {
    --shiki-dark: var(--shiki-light) !important;
    --shiki-dark-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-dark: var(--shiki-light) !important;
      --shiki-dark-bg: var(--shiki-light-bg) !important;
    }
  }
}
