body:not(.no-pomodoro) {
  --pomodoro-timer-dot-color: var(--color-pink);
  --pomodoro-timer-color: var(--text-selection);
  .timer {
    stroke-linecap: round;
  }
  .circle_timer {
    stroke-width: 10px;
  }
}
