bod.theme-light {
  --code-keyword: #3bd4da;
  --code-tag: #c74df7;
  --code-function: #bf616a;
  --code-important: #3bd4da;
  --code-active-line-background-color: hsla(17, 44%, 32%, 0.05);
  --code-string-2: #cc7523;
  --code-variable-2: #b74ff3;
  --code-meta: #7f7f7f;
  --background-code: #ebebeb71;
  --background-code-2: #cccccc62;
  --text-color-code: #e95d00;
}
