/*===================================== INFORMATION =================================================
This theme uses content created by other theme creators.
Wherever such content is used, their author is attributed.
If you have any questions or concerns, please contact me on GitHub: https://github.com/Spekulucius */

/*========== STYLE SETTINGS ================*/
/* @settings

name: Theme Settings
id: Brainhack
description: "Thank you for using my theme. If you encounter issues or have suggestions, please open a ticket on my GitHub repo <3"
settings:
    -
        id: Text and Spacing
        title: Text and Spacing
        type: heading
        collapsed: ture
        level: 2
    -
        id: custom-font-weight
        title: Adjust Font Weight
        description: 
        type: variable-number-slider
        default: 300
        min: 100
        max: 900
        step: 100
    -
        id: custom-letter-spacing
        title: Adjust Letter Spacing
        description:
        type: variable-number-slider
        format: px
        default: 0.1
        min: -.5
        max: 1.5
        step: .1
    -
        id: custom-line-height
        title: Adjust Line Spacing
        description:
        type: variable-number-slider
        format:
        default: 1.5
        min: 1.5
        max: 2.5
        step: .1
    -
        id: Colors
        title: Colors
        type: heading
        collapsed: ture
        level: 2
    -
        id: bgt_s
        title: Adjust Background Saturation
        type: variable-number-slider
        default: 1
        min: 0
        max: 100
        step: 1
    - 
        id: bgt_l
        title: Adjust Background Brightness
        type: variable-number-slider
        default: 0
        min: -10
        max: 10
        step: 1
    -
        id: Experimental Settings
        title: Experimental Settings
        type: heading
        collapsed: ture
        level: 2
    - 
        id: cbr
        title: Custom Workspace Border Radius
        type: variable-number-slider
        default: 20
        min: 0
        max: 50
        step: 1
        format: px
    -
        id: crm
        title: Custom Workspace Element Radius
        type: variable-number-slider
        default: 1
        min: 0
        max: 2
        step: 0.1
        format: em
    -
        id: status-bar-hover
        title: Hide Status Bar
        description: Only show the status bar when hovering over it
        type: class-toggle
    -
        id: greyscale-toggle
        title: Enable Greyscale Images
        type: class-toggle
    -
        id: enhanced-folders
        title: Enable Enhanced Folders
        description: Opened folders get highlighted
        type: class-toggle
*/

/*////////////////////////////////////////////////////////////////// COLORS ///////////////////////////////////////////////////////////////////////////////*/
body {

    --canvas-dot-pattern: var(--background-3-1);
    --colored-accent-4: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);
    --radius-m: var(--crm, 1em);
}

.theme-light, .theme-dark {
    --colored-accent-i1: hsl(var(--accent-h), var(--accent-s), calc(calc(var(--accent-l) - 49%)*-100));
    --colored-accent-i2: hsl(var(--accent-h), var(--accent-s), calc(calc(var(--accent-l) - 20%)*-100));
    --colored-accent-1: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --colored-accent-2: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);
    --colored-accent-3: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.3);
    --colored-accent-5: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.05);
    --shadow-1: hsla(var(--accent-h), var(--accent-s), 5%, .5);
    --custom-accent-bold: var(--colored-accent-1);
    
    --background-secondary: var(--background-2);
    --canvas-background: var(--background-2);
    --code-background: var(--background-3);

}

.theme-light {
    --background-primary: hsl(var(--background-2_h), calc(calc(var(--accent-s) * .2) + calc(.5% * var(--bgt_s, 1))), calc(calc(var(--background-2_l) - 5%) + calc(calc(var(--bgt_l, 0) * 1%) + 4%)));

    --background-1: hsl(var(--accent-h), calc(var(--accent-s) - 20%), 90%, 100%);
    --background-1_2: rgb(234, 234, 234);
    --background-1-h: #bdbdbd;
    --background-1-item: var(--nav-item-color);

    --background-2_h: var(--accent-h);
    --background-2_s: 10%;
    --background-2_l: 99%;
    --background-2: rgb(255, 255, 255);

    --background-3: hsl(0, 0%, 98%);
    --background-3-1: rgb(197, 197, 197);
    --background-3-2: rgba(197, 197, 197, 0.288);
    --background-4: white;
    --background-5: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 90%);
    --background-6: hsla(var(--accent-h), var(--accent-s), var(--accent-l), .2);  
    --background-7: rgb(206, 206, 206);
    
    --highlight-1: rgba(0, 0, 0, 0.056);
    --highlight-2: rgba(214, 214, 214, 0.308);

    --shadow-2: rgba(0, 0, 0, 0.257);
    --shadow-3: rgba(0, 0, 0, 0.08);
    --shadow-4: hsla(var(--background-2_h), calc(calc(var(--accent-s) * .5) + calc(.1% * var(--bgt_s, 1))), calc(calc(var(--background-2_l) - 20%) + calc(var(--bgt_l, 0) * 1%)), .2);


    --divider-color: rgba(200, 200, 200, 0.441);

    --color-base-00: var(--background-3);
    --color-base-50: var(--colored-accent-1) !important;
    --interactive-accent: var(--colored-accent-1);
    --icon-color: var(--colored-accent-1);
    --text-color-inverted: black;
    --tc: rgb(67, 67, 67);
    --italic-color: rgb(154, 154, 154);
    --canvas-background: var(--background-2);
    --code-background: var(--background-1_2);

    --main-color: black;
    --main-color-2:rgb(56, 56, 56);
    --main-color-inverted: white;
    --main-color-inverted-2: rgb(252, 252, 252);
    --main-color-05: rgba(0, 0, 0, 0.116);
}

.theme-dark {
    --background-1: #171717;
    --background-1-h: var(--colored-accent-1);
    --background-1-item: var(--nav-item-color);

    --background-2_h: var(--accent-h);
    --background-2_s: 0%;
    --background-2_l: 10%;
    --background-2: hsl(var(--background-2_h), calc(calc(var(--accent-s) * .01) + calc(.1% * var(--bgt_s, 1))), calc(var(--background-2_l) + calc(calc(var(--bgt_l, 0) * 1%) + 2%)));

    --background-3: rgb(33, 33, 33);
    --background-3-1: rgb(70, 70, 70);
    --background-3-2: rgba(70, 70, 70, 0.27);
    --background-4: rgb(12, 12, 12);
    --background-5: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 30%);
    --background-6: hsla(var(--accent-h), calc(var(--accent-s) * .1), var(--accent-l), 0.2);
    --background-7: rgb(46, 46, 46);

    --highlight-1: rgba(255, 255, 255, 0.075);
    --highlight-2: rgba(255, 255, 255, 0.075);

    --shadow-2: hsla(var(--accent-h), calc(var(--accent-s) * 0), calc(var(--accent-l) * .1), .4);
    --shadow-3: rgba(0, 0, 0, 0.26);
    --shadow-4: hsla(var(--background-2_h), calc(calc(var(--accent-s) * .5) + calc(.1% * var(--bgt_s, 1))), calc(calc(var(--background-2_l) - 20%) + calc(var(--bgt_l, 0) * 1%)), .5);

    --divider-color: rgba(105, 105, 105, 0.441);

    --color-base-00: var(--background-3);
    --color-base-50: var(--colored-accent-1) !important;
    --interactive-accent: var(--colored-accent-1);
    --text-color-inverted: rgb(223, 223, 223);
    --tc: rgb(194, 194, 194);
    --italic-color: rgb(97, 97, 97);

    --main-color: white;
    --main-color-2: rgb(224, 224, 224);
    --main-color-inverted: black;
    --main-color-inverted-2: rgb(44, 44, 44);
    --main-color-05: rgba(255, 255, 255, 0.116);
}


/*////////////////////////////////////////////////////////////////////////////// MAIN BODY - GENERAL CONFIG //////////////////////////////////////////////////////////////////////////////*/
/*============================= ADJUST SPACING OF MAIN BODY ===================================*/
body:not(.is-mobile)
.workspace {
    background-color: transparent;
    right: 10px !important;
    position: relative;
    overflow: visible;
    display: flex;
    flex: 1 0 0;
    width: calc(100% - 10px) !important;
    margin-left: 10px;
}
body:not(.is-mobile)
.horizontal-main-container {
    padding-bottom: 10px;
    display: flex;
    overflow: visible;
    flex: 1 0 0;
    background: transparent;
}
body:not(.is-mobile):not(.show-ribbon)
.horizontal-main-container {
    padding-left: 10px;
}

body:not(.is-mobile):not(.show-ribbon) .workspace:before {
    width: 100%;
}
/*============== Ribbon ===========================*/
.workspace-ribbon.side-dock-ribbon.mod-left {
    flex-basis: 44px;
    background: transparent !important;
}
/*==================== REMOVE BORDERS ===============================*/
.workspace-tab-header-container, .workspace-ribbon.side-dock-ribbon.mod-left {
    border: none !important;
}
.workspace-tab-header-container {
    background: transparent;
}

/*============== ADD NEW BORDERS =====================*/
.workspace:not(.is-mobile)::before {
    content: " ";
    width: 100%;
    height: calc(100% - 40px);
    background-color: transparent;
    border-radius: var(--cbr, 20px);
    position: absolute;
    bottom: 0px;
    right: 0px;
    box-shadow: 0px 0px 0px 1px var(--divider-color), 0 0 5px 1px var(--shadow-4);
}
/*adjust borders to align with ribbon animation*/
body:has(.show-ribbon):not(.is-mobile),:has(.workspace-ribbon.side-dock-ribbon:hover) .workspace::before {
    width: calc(100% - 44px);
    transition-duration: .1s;
}

body:has(.show-ribbon):not(.is-mobile),:has(.workspace-ribbon.side-dock-ribbon) .workspace::before {
    width: calc(100% - 44px);
    transition: all .5s ease;
}

/*================ ADJUST WORKSPACE BACKGROUND ========================*/
.titlebar-button-container.mod-right:not(.is-mobile),
.workspace-split:not(.is-mobile) {
    background: transparent !important;
}

/*===== mobile fix */ body.is-mobile .titlebar-button-container.mod-right, body.is-mobile .workspace-split {background: var(--background-4) !important;}


.view-header,
.workspace-split.mod-left-split .workspace-sidedock-vault-profile,
.empty-state,
.markdown-rendered,
.community-modal-details,
.workspace-tab-container,
.cm-scroller {
    background-color: var(--background-2) !important;
}
.workspace-tabs:not(.mod-top) {
    background: var(--background-2);
}



/*==================== ADJUST RESIZE HANDLES ====================*/
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle { 
    height: calc(var(--divider-vertical-height) - var(--header-height)) !important;
    bottom: 0px !important;
    border-right-style: dashed;
}

.workspace-split.mod-right-split > .workspace-leaf-resize-handle { 
    height: calc(var(--divider-vertical-height) - var(--header-height)) !important;
    bottom: 0px !important;
    border-left-style: dashed;
}

/*=================== workspace rounded corners ===================*/
body:has(.workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed):not(.is-mobile)
.mod-root {
    border-bottom-left-radius: var(--cbr, 20px) !important;
    overflow: hidden;
}
body:not(.is-mobile)
.workspace:not(.is-right-sidedock-open)
.mod-root {
    border-bottom-right-radius: var(--cbr, 20px) !important;
    overflow: hidden;
}
body:not(.is-mobile)
.workspace:not(.is-right-sidedock-open)
.workspace-split:last-of-type .mod-top-right-space .workspace-tab-container {
    border-top-right-radius: var(--cbr, 20px);
}
body:not(.is-mobile)
.mod-top-left-space .workspace-tab-container {
    border-top-left-radius: var(--cbr, 20px) !important;
}
body:not(.is-mobile)
.workspace:not(.is-right-sidedock-open)
.workspace-tabs.mod-top-right-space:last-of-type .workspace-tab-container {
    border-top-right-radius: var(--cbr, 20px);
}
body:not(.is-mobile)
.mod-sidedock.mod-right-split{
    border-bottom-right-radius: var(--cbr, 20px);
    overflow: hidden !important;
}
body:not(.is-mobile)
.workspace-sidedock-vault-profile {
    border-bottom-left-radius: var(--cbr, 20px);
    background: var(--background-3) !important;
    border-bottom-right-radius: 0px !important;
}
body:not(.is-mobile)
.mod-sidedock.mod-right-split .workspace-tabs.mod-top .workspace-tab-container {
    border-top-right-radius: var(--cbr, 20px);
}
body:not(.is-mobile)
.mod-sidedock.mod-left-split .workspace-tabs.mod-top .workspace-tab-container {
    border-top-left-radius: var(--cbr, 20px);
}
/*////////////////////////////////////////////////////////////////////////////// MAIN BODY - TAB BAR //////////////////////////////////////////////////////////////////////////////*/
/*========================= TABS ===========================*/
body > div.app-container > div.horizontal-main-container > div > div.workspace-split.mod-vertical.mod-root > div > div.workspace-tab-header-container {
    padding-bottom: 3px;
}
.workspace-split.mod-vertical .workspace-tab-header-container-inner { 
    margin-top: 5px !important;
    padding-top: 1.5px !important;
    gap: 2px;
}
.workspace .mod-root .workspace-tab-header {
    box-shadow: none;
    padding-bottom: 5.5px;
    background: transparent;
    margin-left: 0px;
    padding-left: 0px;
}
/*tabs AND buttons height adjustment*/
.workspace-tab-header.tappable {
    margin-top: -2px;
    margin-bottom: -1px;
}
/*Tabs text color */
.mod-vertical .workspace-tab-header.tappable.is-active .workspace-tab-header-inner-title {
    color: var(--text-color-inverted) !important;
}
.mod-vertical .workspace-tab-header.tappable .workspace-tab-header-inner-title {
    color: var(--tc) !important;
}
/*Tab headers*/
.mod-vertical .workspace-tabs:not(.mod-stacked) .workspace-tab-header.tappable .workspace-tab-header-inner {
    border-radius: 7px;
    position: relative;
    background-color: var(--background-6);
    transition: all .5s !important;
        &:hover {
        background-color: var(--colored-accent-2) !important;
        color: var(--colored-accent-i1) !important;
        }
}
.mod-vertical .workspace-tabs:is(.mod-stacked) .workspace-tab-header.tappable .workspace-tab-header-inner {
    position: relative;
    transition: all .5s !important;
        &:hover {
        background-color: var(--colored-accent-2) !important;
        color: var(--colored-accent-i1) !important;
        }
}
.mod-vertical .workspace-tabs:is(.mod-stacked) .workspace-tab-header {
    box-shadow: none !important;
    transform: scale(1.001);
}

.mod-vertical .workspace-tab-header.tappable.is-active .workspace-tab-header-inner {
    position: relative;
    background-color: var(--colored-accent-3) !important;
    border: .05em dashed var(--colored-accent-1);
    font-weight: 600;
    transition: all .5s !important;
    transform: scale(1);
        &:hover {
        background-color: var(--colored-accent-2) !important;
        color: var(--colored-accent-i2) !important;
    }
}

.workspace-tab-header-inner-close-button {
    color: var(--colored-accent-i1) !important;
    border-radius: 5px;
    transition: all .2s !important;
            &:hover {
        background-color: rgba(255, 255, 255, 0.7) !important;
        color: var(--colored-accent-i1) !important;
    }
}

body > div.app-container > div.horizontal-main-container > div > div.workspace-split.mod-vertical.mod-root > div > div.workspace-tab-container {
    overflow: hidden;
}

/*Macos sidebar toggle button fix*/
.sidebar-toggle-button.mod-right {
    background: transparent !important;
}


/*win-app-symbols*/
body > div.titlebar > div > div.titlebar-button-container.mod-right > div.titlebar-button.mod-minimize,
body > div.titlebar > div > div.titlebar-button-container.mod-right > div.titlebar-button.mod-maximize,
body > div.titlebar > div > div.titlebar-button-container.mod-right > div.titlebar-button.mod-close {
    border-radius: 10px;
    padding: 0px 9px 0px 9px;
    margin: 0px 5px 0px 5px;
}
body > div.titlebar > div > div.titlebar-button-container.mod-right {
    padding: 5px;
}


/*////////////////////////////////////////////////////////////////////////////// LEFT WORKSPACE / RIBBON //////////////////////////////////////////////////////////////////////////////*/

.tree-item.nav-file .tree-item-self.nav-file-title {
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .8em;
    &.is-active {
        color:var(--main-color);
    }
}

.tree-item-self.nav-folder-title.is-clickable {
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .8em;
}


.tree-item.nav-folder .nav-folder-title:not(:has(.is-collapsed)) {
    color: var(--main-color);
    font-weight: 900;
    &:hover {
        color: var(--main-color);
        font-weight: 900;
    }
}
.enhanced-folders
.tree-item.nav-folder:not(.is-collapsed):not(:has(.tree-item.nav-folder:not(.is-collapsed))) {
    background: var(--background-3-2);
    border-radius: .8em;
    transition: .4s;
}




/*=============== HIDE ATTACHMENT FOLDER: "000_attachments_000" - if used ==================*/
div[data-path$='000_attachments_000'], 
div[data-path$='000_attachments_000'] + div.nav-folder-children 
{
    display: none;
}



/*=========================================== Settings general styling ===================================================*/

/* settings switches background */
.checkbox-container.is-enabled {
    background-color: var(--colored-accent-2);
}
/* settings switches auto coloring */
.checkbox-container.is-enabled::after {
    transition: .2s;
}







body > div.app-container > div.horizontal-main-container > div > div.workspace-split.mod-horizontal.mod-sidedock.mod-left-split > div.workspace-tabs.mod-top.mod-top-left-space > div.workspace-tab-header-container > div.workspace-tab-header-container-inner > div.workspace-tab-header.tappable {
    margin-top: -1px;
}





body:not(.native-scrollbars) ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}








/***************SETTINGS MODS********************/
.setting-item-control .mod-cta {
    color: var(--main-color-inverted);
    border-radius: 20em;
    padding-top: var(--button-padding);
    padding-bottom: var(--button-padding);
    --button-padding: 1.3em;
    background: var(--main-color);
    &:hover {
        background: var(--main-color-2);
    }
}

.setting-item-control .dropdown {
    height: 2.5em;
    border-radius: 1em;
    box-shadow: inset 0 0 0 .04em var(--background-3-1), 0 0 .35em var(--shadow-3) !important;
}

.setting-item-control button {
    height: 2.5em;
    border-radius: 10em;
    box-shadow: inset 0 0 0 .05em var(--background-3-1);
    background: var(--main-color-inverted-2);
    &:hover {
    box-shadow: inset 0 0 0 .05em var(--background-3-1), 0 0 .35em var(--shadow-3) !important;
    }
}

body > div.modal-container.mod-dim > div.modal.mod-settings.mod-sidebar-layout > div.modal-content.vertical-tabs-container > div.vertical-tab-header {
    border: none;
    background: var(--background-primary)
}

.modal-content.vertical-tabs-container .vertical-tab-header .vertical-tab-header-group .vertical-tab-header-group-items .vertical-tab-nav-item {
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .8em;
}

.modal-content.vertical-tabs-container .vertical-tab-header .vertical-tab-header-group .vertical-tab-header-group-items .vertical-tab-nav-item.is-active {
    background: var(--main-color-05);
    color: var(--text-color-inverted)
}
















































.callout[data-callout="note"] {
    background: rgba(68, 138, 255, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(68, 138, 255, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(68, 138, 255, .5);
    }
    & .callout-icon {
    display: flex;
}
}


.callout[data-callout="abstract"], .callout[data-callout="summary"], .callout[data-callout="tldr"] {
    background: rgba(0, 176, 255, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(0, 176, 255, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(0, 176, 255, .5);
    }
    & .callout-icon {
    display: flex;
}
}


.callout[data-callout="info"] {
    background: rgba(0, 184, 212, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(0, 184, 212, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(0, 184, 212, .5);
    }
    & .callout-icon {
    display: flex;
}
}


.callout[data-callout="todo"] {
    background: rgba(0, 184, 212, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(0, 184, 212, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(0, 184, 212, .5);
    }
    & .callout-icon {
    display: flex;
}
}


.callout[data-callout="tip"], .callout[data-callout="hint"], .callout[data-callout="important"] {
    background: rgba(0, 191, 165, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(0, 191, 165, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(0, 191, 165, .5);
    }
    & .callout-icon {
    display: flex;
}
}



.callout[data-callout="success"], .callout[data-callout="check"], .callout[data-callout="done"] {
    background: rgba(0, 200, 83, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(0, 200, 83, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(0, 200, 83, .5);
    }
    & .callout-icon {
    display: flex;
}
}


.callout[data-callout="question"], .callout[data-callout="help"], .callout[data-callout="faq"] {
    background: rgba(255, 160, 0, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(255, 160, 0, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(255, 160, 0, .5);
    }
    & .callout-icon {
    display: flex;
}
}


.callout[data-callout="warning"], .callout[data-callout="caution"], .callout[data-callout="attention"] {
    background: rgba(255, 145, 0, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(255, 145, 0, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(255, 145, 0, .5);
    }
    & .callout-icon {
    display: flex;
}
}


.callout[data-callout="failure"], .callout[data-callout="fail"], .callout[data-callout="missing"] {
    background: rgba(255, 82, 82, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(255, 82, 82, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(255, 82, 82, .5);
    }
    & .callout-icon {
    display: flex;
}
}


.callout[data-callout="danger"], .callout[data-callout="error"] {
    background: rgba(255, 82, 82, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(255, 82, 82, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(255, 82, 82, .5);
    }
    & .callout-icon {
    display: flex;
}
}


.callout[data-callout="bug"] {
    background: rgba(245, 0, 87, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(245, 0, 87, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(245, 0, 87, .5);
    }
    & .callout-icon {
    display: flex;
}
}


.callout[data-callout="example"] {
    background: rgba(124, 77, 255, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(124, 77, 255, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(124, 77, 255, .5);
    }
    & .callout-icon {
    display: flex;
}
}


.callout[data-callout="quote"], .callout[data-callout="cite"] {
    background: rgba(158, 158, 158, .1) !important;
    box-shadow: inset 0 0 0 .04em rgba(158, 158, 158, .5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: rgba(158, 158, 158, .5);
    }
    & .callout-icon {
    display: flex;
}
}


.callout[data-callout="brainhack"] {
    background: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1) !important;
    box-shadow: inset 0 0 0 .04em hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5), 0 0 .35em var(--shadow-3) !important;
    & .callout-title {
        border-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);
    }
}
























/*================================= EDITOR =================================*/
.callout {
    color: inherit;
    margin-bottom: .5em !important;
    margin-top: .5em !important;
    border-radius: var(--radius-m);
    --callout-padding: 0;
    --callout-title-color: inherit;
    --callout-title-padding: 4px 10px;
    --callout-title-size: inherit;
    --callout-content-radius: 0px;
    --callout-blend-mode: normal !important;
    background: var(--background-3);
    box-shadow: inset 0 0 0 .04em var(--background-3-1), 0 0 .35em var(--shadow-3) !important;
    overflow: hidden !important;
}

.markdown-preview-view .callout:not(.callout-content .callout) {
    margin-bottom: 2em !important;
    margin-top: 1em !important;
}
.callout-content {
    padding: .8em;
    padding-top: .5em;
}

.callout-content > *:first-child {
    margin-top: 0 !important;
}
.callout-content > *:first-child:is(blockquote) {
    margin-top: .2em !important;
}
.callout-content > *:last-child {
    margin-bottom: 0 !important;
}
blockquote > *:first-child {
    margin-top: 0 !important;
}
blockquote > *:last-child {
    margin-bottom: 0 !important;
}
.cm-embed-block:hover {
    box-shadow: 0 0 rgba(255, 0, 0, 0) !important;
}

.cm-embed-block.cm-callout {
    border-radius: 10px;
    bottom: 0 !important;
    overflow: hidden !important;
}
.callout-content, .blockquote {
    overflow: hidden !important;
}
.callout-title {
    color: var(--text-color-inverted);
    font-size: 1.3em;
    border-bottom: dashed .1em var(--background-3-1);
    margin-left: .6em;
    margin-right: 10px;
    padding-left: 0em;
    padding-right: 0px;
    padding-bottom: .15em;
    padding-top:.3em;
}


.callout.is-collapsible.is-collapsed .callout-title {
    border-bottom: transparent !important;
}

.callout-title-inner {
    font-weight: 700;
}


.markdown-rendered blockquote,
.blockquote,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote{
    border-radius: var(--radius-m);
    background-color: var(--background-3);
    border-left: none;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .5em;
    padding-bottom: .5em !important;
    margin-top: 1em;
    margin-bottom: 1em;
}
.markdown-rendered blockquote:before,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before {
    z-index: -1;
    width: 100%;
    border-radius: var(--radius-m);
    box-shadow: 0 0 0 .04em var(--background-3-1), 0 0 .35em var(--shadow-3);
}



.el-blockquote, blockquote {
    width: 100%;
    border-radius: var(--radius-m);
    box-shadow: 0 0 0 .04em var(--background-3-1), 0 0 .35em var(--shadow-3);
}

.callout-content ol {
    margin-top: 0em;
    margin-bottom: .5em;
}


blockquote > ol>:last-child {
    padding-bottom: 0em !important;
    margin-bottom: 0em !important;
}
blockquote > ol>:first-child {
    padding-top: 0em !important;
    margin-top: 0em !important;
}


.callout-icon {
    display: none;
}
.markdown-preview-view .callout.is-collapsible:hover {
    box-shadow: 0 0 0px 2px rgba(115, 115, 115, 0.508);
}
.is-live-preview .HyperMD-quote:before {
    border: 0px solid transparent !important;
}

.callout-content blockquote {
    border-radius: calc(var(--radius-m) - .3em);
}
.callout-content .callout {
    border-radius: calc(var(--radius-m) - .3em);
}

blockquote > blockquote {
    border-radius: calc(var(--radius-m) - .3em) !important;
}


/* Even columns */
.callout[data-callout="2"] > .callout-title  {
  /* Removes padding and background colour from the container */
  justify-content: center;
}
.callout[data-callout="2"] > .callout-content {
  /* Arranges the content in columns */
  display: grid;
  /* minmax sets the minimum width of a column. Make the columns 'skinnier' by setting 15rem to a smaller number */
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 10px;
}



.callout[data-callout="!"] {
    box-shadow: inset 0 0 0em .1em var(--colored-accent-1) !important;
}




/*BLOCKQUOTE PREVIEW VIEW BORDER FIX*/
.HyperMD-quote + .HyperMD-quote {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.HyperMD-quote:has(+.HyperMD-quote) {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
ul.has-list-bullet * blockquote {
    margin-top: 0;
}
.HyperMD-quote + .HyperMD-quote {
    &:before {
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important
    }
}
.HyperMD-quote:has(+ .HyperMD-quote) {
    &:before {
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }    
}
.markdown-preview-view blockquote {
   padding: .8em !important;
}
blockquote {
    padding-right: .8em;
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote + .HyperMD-quote {
    padding-top: 0em !important;
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:has(+ .HyperMD-quote) {
    padding-bottom: 0em !important;
}


.el-p + .el-p {
    margin-top: 2em !important;
}

p:not(:first-child) {
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

p + p {
    margin-top: 1em !important;
}

p + ul {
    margin-top: 0px !important;
}


p:has(+ ul.has-list-bullet) {
    margin-bottom: 0px;
}




li:not(:first-of-type) {
    margin-top: .8em;
    margin-bottom: 0em;
}
li > ul li {
    margin-top: .4em;
}

li:has(ul) + li:has(ul) {
    margin-top: 1.2em;
}

/*
ul {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
}
*/
li > blockquote {
    margin-bottom: 0em !important;
    margin-top: .5em !important;
}

li > .callout {
    margin-bottom: 0em !important;
    margin-top: .5em !important;
}

.heading-collapse-indicator.collapse-indicator.collapse-icon:before {
    margin-left: -5px;
}
.HyperMD-header.HyperMD-header.cm-line {
    padding-bottom: .5em;
}


/*heading mark*/
.cm-header.cm-header-1:not(.cm-formatting.cm-formatting-header.cm-formatting-header-1.cm-header.cm-header-1),
.markdown-rendered h1 {
    color: var(--main-color-2);
    display: inline-block;
    background: var(--background-7);
    padding: .1rem .3rem .1rem .3rem;
        -moz-border-bottom-left-radius: var(--h1-radius);
        -webkit-border-bottom-left-radius: var(--h1-radius);
        border-bottom-left-radius: var(--h1-radius);
        -moz-border-bottom-right-radius: var(--h1-radius);
        -webkit-border-bottom-right-radius: var(--h1-radius);
        border-bottom-right-radius: var(--h1-radius);
        -moz-border-top-right-radius: var(--h1-radius);
        -webkit-border-top-right-radius: var(--h1-radius);
        border-top-right-radius: var(--h1-radius);
        -moz-border-top-left-radius: var(--h1-radius);
        -webkit-border-top-left-radius: var(--h1-radius);
        border-top-left-radius: var(--h1-radius);
        -webkit-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
    --h1-radius: .4em;
}
/* heading mark link color correction */
h1 > a, 
h2 > a, 
h3 > a, 
h4 > a, 
h5 > a, 
h6 > a {
    color: var(--text-color-inverted) !important;
}

.cm-header.cm-header-2:not(.cm-formatting.cm-formatting-header.cm-formatting-header-2.cm-header.cm-header-2),
.markdown-rendered h2 {
    color: var(--main-color-2);
    display: inline-block;
    translate: -.05em;
    padding: .1rem .3rem .08rem .3rem;
    margin-bottom: 0px;
    border: .01em dashed;
    font-weight: 600;
    border-color: var(--colored-accent-3);
    background-color: var(--colored-accent-4);
        -moz-border-bottom-left-radius: var(--mark-radius);
        -webkit-border-bottom-left-radius: var(--mark-radius);
        border-bottom-left-radius: var(--mark-radius);
        -moz-border-bottom-right-radius: var(--mark-radius);
        -webkit-border-bottom-right-radius: var(--mark-radius);
        border-bottom-right-radius: var(--mark-radius);
        -moz-border-top-right-radius: var(--mark-radius);
        -webkit-border-top-right-radius: var(--mark-radius);
        border-top-right-radius: var(--mark-radius);
        -moz-border-top-left-radius: var(--mark-radius);
        -webkit-border-top-left-radius: var(--mark-radius);
        border-top-left-radius: var(--mark-radius);
        -webkit-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
    --mark-radius: .4em;
}

.cm-header.cm-header-3:not(.cm-formatting.cm-formatting-header.cm-formatting-header-3.cm-header.cm-header-3),
.markdown-rendered h3 {
    display: inline-block;
    translate: -.05em;
    padding: .1rem .3rem .08rem .3rem;
    margin-bottom: 0px;
    border: .01em dashed;
    border-color: var(--colored-accent-4);
    background-color: var(--colored-accent-5);
        -moz-border-bottom-left-radius: var(--mark-radius);
        -webkit-border-bottom-left-radius: var(--mark-radius);
        border-bottom-left-radius: var(--mark-radius);
        -moz-border-bottom-right-radius: var(--mark-radius);
        -webkit-border-bottom-right-radius: var(--mark-radius);
        border-bottom-right-radius: var(--mark-radius);
        -moz-border-top-right-radius: var(--mark-radius);
        -webkit-border-top-right-radius: var(--mark-radius);
        border-top-right-radius: var(--mark-radius);
        -moz-border-top-left-radius: var(--mark-radius);
        -webkit-border-top-left-radius: var(--mark-radius);
        border-top-left-radius: var(--mark-radius);
        -webkit-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
    --mark-radius: .4em;
}

/*DYNAMIC HEADING SPACING ADJUST*/
div.el-h1 {
    margin-top: var(--dynamic-heading-spacing, 2em);
}

div.el-h2 {
    margin-top: var(--dynamic-heading-spacing, 2em) !important;
}

div.el-h3 {
    margin-top: var(--dynamic-heading-spacing, 2em) !important;
}


div.el-h1 + div.el-h1 {
    margin-top: 0em !important;
}

div.el-h1 + div.el-h2, div.el-h2 + div.el-h2 {
    margin-top: 0em !important;
}

div.el-h1 + div.el-h3, div.el-h2 + div.el-h3, div.el-h3 + div.el-h3 {
    margin-top: 0em !important;
}

div.el-h1 + div.el-h4, div.el-h2 + div.el-h4, div.el-h3 + div.el-h4, div.el-h4 + div.el-h4  {
    margin-top: 0em !important;
}

div.el-h1 + div.el-h5, div.el-h2 + div.el-h5, div.el-h3 + div.el-h5, div.el-h4 + div.el-h5, div.el-h5 + div.el-h5  {
    margin-top: 0em !important;
}

div.el-h1 + div.el-h6, div.el-h2 + div.el-h6, div.el-h3 + div.el-h6, div.el-h4 + div.el-h6, div.el-h5 + div.el-h6, div.el-h6 + div.el-h6  {
    margin-top: 0em !important;
}


/*==================== HIGHLIGHTING ====================*/
span.cm-highlight,
.markdown-rendered mark {
    background: transparent;
}


span.cm-highlight,
.markdown-rendered mark {
    padding: 0rem .2rem 0rem .2rem;
    margin: .1rem .1rem .1rem .1rem;
    background: var(--background-7) !important;
        -moz-border-bottom-left-radius: var(--mark-radius);
        -webkit-border-bottom-left-radius: var(--mark-radius);
        border-bottom-left-radius: var(--mark-radius);
        -moz-border-bottom-right-radius: var(--mark-radius);
        -webkit-border-bottom-right-radius: var(--mark-radius);
        border-bottom-right-radius: var(--mark-radius);
        -moz-border-top-right-radius: var(--mark-radius);
        -webkit-border-top-right-radius: var(--mark-radius);
        border-top-right-radius: var(--mark-radius);
        -moz-border-top-left-radius: var(--mark-radius);
        -webkit-border-top-left-radius: var(--mark-radius);
        border-top-left-radius: var(--mark-radius);
        -webkit-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
    --mark-radius: .3rem;
    font-weight: 600;
    color: var(--tc);
}


span.cm-strong:not(.cm-highlight),
strong:not(:has(mark), mark strong)  {
    padding: 0rem .2rem 0rem .2rem;
    margin: .1rem .1rem .1rem .1rem;
    background: var(--colored-accent-4) !important;
        -moz-border-bottom-left-radius: var(--mark-radius);
        -webkit-border-bottom-left-radius: var(--mark-radius);
        border-bottom-left-radius: var(--mark-radius);
        -moz-border-bottom-right-radius: var(--mark-radius);
        -webkit-border-bottom-right-radius: var(--mark-radius);
        border-bottom-right-radius: var(--mark-radius);
        -moz-border-top-right-radius: var(--mark-radius);
        -webkit-border-top-right-radius: var(--mark-radius);
        border-top-right-radius: var(--mark-radius);
        -moz-border-top-left-radius: var(--mark-radius);
        -webkit-border-top-left-radius: var(--mark-radius);
        border-top-left-radius: var(--mark-radius);
        -webkit-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
    --mark-radius: .3rem;
    color: var(--colored-accent-1);
    font-weight: 900;
}





.cm-formatting.cm-formatting-highlight.cm-highlight {
    background: none;
    color: var(--colored-accent-1);
}
/*======== SEARCHED TEXT HIGHLIGHTING =================*/
.search-result-file-matched-text {
    background:var(--colored-accent-1);
    color: var(--colored-accent-i1);
    border-radius: 3px;
    padding-left:   2px;
    padding-right:  2px;
    padding-top:    0px;
    padding-bottom: 0px;
    border-radius: 3px;
}

.is-flashing {
    background:var(--colored-accent-1) !important;
    color: var(--colored-accent-i1);
    border-radius: 3px;
    padding-left:   2px;
    padding-right:  2px;
    padding-top:    0px;
    padding-bottom: 0px;
    border-radius: 3px;
}



/*================== adjust font weight ===============*/
.markdown-preview-view, .view-content>.cm-s-obsidian, .view-content>.markdown-source-view.mod-cm6.is-live-preview>.cm-scroller, body {
    font-weight: var(--custom-font-weight, 400);
    color: var(--tc);
    letter-spacing: var(--custom-letter-spacing, .1px);
}
.cm-html-embed th, .markdown-rendered th {
    font-weight: var(--custom-font-weight, 400);
    letter-spacing: var(--custom-letter-spacing, .1px);
}
table {
    font-weight: var(--custom-font-weight, 400);
    letter-spacing: var(--custom-letter-spacing, .1px);
}
.view-content {
    border: 0px;
    letter-spacing: var(--custom-letter-spacing, .1px);
}

body {
    --bold-modifier: 300;
    --line-height-normal: var(--custom-line-height, 1.5);
}




/*disable some elements*/
.workspace-ribbon.side-dock-ribbon.mod-left::before,
.workspace-tab-header.tappable:before,
.workspace-tab-header.tappable:after,
.workspace-tab-header-inner:after,
.workspace-tab-header-container:before {
    display: none !important;
}
/*================ EMBEDS =================*/
img {
    border-radius: 10px;
}
/*================= ROUNDED TABLES =================*/
/*Credit goes to "FireIsGood": https://forum.obsidian.md/t/adding-rounded-corners-to-markdown-tables-with-snippets-a-clean-solution/60551 */
/* TABLES: Fix the borders and add a radius variable */
:root table {
    --table-border-radius: 8px;
    border-collapse: separate;
    border-spacing: 0;
}
/* Add the radius */
th:first-child {border-top-left-radius: var(--table-border-radius)}
th:last-child {border-top-right-radius: var(--table-border-radius)}
tr:last-child td:first-child {border-bottom-left-radius: var(--table-border-radius)}
tr:last-child td:last-child {border-bottom-right-radius: var(--table-border-radius)}
      
/* Redo the borders */
:root :is(td, th) {
    border-width: 0 var(--table-border-width) var(--table-border-width) 0;
    border-color: var(--accent-color-light10) !important;
}
      
.cm-html-embed table, .markdown-rendered table {
    margin-top: 15px;
}
/*virtual link styling*/
.virtual-link-default {
    filter: brightness(1);
}

/*increase popup size*/
.theme-light, .theme-dark {
    --popover-width: 1050px;
    --popover-height: 1250px;
}

.markdown-preview-view hr,
.markdown-source-view hr {
    border: .1em dashed rgba(128, 128, 128, 0.432) !important;
    box-shadow: 0px 0px 5em var(--colored-accent-4);
}


.cm-s-obsidian .cm-line.HyperMD-header + .HyperMD-quote.HyperMD-quote-1.cm-line {
    padding-top: .5em !important;
}




/*status bar hider*/
body.status-bar-hover .status-bar{
    opacity: 0;
    transition: all .5s;
    &:hover {        
        opacity: 1;
    }
}


/*grayscale toggle*/
.greyscale-toggle.theme-dark img {
   	border-radius: 10px;
   	mix-blend-mode: screen !important;
    filter: invert(1) grayscale(100%) !important;
}


.greyscale-toggle.theme-light img {
	border-radius: 10px;
 	mix-blend-mode: multiply !important;
	filter: grayscale(100%) !important;
}
