:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 228, 55, 75;
  --color-red: #e4374b;
  --color-green-rgb: 12, 181, 79;
  --color-green: #0cb54f;
  --color-orange: #d96c00;
  --color-yellow: #bd8e37;
  --color-cyan: #2db7b5;
  --color-blue: #086ddd;
  --color-purple: #876be0;
  --color-pink: #c32b74;
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #f6f7f8;
  --color-base-20: #f6f7f8;
  --color-base-25: #f0f0f0;
  --color-base-30: #ebedf0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5a5a5a;
  --color-base-100: #222222;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 2.5%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 5%));
  --background-modifier-hover: #e2e5e9;
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --text-highlight-bg-l: rgba(255, 208, 0, 0.4);
  --text-highlight-bg: var(--text-highlight-bg-l);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --tag-background: var(--tag-background-color-l);
  --tag-color: var(--tag-font-color-l);
  --text-muted: hsl(var(--base-h), calc(var(--base-s) - 5%), calc(var(--base-l) - 60%));
  --text-faint: hsl(var(--base-h), calc(var(--base-s) - 5%), calc(var(--base-l) - 30%));
  --text-formatted: hsl(var(--base-h), calc(var(--base-s) - 5%), calc(var(--base-l) - 35%));
  --text-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --text-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 10%));
  --atom-gray-1: #383a42;
  --atom-gray-2: #383a42;
  --atom-red: #e75545;
  --atom-green: #4ea24c;
  --atom-blue: #3d74f6;
  --atom-purple: #a625a4;
  --atom-aqua: #0084bc;
  --atom-yellow: #e35649;
  --atom-orange: #986800;
}
