.theme-dark {
  --accent-h: 204;
  --accent-s: 18%;
  --accent-l: 42%;
  --background-primary: #1a1e24;
  --background-primary-alt: #252a32;
  --background-secondary: #2d333b;
  --background-secondary-alt: #373e48;
  --background-gradient: radial-gradient(
    ellipse at 50% 30%,
    hsl(220, 12%, 18%) 20%,
    hsl(220, 14%, 12%) 80%
  );
  --background-modifier-border: rgba(67, 73, 83, 0.6);
  /* quote */
  --blockquote-border-color: hsl(204, 15%, 35%);
  --blockquote-background-color: hsla(204, 15%, 15%, 0.3);
  --blockquote-color: hsl(204, 15%, 75%);
  /* codeblock */
  --codeblock-background: #2b303880;
  --codeblock-caret-color: #c5cad4;
  --codeblock-border-radius: 8px;
  --codeblock-border: #e5e7eb;
  /* text highlight */
  --text-highlight-background: hsla(40, 30%, 25%, 0.4);
  --text-highlight-border-color: hsl(40, 27%, 61%);
  --text-highlight-color: hsl(40, 60%, 85%);
  --text-highlight-border-radius: 4px;
}
