@import "fonts";

:root {
}

body {
}

:root[saved-theme="dark"] {
}

:root[saved-theme="light"] {
  --text-accent: #392d78;
  --text-accent-hover: #7a6ae6;
  --text-faint: #999999;
  --link-color: #306d99;
  --link-color-light: #63a1ce7a;
  --link-color-hover: var(--text-accent-hover);
  --link-decoration: none;
  --link-decoration-hover: underline;
  --link-external-color: var(--text-accent);
  --link-external-color-hover: var(--text-accent-hover);
  --link-external-decoration: underline;
  --link-external-decoration-hover: underline;
  --heading-formatting: var(--text-faint);
  --h1-color: #253f56;
  --h2-color: #3c678d;
  --h3-color: #697d9e;
  --h4-color: #a0a8b6;
  --h5-color: #b6c8e4;
  --h6-color: inherit;
  --h1-font: inherit;
  --h2-font: inherit;
  --h3-font: inherit;
  --h4-font: inherit;
  --h5-font: inherit;
  --h6-font: inherit;
  --h1-line-height: 1.2;
  --h2-line-height: 1.2;
  --h3-line-height: 1.3;
  --h4-line-height: 1.4;
  --h5-line-height: var(--line-height-normal);
  --h6-line-height: var(--line-height-normal);
  --h1-size: 2em;
  --h2-size: 1.6em;
  --h3-size: 1.37em;
  --h4-size: 1.25em;
  --h5-size: 1.12em;
  --h6-size: 1.12em;
  --h1-style: normal;
  --h2-style: normal;
  --h3-style: normal;
  --h4-style: normal;
  --h5-style: normal;
  --h6-style: normal;
  --h1-variant: normal;
  --h2-variant: normal;
  --h3-variant: normal;
  --h4-variant: normal;
  --h5-variant: normal;
  --h6-variant: normal;
  --h1-weight: 700;
  --h2-weight: 600;
  --h3-weight: 600;
  --h4-weight: 600;
  --h5-weight: 600;
  --h6-weight: 600;
}
