.lodi-style-headers .is-live-preview .HyperMD-header-1,
.lodi-style-headers .markdown-rendered h1,
.lodi-style-headers .is-live-preview .HyperMD-header-2,
.lodi-style-headers .markdown-rendered h2,
.lodi-style-headers .is-live-preview .HyperMD-header-3,
.lodi-style-headers .markdown-rendered h3,
.lodi-style-headers .is-live-preview .HyperMD-header-4,
.lodi-style-headers .markdown-rendered h4,
.lodi-style-headers .is-live-preview .HyperMD-header-5,
.lodi-style-headers .markdown-rendered h5,
.lodi-style-headers .is-live-preview .HyperMD-header-6,
.lodi-style-headers .markdown-rendered h6 {
  position: relative;
  padding: 0;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  line-height: unset;
}

.lodi-style-headers .is-live-preview .HyperMD-header-1::before,
.lodi-style-headers .markdown-rendered h1::before,
.lodi-style-headers .is-live-preview .HyperMD-header-2::before,
.lodi-style-headers .markdown-rendered h2::before,
.lodi-style-headers .is-live-preview .HyperMD-header-3::before,
.lodi-style-headers .markdown-rendered h3::before,
.lodi-style-headers .is-live-preview .HyperMD-header-4::before,
.lodi-style-headers .markdown-rendered h4::before,
.lodi-style-headers .is-live-preview .HyperMD-header-5::before,
.lodi-style-headers .markdown-rendered h5::before,
.lodi-style-headers .is-live-preview .HyperMD-header-6::before,
.lodi-style-headers .markdown-rendered h6::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  left: 0;
  width: 5px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.lodi-style-headers .is-live-preview .HyperMD-header-1::after,
.lodi-style-headers .markdown-rendered h1::after,
.lodi-style-headers .is-live-preview .HyperMD-header-2::after,
.lodi-style-headers .markdown-rendered h2::after,
.lodi-style-headers .is-live-preview .HyperMD-header-3::after,
.lodi-style-headers .markdown-rendered h3::after,
.lodi-style-headers .is-live-preview .HyperMD-header-4::after,
.lodi-style-headers .markdown-rendered h4::after,
.lodi-style-headers .is-live-preview .HyperMD-header-5::after,
.lodi-style-headers .markdown-rendered h5::after,
.lodi-style-headers .is-live-preview .HyperMD-header-6::after,
.lodi-style-headers .markdown-rendered h6::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  right: 0;
  width: 5px;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.lodi-style-headers .HyperMD-header.HyperMD-header-1.cm-line[dir='rtl'],
.lodi-style-headers .HyperMD-header.HyperMD-header-2.cm-line[dir='rtl'],
.lodi-style-headers .HyperMD-header.HyperMD-header-3.cm-line[dir='rtl'],
.lodi-style-headers .HyperMD-header.HyperMD-header-4.cm-line[dir='rtl'],
.lodi-style-headers .HyperMD-header.HyperMD-header-5.cm-line[dir='rtl'],
.lodi-style-headers .HyperMD-header.HyperMD-header-6.cm-line[dir='rtl'] {
  margin-bottom: 10px;
}

.lodi-style-headers .is-live-preview .HyperMD-header-1,
.lodi-style-headers .markdown-rendered h1 {
  background-color: rgba(var(--h1-new-color), 0.1);
}

.lodi-style-headers .is-live-preview .HyperMD-header-1::before,
.lodi-style-headers .markdown-rendered h1::before {
  background-color: rgba(var(--h1-new-color), 0.8);
}

.lodi-style-headers .is-live-preview .HyperMD-header-1::after,
.lodi-style-headers .markdown-rendered h1::after {
  background-color: rgba(var(--h1-new-color), 0.8);
}

.lodi-style-headers .is-live-preview .HyperMD-header-2,
.lodi-style-headers .markdown-rendered h2 {
  background-color: rgba(var(--h2-new-color), 0.1);
}

.lodi-style-headers .is-live-preview .HyperMD-header-2::before,
.lodi-style-headers .markdown-rendered h2::before {
  background-color: rgba(var(--h2-new-color), 0.8);
}

.lodi-style-headers .is-live-preview .HyperMD-header-2::after,
.lodi-style-headers .markdown-rendered h2::after {
  background-color: rgba(var(--h2-new-color), 0.8);
}

.lodi-style-headers .is-live-preview .HyperMD-header-3,
.lodi-style-headers .markdown-rendered h3 {
  background-color: rgba(var(--h3-new-color), 0.1);
}

.lodi-style-headers .is-live-preview .HyperMD-header-3::before,
.lodi-style-headers .markdown-rendered h3::before {
  background-color: rgba(var(--h3-new-color), 0.8);
}

.lodi-style-headers .is-live-preview .HyperMD-header-3::after,
.lodi-style-headers .markdown-rendered h3::after {
  background-color: rgba(var(--h3-new-color), 0.8);
}

.lodi-style-headers .is-live-preview .HyperMD-header-4,
.lodi-style-headers .markdown-rendered h4 {
  background-color: rgba(var(--h4-new-color), 0.1);
}

.lodi-style-headers .is-live-preview .HyperMD-header-4::before,
.lodi-style-headers .markdown-rendered h4::before {
  background-color: rgba(var(--h4-new-color), 0.8);
}

.lodi-style-headers .is-live-preview .HyperMD-header-4::after,
.lodi-style-headers .markdown-rendered h4::after {
  background-color: rgba(var(--h4-new-color), 0.8);
}

.lodi-style-headers .is-live-preview .HyperMD-header-5,
.lodi-style-headers .markdown-rendered h5 {
  background-color: rgba(var(--h5-new-color), 0.1);
}

.lodi-style-headers .is-live-preview .HyperMD-header-5::before,
.lodi-style-headers .markdown-rendered h5::before {
  background-color: rgba(var(--h5-new-color), 0.8);
}

.lodi-style-headers .is-live-preview .HyperMD-header-5::after,
.lodi-style-headers .markdown-rendered h5::after {
  background-color: rgba(var(--h5-new-color), 0.8);
}

.lodi-style-headers .is-live-preview .HyperMD-header-6,
.lodi-style-headers .markdown-rendered h6 {
  background-color: rgba(var(--h6-new-color), 0.1);
}

.lodi-style-headers .is-live-preview .HyperMD-header-6::before,
.lodi-style-headers .markdown-rendered h6::before {
  background-color: rgba(var(--h6-new-color), 0.8);
}

.lodi-style-headers .is-live-preview .HyperMD-header-6::after,
.lodi-style-headers .markdown-rendered h6::after {
  background-color: rgba(var(--h6-new-color), 0.8);
}
