body:not(.pt-disable-mark-highlight-styling) mark[class] {
  --mark-highlight-base: var(--interactive-accent-base);
  --mark-highlight-tint: var(--interactive-accent-tint);
  --mark-highlight-text: var(--interactive-accent-text);
  font-weight: 600;
  background-color: transparent;
  border-radius: var(--radius-s);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

body:not(.pt-disable-mark-highlight-styling) mark[class] .external-link {
  background-position-x: calc(100% - 1px);
  background-position-y: 2px;
}

body:not(.pt-disable-mark-highlight-styling) mark[class]:is(.red, .Red) {
  --mark-highlight-base: var(--color-red-base);
  --mark-highlight-tint: var(--color-red-tint);
  --mark-highlight-text: var(--color-red-text);
}

body:not(.pt-disable-mark-highlight-styling) mark[class]:is(.orange, .Orange) {
  --mark-highlight-base: var(--color-orange-base);
  --mark-highlight-tint: var(--color-orange-tint);
  --mark-highlight-text: var(--color-orange-text);
}

body:not(.pt-disable-mark-highlight-styling) mark[class]:is(.yellow, .Yellow) {
  --mark-highlight-base: var(--color-yellow-base);
  --mark-highlight-tint: var(--color-yellow-tint);
  --mark-highlight-text: var(--color-yellow-text);
}

body:not(.pt-disable-mark-highlight-styling) mark[class]:is(.green, .Green) {
  --mark-highlight-base: var(--color-green-base);
  --mark-highlight-tint: var(--color-green-tint);
  --mark-highlight-text: var(--color-green-text);
}

body:not(.pt-disable-mark-highlight-styling) mark[class]:is(.mint, .Mint) {
  --mark-highlight-base: var(--color-mint-base);
  --mark-highlight-tint: var(--color-mint-tint);
  --mark-highlight-text: var(--color-mint-text);
}

body:not(.pt-disable-mark-highlight-styling) mark[class]:is(.aqua, .Aqua, .cyan, .Cyan) {
  --mark-highlight-base: var(--color-cyan-base);
  --mark-highlight-tint: var(--color-cyan-tint);
  --mark-highlight-text: var(--color-cyan-text);
}

body:not(.pt-disable-mark-highlight-styling) mark[class]:is(.blue, .Blue) {
  --mark-highlight-base: var(--color-blue-base);
  --mark-highlight-tint: var(--color-blue-tint);
  --mark-highlight-text: var(--color-blue-text);
}

body:not(.pt-disable-mark-highlight-styling) mark[class]:is(.purple, .Purple) {
  --mark-highlight-base: var(--color-purple-base);
  --mark-highlight-tint: var(--color-purple-tint);
  --mark-highlight-text: var(--color-purple-text);
}

body:not(.pt-disable-mark-highlight-styling) mark[class]:is(.pink, .Pink) {
  --mark-highlight-base: var(--color-pink-base);
  --mark-highlight-tint: var(--color-pink-tint);
  --mark-highlight-text: var(--color-pink-text);
}

body:not(.pt-disable-mark-highlight-styling) mark[class]:is(.grey, .Grey) {
  --mark-highlight-base: var(--color-grey-base);
  --mark-highlight-tint: var(--color-grey-tint);
  --mark-highlight-text: var(--color-grey-text);
}
