body:is(
    :not(.css-settings-manager),
    .embed-enable
  ).scrollbar-gutter-reserve.embed-title-right-top
  .internal-embed.is-loaded:not([alt="#"])
  .markdown-embed-heading
  .markdown-preview-section
  > div:nth-child(2) {
  right: var(--size-4-3);
}

body:is(:not(.css-settings-manager), .embed-enable).embed-title-right-top
  .internal-embed.is-loaded:not([alt="#"])
  .obsidian-metatable {
  display: none;
}

body:is(:not(.css-settings-manager), .embed-enable).embed-title-right-top
  .internal-embed.is-loaded:not([alt="#"]):not([src*="#^"])
  .embed-title:empty
  + .markdown-embed-content
  .markdown-preview-section
  > div:nth-child(3) {
  position: absolute;
  right: var(--size-4-9);
  top: var(--size-4-2);
  z-index: 99;
  opacity: 0;
  transition: var(--animation);
}

body:is(:not(.css-settings-manager), .embed-enable).embed-title-right-top
  .internal-embed.is-loaded:not([alt="#"]):not([src*="#^"])
  .embed-title:empty
  + .markdown-embed-content
  .markdown-preview-section
  > div:nth-child(3)
  * {
  font-size: 1rem;
  cursor: pointer;
  line-height: 1rem;
}

body:is(:not(.css-settings-manager), .embed-enable).embed-title-right-top
  .internal-embed.is-loaded:not([alt="#"]):not([src*="#^"])
  .embed-title:empty
  + .markdown-embed-content
  .markdown-preview-section
  > div:nth-child(3)
  *::after {
  content: none;
}

body:is(:not(.css-settings-manager), .embed-enable).embed-title-right-top
  .internal-embed.is-loaded:not([alt="#"])
  .markdown-embed-title {
  opacity: 0;
  position: absolute;
  z-index: 99;
  width: fit-content;
  right: 28px;
  left: unset;
  font-size: 1rem;
  top: var(--size-4-1);
  line-height: 28px;
  height: 28px;
  padding: 0 var(--size-4-2);
  border-radius: var(--radius-m);
  transition: var(--animation);
  cursor: pointer;
}

body:is(:not(.css-settings-manager), .embed-enable).embed-title-right-top
  .internal-embed.is-loaded:not([alt="#"]):hover
  .embed-title:empty
  + .markdown-embed-content
  .markdown-preview-section
  > div:nth-child(3) {
  opacity: 1;
}

body:is(:not(.css-settings-manager), .embed-enable).embed-title-right-top
  .internal-embed.is-loaded:not([alt="#"]):hover
  :is(.markdown-embed-title, .markdown-embed-link, .file-embed-link:hover svg) {
  opacity: 1;
  color: var(--text-normal);
}

body:is(:not(.css-settings-manager), .embed-enable).embed-title-right-top
  .internal-embed.is-loaded:not([alt="#"])
  :is(.markdown-embed, .file-embed)
  .markdown-preview-view {
  padding: calc(var(--font-text-size) * 1.5);
  padding-bottom: calc(var(--font-text-size) * 1.2);
}
