:root[saved-theme="dark"] {
  --accent-h: 30;
  --accent-s: 61%;
  --accent-l: 50%;
  --background-primary: #0f0f0f;
  --background-primary-alt: #141414;
  --background-secondary: #141414;
  --background-secondary-alt: #0f0f0f;
  --text-normal: #cccccc;
  --table-header-background: #141414;
  --table-background: #141414;
  --table-header-weight: bold;
  --table-header-color: hsl(30, 61%, 50%);
  --table-header-size: 24px;
  --table-text-size: 18px;
  --table-add-button-color: hsl(30, 61%, 50%);
  --table-drag-handle-color: hsl(30, 61%, 50%);
  --table-drag-handle-color-active: #cd7f32;
  --code-background: #0a0a0a;
  --code-normal: #50c878;
  --h1-color: #cd7f32;
  --h2-color: #cd7f32;
  --h3-color: #cd7f32;
  --h4-color: #cd7f32;
  --h5-color: #cd7f32;
  --h6-color: #cd7f32;
  --h1-size: 35px;
  --h2-size: 30px;
  --h3-size: 24px;
  --h4-size: 20px;
  --h5-size: 18px;
  --h6-size: 16px;
  --link-color: #0067a5;
  --link-unresolved-color: #0067a5;
  --link-external-color: #0067a5;
  --list-marker-color: #cd7f32;
  --nav-heading-color: #cd7f32;
  --nav-item-color: #cd7f32;
  --nav-item-size: 14px;
  --nav-item-color-active: #cd7f32;
  --nav-item-background-active: #333333;
  --nav-collapse-icon-color: #cd7f32;
  --list-marker-color-collapsed: #cd7f32;
  --caret-color: #cd7f32;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
