:root[saved-theme="light"] {
  --accent-h: 30;
  --accent-s: 61%;
  --accent-l: 40%;
  --background-primary: #ffffff;
  --background-primary-alt: #f7f7f7;
  --background-secondary: #f0f0f0;
  --background-secondary-alt: #ffffff;
  --text-normal: #333333;
  --table-header-background: #f0f0f0;
  --table-background: #ffffff;
  --table-header-weight: bold;
  --table-header-color: hsl(30, 61%, 30%);
  --table-header-size: 24px;
  --table-text-size: 18px;
  --table-add-button-color: hsl(30, 61%, 30%);
  --table-drag-handle-color: hsl(30, 61%, 30%);
  --table-drag-handle-color-active: #d69a00;
  --code-background: #f9f9f9;
  --code-normal: #007a33;
  --h1-color: #a24d00;
  --h2-color: #a24d00;
  --h3-color: #a24d00;
  --h4-color: #a24d00;
  --h5-color: #a24d00;
  --h6-color: #a24d00;
  --h1-size: 35px;
  --h2-size: 30px;
  --h3-size: 24px;
  --h4-size: 20px;
  --h5-size: 18px;
  --h6-size: 16px;
  --link-color: #0067a5;
  --link-unresolved-color: #0067a5;
  --link-external-color: #0067a5;
  --list-marker-color: #a24d00;
  --nav-heading-color: #a24d00;
  --nav-item-color: #a24d00;
  --nav-item-size: 14px;
  --nav-item-color-active: #a24d00;
  --nav-item-background-active: #eaeaea;
  --nav-collapse-icon-color: #a24d00;
  --list-marker-color-collapsed: #a24d00;
  --caret-color: #a24d00;

  code[data-theme*=" "] {
    --shiki-dark: var(--shiki-light) !important;
    --shiki-dark-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-dark: var(--shiki-light) !important;
      --shiki-dark-bg: var(--shiki-light-bg) !important;
    }
  }
}
