.sanctum-default-dark {
  --color-accent-rgb: var(--custom-accent-color);
  --background: rgb(var(--gray-100));
  --background-hover: rgba(var(--gray-50), 0.16);
  --background-active: rgba(var(--gray-50), 0.4);
  --background-selected: rgba(var(--gray-50), 0.24);
  --background-selected-hover: rgba(var(--gray-50), 0.32);
  --background-inverse: rgb(var(--gray-10));
  --background-inverse-hover: rgba(var(--gray-20), 0.5);
  --layer-1: rgb(var(--gray-90));
  --layer-2: rgb(var(--gray-80));
  --layer-hover-1: rgba(var(--gray-80), 0.5);
  --layer-hover-2: rgba(var(--gray-70), 0.5);
  --layer-active-1: rgb(var(--gray-70));
  --layer-active-2: rgb(var(--gray-60));
  --layer-selected-1: rgb(var(--gray-80));
  --layer-selected-2: rgb(var(--gray-70));
  --layer-selected-hover-1: rgba(var(--gray-70), 0.5);
  --layer-selected-hover-2: rgba(var(--gray-60), 0.5);
  --field-1: rgb(var(--gray-90));
  --field-hover-1: rgb(var(--gray-80));
  --border-subtle-0: rgb(var(--gray-80));
  --border-subtle-1: rgb(var(--gray-80));
  --border-subtle-2: rgb(var(--gray-70));
  --border-subtle-selected-1: rgb(var(--gray-70));
  --border-subtle-selected-2: rgb(var(--gray-60));
  --border-strong-1: rgb(var(--gray-60));
  --border-strong-2: rgb(var(--gray-50));
  --border-inverse: rgb(var(--gray-10));
  --text-code: var(--pink-50);
  --text-primary: rgb(var(--gray-10));
  --text-secondary: rgb(var(--gray-30));
  --text-placeholder: rgb(var(--gray-60));
  --icon-primary: rgb(var(--gray-10));
  --icon-secondary: rgb(var(--gray-30));
  --icon-on-color: rgb(var(--white));
  --icon-inverse: rgb(var(--gray-100));
  --focus: var(--cyan-60);
  --focus-inset: rgb(var(--gray-100));
  --focus-inverse: rgb(var(--white));
  --interactive: rgb(var(--color-accent-rgb));
  --highlight: rgba(var(--color-accent-rgb), 0.7);
  --overlay: rgba(var(--gray-100), 0.7);
}

.sanctum-default-dark:not(.use-custom-accent) {
  --color-accent-rgb: var(--color-accent-rgb-d);
}
