.increased-line-height {
  --line-height-normal: 2.15;
  --line-height-tight: 1.6;
}

.increased-line-height .markdown-rendered h1,
.increased-line-height .HyperMD-header-1,
.increased-line-height .markdown-rendered h2,
.increased-line-height .HyperMD-header-2,
.increased-line-height .markdown-rendered h3,
.increased-line-height .HyperMD-header-3,
.increased-line-height .markdown-rendered h4,
.increased-line-height .HyperMD-header-4,
.increased-line-height .markdown-rendered h5,
.increased-line-height .HyperMD-header-5,
.increased-line-height .markdown-rendered h6,
.HyperMD-header-6 {
  margin-top: 2.2em;
}

.increased-line-height .markdown-preview-view br,
.increased-line-height .markdown-preview-view br {
  content: "";
  display: block;
  margin-top: 0.5em !important;
}
