:root[saved-theme="dark"] {
  --background-primary: var(--dark-bg);
  --background-primary-alt: var(--dark-secondary);
  --background-secondary: var(--dark-bg);
  --background-secondary-alt: var(--dark-secondary);
  --darky-dark: var(--dark-bg);
  --background-modifier-hover: var(--dark-bg);
  --background-modifier-active-hover: var(--dark-secondary);
  --background-modifier-border: var(--dark-secondary);
  --background-modifier-border-hover: var(--red-deep);
  --background-modifier-border-focus: var(--red-deep);
  --background-modifier-message: var(--red);
  --background-modifier-error: var(--red);
  --background-modifier-error-rgb: var(--red-rgb);
  --background-modifier-error-hover: var(--red-deep);
  --background-modifier-success: var(--red);
  --background-modifier-success-rgb: var(--red-rgb);
  --background-modifier-form-field: var(--dark-bg);
  --callout-blend-mode: normal;
  --interactive-normal: var(--dark-light-text);
  --interactive-hover: var(--dark-secondary);
  --interactive-accent: var(--red);
  --interactive-accent-hsl: var(--red-hsl);
  --interactive-accent-hover: var(--red);
  --text-normal: var(--main-bg);
  --text-muted: var(--beige);
  --text-faint: var(--light-text);
  --text-error: var(--red);
  --text-success: #ccff00;
  --text-accent: var(--red);
  --text-accent-hover: var(--red-deep);
  --text-highlight-bg: var(--highlight-dark);
  --text-selection: #171413;
  --nav-item-color: var(--text-muted);
  --nav-item-color-hover: var(--main-bg);
  --nav-item-color-active: var(--main-bg);
  --nav-item-color-selected: var(--main-bg);
  --nav-item-color-highlighted: var(--main-bg);
  --nav-item-background-hover: var(--dark-bg);
  --nav-item-background-active: var(--red);
  --nav-item-background-selected: var(--red);
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --highlight-mix-blend-mode: darken;
  --alternate-lights: var(--dark-alternate);
  --modal-buttons: var(--main-bg);
  --pre-bg: var(--background-primary-alt);
  --handle-icon: var(--main-bg);

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
