:root[saved-theme="dark"] {
  --background-primary: var(--gray-dark-85);
  --background-primary-alt: var(--gray-dark-75);
  --background-secondary: var(--gray-dark-7);
  --background-secondary-alt: var(--gray-dark-8);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --background-modifier-border: var(--gray-dark-9);
  --background-modifier-border-hover: black;
  --background-modifier-border-focus: var(--gray-dark-10);
  --background-modifier-error-rgb: var(--red-5-rgb);
  --background-modifier-error: var(--red-5);
  --background-modifier-error-hover: var(--red-4);
  --background-modifier-success-rgb: var(--green-5-rgb);
  --background-modifier-success: var(--green-5);
  --background-modifier-warning: var(--yellow-4);
  --background-modifier-warning-hover: var(--yellow-3);
  --background-modifier-info: var(--blue-5);
  --modifier-text: var(--gray-light-8);
  --modifier-text-accent: var(--gray-light-7);
  --background-modifier-message: var(--gray-dark-6);
  --background-modifier-form-field: var(--gray-dark-6);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: var(--primary-accent-2);
  --text-accent-hover: var(--primary-accent-1);
  --text-normal: var(--gray-light-1);
  --text-muted: var(--gray);
  --text-faint: var(--gray-dark-1);
  --text-error: var(--red-3);
  --text-success: var(--green-3);
  --text-highlight-fg: var(--gray-dark-7);
  --text-highlight-bg: var(--primary-accent-2);
  --text-highlight-bg-rgb: var(--primary-accent-2-rgb);
  --text-selection: rgba(var(--primary-accent-4-rgb), 0.2);
  --text-selection-active: rgba(var(--primary-accent-4-rgb), 0.01);
  --indentation-guide: var(--gray-dark-7);
  --indentation-guide-active: var(--gray-dark-6);
  --text-on-accent: var(--gray-light-8);
  --interactive-hover: var(--primary-accent-4);
  --interactive-normal: var(--gray-dark-6);
  --interactive-accent: var(--primary-accent-5);
  --interactive-accent-hover: var(--primary-accent-4);
  --interactive-toggle: var(--secondary-accent-4);
  --interactive-disabled: var(--background-modifier-form-field);
  --ebw-alpha2: rgba(0, 0, 0, 0.2);
  --ebw-alpha4: rgba(0, 0, 0, 0.4);
  --color-red-rgb: var(--red-2-rgb);
  --color-red: var(--red-2);
  --color-orange-rgb: var(--orange-2-rgb);
  --color-orange: var(--orange-2);
  --color-yellow-rgb: var(--yellow-2-rgb);
  --color-yellow: var(--yellow-2);
  --color-green-rgb: var(--green-2-rgb);
  --color-green: var(--green-2);
  --color-cyan-rgb: var(--cyan-2-rgb);
  --color-cyan: var(--cyan-2);
  --color-blue-rgb: var(--blue-2-rgb);
  --color-blue: var(--blue-2);
  --color-purple-rgb: var(--purple-2-rgb);
  --color-purple: var(--purple-2);
  --color-pink-rgb: var(--pink-2-rgb);
  --color-pink: var(--pink-2);
  --color-base-00: var(--gray-dark-10);
  --color-base-05: var(--gray-dark-9);
  --color-base-10: var(--gray-dark-85);
  --color-base-20: var(--gray-dark-8);
  --color-base-25: var(--gray-dark-75);
  --color-base-30: var(--gray-dark-7);
  --color-base-35: var(--gray-dark-6);
  --color-base-40: var(--gray-dark-5);
  --color-base-50: var(--gray-dark-3);
  --color-base-60: var(--gray-dark-1);
  --color-base-70: var(--gray);
  --color-base-100: var(--gray-light-1);
  --ebw-tab-title-active-fg: var(--text-normal);
  --ebw-tab-title-active-bg: var(--secondary-accent-5);
  --ebw-tab-title-inactive-bg: var(--gray-dark-4);
  --ebw-tab-title-inactive-focused-bg: var(--gray-dark-4);
  --ebw-tab-title-active-focused-bg: var(--primary-accent-5);
  --ebw-he-title-border: var(--tab-outline-color);
  --he-title-bar-active-fg: var(--gray-light-6);
  --he-title-bar-active-bg: var(--secondary-accent-4);
  --he-title-bar-active-pinned-bg: var(--primary-accent-4);
  --he-title-bar-inactive-fg: var(--gray-light-3);
  --he-title-bar-inactive-bg: var(--gray-dark-3);
  --he-title-bar-inactive-pinned-bg: var(--gray-dark-3);
  --he-text-on-accent-inactive: var(--gray-dark-7);
  --he-text-on-accent-active: var(--gray-light-5);
  --graph-line: var(--gray-dark-5);
  --graph-node: var(--primary-accent-4);
  --graph-node-focused: var(--yellow-1);
  --graph-node-tag: var(--secondary-accent-3);
  --graph-node-attachment: var(--secondary-accent-2);
  --graph-node-unresolved: var(--gray);
  --h1-color: var(--yellow-2);
  --h2-color: var(--green-3);
  --h3-color: var(--cyan-3);
  --h4-color: var(--blue-3);
  --h5-color: var(--purple-3);
  --h6-color: var(--pink-3);
  --code-normal: var(--blue-2);
  --calendar-year: var(--primary-accent-3);
  --calendar-month: var(--secondary-accent-3);
  --calendar-dividing-line: var(--primary-accent-1);
  --day-planner-timeline-fg: var(--primary-accent-3);
  --table-header-color: var(--text-on-accent);
  --table-header-background: var(--primary-accent-5);
  --ebw-table-header-alt: var(--primary-accent-4);
  --ebw-row-alt: rgba(0, 0, 0, 0.2);

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
