:root[saved-theme="dark"],
html[saved-theme="dark"] {
  color-scheme: dark;

  .callout {
    --callout-blend-mode: lighten;
  }

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }

  --background-modifier-box-shadow: #0000004d;
  --background-modifier-cover: #000000cc;

  --background-modifier-form-field-highlighted: #00000038;

  --background-modifier-message: #3f3f3f;

  --color-blue-rgb: 159, 187, 216;

  --color-cyan-rgb: 158, 190, 188;

  --color-green-rgb: 173, 188, 176;

  --color-orange-rgb: 227, 172, 151;

  --color-pink-rgb: 222, 170, 184;

  --color-purple-rgb: 198, 178, 195;

  --color-red-rgb: 237, 166, 165;

  --color-yellow-rgb: 236, 201, 134;

  --ebw-alpha2: #00000033;
  --ebw-alpha4: #00000066;

  --ebw-row-alt: #00000033;

  --ebw-tab-title-active-fg: #a0a0a0;

  --ebw-tab-title-inactive-focused-bg: #5d5d5d;
  --ebw-table-header-alt: #a75c70;

  --he-title-bar-active-fg: #f5f5f5;

  --highlight-mix-blend-mode: darken;
  --indentation-guide: #2f2f2f;
  --indentation-guide-active: #3f3f3f;
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px #ffffff17, 0 2px 4px 0 #00000026,
    0 1px 1.5px 0 #0000001a, 0 1px 2px 0 #00000033, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px #ffffff29, 0 2px 3px 0 #0000004d,
    0 1px 1.5px 0 #00000033, 0 1px 2px 0 #00000066, 0 0 0 0 transparent;

  --modifier-text: #fafafa;

  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;
  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #0000001f, 0px 3.4px 6.7px #0000002e, 0px 15px 30px #0000004d;

  --text-highlight-bg: #deaab8;

  --text-selection: #a75c7033;
  --text-selection-active: #a75c7003;

  --background-modifier-box-shadow: #0000004d;
  --background-modifier-cover: #000000cc;

  --background-modifier-form-field-highlighted: #00000038;

  --background-modifier-message: #3f3f3f;

  --color-blue-rgb: 159, 187, 216;

  --color-cyan-rgb: 158, 190, 188;

  --color-green-rgb: 173, 188, 176;

  --color-orange-rgb: 227, 172, 151;

  --color-pink-rgb: 222, 170, 184;

  --color-purple-rgb: 198, 178, 195;

  --color-red-rgb: 237, 166, 165;

  --color-yellow-rgb: 236, 201, 134;

  --ebw-alpha2: #00000033;
  --ebw-alpha4: #00000066;

  --ebw-row-alt: #00000033;

  --ebw-tab-title-active-fg: #a0a0a0;

  --ebw-tab-title-inactive-focused-bg: #5d5d5d;
  --ebw-table-header-alt: #a75c70;

  --he-title-bar-active-fg: #f5f5f5;

  --highlight-mix-blend-mode: darken;
  --indentation-guide: #2f2f2f;
  --indentation-guide-active: #3f3f3f;
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px #ffffff17, 0 2px 4px 0 #00000026,
    0 1px 1.5px 0 #0000001a, 0 1px 2px 0 #00000033, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px #ffffff29, 0 2px 3px 0 #0000004d,
    0 1px 1.5px 0 #00000033, 0 1px 2px 0 #00000066, 0 0 0 0 transparent;

  --modifier-text: #fafafa;

  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --pdf-shadow: 0 0 0 1px transparent;
  --pdf-thumbnail-shadow: 0 0 0 1px transparent;
  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #0000001f, 0px 3.4px 6.7px #0000002e, 0px 15px 30px #0000004d;

  --text-highlight-bg: #deaab8;

  --text-selection: #a75c7033;
  --text-selection-active: #a75c7003;
  --text-success: #91a695;
}
