:root[saved-theme="light"] {
  --background-primary: var(--gray-light-7);
  --background-primary-alt: var(--gray-light-5);
  --background-secondary: var(--gray-light-3);
  --background-secondary-alt: var(--gray-light-4);
  --background-modifier-hover: rgba(0, 0, 0, 0.075);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --background-modifier-border: var(--gray-light-1);
  --background-modifier-border-hover: var(--gray-light-2);
  --background-modifier-border-focus: var(--gray);
  --background-modifier-error-rgb: var(--red-4-rgb);
  --background-modifier-error: var(--red-4);
  --background-modifier-error-hover: var(--red-3);
  --background-modifier-success-rgb: var(--green-4-rgb);
  --background-modifier-success: var(--green-4);
  --background-modifier-warning: var(--yellow-3);
  --background-modifier-warning-hover: var(--yellow-4);
  --background-modifier-info: var(--blue-4);
  --modifier-text: white;
  --modifier-text-accent: var(--gray-light-7);
  --background-modifier-message: rgba(0, 0, 0, 0.9);
  --background-modifier-form-field: var(--background-primary);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --text-normal: var(--gray-dark-5);
  --text-muted: var(--gray-dark-4);
  --text-faint: var(--gray-dark-1);
  --text-accent: var(--primary-accent-4);
  --text-accent-hover: var(--primary-accent-5);
  --text-success: var(--green-4);
  --text-error: var(--red-4);
  --text-highlight-fg: var(--gray-dark-7);
  --text-highlight-bg-rgb: var(--primary-accent-4-rgb);
  --text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.2);
  --text-selection: rgba(var(--secondary-accent-4-rgb), 0.2);
  --interactive-hover: var(--primary-accent-1);
  --interactive-normal: var(--background-primary-alt);
  --text-on-accent: var(--gray-light-8);
  --interactive-accent: var(--primary-accent-4);
  --interactive-accent-hover: var(--primary-accent-3);
  --interactive-toggle: var(--secondary-accent-3);
  --interactive-disabled: var(--gray-light-3);
  --color-red-rgb: var(--red-4-rgb);
  --color-red: var(--red-4);
  --color-orange-rgb: var(--orange-4-rgb);
  --color-orange: var(--orange-4);
  --color-yellow-rgb: var(--yellow-3-rgb);
  --color-yellow: var(--yellow-3);
  --color-green-rgb: var(--green-4-rgb);
  --color-green: var(--green-4);
  --color-cyan-rgb: var(--cyan-4-rgb);
  --color-cyan: var(--cyan-4);
  --color-blue-rgb: var(--blue-4-rgb);
  --color-blue: var(--blue-4);
  --color-purple-rgb: var(--purple-4-rgb);
  --color-purple: var(--purple-4);
  --color-pink-rgb: var(--pink-4-rgb);
  --color-pink: var(--pink-4);
  --color-base-00: var(--gray-light-8);
  --color-base-05: var(--gray-light-7);
  --color-base-10: var(--gray-light-6);
  --color-base-20: var(--gray-light-5);
  --color-base-25: var(--gray-light-3);
  --color-base-30: var(--gray-light-2);
  --color-base-35: var(--gray-light-1);
  --color-base-40: var(--gray);
  --color-base-50: var(--gray-dark-1);
  --color-base-60: var(--gray-dark-3);
  --color-base-70: var(--gray-dark-4);
  --color-base-100: var(--gray-dark-8);
  --ebw-tab-title-active-fg: white;
  --ebw-tab-title-active-bg: var(--secondary-accent-4);
  --ebw-tab-title-inactive-bg: var(--gray-dark-3);
  --ebw-tab-title-active-focused-bg: var(--primary-accent-4);
  --ebw-he-title-border: var(--gray-dark-3);
  --he-title-bar-active-fg: white;
  --he-title-bar-active-bg: var(--secondary-accent-3);
  --he-title-bar-active-pinned-bg: var(--primary-accent-3);
  --he-title-bar-inactive-fg: var(--gray-light-5);
  --he-title-bar-inactive-bg: var(--gray-dark-1);
  --he-title-bar-inactive-pinned-bg: var(--gray-dark-1);
  --he-text-on-accent-inactive: var(--gray-dark-5);
  --he-text-on-accent-active: var(--gray-light-5);
  --graph-line: var(--gray-light-1);
  --graph-node: var(--primary-accent-2);
  --graph-node-focused: var(--yellow-1);
  --graph-node-tag: var(--secondary-accent-3);
  --graph-node-attachment: var(--secondary-accent-2);
  --graph-node-unresolved: var(--gray);
  --h1-color: var(--yellow-3);
  --h2-color: var(--green-4);
  --h3-color: var(--cyan-3);
  --h4-color: var(--blue-4);
  --h5-color: var(--purple-4);
  --h6-color: var(--pink-4);
  --bold-color: var(--blue-4);
  --italic-color: var(--pink-4);
  --ebw-strong-em: var(--yellow-3);
  --ebw-link-underline: var(--cyan-3);
  --ebw-link-hidden: var(--cyan-2);
  --link-color: var(--gray-dark-3);
  --link-color-hover: var(--cyan-4);
  --checkbox-checked: var(--green-3);
  --checkbox-deferred: var(--blue-3);
  --checkbox-review: var(--green-3);
  --checkbox-important: var(--red-4);
  --checkbox-in-progress: var(--cyan-3);
  --checkbox-question: var(--yellow-3);
  --checkbox-cancelled: var(--gray-dark-1);
  --checkbox-hover: var(--gray-light-2);
  --blockquote-border-color: var(--secondary-accent-2);
  --ebw-callout-toc: 159, 159, 159;
  --ebw-callout-reference: 137, 137, 137;
  --ebw-callout-success: 92, 122, 99;
  --ebw-callout-note: 33, 75, 109;
  --ebw-callout-abstract: 88, 64, 84;
  --ebw-callout-info: 53, 119, 174;
  --ebw-callout-tip: 61, 126, 123;
  --ebw-callout-danger: 167, 92, 112;
  --code-normal: var(--blue-4);
  --ebw-embed-border-color: var(--primary-accent-1);
  --calendar-year: var(--primary-accent-4);
  --calendar-month: var(--secondary-accent-4);
  --calendar-dividing-line: var(--primary-accent-1);
  --day-planner-timeline-fg: var(--primary-accent-1);
  --table-header-color: var(--gray-dark-7);
  --table-header-background: var(--primary-accent-1);
  --table-header-border-color: var(--primary-accent-3);
  --table-header-weight: var(--font-semibold);
  --ebw-table-header-alt: rgba(var(--primary-accent-4-rgb), 0.4);
  --ebw-row-alt: rgba(0, 0, 0, 0.05);
}
