:root:root {
  --background-primary: #10111b;
  --background-primary-alt: #10111b;
  --background-secondary: #090a0f;
  --background-secondary-alt: #090a0f;
  --text-normal: #f9f7f2;
  --text-faint: #eeeeee;
  --text-title-h1: #9200ff;
  --text-title-h2: #9200ff;
  --text-title-h3: #9200ff;
  --text-title-h4: #9200ff;
  --text-title-h5: #9200ff;
  --text-title-h6: #9200ff;
  --text-highlight-bg: #640211;
  --text-link: #00ff7d;
  --text-a-hover: #00ff7d;
  --text-accent-hover: #26b3d2;
  --inline-code: #00ff7d;
  --code-block: #00ff7d;
  --text-a: #ff058d;
  --interactive-accent: #ff058d;
  --text-accent: #ff058d;
  --text-on-accent: #ffffff;
  --interactive-accent-rgb: #ff058d;
  --vim-cursor: #ff058d;
  --interactive-before: #ea748f;
  --background-modifier-border: #ff058d;
  --text-selection: #b80034;
}
