body.github-dark {
  --code-background: var(--color-github-dark-background);
  --code-normal: var(--text-muted);
  --code-comment: var(--text-faint);
  --code-function: var(--color-github-dark-orange);
  --code-important: var(--color-github-dark-orange);
  --code-keyword: var(--color-github-dark-red);
  --code-property: var(--color-github-dark-blue);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-github-dark-cyan);
  --code-tag: var(--color-github-dark-red);
  --code-value: var(--color-github-dark-purple);
}
