:root[saved-theme="light"] {
  --window-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey,
    inset 2px 2px #fff;
  --background-primary: #ffffff;
  --background-secondary: #ececec;
  --background-secondary-alt: #d4d0c8;
  --background-tertiary: #c0c0c0;
  --titlebar-background: #3c8000;
  --titlebar-text: #ffffff;
  --text-normal: #000000;
  --text-muted: #333333;
  --text-faint: #666666;
  --text-accent: #008015;
  --interactive-normal: #d4d0c8;
  --interactive-hover: #e6e6e6;
  --interactive-accent: #000080;
  --interactive-accent-hover: #0000aa;
  --button-background: #d4d0c8;
  --button-text: #000000;
  --folder-color-1: #965d5d;
  --folder-color-2: #8470a6;
  --folder-color-3: #507a9e;
  --folder-color-4: #5a8d76;
  --folder-color-5: #a19c6c;
  --folder-color-6: #a67a5b;
  --folder-color-7: #96707e;
  --folder-color-8: #5b8b9e;
  --folder-color-9: #6b8c6b;
  --folder-color-10: #8b7e6d;
  --folder-color-11: #8d6b83;
  --folder-color-12: #6c8299;

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
