:root[saved-theme="dark"] {
  --table-header-font: var(--header-font);
  --table-border-width: 1px;
  --table-column-alt-background: transparent;
  --table-header-border-color: rgba(var(--mono-rgb-0), 50%);
  --table-border-color: rgba(var(--mono-rgb-0), 50%);
  --table-header-background: rgba(var(--mono-rgb-0), 25%);
  --table-background: rgba(var(--mono-rgb-100), 5%);
  --table-row-alt-background: rgba(var(--mono-rgb-0), 5%);
  --table-header-background-hover: rgba(var(--mono-rgb-100), 10%);
  --table-row-background-hover: rgba(var(--mono-rgb-100), 10%);
  --table-row-alt-background-hover: rgba(var(--mono-rgb-100), 10%);
  --statblock-property-name-font-color: var(--frost3);
  --statblock-section-heading-font-color: var(--frost3);
  --statblock-heading-font-color: var(--dark0);
  --statblock-heading-font-color: var(--dark1);
  --statblock-primary-color: var(--light1);
  --statblock-rule-color: var(--frost3);
  --statblock-background-color: rgba(var(--mono-rgb-0), 0.2);
  --statblock-bar-color: var(--frost3);
  --statblock-image-border-color: var(--statblock-primary-color);
  --statblock-border-color: var(--dark1);
  --statblock-box-shadow-color: rgba(var(--mono-rgb-0), 0.4);
  --statblock-font-color: var(--statblock-primary-color);
  --statblock-heading-font-color: var(--frost3);
  --statblock-property-font-color: var(--statblock-font-color);
  --statblock-section-heading-border-color: var(--statblock-primary-color);

  code[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
