:root[saved-theme="light"] {
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 191, 97, 106;
  --color-red: #bf616a;
  --color-orange-rgb: 208, 135, 112;
  --color-orange: #d08770;
  --color-yellow-rgb: 235, 203, 139;
  --color-yellow: #ebcb8b;
  --color-green-rgb: 163, 190, 140;
  --color-green: #a3be8c;
  --color-cyan-rgb: 97, 177, 191;
  --color-cyan: #61b1bf;
  --color-blue-rgb: 97, 153, 191;
  --color-blue: #6199bf;
  --color-purple-rgb: 149, 142, 180;
  --color-purple: #958eb4;
  --color-pink-rgb: 180, 142, 173;
  --color-pink: #b48ead;
  --color-base-00: var(--nord-color-base-00);
  --color-base-05: var(--nord-color-base-05);
  --color-base-10: var(--nord-color-base-10);
  --color-base-20: var(--nord-color-base-20);
  --color-base-25: var(--nord-color-base-25);
  --color-base-30: var(--nord-color-base-30);
  --color-base-35: var(--nord-color-base-35);
  --color-base-40: var(--nord-color-base-40);
  --color-base-50: var(--nord-color-base-50);
  --color-base-60: var(--nord-color-base-60);
  --color-base-70: var(--nord-color-base-70);
  --color-base-100: var(--nord-color-base-100);
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --accent-h: 210;
  --accent-s: 34%;
  --accent-l: 63%;
  --accent-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --text-highlight-bg: var(--accent-color);
  --header-color: var(--accent-color);
  --list-marker-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --inline-title-color: var(--accent-color);
  --inline-title-font: var(--header-font);
  --tab-radius: 0;
  --tab-radius-active: 0;
  --tab-outline-width: 2px;
  --tab-curve: 0;
  --tab-outline-color: var(--accent-color);
  --tab-text-color-focused-active-current: var(--frost2);
  --bold-weight: 700;
  --header-font: "Norwester";
  --font-text-theme: "Avenir";
  --h1-color: var(--header-color);
  --h2-color: var(--header-color);
  --h3-color: var(--header-color);
  --h4-color: var(--header-color);
  --h5-color: var(--header-color);
  --h6-color: var(--header-color);
  --nord-color-base-00: white;
  --nord-color-base-05: white;
  --nord-color-base-10: #eceff4;
  --nord-color-base-20: #eceff4;
  --nord-color-base-25: #e5e9f0;
  --nord-color-base-30: #e5e9f0;
  --nord-color-base-35: #d8dee9;
  --nord-color-base-40: #d8dee9;
  --nord-color-base-50: #4c566a;
  --nord-color-base-60: #434c5e;
  --nord-color-base-70: #3b4252;
  --nord-color-base-100: #2e3440;
  --text-normal: color-mix(in srgb, var(--accent-color), #000 45%);
  --text-muted: color-mix(in srgb, var(--accent-color), #000 20%);
  --table-header-font: var(--header-font);
  --table-border-width: 1px;
  --table-column-alt-background: transparent;
  --table-header-border-color: rgba(var(--mono-rgb-100), 50%);
  --table-border-color: rgba(var(--mono-rgb-100), 50%);
  --table-header-background: rgba(var(--mono-rgb-100), 25%);
  --table-background: rgba(var(--mono-rgb-0), 5%);
  --table-row-alt-background: rgba(var(--mono-rgb-100), 5%);
  --table-header-background-hover: rgba(var(--mono-rgb-0), 10%);
  --table-row-background-hover: rgba(var(--mono-rgb-0), 10%);
  --table-row-alt-background-hover: rgba(var(--mono-rgb-0), 10%);
  --statblock-property-name-font-color: var(--frost3);
  --statblock-section-heading-font-color: var(--frost3);
  --statblock-heading-font-color: var(--frost3);
  --statblock-primary-color: var(--frost2);
  --statblock-rule-color: var(--frost3);
  --statblock-background-color: rgba(var(--mono-rgb-100), 0.05);
  --statblock-bar-color: var(--frost3);
  --statblock-image-border-color: var(--statblock-primary-color);
  --statblock-border-color: var(--light2);
  --statblock-box-shadow-color: var(--light2);
  --statblock-font-color: var(--statblock-primary-color);
  --statblock-property-font-color: var(--statblock-font-color);
  --statblock-section-heading-border-color: var(--statblock-primary-color);
}
