.theme-light {
  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 191, 97, 106;
  --color-red: #bf616a;
  --color-green-rgb: 163, 190, 140;
  --color-green: #a3be8c;
  --color-orange-rgb: 208, 135, 112;
  --color-orange: #d08770;
  --color-yellow-rgb: 235, 203, 139;
  --color-yellow: #ebcb8b;
  --color-cyan-rgb: 136, 192, 208;
  --color-cyan: #88c0d0;
  --color-blue-rgb: 129, 161, 193;
  --color-blue: #81a1c1;
  --color-purple-rgb: 94, 129, 172;
  --color-purple: #5e81ac;
  --color-pink-rgb: 180, 142, 173;
  --color-pink: #b48ead;
  --color-base-00: #ffffff;
  --color-base-05: #f1f3f6;
  --color-base-10: #edf0f4;
  --color-base-20: #e5e9f0;
  --color-base-25: #dbe0e9;
  --color-base-30: #d8dee9;
  --color-base-35: #ced4de;
  --color-base-40: #bec5d2;
  --color-base-50: #abb4c4;
  --color-base-60: #99a3b6;
  --color-base-70: #848fa4;
  --color-base-100: #4a5364;
}
