:is(
  .cm-line,
  .callout,
  .math-block,
  .table-wrapper,
  .media-embed,
  img,
  .inline-title,
  .metadata-container
) {
  transition:
    opacity 0.2s,
    font-size 0.2s;
}
:is(
  .cm-active.cm-line,
  .callout:hover,
  .math-block:hover,
  .table-wrapper:hover,
  .table-wrapper:focus-within,
  .media-embed:hover,
  img:hover,
  .markdown-source-view .inline-title:hover,
  .markdown-source-view .metadata-container:hover,
  .markdown-source-view .metadata-container:focus-within
),
.opacity-hover .cm-line:hover {
  opacity: 1 !important;
  filter: none !important;
}
.cm-active.cm-line:not(.HyperMD-header),
.opacity-hover .cm-line:not(.HyperMD-header):hover {
  font-size: var(--active-line-size) !important;
}
.cm-contentContainer
  :is(.cm-line, .callout, .math-block, .table-wrapper, .media-embed, img),
.markdown-source-view :is(.inline-title, .metadata-container) {
  opacity: var(--inactive-line-opacity);
  filter: blur(var(--inactive-line-blur));
}
