:root[saved-theme="dark"] {
  --hr-thickness: 1px;
  --color-base-00: #fcfef3;
  --color-base-05: #a48783;
  --color-base-10: #a48783;
  --color-base-20: #4b2139;
  --color-base-25: #a48783;
  --color-base-30: #a48783;
  --color-base-35: #202430;
  --color-base-40: #202430;
  --color-base-50: #a48783;
  --color-base-60: #a48783;
  --color-base-70: #c1aeac;
  --color-base-100: #666666;
  --interactive-normal: #e5dfd3;
  --slider-track-background: #e5dfd3;
  --icon-color: #c8bcac;
  --icon-color-hover: #41250c;
  --icon-color-focused: #fff;
  --code-background: #4b2139;
  --nav-item-color: #fff;
  --nav-item-color-active: #7f6c5e;
  --nav-item-color-hover: #41250c;
  --nav-item-background-active: none;
  --nav-item-background-hover: #a48783;
  --tag-background: transparent;
  --tag-background-hover: transparent;
  --tag-color: #a48783;
  --tag-color-hover: #e5dfd3;
  --text-accent: #527a98;
  --tab-divider-color: #fff;
}
