:root[saved-theme="light"] {
  --base03: rgb(0, 43, 54);
  --base02: rgb(7, 54, 66);
  --base01: rgb(88, 110, 117);
  --base00: rgb(101, 123, 131);
  --base0: rgb(131, 148, 150);
  --base1: rgb(147, 161, 161);
  --base2: rgb(238, 232, 213);
  --base3: rgb(253, 246, 227);
  --color-yellow: rgb(181, 137, 0);
  --color-yellow-rgb: 181, 137, 0;
  --color-orange: rgb(203, 75, 22);
  --color-orange-rgb: 203, 75, 22;
  --color-red: rgb(220, 50, 47);
  --color-red-rgb: 220, 50, 47;
  --color-pink: rgb(211, 54, 130);
  --color-pink-rgb: 211, 54, 130;
  --color-purple: rgb(108, 113, 196);
  --color-purple-rgb: 108, 113, 196;
  --color-blue: rgb(38, 139, 210);
  --color-blue-rgb: 38, 139, 210;
  --color-cyan: rgb(42, 161, 152);
  --color-cyan-rgb: 42, 161, 152;
  --color-green: rgb(133, 153, 0);
  --color-green-rgb: 133, 153, 0;
  --accent-h: 17.5690607735deg;
  --accent-s: 80.4444444444%;
  --accent-l: 44.1176470588%;
  --color-base-00: var(--base2);
  --color-base-05: #fcfcfc;
  --color-base-10: var(--base2);
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: var(--base2);
  --color-base-35: var(--base2);
  --color-base-40: var(--base00);
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5a5a5a;
  --color-base-100: #222222;
  --background-primary: var(--base3);
  --background-primary-alt: var(--base2);
  --text-normal: var(--base00);
  --text-muted: var(--base0);
  --text-faint: var(--base1);
  --active-bg: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);
  --nav-item-background-active: var(--active-bg);
  --tag-background: hsla(var(--interactive-accent-hsl), 0.1);
  --interactive-accent: var(--color-accent);
  --background-secondary: var(--background-primary);
  --background-secondary-alt: var(--background-primary-alt);
  --text-on-accent: var(--background-primary);
  --text-title: var(--color-cyan);
  --heading-formatting: var(--text-title);
  --h1-color: var(--text-title);
  --h2-color: var(--text-title);
  --h3-color: var(--text-title);
  --h4-color: var(--text-title);
  --h5-color: var(--text-title);
  --h6-color: var(--text-title);
  --link-color: var(--color-blue);
  --link-color-hover: var(--link-color);
  --link-decoration: none;
  --link-decoration-hover: underline;
  --link-external-color: var(--color-purple);
  --link-external-color-hover: var(--link-external-color);
  --link-external-decoration: none;
  --link-external-decoration-hover: underline;
  --link-unresolved-color: var(--color-red);
  --link-unresolved-color-hover: var(--link-unresolved-color);
  --link-unresolved-opacity: unset;
  --link-unresolved-decoration-color: var(--link-unresolved-color);
  --code-normal: var(--text-normal);
  --code-comment: var(--color-cyan);
  --code-function: var(--color-blue);
  --code-important: var(--color-orange);
  --code-keyword: var(--color-green);
  --code-operator: var(--code-normal);
  --code-property: var(--code-normal);
  --code-punctuation: var(--code-normal);
  --code-string: var(--color-cyan);
  --code-tag: var(--color-red);
  --code-value: var(--color-pink);
  --table-header-size: inherit;
  --table-header-weight: var(--font-bold);
  --table-header-color: inherit;
  --text-highlight-bg: var(--color-accent);
  --text-highlight-bg-active: var(--color-accent);
  --checkbox-border-color: var(--interactive-accent);
  --checkbox-border-color-hover: var(--interactive-accent-hover);
  --tag-padding-x: var(--tag-padding-y);
  --tag-color: var(--color-accent);
  --background-modifier-border-focus: var(--interactive-accent);

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
