.color-scheme-tokyo-night-moon {
  --bg: #222436;
  --bg-dark: #1e2030;
  --bg-highlight: #2f334d;
  --blue: #82aaff;
  --blue0: #3e68d7;
  --blue1: #65bcff;
  --blue2: #0db9d7;
  --blue5: #89ddff;
  --blue6: #b4f9f8;
  --blue7: #394b70;
  --comment: #636da6;
  --cyan: #86e1fc;
  --dark3: #545c7e;
  --dark5: #737aa2;
  --fg: #c8d3f5;
  --fg-dark: #828bb8;
  --fg-gutter: #3b4261;
  --green: #c3e88d;
  --green1: #4fd6be;
  --green2: #41a6b5;
  --magenta: #c099ff;
  --magenta2: #ff007c;
  --orange: #ff966c;
  --purple: #fca7ea;
  --red: #ff757f;
  --red1: #c53b53;
  --teal: #4fd6be;
  --terminal-black: #444a73;
  --yellow: #ffc777;
  --color-red: var(--red);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-cyan: var(--cyan);
  --color-blue: var(--blue);
  --color-purple: var(--purple);
  --color-pink: pink;
  --background-primary: var(--bg);
  --background-secondary: var(--bg-dark);
  --selection-background-color: var(--bg-highlight);
  --border-color-primary: var(--fg-gutter);
  --border-color-secondary: var(--fg-gutter);
  --text-color: var(--fg);
  --text-color-accent: white;
  --text-color-muted-dark: var(--fg-gutter);
  --text-color-muted-light: var(--fg-dark);
  --accent-color-dark: var(--magenta);
  --accent-color-light: var(--blue);
  --accent-color-hover: var(--purple);
  --accent-h: 263;
  --accent-s: 100%;
  --accent-l: 80%;
  --canvas-color: 192, 153, 255 !important;
  --code-important: var(--color-yellow);
  --code-boolean: var(--orange);
  --code-builtin: var(--color-cyan);
  --code-comment: var(--comment);
  --code-definition: var(--color-blue);
  --code-keyword: var(--color-purple);
  --code-operator: var(--color-cyan);
  --code-property: var(--blue);
  --code-parentheses: var(--fg-dark);
  --code-string: var(--color-green);
  --code-value: var(--color-orange);
  --code-variable: var(--fg);
}
