.view-content .task-list-item-checkbox {
  appearance: none;
  scale: 1.2;
  border: 1px solid var(--text-normal);
  transition:
    box-shadow 0.5s,
    background-color 0.5s,
    border-color 0.5s !important;
}
input[type="checkbox"]:checked:after {
  background-color: var(--text-normal);
}
.task-list-item-checkbox[data-task="x"],
li.task-list-item[data-task="x"] .task-list-item-checkbox {
  background-color: rgba(0, 128, 0, 0.5);
  box-shadow:
    inset 0 0 6px green,
    0 0 10px green,
    0 0 5px green;
}
.task-list-item-checkbox[data-task="x"]:hover,
ul > li.task-list-item[data-task="x"] .task-list-item-checkbox:hover {
  background-color: rgba(0, 99, 0, 0.5);
  box-shadow:
    inset 0 0 10px green,
    0 0 10px green,
    0 0 5px green;
  border: 1px solid green;
}
[data-task="x"] input[type="checkbox"]:checked:after,
[data-task="x"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3e%3cpath d='m8.5 16.586l-3.793-3.793a1 1 0 0 0-1.414 1.414l4.5 4.5a1 1 0 0 0 1.414 0l11-11a1 1 0 0 0-1.414-1.414L8.5 16.586Z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="?"],
ul > li.task-list-item[data-task="?"] .task-list-item-checkbox {
  background-color: rgba(218, 165, 32, 0.5);
  box-shadow:
    inset 0 0 6px goldenrod,
    0 0 10px goldenrod,
    0 0 5px goldenrod;
}
.task-list-item-checkbox[data-task="?"]:hover,
ul > li.task-list-item[data-task="?"] .task-list-item-checkbox:hover {
  background-color: rgba(209, 178, 2, 0.5);
  box-shadow:
    inset 0 0 10px goldenrod,
    0 0 10px goldenrod,
    0 0 5px goldenrod;
  border: 1px solid goldenrod;
}
[data-task="?"] input[type="checkbox"]:checked:after,
[data-task="?"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3e%3cpath d='M12 4a5 5 0 0 0-5 5 1 1 0 0 0 2 0 3 3 0 1 1 6 0c0 .816-.199 1.294-.438 1.629-.262.365-.625.638-1.128.985l-.116.078c-.447.306-1.023.699-1.469 1.247-.527.648-.849 1.467-.849 2.561v.5a1 1 0 1 0 2 0v-.5c0-.656.178-1.024.4-1.299.257-.314.603-.552 1.114-.903l.053-.037c.496-.34 1.133-.786 1.62-1.468C16.7 11.081 17 10.183 17 9a5 5 0 0 0-5-5zm0 17.25a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5z'/%3e%3c/svg%3e");
  -webkit-mask-size: 100%;
}
.task-list-item-checkbox[data-task="-"],
ul > li.task-list-item[data-task="-"] .task-list-item-checkbox {
  background-color: rgba(220, 20, 60, 0.5);
  box-shadow:
    inset 0 0 6px crimson,
    0 0 10px crimson,
    0 0 5px crimson;
}
.task-list-item-checkbox[data-task="-"]:hover,
ul > li.task-list-item[data-task="-"] .task-list-item-checkbox:hover {
  background-color: rgba(215, 4, 4, 0.5);
  box-shadow:
    inset 0 0 10px crimson,
    0 0 10px crimson,
    0 0 5px crimson;
  border: 1px solid crimson;
}
[data-task="-"] input[type="checkbox"]:checked:after,
[data-task="-"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M2.397 2.554l.073-.084a.75.75 0 0 1 .976-.073l.084.073L8 6.939l4.47-4.47a.75.75 0 1 1 1.06 1.061L9.061 8l4.47 4.47a.75.75 0 0 1 .072.976l-.073.084a.75.75 0 0 1-.976.073l-.084-.073L8 9.061l-4.47 4.47a.75.75 0 0 1-1.06-1.061L6.939 8l-4.47-4.47a.75.75 0 0 1-.072-.976l.073-.084-.073.084z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="!"],
ul > li.task-list-item[data-task="!"] .task-list-item-checkbox {
  background-color: rgba(255, 140, 0, 0.5);
  box-shadow:
    inset 0 0 6px darkorange,
    0 0 10px darkorange,
    0 0 5px darkorange;
}
.task-list-item-checkbox[data-task="!"]:hover,
ul > li.task-list-item[data-task="!"] .task-list-item-checkbox:hover {
  background-color: rgba(255, 140, 0, 0.5);
  border: 1px solid darkorange;
  box-shadow:
    inset 0 0 10px darkorange,
    0 0 10px darkorange,
    0 0 5px darkorange;
}
[data-task="!"] input[type="checkbox"]:checked:after,
[data-task="!"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M5.96 4.457a2.075 2.075 0 1 1 4.08 0l-.856 4.56a1.205 1.205 0 0 1-2.368 0l-.855-4.56ZM9.5 12.5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0Z'/%3e%3c/svg%3e");
  -webkit-mask-size: 100%;
}
.task-list-item-checkbox[data-task=">"],
ul > li.task-list-item[data-task=">"] .task-list-item-checkbox {
  background-color: rgba(95, 158, 160, 0.5);
  box-shadow:
    inset 0 0 6px cadetblue,
    0 0 10px cadetblue,
    0 0 5px cadetblue;
}
.task-list-item-checkbox[data-task=">"]:hover,
ul > li.task-list-item[data-task=">"] .task-list-item-checkbox:hover {
  background-color: rgba(95, 158, 160, 0.5);
  border: 1px solid cadetblue;
  box-shadow:
    inset 0 0 10px cadetblue,
    0 0 10px cadetblue,
    0 0 5px cadetblue;
}
[data-task=">"] input[type="checkbox"]:checked:after,
[data-task=">"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M5.74 3.2a.75.75 0 0 0-.04 1.06L9.227 8L5.7 11.74a.75.75 0 1 0 1.1 1.02l4-4.25a.75.75 0 0 0 0-1.02l-4-4.25a.75.75 0 0 0-1.06-.04Z'/%3e%3c/svg%3e");
  -webkit-mask-size: 100%;
}
.task-list-item-checkbox[data-task="/"],
ul > li.task-list-item[data-task="/"] .task-list-item-checkbox {
  background-color: rgba(216, 112, 147, 0.5);
  box-shadow:
    inset 0 0 6px palevioletred,
    0 0 10px palevioletred,
    0 0 5px palevioletred;
}
.task-list-item-checkbox[data-task="/"]:hover,
ul > li.task-list-item[data-task="/"] .task-list-item-checkbox:hover {
  background-color: rgba(216, 112, 147, 0.5);
  box-shadow:
    inset 0 0 10px palevioletred,
    0 0 10px palevioletred,
    0 0 5px palevioletred;
  border: 1px solid palevioletred;
}
[data-task="/"] input[type="checkbox"]:checked:after,
[data-task="/"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' %3e%3cpath d='M10 2a8 8 0 1 0 0 16a8 8 0 0 0 0-16Zm0 1a7 7 0 0 1 6.982 6.5H3.018A7 7 0 0 1 10 3Z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="R"],
ul > li.task-list-item[data-task="R"] .task-list-item-checkbox {
  background-color: rgba(105, 90, 205, 0.5);
  box-shadow:
    inset 0 0 6px slateblue,
    0 0 10px slateblue,
    0 0 5px slateblue;
}
.task-list-item-checkbox[data-task="R"]:hover,
ul > li.task-list-item[data-task="R"] .task-list-item-checkbox:hover {
  background-color: rgba(105, 90, 205, 0.5);
  border: 1px solid slateblue;
  box-shadow:
    inset 0 0 10px slateblue,
    0 0 10px slateblue,
    0 0 5px slateblue;
}
[data-task="R"] input[type="checkbox"]:checked:after,
[data-task="R"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M2.984 8.625v.003a.5.5 0 0 1-.612.355c-.431-.114-.355-.611-.355-.611l.018-.062.047-.145a6.7 6.7 0 0 1 1.117-1.982C4.096 5.089 5.605 4 8 4s3.904 1.089 4.802 2.183a6.7 6.7 0 0 1 1.117 1.982 4.077 4.077 0 0 1 .06.187l.003.013v.004l.001.002a.5.5 0 0 1-.966.258l-.001-.004-.008-.025a4.872 4.872 0 0 0-.2-.52 5.696 5.696 0 0 0-.78-1.263C11.286 5.912 10.044 5 8 5s-3.285.912-4.028 1.817a5.7 5.7 0 0 0-.945 1.674 3.018 3.018 0 0 0-.035.109l-.008.025zM8 7a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM6.5 9.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="+"],
ul > li.task-list-item[data-task="+"] .task-list-item-checkbox {
  background-color: rgba(192, 192, 192, 0.5);
  box-shadow:
    inset 0 0 6px silver,
    0 0 10px silver,
    0 0 5px silver;
}
.task-list-item-checkbox[data-task="+"]:hover,
ul > li.task-list-item[data-task="+"] .task-list-item-checkbox:hover {
  background-color: rgba(192, 192, 192, 0.5);
  border: 1px solid silver;
  box-shadow:
    inset 0 0 10px silver,
    0 0 10px silver,
    0 0 5px silver;
}
[data-task="+"] input[type="checkbox"]:checked:after,
[data-task="+"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M15 5.5a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0zm-4-2a.5.5 0 0 0-1 0V5H8.5a.5.5 0 0 0 0 1H10v1.5a.5.5 0 0 0 1 0V6h1.5a.5.5 0 0 0 0-1H11V3.5zm-.5 7.5c1.33 0 2.55-.472 3.5-1.257V12.5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 12.5v-7A2.5 2.5 0 0 1 4.5 3h1.1a5.463 5.463 0 0 0-.393 1H4.5A1.5 1.5 0 0 0 3 5.5V9h2.5a.5.5 0 0 1 .5.5 2.14 2.14 0 0 0 .032.308c.041.247.115.494.228.718.308.618.843.974 1.74.974.692 0 1.168-.212 1.492-.592.326.06.663.092 1.008.092z'/%3e%3c/svg%3e");
  -webkit-mask-size: 85%;
}
.task-list-item-checkbox[data-task="b"],
ul > li.task-list-item[data-task="b"] .task-list-item-checkbox {
  background-color: rgba(184, 135, 11, 0.5);
  box-shadow:
    inset 0 0 6px darkgoldenrod,
    0 0 10px darkgoldenrod,
    0 0 5px darkgoldenrod;
}
.task-list-item-checkbox[data-task="b"]:hover,
ul > li.task-list-item[data-task="b"] .task-list-item-checkbox:hover {
  background-color: rgba(184, 135, 11, 0.5);
  border: 1px solid darkgoldenrod;
  box-shadow:
    inset 0 0 10px darkgoldenrod,
    0 0 10px darkgoldenrod,
    0 0 5px darkgoldenrod;
}
[data-task="b"] input[type="checkbox"]:checked:after,
[data-task="b"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' %3e%3cpath d='M4 4.5A2.5 2.5 0 0 1 6.5 2h7A2.5 2.5 0 0 1 16 4.5v13a.5.5 0 0 1-.794.404L10 14.118l-5.206 3.786A.5.5 0 0 1 4 17.5v-13Z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="B"],
ul > li.task-list-item[data-task="B"] .task-list-item-checkbox {
  background-color: rgba(255, 105, 180, 0.5);
  box-shadow:
    inset 0 0 6px hotpink,
    0 0 10px hotpink,
    0 0 5px hotpink;
}
.task-list-item-checkbox[data-task="B"]:hover,
ul > li.task-list-item[data-task="B"] .task-list-item-checkbox:hover {
  background-color: rgba(255, 105, 180, 0.5);
  border: 1px solid hotpink;
  box-shadow:
    inset 0 0 10px hotpink,
    0 0 10px hotpink,
    0 0 5px hotpink;
}
[data-task="B"] input[type="checkbox"]:checked:after,
[data-task="B"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' %3e%3cpath d='M6.13 2.793A3.91 3.91 0 0 1 8.5 2c.24 0 .431.125.542.211a2.41 2.41 0 0 1 .344.348.5.5 0 0 1 .114.318V6.5H8.415a1.5 1.5 0 1 0 0 1H9.5v9.415a.5.5 0 0 1-.183.387C8.855 17.68 8.237 18 7.5 18c-1.186 0-2.069-.598-2.64-1.313a4.057 4.057 0 0 1-.819-1.752 2.68 2.68 0 0 1-1.054-.555C2.435 13.907 2 13.14 2 12c0-.557.037-1.06.12-1.5h3.13a1.25 1.25 0 0 1 1.24 1.089 1.5 1.5 0 1 0 1.004-.006A2.25 2.25 0 0 0 5.25 9.5H2.441c.153-.298.358-.55.625-.729a1.58 1.58 0 0 1 .212-.118c-.284-.832-.21-1.806.064-2.571.175-.492.453-.957.835-1.267.252-.205.552-.34.88-.366.144-.683.549-1.248 1.074-1.656zM10.5 14.5h.75a2.25 2.25 0 0 0 2.25-2.25v-1.835a1.5 1.5 0 1 0-1 0v1.835a1.25 1.25 0 0 1-1.25 1.25h-.75V2.877a.5.5 0 0 1 .114-.318 2.36 2.36 0 0 1 .344-.348c.11-.086.301-.211.542-.211a3.91 3.91 0 0 1 2.37.793c.525.408.93.973 1.073 1.656.328.025.628.161.88.366.382.31.66.775.835 1.267.274.765.348 1.74.064 2.57a1.66 1.66 0 0 1 .212.12c.275.183.484.445.638.754.303.605.428 1.449.428 2.474 0 1.141-.435 1.907-.987 2.38a2.68 2.68 0 0 1-1.054.555c-.1.558-.38 1.204-.819 1.752-.57.715-1.454 1.313-2.64 1.313-.736 0-1.355-.32-1.816-.698a.5.5 0 0 1-.184-.387V14.5zM7 6.5a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1zm0 6a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1zm6-3a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="D"],
ul > li.task-list-item[data-task="D"] .task-list-item-checkbox {
  background-color: rgba(106, 142, 35, 0.5);
  box-shadow:
    inset 0 0 6px olivedrab,
    0 0 10px olivedrab,
    0 0 5px olivedrab;
}
.task-list-item-checkbox[data-task="D"]:hover,
ul > li.task-list-item[data-task="D"] .task-list-item-checkbox:hover {
  background-color: rgba(106, 142, 35, 0.5);
  border: 1px solid olivedrab;
  box-shadow:
    inset 0 0 10px olivedrab,
    0 0 10px olivedrab,
    0 0 5px olivedrab;
}
[data-task="D"] input[type="checkbox"]:checked:after,
[data-task="D"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M10.752 8.997a.748.748 0 1 1 0-1.497.748.748 0 0 1 0 1.497zm-.749 1.752a.748.748 0 1 0 1.497 0 .748.748 0 0 0-1.497 0zM8 8.996A.748.748 0 1 1 8 7.5.748.748 0 0 1 8 8.997zm-.749 1.752a.748.748 0 1 0 1.497 0 .748.748 0 0 0-1.497 0zm-2-1.752a.748.748 0 1 1 0-1.497.748.748 0 0 1 0 1.497zM2 4.5A2.5 2.5 0 0 1 4.5 2h7A2.5 2.5 0 0 1 14 4.5v7a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 11.5v-7zM13 6H3v5.5A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5V6zm-1.5-3h-7A1.5 1.5 0 0 0 3 4.5V5h10v-.5A1.5 1.5 0 0 0 11.5 3z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="I"],
ul > li.task-list-item[data-task="I"] .task-list-item-checkbox {
  background-color: rgba(30, 143, 255, 0.5);
  box-shadow:
    inset 0 0 6px dodgerblue,
    0 0 10px dodgerblue,
    0 0 5px dodgerblue;
}
.task-list-item-checkbox[data-task="I"]:hover,
ul > li.task-list-item[data-task="I"] .task-list-item-checkbox:hover {
  background-color: rgba(30, 143, 255, 0.5);
  border: 1px solid dodgerblue;
  box-shadow:
    inset 0 0 10px dodgerblue,
    0 0 10px dodgerblue,
    0 0 5px dodgerblue;
}
[data-task="I"] input[type="checkbox"]:checked:after,
[data-task="I"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M8 7a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 7zm0-.75a.749.749 0 1 0 0-1.5.749.749 0 0 0 0 1.498zM2 8a6 6 0 1 1 12 0A6 6 0 0 1 2 8zm6-5a5 5 0 1 0 0 10A5 5 0 0 0 8 3z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="i"],
ul > li.task-list-item[data-task="i"] .task-list-item-checkbox {
  background-color: rgba(244, 165, 96, 0.5);
  box-shadow:
    inset 0 0 6px sandybrown,
    0 0 10px sandybrown,
    0 0 5px sandybrown;
}
.task-list-item-checkbox[data-task="i"]:hover,
ul > li.task-list-item[data-task="i"] .task-list-item-checkbox:hover {
  background-color: rgba(244, 165, 96, 0.5);
  box-shadow:
    inset 0 0 10px sandybrown,
    0 0 10px sandybrown,
    0 0 5px sandybrown;
  border: 1px solid sandybrown;
}
[data-task="i"] input[type="checkbox"]:checked:after,
[data-task="i"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' %3e%3cpath d='M9.5 6.502a.5.5 0 0 1 1 0v1.002a.5.5 0 0 1-1 0V6.502zm3.35.941a.5.5 0 0 0-.707 0l-.708.709a.5.5 0 0 0 .707.707l.709-.709a.5.5 0 0 0 0-.707zm-4.998 0a.5.5 0 1 0-.707.707l.708.709a.5.5 0 1 0 .707-.707l-.708-.709zM10 2c3.314 0 6 2.597 6 5.8 0 1.677-.745 3.216-2.204 4.594a.599.599 0 0 0-.145.213l-.026.081-.936 3.917c-.184.771-.865 1.33-1.67 1.39l-.144.005h-1.75c-.818 0-1.535-.516-1.776-1.262l-.038-.133-.935-3.916a.595.595 0 0 0-.17-.295c-1.39-1.312-2.133-2.77-2.2-4.355L4 7.8l.003-.191C4.108 4.494 6.753 2 10 2zM7.955 15l.319 1.334.026.096c.097.3.376.522.712.563l.113.007h1.713l.106-.003a.856.856 0 0 0 .741-.525l.031-.1.329-1.372h-4.09zM10 3C7.368 3 5.212 4.953 5.015 7.414l-.012.212L5 7.779l.004.217c.056 1.304.674 2.525 1.888 3.671a1.61 1.61 0 0 1 .414.64l.043.15L7.716 14H9.5V9.497a.5.5 0 1 1 1 0V14h1.785l.387-1.615.051-.15a1.6 1.6 0 0 1 .386-.568C14.383 10.465 15 9.181 15 7.8 15 5.157 12.769 3 10 3z'/%3e%3c/svg%3e");
  -webkit-mask-size: 100%;
}
.task-list-item-checkbox[data-task="N"],
ul > li.task-list-item[data-task="N"] .task-list-item-checkbox {
  background-color: rgba(221, 160, 221, 0.5);
  box-shadow:
    inset 0 0 6px plum,
    0 0 10px plum,
    0 0 5px plum;
}
.task-list-item-checkbox[data-task="N"]:hover,
ul > li.task-list-item[data-task="N"] .task-list-item-checkbox:hover {
  background-color: rgba(221, 160, 221, 0.5);
  border: 1px solid plum;
  box-shadow:
    inset 0 0 10px plum,
    0 0 10px plum,
    0 0 5px plum;
}
[data-task="N"] input[type="checkbox"]:checked:after,
[data-task="N"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M4.5 2A2.5 2.5 0 0 0 2 4.5v7A2.5 2.5 0 0 0 4.5 14h3.672a2.5 2.5 0 0 0 1.767-.732l3.329-3.329A2.5 2.5 0 0 0 14 8.172V4.5A2.5 2.5 0 0 0 11.5 2h-7ZM3 4.5A1.5 1.5 0 0 1 4.5 3h7A1.5 1.5 0 0 1 13 4.5V8h-2.5A2.5 2.5 0 0 0 8 10.5V13H4.5A1.5 1.5 0 0 1 3 11.5v-7Zm6 8.25V10.5A1.5 1.5 0 0 1 10.5 9h2.25c-.055.083-.118.16-.19.232l-3.328 3.329a1.564 1.564 0 0 1-.232.19Z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="Q"],
ul > li.task-list-item[data-task="Q"] .task-list-item-checkbox,
.task-list-item-checkbox[data-task='"'],
ul > li.task-list-item[data-task='"'] .task-list-item-checkbox {
  background-color: rgba(210, 180, 140, 0.5);
  box-shadow:
    inset 0 0 6px tan,
    0 0 10px tan,
    0 0 5px tan;
}
.task-list-item-checkbox[data-task="Q"]:hover,
ul > li.task-list-item[data-task="Q"] .task-list-item-checkbox:hover,
.task-list-item-checkbox[data-task='"']:hover,
ul > li.task-list-item[data-task='"'] .task-list-item-checkbox:hover {
  background-color: rgba(210, 180, 140, 0.5);
  border: 1px solid tan;
  box-shadow:
    inset 0 0 10px tan,
    0 0 10px tan,
    0 0 5px tan;
}
[data-task="Q"] input[type="checkbox"]:checked:after,
[data-task="Q"][type="checkbox"]:checked:after,
[data-task='"'] input[type="checkbox"]:checked:after,
[data-task='"'][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M9.646 11.146c1.387-1.386 2.008-2.76 2.24-4.352A2 2 0 1 1 13 5c-.001 2.592-.528 4.734-2.647 6.854a.5.5 0 0 1-.708-.708Zm-6 0c1.387-1.386 2.009-2.76 2.24-4.352A2 2 0 1 1 7 5c-.001 2.592-.528 4.734-2.647 6.854a.5.5 0 0 1-.708-.708Z'/%3e%3c/svg%3e");
  -webkit-mask-size: 100%;
}
.task-list-item-checkbox[data-task="P"],
ul > li.task-list-item[data-task="P"] .task-list-item-checkbox,
.task-list-item-checkbox[data-task="p"],
ul > li.task-list-item[data-task="p"] .task-list-item-checkbox {
  background-color: rgba(50, 205, 50, 0.5);
  box-shadow:
    inset 0 0 6px limegreen,
    0 0 10px limegreen,
    0 0 5px limegreen;
}
.task-list-item-checkbox[data-task="P"]:hover,
ul > li.task-list-item[data-task="P"] .task-list-item-checkbox:hover,
.task-list-item-checkbox[data-task="p"]:hover,
ul > li.task-list-item[data-task="p"] .task-list-item-checkbox:hover {
  background-color: rgba(50, 205, 50, 0.5);
  box-shadow:
    inset 0 0 10px limegreen,
    0 0 10px limegreen,
    0 0 5px limegreen;
  border: 1px solid limegreen;
}
[data-task="P"] input[type="checkbox"]:checked:after,
[data-task="P"][type="checkbox"]:checked:after,
[data-task="p"] input[type="checkbox"]:checked:after,
[data-task="p"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3e%3cpath d='M15.056 9.004c.46-1.427.693-2.677.693-3.754 0-2.398-.939-4.247-2.5-4.247-.847 0-1.109.504-1.437 1.747.018-.065-.163.634-.215.821l-.527 1.831a.247.247 0 0 1-.03.065L8.174 9.953a5.885 5.885 0 0 1-2.855 2.326l-1.257.482a1.75 1.75 0 0 0-1.092 1.967l.686 3.539a2.25 2.25 0 0 0 1.673 1.757l8.25 2.022a4.75 4.75 0 0 0 5.733-3.44l1.574-6.173a2.75 2.75 0 0 0-2.665-3.43h-3.165z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="C"],
ul > li.task-list-item[data-task="C"] .task-list-item-checkbox,
.task-list-item-checkbox[data-task="c"],
ul > li.task-list-item[data-task="c"] .task-list-item-checkbox {
  background-color: rgba(178, 34, 34, 0.5);
  box-shadow:
    inset 0 0 6px firebrick,
    0 0 10px firebrick,
    0 0 5px firebrick;
}
.task-list-item-checkbox[data-task="C"]:hover,
ul > li.task-list-item[data-task="C"] .task-list-item-checkbox:hover,
.task-list-item-checkbox[data-task="c"]:hover,
ul > li.task-list-item[data-task="c"] .task-list-item-checkbox:hover {
  background-color: rgba(178, 34, 34, 0.5);
  box-shadow:
    inset 0 0 10px firebrick,
    0 0 10px firebrick,
    0 0 5px firebrick;
  border: 1px solid firebrick;
}
[data-task="C"] input[type="checkbox"]:checked:after,
[data-task="C"][type="checkbox"]:checked:after,
[data-task="c"] input[type="checkbox"]:checked:after,
[data-task="c"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3e%3cpath d='M15.056 14.183c.46 1.427.693 2.676.693 3.753 0 2.398-.939 4.247-2.5 4.247-.8 0-1.078-.45-1.383-1.546l-.27-1.022-.526-1.83a.247.247 0 0 0-.03-.066l-2.866-4.485a5.885 5.885 0 0 0-2.855-2.327l-1.257-.481A1.75 1.75 0 0 1 2.97 8.458l.686-3.538a2.25 2.25 0 0 1 1.673-1.758l8.25-2.021a4.75 4.75 0 0 1 5.733 3.44l1.574 6.172a2.75 2.75 0 0 1-2.665 3.43h-3.165z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="u"],
ul > li.task-list-item[data-task="u"] .task-list-item-checkbox {
  background-color: rgba(60, 179, 114, 0.5);
  box-shadow:
    inset 0 0 6px mediumseagreen,
    0 0 10px mediumseagreen,
    0 0 5px mediumseagreen;
}
.task-list-item-checkbox[data-task="u"]:hover,
ul > li.task-list-item[data-task="u"] .task-list-item-checkbox:hover {
  background-color: rgba(60, 179, 114, 0.5);
  box-shadow:
    inset 0 0 10px mediumseagreen,
    0 0 10px mediumseagreen,
    0 0 5px mediumseagreen;
  border: 1px solid mediumseagreen;
}
[data-task="u"] input[type="checkbox"]:checked:after,
[data-task="u"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M8.75 4l4.548.001.108.015.113.033.102.048.038.023.049.035.076.067.084.101.059.1.041.105.023.097.01.125v4.504a.75.75 0 0 1-1.493.102l-.006-.102L12.5 6.56l-4.22 4.223a.75.75 0 0 1-.978.073l-.084-.073L5.75 9.31l-2.469 2.47a.75.75 0 0 1-1.133-.977l.073-.084 2.998-3a.75.75 0 0 1 .977-.073l.084.073 1.47 1.474L11.441 5.5H8.75a.75.75 0 0 1-.743-.648L8 4.75A.75.75 0 0 1 8.75 4z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="d"],
ul > li.task-list-item[data-task="d"] .task-list-item-checkbox {
  background-color: rgba(255, 99, 71, 0.5);
  box-shadow:
    inset 0 0 6px tomato,
    0 0 10px tomato,
    0 0 5px tomato;
}
.task-list-item-checkbox[data-task="d"]:hover,
ul > li.task-list-item[data-task="d"] .task-list-item-checkbox:hover {
  background-color: rgba(255, 99, 71, 0.5);
  box-shadow:
    inset 0 0 10px tomato,
    0 0 10px tomato,
    0 0 5px tomato;
  border: 1px solid tomato;
}
[data-task="d"] input[type="checkbox"]:checked:after,
[data-task="d"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M8.75 12l4.548-.001.108-.015.113-.033.102-.048.038-.023.049-.035.076-.067.084-.101.059-.1.041-.105.023-.098.01-.124V6.746a.75.75 0 0 0-1.493-.102l-.006.102L12.5 9.44 8.28 5.217a.75.75 0 0 0-.978-.073l-.084.073L5.75 6.69 3.28 4.219a.75.75 0 0 0-1.133.977l.073.084 2.998 3a.75.75 0 0 0 .977.073l.084-.073L7.75 6.807l3.691 3.693H8.75a.75.75 0 0 0-.743.648L8 11.25a.75.75 0 0 0 .75.75z'/%3e%3c/svg%3e");
  -webkit-mask-size: 100%;
}
.task-list-item-checkbox[data-task="<"],
ul > li.task-list-item[data-task="<"] .task-list-item-checkbox {
  background-color: rgba(100, 148, 237, 0.5);
  box-shadow:
    inset 0 0 6px cornflowerblue,
    0 0 10px cornflowerblue,
    0 0 5px cornflowerblue;
}
.task-list-item-checkbox[data-task="<"]:hover,
ul > li.task-list-item[data-task="<"] .task-list-item-checkbox:hover {
  background-color: rgba(100, 148, 237, 0.5);
  box-shadow:
    inset 0 0 10px cornflowerblue,
    0 0 10px cornflowerblue,
    0 0 5px cornflowerblue;
  border: 1px solid cornflowerblue;
}
[data-task="<"] input[type="checkbox"]:checked:after,
[data-task="<"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3e%3cpath d='M12.815 12.197l-7.532 1.255a.5.5 0 0 0-.386.318L2.3 20.728a.75.75 0 0 0 1.035.942l7.674-3.837a6.5 6.5 0 0 1 10.589-5.38.752.752 0 0 0-.263-1.124l-18-9c-.614-.307-1.283.303-1.035.942l2.598 6.958a.5.5 0 0 0 .386.318l7.532 1.255a.2.2 0 0 1 0 .395zM17.5 12a5.5 5.5 0 1 1 0 11 5.5 5.5 0 0 1 0-11zm2 5.5h-2V15a.5.5 0 0 0-1 0v3a.5.5 0 0 0 .5.5h2.5a.5.5 0 0 0 0-1z'/%3e%3c/svg%3e");
  -webkit-mask-size: 75%;
}
.task-list-item-checkbox[data-task="*"],
ul > li.task-list-item[data-task="*"] .task-list-item-checkbox {
  background-color: rgba(255, 160, 122, 0.5);
  box-shadow:
    inset 0 0 6px lightsalmon,
    0 0 10px lightsalmon,
    0 0 5px lightsalmon;
}
.task-list-item-checkbox[data-task="*"]:hover,
ul > li.task-list-item[data-task="*"] .task-list-item-checkbox:hover {
  background-color: rgba(255, 160, 122, 0.5);
  border: 1px solid lightsalmon;
  box-shadow:
    inset 0 0 px lightsalmon,
    0 0 10px lightsalmon,
    0 0 5px lightsalmon;
}
[data-task="*"] input[type="checkbox"]:checked:after,
[data-task="*"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' %3e%3cpath d='M9.104 2.9a1 1 0 0 1 1.794 0l1.93 3.91 4.317.628a1 1 0 0 1 .554 1.706l-3.124 3.044.738 4.3a1 1 0 0 1-1.451 1.054l-3.86-2.03-3.862 2.03a1 1 0 0 1-1.45-1.055l.737-4.299-3.124-3.044a1 1 0 0 1 .554-1.706l4.317-.627 1.93-3.912zM4.39 12.687a.5.5 0 0 1-.078.703l-2.5 2a.5.5 0 1 1-.624-.781l2.5-2a.5.5 0 0 1 .702.078zM4.312 5.11a.5.5 0 1 1-.624.78l-2.5-2a.5.5 0 1 1 .624-.78l2.5 2zm11.297 7.578a.5.5 0 0 0 .079.703l2.5 2a.5.5 0 1 0 .624-.781l-2.5-2a.5.5 0 0 0-.703.078zm.079-7.578a.5.5 0 0 0 .624.78l2.5-2a.5.5 0 1 0-.624-.78l-2.5 2z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="l"],
ul > li.task-list-item[data-task="l"] .task-list-item-checkbox {
  background-color: rgba(153, 50, 204, 0.5);
  box-shadow:
    inset 0 0 6px darkorchid,
    0 0 10px darkorchid,
    0 0 15px darkorchid;
}
.task-list-item-checkbox[data-task="l"]:hover,
ul > li.task-list-item[data-task="l"] .task-list-item-checkbox:hover {
  background-color: rgba(153, 50, 204, 0.5);
  box-shadow:
    inset 0 0 10px darkorchid,
    0 0 10px darkorchid,
    0 0 15px darkorchid;
  border: 1px solid darkorchid;
}
[data-task="l"] input[type="checkbox"]:checked:after,
[data-task="l"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' %3e%3cpath d='M7.318 6.5c.168-.873.397-1.657.67-2.32.301-.733.648-1.294 1.008-1.663S9.693 2 10 2s.646.149 1.004.517.707.93 1.008 1.663c.273.663.502 1.447.67 2.32H7.318zm-.255-2.7a7.188 7.188 0 0 1 .827-1.52A8.02 8.02 0 0 0 2.804 6.5h3.497c.182-1.007.441-1.922.762-2.7zm5.874 0a7.19 7.19 0 0 0-.827-1.519A8.02 8.02 0 0 1 17.196 6.5h-3.497c-.182-1.007-.441-1.922-.762-2.7zm.913 3.7h3.752c.234.712.37 1.468.394 2.253a4.39 4.39 0 0 0-2.495-.752 4.52 4.52 0 0 0-1.514.255A20.147 20.147 0 0 0 13.85 7.5zm-.851 2.258a19.325 19.325 0 0 0-.157-2.258H7.158A19.438 19.438 0 0 0 7 10a19.48 19.48 0 0 0 .158 2.5h3.982c.272-1.128.93-2.109 1.859-2.742zM11.003 13.5H7.318c.168.873.397 1.657.67 2.32.301.733.648 1.294 1.008 1.663S9.693 18 10 18s.646-.149 1.004-.517c.254-.26.502-.617.732-1.063-.491-.934-.736-1.87-.736-2.738l.003-.182zm-8.199 0a8.02 8.02 0 0 0 5.087 4.219 7.187 7.187 0 0 1-.828-1.518c-.32-.78-.58-1.694-.762-2.701H2.804zm3.346-1H2.398A7.992 7.992 0 0 1 2 10a8.01 8.01 0 0 1 .398-2.5H6.15C6.052 8.295 6 9.134 6 10s.052 1.705.15 2.5zM19 13.682c0-2.033-1.465-3.681-3.499-3.681S12 11.649 12 13.682c0 1.524.982 3.53 3.256 5.236.145.11.345.11.49 0C18.022 17.212 19 15.206 19 13.682zm-2-.182a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="S"],
ul > li.task-list-item[data-task="S"] .task-list-item-checkbox {
  background-color: rgba(240, 128, 128, 0.5);
  box-shadow:
    inset 0 0 6px lightcoral,
    0 0 10px lightcoral,
    0 0 5px lightcoral;
}
.task-list-item-checkbox[data-task="S"]:hover,
ul > li.task-list-item[data-task="S"] .task-list-item-checkbox:hover {
  background-color: rgba(240, 128, 128, 0.5);
  box-shadow:
    inset 0 0 10px lightcoral,
    0 0 10px lightcoral,
    0 0 5px lightcoral;
  border: 1px solid lightcoral;
}
[data-task="S"] input[type="checkbox"]:checked:after,
[data-task="S"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M13.973 7.722a5.26 5.26 0 0 1 .027.545c0 1.297-.452 2.169-.89 2.715a3.603 3.603 0 0 1-.603.596 2.61 2.61 0 0 1-.236.162l-.009.005a.5.5 0 0 0-.262.44V13.5a.5.5 0 0 1-.5.5H11a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1h-.5a.5.5 0 0 1-.5-.5v-.603a.5.5 0 0 0-.45-.498 2.855 2.855 0 0 1-.464-.143 3.16 3.16 0 0 1-1.063-.707c-.443-.45-.714-1.042-.86-1.453s-.471-.779-.94-.911A.307.307 0 0 1 2 8.89v-.794a.29.29 0 0 1 .21-.279c.485-.139.809-.531.946-.945.112-.34.31-.776.632-1.103a4.818 4.818 0 0 1 1.262-.906l.09-.043.02-.01.004-.001a.5.5 0 0 0 .303-.46V2.675a7.2 7.2 0 0 0 .7.527c.317.208.687.405 1.074.51a4.03 4.03 0 0 1 .464-.928h-.006c-.279-.029-.62-.18-.985-.419a7.02 7.02 0 0 1-.94-.757.774.774 0 0 0-.827-.15.76.76 0 0 0-.48.704v1.877a6.09 6.09 0 0 0-1.39 1.028c-.477.482-.736 1.084-.87 1.491-.056.167-.168.268-.272.297A1.29 1.29 0 0 0 1 8.095v.795c0 .585.389 1.098.951 1.257a.43.43 0 0 1 .27.281c.166.472.498 1.223 1.09 1.823A4.158 4.158 0 0 0 5 13.287v.213A1.5 1.5 0 0 0 6.5 15H7a1 1 0 0 0 1-1h2a1 1 0 0 0 1 1h.5a1.5 1.5 0 0 0 1.5-1.5v-1.043a4.61 4.61 0 0 0 .89-.85c.562-.7 1.11-1.788 1.11-3.34 0-.65-.092-1.232-.27-1.752a4.01 4.01 0 0 1-.757 1.207zm-.182-3.847a3.001 3.001 0 0 1-.91 3.502c-.417.329-.988.304-1.478.1l-2.39-.989c-.49-.203-.912-.589-.974-1.116a3.001 3.001 0 0 1 5.752-1.497zm-1.53 2.717a2.001 2.001 0 1 0-3.228-1.337c.002.02.01.057.066.116a.87.87 0 0 0 .297.193l2.39.99a.84.84 0 0 0 .347.073c.08-.002.113-.023.128-.035zM5.75 7.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="k"],
ul > li.task-list-item[data-task="k"] .task-list-item-checkbox {
  background-color: rgba(70, 131, 180, 0.5);
  box-shadow:
    inset 0 0 6px steelblue,
    0 0 10px steelblue,
    0 0 5px steelblue;
}
.task-list-item-checkbox[data-task="k"]:hover,
ul > li.task-list-item[data-task="k"] .task-list-item-checkbox:hover {
  background-color: rgba(70, 131, 180, 0.5);
  box-shadow:
    inset 0 0 10px steelblue,
    0 0 10px steelblue,
    0 0 5px steelblue;
  border: 1px solid steelblue;
}
[data-task="k"] input[type="checkbox"]:checked:after,
[data-task="k"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M11 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-3.5 6v-.5h1A.5.5 0 0 0 9 11v-1h1a4 4 0 1 0-3.838-2.87L2.292 11a1 1 0 0 0-.292.707V13a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.5h1a.5.5 0 0 0 .5-.5zM7 6a3 3 0 1 1 3 3H8.5a.5.5 0 0 0-.5.5v1H7a.5.5 0 0 0-.5.5v.5h-1a.5.5 0 0 0-.5.5v1H3v-1.293l4.089-4.089a.5.5 0 0 0 .113-.534A2.99 2.99 0 0 1 7 6z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="w"],
ul > li.task-list-item[data-task="w"] .task-list-item-checkbox {
  background-color: rgba(210, 105, 30, 0.5);
  box-shadow:
    inset 0 0 5px chocolate,
    0 0 10px chocolate,
    0 0 5px darkorange;
}
.task-list-item-checkbox[data-task="w"]:hover,
ul > li.task-list-item[data-task="w"] .task-list-item-checkbox:hover {
  background-color: rgba(210, 105, 30, 0.5);
  box-shadow:
    inset 0 0 10px chocolate,
    0 0 10px chocolate,
    0 0 5px darkorange;
  border: 1px solid chocolate;
}
[data-task="w"] input[type="checkbox"]:checked:after,
[data-task="w"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M3.999 3h-.503a1.5 1.5 0 0 0-1.5 1.5v1c0 1.252.922 2.288 2.122 2.471a4.004 4.004 0 0 0 3.381 2.998V12h-1.5a2 2 0 0 0-2 2v.504a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V14a2 2 0 0 0-2-2h-1.5v-1.03a4.004 4.004 0 0 0 3.381-3A2.501 2.501 0 0 0 14 5.5v-1A1.5 1.5 0 0 0 12.5 3H12a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2Zm8 1h.5a.5.5 0 0 1 .5.5v1a1.5 1.5 0 0 1-1 1.414V4Zm-8 0v2.915A1.502 1.502 0 0 1 2.996 5.5v-1a.5.5 0 0 1 .5-.5H4Z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
.task-list-item-checkbox[data-task="f"],
ul > li.task-list-item[data-task="f"] .task-list-item-checkbox {
  background-color: rgba(255, 68, 0, 0.5);
  box-shadow:
    inset 0 0 6px orangered,
    0 0 10px orangered,
    0 0 5px orangered;
}
.task-list-item-checkbox[data-task="f"]:hover,
ul > li.task-list-item[data-task="f"] .task-list-item-checkbox:hover {
  background-color: rgba(255, 68, 0, 0.5);
  box-shadow:
    inset 0 0 10px orangered,
    0 0 10px orangered,
    0 0 5px orangered;
  border: 1px solid orangered;
}
[data-task="f"] input[type="checkbox"]:checked:after,
[data-task="f"][type="checkbox"]:checked:after {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3e%3cpath d='M4 14q0-2.625 1.25-4.675T8 5.875q1.5-1.4 2.75-2.138L12 3v3.3q0 .925.625 1.462q.625.538 1.4.538q.425 0 .813-.175q.387-.175.712-.575L16 7q1.8 1.05 2.9 2.912Q20 11.775 20 14q0 2.2-1.075 4.012q-1.075 1.813-2.825 2.863q.425-.6.663-1.313Q17 18.85 17 18.05q0-1-.375-1.887q-.375-.888-1.075-1.588L12 11.1l-3.525 3.475q-.725.725-1.1 1.6Q7 17.05 7 18.05q0 .8.238 1.512q.237.713.662 1.313q-1.75-1.05-2.825-2.863Q4 16.2 4 14Zm8-.1l2.125 2.075q.425.425.65.95q.225.525.225 1.125q0 1.225-.875 2.087Q13.25 21 12 21t-2.125-.863Q9 19.275 9 18.05q0-.575.225-1.112q.225-.538.65-.963Z'/%3e%3c/svg%3e");
  -webkit-mask-size: 90%;
}
