:root:root {
  --text: #061218;
  --background-primary: #dfedf7;
  --primary: #1f5175;
  --secondary: #deab82;
  --accent: #62a12b;
  --highlight-hue: 30;
  --italic-color: var(--accent);
  --bold-color: var(--accent);
  --h1-color: var(--accent);
  --h2-color: var(--accent);
  --h3-color: var(--accent);
  --h4-color: var(--accent);
  --h5-color: var(--accent);
  --h6-color: var(--accent);

  --shiki-dark: var(--shiki-light) !important;
  --shiki-dark-bg: var(--shiki-light-bg) !important;
}
