.anp-table-toggle.anp-table-col-alt
  .markdown-preview-view:not(.cards):not(.table-disable)
  tr
  td:nth-child(2n),
.anp-table-toggle.anp-table-col-alt
  .markdown-preview-view.cards:not(.table-disable)
  table:not(.dataview)
  tr
  td:nth-child(2n),
.anp-table-toggle.anp-table-col-alt
  .is-live-preview:not(.cards):not(.table-disable)
  tr
  td:nth-child(2n),
.anp-table-toggle.anp-table-col-alt
  .is-live-preview.cards:not(.table-disable)
  table:not(.dataview)
  tr
  td:nth-child(2n) {
  background-color: rgba(
    var(--ctp-mantle),
    var(--anp-table-highlight-opacity, 0.5)
  );
}
