.uw-ocean {
  /*PALETTE*/
  --love-rgb: 254, 114, 143;
  --gold-rgb: 255, 225, 97;
  --rose-rgb: 232, 177, 146;
  --pine-rgb: 235, 98, 59;
  --foam-rgb: 70, 201, 199;
  --iris-rgb: 115, 104, 182;
  --base: #081020;
  --surface-rgb: 8, 18, 43;
  --overlay: #06334d;
  --muted: #7585b2;
  --subtle: #97a4c9;
  --text: #e1e3ff;
  --highlight-low: #28344b;
  --highlight-med-rgb: 40, 56, 82;
  --highlight-high: #19263b;
  /*override accent color !*/
  --accent-h: 179;
  --accent-s: 63%;
  --accent-l: 51%;
  --color-accent-hsl: 179, 63%, 51%;
}
