:root[saved-theme="dark"] {
  --base-05: hsl(var(--base-hue), 2%, 93%);
  --base-10: hsl(var(--base-hue), 3%, 82%);
  --base-15: hsl(var(--base-hue), 4%, 75%);
  --base-20: hsl(var(--base-hue), 5%, 65%);
  --base-25: hsl(var(--base-hue), 6%, 56%);
  --base-30: hsl(var(--base-hue), 6%, 46%);
  --base-35: hsl(var(--base-hue), 7%, 35%);
  --base-40: hsl(var(--base-hue), 8%, 25%);
  --base-45: hsl(var(--base-hue), 10%, 19%);
  --base-50: hsl(var(--base-hue), 11%, 15%);
  --base-55: hsl(var(--base-hue), 12%, 12%);
  --base-60: hsl(var(--base-hue), 16%, 9%);
  --base-05: hsl(0, 0%, 93%);
  --base-10: hsl(0, 0%, 82%);
  --base-15: hsl(0, 0%, 75%);
  --base-20: hsl(0, 0%, 65%);
  --base-25: hsl(0, 0%, 56%);
  --base-30: hsl(0, 0%, 46%);
  --base-35: hsl(0, 0%, 35%);
  --base-40: hsl(0, 0%, 25%);
  --base-45: hsl(0, 0%, 19%);
  --base-50: hsl(0, 0%, 15%);
  --base-55: hsl(0, 0%, 12%);
  --base-60: hsl(0, 0%, 9%);
  --mono-rgb-100: 255, 255, 255;
}
