.ctp-full-palette {
  --ctp-accent: var(--ctp-lavender);
}
.ctp-full-palette {
  --blockquote-border-color: rgb(var(--ctp-lavender));
  --ctp-accent: var(--ctp-lavender);
  --divider-color-hover: rgb(var(--ctp-blue));
  --hr-color: rgb(var(--ctp-blue));
  --indentation-guide-color: rgb(var(--ctp-surface1));
  --indentation-guide-color-active: rgb(var(--ctp-sapphire), 70%);
  --indentation-guide-width: 2px;
  --list-marker-color: rgb(var(--ctp-sapphire));
  --checklist-done-color: rgb(var(--ctp-green));
  /*
* Nav bar
*/
  /*
* Icons
*/
  /*
* Tabs
*/
  /*
* Prompts
*/
  /*
* Search
*/
  /*
* Dropdowns
*/
  /*
* Checkboxes
*/
  /*
? I think !important is necessary to overwrite app.css
*/
  /*
*  settings slider
*/
  /*
* Canvas
*/
  /*
* Bookmarks
*/
}
.ctp-full-palette .workspace-tab-header-inner-close-button:hover {
  box-shadow: none;
}
.ctp-full-palette .nav-file-title.is-active,
.ctp-full-palette .nav-folder-title.is-active {
  --nav-item-background-active: rgb(var(--ctp-mauve));
}
.ctp-full-palette :not(.is-grabbing) .nav-file-title:hover,
.ctp-full-palette :not(.is-grabbing) .nav-folder-title:hover,
.ctp-full-palette .tree-item-self.is-clickable:hover {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);
}
.ctp-full-palette .nav-folder.mod-root > .nav-folder-title:hover {
  background-color: transparent;
  color: rgb(var(--text-normal));
}
.ctp-full-palette .clickable-icon.is-active,
.ctp-full-palette .mod-left-split .workspace-tab-header.has-active-menu,
.ctp-full-palette .mod-right-split .workspace-tab-header.has-active-menu,
.ctp-full-palette .mod-left-split .workspace-tab-header.is-active,
.ctp-full-palette .mod-right-split .workspace-tab-header.is-active {
  box-shadow:
    inset 0 0 4px rgb(var(--ctp-crust)),
    inset 0 0 6px rgb(var(--ctp-base));
  outline: 1px solid rgb(var(--ctp-surface1));
  transition: var(--transition-hover-bg), var(--transition-hover-box-shadow);
}
.ctp-full-palette .clickable-icon.is-active svg,
.ctp-full-palette .mod-left-split .workspace-tab-header.has-active-menu svg,
.ctp-full-palette .mod-right-split .workspace-tab-header.has-active-menu svg,
.ctp-full-palette .mod-left-split .workspace-tab-header.is-active svg,
.ctp-full-palette .mod-right-split .workspace-tab-header.is-active svg {
  color: rgb(var(--ctp-pink));
  transition: var(--transition-hover-bg), var(--transition-hover-color);
}
.ctp-full-palette .clickable-icon.is-active:hover,
.ctp-full-palette .clickable-icon.is-active:hover svg,
.ctp-full-palette .mod-left-split .workspace-tab-header.has-active-menu:hover,
.ctp-full-palette
  .mod-left-split
  .workspace-tab-header.has-active-menu:hover
  svg,
.ctp-full-palette .mod-right-split .workspace-tab-header.has-active-menu:hover,
.ctp-full-palette
  .mod-right-split
  .workspace-tab-header.has-active-menu:hover
  svg,
.ctp-full-palette .mod-left-split .workspace-tab-header.is-active:hover,
.ctp-full-palette .mod-left-split .workspace-tab-header.is-active:hover svg,
.ctp-full-palette .mod-right-split .workspace-tab-header.is-active:hover,
.ctp-full-palette .mod-right-split .workspace-tab-header.is-active:hover svg {
  background-color: rgb(var(--ctp-pink));
  box-shadow: none;
  color: var(--text-on-accent);
}
.ctp-full-palette .clickable-icon,
.ctp-full-palette .mod-left-split .workspace-tab-header,
.ctp-full-palette .mod-right-split .workspace-tab-header {
  transition: var(--transition-hover-bg), var(--transition-hover-color);
}
.ctp-full-palette .clickable-icon:hover,
.ctp-full-palette .mod-left-split .workspace-tab-header:hover,
.ctp-full-palette .mod-right-split .workspace-tab-header:hover {
  background-color: rgb(var(--ctp-pink));
  color: var(--text-on-accent);
}
.ctp-full-palette .clickable-icon:hover svg,
.ctp-full-palette .mod-left-split .workspace-tab-header:hover svg,
.ctp-full-palette .mod-right-split .workspace-tab-header:hover svg {
  color: var(--text-on-accent);
}
.ctp-full-palette
  .workspace-tab-header:not(.is-active):hover
  .workspace-tab-header-inner {
  --background-modifier-hover: rgb(var(--ctp-pink));
}
.ctp-full-palette
  .workspace
  .mod-root
  .workspace-tabs.mod-stacked
  .workspace-tab-container
  .workspace-tab-header-inner-icon:hover {
  background-color: transparent;
}
.ctp-full-palette
  .mod-vertical
  .workspace-tab-header:not(.is-active):hover
  .workspace-tab-header-inner
  svg {
  color: var(--text-on-accent);
}
.ctp-full-palette
  .mod-vertical
  .workspace-tabs.mod-stacked
  .workspace-tab-header:not(.is-active)
  .workspace-tab-header-inner-close-button:hover
  svg {
  color: var(--text-on-accent);
}
.ctp-full-palette
  .workspace
  .mod-root
  .workspace-tabs.mod-stacked
  .workspace-tab-header-inner:hover
  .workspace-tab-header-inner-title {
  color: rgb(var(--ctp-pink));
}
.ctp-full-palette
  .mod-vertical
  .workspace-tabs.mod-stacked
  .workspace-tab-header:not(.is-active):hover
  .workspace-tab-header-inner
  .workspace-tab-header-inner-title {
  color: rgb(var(--ctp-pink));
}
.ctp-full-palette .suggestion-item.is-selected {
  --background-modifier-hover: rgb(var(--ctp-lavender));
  color: var(--text-on-accent);
}
.ctp-full-palette .suggestion-item.is-selected:hover .suggestion-flair {
  color: var(--text-on-accent);
}
.ctp-full-palette .suggestion .suggestion-item.mod-group {
  background-color: inherit;
  color: var(--text-muted);
  font-size: var(--font-ui-medium);
  font-variant: all-small-caps;
}
.ctp-full-palette .search-suggest-item.is-selected {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);
}
.ctp-full-palette
  .search-suggest-item.is-selected
  .list-item-part.clickable-icon {
  color: var(--text-muted);
}
.ctp-full-palette .search-suggest-item.is-selected .search-suggest-info-text {
  color: var(--text-on-accent);
}
.ctp-full-palette select:focus,
.ctp-full-palette .dropdown:focus {
  box-shadow: 0 0 0 2px rgb(var(--ctp-blue), 70%);
}
.ctp-full-palette textarea:active,
.ctp-full-palette input[type='text']:active,
.ctp-full-palette input[type='search']:active,
.ctp-full-palette input[type='email']:active,
.ctp-full-palette input[type='password']:active,
.ctp-full-palette input[type='number']:active,
.ctp-full-palette textarea:focus,
.ctp-full-palette input[type='text']:focus,
.ctp-full-palette input[type='search']:focus,
.ctp-full-palette input[type='email']:focus,
.ctp-full-palette input[type='password']:focus,
.ctp-full-palette input[type='number']:focus,
.ctp-full-palette textarea:focus-visible,
.ctp-full-palette input[type='text']:focus-visible,
.ctp-full-palette input[type='search']:focus-visible,
.ctp-full-palette input[type='email']:focus-visible,
.ctp-full-palette input[type='password']:focus-visible,
.ctp-full-palette input[type='number']:focus-visible {
  box-shadow: 0 0 0 2px rgb(var(--ctp-blue), 70%);
}
.ctp-full-palette input[type='checkbox']:not(:checked) {
  border-color: rgb(var(--ctp-maroon));
  background-color: rgb(var(--ctp-red));
  box-shadow:
    inset 2px 2px 24px rgb(var(--ctp-mantle)),
    inset -2px -2px 24px rgb(var(--ctp-mantle));
}
.ctp-full-palette input[type='checkbox']:not(:checked):hover {
  border-width: 2px;
}
.ctp-full-palette
  input[type='checkbox']:not(
    [data-task='>'],
    [data-task='!'],
    [data-task='-'],
    [data-task='<'],
    [data-task='l'],
    [data-task='*'],
    [data-task='I'],
    [data-task='p'],
    [data-task='f'],
    [data-task='k'],
    [data-task='u'],
    [data-task='w'],
    [data-task='c'],
    [data-task='d'],
    [data-task='b']
  ):checked {
  border-color: transparent;
  background-color: rgb(var(--ctp-green));
  box-shadow: 0 0 0 1px rgb(var(--ctp-green), 40%);
}
.ctp-full-palette
  input[type='checkbox']:not(
    [data-task='>'],
    [data-task='!'],
    [data-task='-'],
    [data-task='<'],
    [data-task='l'],
    [data-task='*'],
    [data-task='I'],
    [data-task='p'],
    [data-task='f'],
    [data-task='k'],
    [data-task='u'],
    [data-task='w'],
    [data-task='c'],
    [data-task='d'],
    [data-task='b']
  ):checked:hover {
  background-color: rgb(var(--ctp-accent));
  box-shadow: 0 0 0 1px rgb(var(--ctp-accent), 40%);
}
.ctp-full-palette .horizontal-tab-nav-item:hover,
.ctp-full-palette .vertical-tab-nav-item:hover {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);
}
.ctp-full-palette .horizontal-tab-nav-item.is-active,
.ctp-full-palette .vertical-tab-nav-item.is-active {
  background-color: rgb(var(--ctp-mauve));
}
.ctp-full-palette .horizontal-tab-nav-item.is-active:hover,
.ctp-full-palette .vertical-tab-nav-item.is-active:hover {
  background-color: rgb(var(--ctp-accent));
}
.ctp-full-palette .HyperMD-header .cm-formatting-header {
  color: rgb(var(--ctp-sapphire));
  font-size: 75% !important;
}
.ctp-full-palette .mod-settings input.slider {
  --slider-track-background: rgb(var(--ctp-green));
}
.ctp-full-palette
  .mod-settings
  input[type='color']::-webkit-color-swatch:hover {
  box-shadow:
    inset 0 0 0 1px rgb(var(--mono-rgb-100), 25%),
    0 0 0 2px rgb(var(--ctp-surface1));
}
.ctp-full-palette .canvas-controls button:hover {
  background-color: rgb(var(--ctp-pink));
}
.ctp-full-palette body:not(.is-grabbing) .tree-item-self.is-active:hover,
.ctp-full-palette .tree-item-self.is-active {
  --nav-item-color-active: var(--text-on-accent);
  --nav-item-background-active: rgb(var(--ctp-mauve));
}
.ctp-full-palette
  body:not(.is-grabbing)
  .tree-item-self.is-active:hover
  .tree-item-icon,
.ctp-full-palette .tree-item-self.is-active .tree-item-icon {
  --icon-color: var(--text-on-accent);
}
.ctp-full-palette .mk-sidebar-item {
  transition: var(--transition-hover-bg), var(--transition-hover-color);
}
.ctp-full-palette .mk-sidebar-item:hover {
  background-color: rgb(var(--ctp-pink));
  color: var(--text-on-accent);
}
.ctp-full-palette .mk-sidebar-item:hover svg {
  color: var(--text-on-accent);
}
.ctp-full-palette .mk-sidebar-item-active {
  box-shadow:
    inset 0 0 4px rgb(var(--ctp-crust)),
    inset 0 0 6px rgb(var(--ctp-base));
  outline: 1px solid rgb(var(--ctp-surface1));
  transition: var(--transition-hover-bg), var(--transition-hover-box-shadow);
}
.ctp-full-palette .mk-sidebar-item-active svg {
  color: rgb(var(--ctp-pink)) !important;
  transition: var(--transition-hover-bg), var(--transition-hover-color);
}
.ctp-full-palette .mk-sidebar-item-active:hover svg,
.ctp-full-palette .mk-sidebar-item-active:hover {
  background-color: rgb(var(--ctp-pink));
  box-shadow: none;
  color: var(--text-on-accent) !important;
}
body.ctp-full-palette:not(.disable-folder-highlight)
  .tree-item-self.fn-is-active {
  --nav-item-background-active: rgb(var(--ctp-mauve));
  --nav-item-background-selected: rgb(var(--ctp-mauve));
  --nav-item-color-active: var(--text-on-accent);
  --nav-item-color-selected: var(--text-on-accent);
}
