.tabs-modern.sidebar-tabs-wide .mod-right-split {
  --tab-outline-width: 0;
}
.sidebar-tabs-wide .mod-right-split .workspace-tab-header-container-inner,
.labeled-nav
  .mod-left-split
  .workspace-tabs:not(.mod-top)
  .workspace-tab-header-container-inner,
.sidebar-tabs-wide:not(.labeled-nav)
  .mod-left-split
  .workspace-tab-header-container-inner {
  flex-grow: 1;
  border: 1px solid var(--tab-outline-color);
  padding: 3px;
  margin: 6px 8px 6px;
  border-radius: 4px;
}
.sidebar-tabs-wide .mod-right-split .workspace-tab-header,
.labeled-nav
  .mod-left-split
  .workspace-tabs:not(.mod-top)
  .workspace-tab-header,
.sidebar-tabs-wide:not(.labeled-nav) .mod-left-split .workspace-tab-header {
  flex-grow: 1;
}
.sidebar-tabs-wide .mod-right-split .workspace-tab-header.is-active,
.labeled-nav
  .mod-left-split
  .workspace-tabs:not(.mod-top)
  .workspace-tab-header.is-active,
.sidebar-tabs-wide:not(.labeled-nav)
  .mod-left-split
  .workspace-tab-header.is-active {
  border-color: transparent;
}
.sidebar-tabs-wide .mod-right-split .workspace-tab-header-container,
.labeled-nav
  .mod-left-split
  .workspace-tabs:not(.mod-top)
  .workspace-tab-header-container,
.sidebar-tabs-wide:not(.labeled-nav)
  .mod-left-split
  .workspace-tab-header-container {
  padding-right: 0;
}
.sidebar-tabs-wide .mod-right-split .workspace-tab-header-spacer,
.labeled-nav
  .mod-left-split
  .workspace-tabs:not(.mod-top)
  .workspace-tab-header-spacer,
.sidebar-tabs-wide:not(.labeled-nav)
  .mod-left-split
  .workspace-tab-header-spacer {
  display: none;
}
