.table6 {
  --mu-table-th-background: var(--text-accent) !important;
  --mu-table-th-foreground-main: var(--text-on-accent-inverted) !important;
  --mu-table-th-foreground-edit: var(--mu-text-1);
  --mu-table-inner-border-width: 0;
  --mu-table-outer-border-width: 2px;
  --table-column-alt-background: var(--mu-column-stripped-background);
}
