name: Build and Test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-test:
    if: ${{ github.repository == 'saberzero1/quartz-themes' }}
    strategy:
      matrix:
        # os: [windows-latest, macos-latest, ubuntu-latest]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm i just-install
      - run: npm ci
      - run: npm run verify
      - run: |
          cp quartz-syncer-file-list.json quartz-syncer-file-list-old.json
          node convert.js
          npx prettier .quartz-syncer-file-list.json --write
          cmp --silent quartz-syncer-file-list.json quartz-syncer-file-list-old.json && echo "Quartz Syncer file list up to date" || echo "Quartz Syncer file list mismatch" && exit 1
