name: Build and Test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-test:
    if: ${{ github.repository == 'saberzero1/quartz-themes' }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: extractions/setup-just@v2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm i prettier sass
      - run: npm run verify
