.markdown-rendered mark {
  border-radius: 4px;
}
a:is(
    [href='#red'],
    [href='#rot'],
    [href='#green'],
    [href='#grün'],
    [href='#blue'],
    [href='#blau'],
    [href='#gray'],
    [href='#grau']
  )
  + mark {
  border-radius: 4px;
}
