:root[saved-theme="dark"] {
  color-scheme: dark;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: #dadada;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 5),
    calc(var(--accent-s) * 1.05),
    calc(var(--accent-l) * 1.29)
  );
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--background-secondary-alt-bg-4-bt, #000000);
  --interactive-normal: #2b2b2b;
  --interactive-hover: #373737;
  --text-accent: var(--color-accent);
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-2);
  --background-modifier-box-shadow: rgba(228, 228, 228, 0.08);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: #3b767160;
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  --background-primary: var(--background-primary-bg-4-bt, #202020);
  --background-primary-alt: var(--background-primary-alt-bg-4-bt, #444444);
  --background-secondary: var(--background-secondary-bg-4-bt, #151515);
  --background-modifier-border: #343434;
  --background-modifier-success: #539126;
  --background-modifier-success-rgb: 83, 145, 38;
  --background-modifier-error: #9b4343;
  --background-modifier-error-rgb: 155, 67, 67;
  --text-accent-hover: var(--color-accent-2);
  --text-normal: #c6c6c6;
  --text-highlight: var(--text-normal);
  --text-muted: #8a8a8a;
  --text-muted-rgb: 138, 138, 138;
  --text-faint: #797979;
  --text-folder-file: #b3b3b3;
  --accent-strong: #e7e7e7;
  --accent-em: #a4ca8e;
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-on-accent: #e4e4e4;
  --accent-h: 208;
  --accent-s: 64%;
  --accent-l: 49%;
  --accent-l-alt: calc(var(--accent-l) * 1.05);
  --interactive-accent-rgb: 45, 130, 204;
  --panel-border-color: #18191e;
  --search-text: #e0e0e0;
  --folder-title: #ffffff;
  --text-highlight-bg: hsla(
    var(--text-highlight-bg-h-dark),
    var(--text-highlight-bg-s-dark),
    var(--text-highlight-bg-l-dark),
    var(--text-highlight-bg-a-dark)
  );
  --mark-highlight-strong-em: #fff7603a;
  --strong-em-highlight-color: #a7b4ff;
  --text-search-highlight-bg: #bb4361;
  --strong-em-color-1: #43d3ff;
  --strong-em-color-2: #baaaff;
  --background-search-result: var(--background-secondary-bg-4-bt);
  --search-result-file-matched-bg: #023774;
  --page-border-bottom: var(--background-secondary-alt);
  --background-asymm-split-left: var(--background-secondary-alt);
  --background-mobile-drawer-1: #1b1b1b;
  --background-mobile-drawer-2: #1b1b1b69;
  --background-modifier-border-hr: #3f3f3f;
  --background-modifier-border-asymm: #343434;
  --background-modifier-border-checkbox: #7b7b7b;
  --background-transparent-black-or-white-1: #1b1b1b9a;
  --background-transparent-black-or-white-2: #1e1e1ebd;
  --background-transparent-black-or-white-3: #2f2f2f6c;
  --background-transparent-black-or-white-3-1: #00000064;
  --background-transparent-black-or-white-4: #7e7e7e1d;
  --background-transparent-black-or-white-5: #0f0f0f6c;
  --background-black-or-white-1: #353535;
  --background-modifier-border-1: #000000;
  --background-transparent-blue: #003e759a;
  --scrollbar-thumb-bg: #3f3f3f7e;
  --scrollbar-active-thumb-bg: #4d4d4d88;
  --gray-1: #5c6370;
  --gray-2: #abb2bf;
  --red: #db7c84;
  --red-1: #d05a63;
  --orange: #d1945b;
  --orange-1: #da904b;
  --green: #abd58e;
  --darkgreen: #568060;
  --aqua: #35bed0;
  --purple: #c594d4;
  --blue: #a0c7e9;
  --darkblue: #478fee;
  --yellow: #d6b87f;
  --light-yellow: #cac685;
  --white: #ffffff;
  --variable-2: #0072d0;
  --variable-3: #5a96f7;
  --embed-color: hsla(
    calc(var(--accent-h) * 1),
    calc(var(--accent-s) * 1.2),
    calc(var(--accent-l) * 2),
    0.055
  );
  --search-result-file-title-color: var(--text-normal);
  --theme-color: var(--interactive-accent);
  --theme-color-translucent-06: hsla(var(--interactive-accent-hsl), 0.6);
  --theme-color-translucent-04: hsla(var(--interactive-accent-hsl), 0.4);
  --theme-color-translucent-02: hsla(var(--interactive-accent-hsl), 0.2);
  --theme-color-translucent-015: hsla(var(--interactive-accent-hsl), 0.15);
  --theme-color-translucent-01: hsla(var(--interactive-accent-hsl), 0.1);
  --theme-color-translucent-005: hsla(var(--interactive-accent-hsl), 0.05);
  --theme-color-translucent-001: hsla(var(--interactive-accent-hsl), 0.01);
  --background-blockquote: #9191911c;
  --background-code: #1111118c;
  --background-code-2: #4c4c4cb0;
  --text-color-code: #d58000;
  --code-normal: #d0d0d0;
  --list-ul-block-color: #e19742a9;
  --list-ul-disc-color: #eb9563;
  --green-1: #79c142;
  --list-ul-hover: #e28915de;
  --list-ol-block-color: #2685bbb4;
  --list-ol-number-color: var(--list-marker-color);
  --list-ol-hover: #2c7bd6;
  --list-marker-color-collapsed: var(--theme-color);
  --tag-text: #e4e4e4;
  --stag1: #f08383;
  --stag1-bg: #bd1919;
  --stag2: #e7b263;
  --stag2-bg: #ac6700;
  --stag3: #77df89;
  --stag3-bg: #058c1c;
  --tag1: #3674bb;
  --tag2: #3685ad;
  --tag3: #2a8f91;
  --tag4: #43804f;
  --tag5: #5f932e;
  --tag-dailynote: #98c8ff;
  --tag-dailynote-bg: #0f60bd;
  --tag-weeklynote: #d1e6ff;
  --tag-weeklynote-bg: #3971b1;
  --tag-questions: #d4bdff;
  --tag-questions-bg: #6640ae;
  --tag-ideas: #fcfcc0;
  --tag-ideas-bg: #565656d8;
  --h1-color: var(--print-h1-color, hsl(78, 62%, 47%));
  --h2-color: var(--print-h2-color, hsl(118, 42%, 49%));
  --h3-color: var(--print-h3-color, hsl(180, 53%, 48%));
  --h4-color: var(--print-h4-color, hsl(216, 69%, 68%));
  --h5-color: var(--print-h5-color, hsl(258, 79%, 77%));
  --h6-color: var(--print-h6-color, hsl(290, 85%, 81%));
  --hr-color: var(--color-base-10);
  --graph-text-color: #b5b5b5;
  --graph-tag: #88d842bb;
  --graph-attach: #b2cfe0bb;
  --graph-circle: #55a2d6bb;
  --graph-line: #8c8c8c;
  --graph-unresolved: #f08080de;
  --graph-arrow: #c23917;
  --graph-control-bg: #00000080;
  --graph-circle-outline: transparent;
  --graph-canvas-bg: var(--background-primary);
  --graph-circle-fill-highlight: var(--interactive-accent);
  --graph-line-fill-highlight: rgb(var(--interactive-accent-rgb));
  --unresolved-link: var(--graph-unresolved);
  --link-unresolved-decoration-color: var(--graph-unresolved);
  --internal-link-color: var(--text-accent);
  --external-link-color: var(--internal-link-color);
  --mermaid-active-task-color: #187ef1;
  --mermaid-seq-dia-color: #1371be;
  --table-background-color: #2f2f2f32;
  --table-background-color-odd: #00000033;
  --table-border-color: #4a4a4a;
  --table-thead-background-color: var(--theme-color-translucent-01);
  --table-hover-raw-color: #08569a21;
  --table-hover-color: #1f65a221;
  --table-hover-thead-color: #21395bc7;
  --table-header-color: var(--text-normal);
  --calendar-week-color: #a2df94;
  --calendar-week-hover: #61815c;
  --calendar-week-background-color: #4a5842;
  --calendar-today-background-color: #8c4545;
  --calendar-hover-color: var(--theme-color-translucent-02);
  --calendar-active-color: var(--theme-color-translucent-04);
  --day-planner-pie: #f19c1c;
  --day-planner-timeline: #000000;
  --day-planner-line: #dfcf77;
  --day-planner-dot: #dfcf77;
  --day-planner-item-hover: #053c85;
  --event-item-color1: #283493bb;
  --event-item-color2: #1565c0bb;
  --event-item-color3: #00838fbb;
  --event-item-color4: #2e7d32bb;
  --event-item-color5: #9e9d24bb;
  --event-item-color6: #ff8f00bb;
  --event-item-color7: #d84315bb;
  --event-item-color8: #c62828bb;
  --event-item-color9: #ad1457bb;
  --event-item-color10: #6a1b9abb;
  --kanban-color-1: #0065d852;
  --kanban-color-2: #30e4e441;
  --kanban-color-3: #1cb54f44;
  --kanban-color-4: #97b82b49;
  --kanban-color-5: #bb722d41;
  --kanban-color-6: #d12e2e42;
  --kanban-color-7: #8f36cb3f;
  --text-gray: #acacac;
  --text-brown: #be9684;
  --text-orange: #ffa344;
  --text-yellow: #ffdc51;
  --text-yellow-2: #cca217;
  --text-green: #52c7b2;
  --text-blue: #7c94ff;
  --text-purple: #b386f1;
  --text-pink: #ff6bba;
  --text-red: #ff4f4f;
  --background-gray: #535353;
  --background-brown: #493a3a;
  --background-orange: #53422f;
  --background-yellow: #585536;
  --background-green: #32503e;
  --background-blue: #2f5264;
  --background-purple: #443f57;
  --background-pink: #533b4a;
  --background-red: #683c3c;
  --note-important: #d64545;
  --note-cloze: #ffffff;
  --stickies-color-1: #84c584;
  --stickies-color-2: #c7a3cf;
  --tape-color: #99999967;
  --sliding-panes-header-color: #f1a634d0;
  --background-4-sliding-pane: #252525ed;
  --bg-sliding-pane-header: #00000043;
  --bg-sliding-pane-leaf: #0f0f0f36;
  --admonition-bg-color: #11111100;
  --checklist-bg: #1d1d1d96;
  --checklist-bg-hover: #08080896;
  --color-view-header-gradient-1: #060813de;
  --color-view-header-gradient-2: #00285dc0;
  --checkbox-color-0: #3187d3;
  --checkbox-color-1: #a9a608;
  --checkbox-color-2: #1dac10;
  --checkbox-color-3: #ffd1d1;
  --checkbox-color-4: #625d4c;
  --checkbox-color-5: #9a67ae;
  --checkbox-color-6: #5f5f5f;
  --text-checked-checkbox: #8e8e8e;
  --activeline-background: var(--theme-color-translucent-005);
  --p-kanban-bg-color: #6c6c6c42;
  --p-kanban-border-color: transparent;
  --p-kanban-card-color-1: #0000003f;
  --p-kanban-card-color-2: #41414136;
  --p-kanban-color-6: #f3424252;
  --p-kanban-color-5: #eb973752;
  --p-kanban-color-4: #d2dd3852;
  --p-kanban-color-3: #38ce2a52;
  --p-kanban-color-2: #2ec4c452;
  --p-kanban-color-1: #3496e652;
  --p-kanban-color-8: #b962ff52;
  --p-kanban-color-7: #e45bdd52;
  --p-kanban-color-simple: #8e8e8e41;
  --p-kanban-color-shadow: #0000004d;
  --background-secondary-translucent: #2c2c2c26;
  --background-secondary-translucent-1: #2c2c2c26;
  --checklist-color-1: #005aa486;
  --checklist-color-2: #00798986;
  --checklist-color-3: #12781586;
  --checklist-color-4: #897b0086;
  --checklist-color-5: #a4620086;
  --checklist-color-6: #ab100586;
  --checklist-color-7: #7f1f9086;
  --table-color-calendar-2: rgb(0, 91, 144);
  --table-color-rgb: 0, 91, 144;
  --mjx-inline-math-color: var(--text-normal);
  --mjx-math-color: var(--text-normal);
  --background-leaf-resize-handle: var(--background-secondary-alt-bg-4-bt);
  --search-result-background: var(--background-secondary-alt-bg-4-bt);
  --text-folder-file-icon: var(--theme-color);
  --color-highlight-1: var(--text-normal);
  --color-highlight-2: var(--text-normal);
  --color-highlight-3: var(--text-normal);
  --bg-color-highlight-1: #c865656f;
  --bg-color-highlight-2: #54b9476f;
  --bg-color-highlight-3: #1e83d086;
  --background-popover: var(--color-base-10);
  --cursor-red: #ff3939;
  --cursor-yellow: #fff955;
  --cursor-green: #7dff7d;
  --cursor-blue: #8ac7ff;
  --cursor-violet: #bf76ff;
  --bg-color-settings-0: #07070747;
  --bg-color-settings-0-1: #ffffff00;
  --bg-color-settings-1: #7c7c7c6d;
  --bg-color-settings-2: #1f1f1f52;
  --bg-color-settings-3: #141414be;
  --bg-color-settings-4: #2e2e2e9d;
  --bg-color-settings-5: #424242aa;
  --bg-color-settings-6: #191919c7;
  --background-waves-color: #4a75db8c;
  --tab-stacked-shadow: #0e0e0e;
  --divider-color: #000000;
  --tab-outline-color: #151515;
  --bg-color-notebook: #ffffff00;
  --grid-notebook-line-color-1: #c7c7c71f;
  --grid-notebook-line-color-2: #74747440;
  --dotted-notebook-dot-color: #c7c7c71f;
  --background-nonoverlapping-note: #000000;
  --stripe-notebook-stripe-color: #162419;
  --prompt-box-shadow: #555555;
  --background-titlebar-inner: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 10%);
  --window-shadow: 0 1px 3px hsla(207, 10%, 10%, 0.1);
  --window-shadow2: 0 0 9px hsla(212, 17%, 0%, 0.3);
  --bt-indentation-line-image: url("");
  --bt-connected-indent-line-color: #926a6a;
  --list-colorful-marker: #ff8686;
  --code-active-line-background-color: var(--activeline-background);
  --matrix-1: var(--p-kanban-color-2);
  --matrix-2: var(--p-kanban-color-3);
  --matrix-4: var(--p-kanban-color-5);
  --matrix-5: var(--p-kanban-color-6);
}
