:root[saved-theme="light"],
html[saved-theme="light"] {
  color-scheme: light;

  .callout {
    --callout-blend-mode: darken;
  }

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }

  --accent-l-alt: 49.5%;

  --background-modifier-box-shadow: #00000014;
  --background-modifier-cover: #dcdcdc66;

  --background-modifier-form-field-highlighted: #fff;

  --background-secondary-alt-bg-4-bt-publish: #f6f6f6;

  --background-titlebar-inner: #478fd11a;

  --blue-green: #3bd4da;

  --bt-indentation-line-image: url();

  --color-blue-rgb: 8, 109, 221;

  --color-cyan-rgb: 0, 191, 188;

  --color-green-rgb: 8, 185, 78;

  --color-orange-rgb: 236, 117, 0;

  --color-pink-rgb: 213, 57, 132;

  --color-purple-rgb: 120, 82, 238;

  --color-red-rgb: 233, 49, 71;

  --color-yellow-rgb: 224, 172, 0;

  --embed-color: #558ec309;

  --graph-circle-outline: transparent;

  --highlight-mix-blend-mode: darken;
  --input-shadow:
    inset 0 0 0 1px #0000001f, 0 2px 3px 0 #0000000d, 0 1px 1.5px 0 #00000008,
    0 1px 2px 0 #0000000a, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0 0 1px #0000002b, 0 2px 3px 0 #0000001a, 0 1px 1.5px 0 #00000008,
    0 1px 2px 0 #0000000a, 0 0 0 0 transparent;

  --interactive-accent-rgb: 70, 142, 235;

  --light-purple: #b74ff3;

  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;

  --p-kanban-border-color: #a0a0a060;

  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #00000007, 0px 3.4px 6.7px #0000000b, 0px 15px 30px #00000012;

  --table-color-rgb: 167, 223, 251;

  --text-highlight-bg: #ffd399d8;

  --theme-color-translucent-001: #478fd103;
  --theme-color-translucent-005: #478fd10d;
  --theme-color-translucent-01: #478fd11a;
  --theme-color-translucent-015: #478fd126;
  --theme-color-translucent-02: #478fd133;
  --theme-color-translucent-04: #478fd166;
  --theme-color-translucent-06: #478fd199;

  --window-shadow: 0 1px 3px #c3cbd533;
  --window-shadow2: 0 0 9px #cdd2dab3;

  --accent-l-alt: 49.5%;

  --background-modifier-box-shadow: #00000014;
  --background-modifier-cover: #dcdcdc66;

  --background-modifier-form-field-highlighted: #fff;

  --background-secondary-alt-bg-4-bt-publish: #f6f6f6;

  --background-titlebar-inner: #478fd11a;

  --blue-green: #3bd4da;

  --bt-indentation-line-image: url();

  --color-blue-rgb: 8, 109, 221;

  --color-cyan-rgb: 0, 191, 188;

  --color-green-rgb: 8, 185, 78;

  --color-orange-rgb: 236, 117, 0;

  --color-pink-rgb: 213, 57, 132;

  --color-purple-rgb: 120, 82, 238;

  --color-red-rgb: 233, 49, 71;

  --color-yellow-rgb: 224, 172, 0;

  --embed-color: #558ec309;

  --graph-circle-outline: transparent;

  --highlight-mix-blend-mode: darken;
  --input-shadow:
    inset 0 0 0 1px #0000001f, 0 2px 3px 0 #0000000d, 0 1px 1.5px 0 #00000008,
    0 1px 2px 0 #0000000a, 0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0 0 1px #0000002b, 0 2px 3px 0 #0000001a, 0 1px 1.5px 0 #00000008,
    0 1px 2px 0 #0000000a, 0 0 0 0 transparent;

  --interactive-accent-rgb: 70, 142, 235;

  --light-purple: #b74ff3;

  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;

  --p-kanban-border-color: #a0a0a060;

  --shadow-l:
    0px 1.8px 7.3px #00000012, 0px 6.3px 24.7px #0000001d,
    0px 30px 90px #00000033;
  --shadow-s:
    0px 1px 2px #00000007, 0px 3.4px 6.7px #0000000b, 0px 15px 30px #00000012;

  --table-color-rgb: 167, 223, 251;

  --text-highlight-bg: #ffd399d8;

  --theme-color-translucent-001: #478fd103;
  --theme-color-translucent-005: #478fd10d;
  --theme-color-translucent-01: #478fd11a;
  --theme-color-translucent-015: #478fd126;
  --theme-color-translucent-02: #478fd133;
  --theme-color-translucent-04: #478fd166;
  --theme-color-translucent-06: #478fd199;

  --window-shadow: 0 1px 3px #c3cbd533;
  --window-shadow2: 0 0 9px #cdd2dab3;
  --yellow: #e48100;
}
