bodys-always {
  --titlebar-height: 45px;
  --header-height: 46px;
}
bodys-always svg.logo-wireframe {
  stroke-width: 45;
}
body.is-frameless:not(.is-hidden-frameless) .app-container {
  margin-top: -9px;
  height: calc(100% + 9px);
}
bodys-always .sidebar-toggle-button,
bodys-always .workspace-tab-header-new-tab,
bodys-always .workspace-tab-header-tab-list,
bodys-always
  .mod-left-split
  .workspace-tabs
  .workspace-tab-header-container-inner,
bodys-always
  .mod-right-split
  .workspace-tabs
  .workspace-tab-header-container-inner {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
bodys-always .mod-left-split .workspace-tabs .workspace-tab-header,
bodys-always .mod-right-split .workspace-tabs .workspace-tab-header,
bodys-always .sidebar-toggle-button .clickable-icon,
bodys-always
  .workspace-tabs.mod-top
  .workspace-tab-header-container
  .clickable-icon {
  height: 34px;
  min-width: 34px;
  margin-top: auto;
  margin-bottom: auto;
}
bodys-always .sidebar-toggle-button.mod-left .clickable-icon svg {
  display: none;
}
bodys-always .sidebar-toggle-button.mod-left .clickable-icon::after {
  content: "";
  background-color: currentColor !important;
  -webkit-mask-image: var(--sidebar-show-symbolic);
  mask-image: var(--sidebar-show-symbolic);
  width: 16px;
  height: 16px;
  margin: auto;
}
bodys-always .sidebar-toggle-button.mod-right .clickable-icon svg {
  display: none;
}
bodys-always .sidebar-toggle-button.mod-right .clickable-icon::after {
  content: "";
  background-color: currentColor !important;
  -webkit-mask-image: var(--sidebar-show-right-symbolic);
  mask-image: var(--sidebar-show-right-symbolic);
  width: 16px;
  height: 16px;
  margin: auto;
}
bodys-always .workspace-tab-header-new-tab .clickable-icon svg {
  display: none;
}
bodys-always .workspace-tab-header-new-tab .clickable-icon::after {
  content: "";
  background-color: currentColor !important;
  -webkit-mask-image: var(--tab-new-symbolic);
  mask-image: var(--tab-new-symbolic);
  width: 16px;
  height: 16px;
  margin: auto;
}
bodys-always .workspace-tab-header-tab-list .clickable-icon svg {
  display: none;
}
bodys-always .workspace-tab-header-tab-list .clickable-icon::after {
  content: "";
  background-color: currentColor !important;
  -webkit-mask-image: var(--go-down-symbolic);
  mask-image: var(--go-down-symbolic);
  width: 16px;
  height: 16px;
  margin: auto;
}
bodys-always .workspace-tab-header-inner-close-button svg {
  display: none;
}
bodys-always .workspace-tab-header-inner-close-button::after {
  content: "";
  background-color: currentColor !important;
  -webkit-mask-image: var(--window-close-symbolic);
  mask-image: var(--window-close-symbolic);
  width: 16px;
  height: 16px;
  margin: auto;
}
bodys-always
  .workspace-tab-header[data-type="file-explorer"]
  .workspace-tab-header-inner-icon
  svg {
  display: none;
}
bodys-always
  .workspace-tab-header[data-type="file-explorer"]
  .workspace-tab-header-inner-icon::after {
  content: "";
  background-color: currentColor !important;
  -webkit-mask-image: var(--folder-visiting-symbolic);
  mask-image: var(--folder-visiting-symbolic);
  width: 16px;
  height: 16px;
  margin: auto;
}
bodys-always
  .workspace-tab-header[data-type="search"]
  .workspace-tab-header-inner-icon
  svg {
  display: none;
}
bodys-always
  .workspace-tab-header[data-type="search"]
  .workspace-tab-header-inner-icon::after {
  content: "";
  background-color: currentColor !important;
  -webkit-mask-image: var(--folder-saved-search-symbolic);
  mask-image: var(--folder-saved-search-symbolic);
  width: 16px;
  height: 16px;
  margin: auto;
}
