:root {
}

body {
  --header-size: 1.4rem;
  --h1-size: var(--header-size);
  --h2-size: 1.3rem;
  --h3-size: 1.2rem;
  --h4-size: 1.1rem;
  --h5-size: 1rem;
  --h6-size: 0.9rem;
  --font-ui-smaller: 11px;
  --font-ui-small: 12px;
  --font-ui-medium: 14px;
  --font-ui-large: 20px;
  --tab-radius-active: 1px;
  --tab-curve: 1px;
  --clickable-icon-radius: 0;
}
