.theme-spring.theme-light {
  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --accent-h: 81 !important;
  --accent-s: 68% !important;
  --accent-l: 58% !important;
  --color-base-00: #fdfff5;
  --color-base-05: #f4f8e2;
  --color-base-10: #e7eed4;
  --color-base-20: #e3efd2;
  --color-base-25: #ddeace;
  --color-base-30: rgb(186, 209, 177);
  --color-base-35: #a5c1a1;
  --color-base-40: #96c09f;
  --color-base-50: #8cb59b;
  --color-base-60: #82a196;
  --color-base-70: #608b76;
  --color-base-100: #467262;
}
