:root:root {
  --background-primary: #222222;
  --background-secondary: #333333;
  --background-third: #444444;
  --background-primary-alt: #000000;
  --background-secondary-alt: #000000;
  --accent-color-text: #ffff00;
  --accent-color-borders: #ffffff;
  --accent-color-text-inverted: #000000;
  --color-icon: #ffffff;
  --gray-color: #585858;
  --text-normal: #ffffff;
  --text-bold: #ff0000;
  --text-italics: #00ffff;
  --text-link: #00ff00;
  --text-highlight: #ffff00;
  --text-strikethrough: #ff00ff;
  --text-title-h1: #ff0000;
  --text-title-h2: #00ff00;
  --text-title-h3: #ffff00;
  --text-title-h4: #00ffff;
  --text-title-h5: #ffa500;
  --text-title-h6: #ff00aa;
  --pdf-title-h1: #810000;
  --pdf-title-h2: #008100;
  --pdf-title-h3: #1d00c0;
  --pdf-title-h4: #008181;
  --pdf-title-h5: #915e00;
  --pdf-title-h6: #6c00be;
}
