:root[saved-theme="dark"] {
  --color-base-00: #0f0a0b;
  --color-base-05: #262020;
  --color-base-10: #110b0c;
  --color-base-20: #110b0c;
  --color-base-25: #262020;
  --color-base-30: #262020;
  --color-base-35: #666c68;
  --color-base-40: #c8bcac;
  --color-base-50: #c8bcac;
  --color-base-60: #c8bcac;
  --color-base-70: #c8bcac;
  --color-base-100: #c8bcac;
  --interactive-normal: #393e50;
  --slider-track-background: #393e50;
  --icon-color: #e5dfd3;
  --icon-color-hover: #4f4d4a;
  --icon-color-focused: #4f4d4a;
  --code-background: none;
  --nav-item-color: #4f4d4a;
  --nav-item-color-active: #666c68;
  --nav-item-color-hover: #666c68;
  --nav-item-background-active: none;
  --nav-item-background-hover: none;
  --tag-background: transparent;
  --tag-background-hover: #393e50;
  --font-text: "manrope", sans-serif !important;
  --font-text-size: 14px !important;
  --text-accent: #c8bcac;

  code[data-theme*=" "] {
    --shiki-light: var(--shiki-dark) !important;
    --shiki-light-bg: var(--shiki-light-bg) !important;
    * {
      --shiki-light: var(--shiki-dark) !important;
      --shiki-light-bg: var(--shiki-light-bg) !important;
    }
  }
}
