:root[saved-theme="light"] {
  --color-base-00: #f5f4f4;
  --color-base-05: #d2c9bd;
  --color-base-10: #efeff1;
  --color-base-20: #efeff1;
  --color-base-25: #d2c9bd;
  --color-base-30: #d2c9bd;
  --color-base-35: #202430;
  --color-base-40: #202430;
  --color-base-50: #4e4d49;
  --color-base-60: #4b1b29;
  --color-base-70: #434b56;
  --color-base-100: #202430;
  --interactive-normal: #393e50;
  --slider-track-background: #393e50;
  --icon-color: #322831;
  --icon-color-hover: #41250c;
  --icon-color-focused: #6b9080;
  --code-background: none;
  --nav-item-color: #202430;
  --nav-item-color-active: #7f6c5e;
  --nav-item-color-hover: #666c68;
  --nav-item-background-active: none;
  --nav-item-background-hover: none;
  --tag-background: transparent;
  --tag-background-hover: #d2c9bd;
  --font-text: "manrope", sans-serif !important;
  --font-text-size: 14px !important;
  --text-accent: #4b1b29;

  code[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }
}
